Repository metal3-io/ironic-ipa-downloader: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: (\.md|markdownlint\.sh)$

Add github action to trigger container images build
  .github/workflows/build-images-action.yml
Due: none

switch markdownlint container to markdownlint-cli2
  .markdownlint-cli2.yaml
  hack/markdownlint.sh
Due: shellcheck, markdownlint

bump shellcheck to v0.10.0
  hack/shellcheck.sh
Due: shellcheck

add tags as triggers for image builds
  .github/workflows/build-images-action.yml
Due: none

Add slack notifiactions for image building failures
  .github/workflows/build-images-action.yml
Due: none

add OWNERS_ALIASES support
  OWNERS
  OWNERS_ALIASES
Due: none

shellcheck only files
  hack/shellcheck.sh
Due: shellcheck

Allow --insecure option to curl
  get-resource.sh
Due: shellcheck

Move Image build to GH runner
  .github/workflows/build-images-action.yml
Due: none

bump markdownlint-cli2 to v0.12.0
  hack/markdownlint.sh
Due: shellcheck, markdownlint

add missing DCO file to repo root
  DCO
Due: none

make IPA download target fully customizable
  get-resource.sh
Due: shellcheck

Fix script to handle IPA images of branches like 2024.1
  get-resource.sh
Due: shellcheck

Update OWNERS to match ironic-image
  OWNERS_ALIASES
Due: none

Change FILENAME to IPA_FILENAME
  README.md
  get-resource.sh
Due: shellcheck, markdownlint

add labels to dockerfile
  Dockerfile
Due: none

Improve file extension parsing with tar
  get-resource.sh
Due: shellcheck

Add architecture specific suffixes to symlinks
  README.md
  get-resource.sh
Due: shellcheck, markdownlint

Add yamllint workflow
  .github/workflows/yamllint.yaml
  .yamllint.yaml
Due: none

add image SBOM attestation to image builds
  .github/workflows/build-images-action.yml
Due: none

enable container signing
  .github/workflows/build-images-action.yml
Due: none

lint: allow long lines in tables and code fences
  .markdownlint-cli2.yaml
Due: none

add AGENTS.md
  .gitignore
  AGENTS.md
  CLAUDE.md
Due: markdownlint

add dependabot config
  .github/dependabot.yml
Due: none

suppress accepted zizmor findings
  .github/workflows/build-images-action.yml
  .github/workflows/pr-gh-workflow-approve.yaml
  .github/workflows/yamllint.yaml
Due: none

add zizmor scanner
  .github/dependabot.yml
  .github/workflows/zizmor.yml
Due: none

OWNERS: promote Adam and Tuomo, drop Derek
  OWNERS
  OWNERS_ALIASES
Due: none

Set cooldown days to 3 for dependabot
  .github/dependabot.yml
  .github/workflows/zizmor.yml
  .zizmor.yml
Due: none

Add image build workflow for PR
  .github/workflows/build-images-pr.yml
Due: none

Add shasum check to get-resources.sh
  get-resource.sh
Due: shellcheck

:bug: Use a consistent image directory name so restarts succeed
  get-resource.sh
Due: shellcheck
