Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, golint, govet, markdownlint, shellcheck, generate, unit, manifestlint

Path conditions:
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  golint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: \.md$
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$

Document Versioning in contributing guide
  CONTRIBUTING.md
  VERSIONING.md
Due: markdownlint

Support IP Reuse for BMHs using Preallocations
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  config/manager/manager.yaml
  main.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Improve logging in utils and minor fixes for comments
  baremetal/utils.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Improve handling of IPClaims with deletion timestamp
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  baremetal/suite_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Debug remediation
  Makefile
  test/e2e/remediation_based_feature_test.go
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Uplift Ubuntu to 22.04
  docs/api.md
  examples/generate.sh
  test/e2e/node_reuse_test.go
Due: gofmt, golint, govet, markdownlint, shellcheck, generate, unit, manifestlint

Uplift ubuntu to 22.04
  docs/api.md
  examples/generate.sh
  scripts/environment.sh
  test/e2e/node_reuse_test.go
Due: gofmt, golint, govet, markdownlint, shellcheck, generate, unit, manifestlint

Add Adil as reviewer
  OWNERS
Due: none

Move fmuyassarov to emeritus_approvers
  OWNERS
Due: none

sync OWNER file with main
  OWNERS
Due: none

Fix BMOBRANCH by sourcing lib/releases from devenv
  scripts/ci-e2e.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Add gomod script for prow test
  hack/gomod.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Update owners file to move inactive approvers/reviwers to emeritus
  OWNERS
Due: none

Add missing go.sum entries
  go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Note new release-1.2 branch e2e test triggers in readme
  README.md
Due: markdownlint

Add existing release-1.1 branch e2e test triggers in readme notes
  README.md
Due: markdownlint

Uplift CAPI gomodules v1.2.2
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Add gomod.sh script under hack folder
  hack/gomod.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Uplift CAPI to v1.1.6
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Uplift IPAM to latest v0.0.0-20220919134804-85c769255248 (v1.1.4)
  config/ipam/image_patch.yaml
  config/ipam/kustomization.yaml
  go.mod
  go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Fix bmo/apis and bmo/pkg/hardwareutils package imports
  go.mod
  go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Fix BMO in go modules to use release tag instead of commit
  go.mod
  go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Uplift IPAM to v1.2.0
  api/go.mod
  api/go.sum
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datatemplates.yaml
  config/ipam/image_patch.yaml
  config/ipam/kustomization.yaml
  go.mod
  go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Downgrade k8s modules to v0.24.2 to match CAPI 1.2
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Fix e2e waiting for status
  test/e2e/inspection_test.go
  test/e2e/pivoting_test.go
  test/e2e/remediation_test.go
  test/e2e/upgrade_management_cluster_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Fix dev-env template path
  docs/api.md
  scripts/ci-e2e.sh
Due: gofmt, golint, govet, markdownlint, shellcheck, generate, unit, manifestlint

fix Image validation requiring urls for checksum
  api/v1beta1/common_types.go
  api/v1beta1/metal3machine_types.go
  api/v1beta1/metal3machine_types_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

apply the same validation for m3m and m3mt
  api/v1beta1/common_types.go
  api/v1beta1/common_types_test.go
  api/v1beta1/metal3machine_types.go
  api/v1beta1/metal3machine_types_test.go
  api/v1beta1/metal3machine_webhook.go
  api/v1beta1/metal3machine_webhook_test.go
  api/v1beta1/metal3machinetemplate_webhook.go
  api/v1beta1/metal3machinetemplate_webhook_test.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machinetemplates.yaml
Due: gofmt, golint, govet, generate, unit, manifestlint

Bump dependencies in hack/tools to match CAPI 1.1 release branch
  hack/tools/go.mod
  hack/tools/go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Bump dependencies in hack/tools to match CAPI 1.2 release branch
  hack/tools/go.mod
  hack/tools/go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Update release process
  docs/releasing.md
  hack/tools/release/notes.go
Due: gofmt, golint, govet, markdownlint, generate, unit, manifestlint

Add CAPI v1.2 contract to e2e metadata file
  test/e2e/data/shared/v1beta1/metadata.yaml
Due: gofmt, golint, govet, generate, unit, manifestlint

Fetch proper CAPI relase when ginkgo_focus is set to upgrade in e2e tests
  scripts/ci-e2e.sh
  scripts/environment.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Update README with release-1.2 reference
  README.md
Due: markdownlint
