Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint

Path conditions:
  gofmt: (any of: \.go$) or (unless all of: (((^|/)OWNERS)|(\.md))$)
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  golint: (any of: \.go$) or (unless all of: (((^|/)OWNERS)|(\.md))$)
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$

update releasing docs
  docs/releasing.md
Due: markdownlint

checked for skipCleanup before running cleanup of test resources
  test/e2e/basic_ops_test.go
  test/e2e/external_inspection_test.go
  test/e2e/inspection_test.go
  test/e2e/live_iso_test.go
  test/e2e/provisioning_and_annotation_test.go
  test/e2e/re_inspection_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

encapsulate bmo upgrade test procedure into a separate spec to be called from upgrade_test
  test/e2e/bmo_upgrade.go
  test/e2e/upgrade_plan.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Remove redundant deploy instruction
  docs/configuration.md
  docs/deploying.md
Due: markdownlint

Update ironic basic-auth-tls overlay
  ironic-deployment/overlays/basic-auth_tls/kustomization.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

HostFirmwareComponents CRD and Controller
  PROJECT
  apis/metal3.io/v1alpha1/hostfirmwarecomponents_types.go
  apis/metal3.io/v1alpha1/hostfirmwarecomponents_types_test.go
  config/base/crds/bases/metal3.io_hostfirmwarecomponents.yaml
  config/base/crds/kustomization.yaml
  config/base/crds/patches/cainjection_in_hostfirmwarecomponents.yaml
  config/base/crds/patches/webhook_in_hostfirmwarecomponents.yaml
  config/base/rbac/hostfirmwarecomponents_editor_role.yaml
  config/base/rbac/hostfirmwarecomponents_viewer_role.yaml
  config/base/rbac/role.yaml
  config/render/capm3.yaml
  config/samples/metal3.io_v1alpha1_hostfirmwarecomponents.yaml
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/host_state_machine_test.go
  controllers/metal3.io/hostfirmwarecomponents_controller.go
  controllers/metal3.io/hostfirmwarecomponents_test.go
  main.go
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fixed linting error
  controllers/metal3.io/bmceventsubscription_controller_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Fix link in e2e readme
  test/e2e/README.md
Due: markdownlint

add workflow to approve actions on PR change
  .github/workflows/pr-gh-workflow-approve.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Make use of the new liveness/readiness probe scripts
  ironic-deployment/base/ironic.yaml
  ironic-deployment/components/tls/tls.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Bump golang.org/x/net to v0.23.0 and golang to v1.21.9
  Dockerfile
  Makefile
  apis/go.mod
  apis/go.sum
  go.mod
  go.sum
  hack/e2e/ensure_go.sh
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

E2E: Prepare for emulator based on protocol
  hack/ci-e2e.sh
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

E2E: Cleanup emulator variable
  hack/ci-e2e.sh
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

E2E: Run multiple BMO upgrade tests in sequence
  hack/ci-e2e.sh
  ironic-deployment/overlays/e2e-with-inspector/ironic-patch.yaml
  ironic-deployment/overlays/e2e-with-inspector/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-with-inspector/kustomization.yaml
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/e2e_config.go
  test/e2e/e2e_suite_test.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

Disable name suffix hash
  ironic-deployment/components/keepalived/kustomization.yaml
  ironic-deployment/default/kustomization.yaml
  tools/deploy.sh
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

DNM Testing
  main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add e2e ironic upgrades
  hack/ci-e2e.sh
  ironic-deployment/overlays/e2e-release-24.0-with-inspector/ironic-patch.yaml
  ironic-deployment/overlays/e2e-release-24.0-with-inspector/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-24.0-with-inspector/kustomization.yaml
  test/e2e/config/ironic.yaml
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

Fixes in HFC
  controllers/metal3.io/baremetalhost_controller.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Vendorize upstream sync
  vendor/github.com/metal3-io/baremetal-operator/apis/metal3.io/v1alpha1/hostfirmwarecomponents_types.go
  vendor/golang.org/x/net/html/token.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/pipe.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/testsync.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/sys/unix/aliases.go
  vendor/golang.org/x/sys/unix/syscall_darwin_libSystem.go
  vendor/golang.org/x/sys/unix/syscall_freebsd.go
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/golang.org/x/sys/unix/zsyscall_linux.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/modules.txt
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Update test trigger after migrating to prow
  README.md
Due: markdownlint

Update build status on release-0.3
  README.md
Due: markdownlint

Update build status for release-0.4
  README.md
Due: markdownlint

Temporary Change go.mod version
  go.mod
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

bump gophercloud/v2 to beta.3 + some commits to fix go.mod
  go.mod
  go.sum
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Fixing go mod mismatches.
  apis/go.mod
  apis/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

controller-runtime uplift v0.16.3-v0.16.5
  apis/go.mod
  apis/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Pinning ironic image release-24.1
  ironic-deployment/base/ironic.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

kustomize HostFirmwareComponents CRD
  config/base/kustomization.yaml
  config/crd/ocp/ocp_kustomization.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Fix mismatched versions between imported and cli ginkgo
  Makefile
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

Remove capm3_e2e dependency from bmo E2E
  test/e2e/basic_ops_test.go
  test/e2e/common.go
  test/e2e/live_iso_test.go
  test/e2e/provisioning_and_annotation_test.go
  test/e2e/re_inspection_test.go
  test/go.mod
  test/go.sum
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

remove variables specific to ironic from bmo env file
  config/default/ironic.env
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Remove redundant Provisioner from HostFirmwareSettings tests
  controllers/metal3.io/hostfirmwaresettings_test.go
  pkg/provisioner/fixture/fixture.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Mount ironic HTPASSWD as volume instead of environment variable
  ironic-deployment/components/basic-auth/auth.yaml
  ironic-deployment/overlays/basic-auth_tls/basic-auth_tls.yaml
  tools/deploy.sh
  tools/run_local_ironic.sh
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

Fix broken links to CI jobs in README
  README.md
Due: markdownlint

Add Slacks notification for GH actions
  .github/workflows/build-images-action.yml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint
