Repository metal3-io/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: check-prow-config, markdownlint, shellcheck, spellcheck

check-prow-config:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20210916-7657ce97bf
      args:
      - /checkconfig
      - --config-path
      - prow/config/config.yaml
      - --plugin-config
      - prow/config/plugins.yaml
      - --strict
      resources:
        requests:
          memory: 500Mi

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint-cli2:0.12.0@sha256:a3977fba9814f10d33a1d69ae607dc808e7a6470b2ba03e84c17193c0791aac0
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.10.0@sha256:5921d946dac740cbeec2fb1c898747b6105e585130cc7f0602eec9a10f7ddb63
  ...

spellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/spellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: ghcr.io/streetsidesoftware/cspell:8.13.3@sha256:03df0e485775a43531c9c0e829227f39b3380796e92faab4166137dc5712d40a
      imagePullPolicy: Always

Add kws for integration e2e with capi nightly builds
  prow/config/jobs/metal3-io/cluster-api-provider-metal3.yaml
Due: check-prow-config

Enable predictable interface names for node images
  jenkins/image_building/build-image.sh
  jenkins/jobs/pre_release_tests.pipeline
Due: check-prow-config, shellcheck

Install podman in basic-checks container
  prow/container-images/basic-checks/Dockerfile
Due: check-prow-config

Add OpenSUSE leap image to image building job
  jenkins/jobs/image_building.pipeline
Due: check-prow-config

Add reusable workflow for scheduled OSV scan
  .github/workflows/scheduled-osv-scan.yml
Due: check-prow-config

Build CentOS 10-stream node image
  jenkins/image_building/build-image.sh
Due: check-prow-config, shellcheck

Add prow job in BMO to generate CR documentation
  prow/config/jobs/metal3-io/baremetal-operator.yaml
  prow/container-images/basic-checks/Dockerfile
Due: check-prow-config

Add configuration for ironic-image release-32.0
  prow/config/jobs/metal3-io/ironic-image-release-32.0.yaml
  prow/config/plugins.yaml
Due: check-prow-config

Configure CI for IrSO release-0.6
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.6.yaml
  prow/config/plugins.yaml
Due: check-prow-config

Bumping k8s-prow images and test-infra images
  prow/Makefile
  prow/config/config.yaml
  prow/config/jobs/metal3-io/project-infra.yaml
  prow/config/jobs/periodics.yaml
  prow/manifests/base/crier.yaml
  prow/manifests/base/deck.yaml
  prow/manifests/base/ghproxy.yaml
  prow/manifests/base/hook.yaml
  prow/manifests/base/horologium.yaml
  prow/manifests/base/prow-controller-manager.yaml
  prow/manifests/base/sinker.yaml
  prow/manifests/base/statusreconciler.yaml
  prow/manifests/base/tide.yaml
  prow/manifests/overlays/metal3/external-plugins/cherrypicker_deployment.yaml
  prow/manifests/overlays/metal3/external-plugins/jenkins-operator.yaml
  prow/manifests/overlays/metal3/external-plugins/labels_cronjob.yaml
  prow/manifests/overlays/metal3/external-plugins/needs-rebase_deployment.yaml
Due: check-prow-config

Change scalability test timeout to 3 hours
  jenkins/jobs/capm3-e2e-tests.pipeline
Due: check-prow-config

Fix OpenSUSE image OS
  jenkins/jobs/image_building.pipeline
Due: check-prow-config

Add tool to compare built ipa and master ipa initramfs
  hack/ipa_debug_tools.sh
Due: check-prow-config, shellcheck

Allow downloading artifacts to allow pre-preparing directories for image-building
  .github/workflows/container-image-build.yml
Due: check-prow-config

Add k8s repo for yum in centos node image
  jenkins/image_building/dib_elements/centos-node/pre-install.d/55-setup-repos
Due: check-prow-config

Fixes kernel commandline rootfs label for suse
  jenkins/image_building/build-image.sh
  jenkins/image_building/dib_elements/leap-node/finalise.d/51-edit-grub-config
Due: check-prow-config, shellcheck

Fix image building action
  .github/workflows/container-image-build.yml
Due: check-prow-config

Prow: Upgrade k8s to v1.33.5
  prow/README.md
  prow/capo-cluster/infra-md.yaml
  prow/capo-cluster/kubeadmcontrolplane.yaml
  prow/capo-cluster/machinedeployment.yaml
  prow/capo-cluster/openstackmachinetemplates.yaml
  prow/cluster-resources/kustomization.yaml
Due: check-prow-config, markdownlint, spellcheck

Secure node images by removing root login and devuser element
  jenkins/image_building/README.md
  jenkins/image_building/build-image.sh
  jenkins/image_building/dib_elements/centos-node/README.md
  jenkins/image_building/dib_elements/centos-node/element-deps
  jenkins/image_building/dib_elements/centos-node/post-install.d/90-pre-pull-images
  jenkins/image_building/dib_elements/leap-node/README.md
  jenkins/image_building/dib_elements/leap-node/element-deps
  jenkins/image_building/dib_elements/ubuntu-node/README.md
  jenkins/image_building/dib_elements/ubuntu-node/element-deps
  jenkins/image_building/dib_elements/ubuntu-node/install.d/55-install
  jenkins/image_building/dib_elements/ubuntu-node/post-install.d/90-pre-pull-images
Due: check-prow-config, markdownlint, shellcheck, spellcheck

remove 1.8 from prow
  prow/config/jobs/metal3-io/baremetal-operator-release-0.8.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.8.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.8.yaml
  prow/config/jobs/metal3-io/ironic-image-release-26.0.yaml
Due: check-prow-config

Fix missing devuser variables
  jenkins/image_building/build-image.sh
Due: check-prow-config, shellcheck

CI image: Update java and fix centos virt-manager package name
  jenkins/image_building/dib_elements/ci-base/package-installs.yaml
  jenkins/image_building/dib_elements/ci-base/pkg-map
Due: check-prow-config

Add FKAS build to PR checks
  prow/config/jobs/metal3-io/cluster-api-provider-metal3.yaml
Due: check-prow-config

Fix kernel command line rootfs label for Leap CI
  jenkins/image_building/dib_elements/leap-ci/finalise.d/51-edit-grub-config
Due: check-prow-config

Uplift go 1.24.8 for PROW
  prow/container-images/basic-checks/Dockerfile
Due: check-prow-config

add periodic artifactory cache cleanup
  hack/clean_artifactory.sh
  prow/README.md
  prow/config/jobs/periodics.yaml
  prow/manifests/overlays/metal3/kustomization.yaml
Due: check-prow-config, markdownlint, shellcheck, spellcheck

Set USE_IRSO default true
  jenkins/scripts/dynamic_worker_workflow/dev_env_integration_tests.sh
Due: check-prow-config, shellcheck

Remove Ephemenral test instances
  jenkins/jobs/capm3-e2e-tests.pipeline
  jenkins/scripts/dynamic_worker_workflow/e2e_tests.sh
Due: check-prow-config, shellcheck

Update osv-scanner workflow to accept branch name
  .github/workflows/scheduled-osv-scan.yml
Due: check-prow-config

Revert https://github.com/metal3-io/project-infra/pull/1130 , lets use Jenkins workflow
  .github/workflows/scheduled-osv-scan.yml
Due: check-prow-config

Add quick-start test files (virtualized)
  .gitignore
  hack/quick-start-test/bmh-manifest-with-image.yaml
  hack/quick-start-test/bml-01.yaml
  hack/quick-start-test/bml-vm-01.yaml
  hack/quick-start-test/bmo/ironic-password
  hack/quick-start-test/bmo/ironic-username
  hack/quick-start-test/bmo/ironic.env
  hack/quick-start-test/bmo/kustomization.yaml
  hack/quick-start-test/cleanup.sh
  hack/quick-start-test/dnsmasq.env
  hack/quick-start-test/ironic/ironic-htpasswd
  hack/quick-start-test/ironic/ironic-patch.yaml
  hack/quick-start-test/ironic/ironic_bmo.env
  hack/quick-start-test/ironic/kustomization.yaml
  hack/quick-start-test/kind.yaml
  hack/quick-start-test/net.xml
  hack/quick-start-test/quick-start-test.sh
  hack/quick-start-test/setup-bootstrap.sh
  hack/quick-start-test/setup-dhcp-server.sh
  hack/quick-start-test/setup-image-server-dir.sh
  hack/quick-start-test/setup-virtual-lab.sh
  hack/quick-start-test/start-image-server.sh
  hack/quick-start-test/sushy-tools.conf
Due: check-prow-config, shellcheck

Rename EPHEMERAL to BOOTSTRAP
  jenkins/jobs/bml_integration_tests.pipeline
  jenkins/scripts/bare_metal_lab/bml_cleanup.sh
  jenkins/scripts/bare_metal_lab/bml_integration_test.sh
  jenkins/scripts/dynamic_worker_workflow/dev_env_integration_tests.sh
  jenkins/scripts/dynamic_worker_workflow/e2e_tests.sh
  jenkins/scripts/dynamic_worker_workflow/fetch_logs.sh
  jenkins/scripts/dynamic_worker_workflow/run_clean.sh
Due: check-prow-config, shellcheck

Change Centos10 image
  jenkins/image_building/build-image.sh
Due: check-prow-config, shellcheck

Install and configure buildkit in ubuntu ci image
  jenkins/image_building/dib_elements/ubuntu-ci/install.d/55-install
Due: check-prow-config

Remove config.bootoptions edit
  jenkins/image_building/dib_elements/leap-ci/finalise.d/51-edit-grub-config
  jenkins/image_building/dib_elements/leap-node/finalise.d/51-edit-grub-config
Due: check-prow-config

Remove 1.9 scalability tests
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.9.yaml
Due: check-prow-config

remove release-1-8 references
  prow/config/jobs/metal3-io/ironic-ipa-downloader.yaml
  prow/config/jobs/metal3-io/mariadb-image.yaml
  prow/config/jobs/metal3-io/metal3-dev-env.yaml
  prow/config/jobs/metal3-io/project-infra.yaml
Due: check-prow-config

add release-1-11 jobs to project infra tests
  prow/config/jobs/metal3-io/project-infra.yaml
Due: check-prow-config

remove release-1-8 from Jenkins README.md
  jenkins/README.md
Due: markdownlint, spellcheck

Path conditions:
  check-prow-config: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: any of: (\.md|markdownlint\.sh)$
  shellcheck: any of: ((\.sh)|^Makefile)$
  spellcheck: any of: (\.md|spellcheck\.sh|.cspell-config.json)$
