Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build

Path conditions:
  gomod: unless all of: (((^|/)OWNERS)|(\.md))$
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: \.md$
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$
  build: any of: ^api|^test|^Makefile$

Added pod security standards manifest file and tile workaround for capm3.
  Tiltfile
  config/default/capm3/namespace.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Remove CAPM3 release-1.1 from README
  README.md
Due: markdownlint

modify kubeadm scripts to re-enable IPAM integration in e2e
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/infrastructure-metal3/bases/centos-kubeadm-config/centos-kubeadm-config.yaml
  test/e2e/pivoting_based_feature_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Uplift ipam to v1.3.2
  api/go.mod
  api/go.sum
  config/ipam/image_patch.yaml
  config/ipam/kustomization.yaml
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

backport mariadb-image line to release note generator
  hack/tools/release/notes.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Add labels to kubernetes and clusterctl upgrade tests for GINKGO_FOCUS
  scripts/environment.sh
  test/e2e/upgrade_kubernetes_test.go
  test/e2e/upgrade_management_cluster_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

🌱 Add UT to HasFinalizer
  baremetal/metal3remediation_manager_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

make container registry for calico manifest configurable
  test/e2e/config/e2e_conf.yaml
  test/e2e/e2e_suite_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Document management upgrade tests
  README.md
Due: markdownlint

Fix metadata for e2e upgrade tests
  test/e2e/data/infrastructure-metal3/v1.2/metadata.yaml
  test/e2e/data/infrastructure-metal3/v1.3/metadata.yaml
  test/e2e/data/infrastructure-metal3/v1.4/metadata.yaml
  test/e2e/data/shared/v1.2/metadata.yaml
  test/e2e/data/shared/v1.3/metadata.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

fix crio - calico CNI config collision on centos
  test/e2e/data/infrastructure-metal3/bases/centos-kubeadm-config/centos-kubeadm-config.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

remove ipam pool reference defaulting to metal3
  api/v1beta1/metal3datatemplate_webhook.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Change the power control of bmh
  baremetal/metal3machine_manager.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Fix race condition when associating BMH to M3M
  baremetal/metal3machine_manager.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Add IP reuse e2e test
  Makefile
  scripts/ci-e2e.sh
  scripts/environment.sh
  test/e2e/common.go
  test/e2e/e2e_suite_test.go
  test/e2e/ip_reuse.go
  test/e2e/ip_reuse_test.go
  test/go.mod
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

E2e: Support running Ironic with MariaDB
  test/e2e/cert_rotation.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/pivoting.go
  test/e2e/upgrade_ironic.go
  test/e2e/upgrade_management_cluster_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

add features label for e2e feature tests for ginkgo focus
  test/e2e/live_iso_test.go
  test/e2e/pivoting_based_feature_test.go
  test/e2e/remediation_based_feature_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Refactor taint usage and flow controll in node_reuse e2e test
  test/e2e/node_reuse.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Refactor taint usage and flow controll in node_reuse e2e test
  test/e2e/config/e2e_conf.yaml
  test/e2e/node_reuse.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

set NUM_NODES to 5 for clusterctl upgrade tests
  scripts/environment.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

update kubeconform to v0.6.2
  hack/manifestlint.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

backport IPAM integration
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/infrastructure-metal3/bases/centos-kubeadm-config/centos-kubeadm-config.yaml
  test/e2e/pivoting_based_feature_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

backport fix for crio - calico CNI config collision on centos
  test/e2e/data/infrastructure-metal3/bases/centos-kubeadm-config/centos-kubeadm-config.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Add lentzi90 as an approver
  OWNERS
Due: none

backport making container registry for calico manifest configurable
  test/e2e/config/e2e_conf.yaml
  test/e2e/e2e_suite_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

bacport refactoring taint usage and flow controll in node_reuse e2e test
  test/e2e/config/e2e_conf.yaml
  test/e2e/node_reuse.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Increase machine deletion timeout during e2e tests
  test/e2e/config/e2e_conf.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Add Sunnat as reviewer
  OWNERS
Due: none

Add dependabot workflow
  .github/dependabot.yml
  .github/workflows/dependabot.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

backport "wait for ironic/bmo deployment becomes available"
  test/e2e/pivoting.go
  test/e2e/upgrade_management_cluster_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build
