Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  golint: any of: \.go$
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$

WIP commit
  test/vbmctl/main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Replace ironic deployment with IrSO in e2e
  hack/ci-e2e.sh
  test/e2e/common.go
  test/e2e/config/ironic.yaml
  test/e2e/data/ironic-standalone-operator/components/basic-auth/auth-patch.yaml
  test/e2e/data/ironic-standalone-operator/components/basic-auth/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/components/tls/certificate.yaml
  test/e2e/data/ironic-standalone-operator/components/tls/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/components/tls/tls.yaml
  test/e2e/data/ironic-standalone-operator/ironic/base/ironic.yaml
  test/e2e/data/ironic-standalone-operator/ironic/base/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-26.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-27.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-28.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-29.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/kustomization.yaml
  test/e2e/e2e_config.go
  test/e2e/e2e_suite_test.go
  test/e2e/upgrade_test.go
  test/go.mod
  test/go.sum
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

Introduce InspectionMode field
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/baremetalhost_types_test.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_controller_test.go
  internal/controller/metal3.io/host_state_machine.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation_test.go
  test/e2e/inspection_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Create a PreprovisioningImage for servicing if needed
  internal/controller/metal3.io/baremetalhost_controller.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Increase optional periodic test
  .github/workflows/e2e-test-optional-periodic.yml
Due: gosec, gomod, unit, generate, manifestlint

E2E: Change how upgrade tests are cleaned up
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Change architecture default to match controller
  internal/controller/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Adopt OSV scanner workflow from project-infra
  .github/workflows/osv-scanner-scan.yml
  .github/workflows/scheduled-osv-scan.yml
Due: gosec, gomod, unit, generate, manifestlint

Add e2e-prerequisites and ease running e2e locally
  Makefile
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Allow vbmctl to create VM with multiple network interfaces
  hack/clean-e2e.sh
  test/e2e/bmc.go
  test/vbmctl/main.go
  test/vbmctl/templates/VM.xml.tpl
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

Auto-generate API documentation from CRDs
  Makefile
  README.md
  docs/api-overview.md
  docs/api.md
  hack/gen-api-doc.sh
  hack/markdownlint.sh
Due: gosec, gomod, markdownlint, shellcheck, unit, generate, manifestlint, test

Add namespaced mode to BMO controller
  Tiltfile
  config/components/namespace-scoped/kustomization.yaml
  config/namespace/namespace.yaml
  config/overlays/e2e/automated-cleaning/kustomization.yaml
  config/overlays/e2e/automated-cleaning/namespace.yaml
  config/overlays/e2e/basic-ops/kustomization.yaml
  config/overlays/e2e/basic-ops/namespace.yaml
  config/overlays/e2e/external-inspection/kustomization.yaml
  config/overlays/e2e/external-inspection/namespace.yaml
  config/overlays/e2e/externally-provisioned/kustomization.yaml
  config/overlays/e2e/externally-provisioned/namespace.yaml
  config/overlays/e2e/inspection/kustomization.yaml
  config/overlays/e2e/inspection/namespace.yaml
  config/overlays/e2e/kustomization.yaml
  config/overlays/e2e/live-iso-ops/kustomization.yaml
  config/overlays/e2e/live-iso-ops/namespace.yaml
  config/overlays/e2e/namespaced-manager-patch.yaml
  config/overlays/e2e/provisioning-ops/kustomization.yaml
  config/overlays/e2e/provisioning-ops/namespace.yaml
  config/overlays/e2e/re-inspection/kustomization.yaml
  config/overlays/e2e/re-inspection/namespace.yaml
  config/overlays/e2e/roles-rolebindings/kustomization.yaml
  config/overlays/e2e/roles-rolebindings/roles-rolebindings.yaml
  docs/namespace-scoped-setup.md
  main.go
  test/e2e/automated_cleaning_test.go
  test/e2e/basic_ops_test.go
  test/e2e/common.go
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/external_inspection_test.go
  test/e2e/externally_provisioned_test.go
  test/e2e/inspection_test.go
  test/e2e/live_iso_test.go
  test/e2e/provisioning_and_annotation_test.go
  test/e2e/re_inspection_test.go
Due: gofmt, gosec, gomod, markdownlint, unit, generate, golint, manifestlint

remove osv-scanner from release branches
  .github/workflows/osv-scanner-scan.yml
Due: gosec, gomod, unit, generate, manifestlint

Replace ironic deployment with IrSO in e2e basic
  hack/ci-e2e.sh
  test/e2e/common.go
  test/e2e/config/bmcs-fixture.yaml
  test/e2e/config/bmcs-ipmi.yaml
  test/e2e/config/bmcs-redfish-virtualmedia.yaml
  test/e2e/config/bmcs-redfish.yaml
  test/e2e/config/ironic.yaml
  test/e2e/data/ironic-standalone-operator/components/basic-auth/auth-patch.yaml
  test/e2e/data/ironic-standalone-operator/components/basic-auth/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/components/tls/certificate.yaml
  test/e2e/data/ironic-standalone-operator/components/tls/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/components/tls/tls.yaml
  test/e2e/data/ironic-standalone-operator/ironic/base/ironic.yaml
  test/e2e/data/ironic-standalone-operator/ironic/base/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-27.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-28.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-29.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-30.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-31.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/kustomization.yaml
  test/e2e/e2e_config.go
  test/e2e/e2e_suite_test.go
  test/e2e/sushy-tools/sushy-emulator.conf
  test/go.mod
  test/go.sum
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

add specific time to dependabot config
  .github/dependabot.yml
Due: gosec, gomod, unit, generate, manifestlint

E2E: Drop periodic job for release-0.8
  .github/workflows/e2e-test-periodic-release-0.8.yml
Due: gosec, gomod, unit, generate, manifestlint

cmd: strip out symbol table & DWARF debugging info
  Dockerfile
  Makefile
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Fix hack/ci-e2e.sh script installations
  Makefile
  hack/ci-e2e.sh
  hack/e2e/ensure_docker.sh
  hack/e2e/ensure_go.sh
  hack/e2e/ensure_kubectl.sh
  hack/e2e/ensure_yq.sh
  test/e2e/README.md
Due: gosec, gomod, markdownlint, shellcheck, unit, generate, manifestlint, test

Update github-script version to v8.0.0
  .github/workflows/pr-gh-workflow-approve.yaml
Due: gosec, gomod, unit, generate, manifestlint

Dockerfile: strip out symbol table by default for public images
  Dockerfile
  Makefile
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Replace ironic deployment with IrSO in e2e basic
  config/overlays/e2e/ironic.env
  hack/ci-e2e.sh
  hack/e2e/net.xml
  test/e2e/common.go
  test/e2e/config/ironic.yaml
  test/e2e/data/ironic-standalone-operator/components/basic-auth/auth-patch.yaml
  test/e2e/data/ironic-standalone-operator/components/basic-auth/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/components/tls/certificate.yaml
  test/e2e/data/ironic-standalone-operator/components/tls/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/components/tls/tls.yaml
  test/e2e/data/ironic-standalone-operator/ironic/base/ironic.yaml
  test/e2e/data/ironic-standalone-operator/ironic/base/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/base/namespace.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-27.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-28.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-29.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-30.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-31.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/kustomization.yaml
  test/e2e/e2e_config.go
  test/e2e/e2e_suite_test.go
  test/go.mod
  test/go.sum
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

[PoC] Integrate with IrSO for getting Ironic details
  go.mod
  go.sum
  main.go
  pkg/provisioner/ironic/factory.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2E: Make use of DisableCertificateVerification setting
  test/e2e/automated_cleaning_test.go
  test/e2e/basic_ops_test.go
  test/e2e/external_inspection_test.go
  test/e2e/externally_provisioned_test.go
  test/e2e/inspection_test.go
  test/e2e/live_iso_test.go
  test/e2e/provisioning_and_annotation_test.go
  test/e2e/re_inspection_test.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Align BMP e2e optianal test to namespace scoped config
  config/overlays/e2e/kustomization.yaml
  config/overlays/e2e/namespaced-manager-patch.yaml
  config/overlays/e2e/upgrade-bmo/kustomization.yaml
  config/overlays/e2e/upgrade-bmo/namespace.yaml
  config/overlays/e2e/upgrade-ironic/kustomization.yaml
  config/overlays/e2e/upgrade-ironic/namespace.yaml
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Allow setting `force_persistent_boot_device: <value>` for deploy_interface=direct using env
  pkg/provisioner/ironic/factory.go
  pkg/provisioner/ironic/factory_test.go
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

VBMCTL: Avoid re-using the default storage pool
  hack/clean-e2e.sh
  test/e2e/sushy-tools/sushy-emulator.conf
  test/vbmctl/main.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

Do not use os.Exit outside of cmd
  main.go
  pkg/provisioner/ironic/factory.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Integrate with IrSO for getting Ironic details
  config/base/rbac/role.yaml
  config/render/capm3.yaml
  go.mod
  go.sum
  internal/controller/metal3.io/baremetalhost_controller.go
  main.go
  pkg/provisioner/ironic/factory.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add a configuration for deploying BMO with IrSO integration
  Makefile
  config/use-irso/ironic.env
  config/use-irso/kustomization.yaml
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Uplift go 1.24.8
  Dockerfile
  Makefile
  hack/e2e/ensure_go.sh
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation_test.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

:rocket: Release v0.11.1
  releasenotes/v0.11.1.md
Due: markdownlint

E2E: Bump IrSO version to v0.5.2
  config/base/certmanager/kustomization.yaml
  config/base/crds/kustomization.yaml
  config/base/kustomization.yaml
  config/base/prometheus/monitor.yaml
  config/base/rbac/kustomization.yaml
  config/base/webhook/kustomization.yaml
  config/components/tls/tls_ca_patch.yaml
  config/kustomization.yaml
  config/overlays/basic-auth_tls/kustomization.yaml
  ironic-deployment/components/basic-auth/kustomization.yaml
  ironic-deployment/overlays/e2e-local-ironic/kustomization.yaml
  ironic-deployment/overlays/e2e-release-26.0/ironic-patch.yaml
  ironic-deployment/overlays/e2e-release-27.0/ironic-patch.yaml
  ironic-deployment/overlays/e2e-release-28.0/ironic-patch.yaml
  ironic-deployment/overlays/e2e-release-29.0/ironic-patch.yaml
  ironic-deployment/overlays/e2e-release-30.0/ironic-patch.yaml
  ironic-deployment/overlays/e2e-release-31.0/ironic-patch.yaml
  ironic-deployment/overlays/e2e/ironic-patch.yaml
  ironic-deployment/overlays/with-ipxe-builder/ipxe-builder-patch.yaml
  test/e2e/data/ironic-standalone-operator/components/basic-auth/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/components/tls/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/base/ironic.yaml
  test/e2e/data/ironic-standalone-operator/ironic/base/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-27.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-28.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-29.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-30.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-31.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/kustomization.yaml
Due: gosec, gomod, unit, generate, manifestlint

:rocket: Release v0.10.4
  releasenotes/v0.10.4.md
Due: markdownlint

E2E: Use IrSO also in upgrade tests
  Makefile
  config/overlays/e2e-release-0.10/ironic.env
  config/overlays/e2e-release-0.11/ironic.env
  config/overlays/e2e-release-0.9/ironic.env
  hack/ci-e2e.sh
  ironic-deployment/overlays/e2e-release-26.0/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-26.0/kustomization.yaml
  ironic-deployment/overlays/e2e-release-27.0/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-27.0/kustomization.yaml
  ironic-deployment/overlays/e2e-release-28.0/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-28.0/kustomization.yaml
  ironic-deployment/overlays/e2e-release-29.0/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-29.0/kustomization.yaml
  ironic-deployment/overlays/e2e-release-30.0/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-30.0/kustomization.yaml
  ironic-deployment/overlays/e2e-release-31.0/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-31.0/kustomization.yaml
  ironic-deployment/overlays/e2e/kustomization.yaml
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

Add release manifests
  .github/workflows/e2e-fixture-test.yml
  .github/workflows/release.yaml
  .gitignore
  Makefile
  hack/ci-e2e.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test
