Repository metal3-io/hardware-classification-controller: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, govet, markdownlint, shellcheck, unit, manifestlint

Path conditions:
  gofmt: any of: \.go$
  govet: any of: \.go$
  markdownlint: any of: \.md$
  shellcheck: any of: ((\.sh)|(^Makefile))$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$

Modify OWNERS to keep the repository maintainable
  OWNERS
Due: none

Resovled gofmt testcase.
  api/v1alpha1/zz_generated.deepcopy.go
Due: gofmt, govet, unit, manifestlint

Fixing unti test case.
  hack/unit.sh
Due: shellcheck, unit, manifestlint

Resolving unit test case.
  hack/unit.sh
Due: shellcheck, unit, manifestlint

Fixing gofmt unit test case
  api/v1alpha1/zz_generated.deepcopy.go
Due: gofmt, govet, unit, manifestlint

add SECURITY_CONTACTS file
  SECURITY_CONTACTS
Due: unit, manifestlint

markdownlint: pin to 0.12.0
  hack/markdownlint.sh
Due: shellcheck, unit, manifestlint

shellcheck: pin to 0.9.0
  hack/shellcheck.sh
Due: shellcheck, unit, manifestlint

uplift client-go to 0.20.0
  go.mod
  go.sum
  hack/tools/go.mod
Due: unit, manifestlint

manifestlint: move from kubeval to kubeconform
  hack/manifestlint.sh
Due: shellcheck, unit, manifestlint
