Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/generate.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

golint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/golint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

test:
  decorate: true
  spec:
    containers:
    - args:
      - test
      command:
      - make
      image: quay.io/metal3-io/basic-checks:golang-1.24
      imagePullPolicy: Always

Add e2e test for automated cleaning
  test/e2e/README.md
  test/e2e/automated_cleaning_test.go
  test/e2e/common.go
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/provisioning_and_annotation_test.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, markdownlint, unit, generate, golint, manifestlint

Allow NIC Firmware Updates
  apis/metal3.io/v1alpha1/hostfirmwarecomponents_types.go
  apis/metal3.io/v1alpha1/hostfirmwarecomponents_types_test.go
  internal/controller/metal3.io/hostfirmwarecomponents_controller.go
  internal/controller/metal3.io/hostfirmwarecomponents_test.go
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

introduce preprovisioningKernelParams to BMH
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  internal/controller/metal3.io/baremetalhost_controller.go
  pkg/hardwareutils/bmc/access.go
  pkg/hardwareutils/bmc/access_test.go
  pkg/hardwareutils/bmc/idrac_virtualmedia.go
  pkg/hardwareutils/bmc/ilo4.go
  pkg/hardwareutils/bmc/ilo5.go
  pkg/hardwareutils/bmc/ipmi.go
  pkg/hardwareutils/bmc/irmc.go
  pkg/hardwareutils/bmc/redfish.go
  pkg/hardwareutils/bmc/redfish_https.go
  pkg/hardwareutils/bmc/redfish_virtualmedia.go
  pkg/provisioner/ironic/inspecthardware.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/prepare_test.go
  pkg/provisioner/ironic/provision_test.go
  pkg/provisioner/ironic/register.go
  pkg/provisioner/ironic/servicing.go
  pkg/provisioner/ironic/servicing_test.go
  pkg/provisioner/ironic/testbmc/testbmc.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add e2e test for automated cleaning
  test/e2e/README.md
  test/e2e/automated_cleaning_test.go
  test/e2e/common.go
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/live_iso_test.go
  test/e2e/provisioning_and_annotation_test.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, markdownlint, unit, generate, golint, manifestlint

Add IPv6 address check to run local
  tools/run_local_ironic.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

Allow vbmctl to create VM with multiple network interfaces
  hack/clean-e2e.sh
  test/e2e/bmc.go
  test/e2e/config/bmcs-fixture.yaml
  test/e2e/config/bmcs-ipmi.yaml
  test/e2e/config/bmcs-redfish-virtualmedia.yaml
  test/e2e/config/bmcs-redfish.yaml
  test/vbmctl/main.go
  test/vbmctl/templates/VM.xml.tpl
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

Separate metric service e2e
  test/e2e/e2e_suite_test.go
  test/e2e/metrics_service_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2E: Expose more BMC fields
  test/e2e/bmc.go
  test/e2e/config/bmcs-ipmi.yaml
  test/e2e/config/bmcs-redfish-virtualmedia.yaml
  test/e2e/config/bmcs-redfish.yaml
  test/e2e/provisioning_and_annotation_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Bump golang to v1.24.5
  Dockerfile
  Makefile
  hack/e2e/ensure_go.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

WIP: E2E: Set static IPs through user-data
  hack/e2e/net.xml
  test/e2e/common.go
  test/e2e/provisioning_and_annotation_test.go
  test/vbmctl/main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint, test

Add e2e test for automated cleaning
  .github/workflows/e2e-fixture-test.yml
  Makefile
  test/e2e/README.md
  test/e2e/automated_cleaning_test.go
  test/e2e/common.go
  test/e2e/provisioning_and_annotation_test.go
  test/e2e/upgrade_test.go
  test/go.mod
  test/go.sum
  test/vbmctl/main.go
  test/vbmctl/templates/VM.xml.tpl
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Add Alpha release in the release notes generator
  hack/tools/release/notes.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint, test

Add namespaced mode to BMO controller
  Makefile
  Tiltfile
  config/namespace/namespace.yaml
  config/overlays/namespaced/ironic.env
  config/overlays/namespaced/kustomization.yaml
  config/overlays/namespaced/namespaced-manager-patch.yaml
  config/overlays/namespaced/roles-ns-annotator.yaml
  docs/namespace-scoped-operator.md
  hack/ci-e2e.sh
  internal/controller/metal3.io/baremetalhost_controller.go
  main.go
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  tools/deploy.sh
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Bump osv-scanner to v2.1.0
  .github/workflows/osv-scanner-scan.yml
  hack/verify-release.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

update github runners to oci gh arc runners
  .github/workflows/e2e-test.yml
Due: gosec, gomod, unit, generate, manifestlint

switch to use new cncf oracle gh runners
  .github/workflows/e2e-test.yml
Due: gosec, gomod, unit, generate, manifestlint

WIP: E2E: Set static IPs through user-data
  hack/e2e/net.xml
  test/e2e/automated_cleaning_test.go
  test/e2e/common.go
  test/e2e/external_inspection_test.go
  test/e2e/live_iso_test.go
  test/e2e/provisioning_and_annotation_test.go
  test/e2e/re_inspection_test.go
  test/vbmctl/main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint, test

bump golang to 1.24.6
  Dockerfile
  Makefile
  hack/e2e/ensure_go.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Auto-generate API documentation from CRDs
  Makefile
  README.md
  docs/api-overview.md
  docs/api.md
  hack/ci-e2e.sh
  hack/gen-api-doc.sh
  hack/markdownlint.sh
Due: gosec, gomod, markdownlint, shellcheck, unit, generate, manifestlint, test

Bump OSV scanner action to fix SARIF upload issue
  .github/workflows/osv-scanner-scan.yml
  hack/verify-release.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Add continue-on-error and improve Slack notifications for osv-scanner
  .github/workflows/osv-scanner-scan.yml
Due: gosec, gomod, unit, generate, manifestlint

combine extra kernel params from different sources
  internal/controller/metal3.io/baremetalhost_controller.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/register_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

WIP: E2E: Set static IPs through user-data
  hack/e2e/net.xml
  test/e2e/automated_cleaning_test.go
  test/e2e/bmc.go
  test/e2e/common.go
  test/e2e/external_inspection_test.go
  test/e2e/live_iso_test.go
  test/e2e/provisioning_and_annotation_test.go
  test/e2e/re_inspection_test.go
  test/vbmctl/main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint, test

Allow setting `force_persistent_boot_device: <value>` for deploy_interface=direct using env
  pkg/provisioner/ironic/factory.go
  pkg/provisioner/ironic/factory_test.go
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

support extraPreProvKernelParams in deprovisioning
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/host_state_machine_test.go
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/provision_test.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fix osv-scanner's slack reporting
  .github/workflows/osv-scanner-scan.yml
Due: gosec, gomod, unit, generate, manifestlint

Revert "🌱 CI: update github runners to oci gh arc runners"
  .github/workflows/e2e-test.yml
Due: gosec, gomod, unit, generate, manifestlint

Revert "update github runners to oci gh arc runners"
  .github/workflows/e2e-test.yml
Due: gosec, gomod, unit, generate, manifestlint

E2E: Set static IPs through user-data
  hack/e2e/net.xml
  test/e2e/automated_cleaning_test.go
  test/e2e/bmc.go
  test/e2e/common.go
  test/e2e/external_inspection_test.go
  test/e2e/live_iso_test.go
  test/e2e/provisioning_and_annotation_test.go
  test/e2e/re_inspection_test.go
  test/vbmctl/main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint, test

Add namespaced mode to BMO controller
  Makefile
  Tiltfile
  config/namespace/namespace.yaml
  config/overlays/e2e/kustomization.yaml
  config/overlays/e2e/namespaced/automated-cleaning-resources.yaml
  config/overlays/e2e/namespaced/basic-ops-resources.yaml
  config/overlays/e2e/namespaced/external-inspection-resources.yaml
  config/overlays/e2e/namespaced/externally-provisioned-resources.yaml
  config/overlays/e2e/namespaced/inspection-resources.yaml
  config/overlays/e2e/namespaced/live-iso-ops-resources.yaml
  config/overlays/e2e/namespaced/namespaced-manager-patch.yaml
  config/overlays/e2e/namespaced/provisioning-ops-resources.yaml
  config/overlays/e2e/namespaced/re-inspection-resources.yaml
  config/overlays/namespaced/kustomization.yaml
  config/overlays/namespaced/namespaced-manager-patch.yaml
  config/overlays/namespaced/ns-bar.yaml
  config/overlays/namespaced/ns-foo.yaml
  config/overlays/namespaced/ns-quo.yaml
  docs/namespace-scoped-setup.md
  main.go
  test/e2e/automated_cleaning_test.go
  test/e2e/basic_ops_test.go
  test/e2e/common.go
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/external_inspection_test.go
  test/e2e/externally_provisioned_test.go
  test/e2e/inspection_test.go
  test/e2e/live_iso_test.go
  test/e2e/provisioning_and_annotation_test.go
  test/e2e/re_inspection_test.go
  tools/deploy.sh
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  golint: any of: \.go$
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$
