Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  golint: any of: \.go$
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$

Add release 0.12 test triggers to README
  README.md
Due: markdownlint

enabled containedctx
  .golangci.yaml
Due: gosec, gomod, unit, generate, manifestlint

Consolidate Metal3 Contributing guide in community repo
  CONTRIBUTING.md
Due: markdownlint

HostClaim custom resources
  PROJECT
  apis/metal3.io/v1alpha1/hostclaim_types.go
  apis/metal3.io/v1alpha1/hostdeploypolicy_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_hostclaims.yaml
  config/base/crds/bases/metal3.io_hostdeploypolicies.yaml
  config/base/crds/kustomization.yaml
  config/base/crds/patches/cainjection_in_hostclaims.yaml
  config/base/crds/patches/cainjection_in_hostdeploypolicies.yaml
  config/base/crds/patches/webhook_in_hostclaims.yaml
  config/base/crds/patches/webhook_in_hostdeploypolicies.yaml
  config/base/rbac/hostclaim_editor_role.yaml
  config/base/rbac/hostclaim_viewer_role.yaml
  config/base/rbac/hostdeploypolicy_editor_role.yaml
  config/base/rbac/hostdeploypolicy_viewer_role.yaml
  config/base/rbac/role.yaml
  config/overlays/e2e/roles-rolebindings/roles-rolebindings.yaml
  config/render/capm3.yaml
  config/samples/metal3.io_v1alpha1_hostclaim.yaml
  config/samples/metal3.io_v1alpha1_hostdeploypolicy.yaml
  internal/controller/metal3.io/hostclaim_controller.go
  main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add PCI Address field to HardwareData
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/base/crds/bases/metal3.io_hardwaredata.yaml
  config/render/capm3.yaml
  pkg/provisioner/ironic/hardwaredetails/hardwaredetails.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

✅ Add tests for per-host OCI registry authentication
  internal/controller/metal3.io/image_auth_validator_test.go
  pkg/secretutils/dockerconfig_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

✨ Add per-host OCI registry authentication for provisioning images
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  go.mod
  go.sum
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/image_auth_validator.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
  pkg/secretutils/dockerconfig.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Document authSecretName field for OCI image authentication
  docs/api.md
Due: markdownlint

fixup: Address Copilot review comments
  internal/controller/metal3.io/image_auth_validator_test.go
  pkg/secretutils/dockerconfig.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Adds overlays for release v0.12
  config/overlays/e2e-release-0.12/ironic.env
  config/overlays/e2e-release-0.12/kustomization.yaml
  config/overlays/fixture-release-0.12/kustomization.yaml
  hack/ci-e2e.sh
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-32.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-33.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/kustomization.yaml
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Log when cannot detach immediately
  internal/controller/metal3.io/host_state_machine.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

explicitly add x86_64 as arch for upgrade test
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

DNM CI test
  README.md
Due: markdownlint

🌱 Support building multi-arch container images
  Dockerfile
  Makefile
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Address review: limit ALL_ARCH to amd64/arm64
  Makefile
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Removed the multi-arch push targets
  Makefile
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

🌱 Support building multi-arch container images for amd64
  Dockerfile
  Makefile
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

test commit
  test/e2e/config/ironic.yaml
  test/e2e/data/ironic-standalone-operator/operator/irso-v0.5/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/irso-v0.7/kustomization.yaml
  test/e2e/e2e_config.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2E: Ensure CRDs when upgrade tests fail
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Addressed review comment
  Makefile
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Bump golang version to 1.24.12
  Dockerfile
  Makefile
  hack/e2e/ensure_go.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

E2E: Add pod and deployment descriptions
  test/e2e/common.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2E: Cleanup old hardwaredata
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2E: Only override ironic image tags for e2e overlay
  test/e2e/data/ironic-standalone-operator/ironic/base/ironic.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e/ironic.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e/kustomization.yaml
Due: gosec, gomod, unit, generate, manifestlint

E2E: Use per-test cluster for upgrades
  test/e2e/common.go
  test/e2e/config/ironic.yaml
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2E: Serial logs per test
  test/e2e/common.go
  test/e2e/e2e_suite_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2E: Avoid BMO < 0.11 and Ironic > 30 together
  test/e2e/config/ironic.yaml
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add workflow to build and verify amd64 container image for PRs
  .github/workflows/build-pr.yml
Due: gosec, gomod, unit, generate, manifestlint

:rocket: Release v0.12.1
  releasenotes/v0.12.1.md
Due: markdownlint

:rocket: Release v0.11.4
  releasenotes/v0.11.4.md
Due: markdownlint

Fix lint error
  .github/workflows/build-pr.yml
Due: gosec, gomod, unit, generate, manifestlint

feat: add helm chart for baremetal-operator
  .gitignore
  charts/baremetal-operator/.helmignore
  charts/baremetal-operator/Chart.yaml
  charts/baremetal-operator/templates/_helpers.tpl
  charts/baremetal-operator/templates/cert-manager/certificate.yaml
  charts/baremetal-operator/templates/cert-manager/issuer.yaml
  charts/baremetal-operator/templates/crd/metal3.io_baremetalhosts.yaml
  charts/baremetal-operator/templates/crd/metal3.io_bmceventsubscriptions.yaml
  charts/baremetal-operator/templates/crd/metal3.io_dataimages.yaml
  charts/baremetal-operator/templates/crd/metal3.io_firmwareschemas.yaml
  charts/baremetal-operator/templates/crd/metal3.io_hardwaredata.yaml
  charts/baremetal-operator/templates/crd/metal3.io_hostfirmwarecomponents.yaml
  charts/baremetal-operator/templates/crd/metal3.io_hostfirmwaresettings.yaml
  charts/baremetal-operator/templates/crd/metal3.io_hostupdatepolicies.yaml
  charts/baremetal-operator/templates/crd/metal3.io_preprovisioningimages.yaml
  charts/baremetal-operator/templates/deployment.yaml
  charts/baremetal-operator/templates/hpa.yaml
  charts/baremetal-operator/templates/rbac/leader_election_role.yaml
  charts/baremetal-operator/templates/rbac/leader_election_role_binding.yaml
  charts/baremetal-operator/templates/rbac/metrics_auth_role.yaml
  charts/baremetal-operator/templates/rbac/metrics_auth_role_binding.yaml
  charts/baremetal-operator/templates/rbac/metrics_reader_role.yaml
  charts/baremetal-operator/templates/rbac/role.yaml
  charts/baremetal-operator/templates/rbac/role_binding.yaml
  charts/baremetal-operator/templates/rbac/serviceaccount.yaml
  charts/baremetal-operator/templates/service-metrics.yaml
  charts/baremetal-operator/templates/service-monitor.yaml
  charts/baremetal-operator/templates/service-webhook.yaml
  charts/baremetal-operator/templates/validating-webhook-configuration.yaml
  charts/baremetal-operator/values.yaml
Due: gosec, gomod, unit, generate, manifestlint
