Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  golint: any of: \.go$
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$

directly skip to Deleting state for externallyProvisioned host when detached annotation is present
  internal/controller/metal3.io/host_state_machine.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add namespaced mode to BMO controller
  Makefile
  config/namespace/namespace.yaml
  config/overlays/namespaced/kustomization.yaml
  config/overlays/namespaced/namespaced-manager-patch.yaml
  config/overlays/namespaced/roles-ns-annotator.yaml
  config/render/capm3.yaml
  docs/namespace-scoped-operator.md
  hack/ci-e2e.sh
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/bmceventsubscription_controller.go
  internal/controller/metal3.io/dataimage_controller.go
  internal/controller/metal3.io/hostfirmwarecomponents_controller.go
  internal/controller/metal3.io/hostfirmwaresettings_controller.go
  internal/controller/metal3.io/preprovisioningimage_controller.go
  main.go
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  tools/deploy.sh
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

chore: migrate configuration to golangci-lint v2
  .github/workflows/golangci-lint.yml
  .github/workflows/unit.yml
  .golangci.yaml
Due: gosec, gomod, unit, generate, manifestlint

chore: lint
  apis/metal3.io/v1alpha1/hostfirmwarecomponents_types_test.go
  cmd/get-hardware-details/main.go
  cmd/make-bm-worker/main.go
  cmd/make-virt-host/main.go
  hack/tools/release/notes.go
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/hostfirmwarecomponents_test.go
  internal/controller/metal3.io/hostfirmwaresettings_test.go
  pkg/provisioner/ironic/power_test.go
  pkg/provisioner/ironic/register_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint, test

chore: unindent arrays
  .golangci.yaml
Due: gosec, gomod, unit, generate, manifestlint

chore: update golangci-lint version inside Makefile
  Makefile
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Enable variable shadowing check in govet linter
  .golangci.yaml
  hack/tools/deploy-cli/deploy-cli.go
  hack/tools/deploy-cli/main.go
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/dataimage_controller.go
  internal/controller/metal3.io/preprovisioningimage_controller.go
  main.go
  pkg/provisioner/ironic/clients/auth.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/testserver/server.go
  test/e2e/e2e_suite_test.go
  test/e2e/provisioning_and_annotation_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint, test

detach dataImage before deprovisioning the host
  internal/controller/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add validation to e2e ugrade config
  test/e2e/e2e_config.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

chore: migrate configuration to golangci-lint v2
  .github/workflows/golangci-lint.yml
  .github/workflows/unit.yml
  .golangci.yaml
  Makefile
  apis/metal3.io/v1alpha1/hostfirmwarecomponents_types_test.go
  cmd/get-hardware-details/main.go
  cmd/make-bm-worker/main.go
  cmd/make-virt-host/main.go
  hack/tools/release/notes.go
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/hostfirmwarecomponents_test.go
  internal/controller/metal3.io/hostfirmwaresettings_test.go
  pkg/provisioner/ironic/ironic_test.go
  pkg/provisioner/ironic/power_test.go
  pkg/provisioner/ironic/register_test.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

DNM: Check if CI issue is coming from Ironic
  ironic-deployment/overlays/e2e/kustomization.yaml
Due: gosec, gomod, unit, generate, manifestlint

Test ironic with old wsgi
  ironic-deployment/overlays/e2e/kustomization.yaml
Due: gosec, gomod, unit, generate, manifestlint

e2e: wait for detachment to actually happen
  test/e2e/common.go
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/provisioning_and_annotation_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Refactor setting various Ironic properties
  internal/controller/metal3.io/baremetalhost_controller.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/provision_test.go
  pkg/provisioner/ironic/register.go
  pkg/provisioner/ironic/register_test.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

don't wait for dataImage detachment when the host is detached and requested for deletion
  internal/controller/metal3.io/dataimage_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add unit test for deleting externallyProvisioned host in detached state
  internal/controller/metal3.io/host_state_machine_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2E: Expose rootDeviceHints in config
  test/e2e/bmc.go
  test/e2e/config/bmcs-ipmi.yaml
  test/e2e/config/bmcs-redfish-virtualmedia.yaml
  test/e2e/config/bmcs-redfish.yaml
  test/e2e/provisioning_and_annotation_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Allow configuring different IPA images per architecture
  internal/controller/metal3.io/baremetalhost_controller.go
  pkg/imageprovider/imageprovider.go
  pkg/provisioner/ironic/factory.go
  pkg/provisioner/ironic/factory_test.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/ironic_test.go
  pkg/provisioner/ironic/register_test.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

update docs/releasing.md on dependabot configs
  docs/releasing.md
Due: markdownlint

when host is detached and its deletion is requested, don't wait for dataImage detachement, skip to Deleting state for externallyProvisioned host, add unit tests
  internal/controller/metal3.io/dataimage_controller.go
  internal/controller/metal3.io/host_state_machine.go
  internal/controller/metal3.io/host_state_machine_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

bump controller-runtime from v0.20.4 to v0.21.0
  apis/go.mod
  apis/go.sum
  go.mod
  go.sum
Due: gosec, gomod, unit, generate, manifestlint

bump 6 k8s libraries and controller-runtime
  apis/go.mod
  apis/go.sum
  go.mod
  go.sum
Due: gosec, gomod, unit, generate, manifestlint

🌱Enable perfsprint linter in golangci-lint
  .golangci.yaml
  apis/metal3.io/v1alpha1/firmwareschema_types.go
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/errors.go
  internal/controller/metal3.io/hostfirmwaresettings_controller.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation.go
  internal/webhooks/metal3.io/v1alpha1/bmceventsubscription_webhook.go
  main.go
  pkg/hardwareutils/bmc/errors.go
  pkg/imageprovider/invalid.go
  pkg/provisioner/ironic/clients/auth.go
  pkg/provisioner/ironic/clients/updateopts_test.go
  pkg/provisioner/ironic/devicehints/devicehints.go
  pkg/provisioner/ironic/factory.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/testserver/ironic.go
  pkg/provisioner/ironic/testserver/server.go
  pkg/version/version.go
  test/e2e/e2e_config.go
  test/e2e/e2e_suite_test.go
  test/e2e/live_iso_test.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

bump k8s.io/utils library
  go.mod
  go.sum
Due: gosec, gomod, unit, generate, manifestlint

Move configureImage to register.go, provide documentation
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/register.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

:rocket: Release v0.11.0-alpha.0
  releasenotes/v0.11.0-alpha.0.md
Due: markdownlint

Provide an error when required checksum is missing
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/baremetalhost_types_test.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/provision.go
  pkg/provisioner/ironic/provision_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Validate checksums at the webhook level
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Leave a TODO about OCI images
  apis/metal3.io/v1alpha1/baremetalhost_types.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Stop requiring DEPLOY_KERNEL/RAMDISK
  pkg/provisioner/ironic/factory.go
  pkg/provisioner/ironic/factory_test.go
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Remove DEPLOY_KERNEL_URL from deployment scripts for main
  config/default/ironic.env
  config/overlays/e2e/ironic.env
  config/render/capm3.yaml
Due: gosec, gomod, unit, generate, manifestlint

Provide inline docs for node configuration calls
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

🐛 Enable removal of ExternallyProvisioned attribute from BareMetalHosts
  internal/controller/metal3.io/host_state_machine.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation_test.go
  test/e2e/externally_provisioned_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Allow NIC Firmware Updates
  apis/metal3.io/v1alpha1/hostfirmwarecomponents_types.go
  apis/metal3.io/v1alpha1/hostfirmwarecomponents_types_test.go
  internal/controller/metal3.io/hostfirmwarecomponents_controller.go
  internal/controller/metal3.io/hostfirmwarecomponents_test.go
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint
