Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, golint, govet, markdownlint, shellcheck, generate, unit, manifestlint

Path conditions:
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  golint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: \.md$
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$

Remove test suffix from pivoting function file
  test/e2e/pivoting.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Add namespace field to HostSelector
  api/v1beta1/common_types.go
  api/v1beta1/metal3machine_types.go
  baremetal/metal3machine_manager.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machinetemplates.yaml
  docs/api.md
Due: gofmt, golint, govet, markdownlint, generate, unit, manifestlint

Update newConfig in tests to support namespace argument
  baremetal/metal3machine_manager_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Add new test case with namespaceSelector
  baremetal/metal3machine_manager_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Add Namespace support also for v1alpha5 types
  api/v1alpha5/common_types.go
  api/v1alpha5/metal3machine_types.go
  api/v1alpha5/zz_generated.conversion.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machinetemplates.yaml
Due: gofmt, golint, govet, generate, unit, manifestlint

Grammar
  baremetal/metal3machine_manager_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Uplift CAPI to v1.3.0
  README.md
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: gofmt, golint, govet, markdownlint, generate, unit, manifestlint

hack: download latest CAPI for tilt
  hack/gen_tilt_settings.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Fix markdonlint issues
  CONTRIBUTING.md
  docs/disk_cleaning.md
  docs/ip_reuse.md
  docs/releasing.md
Due: markdownlint

Uplift ginkgo to v2.5.1
  go.mod
  go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Ginkgo v2: Use --show-node-events parameter instead of --progress
  Makefile
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Add release 1.3 branch/release related changes
  Makefile
  README.md
Due: gofmt, golint, govet, markdownlint, shellcheck, generate, unit, manifestlint

hack: use mdl 0.12.0
  hack/markdownlint.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Uplift BMO and IPAM in go modules and config/
  config/ipam/image_patch.yaml
  config/ipam/kustomization.yaml
  go.mod
  go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Remove skipping e2e upgrade test workaround
  Makefile
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Create module for test; expose shared methods as exported methods
  Dockerfile
  Makefile
  docs/releasing.md
  go.mod
  hack/tools/go.mod
  hack/tools/go.sum
  test/README.md
  test/e2e/common.go
  test/e2e/e2e_suite_test.go
  test/e2e/inspection.go
  test/e2e/live_iso_test.go
  test/e2e/metal3remediation.go
  test/e2e/node_reuse.go
  test/e2e/pivoting.go
  test/e2e/pivoting_based_feature_test.go
  test/e2e/remediation.go
  test/e2e/remediation_based_feature_test.go
  test/e2e/upgrade_baremetal_operator.go
  test/e2e/upgrade_ironic.go
  test/e2e/upgrade_management_cluster_test.go
  test/go.mod
  test/go.sum
Due: gofmt, golint, govet, markdownlint, shellcheck, generate, unit, manifestlint

Update docs/releasing.md
  docs/releasing.md
Due: markdownlint

Change bmo deployment in e2e to using getopts
  test/e2e/pivoting.go
Due: gofmt, golint, govet, generate, unit, manifestlint

shellcheck: pin to 0.9.0
  hack/shellcheck.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Fake for testing
  CONTRIBUTING.md
Due: markdownlint

Bump CAPI to v1.3.1
  README.md
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gofmt, golint, govet, markdownlint, generate, unit, manifestlint

Add basic logging after e2e tests
  controllers/metal3cluster_controller_integration_test.go
  controllers/metal3cluster_controller_test.go
  test/e2e/common.go
  test/e2e/pivoting_based_feature_test.go
  test/e2e/remediation_based_feature_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

uplift x/net to 0.4.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

uplift x/net to 0.4.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Bump CAPI to v1.2.8
  README.md
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: gofmt, golint, govet, markdownlint, generate, unit, manifestlint

Fix markdonlint issues
  CONTRIBUTING.md
  docs/disk_cleaning.md
  docs/releasing.md
Due: markdownlint

Bump upgraded k8s version to v1.24.9
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Add default Metal3DataTemplate to example
  examples/clusterctl-templates/clusterctl-cluster.yaml
Due: gofmt, golint, govet, generate, unit, manifestlint

🌱 Add Kubernetes upgrade test to e2e upgrade
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/node_reuse.go
  test/e2e/upgrade_kubernetes_test.go
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Bump k8s to v1.26.0
  docs/api.md
  docs/architecture.md
  docs/dev-setup.md
  examples/generate.sh
  hack/gen_tilt_settings.sh
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
Due: gofmt, golint, govet, markdownlint, shellcheck, generate, unit, manifestlint

manifestlint: move from kubeval to kubeconform
  hack/manifestlint.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Add ci provision and deprovision test to e2e
  Makefile
  scripts/environment.sh
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/integration.go
  test/e2e/integration_test.go
  test/e2e/pivoting.go
  test/e2e/pivoting_based_feature_test.go
  test/e2e/remediation_based_feature_test.go
  test/e2e/upgrade_kubernetes_test.go
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

.github: secure github actions
  .github/workflows/kubesec.yml
  .github/workflows/lint-docs.yaml
  .github/workflows/release.yaml
Due: gofmt, golint, govet, generate, unit, manifestlint

Run linters, fmt and vet on the test folder
  Makefile
  hack/gofmt.sh
  test/e2e/e2e_suite_test.go
  test/e2e/integration.go
  test/e2e/integration_test.go
  test/e2e/live_iso_test.go
  test/e2e/pivoting.go
  test/e2e/pivoting_based_feature_test.go
  test/e2e/upgrade_kubernetes_test.go
  test/e2e/upgrade_management_cluster_test.go
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Uplift CAPI to https://github.com/kubernetes-sigs/cluster-api/releases/tag/v1.3.2
  README.md
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gofmt, golint, govet, markdownlint, generate, unit, manifestlint

Uplift CAPI to https://github.com/kubernetes-sigs/cluster-api/releases/tag/v1.3.2 in release-1.3 branch
  README.md
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gofmt, golint, govet, markdownlint, generate, unit, manifestlint
