Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Path conditions:
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  unit: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  build: (any of: ^api|^test|^Makefile$) or (any of: ^api|^test|^Makefile$|^hack/build.sh$)
  test: any of: ^(Makefile|hack/.*)$
  build-fkas: any of: ^hack/fake-apiserver|^api|^Makefile$|^hack/build.sh$

bump osv-scanner to v2.3.3
  hack/verify-release.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, test

bump golangci-lint to v2.1.6
  .github/workflows/golangci-lint.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Add KUBERNETES_VERSION_UPGRADE_FROM in scalability test
  scripts/environment.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

harden github actions workflows
  .github/workflows/build-fkas-images-action.yml
  .github/workflows/build-images-action.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/pr-gh-workflow-approve.yaml
  .github/workflows/pr-link-check.yml
  .github/workflows/pr-verifier.yaml
  .github/workflows/release.yaml
  .github/workflows/scheduled-link-check.yml
  .github/workflows/yamllint.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Enable Kube-API-linter
  .github/workflows/kube-api-lint.yml
  .golangci-kal.yaml
  Makefile
  hack/tools/.custom-gcl.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

🌱 Document CAPM3 pod placement and add optional affinity example
  docs/getting-started.md
  examples/provider-components/manager_node_affinity_patch.yaml
  examples/provider-components/manager_tolerations_patch.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint

fix fkas build permissions for image signing
  .github/workflows/build-fkas-images-action.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Enable commentstart for Kube-api-linter
  .golangci-kal.yaml
  api/v1beta2/common_types.go
  api/v1beta2/groupversion_info.go
  api/v1beta2/metal3cluster_types.go
  api/v1beta2/metal3clustertemplate_types.go
  api/v1beta2/metal3data_types.go
  api/v1beta2/metal3dataclaim_types.go
  api/v1beta2/metal3datatemplate_types.go
  api/v1beta2/metal3machine_types.go
  api/v1beta2/metal3machinetemplate_types.go
  api/v1beta2/metal3remediation_types.go
  api/v1beta2/metal3remediationtemplate_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3clusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3clustertemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3dataclaims.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datas.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datatemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3remediations.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3remediationtemplates.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

:seedling: Bump github.com/cloudflare/circl to v1.6.3
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Allow disable_power_off together with autoclean
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Fix make generate-go-conversions
  Makefile
  api/v1beta1/conversion.go
  api/v1beta1/zz_generated.conversion.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

🌱 Bump github.com/cloudflare/circl to v1.6.3
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Add FromBootMAC field to MetaDataHostInterface
  api/v1beta1/metal3datatemplate_types.go
  api/v1beta2/metal3datatemplate_types.go
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datatemplates.yaml
  internal/webhooks/v1beta2/metal3datatemplate_webhook.go
  internal/webhooks/v1beta2/metal3datatemplate_webhook_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

Fix FromBootMAC conversion and improve error context
  api/v1beta1/conversion.go
  api/v1beta1/zz_generated.conversion.go
  api/v1beta2/metal3datatemplate_types.go
  baremetal/metal3data_manager.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datatemplates.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

Enable nodurations for Kube-api-linter
  .golangci-kal.yaml
  api/v1beta1/conversion.go
  api/v1beta1/conversion_test.go
  api/v1beta1/zz_generated.conversion.go
  api/v1beta2/metal3remediation_types.go
  api/v1beta2/zz_generated.deepcopy.go
  baremetal/metal3remediation_manager.go
  baremetal/metal3remediation_manager_test.go
  baremetal/mocks/zz_generated.metal3remediation_manager.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3remediations.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3remediationtemplates.yaml
  controllers/metal3remediation_controller.go
  controllers/metal3remediation_controller_test.go
  internal/webhooks/v1beta2/metal3remediation_webhook.go
  internal/webhooks/v1beta2/metal3remediation_webhook_test.go
  internal/webhooks/v1beta2/metal3remediationtemplate_webhook.go
  internal/webhooks/v1beta2/metal3remediationtemplate_webhook_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

Rename KUBERNETES_VERSION_FROM to KUBERNETES_VERSION_UPGRADE_FROM
  docs/e2e-test.md
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/ip_reuse.go
  test/e2e/ip_reuse_test.go
  test/e2e/node_reuse.go
  test/e2e/pivoting_based_feature_test.go
  test/e2e/remediation_based_feature_test.go
  test/e2e/upgrade_kubernetes_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build

Enable nomaps for Kube-api-linter
  .golangci-kal.yaml
  api/v1beta1/conversion.go
  api/v1beta1/zz_generated.conversion.go
  api/v1beta2/metal3datatemplate_types.go
  api/v1beta2/zz_generated.deepcopy.go
  baremetal/metal3data_manager.go
  baremetal/metal3datatemplate_manager.go
  baremetal/metal3datatemplate_manager_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datatemplates.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

add zizmor scanner
  .github/dependabot.yml
  .github/workflows/dependabot.yml
  .github/workflows/release.yaml
  .github/workflows/zizmor.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Enable integers for Kube-api-linter
  .golangci-kal.yaml
  api/v1beta1/conversion.go
  api/v1beta1/zz_generated.conversion.go
  api/v1beta2/common_types.go
  api/v1beta2/metal3data_types.go
  api/v1beta2/metal3datatemplate_types.go
  api/v1beta2/metal3remediation_types.go
  api/v1beta2/zz_generated.deepcopy.go
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  baremetal/metal3datatemplate_manager.go
  baremetal/metal3datatemplate_manager_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3clusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3clustertemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datas.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datatemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3remediations.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3remediationtemplates.yaml
  internal/webhooks/v1beta2/metal3data_webhook.go
  internal/webhooks/v1beta2/metal3remediation_webhook_test.go
  internal/webhooks/v1beta2/metal3remediationtemplate_webhook.go
  internal/webhooks/v1beta2/metal3remediationtemplate_webhook_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

Restore TLSdefault to no configuration and make TLS 1.3 hardening a kustomization applied in tests
  config/manager/manager.yaml
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/bmo-deployment/overlays/pr-test/kustomization.yaml
  test/e2e/data/bmo-deployment/overlays/release-main/kustomization.yaml
  test/e2e/data/infrastructure-metal3/overlays/main/kustomization.yaml
  test/e2e/data/infrastructure-metal3/overlays/release-1.11/kustomization.yaml
  test/e2e/data/infrastructure-metal3/overlays/release-1.12/kustomization.yaml
  test/e2e/data/ipamprovider-metal3/overlays/main/kustomization.yaml
  test/e2e/data/ipamprovider-metal3/overlays/release-1.11/kustomization.yaml
  test/e2e/data/ipamprovider-metal3/overlays/release-1.12/kustomization.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Add k8s in-place upgrade test
  .gitignore
  Makefile
  docs/e2e-test.md
  scripts/ci-e2e.sh
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/k8s_in_place_upgrade.go
  test/e2e/k8s_in_place_upgrade_test.go
  test/extension/Dockerfile
  test/extension/config/certmanager/certificate.yaml
  test/extension/config/certmanager/kustomization.yaml
  test/extension/config/certmanager/kustomizeconfig.yaml
  test/extension/config/default/kustomization.yaml
  test/extension/config/default/manager.yaml
  test/extension/config/default/manager_image_patch.yaml
  test/extension/config/default/manager_pull_policy.yaml
  test/extension/config/default/manager_ssh_patch.yaml
  test/extension/config/default/manager_webhook_patch.yaml
  test/extension/config/default/namespace.yaml
  test/extension/config/default/service.yaml
  test/extension/config/rbac/kustomization.yaml
  test/extension/config/rbac/leader_election_role.yaml
  test/extension/config/rbac/leader_election_role_binding.yaml
  test/extension/config/rbac/role.yaml
  test/extension/config/rbac/role_binding.yaml
  test/extension/config/rbac/service_account.yaml
  test/extension/handlers/inplaceupdate/extensionconfig.yaml
  test/extension/handlers/inplaceupdate/handlers.go
  test/extension/handlers/inplaceupdate/ssh.go
  test/extension/main.go
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test, build-fkas

CAPI v1beta2 contract
  api/v1beta1/conversion.go
  api/v1beta1/conversion_test.go
  api/v1beta1/zz_generated.conversion.go
  api/v1beta2/common_types.go
  api/v1beta2/metal3cluster_types.go
  api/v1beta2/metal3clustertemplate_types.go
  api/v1beta2/metal3machine_types.go
  api/v1beta2/metal3machinetemplate_types.go
  api/v1beta2/zz_generated.deepcopy.go
  baremetal/metal3cluster_manager.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  baremetal/utils_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3clusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3clustertemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machinetemplates.yaml
  config/crd/kustomization.yaml
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_integration_test.go
  metadata.yaml
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/shared/infrastructure-metal3/main/metadata.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

Testing easier way
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/infrastructure-metal3/overlays/main/kustomization.yaml
  test/e2e/data/infrastructure-metal3/overlays/release-1.11/kustomization.yaml
  test/e2e/data/infrastructure-metal3/overlays/release-1.12/kustomization.yaml
  test/e2e/data/ipamprovider-metal3/overlays/main/kustomization.yaml
  test/e2e/data/ipamprovider-metal3/overlays/release-1.11/kustomization.yaml
  test/e2e/data/ipamprovider-metal3/overlays/release-1.12/kustomization.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Consolidate Metal3 Contributing guide in community repo
  CONTRIBUTING.md
Due: markdownlint

Bump go to 1.25.8
  Dockerfile
  Makefile
  hack/fake-apiserver/Dockerfile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Bump golang for image build to v1.25.8
  Dockerfile
  Makefile
  hack/ensure-go.sh
  hack/fake-apiserver/Dockerfile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Enable integers for Kube-api-linter
  .golangci-kal.yaml
  api/v1beta1/conversion.go
  api/v1beta1/zz_generated.conversion.go
  api/v1beta2/metal3data_types.go
  api/v1beta2/metal3datatemplate_types.go
  api/v1beta2/metal3remediation_types.go
  api/v1beta2/zz_generated.deepcopy.go
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  baremetal/metal3datatemplate_manager.go
  baremetal/metal3datatemplate_manager_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datas.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datatemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3remediations.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3remediationtemplates.yaml
  internal/webhooks/v1beta2/metal3data_webhook.go
  internal/webhooks/v1beta2/metal3remediation_webhook_test.go
  internal/webhooks/v1beta2/metal3remediationtemplate_webhook.go
  internal/webhooks/v1beta2/metal3remediationtemplate_webhook_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

bump golangci-lint to v2.4.0 to support Go 1.25
  .github/workflows/golangci-lint.yml
  Dockerfile
  Makefile
  hack/ensure-go.sh
  hack/ensure-golangci-lint.sh
  hack/fake-apiserver/Dockerfile
  test/e2e/common.go
  test/e2e/logcollector.go
  test/e2e/pivoting.go
  test/e2e/remediation.go
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Rename conditions and reasons constants
  api/v1beta2/condition_consts.go
  api/v1beta2/metal3cluster_types.go
  api/v1beta2/metal3machine_types.go
  baremetal/metal3cluster_manager.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  baremetal/mocks/zz_generated.metal3machine_manager.go
  controllers/metal3cluster_controller.go
  controllers/metal3cluster_controller_integration_test.go
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_integration_test.go
  controllers/metal3machine_controller_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

make lint-full -> lint
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Fix FromBootMAC conversion and improve error context
  api/v1beta1/zz_generated.conversion.go
  api/v1beta2/metal3datatemplate_types.go
  baremetal/metal3data_manager.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datatemplates.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

Make node-reuse more deterministic
  api/v1beta2/metal3machine_types.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  baremetal/mocks/zz_generated.metal3machine_manager.go
  config/rbac/role.yaml
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_test.go
  test/e2e/node_reuse.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

Improve k8s version names
  examples/generate.sh
  scripts/environment.sh
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/ip_reuse.go
  test/e2e/ip_reuse_test.go
  test/e2e/node_reuse.go
  test/e2e/pivoting_based_feature_test.go
  test/e2e/remediation_based_feature_test.go
  test/e2e/upgrade_kubernetes_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build
