Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  golint: any of: \.go$
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$

Fixing DisablePowerOff backward compatibility
  pkg/provisioner/ironic/register.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Enable tagliatelle linter
  .golangci.yaml
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/firmwareschema_types.go
  apis/metal3.io/v1alpha1/preprovisioningimage_types.go
  cmd/make-virt-host/main.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/base/crds/bases/metal3.io_firmwareschemas.yaml
  config/base/crds/bases/metal3.io_hardwaredata.yaml
  config/base/crds/bases/metal3.io_preprovisioningimages.yaml
  config/render/capm3.yaml
  config/samples/metal3.io_v1alpha1_firmwareschema.yaml
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Enabled forcetypeassert linter
  .golangci.yaml
  internal/controller/metal3.io/baremetalhost_controller_test.go
  internal/controller/metal3.io/bmceventsubscription_controller_test.go
  internal/controller/metal3.io/demo_test.go
  pkg/provisioner/ironic/capabilities.go
  pkg/provisioner/ironic/clients/updateopts_test.go
  pkg/provisioner/ironic/provision_test.go
  pkg/provisioner/ironic/register_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Enabled forbidigo linter
  .golangci.yaml
  cmd/get-hardware-details/main.go
  cmd/make-virt-host/main.go
  hack/tools/deploy-cli/deploy-cli.go
  test/e2e/common.go
  test/e2e/e2e_suite_test.go
  test/vbmctl/main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint, test

Update badges and e2e triggers in README.md
  README.md
Due: markdownlint

Update e2e config and overlays for release-0.10
  config/overlays/e2e-release-0.10/ironic.env
  config/overlays/e2e-release-0.10/kustomization.yaml
  config/overlays/fixture-release-0.10/kustomization.yaml
  hack/ci-e2e.sh
  ironic-deployment/overlays/e2e-release-29.0/ironic-patch.yaml
  ironic-deployment/overlays/e2e-release-29.0/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-29.0/kustomization.yaml
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

detach dataImage before deprovisioning
  internal/controller/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add e2e tests for release 0.10
  .github/workflows/e2e-test-periodic-release0.10.yml
  config/overlays/e2e-release-0.10/ironic.env
  config/overlays/e2e-release-0.10/kustomization.yaml
  config/overlays/fixture-release-0.10/kustomization.yaml
  hack/ci-e2e.sh
  ironic-deployment/overlays/e2e-release-27.0/ironic-patch.yaml
  ironic-deployment/overlays/e2e-release-27.0/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-27.0/kustomization.yaml
  ironic-deployment/overlays/e2e-release-29.0/ironic-patch.yaml
  ironic-deployment/overlays/e2e-release-29.0/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-29.0/kustomization.yaml
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

WIP optional test triggers
  hack/ci-e2e.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Remove 0.6 from e2e tests
  .github/workflows/e2e-test-periodic-release-0.6.yml
  config/overlays/e2e-release-0.6/ironic.env
  config/overlays/e2e-release-0.6/kustomization.yaml
  config/overlays/fixture-release-0.6/kustomization.yaml
  hack/ci-e2e.sh
  ironic-deployment/overlays/e2e-release-24.1/ironic-patch.yaml
  ironic-deployment/overlays/e2e-release-24.1/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-24.1/kustomization.yaml
  ironic-deployment/overlays/e2e-release-25.0/ironic-patch.yaml
  ironic-deployment/overlays/e2e-release-25.0/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-25.0/kustomization.yaml
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Add release-0.10 triggers to README.md
  CONTRIBUTING.md
  README.md
Due: markdownlint

enable mnd linter for golangci-lint
  .golangci.yaml
  cmd/get-hardware-details/main.go
  hack/tools/deploy-cli/deploy-cli.go
  internal/controller/metal3.io/action_result.go
  internal/controller/metal3.io/host_state_machine.go
  main.go
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/clients/features.go
  pkg/provisioner/ironic/hardwaredetails/hardwaredetails.go
  pkg/provisioner/ironic/inspecthardware.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/register.go
  test/e2e/common.go
  test/e2e/e2e_config.go
  test/vbmctl/main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint, test

Replace github.com/pkg/errors with stdlib
  go.mod
  hack/tools/go.mod
  hack/tools/release/notes.go
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/bmceventsubscription_controller.go
  internal/controller/metal3.io/host_config_data.go
  internal/controller/metal3.io/host_state_machine.go
  internal/controller/metal3.io/hostfirmwaresettings_controller.go
  internal/controller/metal3.io/preprovisioningimage_controller.go
  main.go
  pkg/secretutils/secret_manager.go
  test/e2e/cert_manager.go
  test/e2e/common.go
  test/e2e/e2e_config.go
  test/go.mod
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint, test

enable errorlint linter and fix lints
  .golangci.yaml
  hack/tools/deploy-cli/deploy-cli.go
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/host_config_data.go
  pkg/provisioner/ironic/register.go
  test/e2e/common.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint, test

Update periodic workflows for release-0.10
  .github/workflows/e2e-test-periodic-release-0.10.yml
Due: gosec, gomod, unit, generate, manifestlint

E2E: Set Ironic base URL to fix connection issues
  hack/ci-e2e.sh
  ironic-deployment/overlays/e2e/ironic_bmo_configmap.env
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Replace github.com/pkg/errors by standard library errors pkg
  go.mod
  hack/tools/release/notes.go
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/bmceventsubscription_controller.go
  internal/controller/metal3.io/host_config_data.go
  internal/controller/metal3.io/host_state_machine.go
  internal/controller/metal3.io/hostfirmwaresettings_controller.go
  internal/controller/metal3.io/preprovisioningimage_controller.go
  main.go
  pkg/secretutils/secret_manager.go
  test/e2e/cert_manager.go
  test/e2e/common.go
  test/e2e/e2e_config.go
  test/go.mod
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint, test

Revert "🌱 enable mnd linter"
  .golangci.yaml
  cmd/get-hardware-details/main.go
  hack/tools/deploy-cli/deploy-cli.go
  internal/controller/metal3.io/action_result.go
  internal/controller/metal3.io/host_state_machine.go
  main.go
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/clients/features.go
  pkg/provisioner/ironic/hardwaredetails/hardwaredetails.go
  pkg/provisioner/ironic/inspecthardware.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/register.go
  test/e2e/common.go
  test/e2e/e2e_config.go
  test/vbmctl/main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint, test

Enable dupl linter
  .golangci.yaml
  internal/controller/metal3.io/host_state_machine_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Enabled forcetypeassert linter
  .golangci.yaml
  internal/controller/metal3.io/baremetalhost_controller_test.go
  internal/controller/metal3.io/bmceventsubscription_controller_test.go
  internal/controller/metal3.io/demo_test.go
  internal/controller/metal3.io/host_state_machine_test.go
  pkg/provisioner/ironic/capabilities.go
  pkg/provisioner/ironic/clients/updateopts_test.go
  pkg/provisioner/ironic/provision_test.go
  pkg/provisioner/ironic/register_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Enable tagliatelle linter
  .golangci.yaml
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/firmwareschema_types.go
  apis/metal3.io/v1alpha1/preprovisioningimage_types.go
  cmd/make-virt-host/main.go
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Test if docker version is the issue in runner
  .github/workflows/e2e-test.yml
Due: gosec, gomod, unit, generate, manifestlint

update CII badge
  README.md
Due: markdownlint

Try iptables FORWARD
  hack/ci-e2e.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

E2E: Temporary workaround for connection issues
  .github/workflows/pipeline.yml
  hack/ci-e2e.sh
  ironic-deployment/overlays/e2e/ironic_bmo_configmap.env
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

remove optional e2e badge link
  README.md
Due: markdownlint

Add a simple e2e test on externallyProvisioned
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/externally_provisioned_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Prevent changing ExternallyProvisioned in the webhook
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint
