Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test

Path conditions:
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  unit: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  build: any of: ^api|^test|^Makefile$
  test: any of: ^(Makefile|hack/.*)$

test
  scripts/ci-e2e.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

Adopt md_rollout test from CAPI
  test/e2e/md_rollout_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

test
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

E2E: Remove cert-manager webhook workaround
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Fix set-manifest-image rule
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Fixing remediation tests
  test/e2e/common.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

enable nilnil linter
  .golangci.yaml
  baremetal/metal3machine_manager.go
  baremetal/metal3remediation_manager.go
  baremetal/utils.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

suggested changes
  baremetal/metal3machine_manager.go
  baremetal/metal3remediation_manager.go
  baremetal/utils.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Fix deleting and reapplying BMHs in md_remediation
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/md_remediations_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

return nil for empty creds
  baremetal/metal3machine_manager.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

fix: shadow variables
  .golangci.yaml
  baremetal/metal3data_manager.go
  baremetal/metal3datatemplate_manager.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  baremetal/utils.go
  baremetal/utils_test.go
  controllers/metal3cluster_controller.go
  controllers/metal3data_controller.go
  controllers/metal3datatemplate_controller.go
  controllers/metal3labelsync_controller.go
  controllers/metal3machine_controller.go
  controllers/metal3machinetemplate_controller.go
  controllers/metal3remediation_controller.go
  main.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

E2E: Use cert-manager version from config
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Adopt md_scale from CAPI
  docs/e2e-test.md
  scripts/ci-e2e.sh
  scripts/environment.sh
  test/e2e/md_scale_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build

E2E: longer timeout for cert-manager
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

update docs/releasing.md on dependabot configs
  docs/releasing.md
Due: markdownlint

Change deprecated ginkgo functionality
  test/e2e/data/kubetest/conformance.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Change placeholder values to actual values
  api/go.mod
  api/go.sum
  examples/cluster/cluster.yaml
  examples/clusterctl-templates/clusterctl-cluster.yaml
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Remove deprecated ginkgo functionality
  test/e2e/data/kubetest/conformance.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Change placeholder values to actual values
  api/go.mod
  api/go.sum
  docs/api.md
  docs/remediation-controller.md
  examples/cluster/cluster.yaml
  examples/clusterctl-templates/clusterctl-cluster.yaml
  examples/controlplane/controlplane.yaml
  examples/machinedeployment/machinedeployment.yaml
  examples/templates/cluster.yaml
  examples/templates/clusterclass.yaml
  go.mod
  go.sum
  metadata.yaml
  test/e2e/common.go
  test/e2e/data/infrastructure-metal3/bases/cluster-with-topology/cluster-with-topology.yaml
  test/e2e/data/infrastructure-metal3/bases/cluster/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-metal3/bases/cluster/md.yaml
  test/e2e/data/infrastructure-metal3/bases/clusterclass-cluster/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-centos-md-remediation/mhc.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-ubuntu-md-remediation/mhc.yaml
  test/e2e/data/infrastructure-metal3/clusterclass-metal3/clusterclass-metal3.yaml
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint, build

Limit API listing to 200 at a time via pagination
  baremetal/metal3data_manager.go
  baremetal/metal3datatemplate_manager.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machinetemplate_manager.go
  baremetal/utils.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

fix formatting issue
  test/e2e/e2e_suite_test.go
  test/e2e/remediation_based_feature_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

fix test file errors
  controllers/metal3labelsync_controller_test.go
  test/e2e/common.go
  test/e2e/e2e_suite_test.go
  test/e2e/ip_reuse_test.go
  test/e2e/k8s_conformance_test.go
  test/e2e/logcollector.go
  test/e2e/md_remediations_test.go
  test/e2e/pivoting.go
  test/e2e/pivoting_based_feature_test.go
  test/e2e/remediation.go
  test/e2e/remediation_based_feature_test.go
  test/e2e/scalability_test.go
  test/e2e/upgrade_kubernetes_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

fix: new test files
  test/e2e/md_remediations_test.go
  test/e2e/md_rollout_test.go
  test/e2e/md_scale_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

fix formatting
  controllers/metal3labelsync_controller_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Remove Metal3Machine owner reference from BMH
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  test/e2e/pivoting.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Block Move
  controllers/metal3machine_controller.go
  test/e2e/pivoting.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

BMH pause annotation should be synced with CAPM3 machine
  baremetal/metal3machine_manager.go
  controllers/metal3machine_controller.go
  test/e2e/pivoting.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Add manual paused annotation
  test/e2e/pivoting.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

bumping capiIpam to v1beta2
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  baremetal/suite_test.go
  baremetal/utils.go
  scripts/ci-e2e.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

enable and fix lint checks for FKAS
  .github/workflows/golangci-lint.yml
  Makefile
  hack/fake-apiserver/cmd/metal3-fkas-reconciler/main.go
  hack/fake-apiserver/cmd/metal3-fkas/main.go
  hack/fake-apiserver/cmd/metal3-fkas/utils.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test
