Repository metal3-io/ip-address-manager: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, shellcheck, unit, generate, manifestlint, test

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

golangci-lint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/ensure-golangci-lint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

govet:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/govet.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/codegen.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

test:
  decorate: true
  spec:
    containers:
    - args:
      - test
      command:
      - make
      image: docker.io/golang:1.22
      imagePullPolicy: Always

Bump grpc to v1.83.1
  go.mod
  go.sum
  test/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Add totalIPCount and availableIPCount to IPPool status
  api/v1alpha1/ippool_types.go
  api/v1alpha1/utils.go
  api/v1alpha1/utils_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ipam.metal3.io_ippools.yaml
  docs/api.md
  ipam/ippool_manager.go
  ipam/ippool_manager_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, unit, generate, manifestlint

Fix set-manifest-image for IPv6 addresses
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

:rocket: Release v1.13.4
  releasenotes/v1.13.4.md
Due: markdownlint

Bump CAPI to 1.14.1
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Add nuhakala as a reviewer
  OWNERS_ALIASES
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump markdownlint-cli2 to 0.14.19, exclude CLAUDE.md from linting
  .markdownlint-cli2.yaml
  hack/markdownlint.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, shellcheck, unit, generate, manifestlint, test

Clear stale address reference when IPAddress is deleted
  controllers/ippool_controller.go
  controllers/ippool_controller_test.go
  ipam/ippool_manager.go
  ipam/ippool_manager_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump golang.org/x/mod to 0.40.0 and cel-go to 0.30.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint, test

Surface IPAddress name collisions from duplicate namePrefix instead of failing silently
  ipam/ippool_manager.go
  ipam/ippool_manager_test.go
  ipam/manager_factory.go
  main.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

:rocket: Release v1.14.0
  releasenotes/v1.14.0.md
Due: markdownlint

add yamllint script for prow
  hack/yamllint.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Add id-token permission to build-images-pr workflow
  .github/workflows/build-images-pr.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

WIP: TESTING DNM
  README.md
Due: markdownlint

Update dependabot config and README
  .github/dependabot.yml
  README.md
Due: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, unit, generate, manifestlint

Bump grpc to 1.83.2
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump grpc to 1.83.2
  go.mod
  go.sum
  test/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Update README support matrix
  README.md
Due: markdownlint

Group shared Go dependencies in Dependabot
  .github/dependabot.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Enable e2e tests for release-1.14
  .github/workflows/e2e-pr-test.yml
  .github/workflows/e2e-test-periodic.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Add accidentally missed sigs.k8s.io/cluster-api to dependabot conf
  .github/dependabot.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

:seedling: Enable release-1.14 e2e tests
  .github/workflows/e2e-pr-test.yml
  .github/workflows/e2e-test-periodic.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

check github workflow
  README.md
Due: markdownlint

:rocket: Release v1.13.5
  releasenotes/v1.13.5.md
Due: markdownlint

Update workflows to fix new zizmor findings
  .github/workflows/e2e-pr-test.yml
  .github/workflows/e2e-test-periodic.yml
  .github/workflows/zizmor.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump sigs.k8s.io/cluster-api/test to 1.14.2 in /test
  test/go.mod
  test/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Add e2e tests for clusterctl upgrade and pivoting
  docs/e2e.md
  hack/e2e/ci-script.sh
  test/e2e/basic_test.go
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/ipamprovider-metal3/overlays/v1.12/kustomization.yaml
  test/e2e/data/ipamprovider-metal3/overlays/v1.12/metadata.yaml
  test/e2e/data/ipamprovider-metal3/overlays/v1.13/kustomization.yaml
  test/e2e/data/ipamprovider-metal3/overlays/v1.13/metadata.yaml
  test/e2e/data/shared/capd/v1.12/metadata.yaml
  test/e2e/data/shared/capi/v1.12/metadata.yaml
  test/e2e/feature_test.go
  test/e2e/owner_ref_enforcement_test.go
  test/e2e/pivoting_test.go
  test/e2e/upgrade_test.go
  test/go.mod
Due: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, shellcheck, unit, generate, manifestlint, test

Bump opentelemetry otel to 1.45.0
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Check IPAddress exists before re-linking claim to it
  ipam/ippool_manager.go
  ipam/ippool_manager_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Add namespace validation to IPClaim and IPPool reconciliation
  controllers/ippool_controller.go
  controllers/ippool_controller_test.go
  internal/webhooks/v1alpha1/ipclaim_webhook.go
  internal/webhooks/v1alpha1/ipclaim_webhook_test.go
  test/fuzz/ippool_controller_fuzz_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Remove PR Verifier GitHub Actions workflow in favor of Prow
  .github/workflows/pr-verifier.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

:rocket: Release v1.14.1
  releasenotes/v1.14.1.md
Due: markdownlint

Path conditions:
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$
