Repository metal3-io/ip-address-manager: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, shellcheck, unit, generate, manifestlint, test

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

golangci-lint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/ensure-golangci-lint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

govet:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/govet.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/codegen.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

test:
  decorate: true
  spec:
    containers:
    - args:
      - test
      command:
      - make
      image: docker.io/golang:1.22
      imagePullPolicy: Always

Make scripts consistent
  examples/generate.sh
  hack/e2e/ensure_go.sh
  hack/e2e/ensure_kubectl.sh
  hack/ensure-golangci-lint.sh
  hack/verify-boilerplate.sh
  hack/verify-release.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

chore: Bump OpenTelemetry to v1.45.0
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Pin gcrane in verify-release.sh and add renovate to update it
  hack/renovate-validator.sh
  hack/verify-release.sh
  renovate.json
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Add nuhakala as a reviewer
  OWNERS_ALIASES
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

:rocket: Release v1.13.6
  releasenotes/v1.13.6.md
Due: markdownlint

Add totalIPCount and availableIPCount to IPPool status
  api/v1alpha1/ippool_types.go
  api/v1alpha1/utils.go
  api/v1alpha1/utils_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ipam.metal3.io_ippools.yaml
  docs/api.md
  ipam/ippool_manager.go
  ipam/ippool_manager_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, unit, generate, manifestlint

Generate local API documentation from CRDs
  AGENTS.md
  Makefile
  README.md
  docs/api.md
  docs/usage.md
  hack/gen-api-doc.sh
  hack/markdownlint.sh
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
Due: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, shellcheck, unit, generate, manifestlint, test

Remove golangci-lint GitHub Actions workflow in favor of Prow
  .github/security-insights.yml
  .github/workflows/golangci-lint.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Make sure IPPool allocation, IPClaim finalizer and IPAddresses are removed at the correct order
  ipam/ippool_manager.go
  ipam/ippool_manager_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

remove golanci-lint workflow from GitHub Actions in favor of Prow
  .github/security-insights.yml
  .github/workflows/golangci-lint.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump k8s to 0.36.4 in hack/tools
  hack/tools/go.mod
  hack/tools/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint, test

Fix pivoting test
  test/e2e/pivoting_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Make IPPool ClusterName field immutable and update IPAddress and IPClaim validation functions
  internal/webhooks/v1alpha1/ipaddress_webhook.go
  internal/webhooks/v1alpha1/ipaddress_webhook_test.go
  internal/webhooks/v1alpha1/ipclaim_webhook.go
  internal/webhooks/v1alpha1/ippool_webhook.go
  internal/webhooks/v1alpha1/ippool_webhook_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Remove yamllint GitHub Action
  .github/workflows/yamllint.yaml
  AGENTS.md
Due: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, unit, generate, manifestlint

Add ApiReader.Get() to IPClaim relinking check
  controllers/ippool_controller_test.go
  ipam/ippool_manager.go
  ipam/ippool_manager_test.go
  ipam/manager_factory.go
  ipam/manager_factory_test.go
  main.go
  test/fuzz/ippool_manager_fuzz_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Surface IPAddress name collisions from duplicate namePrefix instead of failing silently
  config/rbac/role.yaml
  controllers/ippool_controller.go
  ipam/ippool_manager.go
  ipam/ippool_manager_test.go
  ipam/manager_factory.go
  ipam/manager_factory_test.go
  main.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Fix stale error handling in IPClaim and IPAddressClaim reconciliation
  ipam/ippool_manager.go
  ipam/ippool_manager_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Add fuzz tests for PR unit test and update Makefile
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Path conditions:
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$
