Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/generate.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

golint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/golint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

test:
  decorate: true
  spec:
    containers:
    - args:
      - test
      command:
      - make
      image: quay.io/metal3-io/basic-checks:golang-1.24
      imagePullPolicy: Always

remove obsoleted release action
  .github/workflows/release.yaml
Due: gosec, gomod, unit, generate, manifestlint

Bump CAPI to v1.13.1
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint

Add AutomatedCleaningPhase API field
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/baremetalhost_types_test.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_controller_test.go
  internal/testutil/common.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add periodic release workflow for 0.13
  .github/workflows/e2e-test-periodic-release-0.13.yml
Due: gosec, gomod, unit, generate, manifestlint

Add network interface management to vbmctl
  hack/ci-e2e.sh
  test/e2e/config/vbmctl.yaml
  test/go.mod
  test/go.sum
  test/vbmctl/README.md
  test/vbmctl/cmd/vbmctl/main.go
  test/vbmctl/pkg/api/types.go
  test/vbmctl/pkg/config/config.go
  test/vbmctl/pkg/libvirt/network.go
  test/vbmctl/pkg/network/ip.go
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Update dependabot target branch to release-0.13
  .github/dependabot.yml
Due: gosec, gomod, unit, generate, manifestlint

Add release 0.12 test triggers to README
  README.md
Due: markdownlint

Update readme release-0.13
  README.md
Due: markdownlint

Add overlays for BMO 0.13 and Ironic 35.0
  config/overlays/e2e-release-0.13/ironic.env
  config/overlays/e2e-release-0.13/kustomization.yaml
  config/overlays/fixture-release-0.13/kustomization.yaml
  hack/ci-e2e.sh
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-28.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-29.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-35.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/irso-v0.7/kustomization.yaml
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Bump Go version to 1.25.10
  Dockerfile
  Makefile
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

:rocket: Release v0.13.0
  releasenotes/v0.13.0.md
Due: markdownlint

Remove obsoleted release action
  .github/workflows/release.yaml
Due: gosec, gomod, unit, generate, manifestlint

fix: update outdated wantedErr in TestValidateCreate/invalidDNSNameinvalidipv6
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation_test.go
  pkg/provisioner/ironic/hardwaredetails/hardwaredetails_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2E: Verify IPA boot was managed by Ironic
  test/e2e/common.go
  test/e2e/data/ironic-standalone-operator/ironic/base/ironic.yaml.tmpl
  test/e2e/inspection_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Set OwnerReference on user-provided HFS objects as well
  internal/controller/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

HFS/HFC: allow reconciliations when only OwnerReferences is changed
  internal/controller/metal3.io/hostfirmwarecomponents_controller.go
  internal/controller/metal3.io/hostfirmwaresettings_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add e2e tests for HostFirmwareSettings
  config/overlays/e2e/firmware-settings/kustomization.yaml
  config/overlays/e2e/firmware-settings/namespace.yaml
  config/overlays/e2e/kustomization.yaml
  config/overlays/e2e/namespaced-manager-patch.yaml
  test/e2e/common.go
  test/e2e/config/ironic.yaml
  test/e2e/firmware_settings_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

DNM use my sushy-tools image
  hack/ci-e2e.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Add e2e tests for HostFirmwareSettings and live updates (servicing)
  test/e2e/config/ironic.yaml
  test/e2e/firmware_settings_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Return error message in case of failure to read preprovisioningNetworkData
  internal/controller/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add e2e tests for HostFirmwareSettings and live updates (servicing)
  config/overlays/e2e/firmware-settings/kustomization.yaml
  config/overlays/e2e/firmware-settings/namespace.yaml
  config/overlays/e2e/kustomization.yaml
  config/overlays/e2e/namespaced-manager-patch.yaml
  test/e2e/common.go
  test/e2e/config/ironic.yaml
  test/e2e/firmware_settings_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Bump golang.org/x/net to v0.53.0
  apis/go.mod
  apis/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint, test

fix golangci-lint findings (deprecated comments, prealloc, and targeted gosec/revive suppressions)
  cmd/make-bm-worker/templates/templates.go
  pkg/hardwareutils/bmc/credentials.go
  pkg/imageprovider/invalid.go
  pkg/provisioner/ironic/clients/auth.go
  pkg/version/version.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Buble up of ironic provisioning states/steps to node status
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/host_state_machine.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/result.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

address copilot comments
  internal/controller/metal3.io/baremetalhost_controller.go
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add description field for provisioner steps
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/step_descriptions.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add iros-v0.9 to e2e tests
  config/overlays/fixture-release-0.13/kustomization.yaml
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/data/ironic-standalone-operator/components/basic-auth/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/components/tls/certificate.yaml
  test/e2e/data/ironic-standalone-operator/operator/irso-v0.9/kustomization.yaml
Due: gosec, gomod, unit, generate, manifestlint

Fix e2e test to use irso v0.9 and ironic v35.0
  config/overlays/e2e-release-0.13/ironic.env
  config/overlays/e2e-release-0.13/kustomization.yaml
  config/overlays/fixture-release-0.13/kustomization.yaml
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/data/ironic-standalone-operator/components/basic-auth/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/components/tls/certificate.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-28.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-29.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-35.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/irso-v0.9/kustomization.yaml
Due: gosec, gomod, unit, generate, manifestlint

Add an e2e test for forced detachment during provisioning
  config/overlays/e2e/force-detach/kustomization.yaml
  config/overlays/e2e/force-detach/namespace.yaml
  config/overlays/e2e/kustomization.yaml
  config/overlays/e2e/namespaced-manager-patch.yaml
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/forced_detachment_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Test forced detachment during inspection
  test/e2e/forced_detachment_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Switch forced detachment test to use Ironic to check the timing
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/e2e_config.go
  test/e2e/forced_detachment_test.go
  test/e2e/ironic_helpers.go
  test/go.mod
  test/go.sum
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  golint: any of: \.go$
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$
