Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  golint: any of: \.go$
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$

Update logic for HostClaims
  internal/testutil/common.go
  pkg/hostclaim/hostclaim_manager.go
  pkg/hostclaim/hostclaim_manager_test.go
  test/e2e/common.go
  test/e2e/hostclaim_provisioning_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Double quote all script variables
  hack/check-e2e.sh
  hack/ci-e2e.sh
  hack/e2e/ensure_docker.sh
  hack/e2e/ensure_yq.sh
  hack/kind_with_registry.sh
  hack/shellcheck.sh
  hack/verify-release.sh
  tools/bmh_test/clean_local_bmh_test_setup.sh
  tools/clean_demo_hosts.sh
  tools/clean_host.sh
  tools/deploy.sh
  tools/remove_local_ironic.sh
  tools/run_local_ironic.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Group shared Go dependencies in Dependabot
  .github/dependabot.yml
Due: gosec, gomod, unit, generate, manifestlint

Update logic for HostClaims
  internal/testutil/common.go
  pkg/hostclaim/hostclaim_manager.go
  pkg/hostclaim/hostclaim_manager_test.go
  test/e2e/common.go
  test/e2e/config/fixture.yaml
  test/e2e/hostclaim_provisioning_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Check cross-namespace reference for HostClaim
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation.go
  internal/webhooks/metal3.io/v1alpha1/hostclaim_validation.go
  internal/webhooks/metal3.io/v1alpha1/hostclaim_validation_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Use IRSO integration for credentials in E2E tests
  config/overlays/e2e-upgrade/ironic.env
  config/overlays/e2e-upgrade/kustomization.yaml
  config/overlays/e2e-upgrade/namespaced-manager-patch.yaml
  config/overlays/e2e/baremetal-operator-system/kustomization.yaml
  config/overlays/e2e/ironic.env
  config/overlays/e2e/kustomization.yaml
  config/overlays/e2e/namespaced-manager-patch.yaml
  hack/ci-e2e.sh
  test/e2e/data/ironic-standalone-operator/components/tls/certificate.yaml
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

:sparkles: surface missing or inaccessible referenced config Secrets in BMH status
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/errors.go
  internal/controller/metal3.io/host_config_data.go
  internal/controller/metal3.io/host_config_data_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fix: retry a missing config Secret instead of deprovisioning the host
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/errors.go
  internal/controller/metal3.io/host_config_data.go
  internal/controller/metal3.io/host_config_data_test.go
  internal/controller/metal3.io/host_state_machine.go
  internal/controller/metal3.io/host_state_machine_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Harden E2E script downloads with integrity verification
  .github/workflows/verify-e2e-checksums.yml
  Makefile
  hack/ci-e2e.sh
  hack/e2e/checksums.sh
  hack/e2e/ensure_docker.sh
  hack/e2e/ensure_go.sh
  hack/e2e/ensure_kubectl.sh
  hack/e2e/ensure_yq.sh
  hack/e2e/update-checksums.sh
  hack/e2e/verify-checksums.sh
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Redact image URL failure messages
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/ironic_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Remove pr-verifier GHA workflow
  .github/workflows/pr-verifier.yaml
Due: gosec, gomod, unit, generate, manifestlint

:rocket: Release v0.14.1
  releasenotes/v0.14.1.md
Due: markdownlint

Add Alloy log collector
  .gitignore
  hack/alloy/README.md
  hack/alloy/config.alloy
  hack/alloy/run-alloy.sh
  hack/alloy/stop-alloy.sh
  hack/alloy/verify.sh
  hack/ci-e2e.sh
  hack/e2e/ensure_alloy.sh
Due: gosec, gomod, markdownlint, shellcheck, unit, generate, manifestlint, test

✨ vbmctl: allow spec.vms to be empty
  test/vbmctl/README.md
  test/vbmctl/cmd/vbmctl/create.go
  test/vbmctl/cmd/vbmctl/delete.go
Due: gofmt, gosec, gomod, markdownlint, unit, generate, golint, manifestlint

E2E: Cleanup unused overlays
  test/e2e/config/ironic.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-31.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/irso-v0.10/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/irso-v0.7/kustomization.yaml
Due: gosec, gomod, unit, generate, manifestlint

Add reconciler support for switch port configuration
  config/base/rbac/role.yaml
  config/render/capm3.yaml
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_network.go
  internal/controller/metal3.io/baremetalhost_network_test.go
  internal/controller/metal3.io/host_state_machine.go
  internal/controller/metal3.io/host_state_machine_test.go
  main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

vbmctl: Refactor BMC emulator config handling
  test/vbmctl/README.md
  test/vbmctl/cmd/vbmctl/config.go
  test/vbmctl/cmd/vbmctl/create.go
  test/vbmctl/pkg/api/types.go
  test/vbmctl/pkg/api/types_test.go
  test/vbmctl/pkg/config/config.go
  test/vbmctl/pkg/config/config_test.go
  test/vbmctl/pkg/containers/bmc_emulator.go
  test/vbmctl/pkg/containers/doc.go
Due: gofmt, gosec, gomod, markdownlint, unit, generate, golint, manifestlint

Document networking environment variables
  docs/configuration.md
Due: markdownlint

Add E2E tests for switch port configuration
  config/overlays/e2e/kustomization.yaml
  config/overlays/e2e/namespaced-manager-patch.yaml
  config/overlays/e2e/networking/kustomization.yaml
  config/overlays/e2e/networking/namespace.yaml
  config/overlays/e2e/roles-rolebindings/roles-rolebindings.yaml
  test/e2e/README.md
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/ironic_helpers_test.go
  test/e2e/networking_test.go
  test/go.mod
Due: gofmt, gosec, gomod, markdownlint, unit, generate, golint, manifestlint

vbmctl: Refactor BMC emulator config structure
  test/vbmctl/pkg/api/types.go
  test/vbmctl/pkg/containers/bmc_emulator.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2E: Use ginkgo label filter
  .github/workflows/e2e-test-optional-periodic.yml
  .github/workflows/e2e-test.yml
  Makefile
  hack/ci-e2e.sh
  test/e2e/README.md
  test/e2e/automated_cleaning_test.go
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

vbmctl: validate BMC is running
  hack/ci-e2e.sh
  test/vbmctl/cmd/vbmctl/create.go
  test/vbmctl/cmd/vbmctl/create_test.go
  test/vbmctl/pkg/containers/bmc_emulator.go
  test/vbmctl/pkg/containers/bmc_emulator_test.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

Add support for IPv6 only test setup
  .gitignore
  Makefile
  config/overlays/e2e/ironic.env.tmpl
  hack/ci-e2e.sh
  hack/clean-e2e.sh
  hack/e2e/ip_addressing.sh
  hack/e2e/partial_envsubst.sh
  test/e2e/README.md
  test/e2e/common.go
  test/e2e/config/bmcs-fixture.yaml.tmpl
  test/e2e/config/bmcs-ipmi.yaml.tmpl
  test/e2e/config/bmcs-redfish-virtualmedia.yaml.tmpl
  test/e2e/config/bmcs-redfish.yaml.tmpl
  test/e2e/config/fixture.yaml.tmpl
  test/e2e/config/ironic.yaml.tmpl
  test/e2e/config/vbmctl.yaml.tmpl
  test/e2e/data/ironic-standalone-operator/components/tls/certificate.yaml.tmpl
  test/e2e/data/ironic-standalone-operator/ironic/base/ironic.yaml.tmpl
  test/e2e/data/ironic-standalone-operator/operator/irso-v0.10/kustomization.yaml.tmpl
  test/e2e/data/ironic-standalone-operator/operator/irso-v0.11/kustomization.yaml.tmpl
  test/e2e/e2e_suite_test.go
  test/e2e/network_data_test.go
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

E2E: Implement TLS for the image server
  hack/ci-e2e.sh
  test/e2e/README.md
  test/e2e/config/ironic.yaml
  test/e2e/config/nginx-tls.conf
  test/e2e/config/vbmctl.yaml.tmpl
  test/e2e/data/ironic-standalone-operator/components/trusted-ca/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/components/trusted-ca/trusted-ca-patch.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-33.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-35.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-37.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-38.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/irso-v0.11/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/irso-v0.9/kustomization.yaml
  test/vbmctl/README.md
  test/vbmctl/cmd/vbmctl/config.go
  test/vbmctl/cmd/vbmctl/create.go
  test/vbmctl/pkg/api/types.go
  test/vbmctl/pkg/config/config.go
  test/vbmctl/pkg/config/config_test.go
  test/vbmctl/pkg/containers/imageserver.go
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Add scalability tests for BMH enrollment, provisoining and API Latency
  Makefile
  docs/e2e-scalability.md
  hack/check-e2e.sh
  hack/ci-e2e.sh
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/scalability_test.go
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

remove golangci-lint from gha
  .github/workflows/golangci-lint.yml
  .github/workflows/pipeline.yml
Due: gosec, gomod, unit, generate, manifestlint

Bump gophercloud to v2.15.0 and test int64 BIOS bounds
  go.mod
  go.sum
  pkg/provisioner/ironic/bios_test.go
  pkg/provisioner/ironic/testserver/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Configure zizmor for release branches
  .github/workflows/zizmor.yml
Due: gosec, gomod, unit, generate, manifestlint

vbmctl: Do not report networks as deleted when deletion fails
  test/vbmctl/cmd/vbmctl/delete.go
  test/vbmctl/cmd/vbmctl/delete_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

✨ Add feature gate for Ironic networking
  config/base/webhook/manifests.yaml
  config/overlays/e2e/features.env
  config/overlays/e2e/ironic.env
  config/overlays/fixture/kustomization.yaml
  config/render/capm3.yaml
  docs/api.md
  docs/configuration.md
  internal/controller/metal3.io/baremetalhost_network.go
  internal/controller/metal3.io/baremetalhost_network_test.go
  internal/controller/metal3.io/host_state_machine.go
  internal/controller/metal3.io/host_state_machine_test.go
  internal/webhooks/metal3.io/v1alpha1/baremetalswitch_webhook.go
  internal/webhooks/metal3.io/v1alpha1/hostnetworkattachment_webhook.go
  internal/webhooks/metal3.io/v1alpha1/ironic_networking_gate_test.go
  main.go
  pkg/features/features.go
  pkg/provisioner/ironic/factory.go
  pkg/provisioner/ironic/factory_test.go
Due: gofmt, gosec, gomod, markdownlint, unit, generate, golint, manifestlint

HostDeployPolicies e2e test
  config/overlays/e2e/hdp-infra/kustomization.yaml
  config/overlays/e2e/hdp-infra/namespace.yaml
  config/overlays/e2e/hdp-tenanta/kustomization.yaml
  config/overlays/e2e/hdp-tenanta/namespace.yaml
  config/overlays/e2e/hdp-tenantb/kustomization.yaml
  config/overlays/e2e/hdp-tenantb/namespace.yaml
  config/overlays/e2e/kustomization.yaml
  config/overlays/e2e/namespaced-manager-patch.yaml
  hack/check-e2e.sh
  test/e2e/common.go
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/hostdeploypolicy_test.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

bugfix: Fix flaky fast reinspection test
  pkg/provisioner/fixture/fixture.go
  test/e2e/inspection_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Redact image URL failure messages
  pkg/provisioner/ironic/clients/updateopts.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/ironic_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Clean up vbmctl ouput
  test/vbmctl/cmd/vbmctl/config.go
  test/vbmctl/cmd/vbmctl/create.go
  test/vbmctl/cmd/vbmctl/delete.go
  test/vbmctl/cmd/vbmctl/main.go
  test/vbmctl/cmd/vbmctl/status.go
  test/vbmctl/cmd/vbmctl/version.go
  test/vbmctl/pkg/containers/docker.go
  test/vbmctl/pkg/containers/kindnetwork.go
  test/vbmctl/pkg/libvirt/network.go
  test/vbmctl/pkg/libvirt/pool.go
  test/vbmctl/pkg/libvirt/vm.go
  test/vbmctl/pkg/network/ip.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint
