Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:latest
      imagePullPolicy: Always

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:latest
      imagePullPolicy: Always

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:stable
      imagePullPolicy: Always

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/generate.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

golint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/golint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: quay.io/metal3-io/golint:latest
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/garethr/kubeval:latest
      imagePullPolicy: Always

irmc: change BootInterface to ipxe
  pkg/hardwareutils/bmc/access_test.go
  pkg/hardwareutils/bmc/irmc.go
  vendor/github.com/metal3-io/baremetal-operator/pkg/hardwareutils/bmc/irmc.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Make bmc subscription validator less aggressive
  apis/metal3.io/v1alpha1/bmceventsubscription_webhook.go
  apis/metal3.io/v1alpha1/bmceventsubscription_webhook_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Update vendor
  apis/vendor/github.com/metal3-io/baremetal-operator/pkg/hardwareutils/bmc/irmc.go
  vendor/github.com/metal3-io/baremetal-operator/apis/metal3.io/v1alpha1/bmceventsubscription_webhook.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

deploy.sh: use getopts to parse arguments
  tools/deploy.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

add changes to only validate the hostname part of the address
  pkg/hardwareutils/bmc/access.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Move from Available to Preparing if HostFirmwareSettings changed
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/baremetalhost_controller_test.go
  controllers/metal3.io/host_state_machine.go
  controllers/metal3.io/host_state_machine_test.go
  controllers/metal3.io/hostfirmwaresettings_controller.go
  controllers/metal3.io/hostfirmwaresettings_test.go
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/prepare_test.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add bfournier to approvers
  OWNERS
Due: none

Remove asalfeld from OWNERS
  OWNERS
Due: none

Update CI badges with Metal3
  README.md
Due: markdownlint

downstream: add vendor target
  Makefile
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

Bug 2043118: Move from Available to Preparing if HostFirmwareSettings changed
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/baremetalhost_controller_test.go
  controllers/metal3.io/host_state_machine.go
  controllers/metal3.io/host_state_machine_test.go
  controllers/metal3.io/hostfirmwaresettings_controller.go
  controllers/metal3.io/hostfirmwaresettings_test.go
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/prepare_test.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Create operator namespace with default kustomize config
  config/default/kustomization.yaml
  docs/dev-setup.md
Due: gosec, gomod, markdownlint, unit, generate, manifestlint

Add make targets for setting images
  Makefile
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

Use deep copy/equal for host root device hints
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/baremetalhost_controller_test.go
  controllers/metal3.io/host_state_machine.go
  controllers/metal3.io/host_state_machine_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add mac address validation for BootMACAddress
  apis/metal3.io/v1alpha1/baremetalhost_validation.go
  apis/metal3.io/v1alpha1/baremetalhost_validation_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Set maintenance reason when turning maintenance on
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Never try to update an existing instance UUID (fixes #1085)
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add test cases for bmc address hostname
  pkg/hardwareutils/bmc/access.go
  pkg/hardwareutils/bmc/access_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Remove the option to disable authentication
  config/basic-auth/default/kustomization.yaml
  config/basic-auth/tls/kustomization.yaml
  config/default/credentials_patch.yaml
  config/default/kustomization.yaml
  config/tls/credentials_patch.yaml
  config/tls/kustomization.yaml
  docs/deploying.md
  ironic-deployment/basic-auth/default/kustomization.yaml
  ironic-deployment/basic-auth/keepalived/kustomization.yaml
  ironic-deployment/basic-auth/tls/default/kustomization.yaml
  ironic-deployment/basic-auth/tls/keepalived/kustomization.yaml
  ironic-deployment/default/auth.yaml
  ironic-deployment/default/ironic-auth-config-tpl
  ironic-deployment/default/ironic-inspector-auth-config-tpl
  ironic-deployment/default/ironic-rpc-auth-config-tpl
  ironic-deployment/default/kustomization.yaml
  ironic-deployment/keepalived/auth.yaml
  ironic-deployment/keepalived/kustomization.yaml
  ironic-deployment/tls/default/auth.yaml
  ironic-deployment/tls/default/kustomization.yaml
  ironic-deployment/tls/keepalived/auth.yaml
  ironic-deployment/tls/keepalived/kustomization.yaml
  tools/deploy.sh
  tools/run_local_ironic.sh
Due: gosec, gomod, markdownlint, shellcheck, unit, generate, manifestlint

Switch the deployment to use a single ironic process
  docs/deploying.md
  ironic-deployment/basic-auth/default/auth.yaml
  ironic-deployment/basic-auth/default/kustomization.yaml
  ironic-deployment/basic-auth/keepalived/auth.yaml
  ironic-deployment/basic-auth/keepalived/kustomization.yaml
  ironic-deployment/basic-auth/tls/default/auth.yaml
  ironic-deployment/basic-auth/tls/default/kustomization.yaml
  ironic-deployment/basic-auth/tls/keepalived/auth.yaml
  ironic-deployment/basic-auth/tls/keepalived/kustomization.yaml
  ironic-deployment/default/ironic_bmo_configmap.env
  ironic-deployment/ironic/ironic.yaml
  ironic-deployment/keepalived/ironic_bmo_configmap.env
  ironic-deployment/tls/default/tls.yaml
  ironic-deployment/tls/keepalived/tls.yaml
  tools/deploy.sh
  tools/run_local_ironic.sh
Due: gosec, gomod, markdownlint, shellcheck, unit, generate, manifestlint

Copy labels from BaremetalHost to PreprovisioningImage
  controllers/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Check ImageReady observed generation
  controllers/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Avoid possible nil pointer deref
  controllers/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Guard against nil PreprovImage Labels and add unit tests
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/baremetalhost_controller_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Only update the HFS status on changes
  controllers/metal3.io/hostfirmwaresettings_controller.go
  controllers/metal3.io/hostfirmwaresettings_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Update vendor
  vendor/github.com/metal3-io/baremetal-operator/apis/metal3.io/v1alpha1/baremetalhost_validation.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Clarify documentation on BMC formats
  docs/api.md
  hack/markdownlint.sh
Due: gosec, gomod, markdownlint, shellcheck, unit, generate, manifestlint

imageprovider: an explicit state when an image is not ready
  controllers/metal3.io/preprovisioningimage_controller.go
  pkg/imageprovider/invalid.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Expose CheckRAIDInterface from the RAID module
  pkg/hardwareutils/bmc/access_test.go
  pkg/provisioner/ironic/raid.go
  pkg/provisioner/ironic/raid_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Fix software RAID
  docs/api.md
  pkg/provisioner/ironic/raid.go
  pkg/provisioner/ironic/raid_test.go
Due: gofmt, gosec, gomod, markdownlint, unit, generate, golint, manifestlint

Enable RAID for Redfish-based iDRAC driver flavor
  pkg/hardwareutils/bmc/idrac_virtualmedia.go
  pkg/hardwareutils/bmc/redfish.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

ocp: add baremetal capability annotation
  config/crd/ocp/ocp_kustomization.yaml
Due: gosec, gomod, unit, generate, manifestlint

Fix NAMEPREFIX default value
  tools/deploy.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

Remove amd64 and linux to ensure multiarch build
  Dockerfile
Due: gosec, gomod, unit, generate, manifestlint

Remove amd64 from Tiltfile
  Tiltfile
Due: gosec, gomod, unit, generate, manifestlint

Enable multi-arch builds
  Dockerfile.ocp
Due: gosec, gomod, unit, generate, manifestlint

Move bmh crd to level 31
  Dockerfile.ocp
Due: gosec, gomod, unit, generate, manifestlint

Fix make target for setting Ironic image
  Makefile
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: \.md$
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  golint: any of: \.go$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$
