Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test

Path conditions:
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  unit: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  build: any of: ^api|^test|^Makefile$
  test: any of: ^(Makefile|hack/.*)$

remove scheduled osv-scanner workflow
  .github/workflows/scheduled-osv-scan.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Fix go.mod in fake apiserver
  hack/fake-apiserver/cmd/metal3-fkas/main.go
  hack/fake-apiserver/go.mod
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, test

Fix go.mod in fake apiserver
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, test

Fix go.mod in fake apiserver
  hack/fake-apiserver/go.mod
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, test

Improve controller logging coverage and fix tests
  controllers/logging_helpers.go
  controllers/metal3cluster_controller.go
  controllers/metal3cluster_controller_test.go
  controllers/metal3data_controller.go
  controllers/metal3data_controller_test.go
  controllers/metal3datatemplate_controller.go
  controllers/metal3datatemplate_controller_test.go
  controllers/metal3labelsync_controller.go
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_integration_test.go
  controllers/metal3machine_controller_test.go
  controllers/metal3machinetemplate_controller.go
  controllers/metal3machinetemplate_controller_test.go
  controllers/metal3remediation_controller.go
  controllers/metal3remediation_controller_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Stop using dev-env in E2E setup
  .yamlfmt
  Makefile
  baremetal/metal3cluster_manager_test.go
  controllers/suite_test.go
  hack/e2e/external.xml
  hack/e2e/fake-ipa.sh
  hack/e2e/net.xml
  hack/e2e/provisioning.xml
  hack/ensure-go.sh
  hack/ensure_kubectl.sh
  hack/ensure_minikube.sh
  hack/ensure_yq.sh
  scripts/ci-e2e.sh
  scripts/clean-e2e.sh
  test/e2e/bmc.go
  test/e2e/cert_manager.go
  test/e2e/common.go
  test/e2e/config/bmcs-redfish-virtualmedia.yaml
  test/e2e/config/bmcs.yaml
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/bmo-deployment/overlays/release-latest/ironic.env
  test/e2e/data/clean_local_bmh_test_setup.sh
  test/e2e/data/dnsmasq.env
  test/e2e/data/infrastructure-metal3/v1.9/bases/cluster-with-topology/cluster-with-topology.yaml
  test/e2e/data/infrastructure-metal3/v1.9/bases/cluster/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-metal3/v1.9/bases/cluster/md.yaml
  test/e2e/data/infrastructure-metal3/v1.9/bases/clusterclass-cluster/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-metal3/v1.9/bases/clusterclass-cluster/md.yaml
  test/e2e/data/infrastructure-metal3/v1.9/bases/clusterclass-ubuntu-kubeadm-config/clusterclass-ubuntu-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/v1.9/bases/ubuntu-kubeadm-config/ubuntu-kubeadm-config.yaml
  test/e2e/data/ironic-deployment/overlays/release-latest/ironic-patch.yaml
  test/e2e/data/ironic-deployment/overlays/release-latest/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-latest/kustomization.yaml
  test/e2e/data/sushy-tools/sushy-emulator.conf
  test/e2e/e2e_suite_test.go
  test/e2e/node_reuse.go
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

add AGENTS.md
  .gitignore
  AGENTS.md
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint

Run make lint and fix lint ci issue
  controllers/logging_helpers.go
  controllers/metal3cluster_controller.go
  controllers/metal3data_controller.go
  controllers/metal3datatemplate_controller.go
  controllers/metal3labelsync_controller.go
  controllers/metal3machine_controller.go
  controllers/metal3machinetemplate_controller.go
  controllers/metal3remediation_controller.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Add yamllint workflow
  .github/workflows/yamllint.yaml
  .yamllint.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Fix nil pointer issue while checking bootstrapReadyCondition
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  controllers/metal3machine_controller.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Improve logging in e2e tests
  scripts/fetch_manifests.sh
  test/e2e/common.go
  test/e2e/logcollector.go
  test/e2e/pivoting.go
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

add image SBOM attestation to image builds
  .github/workflows/build-images-action.yml
  .github/workflows/release.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Test ubuntu ci with old ironic image
  scripts/ci-e2e.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

Feruz returning from emeritus status
  OWNERS
  OWNERS_ALIASES
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Fix capi-md-e2e test to support taint propogation feature
  Makefile
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/infrastructure-metal3/main/cluster-template-centos-md-taints/kustomization.yaml
  test/e2e/data/infrastructure-metal3/main/cluster-template-centos-md-taints/md-taints.yaml
  test/e2e/data/infrastructure-metal3/main/cluster-template-ubuntu-md-taints/kustomization.yaml
  test/e2e/data/infrastructure-metal3/main/cluster-template-ubuntu-md-taints/md-taints.yaml
  test/e2e/md_rollout_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

bump golang to 1.24.11
  Dockerfile
  Makefile
  hack/fake-apiserver/Dockerfile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Use IRSO in e2e tests
  scripts/ci-e2e.sh
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/bmo-deployment/overlays/release-0.9/ironic.env
  test/e2e/data/bmo-deployment/overlays/release-0.9/kustomization.yaml
  test/e2e/data/ironic-deployment/components/basic-auth/auth.yaml
  test/e2e/data/ironic-deployment/components/basic-auth/ironic-auth-config-tpl
  test/e2e/data/ironic-deployment/components/basic-auth/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/pr-test/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/pr-test/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/pr-test/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/release-27.0/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-27.0/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/release-27.0/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/release-29.0/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-29.0/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/release-29.0/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/release-31.0/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-31.0/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/release-31.0/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/release-32.0/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-32.0/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/release-32.0/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/release-latest/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-latest/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/release-latest/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/base/ironic.yaml
  test/e2e/data/ironic-standalone-operator/ironic/base/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/components/basic-auth/auth-patch.yaml
  test/e2e/data/ironic-standalone-operator/ironic/components/basic-auth/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/components/tls/certificate.yaml
  test/e2e/data/ironic-standalone-operator/ironic/components/tls/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/components/tls/tls.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/latest/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/pr-test/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/release-31.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/release-32.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/kustomization.yaml
  test/e2e/pivoting.go
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

refactor: remove removeFinalizers helper method
  baremetal/metal3data_manager.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Add more test coverage
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Implement `FromPoolAnnotation`
  api/v1beta1/metal3datatemplate_types.go
  api/v1beta1/zz_generated.deepcopy.go
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datatemplates.yaml
  internal/webhooks/v1beta1/metal3datatemplate_webhook.go
  internal/webhooks/v1beta1/metal3datatemplate_webhook_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Add n+3 test in e2e
  scripts/ci-e2e.sh
  scripts/environment.sh
  test/e2e/common.go
  test/e2e/upgrade_kubernetes_n3_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

fix clusterctl upgrade test to upgrade to latest available version
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_test.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/shared/ipam-metal3/v1.12/metadata.yaml
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

enable container signing
  .github/workflows/build-fkas-images-action.yml
  .github/workflows/build-images-action.yml
  .github/workflows/release.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Uplift CAPI to v1.12.0-rc.1
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

lint: allow long lines in tables and code fences
  .markdownlint-cli2.yaml
  CONTRIBUTING.md
  docs/architecture.md
  docs/e2e-test.md
  docs/getting-started.md
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint

Add 'name' field to network links and make MAC address optional
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Don't redeclare MAC absence error
  baremetal/metal3data_manager.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Uplift IPAM v1.12.0-rc.0 and BMO v0.12.0-rc.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/e2e/config/e2e_conf.yaml
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build
