Repository metal3-io/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: check-prow-config, markdownlint, shellcheck

Path conditions:
  check-prow-config: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: (\.md|markdownlint\.sh)$
  shellcheck: any of: ((\.sh)|^Makefile)$

Run feature tests independently
  jenkins/jobs/e2e_features_test.pipeline
  jenkins/jobs/parallel_e2e_features_test.pipeline
Due: check-prow-config

Set disk image builder to latest 3.33.0 version
  jenkins/image_building/build-image.sh
Due: check-prow-config, shellcheck

Set trap to cleanup in build-image.sh
  jenkins/image_building/build-image.sh
Due: check-prow-config, shellcheck

Update prow config feature tests triggers
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Make sure the git clone destination is empty
  jenkins/scripts/dynamic_worker_workflow/dev_env_integration_tests.sh
Due: check-prow-config, shellcheck

Fix IMAGE_LOCATION in build-image.sh
  jenkins/image_building/build-image.sh
  jenkins/image_building/verify-node-image.sh
Due: check-prow-config, shellcheck

Remove 1.5 clusterctl tests
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Remove KIND_NODE_IMAGE_VERSION from the build image pipeline
  jenkins/jobs/image_building.pipeline
Due: check-prow-config

Increase timeout minutes for node image building pipeline
  jenkins/jobs/image_building.pipeline
Due: check-prow-config

Set trap to run `make clean` after integration test
  jenkins/image_building/verify-node-image.sh
  jenkins/scripts/dynamic_worker_workflow/dev_env_integration_tests.sh
Due: check-prow-config, shellcheck

Test release 1.7 of capm3 with go v1.22
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Test ipam 1.7 release with go 1.22
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Change bmo release 0.6 testing to golang 1.22
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Test capm3 release 1.6 with golang 1.22
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Test ipam release 1.6 with golang 1.22
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Test bmo release 0.5 with golang 1.22
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Fix Calico CrashLoopBackOff in ubuntu e2e tests
  jenkins/image_building/dib_elements/ubuntu-node/post-install.d/90-pre-pull-images
Due: check-prow-config

Bumping k8s-prow images
  prow/manifests/base/crier.yaml
  prow/manifests/base/deck.yaml
  prow/manifests/base/ghproxy.yaml
  prow/manifests/base/hook.yaml
  prow/manifests/base/horologium.yaml
  prow/manifests/base/prow-controller-manager.yaml
  prow/manifests/base/sinker.yaml
  prow/manifests/base/statusreconciler.yaml
  prow/manifests/base/tide.yaml
  prow/manifests/overlays/metal3/config.yaml
  prow/manifests/overlays/metal3/external-plugins/cherrypicker_deployment.yaml
  prow/manifests/overlays/metal3/external-plugins/jenkins-operator.yaml
  prow/manifests/overlays/metal3/external-plugins/labels_cronjob.yaml
  prow/manifests/overlays/metal3/external-plugins/needs-rebase_deployment.yaml
Due: check-prow-config

Add release-1.8 configurations
  jenkins/README.md
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config, markdownlint

Change image-building pipeline to a matrix
  jenkins/image_building/build-image.sh
  jenkins/image_building/upload-node-image.sh
  jenkins/image_building/verify-node-image.sh
  jenkins/jobs/image_building.pipeline
  jenkins/scripts/dynamic_worker_workflow/dev_env_integration_tests.sh
Due: check-prow-config, shellcheck

test running e2e features, ephemeral tests in private cloud.
  jenkins/jobs/capm3-e2e-tests.pipeline
  jenkins/jobs/e2e_features_test.pipeline
Due: check-prow-config

Add container image build wf template
  .github/workflows/container-image-build.yml
Due: check-prow-config

Changing default permissions in container-image-build-wf to read
  .github/workflows/container-image-build.yml
Due: check-prow-config

Remove EoL ironic-image 23.1 from config
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Uplift kubernetes version to v1.31.0 for image building
  jenkins/image_building/build-image.sh
Due: check-prow-config, shellcheck

Update prow config to match jenkins pipelines
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Fix agent label with actual flavor
  jenkins/jobs/capm3-e2e-tests.pipeline
  jenkins/jobs/dev_env_integration_tests.pipeline
Due: check-prow-config

Use python-venv to replace virtualenv in build-image.sh
  jenkins/image_building/build-image.sh
Due: check-prow-config, shellcheck

Fix CI image building pipeline
  jenkins/image_building/build-image.sh
  jenkins/image_building/upload-ci-image.sh
  jenkins/jobs/image_building.pipeline
Due: check-prow-config, shellcheck

Regroup prow config by tests
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Add release-1.8 config
  jenkins/README.md
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config, markdownlint

Move image building jobs to private cloud
  jenkins/jobs/image_building.pipeline
Due: check-prow-config

Do not upload images to fra region
  jenkins/image_building/upload-ci-image.sh
Due: check-prow-config, shellcheck

Change BMO release-0.7 to release-0.8
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Move k8s upgrade and e2e features tests to private cloud
  jenkins/jobs/capm3-e2e-tests.pipeline
  jenkins/jobs/e2e_features_test.pipeline
Due: check-prow-config

Update config for ironic-image release-26.0
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

fix required tests in prow config for ipam and ironic-image
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Bumping k8s-prow images
  prow/manifests/base/crier.yaml
  prow/manifests/base/deck.yaml
  prow/manifests/base/ghproxy.yaml
  prow/manifests/base/hook.yaml
  prow/manifests/base/horologium.yaml
  prow/manifests/base/prow-controller-manager.yaml
  prow/manifests/base/sinker.yaml
  prow/manifests/base/statusreconciler.yaml
  prow/manifests/base/tide.yaml
  prow/manifests/overlays/metal3/config.yaml
  prow/manifests/overlays/metal3/external-plugins/cherrypicker_deployment.yaml
  prow/manifests/overlays/metal3/external-plugins/jenkins-operator.yaml
  prow/manifests/overlays/metal3/external-plugins/needs-rebase_deployment.yaml
Due: check-prow-config
