Repository metal3-io/ip-address-manager: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, shellcheck, unit, generate, manifestlint

Path conditions:
  gomod: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: \.md$
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$

bump gosec and fix errors
  .github/workflows/golangci-lint.yml
  .golangci.yaml
  hack/ensure-golangci-lint.sh
  hack/gosec.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint

remove hack/gosec.sh
  hack/gosec.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint

fix releasing.md on annotated tags
  docs/releasing.md
Due: markdownlint

Bumping CAPI to 1.5.2
  Dockerfile
  Makefile
  examples/generate.sh
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint

Bumping CAPI to 1.4.7
  Dockerfile
  examples/generate.sh
  go.mod
  go.sum
  hack/ensure-go.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint

clarify module tag usage
  docs/releasing.md
Due: markdownlint

add hack/verify-release.sh script
  docs/releasing.md
  hack/verify-release.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, shellcheck, unit, generate, manifestlint

add hack/verify-release.sh
  hack/verify-release.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint

drop test tag from verify-release.sh
  hack/verify-release.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint

fix hack/verify-release.sh module list printout
  hack/verify-release.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint

use GLOBIGNORE to ignore hack/tools/go.mod
  hack/verify-release.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint

sync go modules in release-1.4
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Fix multi-architecture images build
  Dockerfile
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

bump x/net to 0.17.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump golang version to v1.20.10
  Dockerfile
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint

Bump golang to v1.20.10
  Dockerfile
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint

Bump golang version to 1.20.10
  Dockerfile
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump CAPI to v1.4.8
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Adding PR title verifier
  .github/workflows/pr-verifier.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

test commit
  docs/testing.md
Due: markdownlint

fix the PR verifier permissions
  .github/workflows/pr-verifier.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

this is a test, do not merge
  README.md
Due: markdownlint

Prepare metal3-ipam as a CAPI IPAM provider
  clusterctl-settings.json
  metadata.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Commit signing off update.
  .gitignore
  CONTRIBUTING.md
Due: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, unit, generate, manifestlint

test commit
  CONTRIBUTING.md
Due: markdownlint

improve hack/verify-release.sh draft release note handling
  hack/verify-release.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint

Bump golang version to 1.20.11
  Dockerfile
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint

Bump golang to 1.20.11 for release-1.5
  Dockerfile
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint

Bump golang to 1.20.11 for release-1.4
  .gitignore
  Dockerfile
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Add github action to trigger container image build
  .github/workflows/build-images-action.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Fix error in build image github action
  .github/workflows/build-images-action.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Delete ok-to-test labels from dependabot
  .github/dependabot.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint
