Repository metal3-io/ip-address-manager: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, shellcheck, unit, generate, manifestlint, test

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

golangci-lint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/ensure-golangci-lint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

govet:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/govet.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/codegen.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

test:
  decorate: true
  spec:
    containers:
    - args:
      - test
      command:
      - make
      image: docker.io/golang:1.22
      imagePullPolicy: Always

bump golang to 1.23.7
  Dockerfile
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

fix for git leaks
  .gitleaksignore
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

clean the toolchain directive off the go.mods
  api/go.mod
  go.mod
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

fix dependabot testing issues by re-adding "edited"
  .github/workflows/golangci-lint.yml
  .github/workflows/lint-docs.yaml
  .github/workflows/pr-gh-workflow-approve.yaml
  .github/workflows/pr-verifier.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

bump x/oauth2 to v0.27.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

bump x/net and x/oauth2
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint, test

group all github action bumps into single PR
  .github/dependabot.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

bump tj-actions/changed-files to v46.0.1
  .github/workflows/release.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump golangci-lint to v1.64.7
  .github/workflows/golangci-lint.yml
  .golangci.yaml
  hack/ensure-golangci-lint.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

bump CAPI v1.10.0-beta.0
  api/go.mod
  api/go.sum
  api/v1alpha1/ipaddress_webhook.go
  api/v1alpha1/ipaddress_webhook_test.go
  api/v1alpha1/ipclaim_webhook.go
  api/v1alpha1/ipclaim_webhook_test.go
  api/v1alpha1/ippool_webhook.go
  api/v1alpha1/ippool_webhook_test.go
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

update osv-scanner to v2.0.0
  .github/workflows/osv-scanner-scan.yml
  hack/verify-release.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Bump kustomize to 5.6.0 and code-generator to 0.32.3
  hack/tools/go.mod
  hack/tools/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint, test

Decouple webhooks from api
  Dockerfile
  Makefile
  internal/webhooks/v1alpha1/doc.go
  internal/webhooks/v1alpha1/ipaddress_webhook.go
  internal/webhooks/v1alpha1/ipaddress_webhook_test.go
  internal/webhooks/v1alpha1/ipclaim_webhook.go
  internal/webhooks/v1alpha1/ipclaim_webhook_test.go
  internal/webhooks/v1alpha1/ippool_webhook.go
  internal/webhooks/v1alpha1/ippool_webhook_test.go
  main.go
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Bump CAPI to 1.10.0-beta.1
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

update the used linters list
  .golangci.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

:rocket: Release v1.10.0-beta.0
  releasenotes/v1.10.0-beta.0.md
Due: markdownlint

Enable ginkgolinter and fix all findings
  .golangci.yaml
  controllers/ippool_controller_test.go
  ipam/ippool_manager_test.go
  ipam/utils_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

🌱 Enable errname, forbidigo, forcetypeassert, gci, mnd, perfsprint and unparam linters
  .golangci.yaml
  api/v1alpha1/utils_test.go
  controllers/ippool_controller_test.go
  controllers/suite_test.go
  hack/tools/release/notes.go
  ipam/ippool_manager.go
  ipam/ippool_manager_test.go
  ipam/manager_factory_test.go
  ipam/reconcile_error.go
  ipam/reconcile_error_test.go
  ipam/suite_test.go
  ipam/utils.go
  ipam/utils_test.go
  main.go
  test/fuzz/ippool_controller_fuzzer.go
  test/fuzz/ippool_manager_fuzzer.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint, test

🌱 Enable errname, forbidigo, forcetypeassert, mnd, perfsprint and unparam linters
  .golangci.yaml
  api/v1alpha1/utils_test.go
  controllers/ippool_controller_test.go
  controllers/suite_test.go
  hack/tools/release/notes.go
  ipam/ippool_manager.go
  ipam/ippool_manager_test.go
  ipam/manager_factory_test.go
  ipam/reconcile_error.go
  ipam/reconcile_error_test.go
  ipam/suite_test.go
  ipam/utils.go
  ipam/utils_test.go
  main.go
  test/fuzz/ippool_controller_fuzzer.go
  test/fuzz/ippool_manager_fuzzer.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint, test

move mquhuy to emeritus reviewers
  OWNERS
  OWNERS_ALIASES
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

do not bump major version of github actions
  .github/dependabot.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

bump golang to v1.23.8 and x/net to v0.38.0
  Dockerfile
  Makefile
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

add labels to Dockerfile
  Dockerfile
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

make osv-scanner scan run daily
  .github/workflows/osv-scanner-scan.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Limitation regarding IPClaim
  README.md
Due: markdownlint

Bump CAPI to v1.10.0-rc.0
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Adding feature for allocating requested IP
  examples/ippool/ippool.yaml
  ipam/ippool_manager.go
  ipam/ippool_manager_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Enable dupl linter
  .golangci.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Make Adil and Peppi maintainers
  OWNERS_ALIASES
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Set GITHUB_TOKEN in env in release workflow
  .github/workflows/release.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Path conditions:
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$
