Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, golint, govet, markdownlint, shellcheck, generate, unit, manifestlint

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

golint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/golint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

govet:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/govet.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:latest
      imagePullPolicy: Always

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:stable
      imagePullPolicy: Always

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/codegen.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/garethr/kubeval:latest
      imagePullPolicy: Always

Fix providerID format logic.
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  baremetal/mocks/zz_generated.metal3machine_manager.go
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_integration_test.go
  controllers/metal3machine_controller_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Add kubesec for CAPM3
  .github/workflows/kubesec.yml
  template/sarif.tpl
Due: gofmt, golint, govet, generate, unit, manifestlint

Name CI test badges correctly
  README.md
Due: markdownlint

Uplift to gopkg.in/yaml.v3 v3.0.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Don't write hardware details into statusAnnotation
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

:book: Add dead link linter github workflow
  .github/workflows/lint-docs.yaml
  .markdownlinkcheck.json
Due: gofmt, golint, govet, generate, unit, manifestlint

Mitigates https://github.com/advisories/GHSA-cg3q-j54f-5p7p
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Uplift CAPI modules to v0.4.8 in release-0.5 branch
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Uplift CAPI to v1.1.4 in main branch
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Fix broken links in documents
  .github/workflows/lint-docs.yaml
  docs/dev-setup.md
  docs/releasing.md
Due: gofmt, golint, govet, markdownlint, generate, unit, manifestlint

Update CAPI notes with updated release notes
  README.md
Due: markdownlint

Add CAPI labels on hardwareData CRD to pivot
  test/e2e/pivoting_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Downgrade to Ubuntu 20.04
  docs/api.md
  examples/generate.sh
  scripts/environment.sh
  test/e2e/node_reuse_test.go
Due: gofmt, golint, govet, markdownlint, shellcheck, generate, unit, manifestlint

Add parallel e2e trigger to the README
  README.md
Due: markdownlint

Make ginkgo fail fast
  Makefile
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

The log format is wrong which leads a log panic. The form should be key:value pair as the definition: func (l Logger) Info(msg string, keysAndValues ...interface{})
  baremetal/metal3machine_manager.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Update template with the new providerID field
  scripts/environment.sh
  test/e2e/data/infrastructure-metal3/bases/centos-kubeadm-config/centos-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/bases/cluster/md.yaml
  test/e2e/data/infrastructure-metal3/bases/ubuntu-kubeadm-config/ubuntu-kubeadm-config.yaml
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Refine the code as suggested. Unify the format of log, do not use fmt.Sprintf.
  baremetal/metal3machine_manager.go
  baremetal/metal3remediation_manager.go
  controllers/metal3data_controller.go
  controllers/metal3labelsync_controller.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Add zhouhao3 as reviewer
  OWNERS
Due: none

Downgrade ubuntu to 20.04 to fix ironic/bmo communication
  docs/api.md
  examples/generate.sh
  test/e2e/node_reuse_test.go
Due: gofmt, golint, govet, markdownlint, shellcheck, generate, unit, manifestlint

Uplift github.com/docker/distribution v2.8.1
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Move dev-env cleaning to the makefile
  Makefile
  scripts/ci-e2e.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Uplift github.com/metal3-io/ip-address-manager v1.1.3
  api/go.mod
  api/go.sum
  config/ipam/image_patch.yaml
  config/ipam/kustomization.yaml
  go.mod
  go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Uplift github.com/metal3-io/baremetal-operator/apis 2022 June 17th
  go.mod
  go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Leave BMO and Ironic configmaps alone
  test/e2e/pivoting_test.go
  test/e2e/upgrade_management_cluster_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Update README notes with latest provider release version
  README.md
Due: markdownlint

Change hard coded object names and uuids
  baremetal/metal3data_manager_test.go
  baremetal/metal3datatemplate_manager_test.go
  baremetal/metal3machine_manager_test.go
  baremetal/metal3remediation_manager_test.go
  baremetal/suite_test.go
  baremetal/utils_test.go
  controllers/metal3data_controller_test.go
  controllers/metal3datatemplate_controller_test.go
  controllers/metal3labelsync_controller_test.go
  controllers/metal3machine_controller_integration_test.go
  controllers/metal3machinetemplate_controller_test.go
  controllers/suite_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Define ObjectMeta metav1.ObjectMeta at Test case level for baremetal package tests
  baremetal/suite_test.go
  controllers/suite_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Define ObjectMeta `metav1.ObjectMeta` at Test case level
  baremetal/metal3data_manager_test.go
  baremetal/metal3datatemplate_manager_test.go
  baremetal/metal3machine_manager_test.go
  baremetal/metal3machinetemplate_manager_test.go
  baremetal/suite_test.go
  baremetal/utils_test.go
  controllers/metal3data_controller_test.go
  controllers/suite_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Validate providerID for proper prefix
  baremetal/metal3machine_manager.go
Due: gofmt, golint, govet, generate, unit, manifestlint

live iso e2e test
  docs/e2e-test.md
  scripts/ci-e2e.sh
  test/e2e/live_iso_test.go
Due: gofmt, golint, govet, markdownlint, shellcheck, generate, unit, manifestlint

Update metadata.yaml
  metadata.yaml
Due: gofmt, golint, govet, generate, unit, manifestlint

fix error panic
  baremetal/metal3machine_manager.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Use ginkgo focus instead of boolean
  Makefile
  scripts/ci-e2e.sh
  scripts/environment.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Release v1.1.2 is out, update root README accordingly
  README.md
Due: markdownlint

Uplift k8s version to 1.23.8
  api/go.mod
  api/go.sum
  docs/api.md
  docs/dev-setup.md
  examples/generate.sh
  go.mod
  go.sum
  hack/fetch_ext_bins.sh
  hack/gen_tilt_settings.sh
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
Due: gofmt, golint, govet, markdownlint, shellcheck, generate, unit, manifestlint

Uplift cluster api to v1.1.5
  README.md
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: gofmt, golint, govet, markdownlint, generate, unit, manifestlint

Path conditions:
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  golint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: \.md$
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$
