Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test

Path conditions:
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  unit: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  build: any of: ^api|^test|^Makefile$
  test: any of: ^(Makefile|hack/.*)$

Uplift BMO to v0.6.2
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Uplift BMO to v0.8.0 and IPAM to v1.8.0
  api/go.mod
  api/go.sum
  config/ipam/image_patch.yaml
  config/ipam/kustomization.yaml
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Update job triggers
  README.md
Due: markdownlint

Add-job-trigger-release-1.8
  README.md
Due: markdownlint

Fix minor issues on README
  README.md
Due: markdownlint

Fix Centos E2E feature test badge
  README.md
Due: markdownlint

Fix remediation test badge name
  README.md
Due: markdownlint

Uplift CAPI in test to 1.6.8
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Bump CAPI to v1.8.2
  README.md
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint, build

Bump Golang to 1.22.7
  Dockerfile
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Fix cert rotation tests
  test/e2e/cert_rotation.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Increase wait-deployment timeout
  test/e2e/config/e2e_conf.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Fix log mesages
  baremetal/metal3data_manager.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Issue template for preparing new minor release in CAPM3, IPAM and BMO
  .github/ISSUE_TEMPLATE/prepare_minor_release.md
Due: markdownlint

Bump CAPI to v1.8.3
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Bump CAPI v1.7.6
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

increasing wait-control-plane timout
  test/e2e/config/e2e_conf.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Reuse PR verifier workflow from project-infra
  .github/workflows/pr-verifier.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

M3DataTemplate: requeue if reconcileDelete did not clear finalizer
  controllers/metal3datatemplate_controller.go
  controllers/metal3datatemplate_controller_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

test commit
  Makefile
  baremetal/metal3datatemplate_manager.go
  baremetal/metal3machine_manager.go
  controllers/metal3data_controller.go
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Change namespace for IPAM to fit changes
  Makefile
  config/default/kustomization.yaml
  config/ipam/image_patch.yaml
  config/ipam/kustomization.yaml
  config/ipam/pull_policy_patch.yaml
  hack/verify-release.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Propagate errors during patch to reconcile
  controllers/metal3cluster_controller.go
  controllers/metal3data_controller.go
  controllers/metal3datatemplate_controller.go
  controllers/metal3labelsync_controller.go
  controllers/metal3machine_controller.go
  controllers/metal3machinetemplate_controller.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Bump IPAM to v1.8.1
  api/go.mod
  api/go.sum
  config/ipam/image_patch.yaml
  config/ipam/kustomization.yaml
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

bump markdownlint-cli2 to v0.12.0
  hack/markdownlint.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, test

Fix non terminating Data/DataTemplate deletion
  baremetal/metal3datatemplate_manager.go
  baremetal/metal3datatemplate_manager_test.go
  baremetal/mocks/zz_generated.metal3datatemplate_manager.go
  controllers/metal3data_controller.go
  controllers/metal3datatemplate_controller.go
  controllers/metal3datatemplate_controller_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Add Metal3 Fake API Server (FKAS)
  .github/dependabot.yml
  .github/workflows/build-fkas-images-action.yml
  Makefile
  docs/releasing.md
  hack/fake-apiserver/Dockerfile
  hack/fake-apiserver/README.md
  hack/fake-apiserver/cmd/metal3-fkas-reconciler/main.go
  hack/fake-apiserver/cmd/metal3-fkas/main.go
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  hack/fake-apiserver/k8s/metal3-fkas-system-deployment.yaml
  hack/fake-apiserver/k8s/metal3-fkas.yaml
  hack/verify-release.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test

feat: add fake API server command for metal3-fkas
  hack/fake-apiserver/cmd/metal3-fkas/main.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, test

chore: Add logging to updateNode handler for better error diagnosis
  hack/fake-apiserver/cmd/metal3-fkas/main.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, test

feat: add main.go for fake apiserver with dynamic pod naming and logging improvements
  hack/fake-apiserver/cmd/metal3-fkas/main.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, test
