Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: \.md$
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  golint: any of: \.go$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$

Update .github/workflows/lint-docs.yaml
  .github/workflows/lint-docs.yaml
Due: gosec, gomod, unit, generate, manifestlint

Revert ":seedling: Bump github.com/golangci/golangci-lint in /hack/tools"
  hack/tools/go.mod
  hack/tools/go.sum
Due: gosec, gomod, unit, generate, manifestlint

check if baremetalhost statusannotation is valid
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/baremetalhost_validation.go
  apis/metal3.io/v1alpha1/baremetalhost_validation_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add reboot, inspection and hardware details annotations
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/baremetalhost_validation.go
  apis/metal3.io/v1alpha1/baremetalhost_validation_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

remove duplicate decoding for status annotation and hardware details annotation
  apis/metal3.io/v1alpha1/baremetalhost_validation.go
  apis/metal3.io/v1alpha1/baremetalhost_validation_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

remove file reference in auto generated docs
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  config/crd/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

change validation function names for consistency
  apis/metal3.io/v1alpha1/baremetalhost_validation.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

update error messages, add comments for status annotation and use const variables for consistency
  apis/go.mod
  apis/go.sum
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/baremetalhost_validation.go
  apis/metal3.io/v1alpha1/baremetalhost_validation_test.go
  config/crd/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  go.mod
  go.sum
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

validate if status subsresource already exists when adding status annotation
  apis/metal3.io/v1alpha1/baremetalhost_validation.go
  apis/metal3.io/v1alpha1/baremetalhost_validation_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

updated variable names as per golang camel case convention
  apis/metal3.io/v1alpha1/baremetalhost_validation.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

declare allowed values for operational status and error type
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/baremetalhost_validation.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

update releasing.md with release branches
  CONTRIBUTING.md
  docs/releasing.md
Due: markdownlint

moved object metadata inline for validation tests, minor changes in generated docs and variable name
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/baremetalhost_validation.go
  apis/metal3.io/v1alpha1/baremetalhost_validation_test.go
  config/crd/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Hard reboot shouldn't wait for soft reboot
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Change iBMC to use iPXE instead of PXE
  pkg/hardwareutils/bmc/access_test.go
  pkg/hardwareutils/bmc/ibmc.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

keep annotation constants in metal3api and remove duplicate declaration from Controller
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/baremetalhost_validation.go
  apis/metal3.io/v1alpha1/baremetalhost_validation_test.go
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/baremetalhost_controller_test.go
  controllers/metal3.io/host_state_machine_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Set minimum TLS version for webhook to 1.2
  main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Convert deprecated TLSMinVersion to TLSOpts in webhook config
  main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Split ironic deployment to smaller deployments
  ironic-deployment/base/ironic-common.yaml
  ironic-deployment/base/kustomization.yaml
  ironic-deployment/components/basic-auth/auth.yaml
  ironic-deployment/components/keepalived/keepalived_patch.yaml
  ironic-deployment/components/mariadb/mariadb_patch.yaml
  ironic-deployment/components/tls/tls.yaml
Due: gosec, gomod, unit, generate, manifestlint

Added tls configuration flags for bmo.
  go.mod
  go.sum
  main.go
  main_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Trigger reconcile on Secret change
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/preprovisioningimage_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Fixed code quality issues in bmo tls configuration
  main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add an explicit Architecture field (closes #1270)
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  config/crd/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/baremetalhost_controller_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Do not use profiles for node properties (including architecture)
  apis/metal3.io/v1alpha1/profile/profile.go
  controllers/metal3.io/baremetalhost_controller.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/updateopts_test.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Bump go version to v1.20
  .github/workflows/release.yaml
  Dockerfile
  Makefile
  Tiltfile
  apis/go.mod
  go.mod
  hack/generate.sh
  hack/gofmt.sh
  hack/golint.sh
  hack/gomod.sh
  hack/tools/go.mod
  hack/tools/go.sum
  hack/unit.sh
  pkg/hardwareutils/go.mod
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

Kustomize: Update patchesStrategicMerge to patches
  config/basic-auth/default/kustomization.yaml
  config/basic-auth/tls/kustomization.yaml
  config/crd/kustomization.yaml
  config/default/kustomization.yaml
  config/tls/kustomization.yaml
  ironic-deployment/components/basic-auth/kustomization.yaml
  ironic-deployment/components/keepalived/kustomization.yaml
  ironic-deployment/components/mariadb/kustomization.yaml
  ironic-deployment/components/tls/kustomization.yaml
  ironic-deployment/overlays/basic-auth_tls/kustomization.yaml
Due: gosec, gomod, unit, generate, manifestlint

Kustomize: bases replaced by resources
  config/default/kustomization.yaml
  config/kustomization.yaml
Due: gosec, gomod, unit, generate, manifestlint

Kustomize: Set apiVersion and kind on kustomization.yaml
  config/certmanager/kustomization.yaml
  config/crd/kustomization.yaml
  config/default/kustomization.yaml
  config/manager/kustomization.yaml
  config/prometheus/kustomization.yaml
  config/rbac/kustomization.yaml
  config/webhook/kustomization.yaml
Due: gosec, gomod, unit, generate, manifestlint

Kustomize: Use replacements instead of vars
  config/certmanager/certificate.yaml
  config/certmanager/kustomizeconfig.yaml
  config/crd/kustomizeconfig.yaml
  config/default/kustomization.yaml
  config/render/capm3.yaml
  config/webhook/kustomizeconfig.yaml
  ironic-deployment/components/tls/kustomizeconfig.yaml
Due: gosec, gomod, unit, generate, manifestlint

Bump golangci-lint to v1.54.1 and fix lint issues
  cmd/make-bm-worker/main.go
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/bmceventsubscription_controller.go
  controllers/metal3.io/host_state_machine.go
  controllers/metal3.io/host_state_machine_test.go
  controllers/metal3.io/hostfirmwaresettings_test.go
  hack/tools/go.mod
  hack/tools/go.sum
  pkg/imageprovider/default.go
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/factory_test.go
  pkg/provisioner/ironic/ironic_test.go
  pkg/provisioner/ironic/prepare_test.go
  pkg/provisioner/ironic/testserver/server.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Bump golangci-lint to v1.54.2
  controllers/metal3.io/baremetalhost_controller_test.go
  controllers/metal3.io/host_state_machine_test.go
  hack/tools/go.mod
  hack/tools/go.sum
  pkg/provisioner/ironic/capabilities_test.go
  pkg/provisioner/ironic/configdrive_test.go
  pkg/provisioner/ironic/devicehints/devicehints_test.go
  pkg/provisioner/ironic/provision_test.go
  pkg/provisioner/ironic/validatemanagementaccess_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Allow selecting TLS version in ironic client transactions
  pkg/provisioner/ironic/clients/client.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

bump x/net to v0.14.0
  apis/go.mod
  apis/go.sum
  go.mod
  go.sum
Due: gosec, gomod, unit, generate, manifestlint

Bump controller-tools to v0.12.1
  config/crd/bases/metal3.io_baremetalhosts.yaml
  config/crd/bases/metal3.io_bmceventsubscriptions.yaml
  config/crd/bases/metal3.io_firmwareschemas.yaml
  config/crd/bases/metal3.io_hardwaredata.yaml
  config/crd/bases/metal3.io_hostfirmwaresettings.yaml
  config/crd/bases/metal3.io_preprovisioningimages.yaml
  config/rbac/role.yaml
  config/render/capm3.yaml
  config/webhook/manifests.yaml
  hack/tools/go.mod
  hack/tools/go.sum
Due: gosec, gomod, unit, generate, manifestlint

Bump controller-runtime to v0.15.2
  apis/go.mod
  apis/go.sum
  go.mod
  go.sum
Due: gosec, gomod, unit, generate, manifestlint

Remove duplicate openstack profile
  apis/metal3.io/v1alpha1/profile/profile.go
  vendor/github.com/metal3-io/baremetal-operator/apis/metal3.io/v1alpha1/profile/profile.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint
