Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test

Path conditions:
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  unit: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  build: any of: ^api|^test|^Makefile$
  test: any of: ^(Makefile|hack/.*)$

bump golang to v1.23.8 and x/net to v0.38.0
  Dockerfile
  Makefile
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/fake-apiserver/Dockerfile
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

bump golang to v1.23.8 and x/net to v0.38.0
  Dockerfile
  Makefile
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Add myself as reviewer
  OWNERS_ALIASES
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

clean the toolchain directive off the go.mod
  test/go.mod
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Update e2e tests to use capi v1.10.0-beta.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/shared/v1.10/metadata.yaml
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

clean the toolchain directive off the go.mod
  api/go.mod
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

add labels to Dockerfile
  Dockerfile
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

make osv-scanner scan run daily
  .github/workflows/osv-scanner-scan.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Bump BMO v0.10.0-beta.0 IPAM v1.10.0-beta.0 and Ginkgo v2.23.4
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test

:rocket: Release v1.10.0-beta.0
  releasenotes/v1.10.0-beta.0.md
Due: markdownlint

E2E: Ensure cert-manager webhook
  .gitignore
  test/e2e/data/cert-manager-test.yaml
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Set GITHUB_TOKEN in release wf
  .github/workflows/release.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Enabled tagliatelle linter
  .golangci.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Enabled forcetypeassert linter
  .golangci.yaml
  baremetal/utils.go
  controllers/metal3cluster_controller.go
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Enabled intrange linter
  .golangci.yaml
  baremetal/metal3datatemplate_manager.go
  test/e2e/node_reuse.go
  test/e2e/upgrade_clusterctl_test.go
  test/e2e/upgrade_kubernetes_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Apply BMH from CAPM3 during test and skip BMH creation from dev-env
  scripts/ci-e2e.sh
  test/e2e/basic_integration_test.go
  test/e2e/common.go
  test/e2e/integration_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Remove Metal3Machine owner reference from BMH
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  test/e2e/pivoting.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Downgrade versions Bumped in FKAS in PR: 2493
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, test

Bump CAPI 1.10.0-rc.0 and CAPM3 1.10.0-beta.0 in FKAS
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, test

Test pr to test logging
  test/e2e/pivoting.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Enabled dupl linter
  .golangci.yaml
  baremetal/metal3data_manager.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

BMH pause annotation should be synced with CAPM3 machine
  baremetal/metal3machine_manager.go
  controllers/metal3machine_controller.go
  test/e2e/pivoting.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Bump IPAM 1.10.0 and BMO 0.10.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/e2e/config/e2e_conf.yaml
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test

Bump Kubernetes to v1.33.0
  Makefile
  docs/api.md
  docs/architecture.md
  docs/dev-setup.md
  docs/e2e-test.md
  examples/generate.sh
  hack/ensure-kubectl.sh
  hack/gen_tilt_settings.sh
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test

fix setting empty ip address to metal3machine Status
  baremetal/metal3machine_manager.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

add dependabot config for release-1.10
  .github/dependabot.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

E2E: Use cert-manager version from config
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Bump BMO to v.0.10.1
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test
