Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:latest
      imagePullPolicy: Always

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:latest
      imagePullPolicy: Always

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:stable
      imagePullPolicy: Always

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/generate.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

golint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/golint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: quay.io/metal3-io/golint:latest
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/garethr/kubeval:latest
      imagePullPolicy: Always

Check for empty HFS status settings
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/baremetalhost_controller_test.go
  controllers/metal3.io/hostfirmwaresettings_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Address code review comments
  controllers/metal3.io/baremetalhost_controller_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add NET_RAW capability for dnsmasq
  ironic-deployment/ironic/ironic.yaml
Due: gosec, gomod, unit, generate, manifestlint

Set minReadySeconds for BMO and Ironic
  config/manager/manager.yaml
  config/render/capm3.yaml
  ironic-deployment/ironic/ironic.yaml
Due: gosec, gomod, unit, generate, manifestlint

docs/api: Add iRMC default port info
  docs/api.md
Due: markdownlint

remove_local_ironic.sh: update the list of containers
  tools/remove_local_ironic.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

Allow image provider to override kernel and add kernel params
  apis/metal3.io/v1alpha1/preprovisioningimage_types.go
  config/crd/bases/metal3.io_preprovisioningimages.yaml
  config/render/capm3.yaml
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/preprovisioningimage_controller.go
  pkg/imageprovider/default.go
  pkg/imageprovider/imageprovider.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/validatemanagementaccess_test.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add Riccardo to reviewers
  OWNERS
Due: none

Revert "Set maintenance reason when turning maintenance on"
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Update vendor
  apis/vendor/github.com/metal3-io/baremetal-operator/pkg/hardwareutils/bmc/idrac_virtualmedia.go
  apis/vendor/github.com/metal3-io/baremetal-operator/pkg/hardwareutils/bmc/redfish.go
  vendor/github.com/metal3-io/baremetal-operator/apis/metal3.io/v1alpha1/preprovisioningimage_types.go
  vendor/github.com/metal3-io/baremetal-operator/pkg/hardwareutils/bmc/idrac_virtualmedia.go
  vendor/github.com/metal3-io/baremetal-operator/pkg/hardwareutils/bmc/redfish.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

[OCP] Disable iDRAC RAID
  pkg/hardwareutils/bmc/idrac_virtualmedia.go
  pkg/hardwareutils/bmc/redfish.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Update vendoring
  apis/vendor/github.com/metal3-io/baremetal-operator/pkg/hardwareutils/bmc/idrac_virtualmedia.go
  apis/vendor/github.com/metal3-io/baremetal-operator/pkg/hardwareutils/bmc/redfish.go
  vendor/github.com/metal3-io/baremetal-operator/pkg/hardwareutils/bmc/idrac_virtualmedia.go
  vendor/github.com/metal3-io/baremetal-operator/pkg/hardwareutils/bmc/redfish.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Update go modules to latest releases
  apis/go.mod
  apis/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  pkg/provisioner/ironic/update_opts.go
  pkg/provisioner/ironic/updateopts_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Uplift controller-tools to v0.8.0
  Makefile
  config/crd/bases/metal3.io_baremetalhosts.yaml
  config/crd/bases/metal3.io_bmceventsubscriptions.yaml
  config/crd/bases/metal3.io_firmwareschemas.yaml
  config/crd/bases/metal3.io_hostfirmwaresettings.yaml
  config/crd/bases/metal3.io_preprovisioningimages.yaml
  config/rbac/role.yaml
  config/render/capm3.yaml
  config/webhook/manifests.yaml
  hack/tools/go.mod
  hack/tools/go.sum
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

test e2e
  README.md
Due: markdownlint

Create HardwareData CRD
  PROJECT
  apis/metal3.io/v1alpha1/hardwaredata_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/metal3.io_hardwaredata.yaml
  config/crd/kustomization.yaml
  config/crd/patches/cainjection_in_hardwaredata.yaml
  config/crd/patches/webhook_in_hardwaredata.yaml
  config/rbac/hardwaredata_editor_role.yaml
  config/rbac/hardwaredata_viewer_role.yaml
  config/render/capm3.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Uplift kustomize to v4 to remove go-getter dependency
  Makefile
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

Adjust operator to handle lifecycle of hardwareData CR
  config/crd/bases/metal3.io_hardwaredata.yaml
  config/rbac/role.yaml
  config/render/capm3.yaml
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/baremetalhost_controller_test.go
  controllers/metal3.io/host_state_machine_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add validation for host dnsname in BMH resource
  apis/metal3.io/v1alpha1/baremetalhost_validation.go
  apis/metal3.io/v1alpha1/baremetalhost_validation_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add more testcases, minor fixes
  apis/metal3.io/v1alpha1/baremetalhost_validation.go
  apis/metal3.io/v1alpha1/baremetalhost_validation_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Uplift to gopkg.in/yaml to v3.0.0
  apis/go.mod
  apis/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gosec, gomod, unit, generate, manifestlint

wrap errors and add a few more test cases
  apis/metal3.io/v1alpha1/baremetalhost_validation.go
  apis/metal3.io/v1alpha1/baremetalhost_validation_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add kubesec to BMO
  .github/workflows/kubesec.yml
  template/sarif.tpl
Due: gosec, gomod, unit, generate, manifestlint

Handle maintenance more gracefully
  pkg/provisioner/ironic/adopt_test.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/provision_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Get rid of a separate state for profile matching
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/baremetalhost_controller_test.go
  controllers/metal3.io/host_state_machine.go
  controllers/metal3.io/host_state_machine_test.go
  docs/BaremetalHost_ProvisioningState.dot
  docs/BaremetalHost_ProvisioningState.png
  docs/baremetalhost-states.md
Due: gofmt, gosec, gomod, markdownlint, unit, generate, golint, manifestlint

Skip the inspecting state when inspection is disabled
  controllers/metal3.io/host_state_machine.go
  controllers/metal3.io/host_state_machine_test.go
  docs/BaremetalHost_ProvisioningState.dot
  docs/BaremetalHost_ProvisioningState.png
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Get rid of envsubst for nameprefix
  ironic-deployment/basic-auth/default/auth.yaml
  ironic-deployment/basic-auth/default/kustomization.yaml
  ironic-deployment/basic-auth/keepalived/auth.yaml
  ironic-deployment/basic-auth/keepalived/kustomization.yaml
  ironic-deployment/basic-auth/tls/default/auth.yaml
  ironic-deployment/basic-auth/tls/default/kustomization.yaml
  ironic-deployment/basic-auth/tls/keepalived/auth.yaml
  ironic-deployment/basic-auth/tls/keepalived/kustomization.yaml
  ironic-deployment/certmanager/certificate.yaml
  ironic-deployment/default/kustomization.yaml
  ironic-deployment/ironic/ironic.yaml
  ironic-deployment/keepalived/keepalived_patch.yaml
  ironic-deployment/keepalived/kustomization.yaml
  ironic-deployment/tls/default/kustomization.yaml
  ironic-deployment/tls/default/tls.yaml
  ironic-deployment/tls/keepalived/kustomization.yaml
  ironic-deployment/tls/keepalived/tls.yaml
  tools/deploy.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

Split node enrollment from provisioning configuration
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/host_state_machine_test.go
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/validatemanagementaccess_test.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

WIP skip preparing when not needed
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/baremetalhost_controller_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Fix grammatical errors in comments
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Fix outdated BaremetaHost state diagram
  docs/BaremetalHost_ProvisioningState.dot
  docs/BaremetalHost_ProvisioningState.png
Due: gosec, gomod, unit, generate, manifestlint

Stop treating missing network as fatal error
  controllers/metal3.io/host_config_data.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

[CVE] Upgrade controller-runtime to v0.12.1
  apis/go.mod
  apis/go.sum
  config/crd/bases/metal3.io_baremetalhosts.yaml
  config/crd/bases/metal3.io_bmceventsubscriptions.yaml
  config/render/capm3.yaml
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gosec, gomod, unit, generate, manifestlint

Do not consider empty RAID and root device hints updated
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/baremetalhost_controller_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Don't register in Inspecting if inspection disabled
  controllers/metal3.io/host_state_machine.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Don't require image build for RHACM <= 2.4
  controllers/metal3.io/host_state_machine.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: \.md$
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  golint: any of: \.go$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$
