Repository metal3-io/metal3-dev-env: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

Update Kustomize version
  lib/common.sh
Due: shellcheck

Fix kustomize sha value (v5.4.1)
  lib/common.sh
Due: shellcheck

use ufei default instead of bios
  config_example.sh
  lib/common.sh
  lib/network.sh
  vars.md
  vm-setup/roles/common/tasks/vm_nodes_tasks.yml
  vm-setup/roles/libvirt/defaults/main.yml
  vm-setup/roles/libvirt/templates/baremetalvm.xml.j2
Due: shellcheck, markdownlint

Fix ImportError in k8s_fields_test.py
  tests/roles/run_tests/tests/__init__.py
  tests/roles/run_tests/tests/k8s_fields_test.py
Due: none

There is conflicting rpm packages add --nobest flag
  01_prepare_host.sh
  vm-setup/roles/packages_installation/tasks/centos_required_packages.yml
Due: shellcheck

Test CRIO v1.30 image, DO NOT MERGE THIS PR
  lib/images.sh
Due: shellcheck

Move furkatgofurov7 to emeritus approvers
  OWNERS
Due: none

Remove furkatgofurov7 from renovate assignees
  renovate.json
Due: none

speed up git cloning in dev-env
  lib/common.sh
Due: shellcheck

add OWNERS_ALIASES support
  OWNERS
  OWNERS_ALIASES
Due: none

Make minikube the default ephemeral cluster
  lib/common.sh
Due: shellcheck

remove kubesec workflow
  .github/workflows/kubesec.yml
Due: none

shellcheck only files
  hack/shellcheck.sh
Due: shellcheck

Bump golang to v1.22.3
  renovate.json
  vm-setup/install-package-playbook.yml
Due: none

test bmo release-0.6 branch
  lib/common.sh
Due: shellcheck

add custumization options for ipa downloader
  03_launch_mgmt_cluster.sh
  lib/common.sh
  vars.md
Due: shellcheck, markdownlint

Update bmo and tagalived tags for release-1.7
  README.md
  lib/common.sh
Due: shellcheck, markdownlint

tie BMO commits for CAPM3RELEASEBRANCH variables
  lib/common.sh
Due: shellcheck

Debug running dev-env without ironic tls
  lib/common.sh
Due: shellcheck

Install ansible in a virtual environment
  01_prepare_host.sh
  02_configure_host.sh
  host_cleanup.sh
  lib/common.sh
  tests/run.sh
  vm-setup/roles/packages_installation/tasks/main.yml
Due: shellcheck

Enable the use of local node images
  lib/image_prepull.sh
Due: shellcheck

Remove CentOS Stream 8 configuration leftovers
  lib/common.sh
  vm-setup/roles/packages_installation/defaults/main.yml
  vm-setup/roles/packages_installation/tasks/centos_required_packages.yml
  vm-setup/roles/packages_installation/tasks/main.yml
Due: shellcheck

Install go 1.21.x for release-1.5 branch
  vm-setup/install-package-playbook.yml
Due: none

Always re-install Ansible in the venv (fixes #1425)
  01_prepare_host.sh
Due: shellcheck

Use Python from the Ansible venv when importing Jinja2
  03_launch_mgmt_cluster.sh
Due: shellcheck

restore centos required packages task
  vm-setup/roles/packages_installation/tasks/centos_required_packages.yml
  vm-setup/roles/packages_installation/tasks/main.yml
Due: none

Remove support for Ubuntu 18 Bionic
  01_prepare_host.sh
  lib/common.sh
  vm-setup/roles/packages_installation/defaults/main.yml
  vm-setup/roles/packages_installation/tasks/main.yml
Due: shellcheck

Update build status links for dev env tests and remove olds tests
  README.md
Due: markdownlint

Add namespace directory in manifest collection
  tests/scripts/fetch_manifests.sh
Due: shellcheck

Hostnetworkless ironic with nodeports
  02_configure_host.sh
  03_launch_mgmt_cluster.sh
  config_example.sh
  ironic.yaml
  lib/common.sh
  tests/roles/run_tests/tasks/move.yml
  tests/roles/run_tests/tasks/move_back.yml
  tests/roles/run_tests/vars/main.yml
Due: shellcheck

Add PoC lb ironic hostnetworkless
  02_configure_host.sh
  03_launch_mgmt_cluster.sh
  config_example.sh
  ironic.yaml
  tests/roles/run_tests/tasks/move.yml
  tests/roles/run_tests/vars/main.yml
Due: shellcheck

remove hardcoded kubectl pinning
  lib/common.sh
  lib/download.sh
Due: shellcheck

adds scripts to remove network interfaces added by dev env in host cleanup step.
  host_cleanup.sh
Due: shellcheck

test metallb commit without pivot
  03_launch_mgmt_cluster.sh
  config_example.sh
  ironic.yaml
  tests/roles/run_tests/tasks/move.yml
  tests/roles/run_tests/vars/main.yml
  tests/test.sh
Due: shellcheck

source lib/network.sh in host_cleanup.sh
  host_cleanup.sh
Due: shellcheck

Add @elfosardo, @Rozzii and @tuminoid as approvers
  OWNERS_ALIASES
Due: none

Verbose "Image not found" error, if local image doesn't exist
  lib/image_prepull.sh
Due: shellcheck

add make target for prepulling images
  Makefile
  lib/image_prepull.sh
Due: shellcheck

Use 'virt' for latest
  vm-setup/roles/libvirt/templates/baremetalvm.xml.j2
Due: none

Add-release-1.8-branch-config
  README.md
  lib/common.sh
  lib/releases.sh
Due: shellcheck, markdownlint

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
