Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  golint: any of: \.go$
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$

Remove the unmaintained iRMC driver
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation_test.go
  pkg/hardwareutils/bmc/access_test.go
  pkg/hardwareutils/bmc/irmc.go
  pkg/provisioner/ironic/raid_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Deprecate BMH.Spec.Firmware (no drivers support it)
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

move security-insights.yml to .github/ and use upstream validator
  .github/security-insights.yml
  .github/workflows/validate-security-insights.yml
Due: gosec, gomod, unit, generate, manifestlint

Restructure VBMCTL into separate package and CLI
  Makefile
  hack/ci-e2e.sh
  test/go.mod
  test/vbmctl/README.md
  test/vbmctl/cmd/vbmctl/main.go
  test/vbmctl/main.go
  test/vbmctl/pkg/api/types.go
  test/vbmctl/pkg/api/types_test.go
  test/vbmctl/pkg/config/config.go
  test/vbmctl/pkg/config/config_test.go
  test/vbmctl/pkg/libvirt/doc.go
  test/vbmctl/pkg/libvirt/pool.go
  test/vbmctl/pkg/libvirt/templates.go
  test/vbmctl/pkg/libvirt/templates/VM.xml.tpl
  test/vbmctl/pkg/libvirt/templates/pool.xml.tpl
  test/vbmctl/pkg/libvirt/templates/volume.xml.tpl
  test/vbmctl/pkg/libvirt/vm.go
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Add BareMetalSwitch CRD and controller for switch config generation
  apis/metal3.io/v1alpha1/baremetalswitch_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalswitches.yaml
  config/base/crds/kustomization.yaml
  config/base/rbac/role.yaml
  config/overlays/e2e/baremetalswitch/kustomization.yaml
  config/overlays/e2e/baremetalswitch/namespace.yaml
  config/overlays/e2e/ironic.env
  config/overlays/e2e/kustomization.yaml
  config/overlays/e2e/namespaced-manager-patch.yaml
  config/overlays/e2e/roles-rolebindings/roles-rolebindings.yaml
  config/overlays/fixture/kustomization.yaml
  config/samples/baremetalswitch_sample.yaml
  docs/api.md
  internal/controller/metal3.io/baremetalswitch_config.go
  internal/controller/metal3.io/baremetalswitch_config_test.go
  internal/controller/metal3.io/baremetalswitch_controller.go
  main.go
  test/e2e/baremetalswitch_test.go
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
Due: gofmt, gosec, gomod, markdownlint, unit, generate, golint, manifestlint

harden github actions workflows
  .github/workflows/build-images-action.yml
  .github/workflows/build-pr.yml
  .github/workflows/e2e-fixture-test.yml
  .github/workflows/e2e-test.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/pr-gh-workflow-approve.yaml
  .github/workflows/pr-link-check.yml
  .github/workflows/pr-verifier.yaml
  .github/workflows/release.yaml
  .github/workflows/scheduled-link-check.yml
  .github/workflows/unit.yml
  .github/workflows/yamllint.yaml
Due: gosec, gomod, unit, generate, manifestlint

E2E: Increase inotify limits
  hack/ci-e2e.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Enable BMO to abort servicing to back out of failures
  internal/controller/metal3.io/baremetalhost_controller.go
  pkg/provisioner/ironic/servicing.go
  pkg/provisioner/ironic/servicing_test.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add Healthy condition based on BMC health rollup
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  go.mod
  go.sum
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_controller_test.go
  internal/controller/metal3.io/host_state_machine_test.go
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/power_test.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Adds overlays for release v0.12 Removes old overlays for release v0.9
  config/overlays/e2e-release-0.12/ironic.env
  config/overlays/e2e-release-0.12/kustomization.yaml
  config/overlays/fixture-release-0.12/kustomization.yaml
  hack/ci-e2e.sh
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-32.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-33.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/irso-v0.5/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/irso-v0.7/kustomization.yaml
  test/e2e/e2e_config.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

Utilities for unit testing of HostClaims
  Makefile
  internal/testing/common.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

correct choose logic
  pkg/hostclaim/hostclaim_manager.go
  pkg/hostclaim/hostclaim_manager_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Use status field to bind HostClaim to BMH
  apis/metal3.io/v1alpha1/hostclaim_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_hostclaims.yaml
  config/render/capm3.yaml
  pkg/hostclaim/hostclaim_manager.go
  pkg/hostclaim/hostclaim_manager_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Other review fixes
  pkg/hostclaim/hostclaim_manager.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Remove handling of capm3 labels during choose
  pkg/hostclaim/hostclaim_manager.go
  pkg/hostclaim/hostclaim_manager_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fix: github.pkg.errors to errors
  go.mod
  pkg/hostclaim/hostclaim_manager.go
  pkg/hostclaim/hostclaim_manager_test.go
  pkg/hostclaim/requeue_error.go
  pkg/hostclaim/requeue_error_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

remove tag unit for common
  Makefile
  internal/testing/common.go
  pkg/hostclaim/hostclaim_manager_test.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

Refactor test utility functions
  internal/testing/common.go
  pkg/hostclaim/hostclaim_manager_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Adds Associate logic for HostClaim
  go.mod
  go.sum
  pkg/hostclaim/hostclaim_manager.go
  pkg/hostclaim/hostclaim_manager_test.go
  pkg/hostclaim/requeue_error.go
  pkg/hostclaim/requeue_error_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add tests for per-host OCI registry authentication
  internal/controller/metal3.io/baremetalhost_controller_test.go
  internal/controller/metal3.io/image_auth_validator_test.go
  pkg/secretutils/dockerconfig_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add per-host OCI registry authentication for provisioning images
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/base/crds/bases/metal3.io_hostclaims.yaml
  config/render/capm3.yaml
  go.mod
  go.sum
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/image_auth_validator.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
  pkg/secretutils/dockerconfig.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

submit to go-1.25 linter new rules
  internal/testutil/common.go
  pkg/hostclaim/hostclaim_manager.go
  pkg/hostclaim/hostclaim_manager_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Prevent duplicate log watchers in E2E tests
  test/e2e/common.go
  test/e2e/e2e_suite_test.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

🌱 Bump github.com/cloudflare/circl to v1.6.3
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint

TEMP: Test with modified CAPI framework
  .golangci.yaml
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint, test

Exclude revive var-naming check for test/vbmctl/pkg/api
  .golangci.yaml
Due: gosec, gomod, unit, generate, manifestlint

E2E: Remove libvirt DHCP reservation from VMs
  test/e2e/automated_cleaning_test.go
  test/e2e/common.go
  test/e2e/config/bmcs-ipmi.yaml
  test/e2e/config/bmcs-redfish-virtualmedia.yaml
  test/e2e/config/bmcs-redfish.yaml
  test/e2e/data/ironic-standalone-operator/ironic/base/ironic.yaml
  test/e2e/live_iso_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Update vbmctlapi package name to fix lint error
  .golangci.yaml
  test/vbmctl/cmd/vbmctl/main.go
  test/vbmctl/main.go
  test/vbmctl/pkg/api/types.go
  test/vbmctl/pkg/api/types_test.go
  test/vbmctl/pkg/config/config.go
  test/vbmctl/pkg/config/config_test.go
  test/vbmctl/pkg/libvirt/pool.go
  test/vbmctl/pkg/libvirt/templates.go
  test/vbmctl/pkg/libvirt/vm.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add zizmor scanner
  .github/dependabot.yml
  .github/workflows/dependabot.yml
  .github/workflows/release.yaml
  .github/workflows/zizmor.yml
Due: gosec, gomod, unit, generate, manifestlint

Add PCI Address field to HardwareData
  apis/metal3.io/v1alpha1/hardwaredata_types.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/base/crds/bases/metal3.io_hardwaredata.yaml
  config/render/capm3.yaml
  go.mod
  go.sum
  pkg/provisioner/ironic/hardwaredetails/hardwaredetails.go
  pkg/provisioner/ironic/hardwaredetails/hardwaredetails_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Fix race condition where DataImage node-busy blocks power-on
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_controller_test.go
  pkg/provisioner/fixture/fixture.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Allow forced detachment of a host from Ironic
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/host_state_machine.go
  internal/controller/metal3.io/host_state_machine_test.go
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/clients/features.go
  pkg/provisioner/ironic/delete_test.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Allow deleting detached hosts in any state
  internal/controller/metal3.io/host_state_machine.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add an e2e test for forced detachment during provisioning
  test/e2e/forced_detachment_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Update Go version to 1.25.8
  Dockerfile
  Makefile
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Tests: avoid duplicated test names
  internal/controller/metal3.io/baremetalhost_controller_test.go
  internal/controller/metal3.io/host_state_machine_test.go
  pkg/provisioner/ironic/power_test.go
  pkg/provisioner/ironic/raid_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint
