Repository metal3-io/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: check-prow-config, markdownlint, shellcheck

Path conditions:
  check-prow-config: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: (\.md|markdownlint\.sh)$
  shellcheck: any of: ((\.sh)|^Makefile)$

Prow: Add infra node pool
  prow/capo-cluster/infra-kct.yaml
  prow/capo-cluster/infra-md.yaml
  prow/capo-cluster/kustomization.yaml
  prow/cluster-resources/kustomization.yaml
  prow/cluster-resources/toleration-node-selector-patch.yaml
  prow/infra/kustomization.yaml
  prow/infra/toleration-node-selector-patch.yaml
  prow/manifests/overlays/metal3/kustomization.yaml
  prow/manifests/overlays/metal3/toleration-node-selector-patch.yaml
Due: check-prow-config

Fix upgrade test pipeline and set the trigger branches
  jenkins/jobs/capm3-e2e-tests.pipeline
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Add config for ironic-image release-24.1
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Add PR_ID to upgrade pipeline
  jenkins/jobs/capm3-e2e-tests.pipeline
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Update README.md
  README.md
Due: markdownlint

Update BMO e2e matrix
  jenkins/jobs/bmo_e2e_tests.pipeline
Due: check-prow-config

Fix refspec with prow pipeline when running on project-infra PRs
  jenkins/jobs/capm3-e2e-tests.pipeline
  jenkins/jobs/parallel_e2e_features_test.pipeline
  jenkins/jobs/prow_integration_tests.pipeline
Due: check-prow-config

Simplify BMO e2e pipeline matrix
  jenkins/jobs/bmo_e2e_tests.pipeline
Due: check-prow-config

Fix missing refspec var
  jenkins/jobs/capm3-e2e-tests.pipeline
  jenkins/jobs/parallel_e2e_features_test.pipeline
  jenkins/jobs/prow_integration_tests.pipeline
Due: check-prow-config

Run e2e on ironic-image repo
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Build ironic locally when running tests on ironic-image repo
  jenkins/scripts/integration_test.sh
Due: check-prow-config, shellcheck

Trigger integration clean from prow
  jenkins/jobs/integration_tests_clean.pipeline
Due: check-prow-config

update ironic-image required tests
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Make tests triggered with prow required instead of ghprb on several repos
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Increasing timout for clusterctl upgrade tests
  jenkins/jobs/capm3-e2e-tests.pipeline
Due: check-prow-config

Make two tests required on main and only ubuntu on releases
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Make e2e run on other repos from prow
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Add dev-env-integration test to prow
  jenkins/jobs/dev_env_integration_tests.pipeline
  jenkins/scripts/dynamic_worker_workflow/dev_env_integration_tests.sh
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config, shellcheck

add branchprotector cronjob to prow
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

remove keep test related vars and configs
  jenkins/README.md
  jenkins/jobs/bml_integration_tests.pipeline
  jenkins/jobs/integration_tests.pipeline
  jenkins/jobs/parallel_e2e_features_test.pipeline
  jenkins/jobs/prow_integration_tests.pipeline
  jenkins/scripts/bml_integration_test.sh
  jenkins/scripts/dynamic_worker_workflow/feature_tests.sh
  jenkins/scripts/fetch_logs.sh
  jenkins/scripts/files/run_integration_tests.sh
  jenkins/scripts/integration_clean.sh
  jenkins/scripts/integration_delete.sh
  jenkins/scripts/integration_test.sh
  jenkins/scripts/integration_test_clean.sh
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config, markdownlint, shellcheck

Add build pipeline for node images
  jenkins/image_building/build-ci-image.sh
  jenkins/image_building/build-image.sh
  jenkins/image_building/dib_elements/centos-node/README.md
  jenkins/image_building/dib_elements/centos-node/element-deps
  jenkins/image_building/dib_elements/centos-node/install.d/55-install
  jenkins/image_building/dib_elements/centos-node/package-installs.yaml
  jenkins/image_building/dib_elements/centos-node/post-install.d/90-pre-pull-images
  jenkins/image_building/dib_elements/centos-node/pre-install.d/55-setup-repos
  jenkins/image_building/dib_elements/ubuntu-node/README.md
  jenkins/image_building/dib_elements/ubuntu-node/element-deps
  jenkins/image_building/dib_elements/ubuntu-node/install.d/55-install
  jenkins/image_building/dib_elements/ubuntu-node/package-installs.yaml
  jenkins/image_building/dib_elements/ubuntu-node/post-install.d/90-pre-pull-images
  jenkins/image_building/dib_elements/ubuntu-node/pre-install.d/55-setup-repos
  jenkins/image_building/upload-ci-image.sh
  jenkins/image_building/upload-node-image.sh
  jenkins/jobs/node_image_building.pipeline
Due: check-prow-config, markdownlint, shellcheck

Update for CAPM3 and IPAM release-1.7 and BMO 0.6.0
  jenkins/README.md
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config, markdownlint

When running integration test in ironic-image, build ironic from source
  jenkins/scripts/integration_test.sh
Due: check-prow-config, shellcheck

Fail on pipe failure for openstack commands
  jenkins/scripts/integration_test.sh
Due: check-prow-config, shellcheck

Fixes related to release capm3/ipam 1.7 and bmo 0.6.0
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

make all prow config k8s yaml indented
  prow/manifests/overlays/metal3/config.yaml
  prow/manifests/overlays/metal3/external-plugins/needs-rebase_deployment.yaml
  prow/manifests/overlays/metal3/labels.yaml
  prow/manifests/overlays/metal3/plugins.yaml
Due: check-prow-config

BMO: Make CAPM3 e2e tests optional
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

revise all required tests after moving to Prow
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

revise required Prow test v2
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

add prow test config dumper
  hack/prow_test_dumper.py
Due: check-prow-config

Fix UPDATED_REPO unbound var error on dev env tests
  jenkins/jobs/dev_env_integration_tests.pipeline
  jenkins/scripts/dynamic_worker_workflow/dev_env_integration_tests.sh
Due: check-prow-config, shellcheck

Remove indentation space from pipeline files
  jenkins/jobs/dev_env_integration_tests.pipeline
  jenkins/jobs/integration_tests_clean.pipeline
  jenkins/jobs/parallel_e2e_features_test.pipeline
Due: check-prow-config

Prow: Upgrade Kubernetes to v1.29.4
  prow/capo-cluster/infra-md.yaml
  prow/capo-cluster/kubeadmcontrolplane.yaml
  prow/capo-cluster/machinedeployment.yaml
  prow/capo-cluster/openstackmachinetemplates.yaml
Due: check-prow-config

Prow: Bump infra and cluster-resources
  prow/README.md
  prow/cluster-resources/kustomization.yaml
  prow/infra/kustomization.yaml
Due: check-prow-config, markdownlint

Prow: Update CAPO resources to use v1beta1 API
  prow/capo-cluster/cluster.yaml
  prow/capo-cluster/infra-md.yaml
  prow/capo-cluster/kubeadmcontrolplane.yaml
  prow/capo-cluster/machinedeployment.yaml
  prow/capo-cluster/openstackcluster.yaml
  prow/capo-cluster/openstackmachinetemplates.yaml
Due: check-prow-config

Add libvirt related packages for ubuntu CI image
  jenkins/image_building/dib_elements/centos-ci/install.d/55-install
  jenkins/image_building/dib_elements/ci-base/package-installs.yaml
  jenkins/image_building/dib_elements/ci-base/pkg-map
  jenkins/image_building/dib_elements/ubuntu-ci/install.d/55-install
Due: check-prow-config

Bumping k8s-prow images
  prow/manifests/base/crier.yaml
  prow/manifests/base/deck.yaml
  prow/manifests/base/ghproxy.yaml
  prow/manifests/base/hook.yaml
  prow/manifests/base/horologium.yaml
  prow/manifests/base/prow-controller-manager.yaml
  prow/manifests/base/sinker.yaml
  prow/manifests/base/statusreconciler.yaml
  prow/manifests/base/tide.yaml
  prow/manifests/overlays/metal3/config.yaml
  prow/manifests/overlays/metal3/external-plugins/cherrypicker_deployment.yaml
  prow/manifests/overlays/metal3/external-plugins/jenkins-operator.yaml
  prow/manifests/overlays/metal3/external-plugins/labels_cronjob.yaml
  prow/manifests/overlays/metal3/external-plugins/needs-rebase_deployment.yaml
Due: check-prow-config

Bump k8s to v1.30.0 for node image
  jenkins/image_building/build-image.sh
  jenkins/image_building/dib_elements/centos-node/install.d/55-install
  jenkins/image_building/dib_elements/centos-node/pre-install.d/55-setup-repos
Due: check-prow-config, shellcheck

quick parallel pipeline test
  jenkins/jobs/parallel_e2e_features_test.pipeline
Due: check-prow-config

Bumping k8s-prow images
  prow/manifests/base/crier.yaml
  prow/manifests/base/deck.yaml
  prow/manifests/base/ghproxy.yaml
  prow/manifests/base/hook.yaml
  prow/manifests/base/horologium.yaml
  prow/manifests/base/prow-controller-manager.yaml
  prow/manifests/base/sinker.yaml
  prow/manifests/base/statusreconciler.yaml
  prow/manifests/base/tide.yaml
  prow/manifests/overlays/metal3/config.yaml
  prow/manifests/overlays/metal3/external-plugins/cherrypicker_deployment.yaml
  prow/manifests/overlays/metal3/external-plugins/jenkins-operator.yaml
  prow/manifests/overlays/metal3/external-plugins/needs-rebase_deployment.yaml
Due: check-prow-config
