Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/generate.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

golint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/golint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

test:
  decorate: true
  spec:
    containers:
    - args:
      - test
      command:
      - make
      image: quay.io/metal3-io/basic-checks:golang-1.24
      imagePullPolicy: Always

add ImagePullSecret to the API
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

run make mod
  go.mod
Due: gosec, gomod, unit, generate, manifestlint

add secret watch for reconciliation on the key rotation cases
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_secret_watch_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

use a 3rd party lib for dockerconfig handling
  go.mod
  go.sum
  pkg/secretutils/dockerconfig.go
  pkg/secretutils/dockerconfig_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add condition for bma host return
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_secret_watch_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

create constant
  pkg/secretutils/dockerconfig.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

remove status conditions. the core functionality of per-host OCI authentication remains intact, just without the status conditions.
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_image_auth_test.go
  internal/controller/metal3.io/baremetalhost_secret_watch_test.go
  pkg/imageauthvalidator/validator.go
  pkg/imageauthvalidator/validator_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

handle secret by using the secret manager
  internal/controller/metal3.io/baremetalhost_controller.go
  pkg/secretutils/validator.go
  pkg/secretutils/validator_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add more cases to handle the auth config | refactor error handling
  pkg/secretutils/dockerconfig.go
  pkg/secretutils/dockerconfig_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

implement ImagePullSecret for the ironic end
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

refactor package naming
  pkg/imageauthvalidator/validator.go
  pkg/imageauthvalidator/validator_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

set image auth conditions while getting auth secret during reconciliation
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_image_auth_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add conditions to the bmo
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

move validator under secretutils
  internal/controller/metal3.io/baremetalhost_controller.go
  pkg/secretutils/validator.go
  pkg/secretutils/validator_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

implement pullsecret logic in controller
  internal/controller/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

rename err
  pkg/secretutils/dockerconfig.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add utils for dockerconfig and authvalidation
  pkg/imageauthvalidator/validator.go
  pkg/imageauthvalidator/validator_test.go
  pkg/secretutils/dockerconfig.go
  pkg/secretutils/dockerconfig_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

:rocket: Release v0.11.2
  releasenotes/v0.11.2.md
Due: markdownlint

:rocket: Release v0.10.5
  releasenotes/v0.10.5.md
Due: markdownlint

Add explanation to run verify-release.sh script to releasing.md
  docs/releasing.md
Due: markdownlint

E2E: External inspection name collision fix
  test/e2e/external_inspection_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2E: Use UEFI
  hack/e2e/net.xml
  test/e2e/automated_cleaning_test.go
  test/e2e/basic_ops_test.go
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/external_inspection_test.go
  test/e2e/inspection_test.go
  test/e2e/live_iso_test.go
  test/e2e/provisioning_and_annotation_test.go
  test/e2e/re_inspection_test.go
  test/e2e/upgrade_test.go
  test/vbmctl/templates/VM.xml.tpl
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint, test

Allow setting `force_persistent_boot_device: <value>` for `deploy_interface=direct` using env
  pkg/provisioner/ironic/factory.go
  pkg/provisioner/ironic/factory_test.go
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add release manifests
  .github/workflows/e2e-fixture-test.yml
  .github/workflows/release.yaml
  .gitignore
  Makefile
  hack/ci-e2e.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Uplift k8s.io modules to v0.34.1 and CR to v0.22.4
  apis/go.mod
  apis/go.sum
  go.mod
  go.sum
Due: gosec, gomod, unit, generate, manifestlint

adapt unit test to v0.22 contoller runtime changes
  internal/controller/metal3.io/hostfirmwaresettings_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

adapt unit test to v0.22 contoller runtime changes
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  internal/controller/metal3.io/hostfirmwaresettings_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

:rocket: Release v0.12.0-beta.0
  releasenotes/v0.12.0-beta.0.md
Due: markdownlint

E2E: Bump kubectl minimum version to v1.34.1
  hack/e2e/ensure_kubectl.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

add ImagePullSecret to the API docs
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
Due: gosec, gomod, unit, generate, manifestlint

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  golint: any of: \.go$
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$
