Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test, build-fkas

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

golangci-lint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/ensure-golangci-lint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

govet:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/govet.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/codegen.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

build:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/build.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

Build locally from source for ci and PR tests
  Makefile
  hack/build-e2e-image.sh
  scripts/ci-e2e.sh
  scripts/environment.sh
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/infrastructure-metal3/overlays/main/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/base/ironic.yaml
  test/e2e/scalability_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Simplify e2e image build script
  hack/build-e2e-image.sh
  test/e2e/data/infrastructure-metal3/overlays/main/kustomization.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

use upstream ipa tarballs
  test/e2e/data/ironic-standalone-operator/operator/components/configmap/patch-configmap.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

E2E: Download and cache IPA in image server
  scripts/ci-e2e.sh
  test/e2e/data/ironic-standalone-operator/operator/components/configmap/patch-configmap.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Make node image URLs configurable via e2e config
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/ip_reuse.go
  test/e2e/k8s_conformance_test.go
  test/e2e/k8s_in_place_upgrade.go
  test/e2e/md_remediations_test.go
  test/e2e/md_rollout_test.go
  test/e2e/md_scale_test.go
  test/e2e/node_reuse.go
  test/e2e/scalability_test.go
  test/e2e/upgrade_clusterctl_test.go
  test/e2e/upgrade_kubernetes_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Bump IPAM&BMO x.13.5, otel 1.45.0, oras-go 2.6.2
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test, build-fkas

Fix IPA_BASEURI in ci-e2e.sh to use tarballs.opendev.org
  scripts/ci-e2e.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

Removes the Metal3Machine owner reference from Metal3Data objects.
  baremetal/metal3data_manager_test.go
  baremetal/metal3datatemplate_manager.go
  baremetal/metal3datatemplate_manager_test.go
  baremetal/suite_test.go
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_test.go
  test/e2e/common.go
  test/extension/handlers/inplaceupdate/handlers.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Make node image URLs configurable via e2e config
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/ironic-deployment/overlays/pr-test/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-27.0/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-29.0/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-31.0/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-32.0/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-latest/ironic_bmo_configmap.env
  test/e2e/ip_reuse.go
  test/e2e/k8s_conformance_test.go
  test/e2e/md_remediations_test.go
  test/e2e/md_rollout_test.go
  test/e2e/md_scale_test.go
  test/e2e/node_reuse.go
  test/e2e/scalability_test.go
  test/e2e/upgrade_clusterctl_test.go
  test/e2e/upgrade_kubernetes_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Make node image URLs configurable via e2e config
  scripts/ci-e2e.sh
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/ip_reuse.go
  test/e2e/k8s_conformance_test.go
  test/e2e/k8s_in_place_upgrade.go
  test/e2e/md_remediations_test.go
  test/e2e/md_rollout_test.go
  test/e2e/md_scale_test.go
  test/e2e/node_reuse.go
  test/e2e/scalability_test.go
  test/e2e/upgrade_clusterctl_test.go
  test/e2e/upgrade_kubernetes_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

:rocket: Release v1.13.5
  releasenotes/v1.13.5.md
Due: markdownlint

add 1.34.9 & 1.36.2 node images for e2e
  test/e2e/config/e2e_conf.yaml
  test/e2e/scalability_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Remove BMO in the preCleanupManagementCluster function.
  scripts/ci-e2e.sh
  test/e2e/common.go
  test/e2e/pivoting.go
  test/e2e/upgrade_clusterctl_test.go
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Removes the Metal3Machine owner reference from Metal3Data objects.
  baremetal/metal3data_manager_test.go
  baremetal/metal3datatemplate_manager.go
  baremetal/metal3datatemplate_manager_test.go
  baremetal/suite_test.go
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_test.go
  test/e2e/common.go
  test/extension/config/rbac/role.yaml
  test/extension/handlers/inplaceupdate/handlers.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Remove PR Verifier GitHub Action workflow
  .github/workflows/pr-verifier.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Make scripts consistent
  examples/generate.sh
  hack/ensure-go.sh
  hack/ensure-golangci-lint.sh
  hack/ensure-kind.sh
  hack/ensure-kubectl.sh
  hack/fetch-vbmctl.sh
  hack/gen_tilt_settings.sh
  hack/kind_with_registry.sh
  hack/kustomize-sub.sh
  hack/verify-boilerplate.sh
  hack/verify-release.sh
  scripts/ci-e2e.sh
  scripts/environment.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, test

Make codegen.sh mount host repo with ro
  hack/codegen.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, test

Add checksum verification for tool installs
  hack/ensure-docker.sh
  hack/ensure-go.sh
  hack/ensure-golangci-lint.sh
  hack/ensure-kind.sh
  hack/ensure-kubectl.sh
  hack/install-go.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, test

Bump IPAM&BMO to x.14.1 and otel to 1.45.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test, build-fkas

add leap 1.34.9 node image to e2e config
  test/e2e/config/e2e_conf.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

:rocket: Release v1.14.1
  releasenotes/v1.14.1.md
Due: markdownlint

🐛 e2e: fix vbmctl libvirt connection on openSUSE Leap
  Makefile
  hack/fetch-vbmctl.sh
  hack/setup-bml.sh
  scripts/ci-e2e.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Fix codegen to work with rootful containers
  hack/codegen.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, test

🌱 e2e: use pre-installed tooling instead of installing at test time
  docs/dev-setup.md
  hack/ensure-docker.sh
  hack/ensure-go.sh
  hack/ensure-kind.sh
  hack/ensure-kubectl.sh
  hack/fetch-vbmctl.sh
  hack/install-go.sh
  hack/setup-bml.sh
  scripts/ci-e2e.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, test

Add image digest support to release workflow
  .github/workflows/release.yaml
  Makefile
  docs/releasing.md
  hack/tools/release/notes.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Set default ProviderID when the workload cluster is unreachable
  baremetal/metal3machine_manager.go
  controllers/metal3machine_controller_integration_test.go
  controllers/metal3machine_controller_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

remove unused RBAC from controllers
  config/rbac/role.yaml
  controllers/metal3remediation_controller.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Remove yamllint GitHub workflow
  .github/workflows/yamllint.yaml
  AGENTS.md
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint

Add node image URLs for Ubuntu and CentOS v1.35.6
  test/e2e/config/e2e_conf.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

✨ Pass ociAuthSecretName through to the BareMetalHost
  api/v1beta1/conversion.go
  api/v1beta1/zz_generated.conversion.go
  api/v1beta2/common_types.go
  api/v1beta2/common_types_test.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machinetemplates.yaml
  docs/api.md
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint, build, build-fkas

Test default ProviderID when listing Nodes fails
  controllers/metal3machine_controller_integration_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Add Leap node image URL for version 1.35.6
  test/e2e/config/e2e_conf.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Add Leap node image URL for version 1.35.6 and 1.34.9
  test/e2e/config/e2e_conf.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Path conditions:
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  unit: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  build: (any of: ^api|^test|^Makefile$) or (any of: ^api|^test|^Makefile$|^hack/build.sh$)
  test: any of: ^(Makefile|hack/.*)$
  build-fkas: any of: ^hack/fake-apiserver|^api|^Makefile$|^hack/build.sh$
