Repository metal3-io/ip-address-manager: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, shellcheck, unit, generate, manifestlint, test

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

golangci-lint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/ensure-golangci-lint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

govet:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/govet.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/codegen.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

test:
  decorate: true
  spec:
    containers:
    - args:
      - test
      command:
      - make
      image: docker.io/golang:1.22
      imagePullPolicy: Always

Clear stale address reference when IPAddress is deleted
  ipam/ippool_manager.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Enforce immutability of ipAddress annotation on update
  internal/webhooks/v1alpha1/ipaddress_webhook.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Clean up osv-scanner config file on interrupted exit
  hack/verify-release.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Remove --network=host from docker build targets
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

🌱 Require explicit GitHub token for release notes tool
  Makefile
  hack/tools/release/notes.go
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Harden hack scripts agaist WORKDIR volume mount injection
  hack/codegen.sh
  hack/gomod.sh
  hack/manifestlint.sh
  hack/markdownlint.sh
  hack/shellcheck.sh
  hack/unit.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, shellcheck, unit, generate, manifestlint, test

:rocket: Release v1.14.0-beta.0
  releasenotes/v1.14.0-beta.0.md
Due: markdownlint

Share addresses map across metal3 and CAPI allocation phases
  ipam/ippool_manager.go
  ipam/ippool_manager_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Update image delimiter in kustomize patch commands to use '#' instead of '@'
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Double quote all sh and make variables
  Dockerfile
  Makefile
  examples/generate.sh
  hack/e2e/ci-script.sh
  hack/e2e/ensure_go.sh
  hack/tools/install_kubebuilder.sh
  hack/tools/install_kustomize.sh
  hack/tools/install_setup_envtest.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Added 1.15 metadata
  metadata.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Fix IPv4 overflow detection
  api/v1alpha1/utils.go
  api/v1alpha1/utils_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Fix spelling by changing bond to bound
  api/v1alpha1/utils.go
  internal/webhooks/v1alpha1/ippool_webhook.go
  ipam/ippool_manager.go
  ipam/ippool_manager_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Builds the release-x.y image (e.g. release-1.10) as part of cutting release, so it exists right after branch creation instead of only appearing on the next push to the branch.
  .github/workflows/release.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

🌱 Test golangci-lint Prow presubmit on release-1.12
  main.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

🌱 Test golangci-lint Prow presubmit on release-1.13
  main.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Remove unnecessary RBACs from controller and add e2e test
  config/rbac/role.yaml
  controllers/ippool_controller.go
  test/e2e/common.go
  test/e2e/owner_ref_enforcement_test.go
  test/go.mod
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump checkout action to v7
  .github/workflows/dependabot.yml
  .github/workflows/e2e-test.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/release.yaml
  .github/workflows/validate-security-insights.yml
  .github/workflows/zizmor.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Fix release notes generation in Makefile
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Bump CAPI to 1.14.0
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

:rocket: Release v1.14.0-rc.0
  releasenotes/v1.14.0-rc.0.md
Due: markdownlint

Pin gcrane in verify-release.sh and add renovate to update it
  hack/renovate-validator.sh
  hack/verify-release.sh
  renovate.json
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Update metadata and e2e configs for release 1.14
  metadata.yaml
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/shared/capd/v1.14/metadata.yaml
  test/e2e/data/shared/capi/v1.14/metadata.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump go version to 1.26.6
  Dockerfile
  Makefile
  hack/e2e/ensure_go.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Add e2e tests for clusterctl upgrade and pivoting
  docs/e2e.md
  hack/e2e/ci-script.sh
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/ipamprovider-metal3/overlays/v1.12/kustomization.yaml
  test/e2e/data/ipamprovider-metal3/overlays/v1.12/metadata.yaml
  test/e2e/data/ipamprovider-metal3/overlays/v1.13/kustomization.yaml
  test/e2e/data/ipamprovider-metal3/overlays/v1.13/metadata.yaml
  test/e2e/data/shared/capd/v1.12/metadata.yaml
  test/e2e/data/shared/capi/v1.12/metadata.yaml
  test/e2e/pivoting_test.go
  test/e2e/upgrade_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, shellcheck, unit, generate, manifestlint, test

Add totalIPCount and availableIPCount to IPPool status
  api/v1alpha1/ippool_types.go
  api/v1alpha1/utils_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ipam.metal3.io_ippools.yaml
  docs/api.md
  ipam/ippool_manager.go
  ipam/ippool_manager_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, unit, generate, manifestlint

Remove golangci-lint GitHub Actions workflow in favor of Prow
  .github/security-insights.yml
  .github/workflows/golangci-lint.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump go version to 1.25.13
  Dockerfile
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Remove PR Verifier GitHub Actions workflow in favor of Prow
  .github/workflows/pr-verifier.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

add yamllint script for prow
  hack/yamllint.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Revert "Remove PR Verifier GitHub Actions workflow in favor of Prow"
  .github/workflows/pr-verifier.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Surface IPAddress name collisions from duplicate namePrefix instead of failing silently
  ipam/ippool_manager.go
  ipam/ippool_manager_test.go
  ipam/manager_factory.go
  main.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

:rocket: Release v1.12.7
  releasenotes/v1.12.7.md
Due: markdownlint

Bump depandabot config for release-1.14
  .github/dependabot.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

:rocket: Release v1.13.3
  releasenotes/v1.13.3.md
Due: markdownlint

Clear stale address reference when IPAddress is deleted
  ipam/ippool_manager.go
  ipam/ippool_manager_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump grpc to v1.83.1
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump grpc to v1.83.1
  go.mod
  go.sum
  test/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Path conditions:
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$
