Repository metal3-io/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: check-prow-config, markdownlint, shellcheck, spellcheck

Path conditions:
  check-prow-config: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: any of: (\.md|markdownlint\.sh)$
  shellcheck: any of: ((\.sh)|^Makefile)$
  spellcheck: any of: (\.md|spellcheck\.sh|.cspell-config.json)$

remove IPAM 1.6 from Prow
  prow/config/jobs/metal3-io/ip-address-manager-release-1.6.yaml
Due: check-prow-config

add BMO release-0.9 to Prow
  prow/config/jobs/metal3-io/baremetal-operator-release-0.9.yaml
Due: check-prow-config

remove untested branches (1.6 series) from Prow
  jenkins/README.md
  prow/config/jobs/metal3-io/baremetal-operator-release-0.5.yaml
  prow/config/jobs/metal3-io/cluster-api-provier-metal3-release-1.6.yaml
  prow/config/jobs/metal3-io/ironic-image-release-24.0.yaml
  prow/config/jobs/metal3-io/ironic-ipa-downloader.yaml
  prow/config/jobs/metal3-io/mariadb-image.yaml
  prow/config/jobs/metal3-io/metal3-dev-env.yaml
  prow/config/jobs/metal3-io/project-infra.yaml
  prow/config/plugins.yaml
Due: check-prow-config, markdownlint, spellcheck

add release-1.9 triggers to other repos
  jenkins/README.md
  prow/config/jobs/metal3-io/ironic-ipa-downloader.yaml
  prow/config/jobs/metal3-io/mariadb-image.yaml
  prow/config/jobs/metal3-io/metal3-dev-env.yaml
  prow/config/plugins.yaml
Due: check-prow-config, markdownlint, spellcheck

Fix error on reusable container image build workflow
  .github/workflows/container-image-build.yml
Due: check-prow-config

add mquhuy as reviewer
  OWNERS_ALIASES
Due: check-prow-config

add CAPM3 release-1.9 to Prow
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.7.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.8.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.9.yaml
Due: check-prow-config

remove old 1.8 tests from required for dev-env
  prow/config/jobs/metal3-io/metal3-dev-env.yaml
Due: check-prow-config

run ironic-image 27.0 tests versus release-1.9
  prow/config/jobs/metal3-io/ironic-image-release-27.0.yaml
Due: check-prow-config

fix incorrect PR title handling
  .github/workflows/pr-verifier.yaml
Due: check-prow-config

Bumping k8s-prow images and test-infra images
  prow/Makefile
  prow/config/config.yaml
  prow/config/jobs/metal3-io/project-infra.yaml
  prow/config/jobs/periodics.yaml
  prow/manifests/base/crier.yaml
  prow/manifests/base/deck.yaml
  prow/manifests/base/ghproxy.yaml
  prow/manifests/base/hook.yaml
  prow/manifests/base/horologium.yaml
  prow/manifests/base/prow-controller-manager.yaml
  prow/manifests/base/sinker.yaml
  prow/manifests/base/statusreconciler.yaml
  prow/manifests/base/tide.yaml
  prow/manifests/overlays/metal3/external-plugins/cherrypicker_deployment.yaml
  prow/manifests/overlays/metal3/external-plugins/jenkins-operator.yaml
  prow/manifests/overlays/metal3/external-plugins/labels_cronjob.yaml
  prow/manifests/overlays/metal3/external-plugins/needs-rebase_deployment.yaml
Due: check-prow-config

Set scalability test timeout to 6h
  jenkins/jobs/capm3-e2e-tests.pipeline
Due: check-prow-config

remove dracut from the IPA rootfs
  jenkins/scripts/dynamic_worker_workflow/build_ipa.sh
  jenkins/scripts/dynamic_worker_workflow/ipa_builder_elements/ipa-cleanup-dracut/finalise.d/99-delete-dracut
Due: check-prow-config, shellcheck

WIP: convert fullstack jobs to be prow compatible
  jenkins/jobs/dynamic_fullstack_building.pipeline
  jenkins/scripts/dynamic_worker_workflow/fullstack.sh
  prow/config/jobs/metal3-io/project-infra.yaml
Due: check-prow-config, shellcheck

Prow: Use latest CRDs
  prow/README.md
Due: markdownlint, spellcheck

add runmariadb script as a shellcheck trigger for mariadb-image
  prow/config/jobs/metal3-io/mariadb-image.yaml
Due: check-prow-config

Add new reusable release note generator
  hack/release/go.mod
  hack/release/go.sum
  hack/release/main.go
Due: check-prow-config

bump kubeconform/manifestlint to v0.6.7
  prow/config/jobs/metal3-io/baremetal-operator.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3.yaml
  prow/config/jobs/metal3-io/ip-address-manager.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator.yaml
Due: check-prow-config

Merge e2e_features_test to capm3-e2e-tests pipeline
  jenkins/jobs/capm3-e2e-tests.pipeline
Due: check-prow-config

convert fullstack jobs to be prow compatible
  jenkins/jobs/dynamic_fullstack_building.pipeline
  jenkins/scripts/dynamic_worker_workflow/fullstack.sh
  prow/config/jobs/metal3-io/project-infra.yaml
Due: check-prow-config, shellcheck

DNM: this is a test
  README.md
Due: markdownlint, spellcheck

Add support for IRSO in e2e pipeline
  jenkins/jobs/dev_env_integration_tests.pipeline
  jenkins/scripts/dynamic_worker_workflow/dev_env_integration_tests.sh
  prow/config/jobs/metal3-io/ironic-standalone-operator.yaml
Due: check-prow-config, shellcheck

Add scalability test prow triggers
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.9.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3.yaml
Due: check-prow-config

add IRSO to milestoneapplier plugin config
  prow/config/plugins.yaml
Due: check-prow-config

Add vars to image building pipeline
  jenkins/jobs/image_building.pipeline
Due: check-prow-config

Remove uploading ci images to cleura
  jenkins/image_building/upload-ci-image.sh
  jenkins/jobs/clean_resources.pipeline
  jenkins/jobs/image_building.pipeline
  jenkins/scripts/clean_resources.sh
Due: check-prow-config, shellcheck

degub bml issue
  jenkins/scripts/bare_metal_lab/default_vars/vars.yaml
Due: check-prow-config

Enables optionally multiplatform container builds
  .github/workflows/container-image-build.yml
Due: check-prow-config

Move mboukhalfa to emeritus approvers
  OWNERS
  OWNERS_ALIASES
Due: check-prow-config

Use server 04 instead of 05 in BML test
  jenkins/scripts/bare_metal_lab/default_vars/vars.yaml
Due: check-prow-config

Bump k8s to v1.32.1 and CRIO to v1.32.1
  jenkins/image_building/build-image.sh
Due: check-prow-config, shellcheck

Add configuration for ironic-image release-28.0
  prow/config/jobs/metal3-io/ironic-image-release-28.0.yaml
  prow/config/plugins.yaml
Due: check-prow-config

Add broken link check: general and pr
  .github/workflows/pr-link-check.yml
  .github/workflows/scheduled-link-check.yml
Due: check-prow-config

move running provisioning host to jenkins agent in bml
  jenkins/scripts/bare_metal_lab/tasks/deploy-tasks.yaml
  jenkins/scripts/bml_cleanup.sh
  jenkins/scripts/bml_integration_test.sh
Due: check-prow-config, shellcheck

Prow: Bump cert-manager and add toleration/nodeSelector
  prow/capi/kustomization.yaml
  prow/capi/toleration-node-selector-patch.yaml
Due: check-prow-config

Prow: Bump CAPI operator and add toleration/nodeSelector
  prow/README.md
  prow/capi/bootstrap.yaml
  prow/capi/control-plane.yaml
  prow/capi/core.yaml
  prow/capi/infrastructure.yaml
  prow/capi/kustomization.yaml
Due: check-prow-config, markdownlint, spellcheck
