Repository metal3-io/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: check-prow-config, markdownlint, shellcheck

check-prow-config:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20210916-7657ce97bf
      args:
      - /checkconfig
      - --config-path
      - prow/config/config.yaml
      - --plugin-config
      - prow/config/plugins.yaml
      - --strict
      resources:
        requests:
          memory: 500Mi

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.13.0@sha256:9c0cdfb64fd3f1d3bdc5181629b39c2e43b6a52fc9fdc146611e1860845bbae0
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

Add config for ironic-image release-23.1
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

WIP: unpack make commands into script calls
  jenkins/scripts/files/run_integration_tests.sh
Due: check-prow-config, shellcheck

Add jenkins-operator for prow
  prow/.gitignore
  prow/README.md
  prow/manifests/overlays/metal3/config.yaml
  prow/manifests/overlays/metal3/external-plugins/jenkins-operator.yaml
  prow/manifests/overlays/metal3/kustomization.yaml
  prow/manifests/overlays/metal3/patches/jenkins-operator.yaml
Due: check-prow-config, markdownlint

use correct variable name for Ironic local build
  jenkins/scripts/integration_test.sh
Due: check-prow-config, shellcheck

BMO e2e: Allow flexible artifact naming
  jenkins/jobs/bmo_e2e_tests.pipeline
Due: check-prow-config

BMO e2e pipeline matrix
  jenkins/jobs/bmo_e2e_tests.pipeline
Due: check-prow-config

Add release-1.6 branch configurations for CAPM3/IPAM repos
  jenkins/README.md
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config, markdownlint

Make BMO e2e tests required status check
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Enable build timestamps
  jenkins/jobs/bml_integration_tests.pipeline
  jenkins/jobs/bmo_e2e_tests.pipeline
  jenkins/jobs/integration_tests.pipeline
  jenkins/jobs/integration_tests_clean.pipeline
  jenkins/jobs/ironic_image_build_test.pipeline
  jenkins/jobs/parallel_e2e_features_test.pipeline
Due: check-prow-config

Move running feature tests to dynamic Jenkins workers
  jenkins/jobs/parallel_e2e_features_test.pipeline
  jenkins/scripts/dynamic_worker_workflow/feature_tests.sh
  jenkins/scripts/dynamic_worker_workflow/fetch_logs.sh
  jenkins/scripts/dynamic_worker_workflow/integration_test_env.sh
  jenkins/scripts/dynamic_worker_workflow/run_clean.sh
Due: check-prow-config, shellcheck

remove release-1.3 from prow
  jenkins/README.md
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config, markdownlint

Add BMO upgrade tests pipeline
  jenkins/jobs/bmo_e2e_tests.pipeline
Due: check-prow-config

Trigger BMO e2e tests through prow
  jenkins/jobs/bmo_e2e_tests.pipeline
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Fix typos in prow config for jenkins-operator
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Make BMO e2e prow job required
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Remove the ghprb variable from BMO e2e pipeline
  jenkins/jobs/bmo_e2e_tests.pipeline
Due: check-prow-config

switch markdownlint container to markdownlint-cli2
  .markdownlint-cli2.yaml
  hack/markdownlint.sh
  prow/README.md
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config, markdownlint, shellcheck

add markdownlint for dev-tools repo
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

add spellchecker prow test for website repo
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

export ironic and mariadb env vars coming from vars.sh
  jenkins/scripts/files/run_integration_tests.sh
Due: check-prow-config, shellcheck

add spellcheck and shellcheck for metal3-docs
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Bump golang to v1.21 for CAPM3 prow jobs
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Bump golang to v1.21 for BMO prow jobs
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Add build container pipeline
  jenkins/jobs/container_image_building.pipeline
  jenkins/scripts/build-container-image.sh
Due: check-prow-config, shellcheck

Add fullstack test
  jenkins/jobs/fullstack_building.pipeline
  jenkins/scripts/build_ipa.sh
  jenkins/scripts/ipa_builder_elements/ipa-add-buildinfo/install.d/80-ipa-add-buildinfo
  jenkins/scripts/ipa_builder_elements/ipa-cleanup-dracut/cleanup.d/99-ipa-cleanup-dracut
  jenkins/scripts/ipa_builder_elements/ipa-file-injector/environment.d/99-install-file-injector
  jenkins/scripts/ipa_builder_elements/ipa-file-injector/install.d/99-enable-ipa-file-injector
  jenkins/scripts/ipa_builder_elements/ipa-file-injector/root.d/99-install-file-injector
  jenkins/scripts/ipa_builder_elements/ipa-file-injector/root.d/ipa-file-injector.service.template
  jenkins/scripts/ipa_builder_elements/ipa-file-injector/root.d/ipa-file-injector.sh
  jenkins/scripts/ipa_builder_elements/ipa-module-autoload/install.d/80-ipa-module-autoload
  jenkins/scripts/ipa_builder_elements/override-simple-init/environment.d/99-override-simple-init
  jenkins/scripts/ipa_builder_elements/override-simple-init/post-install.d/99-override-simple-init
  jenkins/scripts/ipa_builder_elements/override-simple-init/post-install.d/glean-early-override-template.service
  jenkins/scripts/openstack/utils.sh
  jenkins/scripts/run_build_ironic.sh
  jenkins/scripts/start_centos_fullstack_build.sh
Due: check-prow-config, shellcheck

Update required contexts for BMO
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Prow: Bump ingress-nginx to v1.9.6
  prow/infra/kustomization.yaml
Due: check-prow-config

Added generic-autobumper to update all prow images
  prow/manifests/overlays/metal3/config.yaml
  prow/manifests/overlays/metal3/external-plugins/generic-autobumper-config.yaml
  prow/manifests/overlays/metal3/kustomization.yaml
Due: check-prow-config

Add interval
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Added generic-autobumper to update all prow images
  prow/manifests/overlays/metal3/config.yaml
  prow/manifests/overlays/metal3/generic-autobumper-config.yaml
  prow/manifests/overlays/metal3/kustomization.yaml
Due: check-prow-config

Add config for ironic-image release-24.0
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Bump golang to v1.21 for IPAM prow jobs
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Uplift Kubernetes version to v1.28.7 in prow cluster
  prow/README.md
  prow/capo-cluster/kubeadmcontrolplane.yaml
  prow/capo-cluster/machinedeployment.yaml
  prow/capo-cluster/openstackmachinetemplates.yaml
Due: check-prow-config, markdownlint

Typo fix
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Add image building workflow using disk image builder
  jenkins/image_building/README.md
  jenkins/image_building/build-ci-image.sh
  jenkins/image_building/dib_elements/centos-ci/README.md
  jenkins/image_building/dib_elements/centos-ci/element-deps
  jenkins/image_building/dib_elements/centos-ci/install.d/install
  jenkins/image_building/dib_elements/centos-ci/post-install.d/configure
  jenkins/image_building/dib_elements/ci-base/README.md
  jenkins/image_building/dib_elements/ci-base/element-deps
  jenkins/image_building/dib_elements/ci-base/package-installs.yaml
  jenkins/image_building/dib_elements/ci-base/pkg-map
  jenkins/image_building/dib_elements/ubuntu-ci/README.md
  jenkins/image_building/dib_elements/ubuntu-ci/element-deps
  jenkins/image_building/dib_elements/ubuntu-ci/install.d/install
  jenkins/image_building/dib_elements/ubuntu-ci/post-install.d/configure
  jenkins/image_building/id_ed25519_metal3ci.pub
  jenkins/jobs/openstack_ci_image_building.pipeline
Due: check-prow-config, markdownlint, shellcheck

Group images by prefix to make PR title more readable
  prow/manifests/overlays/metal3/generic-autobumper-config.yaml
Due: check-prow-config

Prow: Restore patches that were mistakenly removed
  prow/manifests/overlays/metal3/kustomization.yaml
Due: check-prow-config

Add new pipeline to test triggering basic e2e from prow
  jenkins/jobs/prow_integration_tests.pipeline
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Disable health check for CI VMs
  jenkins/scripts/integration_test.sh
Due: check-prow-config, shellcheck

Check CI VM cloud-init exit code instead of output
  jenkins/scripts/integration_test.sh
  jenkins/scripts/utils.sh
Due: check-prow-config, shellcheck

Path conditions:
  check-prow-config: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: (\.md|markdownlint\.sh)$
  shellcheck: any of: ((\.sh)|^Makefile)$
