Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: \.md$
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  golint: any of: \.go$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$

Do not reconcile HostFirmwareSettings for detached hosts
  controllers/metal3.io/hostfirmwaresettings_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

HostFirmwareSettings: more helpful error logging
  controllers/metal3.io/hostfirmwaresettings_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Enable concurrency in BMO controllers
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/bmceventsubscription_controller.go
  controllers/metal3.io/hostfirmwaresettings_controller.go
  controllers/metal3.io/preprovisioningimage_controller.go
  docs/configuration.md
  main.go
Due: gofmt, gosec, gomod, markdownlint, unit, generate, golint, manifestlint

run BMO deployment as non-root
  ironic-deployment/base/ironic.yaml
  ironic-deployment/components/keepalived/keepalived_patch.yaml
  resources/keepalived-docker/Dockerfile
  resources/keepalived-docker/configure-nonroot.sh
  resources/keepalived-docker/manage-keepalived.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

Update vendor
  apis/vendor/sigs.k8s.io/json/OWNERS
  hack/tools/vendor/sigs.k8s.io/json/OWNERS
  vendor/k8s.io/apimachinery/pkg/util/mergepatch/OWNERS
  vendor/sigs.k8s.io/json/OWNERS
Due: none

Update mariadb_patch.yaml
  ironic-deployment/components/mariadb/mariadb_patch.yaml
Due: gosec, gomod, unit, generate, manifestlint

Revert "run BMO deployment as non-root"
  ironic-deployment/base/ironic.yaml
  ironic-deployment/components/keepalived/keepalived_patch.yaml
  resources/keepalived-docker/Dockerfile
  resources/keepalived-docker/configure-nonroot.sh
  resources/keepalived-docker/manage-keepalived.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

Account for a detached host without the annotation
  controllers/metal3.io/host_state_machine.go
  controllers/metal3.io/host_state_machine_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add counter metric for deleted hosts delayed by detached
  controllers/metal3.io/host_state_machine.go
  controllers/metal3.io/metrics.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Delay delete of detached hosts based on annotation metadata
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  controllers/metal3.io/host_state_machine.go
  controllers/metal3.io/host_state_machine_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Fix ironic Provision() unit tests
  pkg/provisioner/ironic/provision_test.go
  pkg/provisioner/ironic/testserver/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add "force" reboot operation flag to reboot preprovisioning images
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/baremetalhost_controller_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Store htpasswd files in Secrets instead of ConfigMaps
  ironic-deployment/components/basic-auth/auth.yaml
  ironic-deployment/components/basic-auth/kustomization.yaml
  ironic-deployment/overlays/basic-auth_tls/basic-auth_tls.yaml
Due: gosec, gomod, unit, generate, manifestlint

Update vendor
  vendor/github.com/metal3-io/baremetal-operator/apis/metal3.io/v1alpha1/baremetalhost_types.go
  vendor/github.com/metal3-io/baremetal-operator/apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Create nodes with namespace already prepended
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Disable scheduled workflows from running in forks
  .github/workflows/kubesec.yml
  .github/workflows/release.yaml
Due: gosec, gomod, unit, generate, manifestlint

Enable concurrency in BMO controllers
  controllers/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Revert "Delay deprovision/delete when multiple finalizers exist"
  controllers/metal3.io/host_state_machine.go
  controllers/metal3.io/host_state_machine_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Replace package "text" with "google/safetext"
  cmd/make-bm-worker/templates/templates.go
  cmd/make-virt-host/main.go
  go.mod
  go.sum
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

redact the password info of image URL in logs
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/update_opts.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

run BMO deployment as non-root (v2)
  ironic-deployment/base/ironic.yaml
  ironic-deployment/components/keepalived/keepalived_patch.yaml
  ironic-deployment/components/mariadb/mariadb_patch.yaml
  resources/keepalived-docker/Dockerfile
  resources/keepalived-docker/configure-nonroot.sh
  resources/keepalived-docker/manage-keepalived.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

Don't munge timestamp in structured logs
  main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Use same settings for provisioner and controller logs
  main.go
  pkg/provisioner/ironic/factory.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Restart inspection when forced reboot is requested
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/host_state_machine_test.go
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/inspecthardware_test.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Restart deployment when forced reboot is requested
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/host_state_machine_test.go
  controllers/metal3.io/hostfirmwaresettings_test.go
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/provision_test.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Simplify result of hasRebootAnnotation
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/baremetalhost_controller_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Consistently rename force in Provisioner to restartOnFailure
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Update vendor
  vendor/github.com/google/safetext/LICENSE
  vendor/github.com/google/safetext/common/BUILD.bazel
  vendor/github.com/google/safetext/common/common.go
  vendor/github.com/google/safetext/yamltemplate/BUILD.bazel
  vendor/github.com/google/safetext/yamltemplate/yamltemplate.go
  vendor/modules.txt
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Revert live-iso validation
  apis/metal3.io/v1alpha1/baremetalhost_validation.go
  apis/metal3.io/v1alpha1/baremetalhost_validation_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fix broken links in markdown files
  docs/dev-setup.md
Due: markdownlint

add broken link checker action
  .github/workflows/lint-docs.yaml
  .markdownlinkcheck.json
Due: gosec, gomod, unit, generate, manifestlint
