Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/generate.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

golint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/golint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

test:
  decorate: true
  spec:
    containers:
    - args:
      - test
      command:
      - make
      image: quay.io/metal3-io/basic-checks:golang-1.24
      imagePullPolicy: Always

Use new admission validator instead of depricated webhook validater
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_webhook.go
  internal/webhooks/metal3.io/v1alpha1/bmceventsubscription_webhook.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Reject non-empty checksum for OCI images
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/baremetalhost_types_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add missing `context` to `PreprovisioningImageFormats` func
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/host_state_machine_test.go
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/register_test.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2E: Avoid BMO < 0.11 and Ironic > 30 together
  test/e2e/config/ironic.yaml
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2E: Only override ironic image tags for e2e overlay
  test/e2e/data/ironic-standalone-operator/ironic/base/ironic.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e/ironic.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e/kustomization.yaml
Due: gosec, gomod, unit, generate, manifestlint

E2E: Use versioned images for Ironic
  test/e2e/data/ironic-standalone-operator/ironic/base/ironic.yaml
Due: gosec, gomod, unit, generate, manifestlint

E2E: Cleanup libvit DHCP config
  hack/e2e/net.xml
  test/e2e/common.go
  test/e2e/config/fixture.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint, test

Simplify e2e fixture test configuration
  .github/workflows/e2e-fixture-test.yml
  Makefile
  hack/ci-e2e.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

:rocket: Release v0.13.0-beta.0
  releasenotes/v0.13.0-beta.0.md
Due: markdownlint

feat: use failure domain label as Ironic conductor group
  main.go
  pkg/provisioner/ironic/conductor_group_test.go
  pkg/provisioner/ironic/factory.go
  pkg/provisioner/ironic/factory_test.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/register.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add BareMetalSwitch CRD and controller for switch config generation
  apis/metal3.io/v1alpha1/baremetalswitch_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalswitches.yaml
  config/base/crds/kustomization.yaml
  config/base/rbac/role.yaml
  config/overlays/e2e/baremetalswitch/kustomization.yaml
  config/overlays/e2e/baremetalswitch/namespace.yaml
  config/overlays/e2e/ironic.env
  config/overlays/e2e/kustomization.yaml
  config/overlays/e2e/namespaced-manager-patch.yaml
  config/overlays/e2e/roles-rolebindings/roles-rolebindings.yaml
  config/overlays/fixture/kustomization.yaml
  config/render/capm3.yaml
  config/samples/baremetalswitch_sample.yaml
  docs/api.md
  internal/controller/metal3.io/baremetalswitch_config.go
  internal/controller/metal3.io/baremetalswitch_config_test.go
  internal/controller/metal3.io/baremetalswitch_controller.go
  main.go
  test/e2e/baremetalswitch_test.go
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
Due: gofmt, gosec, gomod, markdownlint, unit, generate, golint, manifestlint

E2E: Use UEFI
  test/e2e/automated_cleaning_test.go
  test/e2e/basic_ops_test.go
  test/e2e/config/ironic.yaml
  test/e2e/external_inspection_test.go
  test/e2e/externally_provisioned_test.go
  test/e2e/inspection_test.go
  test/e2e/live_iso_test.go
  test/e2e/provisioning_and_annotation_test.go
  test/e2e/re_inspection_test.go
  test/e2e/upgrade_test.go
  test/vbmctl/templates/VM.xml.tpl
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add network interface management to vbmctl
  hack/ci-e2e.sh
  test/e2e/config/vbmctl.yaml
  test/go.mod
  test/go.sum
  test/vbmctl/README.md
  test/vbmctl/cmd/vbmctl/main.go
  test/vbmctl/pkg/api/types.go
  test/vbmctl/pkg/config/config.go
  test/vbmctl/pkg/libvirt/network.go
  test/vbmctl/pkg/network/ip.go
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Uplift CAPI to v1.11.10
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint, test

Uplift CAPI to v1.12.7
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint, test

Exclude revive var-naming lint for pkg/utils package
  .golangci.yaml
Due: gosec, gomod, unit, generate, manifestlint

:rocket: Release v0.12.4
  releasenotes/v0.12.4.md
Due: markdownlint

:rocket: Release v0.11.7
  releasenotes/v0.11.7.md
Due: markdownlint

feat: Implement structured logging pattern from CAPM3
  internal/controller/metal3.io/action_result.go
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/host_state_machine.go
  internal/controller/metal3.io/hostfirmwarecomponents_controller.go
  internal/controller/metal3.io/hostfirmwaresettings_controller.go
  internal/controller/metal3.io/logging.go
  internal/controller/metal3.io/preprovisioningimage_controller.go
  main.go
  main_test.go
  pkg/secretutils/secret_manager.go
  pkg/secretutils/secret_manager_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

introduce preprovisioningKernelParams to BMH
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_controller_test.go
  internal/controller/metal3.io/preprovisioningimage_controller.go
  internal/controller/metal3.io/preprovisioningimage_controller_test.go
  pkg/hardwareutils/bmc/access.go
  pkg/hardwareutils/bmc/access_test.go
  pkg/hardwareutils/bmc/idrac_virtualmedia.go
  pkg/hardwareutils/bmc/ipmi.go
  pkg/hardwareutils/bmc/redfish.go
  pkg/hardwareutils/bmc/redfish_https.go
  pkg/hardwareutils/bmc/redfish_virtualmedia.go
  pkg/provisioner/ironic/inspecthardware.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/ironic_test.go
  pkg/provisioner/ironic/prepare_test.go
  pkg/provisioner/ironic/provision_test.go
  pkg/provisioner/ironic/register.go
  pkg/provisioner/ironic/register_test.go
  pkg/provisioner/ironic/servicing_test.go
  pkg/provisioner/ironic/testbmc/testbmc.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Allow forced detachment of a host from Ironic
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/host_state_machine.go
  internal/controller/metal3.io/host_state_machine_test.go
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/clients/features.go
  pkg/provisioner/ironic/clients/features_test.go
  pkg/provisioner/ironic/delete_test.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Allow deleting detached hosts in any state
  internal/controller/metal3.io/host_state_machine.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Consolidate handling of detachment annotation
  internal/controller/metal3.io/annotations.go
  internal/controller/metal3.io/annotations_test.go
  internal/controller/metal3.io/host_state_machine.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add per-host OCI registry authentication for provisioning images
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/base/crds/bases/metal3.io_hostclaims.yaml
  config/render/capm3.yaml
  go.mod
  go.sum
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/image_auth_validator.go
  pkg/provisioner/ironic/clients/updateopts.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
  pkg/secretutils/dockerconfig.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add tests for per-host OCI registry authentication
  internal/controller/metal3.io/baremetalhost_controller_test.go
  internal/controller/metal3.io/image_auth_validator_test.go
  pkg/provisioner/ironic/clients/updateopts_test.go
  pkg/provisioner/ironic/provision_test.go
  pkg/secretutils/dockerconfig_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Handling propagation of Detached Annotation
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/hostdeploypolicy_types.go
  config/base/crds/bases/metal3.io_hostdeploypolicies.yaml
  config/render/capm3.yaml
  internal/testutil/common.go
  pkg/hostclaim/hostclaim_manager.go
  pkg/hostclaim/hostclaim_manager_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Clarify comment about forced detachment
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Allow exiting the externally provisioned state
  internal/controller/metal3.io/baremetalhost_controller_test.go
  internal/controller/metal3.io/host_state_machine.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation_test.go
  test/e2e/externally_provisioned_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Migrate to go-plugin system for provisioners
  Dockerfile
  Makefile
  README.md
  docs/plugin-provisioners.md
  main.go
  pkg/provisioner/demo/plugin/main.go
  pkg/provisioner/ironic/plugin/main.go
  pkg/provisioner/plugin.go
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

[Starlark] Add Starlark-based provisioner backend
  go.mod
  go.sum
  main.go
  pkg/provisioner/starlark/provisioner.go
  pkg/provisioner/starlark/scripts/efi-vmedia.star
  pkg/provisioner/starlark/starlark.go
  pkg/provisioner/starlark/starlib/builtins.go
  pkg/provisioner/starlark/starlib/const.go
  pkg/provisioner/starlark/starlib/convert.go
  pkg/provisioner/starlark/starlib/log.go
  pkg/provisioner/starlark/starlib/threadlocal.go
  pkg/provisioner/starlark/starscript/starscript.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

[Starlark] Add host read-access, base64, and network_data sync
  main.go
  pkg/provisioner/starlark/hostresolver.go
  pkg/provisioner/starlark/scripts/efi-vmedia.star
  pkg/provisioner/starlark/starlark.go
  pkg/provisioner/starlark/starlib/builtins.go
  pkg/provisioner/starlark/starlib/hostresolver.go
  pkg/provisioner/starlark/starlib/threadlocal.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

[DNM]: CI setup for forked repo
  .github/workflows/build-fork-image.yml
  .github/zizmor.yml
Due: gosec, gomod, unit, generate, manifestlint

Add an e2e test for forced detachment during provisioning
  config/overlays/e2e/force-detach/kustomization.yaml
  config/overlays/e2e/force-detach/namespace.yaml
  config/overlays/e2e/kustomization.yaml
  config/overlays/e2e/namespaced-manager-patch.yaml
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/forced_detachment_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add: for redfish, do redfish inspection first, then agent inspection
  pkg/provisioner/ironic/inspecthardware.go
  pkg/provisioner/ironic/redfish_inspect_test.go
  pkg/provisioner/ironic/register.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Switch forced detachment test to use Ironic to check the timing
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/forced_detachment_test.go
  test/e2e/ironic_helpers.go
  test/go.mod
  test/go.sum
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Consolidate Metal3 Contributing guide in community repo
  CONTRIBUTING.md
Due: markdownlint

:rocket: Release v0.13.0-rc.0
  releasenotes/v0.13.0-rc.0.md
Due: markdownlint

Address review: move OCI check before live-iso and improve error message
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/baremetalhost_types_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

🐛 Reject non-empty checksum for OCI images (#3186)
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/baremetalhost_types_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Merge commit from fork
  apis/metal3.io/v1alpha1/bmceventsubscription_validation.go
  apis/metal3.io/v1alpha1/bmceventsubscription_validation_test.go
  controllers/metal3.io/bmceventsubscription_controller.go
  controllers/metal3.io/bmceventsubscription_controller_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  golint: any of: \.go$
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$
