Repository metal3-io/ip-address-manager: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, shellcheck, unit, generate, manifestlint, test

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

golangci-lint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/ensure-golangci-lint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

govet:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/govet.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/codegen.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

test:
  decorate: true
  spec:
    containers:
    - args:
      - test
      command:
      - make
      image: docker.io/golang:1.22
      imagePullPolicy: Always

Bump go to 1.25.8
  Dockerfile
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Improve fuzzing test
  Makefile
  test/fuzz/README.md
  test/fuzz/ippool_controller_fuzz_test.go
  test/fuzz/ippool_manager_fuzz_test.go
  test/fuzz/utils_fuzz_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, shellcheck, unit, generate, manifestlint, test

remove a leftover debug message
  ipam/utils.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

bump x/net to v0.49.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint, test

bump x/net to v0.49.0
  hack/tools/go.mod
  hack/tools/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint, test

:seedling: Bump golangci-lint to v2.4.0
  .github/workflows/golangci-lint.yml
  hack/ensure-golangci-lint.sh
  hack/tools/release/notes.go
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

rename lint-full -> lint
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

harden pr-verifier workflow trigger
  .github/workflows/pr-verifier.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

chore(lint): migrate golangci-lint tooling to v2.1.0 and add exclusions for staticcheck QF rules
  .github/workflows/golangci-lint.yml
  .golangci.yaml
  Makefile
  hack/ensure-golangci-lint.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Bump golangci-lint to v2.4.0
  .github/workflows/golangci-lint.yml
  hack/ensure-golangci-lint.sh
  hack/tools/release/notes.go
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

remove docker push stuff from Makefile
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

bump google.golang.org/grpc to v1.79.3
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Uplift CAPI to v1.11.7
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Uplift CAPI to v1.12.4
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

:rocket: Release v1.12.3
  releasenotes/v1.12.3.md
Due: markdownlint

:rocket: Release v1.11.6
  releasenotes/v1.11.6.md
Due: markdownlint

add OpenSSF OSPS baseline level 1 badge
  README.md
Due: markdownlint

remove unused RBAC permissions for secrets
  config/rbac/role.yaml
  controllers/ippool_controller.go
  main.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Add scheduled github worklow job for Fuzzing
  .github/workflows/scheduled-fuzz.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump Go version to 1.25.9
  Dockerfile
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Add scheduled github worklow job for Fuzzing
  .github/workflows/scheduled-fuzz.yml
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Consolidate Metal3 Contributing guide in community repo
  CONTRIBUTING.md
Due: markdownlint

Simplify ownerRefs for IPAddresses
  ipam/ippool_manager.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Uplift CAPI to v1.13.0-rc.1
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Uplift k8s group to v0.35.4
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint, test

Use new admission validator
  internal/webhooks/v1alpha1/ipaddress_webhook.go
  internal/webhooks/v1alpha1/ipclaim_webhook.go
  internal/webhooks/v1alpha1/ippool_webhook.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Uplift controller runtime to v0.23.3
  api/go.mod
  api/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Fix log messages
  internal/webhooks/v1alpha1/ipaddress_webhook.go
  internal/webhooks/v1alpha1/ipclaim_webhook.go
  internal/webhooks/v1alpha1/ippool_webhook.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

add random allocation strategy to IPPool
  api/v1alpha1/ippool_types.go
  config/crd/bases/ipam.metal3.io_ippools.yaml
  internal/webhooks/v1alpha1/ipaddress_webhook.go
  internal/webhooks/v1alpha1/ipclaim_webhook.go
  internal/webhooks/v1alpha1/ippool_webhook.go
  internal/webhooks/v1alpha1/ippool_webhook_test.go
  ipam/ippool_manager.go
  ipam/ippool_manager_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

:rocket: Release v1.13.0-beta.0
  releasenotes/v1.13.0-beta.0.md
Due: markdownlint

Uplift CAPI to v1.11.10
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Path conditions:
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$
