Repository metal3-io/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: check-prow-config, markdownlint, shellcheck

check-prow-config:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20210916-7657ce97bf
      args:
      - /checkconfig
      - --config-path
      - prow/config/config.yaml
      - --plugin-config
      - prow/config/plugins.yaml
      - --strict
      resources:
        requests:
          memory: 500Mi

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint-cli2:0.9.0@sha256:71370df6c967bae548b0bfd0ae313ddf44bfad87da76f88180eff55c6264098c
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

Move e2e tests to dynamic workers:
  jenkins/jobs/capm3-e2e-tests.pipeline
  jenkins/jobs/parallel_e2e_features_test.pipeline
  jenkins/scripts/dynamic_worker_workflow/dev_env_integration_tests.sh
  jenkins/scripts/dynamic_worker_workflow/e2e_tests.sh
  jenkins/scripts/dynamic_worker_workflow/test_env.sh
Due: check-prow-config, shellcheck

Pass UPDATED_REPO variable to test environment also, fix dir of repo cloning and change /home/$USER to ${HOME}
  jenkins/jobs/dev_env_integration_tests.pipeline
  jenkins/scripts/dynamic_worker_workflow/dev_env_integration_tests.sh
  jenkins/scripts/dynamic_worker_workflow/e2e_tests.sh
  jenkins/scripts/dynamic_worker_workflow/fetch_logs.sh
  jenkins/scripts/dynamic_worker_workflow/run_clean.sh
  jenkins/scripts/dynamic_worker_workflow/test_env.sh
Due: check-prow-config, shellcheck

Improve image building scripts:
  jenkins/image_building/build-image.sh
  jenkins/image_building/dib_elements/centos-ci/post-install.d/55-configure
  jenkins/image_building/dib_elements/centos-ci/post-install.d/99-prepull-images
  jenkins/image_building/dib_elements/centos-node/install.d/55-install
  jenkins/image_building/dib_elements/centos-node/pre-install.d/55-setup-repos
  jenkins/jobs/ci_image_building.pipeline
  jenkins/jobs/image_building.pipeline
Due: check-prow-config, shellcheck

Minor fix related to ci_git_url
  jenkins/jobs/capm3-e2e-tests.pipeline
Due: check-prow-config

Fix unsetting unbound vars
  jenkins/scripts/dynamic_worker_workflow/e2e_tests.sh
Due: check-prow-config, shellcheck

Pass RT credentials to image building
  jenkins/image_building/dib_elements/centos-ci/post-install.d/99-prepull-images
  jenkins/jobs/image_building.pipeline
Due: check-prow-config

Fix dev-env triggers
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

unset null var that are coming from jjb
  jenkins/scripts/dynamic_worker_workflow/e2e_tests.sh
Due: check-prow-config, shellcheck

Define KUBERNETES_VERSION and related variables for k8s upgrade tests
  jenkins/scripts/dynamic_worker_workflow/e2e_tests.sh
Due: check-prow-config, shellcheck

Bump CRIO to v1.30.0
  jenkins/image_building/build-image.sh
Due: check-prow-config, shellcheck

remove bmo release-0.3 from project-infra
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Fix rpm conflict in the centos image
  jenkins/image_building/dib_elements/centos-ci/install.d/55-install
Due: check-prow-config

Prow: Enable blunderbuss
  prow/manifests/overlays/metal3/plugins.yaml
Due: check-prow-config

remove last of the jenkins ghprb branch protections
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Fix e2e integration test run from PR
  jenkins/scripts/dynamic_worker_workflow/e2e_tests.sh
Due: check-prow-config, shellcheck

remove e2e from bmo 0.6 branch as required
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

WIP: add affected branch to all tests
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Move BMO e2e jobs to run on Xerces workers
  jenkins/jobs/bmo_e2e_tests.pipeline
Due: check-prow-config

Move integration and basic tests to workers with label 4c16gb
  jenkins/jobs/capm3-e2e-tests.pipeline
  jenkins/jobs/dev_env_integration_tests.pipeline
Due: check-prow-config

Increase BMO e2e timeout
  jenkins/jobs/bmo_e2e_tests.pipeline
Due: check-prow-config

Adjust timeout for tests
  jenkins/jobs/capm3-e2e-tests.pipeline
  jenkins/jobs/dev_env_integration_tests.pipeline
Due: check-prow-config

Set dev env tests as required for metal3-dev-env-repo
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Fix git credentials ID
  jenkins/jobs/bml_integration_tests.pipeline
  jenkins/jobs/bmo_e2e_tests.pipeline
  jenkins/jobs/capm3-e2e-tests.pipeline
  jenkins/jobs/dev_env_integration_tests.pipeline
  jenkins/jobs/image_building.pipeline
  jenkins/jobs/integration_tests.pipeline
  jenkins/jobs/integration_tests_clean.pipeline
  jenkins/jobs/parallel_e2e_features_test.pipeline
  jenkins/jobs/prow_integration_tests.pipeline
Due: check-prow-config

Move furkatgofurov7 to emeritus approvers
  OWNERS
Due: none

Remove ghprb related variables from feature tests pipeline
  jenkins/jobs/parallel_e2e_features_test.pipeline
Due: check-prow-config

Prow: Skip job report from jenkins-operator
  prow/manifests/overlays/metal3/external-plugins/jenkins-operator.yaml
Due: check-prow-config

Prow: Increase max prowjob age to 24h
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Prow: Update readme
  prow/README.md
Due: markdownlint

Add Sunnatillo as an approver and adilGhaffarDev as a reviewer
  OWNERS
Due: none

Prow: Enable triggering of GitHub workflows
  prow/manifests/overlays/metal3/plugins.yaml
Due: check-prow-config

Removing EPHEMERAL_TEST var usage before pipeline
  jenkins/jobs/capm3-e2e-tests.pipeline
Due: check-prow-config

Prow: Add metal3-io org to triggers config
  prow/manifests/overlays/metal3/plugins.yaml
Due: check-prow-config

Remove ghprb vars from bml pipeline
  jenkins/jobs/bml_integration_tests.pipeline
Due: check-prow-config

skip if only OWNERS_ALIASES is modified
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

add OWNERS_ALIASES support
  OWNERS
  OWNERS_ALIASES
Due: check-prow-config

this is a test, DNM
  README.md
Due: markdownlint

add cherrypicker to sles-ironic-python-agent-builder
  prow/manifests/overlays/metal3/plugins.yaml
Due: check-prow-config

Add new key to authorized_keys in the DiB build
  jenkins/image_building/authorized_keys
  jenkins/image_building/build-image.sh
Due: check-prow-config, shellcheck

Remove unused scripts and variables from project infra
  jenkins/jobs/integration_tests.pipeline
  jenkins/jobs/prow_integration_tests.pipeline
  jenkins/scripts/bml_integration_test.sh
  jenkins/scripts/files/run_clean.sh
  jenkins/scripts/files/run_fetch_logs.sh
  jenkins/scripts/integration_test.sh
  jenkins/scripts/integration_test_clean.sh
  jenkins/scripts/utils.sh
Due: check-prow-config, shellcheck

Prow: Enable reporting again in jenkins-operator
  prow/manifests/overlays/metal3/external-plugins/jenkins-operator.yaml
Due: check-prow-config

Path conditions:
  check-prow-config: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: (\.md|markdownlint\.sh)$
  shellcheck: any of: ((\.sh)|^Makefile)$
