Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test

Path conditions:
  gomod: unless all of: (((^|/)OWNERS)|(\.md))$
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$
  build: any of: ^api|^test|^Makefile$
  test: any of: ^(Makefile|hack/.*)$

Prepare main branch for CAPI v1.7 contract
  clusterctl-settings.json
  metadata.yaml
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/infrastructure-metal3/v1.7/metadata.yaml
  test/e2e/data/shared/main/metadata.yaml
  test/e2e/data/shared/v1.7/metadata.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Bump CAPI to v1.7.0-beta.0
  README.md
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint, build

Fixes log messages
  baremetal/metal3data_manager.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Fix the NIC
  baremetal/metal3data_manager.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Fix: Metal3Data Manager log levels
  baremetal/metal3data_manager.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Bump cert-manager version v1.13.0 -> v1.14.0
  Tiltfile
  examples/generate.sh
  test/e2e/config/e2e_conf.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Bump docker go module to v26.0.0
  test/e2e/pivoting.go
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

🌱 remove redundant make targets and script
  Makefile
  hack/gofmt.sh
  hack/govet.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Added basic e2e tests
  Makefile
  config/ipam/image_patch.yaml
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/infrastructure-metal3/bases/clusterclass-centos-kubeadm-config/clusterclass-centos-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/bases/clusterclass-centos-kubeadm-config/kustomization.yaml
  test/e2e/data/infrastructure-metal3/bases/clusterclass-cluster/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-metal3/bases/clusterclass-cluster/crs.yaml
  test/e2e/data/infrastructure-metal3/bases/clusterclass-cluster/kustomization.yaml
  test/e2e/data/infrastructure-metal3/bases/clusterclass-cluster/md.yaml
  test/e2e/data/infrastructure-metal3/bases/clusterclass-ubuntu-kubeadm-config/clusterclass-ubuntu-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/bases/clusterclass-ubuntu-kubeadm-config/kustomization.yaml
  test/e2e/data/infrastructure-metal3/bases/clusterclass/clusterclass.yaml
  test/e2e/data/infrastructure-metal3/bases/clusterclass/kustomization.yaml
  test/e2e/data/infrastructure-metal3/clusterclass-template-centos/kustomization.yaml
  test/e2e/data/infrastructure-metal3/clusterclass-template-ubuntu/kustomization.yaml
  test/e2e/data/infrastructure-metal3/clusterclass-template-upgrade-workload/kustomization.yaml
  test/e2e/data/infrastructure-metal3/clusterclass/kustomization.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Uplift ipam 1.7.0-beta.0 release
  api/go.mod
  api/go.sum
  config/ipam/image_patch.yaml
  config/ipam/kustomization.yaml
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

remove ironic image related checks in verify-release.sh
  hack/verify-release.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, test

support beta and rc releases in release note generator
  Makefile
  hack/tools/release/notes.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Update e2e feature tests link
  README.md
Due: markdownlint

Bump CAPI to v1.7.0-beta1
  README.md
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint, build

update releasing doc
  docs/releasing.md
Due: markdownlint

Feat: lint-fix as make target
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Upgrade e2e docs
  docs/e2e-test.md
Due: markdownlint

Update e2e feature tests triggers
  README.md
Due: markdownlint

Use PostNamespaceCreated hook to apply bmh in clusterctl upgrade
  scripts/environment.sh
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Fixing and simplifying clusterctl upgrade tests
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Simplifying and updating clusterctl upgrade tests
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Test CAPI in-cluster IPAM with CAPM3
  config/default/kustomization.yaml
  config/ipam/image_patch.yaml
  config/ipam/kustomization.yaml
  config/ipam/pull_policy_patch.yaml
  test/e2e/data/infrastructure-metal3/bases/ippool/ippool_old.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

add release markers to e2e config
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Bump CAPI to v1.7.0-rc.0
  README.md
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint, build

add workflow to approve actions on PR change
  .github/workflows/pr-gh-workflow-approve.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Bump golang.org/x/net to v0.23.0 and golang to v1.21.9
  Dockerfile
  Makefile
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Apply bmhs using the hook PostNamespaceCreated in e2e tests
  scripts/environment.sh
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Uplift CAPI to v1.7.0-rc.1
  README.md
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint, build

Bump golang.org/x/net to v0.24.0 and golang to v1.21.9
  Dockerfile
  Makefile
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Update e2e integration triggers
  README.md
Due: markdownlint

Add upgrade trigger to readme
  README.md
Due: markdownlint

Update triggers for release-1.4
  README.md
Due: markdownlint

Fixing bmo and ironic versions for upgrade tests
  test/e2e/common.go
  test/e2e/upgrade_baremetal_operator.go
  test/e2e/upgrade_clusterctl_test.go
  test/e2e/upgrade_ironic.go
  test/go.mod
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Bump CAPI to v1.5.8
  README.md
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint, build

Bump CAPI to v1.6.4
  README.md
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint, build

Fix broken CI related links
  README.md
Due: markdownlint

Uplift CAPI to v1.7.0
  README.md
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint, build
