Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/generate.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

golint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/golint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

bump golang to 1.20.12
  Dockerfile
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Bump controller-runtime, k8s/*, CAPM3/test and other related go modules
  apis/go.mod
  apis/go.sum
  go.mod
  go.sum
  main.go
  test/go.mod
  test/go.sum
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

reduce github actions permissions
  .github/workflows/build-images-action.yml
  .github/workflows/dependabot.yml
  .github/workflows/e2e-fixture-test.yml
  .github/workflows/kubesec.yml
  .github/workflows/lint-docs.yaml
  .github/workflows/pr-verifier.yaml
  .github/workflows/release.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add release-0.5 to README.md
  README.md
Due: markdownlint

update releasing.md
  docs/releasing.md
Due: markdownlint

update build badges
  README.md
Due: markdownlint

Add bmo upgrade test
  .github/workflows/e2e-fixture-test.yml
  .gitignore
  Makefile
  config/overlays/e2e-release-0.4/ironic.env
  config/overlays/e2e-release-0.4/kustomization.yaml
  config/overlays/fixture-release-0.4/kustomization.yaml
  hack/ci-e2e.sh
  test/e2e/README.md
  test/e2e/common.go
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint

Install golangci-lint directly instead of building it using go-modules
  .github/workflows/golangci-lint.yml
  Makefile
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

Add new CRD for Firmware Components Update
  PROJECT
  apis/metal3.io/v1alpha1/hostfirmwarecomponents_types.go
  apis/metal3.io/v1alpha1/hostfirmwarecomponents_types_test.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_hostfirmwarecomponents.yaml
  config/base/rbac/hostfirmwarecomponents_editor_role.yaml
  config/base/rbac/hostfirmwarecomponents_viewer_role.yaml
  config/samples/metal3.io_v1alpha1_hostfirmwarecomponents.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Fix ginkgo version mismatch between cli and import package in e2e
  Makefile
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

Override the default E2E_CONF_FILE in ci-e2e.sh to fix issue in E2E tests after adding upgrade tests.
  hack/ci-e2e.sh
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

Set USE_IRONIC_INSPECTOR explicitly (to true for now)
  ironic-deployment/default/ironic_bmo_configmap.env
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

switch markdownlint container to markdownlint-cli2
  .markdownlint-cli2.yaml
  CONTRIBUTING.md
  docs/api.md
  docs/configuration.md
  docs/deploying.md
  docs/dev-setup.md
  hack/markdownlint.sh
  ironic-deployment/README.md
  test/e2e/README.md
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint

Adjust kustomization
  Dockerfile.ocp
  config/base/kustomization.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

WIP: test, do not merge
  README.md
Due: markdownlint

Add trigger phrases and status badge for e2e tests
  README.md
  test/e2e/README.md
Due: markdownlint

Enable parallel testing in E2E
  Makefile
  hack/ci-e2e.sh
  hack/clean-e2e.sh
  hack/create_bmcs.sh
  hack/e2e/ensure_yq.sh
  hack/e2e/net.xml
  test/e2e/README.md
  test/e2e/basic_ops_test.go
  test/e2e/bmc.go
  test/e2e/common.go
  test/e2e/config/bmcs-fixture.yaml
  test/e2e/config/bmcs-sushy-tools.yaml
  test/e2e/config/bmcs-vbmc.yaml
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/external_inspection_test.go
  test/e2e/inspection_test.go
  test/e2e/live_iso_test.go
  test/e2e/provisioning_and_annotation_test.go
  test/e2e/re_inspection_test.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint

Bump golang to v1.21.6
  .github/workflows/release.yaml
  .golangci.yaml
  Dockerfile
  Makefile
  Tiltfile
  apis/go.mod
  apis/go.sum
  go.mod
  go.sum
  hack/generate.sh
  hack/gofmt.sh
  hack/golint.sh
  hack/gomod.sh
  hack/tools/go.mod
  hack/tools/go.sum
  hack/unit.sh
  pkg/hardwareutils/go.mod
  test/go.mod
  test/go.sum
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

add iPXE TLS support to local ironic deployment
  tools/run_local_ironic.sh
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

Fix VM selection in clean-e2e.sh
  hack/clean-e2e.sh
  tools/bmh_test/clean_local_bmh_test_setup.sh
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

Reduce GH fixture test GINKGO_NODES to 1
  .github/workflows/e2e-fixture-test.yml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2E: Increase some intervals
  test/e2e/config/ironic.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2E test: Add more BMO versions for upgrade tests
  config/overlays/e2e-release-0.3/ironic.env
  config/overlays/e2e-release-0.3/kustomization.yaml
  config/overlays/e2e-release-0.5/ironic.env
  config/overlays/e2e-release-0.5/kustomization.yaml
  config/overlays/fixture-release-0.3/kustomization.yaml
  config/overlays/fixture-release-0.5/kustomization.yaml
  hack/ci-e2e.sh
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

Fix an indentation error in kustomization file regarding ironic configmap generator
  config/default/kustomization.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Allow BMC address to be updated
  apis/metal3.io/v1alpha1/baremetalhost_validation.go
  apis/metal3.io/v1alpha1/baremetalhost_validation_test.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/validatemanagementaccess_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add disableNameSuffixHash to kustomization.yaml in deploy script
  tools/deploy.sh
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

Add interval wait-power-state to fixture test to fix flake
  test/e2e/config/fixture.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2E: Fix basic auth config
  hack/ci-e2e.sh
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

E2E: Remove unused variables
  config/overlays/e2e-release-0.3/ironic.env
  config/overlays/e2e-release-0.4/ironic.env
  config/overlays/e2e-release-0.5/ironic.env
  config/overlays/e2e/ironic.env
  ironic-deployment/overlays/e2e/ironic_bmo_configmap.env
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

NO-ISSUE: Revert "downstream-only: Disable webhooks"
  main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add alternative Tilt setup method to documentation
  docs/dev-setup.md
Due: markdownlint

Add ironic and bmo cleanup for upgrade BMO E2E tests
  test/e2e/common.go
  test/e2e/e2e_suite_test.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Remove Inspector from all deployments scripts
  config/README.md
  config/components/basic-auth/credentials_patch.yaml
  config/components/basic-auth/kustomization.yaml
  config/overlays/basic-auth_tls/kustomization.yaml
  config/overlays/e2e-release-0.5/kustomization.yaml
  config/overlays/e2e/kustomization.yaml
  docs/deploying.md
  docs/dev-setup.md
  docs/ironic-authentication.md
  hack/ci-e2e.sh
  ironic-deployment/base/ironic.yaml
  ironic-deployment/components/basic-auth/auth.yaml
  ironic-deployment/components/basic-auth/ironic-inspector-auth-config-tpl
  ironic-deployment/components/basic-auth/kustomization.yaml
  ironic-deployment/components/keepalived/ironic_bmo_configmap.env
  ironic-deployment/components/tls/certificate.yaml
  ironic-deployment/components/tls/tls.yaml
  ironic-deployment/default/ironic_bmo_configmap.env
  ironic-deployment/overlays/basic-auth_tls/basic-auth_tls.yaml
  ironic-deployment/overlays/basic-auth_tls/kustomization.yaml
  ironic-deployment/overlays/e2e/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e/kustomization.yaml
  tools/deploy.sh
  tools/run_local_ironic.sh
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint

Still generate inspector credentials for BMO<=0.5
  config/overlays/e2e-release-0.5/kustomization.yaml
  hack/ci-e2e.sh
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

release-0.5: harden stable branch against inspector removal
  config/default/ironic.env
  config/overlays/e2e/ironic.env
  config/render/capm3.yaml
  hack/ironic_ci.env
  ironic-deployment/base/ironic.yaml
  ironic-deployment/components/keepalived/ironic_bmo_configmap.env
  ironic-deployment/default/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e/ironic_bmo_configmap.env
  tools/run_local_ironic.sh
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

Fix a typo in config/README.md
  config/README.md
Due: markdownlint

Path conditions:
  gofmt: (any of: \.go$) or (unless all of: (((^|/)OWNERS)|(\.md))$)
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  golint: (any of: \.go$) or (unless all of: (((^|/)OWNERS)|(\.md))$)
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$
