Repository metal3-io/metal3-docs: changes, and which Prow jobs are due for each by the changed paths.
All: markdownlint, shellcheck, spellcheck

Path conditions:
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  spellcheck: any of: (\.md|spellcheck\.sh|.cspell-config.json)$

added example for dataImage status of attached ISO
  design/baremetal-operator/bmh_non-bootable_iso.md
Due: markdownlint, spellcheck

Added placeholders that resolve to the latest version of a release
  docs/user-guide/README.md
  docs/user-guide/book.toml
  docs/user-guide/release_version.js
  docs/user-guide/src/baremetal/guide.md
  docs/user-guide/src/capm3/installation_guide.md
  docs/user-guide/src/capm3/pivoting.md
  docs/user-guide/src/introduction.md
Due: markdownlint, spellcheck

added reasoning for reboot requirement and future possibility of extending the design
  design/baremetal-operator/bmh_non-bootable_iso.md
Due: markdownlint, spellcheck

User guide: updates for Inspector removal
  docs/user-guide/src/baremetal/guide.md
  docs/user-guide/src/bmo/install_baremetal_operator.md
  docs/user-guide/src/bmo/ironic_bmo_configmap.env
  docs/user-guide/src/capm3/pivoting.md
  docs/user-guide/src/developer_environment/tryit.md
  docs/user-guide/src/ironic/ironic-python-agent.md
  docs/user-guide/src/ironic/ironic_installation.md
  docs/user-guide/src/ironic/ironic_variables.md
Due: markdownlint, spellcheck

Fix installation instruction
  docs/user-guide/src/capm3/installation_guide.md
Due: markdownlint, spellcheck

Quick start for Metal3
  docs/user-guide/src/SUMMARY.md
  docs/user-guide/src/quick-start.md
Due: markdownlint, spellcheck

Go preprocessor to find and replace releasetags
  Makefile
  docs/user-guide/book.toml
  docs/user-guide/src/capm3/installation_guide.md
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/releasetags/releasetags.go
Due: markdownlint, shellcheck, spellcheck

bump shellcheck to v0.10.0
  hack/shellcheck.sh
Due: shellcheck

In quick-start, update all references to use Bare Metal Operator v0.5.1
  docs/user-guide/src/quick-start.md
Due: markdownlint, spellcheck

Fix the link in introduction to try it section
  docs/user-guide/src/introduction.md
Due: markdownlint, spellcheck

CRs url fix
  crs_reference.md
Due: markdownlint, spellcheck

update to nodes-machines-and-hosts.md
  design/baremetal-operator/kubebuilder-migration.md
  design/nodes-machines-and-hosts.md
  design/sync-labels-bmh-to-node.md
Due: markdownlint, spellcheck

Add ironic image version in kustomization.yaml example
  docs/user-guide/src/quick-start.md
Due: markdownlint, spellcheck

DHCP-less IPAM proposal
  .cspell-config.json
  design/dhcpless_ipam.md
Due: markdownlint, spellcheck

fix(quick-start): typo in authentication config section
  docs/user-guide/src/quick-start.md
Due: markdownlint, spellcheck

Added info on ClusterClass use
  docs/user-guide/src/capm3/clusterclass.md
Due: markdownlint, spellcheck

update releasing doc
  processes/releasing.md
Due: markdownlint, spellcheck

added CRDs and godoc reference for main projects
  docs/user-guide/src/SUMMARY.md
  docs/user-guide/src/reference/bmo.md
  docs/user-guide/src/reference/capm3.md
  docs/user-guide/src/reference/ipam.md
Due: markdownlint, spellcheck

Fix ironic installation with kustomize instruction
  docs/user-guide/src/ironic/ironic_installation.md
Due: markdownlint, spellcheck

Fix book markdown url issue
  docs/user-guide/src/ironic/ironic_installation.md
Due: markdownlint, spellcheck

Remove extra OWNERS files
  OWNERS
  design/hardware-classification-controller/OWNERS
  design/helm-charts/OWNERS
  docs/user-guide/src/OWNERS
Due: none

Reworded multi-tenancy motivation
  design/hostclaim-multitenancy-and-hybrid-clusters.md
Due: markdownlint, spellcheck

Add support for release-1.7
  processes/releasing.md
Due: markdownlint, spellcheck

Alternative implementations of HostClaims and risks
  .cspell-config.json
  design/hostclaim-multitenancy-and-hybrid-clusters.md
Due: markdownlint, spellcheck

Remove non necessary indent
  docs/user-guide/src/quick-start.md
Due: markdownlint, spellcheck

Remove indent
  docs/user-guide/src/quick-start.md
Due: markdownlint, spellcheck

Add baremetal-operator image version in kustomization.yaml example
  docs/user-guide/src/quick-start.md
Due: markdownlint, spellcheck

Add release-1.7 support
  docs/user-guide/src/version_support.md
Due: markdownlint, spellcheck

Go preprocessor to find and replace releasetags
  .gitignore
  Makefile
  docs/README.md
  docs/user-guide/book.toml
  docs/user-guide/src/SUMMARY.md
  docs/user-guide/src/baremetal/guide.md
  docs/user-guide/src/bmo/features.md
  docs/user-guide/src/capm3/features.md
  docs/user-guide/src/capm3/installation_guide.md
  docs/user-guide/src/capm3/pivoting.md
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/releasetags/releasetags.go
Due: markdownlint, shellcheck, spellcheck

Fix virtualized environment
  docs/user-guide/src/quick-start.md
Due: markdownlint, spellcheck

Added a feature section to the user guide. solved issue #399 Changes to be committed: new file: docs/user-guide/src/feature/feature.md
  docs/user-guide/src/feature/feature.md
Due: markdownlint, spellcheck

Revert ":sparkles: Go preprocessor to find and replace releasetag markers"
  .gitignore
  Makefile
  docs/README.md
  docs/user-guide/book.toml
  docs/user-guide/src/SUMMARY.md
  docs/user-guide/src/baremetal/guide.md
  docs/user-guide/src/bmo/features.md
  docs/user-guide/src/capm3/features.md
  docs/user-guide/src/capm3/installation_guide.md
  docs/user-guide/src/capm3/pivoting.md
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/releasetags/releasetags.go
Due: markdownlint, shellcheck, spellcheck

Revert "Go preprocessor to find and replace releasetags"
  .gitignore
  Makefile
  docs/README.md
  docs/user-guide/book.toml
  docs/user-guide/src/SUMMARY.md
  docs/user-guide/src/baremetal/guide.md
  docs/user-guide/src/bmo/features.md
  docs/user-guide/src/capm3/features.md
  docs/user-guide/src/capm3/installation_guide.md
  docs/user-guide/src/capm3/pivoting.md
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/releasetags/releasetags.go
Due: markdownlint, shellcheck, spellcheck

Test rust failure
  netlify.toml
Due: none

Merge API references and fix empty link
  docs/user-guide/src/SUMMARY.md
  docs/user-guide/src/reference.md
  docs/user-guide/src/reference/bmo.md
  docs/user-guide/src/reference/capm3.md
  docs/user-guide/src/reference/ipam.md
Due: markdownlint, spellcheck

Bump rust to v0.4.37
  Makefile
  netlify.toml
Due: shellcheck

hack/tools: reduce required Go version
  hack/tools/go.mod
Due: none

User guide: completely rework the BMO introduction
  docs/user-guide/src/bmo/images/ipa-inspection.plantuml
  docs/user-guide/src/bmo/images/ipa-inspection.png
  docs/user-guide/src/bmo/introduction.md
Due: markdownlint, spellcheck
