Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/generate.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

golint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/golint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

test:
  decorate: true
  spec:
    containers:
    - args:
      - test
      command:
      - make
      image: quay.io/metal3-io/basic-checks:golang-1.22
      imagePullPolicy: Always

clean the toolchain directive off the go.mod
  hack/tools/go.mod
Due: gosec, gomod, unit, generate, manifestlint, test

Remove periodic upgrade tests from release branches
  .github/workflows/e2e-test-optional-periodic-release-0.6.yml
  .github/workflows/e2e-test-optional-periodic-release-0.8.yml
  .github/workflows/e2e-test-optional-periodic-release-0.9.yml
Due: gosec, gomod, unit, generate, manifestlint

bump x/crypto to v0.36.0
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint, test

update rescue iso used for e2e tests
  hack/ci-e2e.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

bump x/net, x/crypto and x/oauth2
  apis/go.mod
  apis/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint, test

Only accept HTTPHeadersRef in same namespace
  apis/metal3.io/v1alpha1/bmceventsubscription_validation.go
  apis/metal3.io/v1alpha1/bmceventsubscription_validation_test.go
  controllers/metal3.io/bmceventsubscription_controller.go
  controllers/metal3.io/bmceventsubscription_controller_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Release v0.9.1
  releasenotes/v0.9.1.md
Due: markdownlint

Release v0.8.1
  releasenotes/v0.8.1.md
Due: markdownlint

fix broken release process
  .github/workflows/release.yaml
  Makefile
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/release/notes.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

group all github action bumps into single PR
  .github/dependabot.yml
Due: gosec, gomod, unit, generate, manifestlint

Pin IPA version when running local ironic
  tools/run_local_ironic.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

Move @mquhuy to emeritus reviewers
  OWNERS
  OWNERS_ALIASES
Due: gosec, gomod, unit, generate, manifestlint

Reduce logging noise from status reconstruction
  controllers/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

bump tj-actions/changed-files to v46.0.1
  .github/workflows/release.yaml
Due: gosec, gomod, unit, generate, manifestlint

handle dataImage before reboot annotation to prevent annotation removal before dataImage actions finish
  controllers/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Bump golangci-lint to v1.64.7
  .github/workflows/golangci-lint.yml
  .golangci.yaml
  Makefile
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

update osv-scanner to v2.0.0
  .github/workflows/osv-scanner-scan.yml
  hack/verify-release.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

use standard GetVirtualMedia API for checking dataImage status
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/dataimage_controller.go
  controllers/metal3.io/host_state_machine_test.go
  go.mod
  go.sum
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/clients/features.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

draft: add namespace scoped operator mode
  Makefile
  config/namespace/namespace.yaml
  config/overlays/namespaced-e2e/kustomization.yaml
  config/overlays/namespaced-e2e/namespaced-manager-patch.yaml
  config/overlays/namespaced-e2e/roles-ns-annotator.yaml
  config/overlays/namespaced/kustomization.yaml
  config/overlays/namespaced/namespaced-manager-patch.yaml
  config/overlays/namespaced/roles-ns-annotator.yaml
  config/render/capm3.yaml
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/bmceventsubscription_controller.go
  controllers/metal3.io/dataimage_controller.go
  controllers/metal3.io/hostfirmwarecomponents_controller.go
  controllers/metal3.io/hostfirmwaresettings_controller.go
  controllers/metal3.io/preprovisioningimage_controller.go
  docs/namespace-scoped-operator.md
  hack/ci-e2e.sh
  hack/tools/kustomize-namespace-annotator/Dockerfile
  hack/tools/kustomize-namespace-annotator/README.md
  hack/tools/kustomize-namespace-annotator/go.mod
  hack/tools/kustomize-namespace-annotator/go.sum
  hack/tools/kustomize-namespace-annotator/main.go
  main.go
  set_ns.py
  test/e2e/basic_ops_test.go
  test/e2e/common.go
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/external_inspection_test.go
  test/e2e/inspection_test.go
  test/e2e/live_iso_test.go
  test/e2e/provisioning_and_annotation_test.go
  test/e2e/re_inspection_test.go
  test/e2e/upgrade_test.go
  tools/deploy.sh
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Add go script to replace set_ns.py
  set_ns/set_ns.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

update the used linters list
  .golangci.yaml
Due: gosec, gomod, unit, generate, manifestlint

VBMCTL: Avoid re-using the default storage pool
  hack/clean-e2e.sh
  test/vbmctl/main.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

Minor logging improvements
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/host_state_machine.go
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

do not bump major version of github actions
  .github/dependabot.yml
Due: gosec, gomod, unit, generate, manifestlint

bump golang to v1.23.8 and x/net to v0.38.0
  Dockerfile
  Makefile
  apis/go.mod
  apis/go.sum
  go.mod
  go.sum
  hack/e2e/ensure_go.sh
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

cleanup build/ and obsolete publishing-images.md
  README.md
  build/Dockerfile
  docs/publishing-images.md
Due: gosec, gomod, markdownlint, unit, generate, manifestlint

Enable usetesting linter in golangci-lint
  .golangci.yaml
  pkg/provisioner/ironic/clients/auth_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Fix few errors when making beta release notes
  hack/tools/release/notes.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint, test

Enable dupl linter in golangci-lint
  .golangci.yaml
Due: gosec, gomod, unit, generate, manifestlint

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  golint: any of: \.go$
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$
