Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test, build-fkas

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

golangci-lint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/ensure-golangci-lint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

govet:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/govet.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/codegen.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

build:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/build.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

enable container signing
  .github/workflows/build-fkas-images-action.yml
  .github/workflows/build-images-action.yml
  .github/workflows/release.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Add n+3 test in e2e
  docs/e2e-test.md
  scripts/ci-e2e.sh
  scripts/environment.sh
  test/e2e/common.go
  test/e2e/node_reuse.go
  test/e2e/upgrade_kubernetes_n3_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build

:rocket: Release v1.12.0-rc.0
  releasenotes/v1.12.0-rc.0.md
Due: markdownlint

update dependabot config for release-1.12
  .github/dependabot.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Use IRSO in e2e tests
  scripts/ci-e2e.sh
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/bmo-deployment/overlays/release-0.9/ironic.env
  test/e2e/data/bmo-deployment/overlays/release-0.9/kustomization.yaml
  test/e2e/data/ironic-deployment/components/basic-auth/auth.yaml
  test/e2e/data/ironic-deployment/components/basic-auth/ironic-auth-config-tpl
  test/e2e/data/ironic-deployment/components/basic-auth/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/pr-test/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/pr-test/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/pr-test/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/release-27.0/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-27.0/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/release-27.0/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/release-29.0/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-29.0/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/release-29.0/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/release-31.0/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-31.0/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/release-31.0/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/release-32.0/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-32.0/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/release-32.0/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/release-latest/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-latest/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/release-latest/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/base/ironic.yaml
  test/e2e/data/ironic-standalone-operator/ironic/base/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/components/basic-auth/auth-patch.yaml
  test/e2e/data/ironic-standalone-operator/ironic/components/basic-auth/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/components/tls/certificate.yaml
  test/e2e/data/ironic-standalone-operator/ironic/components/tls/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/components/tls/tls.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/latest/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/pr-test/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/release-31.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/release-32.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/kustomization.yaml
  test/e2e/pivoting.go
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Add 'name' field to network links and make MAC address optional
  api/v1beta1/metal3datatemplate_types.go
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datatemplates.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

Stop using dev-env in E2E setup
  .yamlfmt
  Makefile
  baremetal/metal3cluster_manager_test.go
  controllers/suite_test.go
  hack/e2e/external.xml
  hack/e2e/fake-ipa.sh
  hack/e2e/net.xml
  hack/e2e/provisioning.xml
  hack/ensure-go.sh
  hack/ensure_kubectl.sh
  hack/ensure_yq.sh
  scripts/ci-e2e.sh
  scripts/clean-e2e.sh
  test/e2e/bmc.go
  test/e2e/cert_manager.go
  test/e2e/common.go
  test/e2e/config/bmcs-redfish-virtualmedia.yaml
  test/e2e/config/bmcs.yaml
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/bmo-deployment/overlays/release-latest/ironic.env
  test/e2e/data/clean_local_bmh_test_setup.sh
  test/e2e/data/dnsmasq.env
  test/e2e/data/infrastructure-metal3/v1.9/bases/ubuntu-kubeadm-config/ubuntu-kubeadm-config.yaml
  test/e2e/data/ironic-deployment/overlays/release-latest/ironic-patch.yaml
  test/e2e/data/ironic-deployment/overlays/release-latest/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-latest/kustomization.yaml
  test/e2e/data/sushy-tools/sushy-emulator.conf
  test/e2e/e2e_suite_test.go
  test/e2e/node_reuse.go
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

add dependabot config for release-1.12
  .github/dependabot.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Add v1.13 metadata
  metadata.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Uplift BMO to 0.11.3 and IPAM to 1.11.3
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test, build-fkas

Uplift BMO to 0.10.6 and IPAM to 1.10.5
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test, build-fkas

remove limits from client.List calls
  baremetal/metal3data_manager.go
  baremetal/metal3datatemplate_manager.go
  baremetal/metal3machinetemplate_manager.go
  baremetal/utils.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

:rocket: Release v1.10.5
  releasenotes/v1.10.5.md
Due: markdownlint

:rocket: Release v1.11.3
  releasenotes/v1.11.3.md
Due: markdownlint

E2E: Fix centos image prefix
  test/e2e/common.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Uplift CAPI to v1.12.1, IPAM v1.12.0 and BMO v0.12.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  hack/gen_tilt_settings.sh
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

:rocket: Release v1.12.0
  releasenotes/v1.12.0.md
Due: markdownlint

Uplift CAPI to v1.12.1, IPAM v1.12.0 and BMO v0.12.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test, build-fkas

Add k8s in-place upgrade test
  Makefile
  scripts/ci-e2e.sh
  scripts/environment.sh
  test/e2e/common.go
  test/e2e/data/infrastructure-metal3/main/bases/clusterclass/clusterclass.yaml
  test/e2e/data/infrastructure-metal3/main/cluster-template-centos-in-place/cluster-with-topology-in-place.yaml
  test/e2e/data/infrastructure-metal3/main/cluster-template-centos-in-place/kustomization.yaml
  test/e2e/k8s_in_place_upgrade.go
  test/e2e/k8s_in_place_upgrade_test.go
  test/extension/Dockerfile
  test/extension/config/certmanager/certificate.yaml
  test/extension/config/certmanager/kustomization.yaml
  test/extension/config/certmanager/kustomizeconfig.yaml
  test/extension/config/default/extensionconfig.yaml
  test/extension/config/default/kustomization.yaml
  test/extension/config/default/manager.yaml
  test/extension/config/default/manager_image_patch.yaml
  test/extension/config/default/manager_pull_policy.yaml
  test/extension/config/default/manager_ssh_patch.yaml
  test/extension/config/default/manager_webhook_patch.yaml
  test/extension/config/default/namespace.yaml
  test/extension/config/default/service.yaml
  test/extension/config/rbac/kustomization.yaml
  test/extension/config/rbac/leader_election_role.yaml
  test/extension/config/rbac/leader_election_role_binding.yaml
  test/extension/config/rbac/role.yaml
  test/extension/config/rbac/role_binding.yaml
  test/extension/config/rbac/service_account.yaml
  test/extension/handlers/inplaceupdate/handlers.go
  test/extension/handlers/inplaceupdate/ssh.go
  test/extension/main.go
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Test PR for scale tests
  scripts/environment.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

Consolidate Metal3 Contributing guide in community repo
  CONTRIBUTING.md
Due: markdownlint

update triggers, build badges, support matrix
  README.md
Due: markdownlint

make lint-full -> lint
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

fix: add capipamv1 to myscheme instead of scheme.Scheme
  main.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Uplift k8s version to v1.35.0
  Makefile
  docs/api.md
  docs/architecture.md
  docs/dev-setup.md
  docs/e2e-test.md
  examples/generate.sh
  hack/ensure-kubectl.sh
  hack/gen_tilt_settings.sh
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Uplift k8s version to v1.35.0
  Makefile
  docs/api.md
  docs/architecture.md
  docs/dev-setup.md
  docs/e2e-test.md
  examples/generate.sh
  hack/ensure-kubectl.sh
  hack/gen_tilt_settings.sh
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Hide generated files in GH diffs
  .gitattributes
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

add clusterctl upgrade tests from v1.12->latest
  test/e2e/config/e2e_conf.yaml
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

🐛 Configure CAPM3 pods to run on control-plane/infra nodes
  config/manager/manager.yaml
  docs/getting-started.md
  examples/provider-components/manager_node_affinity_patch.yaml
  examples/provider-components/manager_tolerations_patch.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint

replace pkg/errors with stdlib Errorf
  api/go.mod
  api/v1beta1/metal3cluster_types.go
  baremetal/metal3cluster_manager.go
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  baremetal/metal3datatemplate_manager.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  baremetal/metal3machinetemplate_manager.go
  baremetal/metal3remediation_manager.go
  baremetal/reconcile_error_test.go
  baremetal/remote/remote.go
  baremetal/utils.go
  controllers/metal3cluster_controller.go
  controllers/metal3cluster_controller_integration_test.go
  controllers/metal3cluster_controller_test.go
  controllers/metal3data_controller.go
  controllers/metal3data_controller_test.go
  controllers/metal3datatemplate_controller.go
  controllers/metal3datatemplate_controller_test.go
  controllers/metal3labelsync_controller.go
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_integration_test.go
  controllers/metal3machine_controller_test.go
  controllers/metal3machinetemplate_controller.go
  controllers/metal3remediation_controller.go
  go.mod
  hack/tools/go.mod
  hack/tools/release/notes.go
  internal/webhooks/v1beta1/metal3clustertemplate_webhook.go
  internal/webhooks/v1beta1/metal3data_webhook.go
  internal/webhooks/v1beta1/metal3dataclaim_webhook.go
  internal/webhooks/v1beta1/metal3datatemplate_webhook.go
  test/e2e/common.go
  test/go.mod
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test, build-fkas

Update k8s versoins for N+3 test
  docs/e2e-test.md
  scripts/environment.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint

Bump golangci-lint to v2.8.0 for Go 1.25.x support
  .github/workflows/golangci-lint.yml
  hack/ensure-golangci-lint.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, test

Fix golangci-lint v2.8.0 linter issues
  baremetal/metal3cluster_manager_test.go
  baremetal/metal3data_manager_test.go
  baremetal/metal3datatemplate_manager_test.go
  baremetal/metal3machine_manager.go
  controllers/metal3labelsync_controller.go
  controllers/metal3machinetemplate_controller_test.go
  controllers/metal3remediation_controller.go
  main.go
  test/e2e/common.go
  test/e2e/logcollector.go
  test/e2e/pivoting.go
  test/e2e/remediation.go
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Path conditions:
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  unit: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  build: (any of: ^api|^test|^Makefile$) or (any of: ^api|^test|^Makefile$|^hack/build.sh$)
  test: any of: ^(Makefile|hack/.*)$
  build-fkas: any of: ^hack/fake-apiserver|^api|^Makefile$|^hack/build.sh$
