Repository Nordix/metal3-dev-tools: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: (\.md|markdownlint\.sh)$

add ironic-image release-31.0 to nordix sync
  scripts/update-nordix-repos-master.sh
Due: shellcheck

add IRSO 0.5 branch to sync
  scripts/update-nordix-repos-master.sh
Due: shellcheck

Added `pipefail` to trigger failures on piped commands.
  ci/scripts/jumphost/create_or_update_dev_jumphost.sh
  ci/scripts/jumphost/update_dev_jumphost_users.sh
  ci/scripts/openstack/infra_defines.sh
Due: shellcheck

update CAPI and CAPO synced branches
  scripts/update-nordix-repos-master.sh
Due: shellcheck

update new release branches for CAPM3, IPAM and BMO
  scripts/update-nordix-repos-master.sh
Due: shellcheck

add CAPO 0.13 to be synced
  scripts/update-nordix-repos-master.sh
Due: shellcheck

Refactor the following scripts for managing:
  ci/scripts/README.md
  ci/scripts/artifactory/README.md
  ci/scripts/artifactory/add_new_user_key.sh
  ci/scripts/artifactory/del_user_key.sh
  ci/scripts/artifactory/list_user_keys.sh
  ci/scripts/artifactory/utils.sh
  ci/scripts/common/opts.sh
  ci/scripts/common/utils.sh
  ci/scripts/image_scripts/build_ipa.sh
  ci/scripts/jumphost/README.md
  ci/scripts/jumphost/add_jumphost_user.sh
  ci/scripts/jumphost/add_new_user_key.sh
  ci/scripts/jumphost/create_or_rebuild_jumphost.sh
  ci/scripts/jumphost/create_or_update_dev_jumphost.sh
  ci/scripts/jumphost/del_jumphost_user.sh
  ci/scripts/jumphost/del_user_key.sh
  ci/scripts/jumphost/delete_dev_jumphost.sh
  ci/scripts/jumphost/delete_jumphost.sh
  ci/scripts/jumphost/files/add_proxy_user.sh
  ci/scripts/jumphost/update_dev_jumphost_users.sh
  ci/scripts/jumphost/update_jumphost_users.sh
  ci/scripts/jumphost/utils.sh
  ci/scripts/openstack/README.md
  ci/scripts/openstack/infra_add_key.sh
  ci/scripts/openstack/infra_defines.sh
  ci/scripts/openstack/infra_del_key.sh
  ci/scripts/openstack/infra_delete.sh
  ci/scripts/openstack/infra_delete_ci.sh
  ci/scripts/openstack/infra_delete_dev.sh
  ci/scripts/openstack/infra_setup.sh
  ci/scripts/openstack/infra_setup_ci.sh
  ci/scripts/openstack/infra_setup_dev.sh
  ci/scripts/openstack/utils.sh
Due: shellcheck, markdownlint

Merge jumphost user management scripts into a single script.
  ci/scripts/common/opts.sh
  ci/scripts/jumphost/README.md
  ci/scripts/jumphost/add_jumphost_user.sh
  ci/scripts/jumphost/del_jumphost_user.sh
  ci/scripts/jumphost/sync_jumphost_users.sh
  ci/scripts/jumphost/update_jumphost_users.sh
Due: shellcheck, markdownlint

Replace scp with rsync.
  ci/scripts/jumphost/sync_jumphost_users.sh
Due: shellcheck

Instead of fetching users' public keys from artifactory, store public keys in the repository for better keeping track of registered users.
  ci/scripts/README.md
  ci/scripts/artifactory/README.md
  ci/scripts/artifactory/add_new_user_key.sh
  ci/scripts/artifactory/del_user_key.sh
  ci/scripts/artifactory/list_user_keys.sh
  ci/scripts/artifactory/utils.sh
  ci/scripts/common/opts.sh
  ci/scripts/jumphost/README.md
  ci/scripts/jumphost/sync_jumphost_users.sh
  ci/scripts/public_keys/README.md
Due: shellcheck, markdownlint

Add Tero's public key.
  ci/scripts/public_keys/tero/terror96
Due: none

add my pubkey
  ci/scripts/public_keys/tuomo/tuminoid.pub
Due: none

Add public key for Moshiur
  ci/scripts/public_keys/moshiur/smoshiur1237.pub
Due: none

Add public key for Lennart
  ci/scripts/public_keys/lennart/lentzi90.pub
Due: none

sync IRSO and ironic-image newest releases to Nordix
  scripts/update-nordix-repos-master.sh
Due: shellcheck

Add scripts to setup Squid, a caching proxy.
  ci/scripts/squid/build.sh
  ci/scripts/squid/install.sh
  ci/scripts/squid/setup.sh
  ci/scripts/squid/squid_ver.sh
Due: shellcheck

Added support for enabling purge support. Clean up construction of rules for refresh patterns.
  ci/scripts/squid/install.sh
Due: shellcheck

Remove obsolete scripts and job pipelines including the following:
  Makefile
  README.md
  ci/jobs/container_image_building.pipeline
  ci/jobs/fullstack_building.pipeline
  ci/scripts/README.md
  ci/scripts/image_scripts/bmh-patch-short-serial.yaml
  ci/scripts/image_scripts/build_ipa.sh
  ci/scripts/image_scripts/configure_network_ubuntu.sh
  ci/scripts/image_scripts/ipa_builder_elements/cleanup-package/post-install.d/99-cleanup-package
  ci/scripts/image_scripts/ipa_builder_elements/ipa-add-buildinfo/install.d/80-ipa-add-buildinfo
  ci/scripts/image_scripts/ipa_builder_elements/ipa-cleanup-dracut/cleanup.d/99-ipa-cleanup-dracut
  ci/scripts/image_scripts/ipa_builder_elements/ipa-file-injector/environment.d/99-install-file-injector
  ci/scripts/image_scripts/ipa_builder_elements/ipa-file-injector/install.d/99-enable-ipa-file-injector
  ci/scripts/image_scripts/ipa_builder_elements/ipa-file-injector/root.d/99-install-file-injector
  ci/scripts/image_scripts/ipa_builder_elements/ipa-file-injector/root.d/ipa-file-injector.service.template
  ci/scripts/image_scripts/ipa_builder_elements/ipa-file-injector/root.d/ipa-file-injector.sh
  ci/scripts/image_scripts/ipa_builder_elements/ipa-module-autoload/install.d/80-ipa-module-autoload
  ci/scripts/image_scripts/ipa_builder_elements/override-simple-init/environment.d/99-override-simple-init
  ci/scripts/image_scripts/ipa_builder_elements/override-simple-init/post-install.d/99-override-simple-init
  ci/scripts/image_scripts/ipa_builder_elements/override-simple-init/post-install.d/glean-early-override-template.service
  ci/scripts/image_scripts/run_build_ironic.sh
  ci/scripts/image_scripts/run_fetch_logs.sh
  ci/scripts/image_scripts/start_centos_fullstack_build.sh
  ci/scripts/image_scripts/start_log_collection.sh
  ci/scripts/openstack/delete_openstack_vm.sh
  scripts/build-container-image.sh
  scripts/files/ubuntu-metal3-config.yaml.tpl
  scripts/init-repo.sh
  scripts/run-capb-tests.sh
  scripts/run_metal3_vm.sh
  scripts/update-nordix-artifacts.sh
Due: shellcheck, markdownlint

Refactoring scripts to use a common style. This includes the following:
  ci/scripts/artifactory/utils.sh
  ci/scripts/common/opts.sh
  ci/scripts/common/utils.sh
  ci/scripts/harbor/harbor_utils.sh
  ci/scripts/image_scripts/artifact_cleanup.sh
  ci/scripts/jumphost/create_or_rebuild_jumphost.sh
  ci/scripts/jumphost/delete_jumphost.sh
  ci/scripts/jumphost/sync_jumphost_users.sh
  ci/scripts/jumphost/utils.sh
  ci/scripts/openstack/infra_add_key.sh
  ci/scripts/openstack/infra_defines.sh
  ci/scripts/openstack/infra_del_key.sh
  ci/scripts/openstack/infra_delete.sh
  ci/scripts/openstack/infra_setup.sh
  ci/scripts/openstack/utils.sh
Due: shellcheck

add personal ssh-pub key
  ci/scripts/public_keys/feruz/fmuyassarov
Due: none

Add my ssh-pub key
  ci/scripts/public_keys/nuutti/nuhakala.pub
Due: none

Add SSH public key
  ci/scripts/public_keys/peppi-lotta/peppi-lotta.pub
Due: none
