Repository Nordix/metal3-dev-tools: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: (\.md|markdownlint\.sh)$

Add SSH public key
  ci/scripts/public_keys/peppi-lotta/peppi-lotta.pub
Due: none

Add public key for Kashif
  ci/scripts/public_keys/kashif/kashifest.pub
Due: none

Add Tero and Tamas as approvers
  OWNERS_ALIASES
Due: none

Add SSH public key for adil
  ci/scripts/public_keys/adil/adilGhaffarDev.pub
Due: none

Refactoring scripts to use a common style. This includes the following:
  ci/scripts/artifactory/utils.sh
  ci/scripts/common/opts.sh
  ci/scripts/common/utils.sh
  ci/scripts/harbor/harbor_utils.sh
  ci/scripts/image_scripts/artifact_cleanup.sh
  ci/scripts/jumphost/create_or_rebuild_jumphost.sh
  ci/scripts/jumphost/delete_jumphost.sh
  ci/scripts/jumphost/sync_jumphost_users.sh
  ci/scripts/jumphost/utils.sh
  ci/scripts/openstack/infra_add_key.sh
  ci/scripts/openstack/infra_defines.sh
  ci/scripts/openstack/infra_del_key.sh
  ci/scripts/openstack/infra_delete.sh
  ci/scripts/openstack/infra_setup.sh
  ci/scripts/openstack/utils.sh
Due: shellcheck

Make subnet name configurable instead of constructing it from the network name. This makes it possible to reuse already existing components.
  ci/scripts/jumphost/create_or_rebuild_jumphost.sh
  ci/scripts/openstack/infra_defines.sh
  ci/scripts/openstack/utils.sh
Due: shellcheck

add public SSH key
  ci/scripts/public_keys/tamas/tgerczei.pub
Due: none

Relocate jumphost scripts to the new tooling repo.
  ci/scripts/README.md
  ci/scripts/common/opts.sh
  ci/scripts/common/utils.sh
  ci/scripts/jumphost/README.md
  ci/scripts/jumphost/create_or_rebuild_jumphost.sh
  ci/scripts/jumphost/delete_jumphost.sh
  ci/scripts/jumphost/files/add_proxy_user.sh
  ci/scripts/jumphost/sync_jumphost_users.sh
  ci/scripts/jumphost/utils.sh
  ci/scripts/openstack/README.md
  ci/scripts/openstack/id_ed25519_metal3ci.pub
  ci/scripts/openstack/infra_add_key.sh
  ci/scripts/openstack/infra_defines.sh
  ci/scripts/openstack/infra_del_key.sh
  ci/scripts/openstack/infra_delete.sh
  ci/scripts/openstack/infra_setup.sh
  ci/scripts/openstack/utils.sh
  ci/scripts/public_keys/README.md
  ci/scripts/public_keys/adil/adilGhaffarDev.pub
  ci/scripts/public_keys/feruz/fmuyassarov
  ci/scripts/public_keys/kashif/kashifest.pub
  ci/scripts/public_keys/lennart/lentzi90.pub
  ci/scripts/public_keys/moshiur/smoshiur1237.pub
  ci/scripts/public_keys/nuutti/nuhakala.pub
  ci/scripts/public_keys/peppi-lotta/peppi-lotta.pub
  ci/scripts/public_keys/tamas/tgerczei.pub
  ci/scripts/public_keys/tero/terror96
  ci/scripts/public_keys/tuomo/tuminoid.pub
Due: shellcheck, markdownlint

Add yamllint workflow
  .github/workflows/yamllint.yaml
  .yamllint.yaml
Due: none

update ironic-image, irso and cluster-api release branch sync
  scripts/update-nordix-repos-master.sh
Due: shellcheck

add 1.12 series branches to be synced
  scripts/update-nordix-repos-master.sh
Due: shellcheck

Add community-operators tree
  scripts/update-nordix-repos-master.sh
Due: shellcheck

fix repo sync
  scripts/update-nordix-repos-master.sh
Due: shellcheck

rewrite repo sync script to actually just sync
  ci/jobs/update_nordix_repos.pipeline
  scripts/update-nordix-repos-master.sh
Due: shellcheck

fix edge cases in new repo sync script
  scripts/update-nordix-repos-master.sh
Due: shellcheck

fix new repo sync, part 2
  ci/jobs/update_nordix_repos.pipeline
  scripts/update-nordix-repos-master.sh
Due: shellcheck

update repos synced
  scripts/update-nordix-repos-master.sh
Due: shellcheck

resolve default branch, so the fallback works
  scripts/update-nordix-repos-master.sh
Due: shellcheck

kubernetes default is now main
  scripts/update-nordix-repos-master.sh
Due: shellcheck

Add kubernetes-sigs DRA repos to Nordix upstream sync
  scripts/update-nordix-repos-master.sh
Due: shellcheck
