Repository metal3-io/ip-address-manager: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, govet, markdownlint, shellcheck, unit, generate, manifestlint

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

govet:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/govet.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:latest
      imagePullPolicy: Always

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:stable
      imagePullPolicy: Always

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/codegen.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/garethr/kubeval:latest
      imagePullPolicy: Always

move namnx228 to emeritus reviewers
  OWNERS
Due: none

Move fmuyassarov to emeritus_approvers
  OWNERS
Due: none

Downgrade go 1.17
  go.mod
Due: gofmt, govet, unit, generate, manifestlint

Fix cloud.google.com/go/compute to v1.6.1
  go.mod
  go.sum
Due: gofmt, govet, unit, generate, manifestlint

fix sync owner conflict
  OWNERS
Due: none

Uplift CAPI to v1.2.2 in go modules
  go.mod
  go.sum
Due: gofmt, govet, unit, generate, manifestlint

Downgrade k8s modules to v0.24.2 to match CAPI
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: gofmt, govet, unit, generate, manifestlint

Uplift CAPI to v1.1.6
  go.mod
  go.sum
Due: gofmt, govet, unit, generate, manifestlint

Add gomod.sh script under hack folder
  hack/gomod.sh
Due: gofmt, govet, shellcheck, unit, generate, manifestlint

Add missing golangci-lint.sh script under hack folder
  hack/ensure-golangci-lint.sh
Due: gofmt, govet, shellcheck, unit, generate, manifestlint

Use generic folder name for all volume mounted folders under hack scripts
  hack/codegen.sh
  hack/gosec.sh
  hack/manifestlint.sh
  hack/markdownlint.sh
Due: gofmt, govet, shellcheck, unit, generate, manifestlint

Update IPAM compatibility table
  README.md
Due: markdownlint

Fix make target kind-create problem
  Makefile
  hack/hack/kind_with_registry.sh
Due: gofmt, govet, shellcheck, unit, generate, manifestlint

Fix make target kind-create problem
  hack/kind_with_registry.sh
Due: gofmt, govet, shellcheck, unit, generate, manifestlint

uplift capi to v1.2.3
  go.mod
  go.sum
Due: gofmt, govet, unit, generate, manifestlint

Bump golang to v1.18
  .github/workflows/release.yaml
  .golangci.yaml
  Dockerfile
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/Dockerfile.unit
  hack/codegen.sh
  hack/ensure-golangci-lint.sh
  hack/gofmt.sh
  hack/gomod.sh
  hack/govet.sh
  hack/unit.sh
Due: gofmt, govet, shellcheck, unit, generate, manifestlint

uplift capi to v1.2.4
  go.mod
  go.sum
Due: gofmt, govet, unit, generate, manifestlint

Fix go mod vulnerabilities according to different CVEs
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: gofmt, govet, unit, generate, manifestlint

Fix vulnerabilities
  hack/tools/go.mod
  hack/tools/go.sum
Due: gofmt, govet, unit, generate, manifestlint

Fix go mod vulnerabilities according to different CVEs
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gofmt, govet, unit, generate, manifestlint

add SECURITY_CONTACTS file
  SECURITY_CONTACTS
Due: gofmt, govet, unit, generate, manifestlint

Uplift CAPI to v1.2.5
  go.mod
  go.sum
Due: gofmt, govet, unit, generate, manifestlint

Uplift to CAPI v1.3.0-beta.1
  .github/workflows/release.yaml
  .golangci.yaml
  Dockerfile
  api/go.mod
  api/go.sum
  api/v1alpha1/utils_test.go
  config/crd/bases/ipam.metal3.io_ipaddresses.yaml
  config/crd/bases/ipam.metal3.io_ipclaims.yaml
  config/crd/bases/ipam.metal3.io_ippools.yaml
  controllers/ippool_controller_test.go
  controllers/suite_test.go
  examples/generate.sh
  go.mod
  go.sum
  hack/codegen.sh
  hack/ensure-go.sh
  hack/ensure-golangci-lint.sh
  hack/ensure-kind.sh
  hack/gofmt.sh
  hack/gomod.sh
  hack/govet.sh
  hack/tools/go.mod
  hack/tools/go.sum
  hack/unit.sh
  ipam/ippool_manager_test.go
  ipam/manager_factory_test.go
  ipam/requeue_error_test.go
  ipam/suite_test.go
  ipam/utils_test.go
  main.go
Due: gofmt, govet, shellcheck, unit, generate, manifestlint

Uplift CAPI to v1.3.0-rc.0 in main branch
  go.mod
  go.sum
Due: gofmt, govet, unit, generate, manifestlint

Uplift CAPI to v1.2.6
  go.mod
  go.sum
Due: gofmt, govet, unit, generate, manifestlint

Uplift CAPI v1.3.0
  README.md
  go.mod
  go.sum
Due: gofmt, govet, markdownlint, unit, generate, manifestlint

Fix markdownlint issues
  CONTRIBUTING.md
  README.md
  docs/releasing.md
Due: markdownlint

build: introduce support for FROM overrides
  Dockerfile
Due: gofmt, govet, unit, generate, manifestlint

Remove building unit test container image Dockerfile
  hack/Dockerfile.unit
Due: gofmt, govet, unit, generate, manifestlint

hack: use and pin mdl 0.12.0
  hack/markdownlint.sh
Due: gofmt, govet, shellcheck, unit, generate, manifestlint

shellcheck: pin to 0.9.0
  hack/shellcheck.sh
Due: gofmt, govet, shellcheck, unit, generate, manifestlint

Fake for testing
  CONTRIBUTING.md
Due: markdownlint

uplift x/net to 0.4.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gofmt, govet, unit, generate, manifestlint

Path conditions:
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: \.md$
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$
