Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/generate.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

golint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/golint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

test:
  decorate: true
  spec:
    containers:
    - args:
      - test
      command:
      - make
      image: quay.io/metal3-io/basic-checks:golang-1.24
      imagePullPolicy: Always

Use IRSO integration for credentials in E2E tests
  config/overlays/e2e-upgrade/ironic.env
  config/overlays/e2e-upgrade/kustomization.yaml
  config/overlays/e2e-upgrade/namespaced-manager-patch.yaml
  config/overlays/e2e/baremetal-operator-system/kustomization.yaml
  config/overlays/e2e/ironic.env
  config/overlays/e2e/kustomization.yaml
  config/overlays/e2e/namespaced-manager-patch.yaml
  hack/ci-e2e.sh
  test/e2e/data/ironic-standalone-operator/components/tls/certificate.yaml
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Improve error handling on invalid inventory
  pkg/provisioner/ironic/inspecthardware.go
  pkg/provisioner/ironic/inspecthardware_test.go
  pkg/provisioner/ironic/testserver/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Fix unrelated linter failure
  pkg/provisioner/ironic/inspecthardware.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Inline comments to clarify inventory error handling
  pkg/provisioner/ironic/inspecthardware.go
  pkg/provisioner/ironic/inspecthardware_test.go
  pkg/provisioner/ironic/testserver/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Remove 0.11 configs, add 0.14 configs, pin Ironic
  .github/workflows/e2e-test-periodic-release-0.14.yml
  README.md
  config/overlays/e2e-release-0.14/ironic.env
  config/overlays/e2e-release-0.14/kustomization.yaml
  config/overlays/fixture-release-0.14/kustomization.yaml
  hack/ci-e2e.sh
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/data/ironic-standalone-operator/ironic/base/ironic.yaml.tmpl
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-30.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-31.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/irso-v0.11/kustomization.yaml
Due: gosec, gomod, markdownlint, shellcheck, unit, generate, manifestlint, test

Add support for IPv6 only test setup
  .github/workflows/e2e-fixture-test.yml
  .gitignore
  Makefile
  config/overlays/e2e/ironic.env.tmpl
  hack/ci-e2e.sh
  hack/e2e/ip_addressing.sh
  test/e2e/README.md
  test/e2e/common.go
  test/e2e/config/bmcs-fixture.yaml.tmpl
  test/e2e/config/bmcs-ipmi.yaml.tmpl
  test/e2e/config/bmcs-redfish-virtualmedia.yaml.tmpl
  test/e2e/config/bmcs-redfish.yaml.tmpl
  test/e2e/config/fixture.yaml.tmpl
  test/e2e/config/ironic.yaml.tmpl
  test/e2e/config/vbmctl.yaml.tmpl
  test/e2e/data/ironic-standalone-operator/components/tls/certificate.yaml.tmpl
  test/e2e/data/ironic-standalone-operator/ironic/base/ironic.yaml.tmpl
  test/e2e/data/ironic-standalone-operator/operator/irso-v0.10/kustomization.yaml.tmpl
  test/e2e/data/ironic-standalone-operator/operator/irso-v0.11/kustomization.yaml.tmpl
  test/e2e/e2e_suite_test.go
  test/e2e/network_data_test.go
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

E2E: Implement TLS for the image server
  hack/ci-e2e.sh
  test/e2e/README.md
  test/e2e/config/ironic.yaml
  test/e2e/config/nginx-tls.conf
  test/e2e/config/vbmctl.yaml.tmpl
  test/e2e/data/ironic-standalone-operator/components/trusted-ca/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/components/trusted-ca/trusted-ca-patch.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-tls-ipa/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/irso-v0.10/kustomization.yaml
  test/vbmctl/README.md
  test/vbmctl/cmd/vbmctl/config.go
  test/vbmctl/cmd/vbmctl/create.go
  test/vbmctl/pkg/api/types.go
  test/vbmctl/pkg/config/config.go
  test/vbmctl/pkg/containers/imageserver.go
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Set image_type in Ironic to avoid an unnecessary HEAD call
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/provision_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Avoid deprecated Requeue in decision points
  internal/controller/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Group shared Go dependencies in Dependabot
  .github/dependabot.yml
Due: gosec, gomod, unit, generate, manifestlint

Bump capi group across 3 directories to 1.14.2
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint, test

Harden E2E script downloads with integrity verification
  .github/workflows/verify-e2e-checksums.yml
  Makefile
  hack/ci-e2e.sh
  hack/e2e/checksums.sh
  hack/e2e/ensure_docker.sh
  hack/e2e/ensure_go.sh
  hack/e2e/ensure_kubectl.sh
  hack/e2e/ensure_yq.sh
  hack/e2e/update-checksums.sh
  hack/e2e/verify-checksums.sh
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

🌱 Fix zizmor self-repository findings and bump zizmor-action to v0.6.3
  .github/workflows/e2e-test-optional-periodic.yml
  .github/workflows/e2e-test-periodic-main.yml
  .github/workflows/e2e-test-periodic-release-0.12.yml
  .github/workflows/e2e-test-periodic-release-0.13.yml
  .github/workflows/e2e-test-periodic-release-0.14.yml
  .github/workflows/pipeline.yml
  .github/workflows/zizmor.yml
Due: gosec, gomod, unit, generate, manifestlint

Remove unit GHA workflow and its references from pipeline
  .github/workflows/pipeline.yml
  .github/workflows/unit.yml
Due: gosec, gomod, unit, generate, manifestlint

e2e: test re-running fast inspection
  test/e2e/inspection_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Remove unit GHA workflow
  .github/workflows/pipeline.yml
  .github/workflows/unit.yml
Due: gosec, gomod, unit, generate, manifestlint

Remove PR Verifier GHA workflow
  .github/workflows/pr-verifier.yaml
Due: gosec, gomod, unit, generate, manifestlint

:rocket: Release v0.13.5
  releasenotes/v0.13.5.md
Due: markdownlint

Add support for IPv6 only test setup
  .github/workflows/e2e-fixture-test.yml
  .gitignore
  Makefile
  config/overlays/e2e/ironic.env.tmpl
  hack/ci-e2e.sh
  hack/clean-e2e.sh
  hack/e2e/ip_addressing.sh
  hack/e2e/partial_envsubst.sh
  test/e2e/README.md
  test/e2e/common.go
  test/e2e/config/bmcs-fixture.yaml.tmpl
  test/e2e/config/bmcs-ipmi.yaml.tmpl
  test/e2e/config/bmcs-redfish-virtualmedia.yaml.tmpl
  test/e2e/config/bmcs-redfish.yaml.tmpl
  test/e2e/config/fixture.yaml.tmpl
  test/e2e/config/ironic.yaml.tmpl
  test/e2e/config/vbmctl.yaml.tmpl
  test/e2e/data/ironic-standalone-operator/components/tls/certificate.yaml.tmpl
  test/e2e/data/ironic-standalone-operator/ironic/base/ironic.yaml.tmpl
  test/e2e/data/ironic-standalone-operator/operator/irso-v0.10/kustomization.yaml.tmpl
  test/e2e/data/ironic-standalone-operator/operator/irso-v0.11/kustomization.yaml.tmpl
  test/e2e/e2e_suite_test.go
  test/e2e/network_data_test.go
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Configure zizmor for release branches
  .github/workflows/zizmor.yml
Due: gosec, gomod, unit, generate, manifestlint

Double quote all script variables
  hack/check-e2e.sh
  hack/ci-e2e.sh
  hack/e2e/ensure_docker.sh
  hack/e2e/ensure_yq.sh
  hack/kind_with_registry.sh
  hack/shellcheck.sh
  hack/verify-release.sh
  tools/bmh_test/clean_local_bmh_test_setup.sh
  tools/clean_demo_hosts.sh
  tools/clean_host.sh
  tools/deploy.sh
  tools/remove_local_ironic.sh
  tools/run_local_ironic.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Avoid Nordix Artifactory
  hack/ci-e2e.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

remove golangci-lint from gha
  .github/workflows/golangci-lint.yml
  .github/workflows/pipeline.yml
Due: gosec, gomod, unit, generate, manifestlint

DNM test new gophercloud
  go.mod
  go.sum
Due: gosec, gomod, unit, generate, manifestlint

Bump opentelemetry otel to 1.45.0
  go.mod
  go.sum
Due: gosec, gomod, unit, generate, manifestlint

Add support to skip specific parts during setup
  hack/ci-e2e.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

HostDeployPolicies e2e test
  config/overlays/e2e/hdp-infra/kustomization.yaml
  config/overlays/e2e/hdp-infra/namespace.yaml
  config/overlays/e2e/hdp-tenanta/kustomization.yaml
  config/overlays/e2e/hdp-tenanta/namespace.yaml
  config/overlays/e2e/hdp-tenantb/kustomization.yaml
  config/overlays/e2e/hdp-tenantb/namespace.yaml
  config/overlays/e2e/kustomization.yaml
  config/overlays/e2e/namespaced-manager-patch.yaml
  hack/check-e2e.sh
  test/e2e/common.go
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/hostdeploypolicy_test.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

Add scalability tests for BMH enrollment, provisoining and API Latency
  Makefile
  docs/e2e-scalability.md
  hack/check-e2e.sh
  hack/ci-e2e.sh
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/scalability_test.go
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Document networking environment variables
  docs/configuration.md
Due: markdownlint

Add reconciler support for switch port configuration
  config/base/rbac/role.yaml
  config/render/capm3.yaml
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_network.go
  internal/controller/metal3.io/baremetalhost_network_test.go
  internal/controller/metal3.io/host_state_machine.go
  internal/controller/metal3.io/host_state_machine_test.go
  main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add E2E tests for switch port configuration
  config/overlays/e2e/kustomization.yaml
  config/overlays/e2e/namespaced-manager-patch.yaml
  config/overlays/e2e/networking/kustomization.yaml
  config/overlays/e2e/networking/namespace.yaml
  config/overlays/e2e/roles-rolebindings/roles-rolebindings.yaml
  test/e2e/README.md
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/ironic_helpers_test.go
  test/e2e/networking_test.go
Due: gofmt, gosec, gomod, markdownlint, unit, generate, golint, manifestlint

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  golint: any of: \.go$
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$
