Repository metal3-io/ip-address-manager: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, shellcheck, unit, generate, manifestlint, test

Path conditions:
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$

Update documentation and example configurations for IP Address Manager
  Makefile
  README.md
  config/manager/manager.yaml
  examples/generate.sh
  examples/ippool/ippool.yaml
  examples/ippool/kustomization.yaml
  examples/ippool/kustomizeconfig.yaml
  examples/provider-components/kustomization.yaml
  examples/provider-components/manager_tolerations_patch.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, shellcheck, unit, generate, manifestlint, test

Double quote all sh and make variables
  Makefile
  hack/e2e/ci-script.sh
  hack/e2e/ensure_go.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Make codegen.sh mount host repo with ro
  hack/codegen.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Validate IP requested through annotation is valid IP format
  ipam/ippool_manager.go
  ipam/ippool_manager_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Make IPPool ClusterName field immutable and update IPAddress and IPClaim validation functions
  internal/webhooks/v1alpha1/ipaddress_webhook.go
  internal/webhooks/v1alpha1/ipclaim_webhook.go
  internal/webhooks/v1alpha1/ippool_webhook.go
  internal/webhooks/v1alpha1/ippool_webhook_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Remove git config modification from codegen.sh
  hack/codegen.sh
  hack/gomod.sh
  hack/unit.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Add uniqueness check for Preallocation at IPPool creation and validation times
  internal/webhooks/v1alpha1/ippool_webhook.go
  internal/webhooks/v1alpha1/ippool_webhook_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Remove unnecessary RBACs from controller and add e2e test
  config/rbac/role.yaml
  controllers/ippool_controller.go
  test/e2e/common.go
  test/e2e/owner_ref_enforcement_test.go
  test/go.mod
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

fix dependabot's build workflop step
  .github/workflows/dependabot.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Removed zizmor inline ignore & set dependabot cooldown to 3
  .github/dependabot.yml
  .github/workflows/release.yaml
  .github/workflows/zizmor.yml
  .zizmor.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Add image build workflow for PR
  .github/workflows/build-images-pr.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump CAPI to 1.12.9
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump CAPI to 1.13.3
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

:rocket: Release v1.12.5
  releasenotes/v1.12.5.md
Due: markdownlint

Bump gingko and omega versions
  api/go.mod
  api/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump capi to 1.13.3
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

:rocket: Release v1.13.1
  releasenotes/v1.13.1.md
Due: markdownlint

✨ Bump golang to v1.26
  Dockerfile
  Makefile
  api/go.mod
  go.mod
  hack/codegen.sh
  hack/e2e/ensure_go.sh
  hack/gomod.sh
  hack/tools/go.mod
  hack/unit.sh
  test/go.mod
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Pin gcrane in verify-release.sh and add renovate to update it
  hack/renovate-validator.sh
  hack/verify-release.sh
  renovate.json
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Add namespace validation to IPClaim and IPPool reconciliation
  controllers/ippool_controller.go
  controllers/ippool_controller_test.go
  internal/webhooks/v1alpha1/ipclaim_webhook.go
  internal/webhooks/v1alpha1/ipclaim_webhook_test.go
  test/fuzz/ippool_controller_fuzz_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump CAPI to v1.14.0-alpha.0, controller-runtime to v0.24.1 and k8s.io to v0.36.2
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump go version to 1.26.5
  Dockerfile
  Makefile
  hack/e2e/ensure_go.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Bump go version to 1.26.5
  Dockerfile
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Bump go release to 1.25.12
  Dockerfile
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

🌱 Require explicit GitHub token for release notes tool
  Makefile
  hack/tools/release/notes.go
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Bump go.opentelemetry.io/otel/sdk to 1.43.0 and x/net to 0.55
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Add 'api to CAPI patterns in main dependabot configuration
  .github/dependabot.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump CAPI to 1.12.10
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

:rocket: Release v1.12.6
  releasenotes/v1.12.6.md
Due: markdownlint

:rocket: Release v1.13.2
  releasenotes/v1.13.2.md
Due: markdownlint

Add e2e tests for clusterctl upgrade and pivoting
  docs/e2e.md
  hack/e2e/ci-script.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/ipamprovider-metal3/overlays/v1.12/kustomization.yaml
  test/e2e/data/ipamprovider-metal3/overlays/v1.12/metadata.yaml
  test/e2e/data/ipamprovider-metal3/overlays/v1.13/kustomization.yaml
  test/e2e/data/ipamprovider-metal3/overlays/v1.13/metadata.yaml
  test/e2e/data/shared/capd/v1.12/metadata.yaml
  test/e2e/data/shared/capi/v1.12/metadata.yaml
  test/e2e/pivoting_test.go
  test/e2e/upgrade_test.go
  test/go.mod
  test/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, shellcheck, unit, generate, manifestlint, test

Fix off-by-one in deleteOwnerRefFromList
  ipam/utils.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Fix propagate patch error in capiUpdateAddress
  ipam/ippool_manager.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Add checkPoolBonds to ValidateCreate
  internal/webhooks/v1alpha1/ippool_webhook.go
  internal/webhooks/v1alpha1/ippool_webhook_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump CAPI to 1.14.0-beta.1
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint, test

Reject empty pool entries in IPPool validation
  internal/webhooks/v1alpha1/ippool_webhook.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Add a comment explaining anyErrorInExistingClaim checks Conditions[0]
  ipam/ippool_manager.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint
