Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/generate.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

golint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/golint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

bmo vendor update
  vendor/github.com/metal3-io/baremetal-operator/apis/metal3.io/v1alpha1/baremetalhost_validation.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add missing rbac rules for BaremetalHost Controller
  config/rbac/role.yaml
  config/render/capm3.yaml
  controllers/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Bump go module dependencies
  apis/go.mod
  apis/go.sum
  config/crd/bases/metal3.io_baremetalhosts.yaml
  config/crd/bases/metal3.io_bmceventsubscriptions.yaml
  config/crd/bases/metal3.io_firmwareschemas.yaml
  config/crd/bases/metal3.io_hardwaredata.yaml
  config/crd/bases/metal3.io_hostfirmwaresettings.yaml
  config/crd/bases/metal3.io_preprovisioningimages.yaml
  config/render/capm3.yaml
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gosec, gomod, unit, generate, manifestlint

Update vendor
  vendor/github.com/metal3-io/baremetal-operator/apis/metal3.io/v1alpha1/baremetalhost_types.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

delete unmanaged host when deletion timestamp is non-zero
  controllers/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Don't check for ironic capacity in 'deleting' state
  controllers/metal3.io/host_state_machine.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

update releasing.md
  docs/releasing.md
Due: markdownlint

Do auto clean in 'Preparing' state
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add unit test
  pkg/provisioner/ironic/prepare_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Support /dev/disk/by-path root device hints
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  config/crd/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  pkg/provisioner/ironic/devicehints/devicehints.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Validate diskPath in rootDeviceHints
  apis/metal3.io/v1alpha1/baremetalhost_validation.go
  apis/metal3.io/v1alpha1/baremetalhost_validation_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Report /dev/disk/by-path/ path in HardwareDetails when available
  pkg/provisioner/ironic/hardwaredetails/hardwaredetails.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

pin distroless to static:nonroot with sha digest
  Dockerfile
Due: gosec, gomod, unit, generate, manifestlint

✨ Add flags for configuring rate limits
  .gitignore
  main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

update releasing.md with links to main process
  docs/releasing.md
Due: markdownlint

Do not try to update images for nodes in transient states
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/validatemanagementaccess_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

bump golang image from 1.19.6 to 1.19.9
  Dockerfile
Due: gosec, gomod, unit, generate, manifestlint

Improve documentation of Storage 'Name' in HardwareDetails
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  config/crd/bases/metal3.io_baremetalhosts.yaml
  config/crd/bases/metal3.io_hardwaredata.yaml
  config/render/capm3.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add a list of alternate disk names to HardwareDetails
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/metal3.io_baremetalhosts.yaml
  config/crd/bases/metal3.io_hardwaredata.yaml
  config/render/capm3.yaml
  pkg/provisioner/ironic/hardwaredetails/hardwaredetails.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Update vendor
  vendor/github.com/metal3-io/baremetal-operator/apis/metal3.io/v1alpha1/baremetalhost_types.go
  vendor/github.com/metal3-io/baremetal-operator/apis/metal3.io/v1alpha1/baremetalhost_validation.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Remove dead code
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/host_state_machine_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Reduce the preprovisioning image retry delay
  controllers/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Added baseline standard manifest file for bmo.
  Tiltfile
  config/namespace/namespace.yaml
Due: gosec, gomod, unit, generate, manifestlint

Move hardware profile code to the api module
  apis/metal3.io/v1alpha1/profile/profile.go
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/host_state_machine_test.go
  pkg/provisioner/ironic/updateopts_test.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Get rid of SetupWebhookWithManager functions
  apis/go.mod
  apis/go.sum
  apis/metal3.io/v1alpha1/baremetalhost_webhook.go
  apis/metal3.io/v1alpha1/bmceventsubscription_webhook.go
  main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Revert "🌱 Reduce the preprovisioning image retry delay"
  controllers/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Move static validation of webhooks to main module
  apis/go.mod
  apis/go.sum
  apis/metal3.io/v1alpha1/baremetalhost_webhook.go
  apis/metal3.io/v1alpha1/bmceventsubscription_webhook.go
  main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Remove explicit version when importing v1alpha1
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/baremetalhost_controller_test.go
  controllers/metal3.io/bmceventsubscription_controller.go
  controllers/metal3.io/controller_test.go
  controllers/metal3.io/demo_test.go
  controllers/metal3.io/host_config_data.go
  controllers/metal3.io/host_config_data_test.go
  controllers/metal3.io/host_state_machine.go
  controllers/metal3.io/host_state_machine_test.go
  controllers/metal3.io/hostfirmwaresettings_controller.go
  controllers/metal3.io/hostfirmwaresettings_test.go
  controllers/metal3.io/metrics.go
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/bios_test.go
  pkg/provisioner/ironic/capabilities_test.go
  pkg/provisioner/ironic/devicehints/devicehints.go
  pkg/provisioner/ironic/devicehints/devicehints_test.go
  pkg/provisioner/ironic/hardwaredetails/hardwaredetails.go
  pkg/provisioner/ironic/hardwaredetails/hardwaredetails_test.go
  pkg/provisioner/ironic/inspecthardware_test.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/ironic_test.go
  pkg/provisioner/ironic/power_test.go
  pkg/provisioner/ironic/prepare_test.go
  pkg/provisioner/ironic/raid.go
  pkg/provisioner/ironic/raid_test.go
  pkg/provisioner/ironic/updateopts_test.go
  pkg/provisioner/ironic/validatemanagementaccess_test.go
  pkg/provisioner/provisioner.go
  pkg/secretutils/secret_manager.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

BMH add architecture before inspection
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  config/crd/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  controllers/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

update kubeconform to v0.6.2
  hack/manifestlint.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

Power off nodes upon deletion
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/host_state_machine.go
  controllers/metal3.io/metrics.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

feat(deps): bump core kubernetes libraries
  apis/go.mod
  apis/go.sum
  apis/metal3.io/v1alpha1/baremetalhost_webhook.go
  apis/metal3.io/v1alpha1/bmceventsubscription_webhook.go
  controllers/metal3.io/bmceventsubscription_controller.go
  go.mod
  go.sum
  main.go
  pkg/secretutils/label.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

feat(tests): fix tests with latest changes
  apis/metal3.io/v1alpha1/baremetalhost_webhook_test.go
  apis/metal3.io/v1alpha1/bmceventsubscription_webhook_test.go
  controllers/metal3.io/baremetalhost_controller_test.go
  controllers/metal3.io/bmceventsubscription_controller.go
  controllers/metal3.io/demo_test.go
  controllers/metal3.io/host_state_machine_test.go
  controllers/metal3.io/hostfirmwaresettings_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Stop linting when building the image
  Dockerfile.ocp
  Makefile
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

fix distroless:nonroot pinning
  Dockerfile
Due: gosec, gomod, unit, generate, manifestlint

Add dependabot workflow and configuration
  .github/dependabot.yml
  .github/workflows/dependabot.yml
  Makefile
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

Stop using Extra when building hardware inventory
  go.mod
  go.sum
  pkg/provisioner/ironic/hardwaredetails/hardwaredetails.go
  pkg/provisioner/ironic/hardwaredetails/hardwaredetails_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: \.md$
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  golint: any of: \.go$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$
