Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test, build-fkas

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

golangci-lint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/ensure-golangci-lint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

govet:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/govet.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/codegen.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

build:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/build.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

🌱 Test golangci-lint Prow presubmit on release-1.13
  main.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Remove golangci-lint GitHub Action
  .github/security-insights.yml
  .github/workflows/golangci-lint.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Add yamllint hack script
  hack/yamllint.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, test

Revert "Remove PR Verifier GitHub Action workflow"
  .github/workflows/pr-verifier.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

e2e: decouple from metal3-dev-env using vbmctl CLI
  .gitignore
  Makefile
  docs/e2e-networking.md
  docs/e2e-test.md
  hack/build-vbmctl.sh
  hack/ensure-docker.sh
  hack/ensure-kubectl.sh
  hack/install-go.sh
  hack/setup-bml.sh
  scripts/ci-e2e.sh
  scripts/environment.sh
  scripts/fetch_manifests.sh
  test/e2e/bmh_generator.go
  test/e2e/cert_rotation.go
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/config/vbmctl.yaml.tmpl
  test/e2e/data/.gitignore
  test/e2e/data/infrastructure-metal3/main-v1beta1/cluster-template-ubuntu/kustomization.yaml
  test/e2e/data/shared/ipam-metal3/main/metadata.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/ip_reuse_test.go
  test/e2e/k8s_in_place_upgrade_test.go
  test/e2e/logcollector.go
  test/e2e/md_remediations_test.go
  test/e2e/node_reuse.go
  test/e2e/pivoting.go
  test/e2e/pivoting_based_feature_test.go
  test/e2e/remediation.go
  test/e2e/remediation_based_feature_test.go
  test/e2e/scalability_test.go
  test/e2e/upgrade_clusterctl_test.go
  test/e2e/upgrade_kubernetes_n3_test.go
  test/e2e/upgrade_kubernetes_test.go
  test/e2e/vbmctl_helpers.go
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test, build-fkas

e2e: add failure domain placement e2e test
  Makefile
  docs/e2e-test.md
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/infrastructure-metal3/main/cluster-template-centos-failure-domain/failure-domain.yaml
  test/e2e/data/infrastructure-metal3/main/cluster-template-centos-failure-domain/kustomization.yaml
  test/e2e/data/infrastructure-metal3/main/cluster-template-opensuse-leap-failure-domain/failure-domain.yaml
  test/e2e/data/infrastructure-metal3/main/cluster-template-opensuse-leap-failure-domain/kustomization.yaml
  test/e2e/data/infrastructure-metal3/main/cluster-template-ubuntu-failure-domain/failure-domain.yaml
  test/e2e/data/infrastructure-metal3/main/cluster-template-ubuntu-failure-domain/kustomization.yaml
  test/e2e/failure_domain.go
  test/e2e/failure_domain_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Add Alloy log collectors
  Makefile
  hack/kind_with_registry.sh
  hack/log-collection/alloy-docker-config.alloy
  hack/log-collection/alloy-manifests.yaml
  hack/log-collection/cleanup-host-docker-logs.sh
  hack/log-collection/cleanup.sh
  hack/log-collection/deploy-alloy.sh
  hack/log-collection/docker-compose.host-logs.yml
  hack/log-collection/kind-config.yaml
  hack/log-collection/setup-host-docker-logs.sh
  hack/log-collection/setup.sh
  hack/log-collection/verify.sh
  scripts/ci-e2e.sh
  test/e2e/common.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Run the controller with ReadOnlyRootFilesystem
  config/manager/manager.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Add RootFSUUID support for whole-disk images with software RAID
  api/v1beta1/common_types.go
  api/v1beta1/conversion.go
  api/v1beta1/zz_generated.conversion.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta2/common_types.go
  api/v1beta2/zz_generated.deepcopy.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machinetemplates.yaml
  go.mod
  go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

Update depandabot config for release-1.14 branch
  .github/dependabot.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Bump IPAM and BMO dependencies to v1.12.7 and v0.12.7
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

Bump ipam and bmo to new patch release
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test, build-fkas

:rocket: Release v1.13.3
  releasenotes/v1.13.3.md
Due: markdownlint

:rocket: Release v1.12.8
  releasenotes/v1.12.8.md
Due: markdownlint

fix: register fake etcd members by pod name
  hack/fake-apiserver/cmd/metal3-fkas/main.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, test, build-fkas

feat: Add custom Prometheus metrics for controller observability
  controllers/metal3cluster_controller.go
  controllers/metal3data_controller.go
  controllers/metal3datatemplate_controller.go
  controllers/metal3datatemplate_controller_test.go
  controllers/metal3labelsync_controller.go
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_test.go
  controllers/metal3machinetemplate_controller.go
  controllers/metal3remediation_controller.go
  docs/metrics.md
  go.mod
  internal/metrics/metrics.go
  internal/metrics/metrics_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint

Add separate golangci and kube-api-lint make targets for CI
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Remove golangci-lint and kube-api-lint GH Actions workflows
  .github/security-insights.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/kube-api-lint.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Bump IRSO version to release-0.11
  scripts/environment.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

Bump IRSO version to release-0.10
  scripts/environment.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

Add overlays IRSO 0.10.0
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/ironic-standalone-operator/operator/overlays/release-0.10.0/kustomization.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Add overlays IRSO 0.10.0 and 0.11.0
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/release-37.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/overlays/release-0.10.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/overlays/release-0.11.0/kustomization.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Fix IRSO variable in pivoting test
  test/e2e/pivoting.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Add overlays IRSO and IRONIC for release-0.10.0, release-0.11.0, and release-37.0
  scripts/ci-e2e.sh
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/bmo-deployment/overlays/release-0.14/ironic.env
  test/e2e/data/bmo-deployment/overlays/release-0.14/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/release-37.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/overlays/release-0.10.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/overlays/release-0.11.0/kustomization.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Reject reserved label prefixes in metal3-label-sync-prefixes annotation
  baremetal/labelsync.go
  baremetal/labelsync_test.go
  controllers/metal3labelsync_controller.go
  controllers/metal3labelsync_controller_test.go
  internal/webhooks/v1beta2/metal3cluster_webhook.go
  internal/webhooks/v1beta2/metal3cluster_webhook_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Bump grpc to v1.83.1
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test, build-fkas

e2e: decouple from metal3-dev-env using vbmctl CLI
  .gitignore
  Makefile
  docs/e2e-networking.md
  docs/e2e-test.md
  hack/build-vbmctl.sh
  hack/ensure-docker.sh
  hack/ensure-kubectl.sh
  hack/install-go.sh
  hack/setup-bml.sh
  scripts/ci-e2e.sh
  scripts/environment.sh
  scripts/fetch_manifests.sh
  test/e2e/bmh_generator.go
  test/e2e/cert_rotation.go
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/config/vbmctl.yaml.tmpl
  test/e2e/data/.gitignore
  test/e2e/data/infrastructure-metal3/main-v1beta1/cluster-template-ubuntu/kustomization.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/ip_reuse_test.go
  test/e2e/k8s_in_place_upgrade_test.go
  test/e2e/logcollector.go
  test/e2e/md_remediations_test.go
  test/e2e/node_reuse.go
  test/e2e/pivoting.go
  test/e2e/pivoting_based_feature_test.go
  test/e2e/remediation.go
  test/e2e/remediation_based_feature_test.go
  test/e2e/scalability_test.go
  test/e2e/upgrade_clusterctl_test.go
  test/e2e/upgrade_kubernetes_n3_test.go
  test/e2e/upgrade_kubernetes_test.go
  test/e2e/vbmctl_helpers.go
  test/go.mod
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Add dataTemplate selection and failure domain reporting from BMH placement
  api/v1beta1/conversion.go
  api/v1beta1/zz_generated.conversion.go
  api/v1beta2/metal3machine_types.go
  api/v1beta2/metal3machinetemplate_types.go
  api/v1beta2/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machinetemplates.yaml
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_test.go
  internal/webhooks/v1beta2/metal3machinetemplate_webhook.go
  internal/webhooks/v1beta2/metal3machinetemplate_webhook_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

Bump k8s version to v1.37.0
  Makefile
  docs/api.md
  docs/architecture.md
  docs/dev-setup.md
  docs/e2e-test.md
  examples/generate.sh
  hack/ensure-kubectl.sh
  hack/gen_tilt_settings.sh
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Path conditions:
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  unit: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  build: (any of: ^api|^test|^Makefile$) or (any of: ^api|^test|^Makefile$|^hack/build.sh$)
  test: any of: ^(Makefile|hack/.*)$
  build-fkas: any of: ^hack/fake-apiserver|^api|^Makefile$|^hack/build.sh$
