Repository metal3-io/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: check-prow-config, markdownlint, shellcheck, spellcheck

check-prow-config:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20210916-7657ce97bf
      args:
      - /checkconfig
      - --config-path
      - prow/config/config.yaml
      - --plugin-config
      - prow/config/plugins.yaml
      - --strict
      resources:
        requests:
          memory: 500Mi

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint-cli2:0.12.0@sha256:a3977fba9814f10d33a1d69ae607dc808e7a6470b2ba03e84c17193c0791aac0
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.10.0@sha256:5921d946dac740cbeec2fb1c898747b6105e585130cc7f0602eec9a10f7ddb63
  ...

spellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/spellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: ghcr.io/streetsidesoftware/cspell:8.13.3@sha256:03df0e485775a43531c9c0e829227f39b3380796e92faab4166137dc5712d40a
      imagePullPolicy: Always

Use main images for CAPM3, IPAM and BMO
  jenkins/scripts/bare_metal_lab/bml_test/02_configure_host.sh
  jenkins/scripts/bare_metal_lab/bml_test/03_launch_bootstrap_cluster.sh
  jenkins/scripts/bare_metal_lab/bml_test/04_verify.sh
  jenkins/scripts/bare_metal_lab/bml_test/clean.sh
  jenkins/scripts/bare_metal_lab/bml_test/launch_bootstrap_cluster.sh
  jenkins/scripts/bare_metal_lab/bml_test/lib/vars.sh
  jenkins/scripts/bare_metal_lab/bml_test/preload_images_minikube.sh
  jenkins/scripts/dynamic_worker_workflow/ipa_builder_elements/ipa-cleanup-dracut/cleanup.d/99-ipa-cleanup-dracut
Due: check-prow-config, shellcheck

Bumping k8s-prow images and test-infra images
  prow/Makefile
  prow/config/config.yaml
  prow/config/jobs/metal3-io/project-infra.yaml
  prow/config/jobs/periodics.yaml
  prow/manifests/base/crier.yaml
  prow/manifests/base/deck.yaml
  prow/manifests/base/ghproxy.yaml
  prow/manifests/base/hook.yaml
  prow/manifests/base/horologium.yaml
  prow/manifests/base/prow-controller-manager.yaml
  prow/manifests/base/sinker.yaml
  prow/manifests/base/statusreconciler.yaml
  prow/manifests/base/tide.yaml
  prow/manifests/overlays/metal3/external-plugins/cherrypicker_deployment.yaml
  prow/manifests/overlays/metal3/external-plugins/jenkins-operator.yaml
  prow/manifests/overlays/metal3/external-plugins/labels_cronjob.yaml
  prow/manifests/overlays/metal3/external-plugins/needs-rebase_deployment.yaml
Due: check-prow-config

Remove capm3 and ipam 1.9 tests and bmo 0.9
  jenkins/README.md
  prow/config/jobs/metal3-io/ironic-image-release-27.0.yaml
  prow/config/jobs/metal3-io/ironic-ipa-downloader.yaml
  prow/config/jobs/metal3-io/mariadb-image.yaml
  prow/config/jobs/metal3-io/project-infra.yaml
  prow/config/plugins.yaml
Due: check-prow-config, markdownlint, spellcheck

Add @peppi-lotta as a reviewer
  OWNERS_ALIASES
Due: check-prow-config

Bump k8s to v1.35
  jenkins/image_building/build-image.sh
  jenkins/jobs/pre_release_tests.groovy
Due: check-prow-config, shellcheck

Bump CRIO to v1.35.0
  jenkins/image_building/build-image.sh
Due: check-prow-config, shellcheck

Add github workfloW
  .github/workflows/quick-start-test.yml
  .gitignore
  hack/quick-start-test/bmc-secret.yaml
  hack/quick-start-test/bmh-01.yaml
  hack/quick-start-test/bml-01.yaml
  hack/quick-start-test/bmo/ironic.env
  hack/quick-start-test/bmo/kustomization.yaml
  hack/quick-start-test/capm3-vars.sh
  hack/quick-start-test/cleanup.sh
  hack/quick-start-test/ensure/ensure_clusterctl.sh
  hack/quick-start-test/ensure/ensure_go.sh
  hack/quick-start-test/ensure/ensure_kubectl.sh
  hack/quick-start-test/ironic/certificate.yaml
  hack/quick-start-test/ironic/ironic.yaml
  hack/quick-start-test/ironic/kustomization.yaml
  hack/quick-start-test/irso/kustomization.yaml
  hack/quick-start-test/net.xml
  hack/quick-start-test/quick-start-test.sh
  hack/quick-start-test/setup-bootstrap.sh
  hack/quick-start-test/setup-dhcp-server.sh
  hack/quick-start-test/setup-image-server-dir.sh
  hack/quick-start-test/setup-virtual-lab.sh
  hack/quick-start-test/start-image-server.sh
  hack/quick-start-test/sushy-emulator.conf
Due: check-prow-config, shellcheck

Fix broken links at jenkins/README.md
  jenkins/README.md
Due: markdownlint, spellcheck

Add trigger for in-place upgrade test
  prow/config/jobs/metal3-io/cluster-api-provider-metal3.yaml
Due: check-prow-config

Simplify BMO e2e optional pipeline
  jenkins/jobs/bmo_e2e_optional_tests.groovy
Due: check-prow-config

Bump pre-release k8s to v1.36
  jenkins/image_building/build-image.sh
  jenkins/jobs/pre_release_tests.groovy
Due: check-prow-config, shellcheck

Fix refspec for project-infra PR
  jenkins/jobs/pre_release_tests.groovy
Due: check-prow-config

Fix redirect links in jenkins/README.md
  jenkins/README.md
Due: markdownlint, spellcheck

Fix redirect links in jenkins/README.md
  .cspell-config.json
  jenkins/README.md
Due: check-prow-config, markdownlint, spellcheck

Fix k8s version for in-place upgrade tests
  jenkins/scripts/dynamic_worker_workflow/e2e_tests.sh
Due: check-prow-config, shellcheck

Fix pre-release test to use ubuntu agents only
  jenkins/jobs/pre_release_tests.groovy
Due: check-prow-config

Fix centOS agent based image building
  jenkins/image_building/build-image.sh
Due: check-prow-config, shellcheck

Add groovy lint script for running locally
  hack/groovylint.sh
Due: check-prow-config, shellcheck

move groovy lint from gh actions to prow
  .github/workflows/pr-groovy-lint.yml
  hack/groovylint.sh
  prow/config/jobs/metal3-io/project-infra.yaml
Due: check-prow-config, shellcheck

Prow: Upgrade Kubernetes to v1.34.3
  prow/capo-cluster/infra-md.yaml
  prow/capo-cluster/kubeadmcontrolplane.yaml
  prow/capo-cluster/machinedeployment.yaml
  prow/capo-cluster/openstackmachinetemplates.yaml
Due: check-prow-config

Add cloud init data source for image building
  jenkins/image_building/build-image.sh
Due: check-prow-config, shellcheck

Prow: Bump container images
  prow/Makefile
  prow/config/config.yaml
  prow/config/jobs/metal3-io/project-infra.yaml
  prow/config/jobs/periodics.yaml
  prow/manifests/base/crier.yaml
  prow/manifests/base/deck.yaml
  prow/manifests/base/ghproxy.yaml
  prow/manifests/base/hook.yaml
  prow/manifests/base/horologium.yaml
  prow/manifests/base/prow-controller-manager.yaml
  prow/manifests/base/sinker.yaml
  prow/manifests/base/statusreconciler.yaml
  prow/manifests/base/tide.yaml
  prow/manifests/overlays/metal3/external-plugins/cherrypicker_deployment.yaml
  prow/manifests/overlays/metal3/external-plugins/jenkins-operator.yaml
  prow/manifests/overlays/metal3/external-plugins/needs-rebase_deployment.yaml
Due: check-prow-config

Prow: Add flux for GitOps
  prow/README.md
  prow/flux/README.md
  prow/flux/flux.yaml
  prow/flux/kustomization.yaml
  prow/flux/toleration-node-selector-patch.yaml
Due: check-prow-config, markdownlint, spellcheck

DNM - COPILOT AUTOMATION TEST PR
  README.md
Due: markdownlint, spellcheck

add renovate config
  renovate.json
Due: check-prow-config

add renovate-validator for the renovate.json
  .cspell-config.json
  hack/renovate-validator.sh
  prow/config/jobs/metal3-io/project-infra.yaml
Due: check-prow-config, shellcheck, spellcheck

DNM - testing renovate linter
  renovate.json
Due: check-prow-config

add renovate-validator prow job for ironic-image main
  prow/config/jobs/metal3-io/ironic-image.yaml
Due: check-prow-config

add renovate-validator job for metal3-dev-env main
  prow/config/jobs/metal3-io/metal3-dev-env.yaml
Due: check-prow-config

WIP: Flux notifications
  .github/workflows/flux-reconcile-commenter.yaml
  prow/bootstrap/clustersecretstore.yaml
  prow/flux/README.md
  prow/flux/externalsecret.yaml
  prow/flux/github-dispatch-provider.yaml
  prow/flux/kustomization.yaml
  prow/flux/reconciliation-alert.yaml
Due: check-prow-config, markdownlint, spellcheck

Add Traefik configuration and HTTPRoute for Prow services
  prow/infra/referencegrant.yaml
  prow/infra/traefik-values.yaml
  prow/manifests/overlays/metal3/httproutes.yaml
  prow/manifests/overlays/metal3/kustomization.yaml
Due: check-prow-config

Bumping k8s-prow images and test-infra images
  prow/Makefile
  prow/config/config.yaml
  prow/config/jobs/metal3-io/project-infra.yaml
  prow/config/jobs/periodics.yaml
  prow/manifests/base/crier.yaml
  prow/manifests/base/deck.yaml
  prow/manifests/base/ghproxy.yaml
  prow/manifests/base/hook.yaml
  prow/manifests/base/horologium.yaml
  prow/manifests/base/prow-controller-manager.yaml
  prow/manifests/base/sinker.yaml
  prow/manifests/base/statusreconciler.yaml
  prow/manifests/base/tide.yaml
  prow/manifests/overlays/metal3/external-plugins/cherrypicker_deployment.yaml
  prow/manifests/overlays/metal3/external-plugins/jenkins-operator.yaml
  prow/manifests/overlays/metal3/external-plugins/needs-rebase_deployment.yaml
Due: check-prow-config

Add configuration for ironic-image release-34.0
  prow/config/jobs/metal3-io/ironic-image-release-34.0.yaml
  prow/config/plugins.yaml
Due: check-prow-config

bump github actions to new major versions
  .github/workflows/container-image-build.yml
  .github/workflows/pr-gh-workflow-approve.yaml
  .github/workflows/pr-link-check.yml
  .github/workflows/pr-verifier.yaml
  .github/workflows/scheduled-link-check.yml
  .github/workflows/yamllint.yaml
Due: check-prow-config

increase blunderbuss reviewer count to 3
  prow/config/plugins.yaml
Due: check-prow-config

Prow: Bump cert-manager and ingress-nginx
  prow/capi/kustomization.yaml
  prow/infra/kustomization.yaml
Due: check-prow-config

Setup CI for IrSO release-0.8
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.8.yaml
  prow/config/plugins.yaml
Due: check-prow-config

add merge-labels support in Prow
  prow/config/config.yaml
Due: check-prow-config

Path conditions:
  check-prow-config: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: any of: (\.md|markdownlint\.sh)$
  shellcheck: any of: ((\.sh)|^Makefile)$
  spellcheck: any of: (\.md|spellcheck\.sh|.cspell-config.json)$
