Repository metal3-io/ip-address-manager: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, shellcheck, unit, generate, manifestlint, test

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

golangci-lint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/ensure-golangci-lint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

govet:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/govet.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/codegen.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

test:
  decorate: true
  spec:
    containers:
    - args:
      - test
      command:
      - make
      image: docker.io/golang:1.22
      imagePullPolicy: Always

DNM CI test
  README.md
Due: markdownlint

Run osv-scanner on supported branches
  .github/workflows/scheduled-osv-scan.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Update to Pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: markdownlint

bump golang to v1.24.9
  Dockerfile
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

add copilot-instructions.md
  .github/copilot-instructions.md
Due: markdownlint

Uplift CAPi to v1.10.8
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Uplift CAPi to v1.11.3
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Uplift CAPI to v1.12.0-beta.0
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

:rocket: Release v1.11.2
  releasenotes/v1.11.2.md
Due: markdownlint

:rocket: Release v1.10.4
  releasenotes/v1.10.4.md
Due: markdownlint

chore(lint): migrate golangci-lint tooling to v2.1.0 and add exclusions for staticcheck QF rules
  .github/workflows/golangci-lint.yml
  .golangci.yaml
  Makefile
  hack/ensure-golangci-lint.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Uplift k8s.io modules to v0.34.1 and CR to v0.22.4
  api/go.mod
  api/go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint, test

:rocket: Release v1.12.0-beta.0
  releasenotes/v1.12.0-beta.0.md
Due: markdownlint

Uplift Go v1.24.10
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

remove scheduled osv-scanner workflow
  .github/workflows/scheduled-osv-scan.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

add AGENTS.md
  .gitignore
  AGENTS.md
Due: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, unit, generate, manifestlint

Add yamllint workflow
  .github/workflows/yamllint.yaml
  .golangci.yaml
  .yamllint.yaml
  config/webhook/service.yaml
  docs/api.md
  examples/provider-components/manager_tolerations_patch.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, unit, generate, manifestlint

add image SBOM attestation to image builds
  .github/workflows/build-images-action.yml
  .github/workflows/release.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

add AGENTS.md
  .gitignore
  .markdownlint-cli2.yaml
  AGENTS.md
Due: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, unit, generate, manifestlint

bump golang to 1.24.11
  Dockerfile
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

enable container signing
  .github/workflows/build-images-action.yml
  .github/workflows/release.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Uplift CAPI to v1.12.0-rc.1
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

lint: allow long lines in tables and code fences
  .markdownlint-cli2.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

add AGENTS.md
  .gitignore
  .markdownlint-cli2.yaml
  AGENTS.md
  CLAUDE.md
Due: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, unit, generate, manifestlint

:rocket: Release v1.12.0-rc.0
  releasenotes/v1.12.0-rc.0.md
Due: markdownlint

Add 1.13 contract in metadata.yaml
  metadata.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

update dependabot for release-1.12
  .github/dependabot.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

add dependabot config for release-1.12
  .github/dependabot.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump setup-go action to v6.1.0
  .github/workflows/dependabot.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/release.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

:rocket: Release v1.10.5
  releasenotes/v1.10.5.md
Due: markdownlint

:rocket: Release v1.11.3
  releasenotes/v1.11.3.md
Due: markdownlint

Path conditions:
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$
