Repository metal3-io/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: check-prow-config, markdownlint, shellcheck

Path conditions:
  check-prow-config: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: any of: (\.md|markdownlint\.sh)$
  shellcheck: any of: ((\.sh)|^Makefile)$

remove BMO 0.4 from Prow and add missing 0.8 tests
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Remove tests related to release-1.5
  jenkins/README.md
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config, markdownlint

Update outdated cleanup jobs
  jenkins/jobs/clean_resources.pipeline
  jenkins/scripts/clean_resources.sh
  jenkins/scripts/integration_clean.sh
Due: check-prow-config, shellcheck

Fix openstack client version typo
  jenkins/scripts/clean_resources.sh
Due: check-prow-config, shellcheck

export path for openstackclient
  jenkins/scripts/clean_resources.sh
Due: check-prow-config, shellcheck

Upgrade Ingress Nginx in prow
  prow/README.md
  prow/infra/kustomization.yaml
  prow/manifests/overlays/metal3/kustomization.yaml
Due: check-prow-config, markdownlint

Allow uploading the latest image under a common name
  jenkins/image_building/upload-ci-image.sh
Due: check-prow-config, shellcheck

degub bml issue
  jenkins/scripts/bare_metal_lab/default_vars/vars.yaml
Due: check-prow-config

Add pr-verifier-workflow
  .github/workflows/pr-verifier.yaml
Due: check-prow-config

add dependabot config for actions bumps
  .github/dependabot.yml
Due: check-prow-config

Update .github/workflows/pr-verifier.yaml
  .github/workflows/pr-verifier.yaml
Due: check-prow-config

Pin basic-checks image, and add workflow for building it
  .github/workflows/build-images-action.yml
  .github/workflows/container-image-build.yml
  prow/container-images/basic-checks/Dockerfile
  prow/container-images/basic-checks/README.md
Due: check-prow-config, markdownlint

add missing dockerfile-directoru for basic-checks
  .github/workflows/build-images-action.yml
Due: check-prow-config

fix image-tag reference
  .github/workflows/container-image-build.yml
Due: check-prow-config

add reusable container build as trigger file path
  .github/workflows/build-images-action.yml
Due: check-prow-config

Bumping k8s-prow images
  prow/manifests/base/crier.yaml
  prow/manifests/base/deck.yaml
  prow/manifests/base/ghproxy.yaml
  prow/manifests/base/hook.yaml
  prow/manifests/base/horologium.yaml
  prow/manifests/base/prow-controller-manager.yaml
  prow/manifests/base/sinker.yaml
  prow/manifests/base/statusreconciler.yaml
  prow/manifests/base/tide.yaml
  prow/manifests/overlays/metal3/config.yaml
  prow/manifests/overlays/metal3/external-plugins/cherrypicker_deployment.yaml
  prow/manifests/overlays/metal3/external-plugins/jenkins-operator.yaml
  prow/manifests/overlays/metal3/external-plugins/needs-rebase_deployment.yaml
Due: check-prow-config

add support for lvm, cryptsetup, tpm2_tools
  jenkins/scripts/dynamic_worker_workflow/ipa_builder_elements/ipa-luks-tpm-support/install.d/99-install-luks-tpm
  jenkins/scripts/dynamic_worker_workflow/ipa_builder_elements/ipa-lvm-support/install.d/99-install-lvm2
Due: check-prow-config

fix IPA git commit/branch refference
  jenkins/scripts/dynamic_worker_workflow/build_ipa.sh
Due: check-prow-config, shellcheck

bump cspell to v8.13.3
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

bump markdownlint-cli2 to v0.12.0
  hack/markdownlint.sh
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config, markdownlint, shellcheck

initial commit of the initrd sdk
  jenkins/image_building/initrd_sdk/README.md
  jenkins/image_building/initrd_sdk/unlock-mount-luks.sh
Due: check-prow-config, markdownlint, shellcheck

bump golang to 1.22.8 in basic-checks image
  prow/container-images/basic-checks/Dockerfile
Due: check-prow-config

extending the initrd_sdk
  jenkins/image_building/initrd_sdk/README.md
  jenkins/image_building/initrd_sdk/unseal-and-open-luks.service
  jenkins/image_building/initrd_sdk/verify-realroot.sh
Due: check-prow-config, markdownlint, shellcheck

fix typo in initrd_sdk
  jenkins/image_building/initrd_sdk/README.md
Due: markdownlint

fixing capm3 e2e log collection
  jenkins/scripts/dynamic_worker_workflow/fetch_logs.sh
Due: check-prow-config, shellcheck

improve initrd verification logic
  jenkins/image_building/initrd_sdk/unlock-mount-luks.sh
  jenkins/image_building/initrd_sdk/verify-realroot.sh
Due: check-prow-config, shellcheck

fixing capm3 e2e log collection
  jenkins/jobs/clean_resources.pipeline
  jenkins/jobs/dev_env_integration_tests.pipeline
  jenkins/jobs/e2e_features_test.pipeline
  jenkins/scripts/dynamic_worker_workflow/fetch_logs.sh
Due: check-prow-config, shellcheck

add spellcheck basic test and fix spellcheck issues
  .cspell-config.json
  hack/spellcheck.sh
  jenkins/README.md
  jenkins/image_building/dib_elements/ubuntu-node/README.md
  jenkins/image_building/initrd_sdk/README.md
  prow/README.md
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config, markdownlint, shellcheck

add missing DCO file to repo root
  DCO
Due: check-prow-config

Increasing timeout of ephemeral tests
  jenkins/jobs/capm3-e2e-tests.pipeline
Due: check-prow-config

WIP: convert fullstack jobs to be prow compatible
  jenkins/jobs/dynamic_fullstack_building.pipeline
  jenkins/scripts/dynamic_worker_workflow/fullstack.sh
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config, shellcheck

uplift k8s to v1.31.2
  jenkins/image_building/build-image.sh
Due: check-prow-config, shellcheck

Prow: use job-config
  prow/config/jobs/Nordix/metal3-clusterapi-docs.yaml
  prow/config/jobs/Nordix/metal3-dev-tools.yaml
  prow/config/jobs/Nordix/sles-ironic-python-agent-builder.yaml
  prow/config/jobs/metal3-io/baremetal-operator.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3.yaml
  prow/config/jobs/metal3-io/community.yaml
  prow/config/jobs/metal3-io/ip-address-manager.yaml
  prow/config/jobs/metal3-io/ironic-client.yaml
  prow/config/jobs/metal3-io/ironic-hardware-inventory-recorder-image.yaml
  prow/config/jobs/metal3-io/ironic-image.yaml
  prow/config/jobs/metal3-io/ironic-ipa-downloader.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator.yaml
  prow/config/jobs/metal3-io/mariadb-image.yaml
  prow/config/jobs/metal3-io/metal3-dev-env.yaml
  prow/config/jobs/metal3-io/metal3-docs.yaml
  prow/config/jobs/metal3-io/metal3-io.github.io.yaml
  prow/config/jobs/metal3-io/project-infra.yaml
  prow/config/jobs/metal3-io/utility-images.yaml
  prow/config/jobs/periodics.yaml
  prow/manifests/base/crier.yaml
  prow/manifests/base/deck.yaml
  prow/manifests/base/hook.yaml
  prow/manifests/base/horologium.yaml
  prow/manifests/base/prow-controller-manager.yaml
  prow/manifests/base/sinker.yaml
  prow/manifests/base/statusreconciler.yaml
  prow/manifests/base/tide.yaml
  prow/manifests/overlays/metal3/config.yaml
  prow/manifests/overlays/metal3/external-plugins/jenkins-operator.yaml
Due: check-prow-config

Prow: Move all config to the same place
  prow/README.md
  prow/config/config.yaml
  prow/config/generic-autobumper-config.yaml
  prow/config/labels.yaml
  prow/config/plugins.yaml
  prow/manifests/overlays/metal3/kustomization.yaml
Due: check-prow-config, markdownlint

improve robustness of the initrd sdk
  .gitignore
  jenkins/image_building/initrd_sdk/test_unlock_config
  jenkins/image_building/initrd_sdk/tpm2-unseal-key.sh
  jenkins/image_building/initrd_sdk/unlock-mount-luks.sh
  jenkins/image_building/initrd_sdk/unseal-and-open-luks.service
  jenkins/image_building/initrd_sdk/verify-realroot.sh
Due: check-prow-config, shellcheck

Prow: Cleanup config
  prow/config/config.yaml
  prow/config/jobs/metal3-io/baremetal-operator.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3.yaml
  prow/config/jobs/metal3-io/ip-address-manager.yaml
  prow/config/jobs/metal3-io/ironic-image.yaml
Due: check-prow-config

Prow: Split presubmits per branch
  prow/config/jobs/metal3-io/baremetal-operator-release-0.5.yaml
  prow/config/jobs/metal3-io/baremetal-operator-release-0.6.yaml
  prow/config/jobs/metal3-io/baremetal-operator-release-0.8.yaml
  prow/config/jobs/metal3-io/baremetal-operator.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3.yaml
  prow/config/jobs/metal3-io/cluster-api-provier-metal3-release-1.6.yaml
  prow/config/jobs/metal3-io/cluster-api-provier-metal3-release-1.7.yaml
  prow/config/jobs/metal3-io/cluster-api-provier-metal3-release-1.8.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.6.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.7.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.8.yaml
  prow/config/jobs/metal3-io/ip-address-manager.yaml
  prow/config/jobs/metal3-io/ironic-image-release-24.0.yaml
  prow/config/jobs/metal3-io/ironic-image-release-24.1.yaml
  prow/config/jobs/metal3-io/ironic-image-release-25.0.yaml
  prow/config/jobs/metal3-io/ironic-image-release-26.0.yaml
  prow/config/jobs/metal3-io/ironic-image.yaml
Due: check-prow-config

Catch curl uploading error when upload fails
  jenkins/image_building/upload-node-image.sh
  jenkins/scripts/artifactory/utils.sh
Due: check-prow-config, shellcheck
