Repository metal3-io/metal3-dev-env: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

Try Cilium CNI
  tests/roles/run_tests/tasks/install_calico.yaml
  tests/roles/run_tests/tasks/install_cilium.yaml
  tests/roles/run_tests/tasks/verify.yml
  tests/roles/run_tests/vars/main.yml
Due: none

Bump minikube to v1.37.0
  lib/common.sh
Due: shellcheck

Set interface name for vrrp config after enabling predicted names
  03_launch_mgmt_cluster.sh
  config_example.sh
  lib/common.sh
  tests/roles/run_tests/templates/main/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/main/cluster-template-controlplane-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/main/cluster-template-workers-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/main/cluster-template-workers-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/release-1.10/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.10/cluster-template-controlplane-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/release-1.10/cluster-template-workers-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.10/cluster-template-workers-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/release-1.8/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.8/cluster-template-controlplane-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/release-1.8/cluster-template-workers-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.8/cluster-template-workers-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/release-1.9/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.9/cluster-template-controlplane-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/release-1.9/cluster-template-workers-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.9/cluster-template-workers-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/vars/main.yml
  vars.md
Due: shellcheck, markdownlint

Change ironicendpoint.yaml file permission
  tests/roles/run_tests/templates/main/cluster-template-controlplane-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/main/cluster-template-workers-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/release-1.10/cluster-template-controlplane-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/release-1.10/cluster-template-workers-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/release-1.8/cluster-template-controlplane-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/release-1.8/cluster-template-workers-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/release-1.9/cluster-template-controlplane-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/release-1.9/cluster-template-workers-kubeadm-config-ubuntu.yaml
Due: none

Add path to FAKE_IPA_CERTFILE and FAKE_IPA_KEYFILE for redfish ssl to work
  03_launch_mgmt_cluster.sh
  03_launch_mgmt_cluster_pre_1_10.sh
  vm-setup/roles/virtbmc/tasks/setup_tasks.yml
Due: shellcheck

Bump CentOS node image to CentOS stream 10
  README.md
  config_example.sh
  lib/images.sh
  vars.md
Due: shellcheck, markdownlint

Add 1.11 templates
  tests/roles/run_tests/templates/release-1.11/Metal3MachineTemplate.yml
  tests/roles/run_tests/templates/release-1.11/capm3-clusterctl-settings.json
  tests/roles/run_tests/templates/release-1.11/cluster-api-clusterctl-settings.json
  tests/roles/run_tests/templates/release-1.11/cluster-template-cluster.yaml
  tests/roles/run_tests/templates/release-1.11/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.11/cluster-template-controlplane-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/release-1.11/cluster-template-controlplane-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/release-1.11/cluster-template-controlplane.yaml
  tests/roles/run_tests/templates/release-1.11/cluster-template-workers-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.11/cluster-template-workers-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/release-1.11/cluster-template-workers-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/release-1.11/cluster-template-workers.yaml
  tests/roles/run_tests/templates/release-1.11/clusterctl-vars.yaml
  tests/roles/run_tests/templates/release-1.11/machine-healthcheck-controlplane.yaml
  tests/roles/run_tests/templates/release-1.11/machine-healthcheck-worker.yaml
  tests/roles/run_tests/templates/release-1.11/metal3datatemplate-template.yaml
Due: none

Fix interface naming for worker node
  tests/roles/run_tests/templates/main/cluster-template-workers-kubeadm-config-centos.yaml
Due: none

Fix 1.9 scalability test
  03_launch_mgmt_cluster_pre_1_10.sh
Due: shellcheck

Add SKIP_NODE_IMAGE_PREPULL var to skip image prepulling
  config_example.sh
  lib/common.sh
  lib/image_prepull.sh
Due: shellcheck

remove kubernetes yum repo from kubeadm config
  tests/roles/run_tests/templates/main/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/main/cluster-template-controlplane-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/main/cluster-template-workers-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/main/cluster-template-workers-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/release-1.10/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.10/cluster-template-workers-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.11/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.11/cluster-template-controlplane-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/release-1.11/cluster-template-workers-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.11/cluster-template-workers-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/release-1.8/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.8/cluster-template-workers-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.9/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.9/cluster-template-workers-kubeadm-config-centos.yaml
Due: none

Fix PodCIDR raplace in Calico manifest
  tests/roles/run_tests/tasks/verify.yml
  tests/roles/run_tests/vars/main.yml
Due: none

Fix suse image name and location
  lib/images.sh
Due: shellcheck

fix the error message of supported distros
  lib/common.sh
Due: shellcheck

Fix supported distros error message
  lib/common.sh
Due: shellcheck

Fix verify script to check irso deployments when USE_IRSO is true
  04_verify.sh
Due: shellcheck

Set IPA_BASEURI for irso deployments
  03_launch_mgmt_cluster.sh
  03_launch_mgmt_cluster_pre_1_10.sh
Due: shellcheck

Fixing IPA_BASEURI for IRSO
  03_launch_mgmt_cluster.sh
  03_launch_mgmt_cluster_pre_1_10.sh
Due: shellcheck

Install docker buildkit in ubuntu
  vm-setup/roles/packages_installation/files/daemon.json
  vm-setup/roles/packages_installation/tasks/ubuntu_required_packages.yml
Due: none

Rename cluster name
  01_prepare_host.sh
  02_configure_host.sh
  03_launch_mgmt_cluster.sh
  03_launch_mgmt_cluster_pre_1_10.sh
  04_verify.sh
  README.md
  cluster_cleanup.sh
  config_example.sh
  lib/common.sh
  lib/network.sh
  tests/roles/run_tests/tasks/move.yml
  tests/roles/run_tests/tasks/move_back.yml
  tests/roles/run_tests/vars/main.yml
  tests/scripts/fetch_manifests.sh
  vars.md
  vm-setup/roles/firewall/defaults/main.yml
  vm-setup/roles/firewall/tasks/iptables.yaml
Due: shellcheck, markdownlint

Use irso after pivot
  tests/roles/run_tests/tasks/move.yml
Due: none

add copilot-instructions.md
  .github/copilot-instructions.md
Due: markdownlint

Skip launching ironic in case of capm3 e2e tests
  03_launch_mgmt_cluster.sh
  03_launch_mgmt_cluster_pre_1_10.sh
Due: shellcheck

Use irso after pivot
  lib/common.sh
  tests/roles/run_tests/tasks/move.yml
  tests/roles/run_tests/tasks/move_back.yml
  tests/roles/run_tests/vars/main.yml
Due: shellcheck

virtbmc: valid SubjectAltName for TLS on sushy-tools
  vm-setup/roles/virtbmc/tasks/setup_tasks.yml
Due: none

Add NAT64 to enable IPv6 provision in v4 only host
  tests/roles/run_tests/tasks/install_calico.yaml
  tests/roles/run_tests/templates/main/cluster-template-cluster.yaml
  tests/roles/run_tests/templates/main/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/main/cluster-template-workers-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/main/metal3datatemplate-template.yaml
  tests/roles/run_tests/vars/main.yml
  vars.md
  vm-setup/roles/nat64/defaults/main.yml
  vm-setup/roles/nat64/tasks/main.yml
  vm-setup/roles/nat64/tasks/setup_nat.yml
  vm-setup/roles/nat64/tasks/teardown_nat.yml
  vm-setup/roles/nat64/templates/named.conf.options
  vm-setup/roles/nat64/templates/resolv.conf
  vm-setup/roles/nat64/templates/tayga.conf
  vm-setup/roles/packages_installation/defaults/main.yml
  vm-setup/roles/packages_installation/files/daemon.json
  vm-setup/roles/packages_installation/tasks/ubuntu_required_packages.yml
  vm-setup/roles/packages_installation/templates/daemon.json
  vm-setup/setup-playbook.yml
  vm-setup/teardown-playbook.yml
Due: markdownlint

setup: fix bmo branch configuration
  lib/common.sh
Due: shellcheck

pin ovmf for ubuntu24.04 to fix regression
  vm-setup/roles/packages_installation/defaults/main.yml
  vm-setup/roles/packages_installation/tasks/ubuntu_required_packages.yml
Due: none

dev: add tiltfile for local development
  README.md
  Tiltfile
  Tiltfile.md
Due: markdownlint

change golang download url to official url + bump 1.24.10
  vm-setup/install-package-playbook.yml
Due: none

Replace fubarhouse.golang role with direct Go installation
  vm-setup/install-package-playbook.yml
  vm-setup/requirements.yml
  vm-setup/roles/packages_installation/defaults/main.yml
  vm-setup/roles/packages_installation/tasks/main.yml
Due: none

Revert "virtbmc: valid SubjectAltName for TLS on sushy-tools"
  vm-setup/roles/virtbmc/tasks/setup_tasks.yml
Due: none

test commit
  tests/roles/run_tests/tasks/verify_resources_states.yml
Due: none

Test commit
  03_launch_mgmt_cluster.sh
  03_launch_mgmt_cluster_pre_1_10.sh
  lib/common.sh
  lib/images.sh
Due: shellcheck

lint: allow long lines in tables and code fences
  .markdownlint-cli2.yaml
  PoCs/kamaji/README.md
  README.md
  vars.md
Due: markdownlint

add AGENTS.md
  .gitignore
  AGENTS.md
  CLAUDE.md
Due: markdownlint

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
