Repository metal3-io/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: check-prow-config, markdownlint, shellcheck, spellcheck

Path conditions:
  check-prow-config: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: any of: (\.md|markdownlint\.sh)$
  shellcheck: any of: ((\.sh)|^Makefile)$
  spellcheck: any of: (\.md|spellcheck\.sh|.cspell-config.json)$

Add pipeline for testing with k8s pre-release versions
  jenkins/image_building/build-image.sh
  jenkins/image_building/dib_elements/centos-node/install.d/55-install
  jenkins/image_building/dib_elements/centos-node/pre-install.d/55-setup-repos
  jenkins/image_building/dib_elements/ubuntu-node/install.d/55-install
  jenkins/image_building/dib_elements/ubuntu-node/pre-install.d/55-setup-repos
  jenkins/jobs/image_building.pipeline
  jenkins/jobs/pre_release_tests.pipeline
Due: check-prow-config, shellcheck

Add prow keywords for k8s pre-release testing
  prow/config/jobs/metal3-io/baremetal-operator.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3.yaml
  prow/config/jobs/metal3-io/ip-address-manager.yaml
  prow/config/jobs/metal3-io/metal3-dev-env.yaml
  prow/config/jobs/metal3-io/project-infra.yaml
Due: check-prow-config

Automatically detect agent's OS
  jenkins/image_building/build-image.sh
  jenkins/jobs/image_building.pipeline
  jenkins/jobs/pre_release_tests.pipeline
Due: check-prow-config, shellcheck

Add support for ipv6
  jenkins/scripts/dynamic_worker_workflow/dev_env_integration_tests.sh
Due: check-prow-config, shellcheck

add a build test for ironic-image
  prow/config/jobs/metal3-io/ironic-image.yaml
Due: check-prow-config

Fetch images with specific date
  jenkins/image_building/build-image.sh
Due: check-prow-config, shellcheck

Fix parameter expansion to handle empty values
  jenkins/image_building/build-image.sh
Due: check-prow-config, shellcheck

Automatically fetch latest pre-release k8s version
  jenkins/image_building/build-image.sh
  jenkins/jobs/pre_release_tests.pipeline
Due: check-prow-config, shellcheck

Pin CentOS release in fullstack building
  jenkins/scripts/dynamic_worker_workflow/build_ipa.sh
Due: check-prow-config, shellcheck

Unify kubernetes installation scripts
  jenkins/image_building/dib_elements/centos-node/install.d/55-install
  jenkins/image_building/dib_elements/centos-node/pre-install.d/55-setup-repos
  jenkins/image_building/dib_elements/ubuntu-node/install.d/55-install
  jenkins/image_building/dib_elements/ubuntu-node/pre-install.d/55-setup-repos
Due: check-prow-config

Uplift CI images to Ubuntu 24.04
  jenkins/image_building/build-image.sh
  jenkins/image_building/dib_elements/ci-base/pkg-map
  jenkins/image_building/dib_elements/ubuntu-ci/install.d/55-install
Due: check-prow-config, shellcheck

Bump k8s to 1.34 for image building
  jenkins/image_building/build-image.sh
Due: check-prow-config, shellcheck

Add env variables for k8s-upgrade test
  jenkins/jobs/pre_release_tests.pipeline
Due: check-prow-config

Bumping k8s-prow images and test-infra images
  prow/Makefile
  prow/config/config.yaml
  prow/config/jobs/metal3-io/project-infra.yaml
  prow/config/jobs/periodics.yaml
  prow/manifests/base/crier.yaml
  prow/manifests/base/deck.yaml
  prow/manifests/base/ghproxy.yaml
  prow/manifests/base/hook.yaml
  prow/manifests/base/horologium.yaml
  prow/manifests/base/prow-controller-manager.yaml
  prow/manifests/base/sinker.yaml
  prow/manifests/base/statusreconciler.yaml
  prow/manifests/base/tide.yaml
  prow/manifests/overlays/metal3/external-plugins/cherrypicker_deployment.yaml
  prow/manifests/overlays/metal3/external-plugins/jenkins-operator.yaml
  prow/manifests/overlays/metal3/external-plugins/needs-rebase_deployment.yaml
Due: check-prow-config

Fix clean resources script
  jenkins/scripts/clean_resources.sh
Due: check-prow-config, shellcheck

Add openSUSE Leap 15.6 node and ci images
  jenkins/image_building/build-image.sh
  jenkins/image_building/dib_elements/ci-base/pkg-map
  jenkins/image_building/dib_elements/leap-ci/README.md
  jenkins/image_building/dib_elements/leap-ci/element-deps
  jenkins/image_building/dib_elements/leap-ci/install.d/55-install
  jenkins/image_building/dib_elements/leap-ci/post-install.d/55-configure
  jenkins/image_building/dib_elements/leap-node/README.md
  jenkins/image_building/dib_elements/leap-node/element-deps
  jenkins/image_building/dib_elements/leap-node/install.d/55-install
  jenkins/image_building/dib_elements/leap-node/package-installs.yaml
  jenkins/image_building/dib_elements/leap-node/post-install.d/90-pre-pull-images
  jenkins/image_building/dib_elements/leap-node/pre-install.d/55-setup-repos
Due: check-prow-config, markdownlint, shellcheck, spellcheck

Uplift k8s upgrade versions in CAPM3 e2e
  prow/config/jobs/metal3-io/baremetal-operator.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3.yaml
  prow/config/jobs/metal3-io/ip-address-manager.yaml
Due: check-prow-config

Add prow keywords for k8s upgrade pre-release tests
  prow/config/jobs/metal3-io/baremetal-operator.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3.yaml
  prow/config/jobs/metal3-io/ip-address-manager.yaml
Due: check-prow-config

Install python3.12-venv for resource cleanup script
  jenkins/scripts/clean_resources.sh
Due: check-prow-config, shellcheck

Prow: Increase pod pending and unscheduled timeouts
  prow/config/config.yaml
Due: check-prow-config

add IPAM release-1.11 to Prow
  prow/config/jobs/metal3-io/ip-address-manager-release-1.11.yaml
Due: check-prow-config

add BMO release-0.11 to Prow
  prow/config/jobs/metal3-io/baremetal-operator-release-0.11.yaml
Due: check-prow-config

Add CAPM3 release-1.11 to Prow
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.11.yaml
Due: check-prow-config

add pre-release pipelines to BMO release-0.11
  prow/config/jobs/metal3-io/baremetal-operator-release-0.11.yaml
Due: check-prow-config

add pre-realese pipelines to release-1-11 branch
  prow/config/jobs/metal3-io/ip-address-manager-release-1.11.yaml
Due: check-prow-config

align release-1.11 CAPM3,IPAM integration tests
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.11.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.11.yaml
Due: check-prow-config

Add release-1.11 triggers to Prow
  jenkins/README.md
  prow/config/jobs/metal3-io/ip-address-manager-release-1.10.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.9.yaml
  prow/config/jobs/metal3-io/ironic-image-release-30.0.yaml
  prow/config/jobs/metal3-io/ironic-image-release-31.0.yaml
  prow/config/jobs/metal3-io/ironic-ipa-downloader.yaml
  prow/config/jobs/metal3-io/mariadb-image.yaml
  prow/config/jobs/metal3-io/metal3-dev-env.yaml
  prow/config/plugins.yaml
Due: check-prow-config, markdownlint, spellcheck

Increase BMO optional tests timeout
  jenkins/jobs/bmo_e2e_optional_tests.pipeline
Due: check-prow-config

Add CNI_NAME env variable to allow switching CNI in test
  jenkins/jobs/capm3-e2e-tests.pipeline
  jenkins/jobs/dev_env_integration_tests.pipeline
Due: check-prow-config

Build CentOS 10-stream node image
  jenkins/image_building/build-image.sh
Due: check-prow-config, shellcheck

Enable predictable interface names for node images
  jenkins/image_building/build-image.sh
  jenkins/image_building/verify-node-image.sh
  jenkins/scripts/dynamic_worker_workflow/dev_env_integration_tests.sh
Due: check-prow-config, shellcheck

Add pods scaling tests bml
  jenkins/scripts/bare_metal_lab/bml_integration_test.sh
  jenkins/scripts/bare_metal_lab/tasks/pod_scaling/ansible.cfg
  jenkins/scripts/bare_metal_lab/tasks/pod_scaling/inventory.ini
  jenkins/scripts/bare_metal_lab/tasks/pod_scaling/pod-scaling.yaml
Due: check-prow-config, shellcheck

Add FKAS build to PR checks
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.10.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.11.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.9.yaml
Due: check-prow-config

Link checker should ignore deleted files
  .github/workflows/pr-link-check.yml
Due: check-prow-config
