Repository metal3-io/ip-address-manager: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, shellcheck, unit, generate, manifestlint, test

Path conditions:
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$

Uplift CAPI to v1.12.7
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

:rocket: Release v1.11.7
  releasenotes/v1.11.7.md
Due: markdownlint

:rocket: Release v1.12.4
  releasenotes/v1.12.4.md
Due: markdownlint

chore: Migrate from deprecated golang/mock to go.uber.org/mock
  Makefile
  controllers/ippool_controller_test.go
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
  ipam/mocks/zz_generated.ippool_manager.go
  ipam/mocks/zz_generated.manager_factory.go
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Bump github.com/onsi/ginkgo/v2 from 2.28.1 to 2.28.2 in /api
  api/go.mod
  api/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

:rocket: Release v1.13.0-rc.0
  releasenotes/v1.13.0-rc.0.md
Due: markdownlint

add random allocation strategy to IPPool
  api/v1alpha1/ippool_types.go
  config/crd/bases/ipam.metal3.io_ippools.yaml
  internal/webhooks/v1alpha1/ipaddress_webhook.go
  internal/webhooks/v1alpha1/ipclaim_webhook.go
  internal/webhooks/v1alpha1/ippool_webhook.go
  internal/webhooks/v1alpha1/ippool_webhook_test.go
  ipam/ippool_manager.go
  ipam/ippool_manager_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Consolidate Metal3 Contributing guide in community repo
  CONTRIBUTING.md
Due: markdownlint

remove obsoleted release action
  .github/workflows/release.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Update dependabot config for release-1.13
  .github/dependabot.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump go version to 1.25.10
  Dockerfile
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

:rocket: Release v1.13.0
  releasenotes/v1.13.0.md
Due: markdownlint

Revert "Merge pull request #1395 from Nordix/update-readme-1.13"
  README.md
Due: markdownlint

Revert "Merge pull request #1391 from Nordix/peppi/bump-capi-1.13.1"
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Simplify ownerRefs for IPAddresses
  ipam/ippool_manager.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Update compatibility matrix
  README.md
Due: markdownlint

Bump golang.org/x/net to v0.53.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint, test

🌱Bump go version to 1.25.10
  Dockerfile
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Harden CI by removing unused script and updating setup-envtest to follow repo convention
  Makefile
  hack/kind_with_registry.sh
  hack/tools/install_setup_envtest.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Harden binary downloads in 3 scripts
  hack/ensure-golangci-lint.sh
  hack/tools/install_kubebuilder.sh
  hack/tools/install_kustomize.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Update documentation and example configurations for IP Address Manager
  README.md
  examples/ippool/ippool.yaml
  examples/ippool/kustomization.yaml
  examples/provider-components/manager_tolerations_patch.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, unit, generate, manifestlint

Add standalone e2e test suite for IPAM
  .github/dependabot.yml
  .github/workflows/e2e-pr-test.yml
  .github/workflows/e2e-test-periodic.yml
  .github/workflows/e2e-test.yml
  .gitignore
  AGENTS.md
  Makefile
  docs/e2e.md
  hack/e2e/ci-script.sh
  hack/e2e/ensure_go.sh
  hack/e2e/ensure_kubectl.sh
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
  test/e2e/basic_test.go
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/ipamprovider-metal3/overlays/e2e/kustomization.yaml
  test/e2e/data/shared/capd/v1.13/metadata.yaml
  test/e2e/data/shared/capi/v1.13/metadata.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/feature_test.go
  test/go.mod
  test/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, shellcheck, unit, generate, manifestlint, test

✨ Add random IP allocation strategy to IPPool
  api/v1alpha1/ippool_types.go
  api/v1alpha1/utils.go
  api/v1alpha1/utils_test.go
  config/crd/bases/ipam.metal3.io_ippools.yaml
  internal/webhooks/v1alpha1/ipaddress_webhook.go
  internal/webhooks/v1alpha1/ipclaim_webhook.go
  internal/webhooks/v1alpha1/ippool_webhook.go
  internal/webhooks/v1alpha1/ippool_webhook_test.go
  ipam/ippool_manager.go
  ipam/ippool_manager_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump Go version to 1.25.11
  Dockerfile
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Bump x/net to v0.55.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint, test

Update Api documentation
  docs/api.md
Due: markdownlint

Bump x/net to v0.55.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint, test

Add uniqueness check for Preallocation at IPPool creation and validation times
  internal/webhooks/v1alpha1/ippool_webhook.go
  internal/webhooks/v1alpha1/ippool_webhook_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Add image digest handling to release workflow and pin release artifact image with digest
  .github/workflows/release.yaml
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Set cooldown days to 3 for dependabot
  .github/dependabot.yml
  .github/workflows/zizmor.yml
  .zizmor.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Make IPPool ClusterName field immutable and update IPAddress and IPClaim validation functions
  internal/webhooks/v1alpha1/ipaddress_webhook.go
  internal/webhooks/v1alpha1/ipclaim_webhook.go
  internal/webhooks/v1alpha1/ippool_webhook.go
  internal/webhooks/v1alpha1/ippool_webhook_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Removed zizmor inline ignore
  .github/workflows/release.yaml
  .zizmor.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Removed zizmor inline ignore & set dependabot cooldown to 3
  .github/dependabot.yml
  .github/workflows/release.yaml
  .github/workflows/zizmor.yml
  .zizmor.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint
