Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/generate.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

golint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/golint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

test:
  decorate: true
  spec:
    containers:
    - args:
      - test
      command:
      - make
      image: docker.io/golang:1.21
      imagePullPolicy: Always

Use equinix runner instead of ubuntu for e2e tests
  .github/workflows/e2e-test.yml
Due: gosec, gomod, unit, generate, manifestlint

Added unit test for LoadAuth funciton in auth.go
  pkg/provisioner/ironic/clients/auth_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Fix Set image tag for release branches and tags
  docs/releasing.md
  hack/verify-release.sh
Due: gosec, gomod, markdownlint, shellcheck, unit, generate, manifestlint, test

bump golang to 1.21.11
  Dockerfile
  Makefile
  hack/e2e/ensure_go.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Mount ironic credentials as volumes
  hack/ci-e2e.sh
  ironic-deployment/components/basic-auth/auth.yaml
  ironic-deployment/overlays/basic-auth_tls/basic-auth_tls.yaml
  ironic-deployment/overlays/basic-auth_tls/kustomization.yaml
  ironic-deployment/overlays/e2e-release-24.0-with-inspector/kustomization.yaml
  ironic-deployment/overlays/e2e/kustomization.yaml
  tools/deploy.sh
  tools/run_local_ironic.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Remove upstream .github dir
  .github/ISSUE_TEMPLATE/failing-test.yaml
  .github/ISSUE_TEMPLATE/flaking-test.yaml
  .github/workflows/build-images-action.yml
  .github/workflows/e2e-fixture-test.yml
  .github/workflows/e2e-test-optional-periodic-release-0.5.yml
  .github/workflows/e2e-test-optional-periodic-release-0.6.yml
  .github/workflows/e2e-test-optional-periodic.yml
  .github/workflows/e2e-test-periodic-main.yml
  .github/workflows/e2e-test-periodic-release-0.5.yml
  .github/workflows/e2e-test-periodic-release-0.6.yml
  .github/workflows/e2e-test.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/pipeline.yml
  .github/workflows/pr-gh-workflow-approve.yaml
  .github/workflows/pr-verifier.yaml
  .github/workflows/unit.yml
Due: gosec, gomod, unit, generate, manifestlint

Remove upstream OWNERS_ALIASES
  OWNERS_ALIASES
Due: gosec, gomod, unit, generate, manifestlint

fix htpasswd generation in run_local_ironic.sh
  tools/run_local_ironic.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

Fix htpasswd call for ironic credentials
  tools/run_local_ironic.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

bump golang to 1.22.4
  Dockerfile
  Makefile
  hack/e2e/ensure_go.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

bump capi to 1.7.3
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint

fix incorrect htpaswd file generation
  tools/deploy.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

fix make install and make uninstall Signed-off-by: shenwei <shenwei@cmss.chinamobile.com>
  Makefile
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

limit running BMO e2e periodics to metal3-io repo
  .github/workflows/e2e-test-optional-periodic-release-0.5.yml
  .github/workflows/e2e-test-optional-periodic-release-0.6.yml
  .github/workflows/e2e-test-optional-periodic.yml
  .github/workflows/e2e-test-periodic-main.yml
  .github/workflows/e2e-test-periodic-release-0.5.yml
  .github/workflows/e2e-test-periodic-release-0.6.yml
Due: gosec, gomod, unit, generate, manifestlint

Always upload test artifacts, even if the tests fail
  .github/workflows/e2e-test.yml
Due: gosec, gomod, unit, generate, manifestlint

Added Error message when reconciling loop is triggered more than once Signed-off-by: “babugeet <abhinandhbg@gmail.com>”
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/bmceventsubscription_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add new Go module to deploy VM for tests
  .github/workflows/e2e-test.yml
  clean_bmcs.sh
  hack/ci-e2e.sh
  hack/clean-e2e.sh
  hack/create_bmcs.sh
  hack/generate.sh
  test/createVM/main.go
  test/createVM/templates/VM.xml.tpl
  test/createVM/templates/pool.xml.tpl
  test/createVM/templates/volume.xml.tpl
  test/e2e/bmc.go
  test/e2e/e2e_suite_test.go
  test/go.mod
  test/go.sum
  tools/bmh_test/clean_local_bmh_test_setup.sh
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

add openssf best practices badge to README
  README.md
Due: markdownlint

remove BMO periodic badge as it no longer exists
  README.md
Due: markdownlint

Optimize the dependabot configuration and add release branch configurations
  .github/dependabot.yml
Due: gosec, gomod, unit, generate, manifestlint

Document backporting rules for Go lang minor versions for images
  CONTRIBUTING.md
Due: markdownlint

fix hack scripts to run locally again
  hack/generate.sh
  hack/golint.sh
  hack/gomod.sh
  hack/manifestlint.sh
  hack/markdownlint.sh
  hack/shellcheck.sh
  hack/unit.sh
Due: gosec, gomod, markdownlint, shellcheck, unit, generate, manifestlint, test

Use basic-checks image in generate and gomod tests
  hack/generate.sh
  hack/gomod.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Fix HFC to execute updates
  apis/metal3.io/v1alpha1/hostfirmwarecomponents_types.go
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/host_state_machine.go
  controllers/metal3.io/hostfirmwarecomponents_controller.go
  controllers/metal3.io/hostfirmwarecomponents_test.go
  main.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/provision_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

bump golang to 1.22.5
  Dockerfile
  Makefile
  hack/e2e/ensure_go.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Remove gomega in LoadBMCConfig()
  test/e2e/bmc.go
  test/e2e/e2e_suite_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

schedule dependabot on certain day, and add ok-to-test automatically
  .github/dependabot.yml
Due: gosec, gomod, unit, generate, manifestlint

Add new Go module to deploy VM for tests
  .github/workflows/e2e-fixture-test.yml
  .github/workflows/e2e-test.yml
  .github/workflows/golangci-lint.yml
  clean_bmcs.sh
  hack/ci-e2e.sh
  hack/clean-e2e.sh
  hack/create_bmcs.sh
  test/createVM/main.go
  test/createVM/templates/VM.xml.tpl
  test/createVM/templates/pool.xml.tpl
  test/createVM/templates/volume.xml.tpl
  test/go.mod
  test/go.sum
  tools/bmh_test/clean_local_bmh_test_setup.sh
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

Vendorrize upstream sync Jul 5
  vendor/github.com/go-logr/logr/README.md
  vendor/github.com/metal3-io/baremetal-operator/apis/metal3.io/v1alpha1/hostfirmwarecomponents_types.go
  vendor/golang.org/x/sys/unix/mkerrors.sh
  vendor/golang.org/x/sys/unix/zerrors_linux.go
  vendor/golang.org/x/sys/unix/zerrors_linux_386.go
  vendor/golang.org/x/sys/unix/zerrors_linux_amd64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm64.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/windows/security_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/modules.txt
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint

Do not mark hardwareProfile as required in the status
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Migrate information away from docs/api.md
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/base/crds/bases/metal3.io_hardwaredata.yaml
  config/render/capm3.yaml
  docs/api.md
Due: gofmt, gosec, gomod, markdownlint, unit, generate, golint, manifestlint

Use OwnerReference for HostFirmwareComponents
  controllers/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Link to the source code in api.md
  docs/api.md
Due: markdownlint

Fix HFC Status
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/hostfirmwarecomponents_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Bump golang to 1.22 in release 0.6
  .github/workflows/release.yaml
  .golangci.yaml
  Dockerfile
  Makefile
  Tiltfile
  hack/e2e/ensure_go.sh
  hack/generate.sh
  hack/golint.sh
  hack/gomod.sh
  hack/unit.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  golint: any of: \.go$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$
  test: any of: ^(Makefile|hack/.*)$
