Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Path conditions:
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  unit: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  build: (any of: ^api|^test|^Makefile$) or (any of: ^api|^test|^Makefile$|^hack/build.sh$)
  test: any of: ^(Makefile|hack/.*)$
  build-fkas: any of: ^hack/fake-apiserver|^api|^Makefile$|^hack/build.sh$

Bump k8s go mods to 0.37.1
  api/go.mod
  api/go.sum
  api/v1beta1/zz_generated.conversion.go
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test, build-fkas

Make scripts consistent
  examples/generate.sh
  hack/ensure-go.sh
  hack/ensure-golangci-lint.sh
  hack/ensure-kind.sh
  hack/ensure-kubectl.sh
  hack/fetch-vbmctl.sh
  hack/gen_tilt_settings.sh
  hack/kind_with_registry.sh
  hack/kustomize-sub.sh
  hack/verify-boilerplate.sh
  hack/verify-release.sh
  scripts/ci-e2e.sh
  scripts/environment.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, test

🐛 Release IP claims of pools resolved from FromPoolAnnotation
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Limit the number of MatchLabels
  api/v1beta2/common_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machinetemplates.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

Match claim owner by name, kind and group, ignore missing IPAM CRDs
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Release leases without fetching Metal3DataTemplate
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Add tests for recovery of IPClaims leaked by FromPoolAnnotation
  baremetal/metal3data_manager_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Limit the number of MatchLabels
  api/v1beta1/common_types.go
  api/v1beta2/common_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machinetemplates.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

remove unused RBAC from controllers
  config/rbac/role.yaml
  controllers/metal3remediation_controller.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Remove yamllint GitHub workflow
  .github/workflows/yamllint.yaml
  AGENTS.md
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint

Bump Containerd to 1.7.36
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Removes the Metal3Machine owner reference from Metal3Data objects.
  baremetal/metal3data_manager_test.go
  baremetal/metal3datatemplate_manager.go
  baremetal/metal3datatemplate_manager_test.go
  baremetal/suite_test.go
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_test.go
  test/e2e/common.go
  test/extension/config/rbac/role.yaml
  test/extension/handlers/inplaceupdate/handlers.go
  test/metal3util/metal3util.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

:seedling: e2e: deploy test-extension after bootstrap cluster exists
  docs/e2e-test.md
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/k8s_in_place_upgrade.go
  test/e2e/k8s_in_place_upgrade_test.go
  test/extension/config/default/manager_pull_policy.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build

Add checksum verification for tool installs
  hack/ensure-docker.sh
  hack/ensure-go.sh
  hack/ensure-golangci-lint.sh
  hack/ensure-kind.sh
  hack/ensure-kubectl.sh
  hack/install-go.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, test

:seedling: fix centos docker issue
  hack/ensure-docker.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, test

Metal3Data namespace validation on create
  internal/webhooks/v1beta2/metal3data_webhook.go
  internal/webhooks/v1beta2/metal3data_webhook_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

🐛 Keep empty hostSelector values valid in v1beta2
  api/v1beta1/conversion.go
  api/v1beta1/conversion_schema_test.go
  api/v1beta1/conversion_test.go
  api/v1beta2/common_types.go
  api/v1beta2/metal3datatemplate_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datatemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machinetemplates.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

Add fuzz tests to the unit test and update the Makefile accordingly
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

🌱 Run zizmor on release branches
  .github/workflows/zizmor.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint
