Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  golint: any of: \.go$
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$

add OpenSSF OSPS baseline level 1 badge
  README.md
Due: markdownlint

ci: include vbmctl unit tests in unit workflow (closes #3115)
  .github/workflows/unit.yml
  Makefile
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

remove unused RBAC permissions from controller ClusterRole
  config/base/rbac/role.yaml
  config/overlays/e2e/roles-rolebindings/roles-rolebindings.yaml
  config/render/capm3.yaml
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/hostclaim_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Include vbmctl unit tests in unit workflow
  .github/workflows/unit.yml
  Makefile
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Prevent duplicate log watchers in E2E tests
  test/e2e/common.go
  test/e2e/e2e_suite_test.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Remove legacy vbmctl entrypoint and update E2E VM config
  Makefile
  hack/ci-e2e.sh
  test/e2e/bmc.go
  test/e2e/config/bmcs-ipmi.yaml
  test/e2e/config/bmcs-redfish-virtualmedia.yaml
  test/e2e/config/bmcs-redfish.yaml
  test/e2e/config/vbmctl.yaml
  test/vbmctl/main.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

Fix HFC controller error loop on deleted resource
  internal/controller/metal3.io/hostfirmwarecomponents_controller.go
  internal/controller/metal3.io/hostfirmwarecomponents_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Refactor: remove unneeded vbmctl template datatypes
  test/vbmctl/pkg/libvirt/pool.go
  test/vbmctl/pkg/libvirt/templates.go
  test/vbmctl/pkg/libvirt/templates/pool.xml.tpl
  test/vbmctl/pkg/libvirt/templates/volume.xml.tpl
  test/vbmctl/pkg/libvirt/vm.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Remove unused RBAC permissions from controller ClusterRole
  config/base/rbac/role.yaml
  config/overlays/e2e/roles-rolebindings/roles-rolebindings.yaml
  config/render/capm3.yaml
  internal/controller/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Remove unused RBAC permissions from controller ClusterRole
  config/base/rbac/role.yaml
  config/render/capm3.yaml
  internal/controller/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Utilities for unit testing of HostClaims
  internal/testutil/common.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Associated BareMetalHost in HostClaim status
  apis/metal3.io/v1alpha1/hostclaim_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_hostclaims.yaml
  config/render/capm3.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Fix hack/ci-e2e.sh script installations
  Makefile
  hack/ci-e2e.sh
  hack/clean-e2e.sh
  hack/e2e/ensure_docker.sh
  hack/e2e/ensure_e2e_prerequisites.sh
  hack/e2e/ensure_go.sh
  hack/e2e/ensure_htpasswd.sh
  hack/e2e/ensure_kubectl.sh
  hack/e2e/ensure_yq.sh
  test/e2e/README.md
Due: gosec, gomod, markdownlint, shellcheck, unit, generate, manifestlint, test

Fix HFS setCondition ignoring ObservedGeneration changes
  internal/controller/metal3.io/hostfirmwaresettings_controller.go
  internal/controller/metal3.io/hostfirmwaresettings_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Handle generation mismatch in servicing error recovery
  internal/controller/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Bump go version to 1.25.9
  Dockerfile
  Makefile
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

test: refactor HostFirmwareComponents controller tests
  apis/metal3.io/v1alpha1/hostfirmwarecomponents_types.go
  apis/metal3.io/v1alpha1/hostfirmwarecomponents_types_test.go
  go.mod
  internal/controller/metal3.io/hostfirmwarecomponents_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

feat: add URLs array field for NIC firmware updates
  apis/metal3.io/v1alpha1/hostfirmwarecomponents_types.go
  apis/metal3.io/v1alpha1/hostfirmwarecomponents_types_test.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_hostfirmwarecomponents.yaml
  config/render/capm3.yaml
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/provision_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add libvirt network creation and deletion to vbmctl
  hack/ci-e2e.sh
  test/e2e/config/vbmctl.yaml
  test/vbmctl/README.md
  test/vbmctl/cmd/vbmctl/main.go
  test/vbmctl/pkg/api/types.go
  test/vbmctl/pkg/config/config.go
  test/vbmctl/pkg/libvirt/network.go
  test/vbmctl/pkg/libvirt/templates.go
  test/vbmctl/pkg/libvirt/templates/network.xml.tpl
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Adds Associate logic for HostClaim
  go.mod
  go.sum
  pkg/hostclaim/hostclaim_manager.go
  pkg/hostclaim/hostclaim_manager_test.go
  pkg/hostclaim/requeue_error.go
  pkg/hostclaim/requeue_error_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add scheduled github worklow job for Fuzzing
  .github/workflows/scheduled-fuzz.yml
  Makefile
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Skip cleaning when host is being deleted
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_controller_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

:seedling: Add unit tests for getDiskType, getStorageDetails, getCPUDetails, getSystemVendorDetails
  pkg/provisioner/ironic/hardwaredetails/hardwaredetails_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Set manager TLS default back to unset
  config/base/manager.yaml
  config/render/capm3.yaml
Due: gosec, gomod, unit, generate, manifestlint

Update logic for HostClaims
  internal/testutil/common.go
  pkg/hostclaim/hostclaim_manager.go
  pkg/hostclaim/hostclaim_manager_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add image server management commands to vbmctl
  hack/ci-e2e.sh
  hack/clean-e2e.sh
  test/go.mod
  test/vbmctl/README.md
  test/vbmctl/cmd/vbmctl/main.go
  test/vbmctl/pkg/api/types.go
  test/vbmctl/pkg/config/config.go
  test/vbmctl/pkg/config/config_test.go
  test/vbmctl/pkg/containers/doc.go
  test/vbmctl/pkg/containers/docker.go
  test/vbmctl/pkg/containers/imageserver.go
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Add webhook readiness check before starting manager
  main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add BMC emulator container management support to vbmctl
  hack/ci-e2e.sh
  hack/clean-e2e.sh
  test/vbmctl/README.md
  test/vbmctl/cmd/vbmctl/main.go
  test/vbmctl/pkg/api/types.go
  test/vbmctl/pkg/config/config.go
  test/vbmctl/pkg/config/config_test.go
  test/vbmctl/pkg/containers/bmc_emulator.go
  test/vbmctl/pkg/containers/doc.go
  tools/bmh_test/vm2vbmc.sh
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Buble up of ironic provisioning states/steps to node status
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/host_state_machine.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/result.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

controller: cap BareMetalHost reconcile backoff at 30 seconds
  go.mod
  internal/controller/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Fix Healthy condition not updating from Ironic health data
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_controller_test.go
  pkg/provisioner/ironic/clients/features.go
  pkg/provisioner/ironic/clients/features_test.go
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Makefile: fix help target alignment and numeric target names
  Makefile
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Uplift CAPI to v1.13.0-rc.1
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint, test

Uplift k8s group to v0.35.4
  apis/go.mod
  apis/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint, test

Uplift otel/sdk go module to 1.43.0
  go.mod
  go.sum
Due: gosec, gomod, unit, generate, manifestlint

Uplift otel go modules to v1.43.0
  go.mod
  go.sum
Due: gosec, gomod, unit, generate, manifestlint
