Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test, build-fkas

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

golangci-lint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/ensure-golangci-lint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

govet:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/govet.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/codegen.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

build:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/build.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

Bump golang version to 1.24.13
  Dockerfile
  Makefile
  hack/fake-apiserver/Dockerfile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Deprecate v1beta1 api
  .golangci.yaml
  api/v1beta1/doc.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

⚠️ Configure CAPM3 pods to run on control-plane/infra nodes
  config/manager/manager.yaml
  docs/getting-started.md
  examples/provider-components/manager_node_affinity_patch.yaml
  examples/provider-components/manager_tolerations_patch.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint

metrics: allow scraping metrics from capm3
  config/manager/manager.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Stop using dev-env in E2E setup
  .yamlfmt
  Makefile
  hack/e2e/external.xml
  hack/e2e/fake-ipa.sh
  hack/e2e/net.xml
  hack/e2e/provisioning.xml
  hack/ensure-go.sh
  hack/ensure_kubectl.sh
  hack/ensure_yq.sh
  scripts/ci-e2e.sh
  scripts/clean-e2e.sh
  test/e2e/bmc.go
  test/e2e/cert_manager.go
  test/e2e/common.go
  test/e2e/config/bmcs-redfish-virtualmedia.yaml
  test/e2e/config/bmcs.yaml
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/bmo-deployment/overlays/release-main/ironic.env
  test/e2e/data/clean_local_bmh_test_setup.sh
  test/e2e/data/dnsmasq.env
  test/e2e/data/infrastructure-metal3/v1.12/bases/ubuntu-kubeadm-config/ubuntu-kubeadm-config.yaml
  test/e2e/data/ironic-deployment/overlays/release-latest/ironic-patch.yaml
  test/e2e/data/ironic-deployment/overlays/release-latest/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-latest/kustomization.yaml
  test/e2e/data/sushy-tools/sushy-emulator.conf
  test/e2e/e2e_suite_test.go
  test/e2e/node_reuse.go
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Remove DefaulterRemoveUnknownOrOmitableFields mutating webhook option
  config/webhook/manifests.yaml
  internal/webhooks/v1beta2/metal3cluster_webhook.go
  internal/webhooks/v1beta2/metal3clustertemplate_webhook.go
  internal/webhooks/v1beta2/metal3clustertemplate_webhook_test.go
  internal/webhooks/v1beta2/metal3data_webhook.go
  internal/webhooks/v1beta2/metal3data_webhook_test.go
  internal/webhooks/v1beta2/metal3dataclaim_webhook.go
  internal/webhooks/v1beta2/metal3dataclaim_webhook_test.go
  internal/webhooks/v1beta2/metal3datatemplate_webhook.go
  internal/webhooks/v1beta2/metal3datatemplate_webhook_test.go
  internal/webhooks/v1beta2/metal3machine_webhook.go
  internal/webhooks/v1beta2/metal3machine_webhook_test.go
  internal/webhooks/v1beta2/metal3machinetemplate_webhook.go
  internal/webhooks/v1beta2/metal3machinetemplate_webhook_test.go
  internal/webhooks/v1beta2/metal3remediation_webhook.go
  internal/webhooks/v1beta2/metal3remediationtemplate_webhook.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Bump IPAM v1.12.2 and BMO patch release v0.12.2
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

Cleanup and refactoring
  test/e2e/common.go
  test/e2e/e2e_suite_test.go
  test/e2e/healthcheck.go
  test/e2e/helm_helper.go
  test/e2e/inspection.go
  test/e2e/integration_test.go
  test/e2e/ip_reuse.go
  test/e2e/node_deletion_remediation.go
  test/e2e/node_reuse.go
  test/e2e/pivoting.go
  test/e2e/pivoting_based_feature_test.go
  test/e2e/remediation.go
  test/e2e/remediation_based_feature_test.go
  test/e2e/upgrade_kubernetes_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Bump IPAM v1.11.5 and BMO v0.11.5 patch release
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

:rocket: Release v1.12.2
  releasenotes/v1.12.2.md
Due: markdownlint

:rocket: Release v1.11.5
  releasenotes/v1.11.5.md
Due: markdownlint

Fix link for machine deployment rolling upgrades
  docs/e2e-test.md
Due: markdownlint

Unify Kubernetes version variables in e2e tests
  docs/e2e-test.md
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/ip_reuse.go
  test/e2e/ip_reuse_test.go
  test/e2e/node_reuse.go
  test/e2e/pivoting_based_feature_test.go
  test/e2e/remediation_based_feature_test.go
  test/e2e/upgrade_kubernetes_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build

fix reapprover workflow
  .github/workflows/pr-gh-workflow-approve.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Unify K8s version variables with consistent naming pattern
  docs/e2e-test.md
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/ip_reuse.go
  test/e2e/ip_reuse_test.go
  test/e2e/node_reuse.go
  test/e2e/pivoting_based_feature_test.go
  test/e2e/remediation_based_feature_test.go
  test/e2e/upgrade_kubernetes_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build

Don't set BMC Secret label until BMH claimed
  baremetal/metal3machine_manager.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Remove deprecated FROM_K8S_VERSION backward compatibility
  scripts/environment.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

Bump opentelemetry.io/otel/sdk to v1.40.0
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test, build-fkas

Fix k8s version for pivoting(node-reuse) test
  docs/e2e-test.md
  test/e2e/config/e2e_conf.yaml
  test/e2e/node_reuse.go
  test/e2e/pivoting_based_feature_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint, build

add SECURITY_INSIGHTS.yml
  .github/workflows/validate-security-insights.yml
  SECURITY_INSIGHTS.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Restore TLSdefault to no configuration and make TLS 1.3 hardening a kustomization applied in tests
  config/manager/manager.yaml
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/bmo-deployment/overlays/pr-test/kustomization.yaml
  test/e2e/data/bmo-deployment/overlays/release-main/kustomization.yaml
  test/e2e/data/infrastructure-metal3/overlays/main/kustomization.yaml
  test/e2e/data/infrastructure-metal3/overlays/release-1.11/kustomization.yaml
  test/e2e/data/infrastructure-metal3/overlays/release-1.12/kustomization.yaml
  test/e2e/data/ipamprovider-metal3/overlays/main/kustomization.yaml
  test/e2e/data/ipamprovider-metal3/overlays/release-1.11/kustomization.yaml
  test/e2e/data/ipamprovider-metal3/overlays/release-1.12/kustomization.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Remove NoCloudProvider from v1beta2
  api/v1beta1/conversion.go
  api/v1beta1/conversion_test.go
  api/v1beta1/zz_generated.conversion.go
  api/v1beta2/metal3cluster_types.go
  api/v1beta2/zz_generated.deepcopy.go
  baremetal/metal3machine_manager.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3clusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3clustertemplates.yaml
  controllers/metal3cluster_controller.go
  controllers/suite_test.go
  internal/webhooks/v1beta2/metal3cluster_webhook.go
  internal/webhooks/v1beta2/metal3cluster_webhook_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

remove TemplateReference from v1beta2
  api/v1beta1/conversion_test.go
  api/v1beta1/zz_generated.conversion.go
  api/v1beta2/metal3data_types.go
  api/v1beta2/metal3datatemplate_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datas.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datatemplates.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

Make node-reuse more deterministic
  api/v1beta2/metal3machine_types.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  baremetal/mocks/zz_generated.metal3machine_manager.go
  config/rbac/role.yaml
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_test.go
  main.go
  test/e2e/node_reuse.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

Update providerID documentation and add legacy format deprecation notice
  api/v1beta1/metal3machine_types.go
  api/v1beta2/metal3machine_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machinetemplates.yaml
  docs/api.md
  docs/architecture.md
  docs/deployment_workflow.md
  docs/getting-started.md
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint, build, build-fkas

:seedling: Bump golang to v1.25
  Dockerfile
  Makefile
  api/go.mod
  go.mod
  hack/build.sh
  hack/codegen.sh
  hack/ensure-go.sh
  hack/ensure-golangci-lint.sh
  hack/fake-apiserver/Dockerfile
  hack/gomod.sh
  hack/unit.sh
  test/go.mod
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

:seedling: Bump osv-scanner to v2.3.3
  hack/verify-release.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, test

CAPI v1beta2 contract
  Makefile
  api/v1beta1/conversion.go
  api/v1beta1/conversion_test.go
  api/v1beta1/zz_generated.conversion.go
  api/v1beta2/common_types.go
  api/v1beta2/metal3cluster_types.go
  api/v1beta2/metal3clustertemplate_types.go
  api/v1beta2/metal3machine_types.go
  api/v1beta2/metal3machinetemplate_types.go
  api/v1beta2/zz_generated.deepcopy.go
  baremetal/metal3cluster_manager.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  baremetal/utils_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3clusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3clustertemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machinetemplates.yaml
  config/crd/kustomization.yaml
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_integration_test.go
  metadata.yaml
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/shared/infrastructure-metal3/main/metadata.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

:seedling: Bump osv-scanner to v2.3.3
  .github/workflows/golangci-lint.yml
  hack/verify-release.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, test

:seedling: Fix new lint finding from golangci-lint v2.10.1
  hack/fake-apiserver/cmd/metal3-fkas-reconciler/main.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, test, build-fkas

Bump golang for image build to v1.25.7
  Dockerfile
  Makefile
  hack/ensure-go.sh
  hack/fake-apiserver/Dockerfile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Path conditions:
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  unit: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  build: (any of: ^api|^test|^Makefile$) or (any of: ^api|^test|^Makefile$|^hack/build.sh$)
  test: any of: ^(Makefile|hack/.*)$
  build-fkas: any of: ^hack/fake-apiserver|^api|^Makefile$|^hack/build.sh$
