Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  golint: any of: \.go$
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$

✨ Add per-host OCI registry authentication for provisioning images
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  go.mod
  go.sum
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/image_auth_validator.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
  pkg/secretutils/dockerconfig.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

✅ Add tests for per-host OCI registry authentication
  internal/controller/metal3.io/image_auth_validator_test.go
  pkg/secretutils/dockerconfig_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Document authSecretName field for OCI image authentication
  docs/api.md
Due: markdownlint

enable container signing
  .github/workflows/build-images-action.yml
  .github/workflows/release.yaml
Due: gosec, gomod, unit, generate, manifestlint

E2E: Fix race condition in upgrade tests
  test/e2e/common.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Abort inspection/cleaning before powering off during deletion
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/host_state_machine_test.go
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/power_test.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add explanation to run verify-release.sh script to releasing.md
  docs/releasing.md
Due: markdownlint

add yaml tags to ContainerImage for proper config parsing
  test/e2e/e2e_config.go
  test/e2e/e2e_suite_test.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add unit tests to SecretManager
  pkg/secretutils/label_test.go
  pkg/secretutils/secret_manager_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

lint: allow long lines in tables and code fences
  .markdownlint-cli2.yaml
  CONTRIBUTING.md
Due: gosec, gomod, markdownlint, unit, generate, manifestlint

add AGENTS.md
  .gitignore
  AGENTS.md
  CLAUDE.md
Due: gosec, gomod, markdownlint, unit, generate, manifestlint

WIP: retry reconcile loop after patching
  test/e2e/common.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add image SBOM attestation to image builds
  .github/workflows/build-images-action.yml
  .github/workflows/release.yaml
Due: gosec, gomod, unit, generate, manifestlint

:rocket: Release v0.12.0-rc.0
  releasenotes/v0.12.0-rc.0.md
Due: markdownlint

Allow enabling ExternallyProvisioned for available hosts
  .golangci.yaml
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  docs/baremetalhost-states.md
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation_test.go
  test/e2e/externally_provisioned_test.go
Due: gofmt, gosec, gomod, markdownlint, unit, generate, golint, manifestlint

Auto-generate API documentation from CRDs
  Makefile
  README.md
  docs/api-overview.md
  docs/api.md
  hack/gen-api-doc.sh
  hack/markdownlint.sh
Due: gosec, gomod, markdownlint, shellcheck, unit, generate, manifestlint, test

update dependabot config for release-0.12
  .github/dependabot.yml
Due: gosec, gomod, unit, generate, manifestlint

HostClaim custom resources
  PROJECT
  apis/metal3.io/v1alpha1/hostclaim_types.go
  apis/metal3.io/v1alpha1/hostdeploypolicy_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_hostclaims.yaml
  config/base/crds/bases/metal3.io_hostdeploypolicies.yaml
  config/base/crds/kustomization.yaml
  config/base/crds/patches/cainjection_in_hostclaims.yaml
  config/base/crds/patches/cainjection_in_hostdeploypolicies.yaml
  config/base/crds/patches/webhook_in_hostclaims.yaml
  config/base/crds/patches/webhook_in_hostdeploypolicies.yaml
  config/base/rbac/hostclaim_editor_role.yaml
  config/base/rbac/hostclaim_viewer_role.yaml
  config/base/rbac/hostdeploypolicy_editor_role.yaml
  config/base/rbac/hostdeploypolicy_viewer_role.yaml
  config/base/rbac/role.yaml
  config/render/capm3.yaml
  config/samples/metal3.io_v1alpha1_hostclaim.yaml
  config/samples/metal3.io_v1alpha1_hostdeploypolicy.yaml
  internal/controller/metal3.io/hostclaim_controller.go
  main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add dependabot config for release 0.12 branch
  .github/dependabot.yml
Due: gosec, gomod, unit, generate, manifestlint

Require PreprovisioningImage for deprovisioning when cleaning is enabled
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_controller_test.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/register_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Uplift CAPI to v1.12.0
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint, test

Add periodic test for release-1.12
  .github/workflows/e2e-test-periodic-release-0.12.yml
Due: gosec, gomod, unit, generate, manifestlint

:rocket: Release v0.11.3
  releasenotes/v0.11.3.md
Due: markdownlint

:rocket: Release v0.10.6
  releasenotes/v0.10.6.md
Due: markdownlint

Uplift gomega to v1.38.3
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint

Adds overlays for release v0.12
  config/overlays/e2e-release-0.12/ironic.env
  config/overlays/e2e-release-0.12/kustomization.yaml
  config/overlays/fixture-release-0.12/kustomization.yaml
  hack/ci-e2e.sh
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-32.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-33.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/kustomization.yaml
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Improve behavior on deletion of BMH with unreachable BMC in verifying state
  pkg/provisioner/ironic/delete_test.go
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

:rocket: Release v0.12.0
  releasenotes/v0.12.0.md
Due: markdownlint

Clean up sushy-tools config
  test/e2e/sushy-tools/sushy-emulator.conf
Due: gosec, gomod, unit, generate, manifestlint

E2E: Use UEFI
  test/e2e/automated_cleaning_test.go
  test/e2e/basic_ops_test.go
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/external_inspection_test.go
  test/e2e/externally_provisioned_test.go
  test/e2e/inspection_test.go
  test/e2e/live_iso_test.go
  test/e2e/provisioning_and_annotation_test.go
  test/e2e/re_inspection_test.go
  test/e2e/upgrade_test.go
  test/vbmctl/templates/VM.xml.tpl
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2E: Cleanup libvit DHCP config
  hack/e2e/net.xml
  test/e2e/common.go
  test/e2e/config/fixture.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint, test

Refactor: move HardwareDetails type to HardwareData
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/hardwaredata_types.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/base/crds/bases/metal3.io_hardwaredata.yaml
  config/render/capm3.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Sync automated_clean before deprovisioning
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/host_state_machine_test.go
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/provision_test.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Fix errors.As usage for NoDataInSecretError
  internal/controller/metal3.io/host_config_data.go
  internal/controller/metal3.io/host_config_data_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

pin ironic version to release-33.0
  ironic-deployment/base/ironic.yaml
Due: gosec, gomod, unit, generate, manifestlint
