Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build

Path conditions:
  gomod: unless all of: (((^|/)OWNERS)|(\.md))$
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: \.md$
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$
  build: any of: ^api|^test|^Makefile$

fix too tight file permissions in e2e
  test/e2e/common.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

remove hack/gosec.sh
  hack/gosec.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

fix releasing.md on annotated tags
  docs/releasing.md
Due: markdownlint

Uplift ipam to v1.3.4
  api/go.mod
  api/go.sum
  config/ipam/image_patch.yaml
  config/ipam/kustomization.yaml
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Added prior art links to relase documentation.
  docs/releasing.md
Due: markdownlint

Add FailureDomain to M3Cluster and Machine
  api/v1alpha5/zz_generated.conversion.go
  api/v1beta1/metal3cluster_types.go
  api/v1beta1/metal3machine_types.go
  api/v1beta1/zz_generated.deepcopy.go
  baremetal/metal3machine_manager.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3clusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machinetemplates.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Remove v1alpha5 generated code & lint
  api/v1alpha5/zz_generated.conversion.go
  baremetal/metal3machine_manager.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Rebased & Generated
  api/v1alpha5/zz_generated.conversion.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Bumping CAPI to 1.5.2
  Dockerfile
  Makefile
  README.md
  Tiltfile
  api/go.mod
  api/go.sum
  examples/generate.sh
  go.mod
  go.sum
  test/e2e/config/e2e_conf.yaml
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build

Bumping CAPI to 1.4.7
  Dockerfile
  README.md
  Tiltfile
  api/go.mod
  api/go.sum
  examples/generate.sh
  go.mod
  hack/gen_tilt_settings.sh
  test/e2e/config/e2e_conf.yaml
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build

clarify module tag usage
  docs/releasing.md
Due: markdownlint

Add conversion for m3m spec
  api/v1alpha5/conversion.go
  api/v1alpha5/zz_generated.conversion.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Uplift ipam to v1.4.3
  api/go.mod
  api/go.sum
  config/ipam/image_patch.yaml
  config/ipam/kustomization.yaml
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Uplift ipam to v1.5.1
  api/go.mod
  api/go.sum
  config/ipam/image_patch.yaml
  config/ipam/kustomization.yaml
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

update contributing.md
  CONTRIBUTING.md
Due: markdownlint

Bump capi/test module to v1.5.2
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Bump capi/test module to v1.4.7
  go.mod
  go.sum
  test/go.mod
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

fix typo in release note generator
  hack/tools/release/notes.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Add bond hash policy
  api/v1alpha5/conversion.go
  api/v1alpha5/zz_generated.conversion.go
  api/v1beta1/metal3datatemplate_types.go
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datatemplates.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

bump IPAM to 1.5.1
  api/go.mod
  api/go.sum
  config/ipam/image_patch.yaml
  config/ipam/kustomization.yaml
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

add hack/verify-release.sh script
  docs/releasing.md
  hack/verify-release.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint

add hack/verify-release.sh
  hack/verify-release.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

Add healthcheck e2e test
  test/e2e/common.go
  test/e2e/healthcheck_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

fix module printout in hack/verify-release.sh
  hack/verify-release.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

Fix one BMH associating to multiple M3Ms
  main.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

IP reuse: Fix M3d/IPClaim deletion bug
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

use GLOBIGNORE to ignore hack/tools/go.mod
  hack/verify-release.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

Configurable go executable
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Refactoring of the pre-existing m3remediation tests and modifying the healthcheck test to fit the pattern of existing tests
  test/e2e/common.go
  test/e2e/healthcheck_test.go
  test/e2e/healthchek.go
  test/e2e/node_deletion_remediation.go
  test/e2e/remediation_based_feature_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Fix the "Could not find node with label" error message
  baremetal/metal3machine_manager.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint
