Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, golint, govet, markdownlint, shellcheck, generate, unit, manifestlint

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

golint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/golint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

govet:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/govet.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:latest
      imagePullPolicy: Always

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:stable
      imagePullPolicy: Always

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/codegen.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/garethr/kubeval:latest
      imagePullPolicy: Always

manifestlint: move from kubeval to kubeconform
  hack/manifestlint.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Uplift CAPI to https://github.com/kubernetes-sigs/cluster-api/releases/tag/v1.2.9
  README.md
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: gofmt, golint, govet, markdownlint, generate, unit, manifestlint

pin golang to 1.19.4 with digest
  Dockerfile
Due: gofmt, golint, govet, generate, unit, manifestlint

use docker.io consistently, and pin more checks
  hack/gomod.sh
  hack/gosec.sh
  hack/markdownlint.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

E2e: Ensure package is buildable without test code
  .gitignore
  Makefile
  hack/build.sh
  test/e2e/integration.go
  test/e2e/live_iso_test.go
  test/e2e/pivoting.go
  test/e2e/pivoting_based_feature_test.go
  test/e2e/upgrade_management_cluster_test.go
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

add explicit securitycontexts to controller
  Tiltfile
  config/manager/manager.yaml
  hack/tools/remove_sec_ctx.py
Due: gofmt, golint, govet, generate, unit, manifestlint

Use ginkgo binary instead of go test in e2e
  Makefile
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Fix logging ipclaim error msg
  baremetal/metal3data_manager.go
Due: gofmt, golint, govet, generate, unit, manifestlint

adding cleanup code for upgrade management cluster test
  test/e2e/upgrade_management_cluster_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

hardcoding ginkgo seed to create same sequence of test
  Makefile
  test/e2e/upgrade_management_cluster_test.go
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Clean var env after mngmt upgrade and reapply bmh
  test/e2e/config/e2e_conf.yaml
  test/e2e/upgrade_management_cluster_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

hack: update ensure-kind.sh
  hack/ensure-kind.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Add e2e-integration tests to README
  README.md
Due: markdownlint

kubesec: update codeql-action to v2
  .github/workflows/kubesec.yml
Due: gofmt, golint, govet, generate, unit, manifestlint

Add tuminoid as a reviewer
  OWNERS
Due: none

E2e: Support running Ironic with MariaDB
  test/e2e/cert_rotation.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/pivoting.go
  test/e2e/upgrade_ironic.go
  test/e2e/upgrade_management_cluster_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Add integration test triggers to the README
  README.md
Due: markdownlint

Fix cleanup process during keep trigger
  test/e2e/live_iso_test.go
  test/e2e/pivoting_based_feature_test.go
  test/e2e/remediation_based_feature_test.go
  test/e2e/upgrade_kubernetes_test.go
  test/e2e/upgrade_management_cluster_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Add trigger phases for keeping vm for e2e jobs
  README.md
Due: markdownlint

Bump CAPI to v1.3.3
  README.md
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gofmt, golint, govet, markdownlint, generate, unit, manifestlint

Uplift golang image tag
  Dockerfile
Due: gofmt, golint, govet, generate, unit, manifestlint

Bump CAPI to v1.2.10
  README.md
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: gofmt, golint, govet, markdownlint, generate, unit, manifestlint

bump kustomize to 4.5.7
  hack/tools/go.mod
  hack/tools/go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Update Dockerfile to build image on top off golang v1.18.10
  Dockerfile
Due: gofmt, golint, govet, generate, unit, manifestlint

Bump Dockerfile golang image tag to v1.19.5
  Dockerfile
Due: gofmt, golint, govet, generate, unit, manifestlint

Update README file to add keep VM trigger
  README.md
Due: markdownlint

hack: gomod needs to verify all go.mod files
  hack/gomod.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Add mboukhalfa as an approver
  OWNERS
Due: none

hack: gomod needs to verify all go.mod files
  hack/gomod.sh
  hack/tools/go.mod
  hack/tools/go.sum
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

update user-guide url
  SECURITY_CONTACTS
Due: gofmt, golint, govet, generate, unit, manifestlint

uplift golang and x/net
  Dockerfile
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Removing bmhID arg from SetNodeProviderID
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  baremetal/mocks/zz_generated.metal3machine_manager.go
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Revert "🐛 Remove bmhID arg from SetNodeProviderID call"
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  baremetal/mocks/zz_generated.metal3machine_manager.go
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Reverts https://github.com/metal3-io/cluster-api-provider-metal3/pull/758
  Makefile
  hack/fetch_ext_bins.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Run the go tests in APIS_DIR with single command in make unit Makefile target
  Makefile
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Path conditions:
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  golint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: \.md$
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$
