Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/generate.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

golint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/golint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

test:
  decorate: true
  spec:
    containers:
    - args:
      - test
      command:
      - make
      image: quay.io/metal3-io/basic-checks:golang-1.22
      imagePullPolicy: Always

E2E: Override IRONIC_HTTP_URL
  .github/workflows/pipeline.yml
  ironic-deployment/overlays/e2e-release-24.1/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-25.0/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-26.0/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e/ironic_bmo_configmap.env
  test/e2e/README.md
Due: gosec, gomod, markdownlint, unit, generate, manifestlint

Update badges and e2e triggers in README.md
  README.md
Due: markdownlint

Add e2e tests for release 0.10 and remove 0.6
  .github/workflows/e2e-test-periodic-release-0.10.yml
  config/overlays/e2e-release-0.10/ironic.env
  config/overlays/e2e-release-0.10/kustomization.yaml
  config/overlays/fixture-release-0.10/kustomization.yaml
  hack/ci-e2e.sh
  ironic-deployment/overlays/e2e-release-27.0/ironic-patch.yaml
  ironic-deployment/overlays/e2e-release-27.0/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-27.0/kustomization.yaml
  ironic-deployment/overlays/e2e-release-28.0/ironic-patch.yaml
  ironic-deployment/overlays/e2e-release-28.0/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-28.0/kustomization.yaml
  ironic-deployment/overlays/e2e-release-29.0/ironic-patch.yaml
  ironic-deployment/overlays/e2e-release-29.0/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-29.0/kustomization.yaml
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Allow disabling drivers that require a provisioning network
  docs/configuration.md
  pkg/provisioner/ironic/factory.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/register.go
  pkg/provisioner/ironic/register_test.go
Due: gofmt, gosec, gomod, markdownlint, unit, generate, golint, manifestlint

Enabled forbidigo linter
  .golangci.yaml
  cmd/get-hardware-details/main.go
  cmd/make-virt-host/main.go
  hack/tools/deploy-cli/deploy-cli.go
  test/e2e/common.go
  test/e2e/e2e_suite_test.go
  test/vbmctl/main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint, test

Enable forcetypeassert linter
  .golangci.yaml
  internal/controller/metal3.io/baremetalhost_controller_test.go
  internal/controller/metal3.io/bmceventsubscription_controller_test.go
  internal/controller/metal3.io/demo_test.go
  internal/controller/metal3.io/host_state_machine_test.go
  pkg/provisioner/ironic/capabilities.go
  pkg/provisioner/ironic/clients/updateopts_test.go
  pkg/provisioner/ironic/provision_test.go
  pkg/provisioner/ironic/register_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

make BMO periodics manually triggerable
  .github/workflows/e2e-test-optional-periodic.yml
  .github/workflows/e2e-test-periodic-main.yml
  .github/workflows/e2e-test-periodic-release-0.10.yml
  .github/workflows/e2e-test-periodic-release-0.8.yml
  .github/workflows/e2e-test-periodic-release-0.9.yml
Due: gosec, gomod, unit, generate, manifestlint

E2E: Revert temporary pinning of Ironic
  ironic-deployment/overlays/e2e/kustomization.yaml
Due: gosec, gomod, unit, generate, manifestlint

Add e2e tests for release 0.10 and remove 0.6
  config/overlays/e2e-release-0.10/ironic.env
  config/overlays/e2e-release-0.10/kustomization.yaml
  config/overlays/fixture-release-0.10/kustomization.yaml
  hack/ci-e2e.sh
  ironic-deployment/overlays/e2e-release-27.0/ironic-patch.yaml
  ironic-deployment/overlays/e2e-release-27.0/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-27.0/kustomization.yaml
  ironic-deployment/overlays/e2e-release-28.0/ironic-patch.yaml
  ironic-deployment/overlays/e2e-release-28.0/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-28.0/kustomization.yaml
  ironic-deployment/overlays/e2e-release-29.0/ironic-patch.yaml
  ironic-deployment/overlays/e2e-release-29.0/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-29.0/kustomization.yaml
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

E2E: Temporary workaround for connection issues
  .github/workflows/pipeline.yml
  hack/ci-e2e.sh
  ironic-deployment/overlays/e2e/ironic_bmo_configmap.env
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

E2E: Override IRONIC_HTTP_URL
  .github/workflows/pipeline.yml
  ironic-deployment/overlays/e2e-release-24.0-with-inspector/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-24.1/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-with-inspector/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e/ironic_bmo_configmap.env
  test/e2e/README.md
Due: gosec, gomod, markdownlint, unit, generate, manifestlint

🌱 Bump golang to v1.24
  .golangci.yaml
  Dockerfile
  Makefile
  Tiltfile
  hack/e2e/ensure_go.sh
  hack/generate.sh
  hack/gomod.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Bump golangci-lint to v1.64.7
  .github/workflows/golangci-lint.yml
  .golangci.yaml
  Makefile
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

E2E: Fix e2e optional tests
  hack/ci-e2e.sh
  ironic-deployment/overlays/e2e-release-29.0/ironic_bmo_configmap.env
  test/e2e/config/ironic.yaml
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Add validation to e2e ugrade config
  test/e2e/e2e_config.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

replace github.com/pkg/errors with stdlib
  go.mod
  hack/tools/go.mod
  hack/tools/release/notes.go
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/bmceventsubscription_controller.go
  internal/controller/metal3.io/host_config_data.go
  internal/controller/metal3.io/host_state_machine.go
  internal/controller/metal3.io/hostfirmwaresettings_controller.go
  internal/controller/metal3.io/preprovisioningimage_controller.go
  main.go
  pkg/secretutils/secret_manager.go
  test/e2e/cert_manager.go
  test/e2e/common.go
  test/e2e/e2e_config.go
  test/go.mod
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint, test

:rocket: Release v0.10.2
  releasenotes/v0.10.2.md
Due: markdownlint

Remove webhooks from api folder, they are moved to internal/webhooks/
  apis/go.mod
  apis/go.sum
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/baremetalhost_validation.go
  apis/metal3.io/v1alpha1/baremetalhost_validation_test.go
  apis/metal3.io/v1alpha1/baremetalhost_webhook.go
  apis/metal3.io/v1alpha1/baremetalhost_webhook_test.go
  apis/metal3.io/v1alpha1/bmceventsubscription_validation.go
  apis/metal3.io/v1alpha1/bmceventsubscription_validation_test.go
  apis/metal3.io/v1alpha1/bmceventsubscription_webhook.go
  apis/metal3.io/v1alpha1/bmceventsubscription_webhook_test.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

:rocket: Release v0.9.2
  releasenotes/v0.9.2.md
Due: markdownlint

Enable exhaustive linter
  .golangci.yaml
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/host_state_machine.go
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

detach dataImage before deprovisioning
  internal/controller/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

don't wait for dataImage detachment when the host is detached and requested for deletion
  internal/controller/metal3.io/dataimage_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Use reusable link-checks and delete old link check
  .github/workflows/lint-docs.yaml
  .github/workflows/pr-link-check.yml
  .github/workflows/scheduled-link-check.yml
  .markdownlinkcheck.json
Due: gosec, gomod, unit, generate, manifestlint

bump cloudflare/circl to v1.6.1
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint

Add validation to e2e ugrade config
  test/e2e/config/ironic.yaml
  test/e2e/e2e_config.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Enable variable shadowing check in govet linter
  .golangci.yaml
  hack/tools/deploy-cli/deploy-cli.go
  hack/tools/deploy-cli/main.go
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/dataimage_controller.go
  internal/controller/metal3.io/preprovisioningimage_controller.go
  main.go
  pkg/provisioner/ironic/clients/auth.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/testserver/server.go
  test/e2e/e2e_suite_test.go
  test/e2e/provisioning_and_annotation_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint, test

bump golang to 1.24.4
  Dockerfile
  Makefile
  hack/e2e/ensure_go.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

directly skip to Deleting state for externallyProvisioned host when detached annotation is present
  internal/controller/metal3.io/host_state_machine.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Enable nilnil linter, fix warnings.
  .gitignore
  .golangci.yaml
  internal/controller/metal3.io/baremetalhost_controller.go
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add validation to e2e ugrade config
  test/e2e/e2e_config.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Bump CAPI to v1.11.0-alpha.0
  .golangci.yaml
  apis/go.mod
  go.mod
  hack/tools/go.mod
  hack/tools/go.sum
  internal/controller/metal3.io/baremetalhost_controller_test.go
  internal/controller/metal3.io/bmceventsubscription_controller_test.go
  internal/controller/metal3.io/demo_test.go
  internal/controller/metal3.io/host_config_data_test.go
  internal/controller/metal3.io/host_state_machine_test.go
  internal/controller/metal3.io/hostfirmwarecomponents_test.go
  internal/controller/metal3.io/hostfirmwaresettings_test.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_webhook_test.go
  internal/webhooks/metal3.io/v1alpha1/bmceventsubscription_webhook_test.go
  pkg/hardwareutils/go.mod
  pkg/provisioner/ironic/ironic_test.go
  test/e2e/common.go
  test/e2e/live_iso_test.go
  test/e2e/provisioning_and_annotation_test.go
  test/e2e/upgrade_test.go
  test/go.mod
  test/go.sum
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint, test

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  golint: any of: \.go$
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$
