Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test

Path conditions:
  gomod: unless all of: (((^|/)OWNERS)|(\.md))$
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$
  build: any of: ^api|^test|^Makefile$
  test: any of: ^(Makefile|hack/.*)$

added variables to clusterNetwork for cidrBlocks for services and pods in the template
  examples/clusterctl-templates/clusterctl-cluster.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

added serviceDomain to template and corrected pod variable
  examples/clusterctl-templates/clusterctl-cluster.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Configure dependabot for release-1.6 branch
  .github/dependabot.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Bump bmo to 0.6.1
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test

fix golangci-lint version comment
  .github/workflows/golangci-lint.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Add namespace directory in manifest collection
  scripts/fetch_manifests.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

bump capi to 1.6.6 in api and test folders
  README.md
  api/go.mod
  api/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint, build

Issue template for preparing new minor release in CAPM3, IPAM and BMO
  .github/ISSUE_TEMPLATE/prepare_minor_release.md
Due: markdownlint

Bump IPAM to release-1.6.3
  api/go.mod
  api/go.sum
  config/ipam/image_patch.yaml
  config/ipam/kustomization.yaml
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Bump IPAM to v1.7.1
  api/go.mod
  api/go.sum
  config/ipam/image_patch.yaml
  config/ipam/kustomization.yaml
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Bump k8s.io/* dependencies to v0.30.2
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Bump sigs.k8s.io/controller-runtime to v0.18.4
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Bump CAPI to v1.8.0 pre alpha
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Bump api and client-go versions from 0.28.9 to 0.28.11
  api/go.mod
  api/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

add openssf best practices badge to README
  README.md
Due: markdownlint

Fixing bmo version for clusterctl tests
  scripts/ci-e2e.sh
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/bmo-deployment/components/basic-auth/credentials_patch.yaml
  test/e2e/data/bmo-deployment/components/basic-auth/kustomization.yaml
  test/e2e/data/bmo-deployment/components/tls/kustomization.yaml
  test/e2e/data/bmo-deployment/components/tls/tls_ca_patch.yaml
  test/e2e/data/bmo-deployment/overlays/release-0.4/ironic.env
  test/e2e/data/bmo-deployment/overlays/release-0.4/kustomization.yaml
  test/e2e/data/bmo-deployment/overlays/release-0.5/ironic.env
  test/e2e/data/bmo-deployment/overlays/release-0.5/kustomization.yaml
  test/e2e/data/bmo-deployment/overlays/release-0.6/ironic.env
  test/e2e/data/bmo-deployment/overlays/release-0.6/kustomization.yaml
  test/e2e/data/bmo-deployment/overlays/release-latest/ironic.env
  test/e2e/data/bmo-deployment/overlays/release-latest/kustomization.yaml
  test/e2e/data/ironic-deployment/components/basic-auth/auth.yaml
  test/e2e/data/ironic-deployment/components/basic-auth/ironic-auth-config-tpl
  test/e2e/data/ironic-deployment/components/basic-auth/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/release-23.1/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-23.1/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/release-23.1/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/release-24.0/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-24.0/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/release-24.0/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/release-24.1/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-24.1/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/release-24.1/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/release-latest/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-latest/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/release-latest/kustomization.yaml
  test/e2e/upgrade_baremetal_operator.go
  test/e2e/upgrade_clusterctl_test.go
  test/e2e/upgrade_ironic.go
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Optimize the dependabot config
  .github/dependabot.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Fix issues in running local hack scripts
  hack/build.sh
  hack/codegen.sh
  hack/gomod.sh
  hack/manifestlint.sh
  hack/markdownlint.sh
  hack/shellcheck.sh
  hack/unit.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, test

make /workdir a variable in hack scripts
  hack/build.sh
  hack/codegen.sh
  hack/gomod.sh
  hack/manifestlint.sh
  hack/markdownlint.sh
  hack/shellcheck.sh
  hack/unit.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, test

Add fake apiserver
  Makefile
  hack/fake-apiserver/.gitignore
  hack/fake-apiserver/Dockerfile
  hack/fake-apiserver/README.md
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  hack/fake-apiserver/main.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test

fix the comment tag on golangci-lint action
  .github/workflows/golangci-lint.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

schedule on certain day, and add ok-to-test automatically
  .github/dependabot.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

remove KUBECTL_SHA256 passthru
  scripts/ci-e2e.sh
  scripts/environment.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

bump golang to 1.22.5
  Dockerfile
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Fix enableBMHNameBasedPreallocation label to ENABLE_BMH_NAME_BASED_PREALLOCATION
  config/manager/manager.yaml
  scripts/ci-e2e.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

Add Out-of-service taint in place of deleting the node object
  baremetal/metal3remediation_manager.go
  baremetal/mocks/zz_generated.metal3remediation_manager.go
  config/rbac/role.yaml
  controllers/metal3remediation_controller.go
  controllers/metal3remediation_controller_test.go
  main.go
  test/e2e/common.go
  test/e2e/node_deletion_remediation.go
  test/e2e/remediation_based_feature_test.go
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Fixing bmo version for clusterctl tests
  scripts/ci-e2e.sh
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/bmo-deployment/components/basic-auth/credentials_patch.yaml
  test/e2e/data/bmo-deployment/components/basic-auth/kustomization.yaml
  test/e2e/data/bmo-deployment/components/tls/kustomization.yaml
  test/e2e/data/bmo-deployment/components/tls/tls_ca_patch.yaml
  test/e2e/data/bmo-deployment/overlays/release-0.4/ironic.env
  test/e2e/data/bmo-deployment/overlays/release-0.4/kustomization.yaml
  test/e2e/data/bmo-deployment/overlays/release-0.5/ironic.env
  test/e2e/data/bmo-deployment/overlays/release-0.5/kustomization.yaml
  test/e2e/data/bmo-deployment/overlays/release-0.6/ironic.env
  test/e2e/data/bmo-deployment/overlays/release-0.6/kustomization.yaml
  test/e2e/data/ironic-deployment/components/basic-auth/auth.yaml
  test/e2e/data/ironic-deployment/components/basic-auth/ironic-auth-config-tpl
  test/e2e/data/ironic-deployment/components/basic-auth/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/release-23.1/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-23.1/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/release-23.1/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/release-24.0/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-24.0/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/release-24.0/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/release-24.1/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-24.1/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/release-24.1/kustomization.yaml
  test/e2e/upgrade_baremetal_operator.go
  test/e2e/upgrade_clusterctl_test.go
  test/e2e/upgrade_ironic.go
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Bump CAPI to v1.6.7
  README.md
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint, build

Bump CAPI to v1.7.4
  README.md
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint, build

Update triggers for feature tests
  README.md
Due: markdownlint

Fixing bmo and ironic version for clusterctl tests
  scripts/ci-e2e.sh
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/bmo-deployment/components/basic-auth/credentials_patch.yaml
  test/e2e/data/bmo-deployment/components/basic-auth/kustomization.yaml
  test/e2e/data/bmo-deployment/components/tls/kustomization.yaml
  test/e2e/data/bmo-deployment/components/tls/tls_ca_patch.yaml
  test/e2e/data/bmo-deployment/overlays/release-0.5/ironic.env
  test/e2e/data/bmo-deployment/overlays/release-0.5/kustomization.yaml
  test/e2e/data/ironic-deployment/components/basic-auth/auth.yaml
  test/e2e/data/ironic-deployment/components/basic-auth/ironic-auth-config-tpl
  test/e2e/data/ironic-deployment/components/basic-auth/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/release-23.1/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-23.1/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/release-23.1/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/release-24.0/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-24.0/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/release-24.0/kustomization.yaml
  test/e2e/upgrade_baremetal_operator.go
  test/e2e/upgrade_clusterctl_test.go
  test/e2e/upgrade_ironic.go
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Bump golang to v1.22
  Dockerfile
  Makefile
  Tiltfile
  api/go.mod
  go.mod
  go.sum
  hack/build.sh
  hack/codegen.sh
  hack/gomod.sh
  hack/tools/go.mod
  hack/unit.sh
  test/go.mod
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Bump CAPI to v1.8.0-beta.1
  README.md
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/e2e/common.go
  test/e2e/upgrade_clusterctl_test.go
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint, build

Bump golang to 1.22
  .github/workflows/release.yaml
  .golangci.yaml
  Dockerfile
  Makefile
  Tiltfile
  controllers/metal3data_controller_test.go
  controllers/metal3datatemplate_controller_test.go
  hack/build.sh
  hack/codegen.sh
  hack/ensure-go.sh
  hack/gofmt.sh
  hack/gomod.sh
  hack/govet.sh
  hack/unit.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test
