Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  golint: any of: \.go$
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$

e2e: avoid non-string values in the HFS tests
  test/e2e/firmware_settings_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

e2e: make sushy-tools image customizable
  hack/ci-e2e.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Migrate to go-plugin system for provisioners
  .github/workflows/plugin-test.yml
  .github/workflows/unit.yml
  Dockerfile
  Dockerfile.plugin-test
  Makefile
  README.md
  cmd/plugin-load-test/main.go
  config/overlays/fixture/kustomization.yaml
  docs/dev-setup.md
  docs/plugin-provisioners.md
  hack/plugin-test/patcher/main.go
  main.go
  pkg/provisioner/demo/plugin/main.go
  pkg/provisioner/ironic/plugin/main.go
  pkg/provisioner/plugin.go
  pkg/provisioner/plugin_test.go
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Validation webhook for hostclaims
  Makefile
  PROJECT
  config/base/webhook/manifests.yaml
  config/render/capm3.yaml
  internal/webhooks/metal3.io/v1alpha1/hostclaim_validation.go
  internal/webhooks/metal3.io/v1alpha1/hostclaim_validation_test.go
  internal/webhooks/metal3.io/v1alpha1/hostclaim_webhook.go
  internal/webhooks/metal3.io/v1alpha1/hostclaim_webhook_test.go
  main.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

Skip webhook for metadata-only BMH updates via matchConditions
  config/base/webhook/kustomization.yaml
  config/base/webhook/matchconditions_patch.yaml
  config/render/capm3.yaml
Due: gosec, gomod, unit, generate, manifestlint

Add BareMetalSwitch CRD and controller for switch config generation
  apis/metal3.io/v1alpha1/baremetalswitch_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalswitches.yaml
  config/base/crds/kustomization.yaml
  config/base/rbac/role.yaml
  config/overlays/e2e/baremetalswitch/kustomization.yaml
  config/overlays/e2e/baremetalswitch/namespace.yaml
  config/overlays/e2e/ironic.env
  config/overlays/e2e/kustomization.yaml
  config/overlays/e2e/namespaced-manager-patch.yaml
  config/overlays/e2e/roles-rolebindings/roles-rolebindings.yaml
  config/overlays/fixture/kustomization.yaml
  config/render/capm3.yaml
  config/samples/baremetalswitch_sample.yaml
  docs/api.md
  internal/controller/metal3.io/baremetalswitch_config.go
  internal/controller/metal3.io/baremetalswitch_config_test.go
  internal/controller/metal3.io/baremetalswitch_controller.go
  main.go
  test/e2e/baremetalswitch_test.go
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
Due: gofmt, gosec, gomod, markdownlint, unit, generate, golint, manifestlint

Centralize BMH cleanup in AfterEach via Cleanup function
  test/e2e/automated_cleaning_test.go
  test/e2e/basic_ops_test.go
  test/e2e/common.go
  test/e2e/external_inspection_test.go
  test/e2e/externally_provisioned_test.go
  test/e2e/firmware_settings_test.go
  test/e2e/forced_detachment_test.go
  test/e2e/inspection_test.go
  test/e2e/live_iso_test.go
  test/e2e/provisioning_and_annotation_test.go
  test/e2e/re_inspection_test.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Replace deprecated k8s.io/utils/pointer with k8s.io/utils/ptr
  test/e2e/basic_ops_test.go
  test/e2e/live_iso_test.go
  test/e2e/re_inspection_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Fix HFS setCondition ignoring ObservedGeneration changes
  internal/controller/metal3.io/hostfirmwaresettings_controller.go
  internal/controller/metal3.io/hostfirmwaresettings_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Handle generation mismatch in servicing error recovery
  internal/controller/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Harden servicing abort fast-path and add tests
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_controller_test.go
  test/e2e/firmware_settings_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add container networking to vbmctl and add tests
  hack/ci-e2e.sh
  test/e2e/config/vbmctl.yaml
  test/go.mod
  test/vbmctl/cmd/vbmctl/main.go
  test/vbmctl/pkg/api/types.go
  test/vbmctl/pkg/config/config.go
  test/vbmctl/pkg/config/config_test.go
  test/vbmctl/pkg/containers/doc.go
  test/vbmctl/pkg/containers/docker.go
  test/vbmctl/pkg/containers/kindnetwork.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

:book: remove duplicate "the" in e2e README
  test/e2e/README.md
Due: markdownlint

Correct webhook admissionReview version
  config/base/webhook/manifests.yaml
  config/render/capm3.yaml
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_webhook.go
  internal/webhooks/metal3.io/v1alpha1/bmceventsubscription_webhook.go
  internal/webhooks/metal3.io/v1alpha1/hostclaim_webhook.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Eliminate sushy-tools configuration file
  hack/ci-e2e.sh
  test/e2e/sushy-tools/sushy-emulator.conf
  test/vbmctl/cmd/vbmctl/main.go
  test/vbmctl/pkg/api/types.go
  test/vbmctl/pkg/config/config.go
  test/vbmctl/pkg/config/config_test.go
  test/vbmctl/pkg/containers/bmc_emulator.go
  test/vbmctl/pkg/containers/doc.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

Split vbmctl main.go into separate files
  test/vbmctl/cmd/vbmctl/common.go
  test/vbmctl/cmd/vbmctl/config.go
  test/vbmctl/cmd/vbmctl/create.go
  test/vbmctl/cmd/vbmctl/delete.go
  test/vbmctl/cmd/vbmctl/main.go
  test/vbmctl/cmd/vbmctl/status.go
  test/vbmctl/cmd/vbmctl/version.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Drive e2e setup via vbmctl config template
  .gitignore
  hack/ci-e2e.sh
  test/e2e/config/vbmctl.yaml.tmpl
  test/vbmctl/pkg/config/config.go
  test/vbmctl/pkg/config/config_test.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

e2e tests bios firmware upgrade
  config/overlays/e2e/firmware-components/kustomization.yaml
  config/overlays/e2e/firmware-components/namespace.yaml
  config/overlays/e2e/kustomization.yaml
  config/overlays/e2e/namespaced-manager-patch.yaml
  test/e2e/config/ironic.yaml
  test/e2e/firmware_components_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Update logic for HostClaims
  internal/testutil/common.go
  pkg/hostclaim/hostclaim_manager.go
  pkg/hostclaim/hostclaim_manager_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Handling propagation of Detached Annotation
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/hostdeploypolicy_types.go
  config/base/crds/bases/metal3.io_hostdeploypolicies.yaml
  config/render/capm3.yaml
  internal/testutil/common.go
  pkg/hostclaim/hostclaim_manager.go
  pkg/hostclaim/hostclaim_manager_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Remove namespace from secretReferences
  apis/metal3.io/v1alpha1/hostclaim_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_hostclaims.yaml
  config/render/capm3.yaml
  internal/testutil/common.go
  pkg/hostclaim/hostclaim_manager.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add e2e test on PreprovisioningNetworkData
  config/overlays/e2e/kustomization.yaml
  config/overlays/e2e/namespaced-manager-patch.yaml
  config/overlays/e2e/pp-network-data/kustomization.yaml
  config/overlays/e2e/pp-network-data/namespace.yaml
  test/e2e/preprovisioning_network_data_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Allow exiting the externally provisioned state
  internal/controller/metal3.io/baremetalhost_controller_test.go
  internal/controller/metal3.io/host_state_machine.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation_test.go
  test/e2e/externally_provisioned_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

e2e: servicing of externally provisioned hosts
  test/e2e/firmware_settings_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Trivial: fix duplicate BMH name in e2e tests
  test/e2e/externally_provisioned_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Experiment: cache ironicNode
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Split BMO and Ironic upgrade tests
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/e2e_config.go
  test/e2e/upgrade_bmo_test.go
  test/e2e/upgrade_common_test.go
  test/e2e/upgrade_ironic_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Use hard reboot in firmware settings test
  test/e2e/firmware_settings_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Fix preprovisioning network Secret lifecycle during BMH deletion
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/host_config_data.go
  internal/controller/metal3.io/host_config_data_test.go
  pkg/secretutils/secret_manager.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Use hard reboot in the new servicing tests
  test/e2e/firmware_settings_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fix: missing isRootVolume attribute for software raid
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation.go
  pkg/provisioner/ironic/raid.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add: unit tests for validations
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_webhook_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fix: address the copilot comments
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation.go
  pkg/provisioner/ironic/raid.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fix: add rootVol field to hardware raid
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_webhook_test.go
  pkg/provisioner/ironic/raid.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fix: apply comments which removes rootVolume option from hardware raid
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_webhook_test.go
  pkg/provisioner/ironic/raid.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fix: delete port if uuid does not match and recreate
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fix: create ports if they are already inspected and machine is re-registering
  internal/controller/metal3.io/baremetalhost_controller.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/register.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fix: copilot findings
  pkg/provisioner/ironic/ironic.go
  test/e2e/common.go
  test/e2e/inspection_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

update: improving port creation process
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/register.go
  pkg/provisioner/ironic/register_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint
