Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, golint, govet, markdownlint, shellcheck, generate, unit, manifestlint

Path conditions:
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  golint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: \.md$
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$

Fix dead link for templates
  docs/api.md
Due: markdownlint

Fix for v1a5 main e2e test.
  hack/e2e/environment.sh
  scripts/ci-e2e.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

owners list synced with main
  OWNERS
Due: none

Add metal3 host proposal.
  docs/images/createDataTemplate.png
  docs/images/createMetal3Host.png
  docs/images/createMetal3HostDeployment.png
  docs/images/metal3hostModules.png
  docs/metal3host-controller.md
Due: gofmt, golint, govet, markdownlint, generate, unit, manifestlint

Add a function to retrieve nodes using labels
  baremetal/metal3machine_manager.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Parameterize namespace name
  baremetal/metal3data_manager_test.go
  baremetal/metal3datatemplate_manager_test.go
  baremetal/metal3machine_manager_test.go
  baremetal/metal3remediation_manager_test.go
  baremetal/suite_test.go
  baremetal/utils_test.go
  controllers/metal3data_controller_test.go
  controllers/metal3datatemplate_controller_test.go
  controllers/metal3labelsync_controller_test.go
  controllers/metal3machine_controller_integration_test.go
  controllers/metal3machine_controller_test.go
  controllers/metal3machinetemplate_controller_test.go
  controllers/suite_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Define ObjectMeta metav1.ObjectMeta at Test case level for baremetal package tests
  baremetal/metal3data_manager_test.go
  baremetal/metal3datatemplate_manager_test.go
  baremetal/suite_test.go
  controllers/suite_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Add providerid field metadata
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  baremetal/suite_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

parameterize providerID components.
  baremetal/metal3machine_manager_test.go
  controllers/metal3machine_controller_integration_test.go
  controllers/metal3machine_controller_test.go
  controllers/suite_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

set providerID from nodes when noCloudProvider is set to false
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  baremetal/mocks/zz_generated.metal3machine_manager.go
  baremetal/suite_test.go
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_integration_test.go
  controllers/metal3machine_controller_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Verify that the new providerID format is working.
  templates/test/cluster-template-prow-ha-centos.yaml
  templates/test/cluster-template-prow-ha.yaml
Due: gofmt, golint, govet, generate, unit, manifestlint

Fix providerID format logic.
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  baremetal/metal3datatemplate_manager_test.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  baremetal/metal3machinetemplate_manager_test.go
  baremetal/metal3remediation_manager_test.go
  baremetal/mocks/zz_generated.metal3machine_manager.go
  baremetal/suite_test.go
  baremetal/utils_test.go
  controllers/metal3data_controller_test.go
  controllers/metal3datatemplate_controller_test.go
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_integration_test.go
  controllers/metal3machine_controller_test.go
  controllers/metal3machinetemplate_controller_test.go
  controllers/suite_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Add unit tests for setting providerID at Node level
  baremetal/metal3machine_manager_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Add provideruid field in metal3data resource
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  baremetal/suite_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Add namespace to test case object names.
  controllers/suite_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Remove providerID field from m3mdata
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  baremetal/suite_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Fix bmhID parsing when providerid is set on the node directly.
  baremetal/metal3machine_manager.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Change hard coded object names and uuids
  baremetal/metal3data_manager_test.go
  baremetal/metal3datatemplate_manager_test.go
  baremetal/metal3machine_manager_test.go
  baremetal/metal3remediation_manager_test.go
  baremetal/suite_test.go
  baremetal/utils_test.go
  controllers/metal3data_controller_test.go
  controllers/metal3datatemplate_controller_test.go
  controllers/metal3labelsync_controller_test.go
  controllers/metal3machine_controller_integration_test.go
  controllers/metal3machinetemplate_controller_test.go
  controllers/suite_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Use providerID and providerLabel prefixes
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  baremetal/utils.go
  baremetal/utils_test.go
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_integration_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Define ObjectMeta `metav1.ObjectMeta` at Test case level
  baremetal/metal3data_manager_test.go
  baremetal/metal3datatemplate_manager_test.go
  baremetal/metal3machine_manager_test.go
  baremetal/metal3machinetemplate_manager_test.go
  baremetal/metal3remediation_manager_test.go
  baremetal/suite_test.go
  baremetal/utils_test.go
  controllers/metal3data_controller_test.go
  controllers/metal3datatemplate_controller_test.go
  controllers/metal3machine_controller_integration_test.go
  controllers/suite_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Remove new provideruid format
  baremetal/metal3data_manager_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Update trigger phrases with new changes in CI
  README.md
Due: markdownlint

Update build status badges
  README.md
Due: markdownlint

Update daily job references in README.md
  README.md
Due: markdownlint

Test providerID backport with the proper templates using new providerID format
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/e2e_test.go
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

wait time fix for live iso bmh provisioning
  test/e2e/live_iso_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Add node deletion to remediation
  baremetal/manager_factory.go
  baremetal/metal3remediation_manager.go
  baremetal/metal3remediation_manager_test.go
  baremetal/mocks/zz_generated.metal3remediation_manager.go
  config/rbac/role.yaml
  controllers/metal3remediation_controller.go
  controllers/metal3remediation_controller_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Add new e2e test for this remediation
  docs/e2e-test.md
  test/e2e/metal3remediation_test.go
  test/e2e/remediation_based_feature_test.go
  test/e2e/remediation_feature_test.go
  test/e2e/remediation_test.go
Due: gofmt, golint, govet, markdownlint, generate, unit, manifestlint

Handle missing RBAC for node access
  controllers/metal3remediation_controller.go
  controllers/metal3remediation_controller_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Some minor fixes after code review
  baremetal/metal3remediation_manager.go
  controllers/metal3remediation_controller.go
  test/e2e/metal3remediation_test.go
  test/e2e/remediation_based_feature_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Improve test coverage of remediation controller
  controllers/metal3remediation_controller_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

workaround skip live-iso test to unlock ci
  Makefile
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

debug
  test/e2e/pivoting_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

add sleep to fix taint
  test/e2e/node_reuse_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Live ISO cleanup fix
  test/e2e/live_iso_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint
