Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  golint: any of: \.go$
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$

E2E: Ensure CRDs when upgrade tests fail
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

✨ Add per-host OCI registry authentication for provisioning images
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  go.mod
  go.sum
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/image_auth_validator.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
  pkg/secretutils/dockerconfig.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fixup: Address Copilot review comments
  internal/controller/metal3.io/image_auth_validator_test.go
  pkg/secretutils/dockerconfig.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

✅ Add tests for per-host OCI registry authentication
  internal/controller/metal3.io/image_auth_validator_test.go
  pkg/secretutils/dockerconfig_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Document authSecretName field for OCI image authentication
  docs/api.md
Due: markdownlint

fix baremetal operator
  charts/baremetal-operator/templates/cert-manager/certificate.yaml
  charts/baremetal-operator/templates/cert-manager/issuer.yaml
  charts/baremetal-operator/templates/configmap.yaml
  charts/baremetal-operator/templates/deployment.yaml
  charts/baremetal-operator/templates/rbac/leader_election_role_binding.yaml
  charts/baremetal-operator/values.yaml
Due: gosec, gomod, unit, generate, manifestlint

Fix deletion hang when aborting inspection during power-off
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/power_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2E: Add pod and deployment descriptions
  test/e2e/common.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

HostClaim custom resources
  PROJECT
  apis/metal3.io/v1alpha1/hostclaim_types.go
  apis/metal3.io/v1alpha1/hostdeploypolicy_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_hostclaims.yaml
  config/base/crds/bases/metal3.io_hostdeploypolicies.yaml
  config/base/crds/kustomization.yaml
  config/base/crds/patches/cainjection_in_hostclaims.yaml
  config/base/crds/patches/cainjection_in_hostdeploypolicies.yaml
  config/base/crds/patches/webhook_in_hostclaims.yaml
  config/base/crds/patches/webhook_in_hostdeploypolicies.yaml
  config/base/rbac/hostclaim_editor_role.yaml
  config/base/rbac/hostclaim_viewer_role.yaml
  config/base/rbac/hostdeploypolicy_editor_role.yaml
  config/base/rbac/hostdeploypolicy_viewer_role.yaml
  config/base/rbac/role.yaml
  config/overlays/e2e/roles-rolebindings/roles-rolebindings.yaml
  config/render/capm3.yaml
  config/samples/metal3.io_v1alpha1_hostclaim.yaml
  config/samples/metal3.io_v1alpha1_hostdeploypolicy.yaml
  internal/controller/metal3.io/hostclaim_controller.go
  main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fix: Make architecture tests portable across x86_64 and aarch64
  internal/controller/metal3.io/baremetalhost_controller_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

feat: Implement structured logging pattern from CAPM3
  internal/controller/metal3.io/action_result.go
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/host_state_machine.go
  internal/controller/metal3.io/hostfirmwarecomponents_controller.go
  internal/controller/metal3.io/hostfirmwaresettings_controller.go
  internal/controller/metal3.io/logging.go
  internal/controller/metal3.io/preprovisioningimage_controller.go
  main.go
  main_test.go
  pkg/secretutils/secret_manager.go
  pkg/secretutils/secret_manager_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Expose clientId for infiniband NIC
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  pkg/provisioner/ironic/hardwaredetails/hardwaredetails.go
  pkg/provisioner/ironic/hardwaredetails/hardwaredetails_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Adds overlays for release v0.12 Removes old overlays for release v0.9
  config/overlays/e2e-release-0.12/ironic.env
  config/overlays/e2e-release-0.12/kustomization.yaml
  config/overlays/fixture-release-0.12/kustomization.yaml
  hack/ci-e2e.sh
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-32.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-33.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/irso-v0.5/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/irso-v0.7/kustomization.yaml
  test/e2e/e2e_config.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

Conditions implementation for BareMetalHosts
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  go.mod
  go.sum
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_controller_test.go
  internal/controller/metal3.io/host_state_machine_test.go
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2E: Use per-test cluster for upgrades
  test/e2e/common.go
  test/e2e/config/ironic.yaml
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

WIP: dnsmasq ready?
  test/e2e/common.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2E: Serial logs per test
  test/e2e/common.go
  test/e2e/e2e_suite_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Expose infiniband clientId
  apis/metal3.io/v1alpha1/hardwaredata_types.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/base/crds/bases/metal3.io_hardwaredata.yaml
  pkg/provisioner/ironic/hardwaredetails/hardwaredetails.go
  pkg/provisioner/ironic/hardwaredetails/hardwaredetails_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2E: Use per-test cluster for upgrades
  test/e2e/common.go
  test/e2e/config/ironic.yaml
  test/e2e/data/ironic-standalone-operator/components/upgrade-ports/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-27.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-28.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-29.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-30.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-31.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-upgrade/kustomization.yaml
  test/e2e/e2e_config.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

introduce preprovisioningKernelParams to BMH
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  internal/controller/metal3.io/baremetalhost_controller.go
  pkg/hardwareutils/bmc/access.go
  pkg/hardwareutils/bmc/access_test.go
  pkg/hardwareutils/bmc/idrac_virtualmedia.go
  pkg/hardwareutils/bmc/ipmi.go
  pkg/hardwareutils/bmc/irmc.go
  pkg/hardwareutils/bmc/redfish.go
  pkg/hardwareutils/bmc/redfish_https.go
  pkg/hardwareutils/bmc/redfish_virtualmedia.go
  pkg/provisioner/ironic/inspecthardware.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/prepare_test.go
  pkg/provisioner/ironic/provision_test.go
  pkg/provisioner/ironic/register.go
  pkg/provisioner/ironic/servicing.go
  pkg/provisioner/ironic/servicing_test.go
  pkg/provisioner/ironic/testbmc/testbmc.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

combine extra kernel params from different sources
  internal/controller/metal3.io/baremetalhost_controller.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/register_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

support extraPreProvKernelParams in deprovisioning
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/host_state_machine_test.go
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/provision_test.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2E: Use per-test cluster for upgrades
  config/overlays/e2e-release-0.10/ironic.env
  config/overlays/e2e-release-0.11/ironic.env
  config/overlays/e2e-release-0.9/ironic.env
  config/overlays/e2e-upgrade/ironic.env
  config/overlays/e2e-upgrade/kustomization.yaml
  test/e2e/common.go
  test/e2e/config/ironic.yaml
  test/e2e/data/ironic-standalone-operator/components/upgrade-ports/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-27.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-28.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-29.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-30.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-31.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-upgrade/kustomization.yaml
  test/e2e/e2e_config.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Expose infiniband clientId
  apis/metal3.io/v1alpha1/hardwaredata_types.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/base/crds/bases/metal3.io_hardwaredata.yaml
  config/render/capm3.yaml
  pkg/provisioner/ironic/hardwaredetails/hardwaredetails.go
  pkg/provisioner/ironic/hardwaredetails/hardwaredetails_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Improve error handling in E2E artifact dump helpers
  test/e2e/common.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2E: Bump cert-manager to v1.19.2
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
Due: gosec, gomod, unit, generate, manifestlint

Restructure VBMCTL into separate package and CLI
  Makefile
  hack/ci-e2e.sh
  test/go.mod
  test/vbmctl/README.md
  test/vbmctl/cmd/vbmctl/main.go
  test/vbmctl/main.go
  test/vbmctl/pkg/api/types.go
  test/vbmctl/pkg/api/types_test.go
  test/vbmctl/pkg/config/config.go
  test/vbmctl/pkg/config/config_test.go
  test/vbmctl/pkg/libvirt/doc.go
  test/vbmctl/pkg/libvirt/pool.go
  test/vbmctl/pkg/libvirt/templates.go
  test/vbmctl/pkg/libvirt/templates/VM.xml.tpl
  test/vbmctl/pkg/libvirt/templates/pool.xml.tpl
  test/vbmctl/pkg/libvirt/templates/volume.xml.tpl
  test/vbmctl/pkg/libvirt/vm.go
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Consumer Override for BareMetalHost Cleaning
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/host_state_machine.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
  test/e2e/data/ironic-standalone-operator/ironic/base/ironic.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

METAL-1721: Add force argument to provisioner's Detach and Delete functions
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

METAL-1721: Detach in all states if force is set to true
  internal/controller/metal3.io/host_state_machine.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

METAL-1721: Add Force as DetachedAnnotationArgument to API
  apis/metal3.io/v1alpha1/baremetalhost_types.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

METAL-1721: Pass force to provisioner's detach
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/host_state_machine.go
  internal/controller/metal3.io/host_state_machine_test.go
  pkg/provisioner/ironic/delete_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2E: Only override ironic image tags for e2e overlay
  test/e2e/data/ironic-standalone-operator/ironic/base/ironic.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e/ironic.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e/kustomization.yaml
Due: gosec, gomod, unit, generate, manifestlint

Allow setting `force_persistent_boot_device: <value>` for `deploy_interface=direct` using env
  pkg/provisioner/ironic/factory.go
  pkg/provisioner/ironic/factory_test.go
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2E: Cleanup old hardwaredata
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

:rocket: Release v0.12.1
  releasenotes/v0.12.1.md
Due: markdownlint

fixed containedctx lint errors
  hack/tools/deploy-cli/deploy-cli.go
  hack/tools/deploy-cli/main.go
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_controller_test.go
  internal/controller/metal3.io/bmceventsubscription_controller.go
  internal/controller/metal3.io/dataimage_controller.go
  internal/controller/metal3.io/host_config_data.go
  internal/controller/metal3.io/host_config_data_test.go
  internal/controller/metal3.io/host_state_machine.go
  internal/controller/metal3.io/host_state_machine_test.go
  internal/controller/metal3.io/hostfirmwarecomponents_controller.go
  internal/controller/metal3.io/hostfirmwarecomponents_test.go
  internal/controller/metal3.io/hostfirmwaresettings_controller.go
  internal/controller/metal3.io/hostfirmwaresettings_test.go
  internal/controller/metal3.io/preprovisioningimage_controller.go
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/adopt_test.go
  pkg/provisioner/ironic/bios_test.go
  pkg/provisioner/ironic/delete_test.go
  pkg/provisioner/ironic/dependencies.go
  pkg/provisioner/ironic/factory.go
  pkg/provisioner/ironic/findhost_test.go
  pkg/provisioner/ironic/inspecthardware.go
  pkg/provisioner/ironic/inspecthardware_test.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/power_test.go
  pkg/provisioner/ironic/prepare_test.go
  pkg/provisioner/ironic/provision_test.go
  pkg/provisioner/ironic/provisioncapacity_test.go
  pkg/provisioner/ironic/raid.go
  pkg/provisioner/ironic/ready_test.go
  pkg/provisioner/ironic/register.go
  pkg/provisioner/ironic/register_test.go
  pkg/provisioner/ironic/servicing.go
  pkg/provisioner/ironic/servicing_test.go
  pkg/provisioner/ironic/updatehardwarestate_test.go
  pkg/provisioner/provisioner.go
  pkg/secretutils/secret_manager.go
  pkg/secretutils/secret_manager_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint, test
