Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/generate.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

golint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/golint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

test:
  decorate: true
  spec:
    containers:
    - args:
      - test
      command:
      - make
      image: quay.io/metal3-io/basic-checks:golang-1.22
      imagePullPolicy: Always

Wire in servicing (updating provisioned hosts)
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/baremetalhost_controller_test.go
  pkg/provisioner/fixture/fixture.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Adjusted the timing of setting servicing status and clearing errors.
  controllers/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Adjust logic on bmh controller
  controllers/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Adjust test and linter timings
  .golangci.yaml
  pkg/provisioner/fixture/fixture.go
  test/e2e/config/fixture.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add @iurygregory as a reviewer
  OWNERS_ALIASES
Due: gosec, gomod, unit, generate, manifestlint

ironic: Don't adopt during deprovisioning
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Adopt during deprovisioning when custom deploy set
  controllers/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Don't inspect custom deployed host on exit from externally provisioned
  apis/metal3.io/v1alpha1/baremetalhost_types.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Allow Firmware Updates via Servicing with HostUpdatePolicy
  controllers/metal3.io/baremetalhost_controller.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/servicing.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add scheduled osv-scanner workflow
  .github/workflows/osv-scanner-scan.yml
Due: gosec, gomod, unit, generate, manifestlint

simplify go version handling in verify-release.sh
  hack/verify-release.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Fix HFC error handling in actionPreparing
  controllers/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

use uuidgen to generate random username/password
  tools/deploy.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

Add e2e status badge to readme
  README.md
Due: markdownlint

Bump Go to 1.23.3 and golangci-lint to 1.60.3
  .github/workflows/golangci-lint.yml
  .golangci.yaml
  Dockerfile
  Makefile
  Tiltfile
  cmd/make-bm-worker/templates/templates_test.go
  hack/e2e/ensure_go.sh
  pkg/provisioner/ironic/hardwaredetails/hardwaredetails.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

remove dataimage finalizer if bmh is missing
  controllers/metal3.io/dataimage_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

reduce dataImage unmanagedRetryDelay to 20 seconds
  controllers/metal3.io/dataimage_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

do not insert toolchain directive
  go.mod
Due: gosec, gomod, unit, generate, manifestlint

fixed review comments
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/bmceventsubscription_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Added Error message when reconciling loop is triggered more than once Signed-off-by: “babugeet <abhinandhbg@gmail.com>”
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/bmceventsubscription_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fixed lint issues Signed-off-by: babugeet <abhinandhbg@gmail.com>
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/bmceventsubscription_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fixed review comments
  controllers/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Do not add colons to structured logging
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/bmceventsubscription_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

🌱 Remove deprecated ControllerManagerConfig
  config/base/controller_manager_config.yaml
  config/base/kustomization.yaml
  config/base/manager_config_patch.yaml
  config/render/capm3.yaml
Due: gosec, gomod, unit, generate, manifestlint

🐛 Fix listing ironic node ports with empty mac address
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add missing update permission for HostUpdatePolicy to BareMetalHostReconciler
  controllers/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Run make manifests
  config/base/rbac/role.yaml
  config/render/capm3.yaml
Due: gosec, gomod, unit, generate, manifestlint

Remove kube-rbac-proxy and use controller run-time provided auth filter instead
  config/base/kustomization.yaml
  config/base/manager_auth_proxy_patch.yaml
  config/base/rbac/auth_proxy_client_clusterrole.yaml
  config/base/rbac/auth_proxy_role.yaml
  config/base/rbac/auth_proxy_role_binding.yaml
  config/base/rbac/auth_proxy_service.yaml
  config/base/rbac/kustomization.yaml
  config/render/capm3.yaml
  go.mod
  go.sum
  main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2E: Specify checksum for live-iso
  .gitignore
  hack/ci-e2e.sh
  test/e2e/config/ironic.yaml
  test/e2e/live_iso_test.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

Try specifying checksumtype
  test/e2e/live_iso_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

DNM: CI test in release-0.8 branch
  main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2E: Pin ironic as workaround for failing tests
  ironic-deployment/overlays/e2e/kustomization.yaml
Due: gosec, gomod, unit, generate, manifestlint

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  golint: any of: \.go$
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$
