Repository metal3-io/ip-address-manager: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, govet, markdownlint, shellcheck, unit, generate, manifestlint

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

govet:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/govet.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:latest
      imagePullPolicy: Always

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:stable
      imagePullPolicy: Always

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/codegen.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/garethr/kubeval:latest
      imagePullPolicy: Always

Add myself as reviewer
  OWNERS
Due: none

uplift x/net to 0.4.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gofmt, govet, unit, generate, manifestlint

Bump CAPI to v1.3.1
  go.mod
  go.sum
Due: gofmt, govet, unit, generate, manifestlint

Bump CAPI to v1.2.8
  go.mod
  go.sum
Due: gofmt, govet, unit, generate, manifestlint

manifestlint: move from kubeval to kubeconform
  hack/manifestlint.sh
Due: gofmt, govet, shellcheck, unit, generate, manifestlint

.github: secure github actions
  .github/workflows/kubesec.yml
  .github/workflows/release.yaml
Due: gofmt, govet, unit, generate, manifestlint

this is a test
  examples/ippool/ippool.yaml
Due: gofmt, govet, unit, generate, manifestlint

Uplift CAPI to https://github.com/kubernetes-sigs/cluster-api/releases/tag/v1.3.2
  go.mod
  go.sum
Due: gofmt, govet, unit, generate, manifestlint

Uplift CAPI to https://github.com/kubernetes-sigs/cluster-api/releases/tag/v1.2.9
  go.mod
  go.sum
Due: gofmt, govet, unit, generate, manifestlint

pin golang 1.19.4 with digest
  Dockerfile
Due: gofmt, govet, unit, generate, manifestlint

use docker.io consistently, and pin more checks
  hack/codegen.sh
  hack/gofmt.sh
  hack/gomod.sh
  hack/gosec.sh
  hack/govet.sh
  hack/markdownlint.sh
Due: gofmt, govet, shellcheck, unit, generate, manifestlint

add explicit securitycontexts to controller
  config/manager/manager.yaml
Due: gofmt, govet, unit, generate, manifestlint

kubesec: update codeql-action to v2
  .github/workflows/kubesec.yml
Due: gofmt, govet, unit, generate, manifestlint

Add deletion validation for IPPool webhook
  api/v1alpha1/ippool_webhook.go
  api/v1alpha1/ippool_webhook_test.go
  config/webhook/manifests.yaml
Due: gofmt, govet, unit, generate, manifestlint

Bump CAPI to v1.3.3
  go.mod
  go.sum
Due: gofmt, govet, unit, generate, manifestlint

Bump Dockerfile golang image tag to v1.19.5
  Dockerfile
Due: gofmt, govet, unit, generate, manifestlint

Bump Dockerfile golang image tag to v1.18.10
  Dockerfile
Due: gofmt, govet, unit, generate, manifestlint

hack: gomod needs to verify all go.mod files
  Makefile
  hack/gomod.sh
Due: gofmt, govet, shellcheck, unit, generate, manifestlint

add tuminoid to reviewers
  OWNERS
Due: none

Add lentzi90 as an approver
  OWNERS
Due: none

hack: gomod needs to verify all go.mod files
  hack/gomod.sh
Due: gofmt, govet, shellcheck, unit, generate, manifestlint

update user-guide url
  SECURITY_CONTACTS
Due: gofmt, govet, unit, generate, manifestlint

uplift golang and x/net
  Dockerfile
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gofmt, govet, unit, generate, manifestlint

Enable concurrency in ipam controllers
  controllers/ippool_controller.go
  main.go
Due: gofmt, govet, unit, generate, manifestlint

Bump go modules for CAPI v1.4
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gofmt, govet, unit, generate, manifestlint

CAPI v1.4 related changes in codebase
  api/v1alpha1/utils_test.go
  config/crd/bases/ipam.metal3.io_ipaddresses.yaml
  config/crd/bases/ipam.metal3.io_ipclaims.yaml
  config/crd/bases/ipam.metal3.io_ippools.yaml
  controllers/ippool_controller.go
  controllers/ippool_controller_test.go
  ipam/ippool_manager.go
  ipam/ippool_manager_test.go
  ipam/utils.go
Due: gofmt, govet, unit, generate, manifestlint

Bump CAPI to v1.4.0-rc.1
  go.mod
  go.sum
Due: gofmt, govet, unit, generate, manifestlint

Path conditions:
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: \.md$
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$
