Repository metal3-io/ip-address-manager: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, govet, markdownlint, shellcheck, unit, generate, manifestlint

Path conditions:
  gofmt: any of: \.go$
  govet: any of: \.go$
  markdownlint: any of: \.md$
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$

Use golang:1.17 image for unit tests
  hack/unit.sh
Due: shellcheck, unit, generate, manifestlint

Uplift CAPI to v1.0.2
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
Due: gofmt, govet, unit, generate, manifestlint

Uplift to go1.17
  .github/workflows/release.yaml
  Dockerfile
  api/go.mod
  api/v1alpha1/zz_generated.deepcopy.go
  go.mod
  hack/Dockerfile.unit
  hack/codegen.sh
  hack/gofmt.sh
  hack/govet.sh
  hack/tools/go.mod
  hack/tools/go.sum
Due: gofmt, govet, shellcheck, unit, generate, manifestlint

Bump controller-runtime to v0.11.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: unit, generate, manifestlint

Fix unrelated capm3 mentions under hack folder scripts
  hack/gofmt.sh
  hack/govet.sh
  hack/unit.sh
Due: shellcheck, unit, generate, manifestlint

Use golang as base image and fix capm3 mentions
  hack/gofmt.sh
  hack/govet.sh
  hack/unit.sh
Due: shellcheck, unit, generate, manifestlint

Downgrade go to 1.16
  .github/workflows/release.yaml
  Dockerfile
  api/go.mod
  go.mod
  hack/Dockerfile.unit
  hack/codegen.sh
  hack/gofmt.sh
  hack/govet.sh
  hack/tools/go.mod
  hack/unit.sh
Due: shellcheck, unit, generate, manifestlint

Downgrade CAPI related go modules
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: unit, generate, manifestlint

Update examples generation after v1beta1 uplift
  Makefile
  config/default/manager_image_patch.yaml
  examples/generate.sh
  examples/ippool/ippool.yaml
  hack/hack/kind_with_registry.sh
Due: shellcheck, unit, generate, manifestlint

test tilt grouping ipam
  tilt-provider.json
Due: unit, generate, manifestlint

Add Michael Captain as a reviewer
  OWNERS
Due: none

warning Default LeaderElectionResourceLock to leases
  config/rbac/leader_election_role.yaml
  main.go
Due: gofmt, govet, unit, generate, manifestlint

move maelk to emeritus_approvers list
  OWNERS
Due: none

Uplift controller-tools to v0.8.0
  config/crd/bases/ipam.metal3.io_ipaddresses.yaml
  config/crd/bases/ipam.metal3.io_ipclaims.yaml
  config/crd/bases/ipam.metal3.io_ippools.yaml
  config/rbac/role.yaml
  config/webhook/manifests.yaml
  hack/tools/go.mod
  hack/tools/go.sum
Due: unit, generate, manifestlint

Uplift cluster-api to v1.1.0-rc.0
  go.mod
  go.sum
Due: unit, generate, manifestlint

Uplifting CAPI to v1.1.0
  go.mod
  go.sum
Due: unit, generate, manifestlint

Uplift CAPI to v0.4.7 in release-0.1 branch
  api/go.mod
  api/go.sum
  config/crd/bases/ipam.metal3.io_ipaddresses.yaml
  config/crd/bases/ipam.metal3.io_ipclaims.yaml
  config/crd/bases/ipam.metal3.io_ippools.yaml
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: unit, generate, manifestlint

Update CI badges with Metal3
  README.md
Due: markdownlint

Uplift cluster-api to v1.1.1
  go.mod
  go.sum
Due: unit, generate, manifestlint

Uplift docker/distribution to v2.8.0
  go.mod
  go.sum
Due: unit, generate, manifestlint

remove russellb as active approver
  OWNERS
Due: none

Allow GA releases to trigger on v* tags
  .github/workflows/release.yaml
Due: unit, generate, manifestlint

Add $(KUSTOMIZE) binary installation in release-manifests
  Makefile
Due: shellcheck, unit, generate, manifestlint

Uplift sigs.k8s.io/cluster-api v1.1.2
  go.mod
  go.sum
Due: unit, generate, manifestlint

Uplift sigs.k8s.io/controller-runtime v0.11.1
  api/go.mod
  api/go.sum
  go.sum
Due: unit, generate, manifestlint

Update cert-manager URL and version v1.5.3
  examples/generate.sh
Due: shellcheck, unit, generate, manifestlint

Uplift kustomize to 4.4.1
  hack/ensure-kustomize.sh
  hack/tools/install_kustomize.sh
Due: shellcheck, unit, generate, manifestlint

Update root README compatibility table
  README.md
Due: markdownlint

Parameterize api folder path in Makefile
  Makefile
Due: shellcheck, unit, generate, manifestlint

Set MINIMUM_KUBECTL_VERSION to v1.19.0
  hack/ensure-kubectl.sh
Due: shellcheck, unit, generate, manifestlint

Set k8s_version to 1.23.3
  hack/fetch_ext_bins.sh
Due: shellcheck, unit, generate, manifestlint
