Repository metal3-io/ip-address-manager: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, govet, markdownlint, shellcheck, unit, generate, manifestlint

Path conditions:
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: \.md$
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$

modify reviewers
  OWNERS
Due: none

Synchronize OWNERS file wih main branch
  OWNERS
Due: none

Reassign loop variable to address gosec G601
  ipam/ippool_manager.go
Due: gofmt, govet, unit, generate, manifestlint

Add gosec file for go security checks
  hack/gosec.sh
Due: gofmt, govet, shellcheck, unit, generate, manifestlint

Uplift cluster-api modules to 1.1.3
  go.mod
  go.sum
Due: gofmt, govet, unit, generate, manifestlint

Update module path in hack/tools
  hack/tools/go.mod
Due: gofmt, govet, unit, generate, manifestlint

Fix kustomize in release PHONY
  Makefile
Due: gofmt, govet, shellcheck, unit, generate, manifestlint

Ensure setting image tag for current release in infra components
  Makefile
Due: gofmt, govet, shellcheck, unit, generate, manifestlint

Test Pr
  Makefile
Due: gofmt, govet, shellcheck, unit, generate, manifestlint

Add kubesec for IPAM
  .github/workflows/kubesec.yml
  template/sarif.tpl
Due: gofmt, govet, unit, generate, manifestlint

Add kubesec for ipam
  .github/workflows/kubesec.yml
  template/sarif.tpl
Due: gofmt, govet, unit, generate, manifestlint

Mitigates https://github.com/advisories/GHSA-cg3q-j54f-5p7p
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: gofmt, govet, unit, generate, manifestlint

Uplift CAPI to v0.4.8 in release-0.1 branch
  go.mod
  go.sum
Due: gofmt, govet, unit, generate, manifestlint

Uplift CAPI to v1.1.4, k8s.io/api* modules to v0.23.5
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: gofmt, govet, unit, generate, manifestlint

Uplift github.com/docker/distribution v2.8.1
  go.mod
  go.sum
Due: gofmt, govet, unit, generate, manifestlint

Uplift cluster api to v1.1.5 in go.mod
  go.mod
  go.sum
Due: gofmt, govet, unit, generate, manifestlint

Uplift k8s version to v1.23.5 in fetch binaries
  hack/fetch_ext_bins.sh
Due: gofmt, govet, shellcheck, unit, generate, manifestlint

Update build status badges
  README.md
Due: markdownlint

k8s uplift to 1.24.1
  config/manager/manager.yaml
  examples/provider-components/manager_tolerations_patch.yaml
  hack/fetch_ext_bins.sh
Due: gofmt, govet, shellcheck, unit, generate, manifestlint

Test release 1-1 trigger phrases
  README.md
  ipam/ippool_manager.go
Due: gofmt, govet, markdownlint, unit, generate, manifestlint

Uplift the following dependencies
  api/go.mod
  api/go.sum
  config/crd/bases/ipam.metal3.io_ipaddresses.yaml
  config/crd/bases/ipam.metal3.io_ipclaims.yaml
  config/crd/bases/ipam.metal3.io_ippools.yaml
  config/manager/manager.yaml
  controllers/suite_test.go
  examples/provider-components/manager_tolerations_patch.yaml
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  main.go
Due: gofmt, govet, unit, generate, manifestlint

🌱 Improve logging when patching IPClaim
  ipam/ippool_manager.go
Due: gofmt, govet, unit, generate, manifestlint

🐛 Always patch IPClaim
  ipam/ippool_manager.go
Due: gofmt, govet, unit, generate, manifestlint

Move fmuyassarov to emeritus_approvers
  OWNERS
Due: none

Add golangci-lint file
  .golangci.yaml
Due: gofmt, govet, unit, generate, manifestlint

Add ensure-golangci-lint.sh file to ensure go linting
  hack/ensure-golangci-lint.sh
Due: gofmt, govet, shellcheck, unit, generate, manifestlint

Add minor changes related to golangci-lint
  api/v1alpha1/common_types.go
  api/v1alpha1/groupversion_info.go
  api/v1alpha1/ipaddress_types.go
  api/v1alpha1/ipaddress_webhook.go
  api/v1alpha1/ipaddress_webhook_test.go
  api/v1alpha1/ipclaim_types.go
  api/v1alpha1/ipclaim_webhook.go
  api/v1alpha1/ipclaim_webhook_test.go
  api/v1alpha1/ippool_types.go
  api/v1alpha1/ippool_webhook.go
  api/v1alpha1/ippool_webhook_test.go
  api/v1alpha1/utils.go
  config/crd/bases/ipam.metal3.io_ipaddresses.yaml
  config/crd/bases/ipam.metal3.io_ipclaims.yaml
  config/crd/bases/ipam.metal3.io_ippools.yaml
  controllers/ippool_controller.go
  controllers/ippool_controller_test.go
  controllers/suite_test.go
  ipam/ippool_manager.go
  ipam/ippool_manager_test.go
  ipam/manager_factory.go
  ipam/requeue_error.go
  ipam/suite_test.go
  ipam/utils.go
  ipam/utils_test.go
  main.go
Due: gofmt, govet, unit, generate, manifestlint

Use errors.As to check for specific errors
  controllers/ippool_controller.go
  controllers/suite_test.go
  ipam/ippool_manager.go
  ipam/utils.go
Due: gofmt, govet, unit, generate, manifestlint

Protect IPAddresses and IPClaims from accidental deletion
  controllers/ippool_controller.go
  ipam/ippool_manager.go
  ipam/ippool_manager_test.go
Due: gofmt, govet, unit, generate, manifestlint

Improve logging when releasing address
  controllers/ippool_controller_test.go
  ipam/ippool_manager.go
  ipam/ippool_manager_test.go
  ipam/manager_factory_test.go
Due: gofmt, govet, unit, generate, manifestlint

Increase linter timeout and separate unit tests
  Makefile
  hack/unit.sh
Due: gofmt, govet, shellcheck, unit, generate, manifestlint

Use finelizers instead of ownerRefs to check if IPClaim is in use
  ipam/ippool_manager.go
  ipam/ippool_manager_test.go
Due: gofmt, govet, unit, generate, manifestlint

Don't consider IPAddresses in use when IPPool is being deleted
  ipam/ippool_manager.go
  ipam/ippool_manager_test.go
Due: gofmt, govet, unit, generate, manifestlint

move namnx228 to emeritus reviewers
  OWNERS
Due: none

Add gomod script for prow test
  hack/gomod.sh
Due: gofmt, govet, shellcheck, unit, generate, manifestlint

Fix gosec naming convention
  hack/gosec.sh
Due: gofmt, govet, shellcheck, unit, generate, manifestlint
