Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  golint: any of: \.go$
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$

Auto Checksum if checksumType is empty
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/baremetalhost_types_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fixing empty checksumType default behaviour
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/baremetalhost_types_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add validation against cross-namespace secret references
  apis/metal3.io/v1alpha1/baremetalhost_validation.go
  apis/metal3.io/v1alpha1/baremetalhost_validation_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Set e2e timeout to 1h
  .github/workflows/e2e-test.yml
Due: gosec, gomod, unit, generate, manifestlint

E2E: Clean up unused overlays
  config/overlays/e2e-release-0.4/ironic.env
  config/overlays/e2e-release-0.4/kustomization.yaml
  config/overlays/e2e-release-0.5/ironic.env
  config/overlays/e2e-release-0.5/kustomization.yaml
  config/overlays/fixture-release-0.4/kustomization.yaml
  config/overlays/fixture-release-0.5/kustomization.yaml
  hack/ci-e2e.sh
  ironic-deployment/overlays/e2e-release-24.0-with-inspector/ironic-patch.yaml
  ironic-deployment/overlays/e2e-release-24.0-with-inspector/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-24.0-with-inspector/kustomization.yaml
  ironic-deployment/overlays/e2e-with-inspector/ironic-patch.yaml
  ironic-deployment/overlays/e2e-with-inspector/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-with-inspector/kustomization.yaml
  test/e2e/config/ironic.yaml
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

E2E: Use kind instead of minikube
  .gitignore
  config/overlays/e2e-release-0.6/ironic.env
  config/overlays/e2e-release-0.8/ironic.env
  config/overlays/e2e-release-0.9/ironic.env
  config/overlays/e2e/ironic.env
  hack/ci-e2e.sh
  hack/clean-e2e.sh
  hack/e2e/ensure_kind.sh
  hack/e2e/ensure_minikube.sh
  hack/e2e/net.xml
  ironic-deployment/components/tls/certificate.yaml
  ironic-deployment/overlays/e2e-release-24.1/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-24.1/kustomization.yaml
  ironic-deployment/overlays/e2e-release-25.0/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-25.0/kustomization.yaml
  ironic-deployment/overlays/e2e-release-26.0/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-26.0/kustomization.yaml
  ironic-deployment/overlays/e2e/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e/kustomization.yaml
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/e2e_config.go
  test/e2e/e2e_suite_test.go
  test/e2e/upgrade_test.go
  test/go.mod
  tools/bmh_test/vm2vbmc.sh
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

Fixture: Upload artifacts also on failure
  .github/workflows/e2e-fixture-test.yml
Due: gosec, gomod, unit, generate, manifestlint

E2E: Delete BMHs prior to namespace deletion
  test/e2e/common.go
  test/e2e/config/fixture.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Fix ensure_kind.sh filename
  hack/e2e/ensure_kind.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Allow vbmctl to create VM with multiple network interfaces
  test/e2e/bmc.go
  test/e2e/config/bmcs-fixture.yaml
  test/e2e/config/bmcs-ipmi.yaml
  test/e2e/config/bmcs-redfish-virtualmedia.yaml
  test/e2e/config/bmcs-redfish.yaml
  test/vbmctl/main.go
  test/vbmctl/templates/VM.xml.tpl
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2E: Clean up unused overlays
  config/overlays/e2e-release-0.4/ironic.env
  config/overlays/e2e-release-0.4/kustomization.yaml
  config/overlays/e2e-release-0.5/ironic.env
  config/overlays/e2e-release-0.5/kustomization.yaml
  config/overlays/fixture-release-0.4/kustomization.yaml
  config/overlays/fixture-release-0.5/kustomization.yaml
  hack/ci-e2e.sh
  ironic-deployment/overlays/e2e-release-24.0-with-inspector/ironic-patch.yaml
  ironic-deployment/overlays/e2e-release-24.0-with-inspector/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-24.0-with-inspector/kustomization.yaml
  ironic-deployment/overlays/e2e-with-inspector/ironic-patch.yaml
  ironic-deployment/overlays/e2e-with-inspector/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-with-inspector/kustomization.yaml
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

E2E: Use kind instead of minikube
  .gitignore
  config/overlays/e2e-release-0.6/ironic.env
  config/overlays/e2e-release-0.8/ironic.env
  config/overlays/e2e/ironic.env
  hack/ci-e2e.sh
  hack/clean-e2e.sh
  hack/e2e/ensure_kind.sh
  hack/e2e/ensure_minikube.sh
  hack/e2e/net.xml
  ironic-deployment/components/tls/certificate.yaml
  ironic-deployment/overlays/e2e-release-24.1/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-24.1/kustomization.yaml
  ironic-deployment/overlays/e2e-release-25.0/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-25.0/kustomization.yaml
  ironic-deployment/overlays/e2e-release-26.0/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-26.0/kustomization.yaml
  ironic-deployment/overlays/e2e/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e/kustomization.yaml
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/e2e_config.go
  test/e2e/e2e_suite_test.go
  test/e2e/upgrade_test.go
  test/go.mod
  tools/bmh_test/vm2vbmc.sh
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

Change pool name and hard drive path
  hack/clean-e2e.sh
  test/vbmctl/main.go
  test/vbmctl/templates/VM.xml.tpl
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

E2E: Refactor PerformSSHBootCheck
  test/e2e/common.go
  test/e2e/config/bmcs-fixture.yaml
  test/e2e/config/bmcs-ipmi.yaml
  test/e2e/config/bmcs-redfish-virtualmedia.yaml
  test/e2e/config/bmcs-redfish.yaml
  test/e2e/config/ironic.yaml
  test/e2e/live_iso_test.go
  test/e2e/provisioning_and_annotation_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

VBMCTL: Cleanup
  hack/ci-e2e.sh
  test/e2e/bmc.go
  test/e2e/config/bmcs-fixture.yaml
  test/e2e/config/bmcs-ipmi.yaml
  test/e2e/config/bmcs-redfish-virtualmedia.yaml
  test/e2e/config/bmcs-redfish.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/re_inspection_test.go
  test/vbmctl/main.go
  test/vbmctl/templates/VM.xml.tpl
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

VBMCTL: Refactor Libvirt connection
  test/vbmctl/main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

bump golang to 1.23.5
  Dockerfile
  Makefile
  hack/e2e/ensure_go.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Do not create HFC for non-redfish BMH
  controllers/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

remove keepalived from BMO repository
  .github/workflows/build-images-action.yml
  .github/workflows/release.yaml
  .gitignore
  docs/releasing.md
  resources/keepalived-docker/Dockerfile
  resources/keepalived-docker/configure-nonroot.sh
  resources/keepalived-docker/manage-keepalived.sh
  resources/keepalived-docker/sample.keepalived.conf
Due: gosec, gomod, markdownlint, shellcheck, unit, generate, manifestlint

Add "disablePowerOff" for the bmh.spec API
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add validation to ensure incompatable values arn't used
  apis/metal3.io/v1alpha1/baremetalhost_validation.go
  apis/metal3.io/v1alpha1/baremetalhost_validation_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

If supported by ironic, if not then refuse to manage the node
  controllers/metal3.io/baremetalhost_controller.go
  pkg/provisioner/ironic/clients/features.go
  pkg/provisioner/ironic/clients/features_test.go
  pkg/provisioner/ironic/register.go
  pkg/provisioner/ironic/register_test.go
  pkg/provisioner/ironic/testserver/ironic.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Skip power off before delete
  controllers/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Reboot instead of power on/off
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/baremetalhost_controller_test.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

set ownerReference for dataImage during BMH Reconcile
  controllers/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

:bug: Fix looking for existing node by MAC
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

workflows: sync pull_request trigger types
  .github/workflows/lint-docs.yaml
  .github/workflows/pipeline.yml
  .github/workflows/pr-gh-workflow-approve.yaml
  .github/workflows/pr-verifier.yaml
Due: gosec, gomod, unit, generate, manifestlint

bump golang to 1.23.6
  Dockerfile
  Makefile
  hack/e2e/ensure_go.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

pin osv-scanner image in verify-release.sh
  hack/verify-release.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test
