Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Path conditions:
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  unit: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  build: (any of: ^api|^test|^Makefile$) or (any of: ^api|^test|^Makefile$|^hack/build.sh$)
  test: any of: ^(Makefile|hack/.*)$
  build-fkas: any of: ^hack/fake-apiserver|^api|^Makefile$|^hack/build.sh$

Add scheduled fuzz workflow
  .github/workflows/scheduled-fuzz.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Remove features label from in place upgrade test
  test/e2e/k8s_in_place_upgrade_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Remove features label from in-place test
  test/e2e/k8s_in_place_upgrade_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Allow controller to set default ProviderID when workload cluster is unreachable
  baremetal/metal3machine_manager.go
  controllers/metal3machine_controller_integration_test.go
  controllers/metal3machine_controller_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Add generated config
  api/v1beta1/conversion.go
  api/v1beta1/conversion_test.go
  api/v1beta1/zz_generated.conversion.go
  api/v1beta2/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datatemplates.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

Respect the brige config
  baremetal/metal3data_manager.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Add unit tests for brige config
  baremetal/metal3data_manager_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Fixing lint errors in controller test
  controllers/metal3machine_controller_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Uplift CAPI v1.13.0-beta.1
  api/go.mod
  api/go.sum
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3clusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

Use new admission validator instead of depricated webhook validater
  internal/webhooks/v1beta2/metal3cluster_webhook.go
  internal/webhooks/v1beta2/metal3clustertemplate_webhook.go
  internal/webhooks/v1beta2/metal3data_webhook.go
  internal/webhooks/v1beta2/metal3dataclaim_webhook.go
  internal/webhooks/v1beta2/metal3datatemplate_webhook.go
  internal/webhooks/v1beta2/metal3machine_webhook.go
  internal/webhooks/v1beta2/metal3machinetemplate_webhook.go
  internal/webhooks/v1beta2/metal3remediation_webhook.go
  internal/webhooks/v1beta2/metal3remediationtemplate_webhook.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Rename outdated e2e symbols to match the current CAPI test package
  test/e2e/md_rollout_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Uplift cluster-api to v1.11.8
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test, build-fkas

Bump capi v1.11.8
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test, build-fkas

Enforce same-namespace BareMetalHost lookups
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  baremetal/metal3remediation_manager.go
  baremetal/metal3remediation_manager_test.go
  controllers/metal3labelsync_controller.go
  controllers/metal3labelsync_controller_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Do not run test code related linter tests PR title change
  .github/workflows/golangci-lint.yml
  .github/workflows/kube-api-lint.yml
  .github/workflows/yamllint.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Uplift k8s group to v0.35.4
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

Uplift moby/spdystream to v0.5.1
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, test, build-fkas

Uplift moby/spdystream to 0.5.1
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, test, build-fkas

Uplift CAPI to v1.13.0-rc.1
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  scripts/ci-e2e.sh
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, build-fkas

Add kcp taints to fix CAPI md tests
  test/e2e/data/infrastructure-metal3/main-v1beta1/cluster-template-centos-md-taints/kcp-taints.yaml
  test/e2e/data/infrastructure-metal3/main-v1beta1/cluster-template-centos-md-taints/kustomization.yaml
  test/e2e/data/infrastructure-metal3/main/cluster-template-centos-md-taints/kcp-taints.yaml
  test/e2e/data/infrastructure-metal3/main/cluster-template-centos-md-taints/kustomization.yaml
  test/e2e/data/infrastructure-metal3/main/cluster-template-ubuntu-md-taints/kcp-taints.yaml
  test/e2e/data/infrastructure-metal3/main/cluster-template-ubuntu-md-taints/kustomization.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Uplift k8s group to v0.35.4 in hack/fake-apiserver and hack/tools
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, test, build-fkas

Uplift IPAM and BMO beta releases
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

Bump util version
  api/go.mod
  api/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

Uplift CAPI to v1.11.10
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test, build-fkas

Uplift CAPI to v1.12.7
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test, build-fkas

Fix remediation test
  test/e2e/healthcheck.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Bump ip-address-manager and BMO patch release
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

Fix ownerRef chain for IPAddress in e2e tests
  test/e2e/common.go
  test/e2e/healthcheck.go
  test/extension/config/rbac/role.yaml
  test/extension/handlers/inplaceupdate/handlers.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Bump IPAM and BMO patch for release-1.12
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

:rocket: Release v1.11.7
  releasenotes/v1.11.7.md
Due: markdownlint

:rocket: Release v1.12.4
  releasenotes/v1.12.4.md
Due: markdownlint

Fix logical operator in ConsumerRef validation
  controllers/metal3labelsync_controller.go
  controllers/metal3labelsync_controller_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Use existing CAPM3_VERSION variable and remove new CAPM3_API_VERSION
  test/e2e/config/e2e_conf.yaml
  test/e2e/e2e_suite_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Remove legacy provider id from clustectl tests
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Restrict Metal3DataClaim templates to same namespace
  controllers/metal3datatemplate_controller.go
  controllers/metal3datatemplate_controller_test.go
  internal/webhooks/v1beta2/metal3dataclaim_webhook.go
  internal/webhooks/v1beta2/metal3dataclaim_webhook_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint
