Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/generate.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

golint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/golint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

test:
  decorate: true
  spec:
    containers:
    - args:
      - test
      command:
      - make
      image: quay.io/metal3-io/basic-checks:golang-1.22
      imagePullPolicy: Always

Enable testifylint linter in golangci-lint
  .gitignore
  .golangci.yaml
  apis/metal3.io/v1alpha1/hostfirmwarecomponents_types_test.go
  controllers/metal3.io/baremetalhost_controller_test.go
  controllers/metal3.io/host_config_data_test.go
  controllers/metal3.io/host_state_machine_test.go
  controllers/metal3.io/hostfirmwarecomponents_test.go
  controllers/metal3.io/hostfirmwaresettings_test.go
  pkg/provisioner/ironic/adopt_test.go
  pkg/provisioner/ironic/bios_test.go
  pkg/provisioner/ironic/clients/client_test.go
  pkg/provisioner/ironic/clients/updateopts_test.go
  pkg/provisioner/ironic/configdrive_test.go
  pkg/provisioner/ironic/delete_test.go
  pkg/provisioner/ironic/factory_test.go
  pkg/provisioner/ironic/inspecthardware_test.go
  pkg/provisioner/ironic/ironic_test.go
  pkg/provisioner/ironic/power_test.go
  pkg/provisioner/ironic/prepare_test.go
  pkg/provisioner/ironic/provision_test.go
  pkg/provisioner/ironic/provisioncapacity_test.go
  pkg/provisioner/ironic/ready_test.go
  pkg/provisioner/ironic/register_test.go
  pkg/provisioner/ironic/servicing_test.go
  pkg/provisioner/ironic/updatehardwarestate_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

use standard GetVirtualMedia API for checking dataImage status
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/dataimage_controller.go
  controllers/metal3.io/host_state_machine_test.go
  go.mod
  go.sum
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/clients/features.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add labels to Dockerfile
  Dockerfile
Due: gosec, gomod, unit, generate, manifestlint

make osv-scanner scan run daily
  .github/workflows/osv-scanner-scan.yml
Due: gosec, gomod, unit, generate, manifestlint

🌱Enable perfsprint linter in golangci-lint
  .golangci.yaml
  apis/metal3.io/v1alpha1/baremetalhost_validation.go
  apis/metal3.io/v1alpha1/bmceventsubscription_webhook.go
  apis/metal3.io/v1alpha1/firmwareschema_types.go
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/errors.go
  controllers/metal3.io/hostfirmwaresettings_controller.go
  main.go
  pkg/imageprovider/invalid.go
  pkg/provisioner/ironic/clients/auth.go
  pkg/provisioner/ironic/clients/updateopts_test.go
  pkg/provisioner/ironic/devicehints/devicehints.go
  pkg/provisioner/ironic/factory.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/testserver/ironic.go
  pkg/provisioner/ironic/testserver/server.go
  pkg/version/version.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

🌱Enable forcetypeassert linter in golangci-lint
  .golangci.yaml
  controllers/metal3.io/baremetalhost_controller_test.go
  controllers/metal3.io/bmceventsubscription_controller_test.go
  controllers/metal3.io/demo_test.go
  pkg/provisioner/ironic/capabilities.go
  pkg/provisioner/ironic/clients/updateopts_test.go
  pkg/provisioner/ironic/provision_test.go
  pkg/provisioner/ironic/register_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

🌱Enable forbidigo linter in golangci-lint
  .golangci.yaml
  cmd/get-hardware-details/main.go
  cmd/make-virt-host/main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Bump CAPI 1.10.0-beta.0 and Kubernetes api 0.32.3 and controller-runtime 0.20.4
  apis/go.mod
  apis/go.sum
  apis/metal3.io/v1alpha1/baremetalhost_validation.go
  apis/metal3.io/v1alpha1/baremetalhost_validation_test.go
  apis/metal3.io/v1alpha1/baremetalhost_webhook.go
  apis/metal3.io/v1alpha1/baremetalhost_webhook_test.go
  apis/metal3.io/v1alpha1/bmceventsubscription_validation.go
  apis/metal3.io/v1alpha1/bmceventsubscription_validation_test.go
  apis/metal3.io/v1alpha1/bmceventsubscription_webhook.go
  apis/metal3.io/v1alpha1/bmceventsubscription_webhook_test.go
  go.mod
  go.sum
  main.go
  test/e2e/basic_ops_test.go
  test/e2e/common.go
  test/e2e/external_inspection_test.go
  test/e2e/inspection_test.go
  test/e2e/live_iso_test.go
  test/e2e/provisioning_and_annotation_test.go
  test/e2e/re_inspection_test.go
  test/go.mod
  test/go.sum
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Enable perfsprint linter in golangci-lint
  pkg/hardwareutils/bmc/errors.go
  test/e2e/e2e_config.go
  test/e2e/e2e_suite_test.go
  test/e2e/live_iso_test.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fixup unit tests
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Bump CAPI 1.10.0-beta.0 and Kubernetes api 0.32.3
  Makefile
  go.mod
  hack/tools/go.mod
  hack/tools/go.sum
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation_test.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_webhook.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_webhook_test.go
  internal/webhooks/metal3.io/v1alpha1/bmceventsubscription_validation.go
  internal/webhooks/metal3.io/v1alpha1/bmceventsubscription_validation_test.go
  internal/webhooks/metal3.io/v1alpha1/bmceventsubscription_webhook.go
  internal/webhooks/metal3.io/v1alpha1/bmceventsubscription_webhook_test.go
  internal/webhooks/metal3.io/v1alpha1/doc.go
  main.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

E2E: Use UEFI
  hack/ci-e2e.sh
  test/e2e/basic_ops_test.go
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/external_inspection_test.go
  test/e2e/inspection_test.go
  test/e2e/live_iso_test.go
  test/e2e/provisioning_and_annotation_test.go
  test/vbmctl/templates/VM.xml.tpl
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

WIP: Add OSLoader to VBMCTL and make boot mode configurable
  hack/ci-e2e.sh
  hack/e2e/net.xml
  test/e2e/basic_ops_test.go
  test/e2e/bmc.go
  test/e2e/config/bmcs-ipmi.yaml
  test/e2e/config/bmcs-redfish-virtualmedia.yaml
  test/e2e/config/bmcs-redfish.yaml
  test/e2e/external_inspection_test.go
  test/e2e/inspection_test.go
  test/e2e/live_iso_test.go
  test/e2e/provisioning_and_annotation_test.go
  test/e2e/re_inspection_test.go
  test/e2e/sushy-tools/sushy-emulator.conf
  test/e2e/upgrade_test.go
  test/vbmctl/main.go
  test/vbmctl/templates/VM.xml.tpl
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

Bump CAPI to 1.10.0-rc.0
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint

:rocket: Release v0.10.0-beta.0
  releasenotes/v0.10.0-beta.0.md
Due: markdownlint

VBMCTL: Avoid re-using the default storage pool
  hack/clean-e2e.sh
  test/e2e/sushy-tools/sushy-emulator.conf
  test/vbmctl/main.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

Enable testifylint linter in golangci-lint
  .golangci.yaml
  cmd/make-bm-worker/templates/templates_test.go
  test/e2e/common.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

🌱Enable perfsprint linter in golangci-lint
  .golangci.yaml
  apis/metal3.io/v1alpha1/baremetalhost_validation.go
  apis/metal3.io/v1alpha1/bmceventsubscription_webhook.go
  apis/metal3.io/v1alpha1/firmwareschema_types.go
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/errors.go
  controllers/metal3.io/hostfirmwaresettings_controller.go
  main.go
  pkg/hardwareutils/bmc/errors.go
  pkg/imageprovider/invalid.go
  pkg/provisioner/ironic/clients/auth.go
  pkg/provisioner/ironic/clients/updateopts_test.go
  pkg/provisioner/ironic/devicehints/devicehints.go
  pkg/provisioner/ironic/factory.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/testserver/ironic.go
  pkg/provisioner/ironic/testserver/server.go
  pkg/version/version.go
  test/e2e/e2e_config.go
  test/e2e/e2e_suite_test.go
  test/e2e/live_iso_test.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Enable perfsprint linter in golangci-lint
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation.go
  internal/webhooks/metal3.io/v1alpha1/bmceventsubscription_webhook.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add go script to replace set_ns.py
  set_ns/set_ns.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

draft: add namespace scoped operator mode
  Makefile
  config/namespace/namespace.yaml
  config/overlays/namespaced-e2e/kustomization.yaml
  config/overlays/namespaced-e2e/namespaced-manager-patch.yaml
  config/overlays/namespaced-e2e/roles-ns-annotator.yaml
  config/overlays/namespaced/kustomization.yaml
  config/overlays/namespaced/namespaced-manager-patch.yaml
  config/overlays/namespaced/roles-ns-annotator.yaml
  config/render/capm3.yaml
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/bmceventsubscription_controller.go
  controllers/metal3.io/dataimage_controller.go
  controllers/metal3.io/hostfirmwarecomponents_controller.go
  controllers/metal3.io/hostfirmwaresettings_controller.go
  controllers/metal3.io/preprovisioningimage_controller.go
  docs/namespace-scoped-operator.md
  hack/ci-e2e.sh
  hack/tools/kustomize-namespace-annotator/Dockerfile
  hack/tools/kustomize-namespace-annotator/README.md
  hack/tools/kustomize-namespace-annotator/go.mod
  hack/tools/kustomize-namespace-annotator/go.sum
  hack/tools/kustomize-namespace-annotator/main.go
  main.go
  set_ns.py
  test/e2e/basic_ops_test.go
  test/e2e/common.go
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/external_inspection_test.go
  test/e2e/inspection_test.go
  test/e2e/live_iso_test.go
  test/e2e/provisioning_and_annotation_test.go
  test/e2e/re_inspection_test.go
  test/e2e/upgrade_test.go
  tools/deploy.sh
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Minor fix release workflow
  .github/workflows/release.yaml
Due: gosec, gomod, unit, generate, manifestlint

Makefile: do not explicit include ./internal/
  Makefile
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Refactoring: move ./controllers to ./internal/controller
  internal/controller/metal3.io/action_result.go
  internal/controller/metal3.io/action_result_test.go
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_controller_test.go
  internal/controller/metal3.io/bmceventsubscription_controller.go
  internal/controller/metal3.io/bmceventsubscription_controller_test.go
  internal/controller/metal3.io/controller_test.go
  internal/controller/metal3.io/dataimage_controller.go
  internal/controller/metal3.io/demo_test.go
  internal/controller/metal3.io/errors.go
  internal/controller/metal3.io/host_config_data.go
  internal/controller/metal3.io/host_config_data_test.go
  internal/controller/metal3.io/host_state_machine.go
  internal/controller/metal3.io/host_state_machine_test.go
  internal/controller/metal3.io/hostfirmwarecomponents_controller.go
  internal/controller/metal3.io/hostfirmwarecomponents_test.go
  internal/controller/metal3.io/hostfirmwaresettings_controller.go
  internal/controller/metal3.io/hostfirmwaresettings_test.go
  internal/controller/metal3.io/metrics.go
  internal/controller/metal3.io/preprovisioningimage_controller.go
  internal/controller/metal3.io/preprovisioningimage_controller_test.go
  main.go
  tilt-provider.json
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Bump cluster-api/test module to v1.10.0-rc.0 in hack/tools
  hack/tools/go.mod
  hack/tools/go.sum
Due: gosec, gomod, unit, generate, manifestlint, test

Add go script to replace set_ns.py
  Makefile
  config/overlays/namespaced-e2e/kustomization.yaml
  config/overlays/namespaced/kustomization.yaml
  test/e2e/common.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

Add Adil and Peppi-lotta as reviewers
  OWNERS_ALIASES
Due: gosec, gomod, unit, generate, manifestlint

Add go script to replace set_ns.py
  Makefile
  config/overlays/namespaced-e2e/kustomization.yaml
  config/overlays/namespaced/kustomization.yaml
  set_ns/set_ns.go
  test/e2e/common.go
  test/e2e/config/ironic.yaml
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

Bump CAPI to v1.10.0
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint, test

🚀 Release v0.10.0
  releasenotes/v0.10.0.md
Due: markdownlint

Redfish: correctly handle missing system ID
  pkg/hardwareutils/bmc/access_test.go
  pkg/hardwareutils/bmc/idrac_virtualmedia.go
  pkg/hardwareutils/bmc/redfish.go
  pkg/hardwareutils/bmc/redfish_virtualmedia.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Pin ironic to version 29.0
  ironic-deployment/base/ironic.yaml
Due: gosec, gomod, unit, generate, manifestlint

:rocket: Release v0.10.1
  releasenotes/v0.10.1.md
Due: markdownlint

add dependabot config for release-0.10
  .github/dependabot.yml
Due: gosec, gomod, unit, generate, manifestlint

Enable dupl linter
  .golangci.yaml
Due: gosec, gomod, unit, generate, manifestlint

:bug: Make firmware update handle only a subset of `Spec.Updates`
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_controller_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  golint: any of: \.go$
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$
