Repository metal3-io/ip-address-manager: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, shellcheck, unit, generate, manifestlint, test

Path conditions:
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$

Issue template for preparing new minor release
  .github/ISSUE_TEMPLATE/prepare_minor_release.md
Due: markdownlint

Bump CAPI to v1.8.3
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump osv scanner workflow to v1.8.5
  .github/workflows/osv-scanner-scan.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Reuse PR verifier wf from project-infra
  .github/workflows/pr-verifier.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

add osv-scanner config for correcting go version used
  .github/osv-scanner.toml
  .github/workflows/osv-scanner-scan.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

This commit makes it possible to: - Deploy IPAM with clusterctl - Reconsile CAPI's ipaddressclaims with this managers ippools
  Dockerfile
  README.md
  config/default/kustomization.yaml
  config/manager/manager.yaml
  config/rbac/role.yaml
  controllers/ippool_controller.go
  controllers/ippool_controller_test.go
  controllers/suite_test.go
  docs/api.md
  examples/generate.sh
  examples/ippool/ippool.yaml
  examples/provider-components/manager_tolerations_patch.yaml
  ipam/ippool_manager.go
  ipam/ippool_manager_test.go
  ipam/suite_test.go
  main.go
Due: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, shellcheck, unit, generate, manifestlint

bump markdownlint-cli2 to v0.12.0
  VERSIONING.md
  hack/markdownlint.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, shellcheck, unit, generate, manifestlint, test

Fix ignored errors while patching resources
  controllers/ippool_controller.go
  ipam/ippool_manager.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

make CAPI a pattern in dependabot
  .github/dependabot.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

bump golang to 1.22.8
  Dockerfile
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Add Peppi-Lotta as a reviewer
  OWNERS_ALIASES
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Add TLS 1.3 in IPAM
  config/manager/manager.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Use OSV-Scanner release binary and Reporter action workflow instead of pointing to a file
  .github/workflows/osv-scanner-scan.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Uplift CAPI to v1.8.5
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Uplift CAPI to v1.7.8
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

use make go-version instead of Dockerfile parsing in verify-release.sh
  hack/verify-release.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Uplift CAPI to v1.9.0-beta.0
  controllers/ippool_controller.go
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump Golang to 1.22.9 for release-1.8
  Dockerfile
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

add osv-scanner config for correcting go version used
  .github/workflows/osv-scanner-scan.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Increase timeout to avoid failure
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Bump Golang to 1.22.9
  Dockerfile
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Bump Golang to 1.22.9 in release-1.7 branch
  Dockerfile
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

bump Go to 1.23.3 and golangci-lint to 1.60.3
  .github/workflows/golangci-lint.yml
  .golangci.yaml
  Dockerfile
  Makefile
  hack/ensure-golangci-lint.sh
  ipam/ippool_manager.go
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Bump CAPI to v1.9.0-rc.0
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Automating release creation
  .github/workflows/release.yaml
  .gitignore
  Makefile
  docs/releasing.md
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/release/notes.go
Due: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, shellcheck, unit, generate, manifestlint, test

Fixing go mod mismatches
  api/go.mod
  api/go.sum
  config/crd/bases/ipam.metal3.io_ipaddresses.yaml
  config/crd/bases/ipam.metal3.io_ipclaims.yaml
  config/crd/bases/ipam.metal3.io_ippools.yaml
  config/rbac/role.yaml
  hack/tools/go.mod
  hack/tools/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint, test

🚀 Release v1.9.0-beta.0
  releasenotes/v1.9.0-beta.0.md
Due: markdownlint

Fis release make target for new release flow
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Fix make release target for new flow.
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Fixing release note generation
  Makefile
  hack/tools/release/notes.go
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

🚀 Release v1.7.3
  releasenotes/v1.7.3.md
Due: markdownlint
