Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/generate.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

golint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/golint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

test:
  decorate: true
  spec:
    containers:
    - args:
      - test
      command:
      - make
      image: quay.io/metal3-io/basic-checks:golang-1.22
      imagePullPolicy: Always

fix: add missing doc.go for proper groupName inference
  apis/metal3.io/v1alpha1/doc.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Debug code attempting to narrow down test issue, not to be included in final PR.
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/baremetalhost_controller_test.go
  controllers/metal3.io/hostfirmwarecomponents_controller.go
  controllers/metal3.io/hostfirmwarecomponents_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

chore: added openapi-gen comment tags for v1alpha1
  apis/metal3.io/v1alpha1/doc.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

bump golang to 1.22.8
  Dockerfile
  Makefile
  hack/e2e/ensure_go.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

make CAPI a pattern in dependabot config
  .github/dependabot.yml
Due: gosec, gomod, unit, generate, manifestlint

Fix minor issues in the API help strings
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add references to HostUpdatePolicy in checkServicing code.
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/baremetalhost_controller_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Move hostUpdatePolicySetOwnerReference calls from registerHost to manageHostPower.
  controllers/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Wire in servicing (updating provisioned hosts)
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/baremetalhost_controller_test.go
  pkg/provisioner/fixture/fixture.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Provisioner code for servicing
  controllers/metal3.io/host_state_machine_test.go
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/clients/features.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/servicing.go
  pkg/provisioner/ironic/servicing_test.go
  pkg/provisioner/ironic/testserver/ironic.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add go script to replace set_ns.py
  go-singleNS.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Bump kustomize/kyaml v0.18.1 and kustomize/kustomize/v5 to v5.5.0
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint, test

Add Riccardo and Adam as approvers
  OWNERS_ALIASES
Due: gosec, gomod, unit, generate, manifestlint

Bump k8s.io/* to v0.31.1, controller-runtime to v0.19.0 and controller-tools to v0.16.3
  apis/go.mod
  apis/go.sum
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/base/crds/bases/metal3.io_bmceventsubscriptions.yaml
  config/base/crds/bases/metal3.io_dataimages.yaml
  config/base/crds/bases/metal3.io_firmwareschemas.yaml
  config/base/crds/bases/metal3.io_hardwaredata.yaml
  config/base/crds/bases/metal3.io_hostfirmwarecomponents.yaml
  config/base/crds/bases/metal3.io_hostfirmwaresettings.yaml
  config/base/crds/bases/metal3.io_hostupdatepolicies.yaml
  config/base/crds/bases/metal3.io_preprovisioningimages.yaml
  config/base/rbac/role.yaml
  config/render/capm3.yaml
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint, test

Use equinix runner instead of ubuntu for e2e tests
  .github/workflows/e2e-test.yml
Due: gosec, gomod, unit, generate, manifestlint

Adding ipxe builder to init container
  ironic-deployment/components/ipxe-tls/certificate.yaml
  ironic-deployment/components/ipxe-tls/kustomization.yaml
  ironic-deployment/components/ipxe-tls/kustomizeconfig.yaml
  ironic-deployment/components/ipxe-tls/tls.yaml
  ironic-deployment/overlays/ipxe-builder-tls/ipxe-configmap.env
  ironic-deployment/overlays/ipxe-builder-tls/kustomization.yaml
  ironic-deployment/overlays/ipxe-builder/ipxe-builder-patch.yaml
  ironic-deployment/overlays/ipxe-builder/ipxe-configmap.env
  ironic-deployment/overlays/ipxe-builder/kustomization.yaml
Due: gosec, gomod, unit, generate, manifestlint

Test Commit. Will be removed
  .github/workflows/e2e-test.yml
Due: gosec, gomod, unit, generate, manifestlint

Removed second return value from doServiceIfNeeded function.
  controllers/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Adding ipxe builder to init container
  ironic-deployment/components/ipxe-tls/certificate.yaml
  ironic-deployment/components/ipxe-tls/kustomization.yaml
  ironic-deployment/components/ipxe-tls/kustomizeconfig.yaml
  ironic-deployment/components/ipxe-tls/tls.yaml
  ironic-deployment/overlays/with-ipxe-builder-tls/ipxe-configmap.env
  ironic-deployment/overlays/with-ipxe-builder-tls/kustomization.yaml
  ironic-deployment/overlays/with-ipxe-builder/ipxe-builder-patch.yaml
  ironic-deployment/overlays/with-ipxe-builder/ipxe-configmap.env
  ironic-deployment/overlays/with-ipxe-builder/kustomization.yaml
Due: gosec, gomod, unit, generate, manifestlint

Improve test coverage
  controllers/metal3.io/preprovisioningimage_controller.go
  controllers/metal3.io/preprovisioningimage_controller_test.go
  pkg/provisioner/ironic/factory_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Adjusted the timing of setting servicing status and clearing errors.
  controllers/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fix misspelling in function name
  controllers/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add manifest generation while generating code
  .github/workflows/dependabot.yml
Due: gosec, gomod, unit, generate, manifestlint

Enable TLS 1.3 and have option for TLS 1.2
  config/base/manager.yaml
  main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Fetch Ironic node list after each e2e test
  hack/ci-e2e.sh
  test/e2e/basic_ops_test.go
  test/e2e/common.go
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/e2e_config.go
  test/e2e/e2e_suite_test.go
  test/e2e/external_inspection_test.go
  test/e2e/inspection_test.go
  test/e2e/live_iso_test.go
  test/e2e/provisioning_and_annotation_test.go
  test/e2e/re_inspection_test.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

E2E: Add build tags
  .golangci.yaml
  Makefile
  hack/ci-e2e.sh
  test/e2e/basic_ops_test.go
  test/e2e/bmc.go
  test/e2e/cert_manager.go
  test/e2e/common.go
  test/e2e/e2e_config.go
  test/e2e/e2e_suite_test.go
  test/e2e/external_inspection_test.go
  test/e2e/inspection_test.go
  test/e2e/live_iso_test.go
  test/e2e/provisioning_and_annotation_test.go
  test/e2e/re_inspection_test.go
  test/e2e/upgrade_test.go
  test/vbmctl/main.go
  test/vbmctl/templates/VM.xml.tpl
  test/vbmctl/templates/pool.xml.tpl
  test/vbmctl/templates/volume.xml.tpl
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

Introduce inspection delay for the fixture provisioner
  pkg/provisioner/fixture/fixture.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Fix the logic that determines previous git tag
  Makefile
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  golint: any of: \.go$
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$
