Repository metal3-io/ip-address-manager: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, shellcheck, unit, generate, manifestlint, test

Path conditions:
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$

Limitation regarding IPClaim
  README.md
Due: markdownlint

Adding feature for allocating requested IP
  examples/ippool/ippool.yaml
  ipam/ippool_manager.go
  ipam/ippool_manager_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Error handling for existing claims with an Error
  ipam/ippool_manager.go
  ipam/ippool_manager_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump CAPI to 1.10.0
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Configure tagliatelle linter
  .golangci.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

:rocket: Release v1.10.0
  releasenotes/v1.10.0.md
Due: markdownlint

Fix notes.go so that it still complies with forbidigo
  .golangci.yaml
  hack/tools/release/notes.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint, test

add dependabot config for release-1.10
  .github/dependabot.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Add build badge for release-1.10
  README.md
Due: markdownlint

Update 1.11 to metadata.yaml
  metadata.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Update release 1.10 to compatibility table
  README.md
Due: markdownlint

Update build badges for release-1.10
  README.md
Due: markdownlint

Test PR to check if pr changes are tested
  ipam/ippool_manager.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

🌱 Bump golang to v1.24
  .golangci.yaml
  Dockerfile
  Makefile
  hack/codegen.sh
  hack/gomod.sh
  hack/unit.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Bump golangci-lint to v1.64.7
  .github/workflows/golangci-lint.yml
  .golangci.yaml
  hack/ensure-golangci-lint.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Remove webhooks from api folder, they are moved to internal/webhooks/
  api/v1alpha1/ipaddress_webhook.go
  api/v1alpha1/ipaddress_webhook_test.go
  api/v1alpha1/ipclaim_webhook.go
  api/v1alpha1/ipclaim_webhook_test.go
  api/v1alpha1/ippool_webhook.go
  api/v1alpha1/ippool_webhook_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

:rocket: Release v1.9.5
  releasenotes/v1.9.5.md
Due: markdownlint

:rocket: Release v1.10.1
  releasenotes/v1.10.1.md
Due: markdownlint

Use reusable link-checks and delete old link check
  .github/workflows/lint-docs.yaml
  .github/workflows/pr-link-check.yml
  .github/workflows/scheduled-link-check.yml
  .markdownlinkcheck.json
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Enable variable shadowing check in govet linter
  .golangci.yaml
  controllers/ippool_controller.go
  ipam/ippool_manager.go
  ipam/utils_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

bump golang to 1.24.4
  Dockerfile
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Bump CAPI to v1.11.0-alpha.0 and do CAPI v1beta2 related changes.
  .golangci.yaml
  api/go.mod
  config/crd/bases/ipam.metal3.io_ipaddresses.yaml
  config/crd/bases/ipam.metal3.io_ipclaims.yaml
  config/crd/bases/ipam.metal3.io_ippools.yaml
  controllers/ippool_controller.go
  controllers/ippool_controller_test.go
  controllers/suite_test.go
  go.mod
  go.sum
  hack/fetch_ext_bins.sh
  hack/tools/go.mod
  hack/tools/go.sum
  ipam/ippool_manager.go
  ipam/ippool_manager_test.go
  ipam/mocks/zz_generated.ippool_manager.go
  ipam/suite_test.go
  main.go
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Fix set-manifest-image rule
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

bump the kubernetes group to v0.33.2
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint, test

update docs/releasing.md on dependabot configs
  docs/releasing.md
Due: markdownlint

sync controller-runtime version
  api/go.mod
  api/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

:rocket: Release v1.11.0-alpha.0
  releasenotes/v1.11.0-alpha.0.md
Due: markdownlint

Bump capi to v1.11.0-beta.1
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump golang to v1.24.5
  Dockerfile
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Add Alpha release in the release notes generator
  hack/tools/release/notes.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint, test

Fix infinite reconciles and timestamp updates
  ipam/ippool_manager.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump osv-scanner to v2.1.0
  .github/workflows/osv-scanner-scan.yml
  hack/verify-release.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

bump golang to 1.24.6
  Dockerfile
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test
