Repository metal3-io/ip-address-manager: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, shellcheck, unit, generate, manifestlint, test

Path conditions:
  gomod: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$
  test: any of: ^(Makefile|hack/.*)$

bump shellcheck to v0.10.0
  hack/shellcheck.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

add golang base image check to verify-release.sh
  hack/verify-release.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Bump CAPI to v1.6.3
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump CAPI to v1.5.7
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump CAPI to v1.7.0-beta.0
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

bump golang to 1.21.8
  Dockerfile
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Remove: Makefile related gofmt & govet scripts
  Makefile
  hack/gofmt.sh
  hack/govet.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

add support for beta/rc releases in release notes
  .github/workflows/release.yaml
  Makefile
  hack/tools/release/notes.go
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Bump CAPI to v1.7.0-beta.1
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

update releasing docs
  docs/releasing.md
Due: markdownlint

Feat: add make lint-fix
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Bump CAPI to v1.7.0-rc.0
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

add workflow to approve actions on PR change
  .github/workflows/pr-gh-workflow-approve.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Update README.md
  README.md
Due: markdownlint

Update ippool_controller.go
  controllers/ippool_controller.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Update main.go
  main.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump golang.org/x/net to v0.23.0 and golang to v1.21.9
  Dockerfile
  Makefile
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Uplift CAPI to v1.7.0-rc.1
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump golang.org/x/net to v0.24.0 and golang to v1.21.9
  Dockerfile
  Makefile
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Add v1.6.x in the compatability
  README.md
Due: markdownlint

Test running new prow tests
  OWNERS
Due: none

Test running tests on 1-3
  README.md
Due: markdownlint

Update build status on release-1.4
  README.md
Due: markdownlint

Bump CAPI to v1.7.0
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump CAPI to v1.5.8
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump CAPI to v1.6.4
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Fix package versions mismatches
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint, test

Update Readme for release-1.7
  README.md
Due: markdownlint

Bump CAPI to v1.7.1
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Fix multi-architecture images build
  Dockerfile
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

improve hack/verify-release.sh
  hack/verify-release.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test
