Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/generate.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

golint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/golint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

test:
  decorate: true
  spec:
    containers:
    - args:
      - test
      command:
      - make
      image: quay.io/metal3-io/basic-checks:golang-1.24
      imagePullPolicy: Always

Add validation in webhook for live-iso
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Ensure BMH name is a valid DNS hostname
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

🌱 Bump CAPI to v1.11.1
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint, test

🌱 Bump CAPI to v1.10.6
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint, test

:seedling: Fix release note generator for pre-releases
  hack/tools/release/notes.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint, test

:rocket: Release v0.11.0-rc.0
  releasenotes/v0.11.0-rc.0.md
Due: markdownlint

Enable errname linter
  .golangci.yaml
  internal/controller/metal3.io/preprovisioningimage_controller.go
  pkg/imageprovider/invalid.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Update info on running e2e locally
  test/e2e/README.md
Due: markdownlint

:rocket: Release v0.10.3
  releasenotes/v0.10.3.md
Due: markdownlint

:rocket: Release v0.9.3
  releasenotes/v0.9.3.md
Due: markdownlint

Add alpha release in release documentation
  docs/releasing.md
Due: markdownlint

Remove checking keepalived image tag during release
  hack/verify-release.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Allow setting `force_persistent_boot_device: <value>` for deploy_interface=direct using env
  pkg/provisioner/ironic/factory.go
  pkg/provisioner/ironic/factory_test.go
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Accept uppercase format in upgrade focus
  hack/ci-e2e.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

WIP test CI 0.11 release
  testfile
Due: gosec, gomod, unit, generate, manifestlint

Allow vbmctl to create VM with multiple network interfaces
  hack/clean-e2e.sh
  test/e2e/bmc.go
  test/e2e/config/bmcs-ipmi.yaml
  test/e2e/config/bmcs-redfish-virtualmedia.yaml
  test/e2e/config/bmcs-redfish.yaml
  test/vbmctl/main.go
  test/vbmctl/templates/VM.xml.tpl
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

add dependabot support for release-0.11
  .github/dependabot.yml
Due: gosec, gomod, unit, generate, manifestlint

Introduce InspectionMode field
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/baremetalhost_types_test.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_controller_test.go
  internal/controller/metal3.io/host_state_machine.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation_test.go
  test/e2e/inspection_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

:seedling: Bump golang to v1.24.7
  Dockerfile
  Makefile
  hack/e2e/ensure_go.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

seedling: Bump golang to v1.24.7
  Dockerfile
  Makefile
  hack/e2e/ensure_go.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

pin ironic release-31.0
  ironic-deployment/base/ironic.yaml
Due: gosec, gomod, unit, generate, manifestlint

add e2e tests for release 0.11
  config/overlays/e2e-release-0.11/ironic.env
  config/overlays/e2e-release-0.11/kustomization.yaml
  config/overlays/fixture-release-0.11/kustomization.yaml
  hack/ci-e2e.sh
  ironic-deployment/overlays/e2e-release-30.0/ironic-patch.yaml
  ironic-deployment/overlays/e2e-release-30.0/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-30.0/kustomization.yaml
  ironic-deployment/overlays/e2e-release-31.0/ironic-patch.yaml
  ironic-deployment/overlays/e2e-release-31.0/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-31.0/kustomization.yaml
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

update build trigger doc and CI badges
  README.md
Due: markdownlint

add periodic release-0.11 test
  .github/workflows/e2e-test-periodic-release-0.11.yml
Due: gosec, gomod, unit, generate, manifestlint

:rocket: Release v0.11.0
  releasenotes/v0.11.0.md
Due: markdownlint

Add IPA_BASEURI to download ipa image from Nordix
  ironic-deployment/overlays/e2e-release-26.0/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-27.0/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-28.0/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-29.0/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-30.0/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-31.0/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e/ironic_bmo_configmap.env
Due: gosec, gomod, unit, generate, manifestlint

Add IPA_BASEURI to download ipa image from Nordix for release-0.11 branch
  ironic-deployment/overlays/e2e-release-26.0/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-27.0/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-28.0/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-29.0/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e/ironic_bmo_configmap.env
Due: gosec, gomod, unit, generate, manifestlint

Add IPA_BASEURI to download IPA image for release-0.10
  ironic-deployment/overlays/e2e-release-24.1/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-25.0/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-26.0/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e/ironic_bmo_configmap.env
Due: gosec, gomod, unit, generate, manifestlint

Add IPA_BASEURI to download IPA image for release-0.9
  ironic-deployment/overlays/e2e-release-24.1/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-25.0/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-26.0/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e/ironic_bmo_configmap.env
Due: gosec, gomod, unit, generate, manifestlint

add release-0.11 test triggers to README
  README.md
Due: markdownlint

Add namespaced mode to BMO controller
  Tiltfile
  config/components/namespace-scoped/kustomization.yaml
  config/namespace/namespace.yaml
  config/overlays/e2e/automated-cleaning/kustomization.yaml
  config/overlays/e2e/automated-cleaning/namespace.yaml
  config/overlays/e2e/basic-ops/kustomization.yaml
  config/overlays/e2e/basic-ops/namespace.yaml
  config/overlays/e2e/external-inspection/kustomization.yaml
  config/overlays/e2e/external-inspection/namespace.yaml
  config/overlays/e2e/externally-provisioned/kustomization.yaml
  config/overlays/e2e/externally-provisioned/namespace.yaml
  config/overlays/e2e/inspection/kustomization.yaml
  config/overlays/e2e/inspection/namespace.yaml
  config/overlays/e2e/kustomization.yaml
  config/overlays/e2e/live-iso-ops/kustomization.yaml
  config/overlays/e2e/live-iso-ops/namespace.yaml
  config/overlays/e2e/namespaced-manager-patch.yaml
  config/overlays/e2e/provisioning-ops/kustomization.yaml
  config/overlays/e2e/provisioning-ops/namespace.yaml
  config/overlays/e2e/re-inspection/kustomization.yaml
  config/overlays/e2e/re-inspection/namespace.yaml
  config/overlays/e2e/roles-rolebindings/kustomization.yaml
  config/overlays/e2e/roles-rolebindings/roles-rolebindings.yaml
  docs/namespace-scoped-setup.md
  main.go
  test/e2e/automated_cleaning_test.go
  test/e2e/basic_ops_test.go
  test/e2e/common.go
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/external_inspection_test.go
  test/e2e/externally_provisioned_test.go
  test/e2e/inspection_test.go
  test/e2e/live_iso_test.go
  test/e2e/provisioning_and_annotation_test.go
  test/e2e/re_inspection_test.go
Due: gofmt, gosec, gomod, markdownlint, unit, generate, golint, manifestlint

E2E: Make timeout configurable and increase it for optional periodics
  .github/workflows/e2e-test-optional-periodic.yml
  .github/workflows/e2e-test.yml
Due: gosec, gomod, unit, generate, manifestlint

Fix OSV-Scanner
  .github/workflows/osv-scanner-scan.yml
  .github/workflows/osv-scanner-scheduled.yml
Due: gosec, gomod, unit, generate, manifestlint

Add ability to abort servicing by clearing HFS and HFC spec
  internal/controller/metal3.io/baremetalhost_controller.go
  pkg/provisioner/ironic/servicing.go
  pkg/provisioner/ironic/servicing_test.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Minor syntax fix to satisfy the linter test
  pkg/provisioner/ironic/servicing.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  golint: any of: \.go$
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$
