Repository metal3-io/metal3-dev-env: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)

Add check for the creation of VMs
  04_verify.sh
Due: shellcheck

Remove release-1.11 templates and add 1.14 templates
  tests/roles/run_tests/templates/release-1.14/Metal3MachineTemplate.yml
  tests/roles/run_tests/templates/release-1.14/capm3-clusterctl-settings.json
  tests/roles/run_tests/templates/release-1.14/cluster-api-clusterctl-settings.json
  tests/roles/run_tests/templates/release-1.14/cluster-template-cluster.yaml
  tests/roles/run_tests/templates/release-1.14/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.14/cluster-template-controlplane-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/release-1.14/cluster-template-controlplane-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/release-1.14/cluster-template-controlplane.yaml
  tests/roles/run_tests/templates/release-1.14/cluster-template-workers-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.14/cluster-template-workers-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/release-1.14/cluster-template-workers-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/release-1.14/cluster-template-workers.yaml
  tests/roles/run_tests/templates/release-1.14/clusterctl-vars.yaml
  tests/roles/run_tests/templates/release-1.14/machine-healthcheck-controlplane.yaml
  tests/roles/run_tests/templates/release-1.14/machine-healthcheck-worker.yaml
  tests/roles/run_tests/templates/release-1.14/metal3datatemplate-template.yaml
Due: none

Make Irso the default for in-cluster Ironic
  03_launch_mgmt_cluster.sh
  04_verify.sh
  README.md
  cluster_cleanup.sh
  config_example.sh
  lib/common.sh
  lib/get_component_image.sh
  tests/roles/run_tests/tasks/move.yml
  tests/roles/run_tests/tasks/move_back.yml
  tests/roles/run_tests/vars/main.yml
  tools/deploy.sh
  tools/remove_local_ironic.sh
  tools/run_local_ironic.sh
  ubuntu_bridge_network_configuration.sh
  vars.md
Due: shellcheck, markdownlint

Do not install Go if system Go is newer than required
  vm-setup/roles/packages_installation/defaults/main.yml
  vm-setup/roles/packages_installation/tasks/main.yml
Due: none

detach node image defaults from Nordix Artifactory
  AGENTS.md
  config_example.sh
  lib/images.sh
  tests/roles/run_tests/tasks/upgrade_k8s.yml
  tests/roles/run_tests/vars/main.yml
  vars.md
Due: shellcheck, markdownlint

Bump markdownlint-cli2 to 0.14.19
  Tiltfile.md
  hack/markdownlint.sh
Due: shellcheck, markdownlint

Make Irso the default for in-cluster Ironic
  02_configure_host.sh
  03_launch_mgmt_cluster.sh
  04_verify.sh
  README.md
  cluster_cleanup.sh
  config_example.sh
  lib/common.sh
  lib/get_component_image.sh
  tests/roles/run_tests/tasks/move.yml
  tests/roles/run_tests/tasks/move_back.yml
  tests/roles/run_tests/vars/main.yml
  tilt-setup/deploy_tilt_env.sh
  tools/deploy.sh
  tools/remove_local_ironic.sh
  tools/run_local_ironic.sh
  ubuntu_bridge_network_configuration.sh
  vars.md
Due: shellcheck, markdownlint

WIP: Fix bash in 04
  04_verify.sh
Due: shellcheck

Fix bash in 03
  03_launch_mgmt_cluster.sh
Due: shellcheck

Fix bash in 03
  03_launch_mgmt_cluster.sh
  lib/common.sh
Due: shellcheck

Add version pinning to IRSOBRANCH and IRSO_TAG
  lib/common.sh
Due: shellcheck

Remove default IRSO_TAG assignment from common.sh
  lib/common.sh
Due: shellcheck

🌱 Remove MariaDB support
  03_launch_mgmt_cluster.sh
  tests/roles/run_tests/vars/main.yml
  vars.md
Due: shellcheck, markdownlint

Make dev-env logs less noisy for Make
  01_prepare_host.sh
  02_configure_host.sh
  03_launch_mgmt_cluster.sh
  04_verify.sh
  ansible.cfg
  host_cleanup.sh
  lib/image_prepull.sh
  vm-setup/roles/firewall/tasks/iptables.yaml
  vm-setup/roles/libvirt/tasks/vm_setup_tasks.yml
Due: shellcheck
