Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test

Path conditions:
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  unit: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  build: any of: ^api|^test|^Makefile$
  test: any of: ^(Makefile|hack/.*)$

make CAPI a pattern in dependabot
  .github/dependabot.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

bump golang to 1.22.8
  Dockerfile
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Add FKAS cluster scalability test
  Makefile
  scripts/ci-e2e.sh
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/fkas/kustomization.yaml
  test/e2e/data/fkas/resources.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-centos-fake/kustomization.yaml
  test/e2e/scalability_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Fix remediation test badge name
  README.md
Due: markdownlint

Adding contracts in configs for tests
  clusterctl-settings.json
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/infrastructure-metal3/main/metadata.yaml
  test/e2e/data/infrastructure-metal3/v1.8/metadata.yaml
  test/e2e/data/shared/v1.8/metadata.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Bump CAPI to v1.8.2
  README.md
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint, build

Update job triggers
  README.md
Due: markdownlint

Fix cert rotation tests
  test/e2e/cert_rotation.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Bump CAPI to v1.8.3
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Uplift BMO to v0.8.0 and IPAM to v1.8.0
  api/go.mod
  api/go.sum
  config/ipam/image_patch.yaml
  config/ipam/kustomization.yaml
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Bump Golang to 1.22.7
  Dockerfile
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

remove release-1.6 from dependabot
  .github/dependabot.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Fix log mesages
  baremetal/metal3data_manager.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Add Metal3 Fake API Server (FKAS)
  .github/dependabot.yml
  .github/workflows/build-fkas-images-action.yml
  Makefile
  docs/releasing.md
  hack/fake-apiserver/Dockerfile
  hack/fake-apiserver/README.md
  hack/fake-apiserver/cmd/metal3-fkas-reconciler/main.go
  hack/fake-apiserver/cmd/metal3-fkas/main.go
  hack/fake-apiserver/cmd/metal3-fkas/utils.go
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  hack/fake-apiserver/k8s/metal3-fkas-system.yaml
  hack/fake-apiserver/k8s/metal3-fkas.yaml
  hack/verify-release.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test

Reuse PR verifier workflow from project-infra
  .github/workflows/pr-verifier.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Increase wait-deployment timeout
  test/e2e/config/e2e_conf.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Add ClusterCacheTracker
  controllers/metal3cluster_controller.go
  controllers/metal3data_controller.go
  controllers/metal3datatemplate_controller.go
  controllers/metal3labelsync_controller.go
  controllers/metal3machine_controller.go
  controllers/metal3machinetemplate_controller.go
  controllers/metal3remediation_controller.go
  main.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Rewrite fetch_target_logs.sh in Golang
  scripts/fetch_target_logs.sh
  test/e2e/common.go
  test/e2e/logcollector.go
  test/e2e/pivoting.go
  test/e2e/upgrade_clusterctl_test.go
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Removing live-iso test
  docs/e2e-test.md
  scripts/ci-e2e.sh
  test/e2e/live_iso_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build

fixing ephemeral test
  test/e2e/common.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Adding more logs to debug cluster deletion failure
  test/e2e/config/e2e_conf.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

delete the step of removing bmh from default namespace
  scripts/ci-e2e.sh
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Add Scalability test
  Makefile
  docs/ip_reuse.md
  go.mod
  scripts/ci-e2e.sh
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/fkas/kustomization.yaml
  test/e2e/data/fkas/resources.yaml
  test/e2e/data/infrastructure-metal3/bases/cluster/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-metal3/bases/cluster/md.yaml
  test/e2e/data/infrastructure-metal3/bases/clusterclass-cluster/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-metal3/bases/clusterclass-cluster/md.yaml
  test/e2e/data/infrastructure-metal3/bases/ippool/ippool.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-centos-fake/kustomization.yaml
  test/e2e/scalability_test.go
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test

Use basic trigger to test the PR
  test/e2e/basic_integration_test.go
  test/e2e/scalability_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Add scalability test
  scripts/ci-e2e.sh
  scripts/environment.sh
  test/e2e/scalability_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Adding more logs and fixing issues in healthcheck test
  test/e2e/basic_integration_test.go
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/healthcheck.go
  test/e2e/integration_test.go
  test/e2e/ip_reuse_test.go
  test/e2e/logcollector.go
  test/e2e/md_remediations_test.go
  test/e2e/pivoting.go
  test/e2e/pivoting_based_feature_test.go
  test/e2e/remediation_based_feature_test.go
  test/e2e/upgrade_clusterctl_test.go
  test/e2e/upgrade_kubernetes_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Bump kustomize/kyaml v0.18.1 and kustomize/kustomize/v5 to v5.5.0
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test

Increase timeout for lint job
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Backport fix for timeout
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Redundant IP claims and related RBAC policies
  controllers/metal3datatemplate_controller.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Updating clusterclt tests for release 1.8
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/bmo-deployment/overlays/release-0.4/kustomization.yaml
  test/e2e/data/bmo-deployment/overlays/release-0.5/ironic.env
  test/e2e/data/bmo-deployment/overlays/release-0.8/ironic.env
  test/e2e/data/bmo-deployment/overlays/release-0.8/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/release-24.0/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-24.1/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/release-24.1/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/release-25.0/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-25.0/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/release-25.0/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/release-26.0/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-26.0/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/release-26.0/kustomization.yaml
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

fix KubeadmControlPlaneTemplate file
  test/e2e/data/infrastructure-metal3/bases/clusterclass-centos-kubeadm-config/clusterclass-centos-kubeadm-config.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Enable TLS 1.3 in CAPM3
  config/manager/manager.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Add scalability test by reusing capi scale e2e test with clusterclass
  Makefile
  go.mod
  scripts/ci-e2e.sh
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/fkas/kustomization.yaml
  test/e2e/data/fkas/resources.yaml
  test/e2e/data/infrastructure-metal3/bases/cluster-with-topology/cluster-with-topology.yaml
  test/e2e/data/infrastructure-metal3/bases/cluster-with-topology/kustomization.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-centos-fake/kustomization.yaml
  test/e2e/data/infrastructure-metal3/clusterclass-metal3/clusterclass-metal3.yaml
  test/e2e/data/infrastructure-metal3/clusterclass-metal3/kustomization.yaml
  test/e2e/scalability_test.go
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

fix go lint issues
  Makefile
  test/e2e/data/fkas/kustomization.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-centos-fake/kustomization.yaml
  test/e2e/scalability_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Fixing healthcheck test flake
  test/e2e/config/e2e_conf.yaml
  test/e2e/healthcheck.go
  test/e2e/remediation_based_feature_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

uplift k8s to v1.31.2
  docs/api.md
  docs/architecture.md
  docs/dev-setup.md
  examples/generate.sh
  hack/ensure-kubectl.sh
  hack/gen_tilt_settings.sh
  scripts/environment.sh
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test
