Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  golint: any of: \.go$
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$

fix: missing isRootVolume attribute for software raid
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation.go
  pkg/provisioner/ironic/raid.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add: unit tests for validations
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_webhook_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fix: address the copilot comments
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation.go
  pkg/provisioner/ironic/raid.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fix: add rootVol field to hardware raid
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_webhook_test.go
  pkg/provisioner/ironic/raid.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fix: apply comments which removes rootVolume option from hardware raid
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_webhook_test.go
  pkg/provisioner/ironic/raid.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Move PreprovisioningImage controller back to public package
  main.go
  pkg/controllers/preprovisioningimage_controller.go
  pkg/controllers/preprovisioningimage_controller_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add support to skip specific parts during setup
  hack/ci-e2e.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

fix: preserve phased-reboot annotations instead of deleting them on soft-reboot fallback
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_controller_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Cache Ironic client and its status across reconciliations
  docs/configuration.md
  pkg/provisioner/ironic/dependencies.go
  pkg/provisioner/ironic/factory.go
  pkg/provisioner/ironic/factory_test.go
  pkg/provisioner/ironic/ironic_test.go
  pkg/provisioner/ironic/ready_test.go
Due: gofmt, gosec, gomod, markdownlint, unit, generate, golint, manifestlint

Only create ports in stable provision states
  pkg/provisioner/ironic/register.go
  pkg/provisioner/ironic/register_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Update logic for HostClaims
  internal/testutil/common.go
  pkg/hostclaim/hostclaim_manager.go
  pkg/hostclaim/hostclaim_manager_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Handling propagation of Detached Annotation
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/hostdeploypolicy_types.go
  config/base/crds/bases/metal3.io_hostdeploypolicies.yaml
  config/render/capm3.yaml
  internal/testutil/common.go
  pkg/hostclaim/hostclaim_manager.go
  pkg/hostclaim/hostclaim_manager_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

apply comments, fix update root device hints
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_webhook_test.go
  pkg/provisioner/ironic/raid.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add BMH finalizer on PreprovisioningImage
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_controller_test.go
  pkg/controllers/preprovisioningimage_controller.go
  pkg/controllers/preprovisioningimage_controller_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Safeguard against empty slice when fetching ports
  pkg/provisioner/ironic/ironic.go
  test/e2e/ironic_helpers.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

e2e: decouple systemrescue and cirros downloads
  hack/ci-e2e.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

use proper IPA cache address
  hack/ci-e2e.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

use proper IPA cache address
  hack/ci-e2e.sh
  ironic-deployment/overlays/e2e/ironic_bmo_configmap.env
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Remove mariadb-image from run_local_ironic.sh
  tools/run_local_ironic.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

Check cross-namespace reference for HostClaim
  internal/webhooks/metal3.io/v1alpha1/hostclaim_validation.go
  internal/webhooks/metal3.io/v1alpha1/hostclaim_validation_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

BMH aware of HostClaims for initialization
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_controller_test.go
  internal/controller/metal3.io/host_config_data.go
  internal/controller/metal3.io/host_config_data_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Refactor bmhSetup to use HostClaim aware BMH
  pkg/hostclaim/hostclaim_manager.go
  pkg/hostclaim/hostclaim_manager_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fix dependabots build workflop step
  .github/workflows/dependabot.yml
Due: gosec, gomod, unit, generate, manifestlint

Omit empty checksum from provisioning error message
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add test for OCI image provisioning failure error message
  pkg/provisioner/ironic/provision_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Bump cluster-api to v1.12.9
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint, test

Bump cluster-api to v1.13.3
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint, test

feat: implement structured logging pattern
  internal/controller/metal3.io/action_result.go
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/host_state_machine.go
  internal/controller/metal3.io/hostfirmwarecomponents_controller.go
  internal/controller/metal3.io/hostfirmwaresettings_controller.go
  internal/controller/metal3.io/logging.go
  main.go
  main_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

:rocket: Release v0.12.5
  releasenotes/v0.12.5.md
Due: markdownlint

Add a timeout for Ironic endpoint validation
  cmd/get-hardware-details/main.go
  docs/configuration.md
  pkg/provisioner/ironic/clients/client.go
  pkg/provisioner/ironic/clients/client_test.go
  pkg/provisioner/ironic/factory.go
  pkg/provisioner/ironic/factory_test.go
  pkg/provisioner/ironic/ironic_test.go
Due: gofmt, gosec, gomod, markdownlint, unit, generate, golint, manifestlint

Clean-up temporary CA files when Ironic CR are used
  pkg/provisioner/ironic/clients/client.go
  pkg/provisioner/ironic/factory.go
  pkg/provisioner/ironic/factory_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint
