Repository metal3-io/metal3-dev-env: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)

e2e: force reconcile to avoid bmh inspection issues
  tests/roles/run_tests/tasks/force_reconcile_bmh.yml
  tests/roles/run_tests/tasks/main.yml
  tests/roles/run_tests/tasks/move.yml
Due: none

Add architecture field
  vm-setup/roles/common/defaults/main.yml
  vm-setup/roles/common/templates/ironic_nodes.json.j2
Due: none

Add aarch64 support to libvirt VM
  vm-setup/roles/libvirt/templates/baremetalvm.xml.j2
Due: none

Allow overriding of the libvirt VM template
  vm-setup/roles/libvirt/tasks/vm_setup_tasks.yml
Due: none

add re-approve workflow for github workflows
  .github/workflows/pr-gh-workflow-approve.yaml
Due: none

add dependabot config
  .github/dependabot.yml
Due: none

Modernize renovate.json to v42+ standards
  renovate.json
Due: none

Add support for release-1.12
  README.md
  lib/common.sh
  lib/releases.sh
Due: shellcheck, markdownlint

Change CNI_NAME to CNI_PROVIDER
  tests/roles/run_tests/tasks/verify.yml
  tests/roles/run_tests/vars/main.yml
Due: none

Uplift kubernetes version to v1.35.0
  config_example.sh
  lib/common.sh
  renovate.json
  tests/roles/run_tests/vars/main.yml
  vars.md
Due: shellcheck, markdownlint

Add aarch64 support to libvirt VM
  vm-setup/roles/libvirt/defaults/main.yml
  vm-setup/roles/libvirt/templates/baremetalvm.xml.j2
Due: none

Remove IPAM related temporary changes
  03_launch_mgmt_cluster.sh
  03_launch_mgmt_cluster_pre_1_10.sh
  04_verify.sh
  tests/roles/run_tests/tasks/move.yml
Due: shellcheck

Add in-place upgrade test related changes
  03_launch_mgmt_cluster.sh
Due: shellcheck

Add templates for v1.12
  tests/roles/run_tests/templates/release-1.12/Metal3MachineTemplate.yml
  tests/roles/run_tests/templates/release-1.12/capm3-clusterctl-settings.json
  tests/roles/run_tests/templates/release-1.12/cluster-api-clusterctl-settings.json
  tests/roles/run_tests/templates/release-1.12/cluster-template-cluster.yaml
  tests/roles/run_tests/templates/release-1.12/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.12/cluster-template-controlplane-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/release-1.12/cluster-template-controlplane-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/release-1.12/cluster-template-controlplane.yaml
  tests/roles/run_tests/templates/release-1.12/cluster-template-workers-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.12/cluster-template-workers-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/release-1.12/cluster-template-workers-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/release-1.12/cluster-template-workers.yaml
  tests/roles/run_tests/templates/release-1.12/clusterctl-vars.yaml
  tests/roles/run_tests/templates/release-1.12/machine-healthcheck-controlplane.yaml
  tests/roles/run_tests/templates/release-1.12/machine-healthcheck-worker.yaml
  tests/roles/run_tests/templates/release-1.12/metal3datatemplate-template.yaml
Due: none

Fix SKIP_NODE_IMAGE_PREPULL to only skip download
  lib/image_prepull.sh
Due: shellcheck

Remove release-1.9 templates and scripts
  lib/common.sh
  tests/roles/run_tests/templates/release-1.12/cluster-template-controlplane-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/release-1.8/Metal3MachineTemplate.yml
  tests/roles/run_tests/templates/release-1.8/capm3-clusterctl-settings.json
  tests/roles/run_tests/templates/release-1.8/cluster-api-clusterctl-settings.json
  tests/roles/run_tests/templates/release-1.8/cluster-template-cluster.yaml
  tests/roles/run_tests/templates/release-1.8/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.8/cluster-template-controlplane-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/release-1.8/cluster-template-controlplane.yaml
  tests/roles/run_tests/templates/release-1.8/cluster-template-workers-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.8/cluster-template-workers-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/release-1.8/cluster-template-workers.yaml
  tests/roles/run_tests/templates/release-1.8/clusterctl-vars.yaml
  tests/roles/run_tests/templates/release-1.8/machine-healthcheck-controlplane.yaml
  tests/roles/run_tests/templates/release-1.8/machine-healthcheck-worker.yaml
  tests/roles/run_tests/templates/release-1.8/metal3datatemplate-template.yaml
  tests/roles/run_tests/templates/release-1.9/Metal3MachineTemplate.yml
  tests/roles/run_tests/templates/release-1.9/capm3-clusterctl-settings.json
  tests/roles/run_tests/templates/release-1.9/cluster-api-clusterctl-settings.json
  tests/roles/run_tests/templates/release-1.9/cluster-template-cluster.yaml
  tests/roles/run_tests/templates/release-1.9/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.9/cluster-template-controlplane-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/release-1.9/cluster-template-controlplane.yaml
  tests/roles/run_tests/templates/release-1.9/cluster-template-workers-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.9/cluster-template-workers-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/release-1.9/cluster-template-workers.yaml
  tests/roles/run_tests/templates/release-1.9/clusterctl-vars.yaml
  tests/roles/run_tests/templates/release-1.9/machine-healthcheck-controlplane.yaml
  tests/roles/run_tests/templates/release-1.9/machine-healthcheck-worker.yaml
  tests/roles/run_tests/templates/release-1.9/metal3datatemplate-template.yaml
Due: shellcheck

Add aarch64 support to libvirt VM
  vm-setup/roles/libvirt/defaults/main.yml
  vm-setup/roles/libvirt/tasks/vm_setup_tasks.yml
  vm-setup/roles/libvirt/templates/baremetalvm.xml.j2
Due: none

kind network setup for ironic
  03_launch_mgmt_cluster.sh
  lib/common.sh
Due: shellcheck

enable renovate config auto migration
  renovate.json
Due: none

Fix renovate customManagers
  renovate.json
Due: none

Validate GitHub release exists before downloading clusterctl
  03_launch_mgmt_cluster.sh
  lib/releases.sh
Due: shellcheck

Test CAPM3 and BMO
  lib/common.sh
Due: shellcheck

add hack/renovate-validator.sh
  hack/renovate-validator.sh
Due: shellcheck

Add retry logic to CentOS/RHEL dnf tasks for transient failures
  vm-setup/roles/packages_installation/tasks/centos_required_packages.yml
  vm-setup/roles/packages_installation/tasks/main.yml
Due: none

Fix ipAddressesFromIPPool and prefixesFromIPPool for main
  tests/roles/run_tests/templates/main/metal3datatemplate-template.yaml
Due: none

Fetch Ansible collections from git to avoid Galaxy API errors
  vm-setup/requirements.yml
Due: none

WIP: Secure boot POC
  02_configure_host.sh
  hack/test-secure-boot.sh
  lib/common.sh
  lib/network.sh
  vm-setup/roles/libvirt/defaults/main.yml
  vm-setup/roles/libvirt/templates/baremetalvm.xml.j2
  vm-setup/roles/packages_installation/defaults/main.yml
  vm-setup/roles/virtbmc/tasks/setup_tasks.yml
Due: shellcheck

integrate keylime secure boot attestation
  hack/keylime/agents/agent-configmap.yaml
  hack/keylime/agents/agent-daemonset-hw.yaml
  hack/keylime/agents/agent/Dockerfile
  hack/keylime/agents/agent/dbus-policy.conf
  hack/keylime/agents/agent/keylime-agent.conf
  hack/keylime/agents/agent/start.sh
  hack/keylime/agents/agent/swtpm-init.sh
  hack/keylime/agents/device-plugin.yaml
  hack/keylime/agents/namespace.yaml
  hack/keylime/infra/configmaps/registrar.conf
  hack/keylime/infra/configmaps/tenant.conf
  hack/keylime/infra/configmaps/verifier.conf
  hack/keylime/infra/namespace.yaml
  hack/keylime/infra/registrar-deployment.yaml
  hack/keylime/infra/registrar-service.yaml
  hack/keylime/infra/tenant-pod.yaml
  hack/keylime/infra/verifier-deployment.yaml
  hack/keylime/infra/verifier-service.yaml
  hack/test-keylime-attestation.sh
Due: shellcheck

enforce ol-prefix 'one' style for ordered lists
  Tiltfile.md
Due: markdownlint

fix the markdownlint config file
  .markdownlint-cli2.yaml
Due: none

enforce ol-prefix 'one' style for ordered lists (#1635)
  .markdownlint-cli2.yaml
  Tiltfile.md
Due: markdownlint

add negative test
  hack/test-keylime-attestation.sh
Due: shellcheck

add container platform option
  02_configure_host.sh
  lib/common.sh
  lib/image_prepull.sh
  vars.md
Due: shellcheck, markdownlint

registry
  02_configure_host.sh
Due: shellcheck
