Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:latest
      imagePullPolicy: Always

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:latest
      imagePullPolicy: Always

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:stable
      imagePullPolicy: Always

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/generate.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

golint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/golint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: quay.io/metal3-io/golint:latest
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/garethr/kubeval:latest
      imagePullPolicy: Always

Uplift k8s.io/* to v0.24.2, controller runtime to v0.12.3 and controller tools to v0.9.1
  apis/go.mod
  apis/go.sum
  config/crd/bases/metal3.io_baremetalhosts.yaml
  config/crd/bases/metal3.io_bmceventsubscriptions.yaml
  config/crd/bases/metal3.io_firmwareschemas.yaml
  config/crd/bases/metal3.io_hardwaredata.yaml
  config/crd/bases/metal3.io_hostfirmwaresettings.yaml
  config/crd/bases/metal3.io_preprovisioningimages.yaml
  config/render/capm3.yaml
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gosec, gomod, unit, generate, manifestlint

remove kubebuilder validation
  apis/metal3.io/v1alpha1/baremetalhost_types.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Move fmuyassarov to emeritus_approvers
  OWNERS
Due: none

storage_interface update debug
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fix boot from volume for provisioing state
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  controllers/metal3.io/baremetalhost_controller.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add Boot-From-Volume for provisioing state check
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  controllers/metal3.io/host_state_machine.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

change some definition
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Remove upstream release GitHub workflow
  .github/workflows/release.yaml
Due: gosec, gomod, unit, generate, manifestlint

Decouple hostData logic from main reconcile function
  controllers/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Delete controller flag for baremetalhost for secret
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/baremetalhost_controller_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

update versioning to match new package release versions
  apis/go.mod
  go.mod
Due: gosec, gomod, unit, generate, manifestlint

Set external_http_url on the node when BMC is IPv6
  docs/configuration.md
  pkg/provisioner/ironic/factory.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/validatemanagementaccess_test.go
Due: gofmt, gosec, gomod, markdownlint, unit, generate, golint, manifestlint

Update vendor
  apis/vendor/modules.txt
  vendor/modules.txt
Due: gosec, gomod, unit, generate, manifestlint

run_local_ironic.sh: make HTTP_PORT customizable
  tools/run_local_ironic.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

Add issue and PR templates to the repo
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  hack/markdownlint.sh
Due: gosec, gomod, markdownlint, shellcheck, unit, generate, manifestlint

Remove controller owner references from existing BMC secrets
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/preprovisioningimage_controller.go
  pkg/secretutils/secret_manager.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

run_local_ironic.sh: add proxy setting
  tools/run_local_ironic.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

Exclude hosts with virtual media from PROVISIONING_LIMIT
  docs/configuration.md
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/provisioncapacity_test.go
Due: gofmt, gosec, gomod, markdownlint, unit, generate, golint, manifestlint

Bump golang to v1.18
  .github/workflows/release.yaml
  Dockerfile
  Tiltfile
  apis/go.mod
  apis/go.sum
  go.mod
  go.sum
  hack/Dockerfile.golint
  hack/generate.sh
  hack/gofmt.sh
  hack/gomod.sh
  hack/tools/go.mod
  hack/tools/go.sum
  hack/unit.sh
  pkg/hardwareutils/go.mod
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

Add LLDPProcessed information from ironic-inspector data
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/metal3.io_baremetalhosts.yaml
  config/crd/bases/metal3.io_hardwaredata.yaml
  config/render/capm3.yaml
  pkg/provisioner/ironic/hardwaredetails/hardwaredetails.go
  pkg/provisioner/ironic/hardwaredetails/hardwaredetails_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add Kashif Khan as approver
  OWNERS
Due: none

add SECURITY_CONTACTS file
  SECURITY_CONTACTS
Due: gosec, gomod, unit, generate, manifestlint

build: introduce support for FROM overrides
  Dockerfile
  resources/keepalived-docker/Dockerfile
Due: gosec, gomod, unit, generate, manifestlint

Ironic-deployment: Use kustomize components
  .gitignore
  Makefile
  docs/deploying.md
  ironic-deployment/README.md
  ironic-deployment/base/ironic.yaml
  ironic-deployment/base/kustomization.yaml
  ironic-deployment/basic-auth/default/auth.yaml
  ironic-deployment/basic-auth/ironic-rpc-auth-config-tpl
  ironic-deployment/basic-auth/keepalived/auth.yaml
  ironic-deployment/basic-auth/keepalived/kustomization.yaml
  ironic-deployment/basic-auth/tls/default/kustomization.yaml
  ironic-deployment/basic-auth/tls/keepalived/auth.yaml
  ironic-deployment/basic-auth/tls/keepalived/kustomization.yaml
  ironic-deployment/certmanager/kustomization.yaml
  ironic-deployment/components/basic-auth/auth.yaml
  ironic-deployment/components/basic-auth/ironic-auth-config-tpl
  ironic-deployment/components/basic-auth/ironic-inspector-auth-config-tpl
  ironic-deployment/components/basic-auth/kustomization.yaml
  ironic-deployment/components/keepalived/ironic_bmo_configmap.env
  ironic-deployment/components/keepalived/keepalived_patch.yaml
  ironic-deployment/components/keepalived/kustomization.yaml
  ironic-deployment/components/tls/certificate.yaml
  ironic-deployment/components/tls/kustomization.yaml
  ironic-deployment/components/tls/kustomizeconfig.yaml
  ironic-deployment/components/tls/tls.yaml
  ironic-deployment/default/kustomization.yaml
  ironic-deployment/keepalived/kustomization.yaml
  ironic-deployment/overlays/basic-auth_tls/basic-auth_tls.yaml
  ironic-deployment/overlays/basic-auth_tls/kustomization.yaml
  ironic-deployment/overlays/basic-auth_tls_keepalived/kustomization.yaml
  ironic-deployment/tls/default/kustomization.yaml
  ironic-deployment/tls/keepalived/kustomization.yaml
  ironic-deployment/tls/keepalived/tls.yaml
  tools/deploy.sh
  tools/run_local_ironic.sh
Due: gosec, gomod, markdownlint, shellcheck, unit, generate, manifestlint

Run make fmt to fix issues
  apis/metal3.io/v1alpha1/groupversion_info.go
  pkg/provisioner/ironic/testserver/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Test
  ironic-deployment/ironic/ironic.yaml
Due: gosec, gomod, unit, generate, manifestlint

Dockerfile: use apt-get instead of apt
  resources/keepalived-docker/Dockerfile
Due: gosec, gomod, unit, generate, manifestlint

Dockerfile: fix used ubuntu version to 22.04
  resources/keepalived-docker/Dockerfile
Due: gosec, gomod, unit, generate, manifestlint

Fix mac address for demo and fixture provisioners
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Uplift to go/etcd.io/etcd/v3
  go.mod
  go.sum
  pkg/provisioner/ironic/clients/client.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Fix endless requeue of HostFirmwareSettings
  controllers/metal3.io/hostfirmwaresettings_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Bump golang to v1.19 and related changes
  Dockerfile
  Tiltfile
  apis/go.mod
  go.mod
  hack/Dockerfile.golint
  hack/generate.sh
  hack/gofmt.sh
  hack/gomod.sh
  hack/tools/go.mod
  hack/unit.sh
  pkg/hardwareutils/go.mod
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

Bump golang dependencies
  apis/go.mod
  apis/go.sum
  config/crd/bases/metal3.io_baremetalhosts.yaml
  config/crd/bases/metal3.io_bmceventsubscriptions.yaml
  config/crd/bases/metal3.io_firmwareschemas.yaml
  config/crd/bases/metal3.io_hardwaredata.yaml
  config/crd/bases/metal3.io_hostfirmwaresettings.yaml
  config/crd/bases/metal3.io_preprovisioningimages.yaml
  config/render/capm3.yaml
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gosec, gomod, unit, generate, manifestlint

Fix golangci-lint and uplift to v1.50.1
  hack/Dockerfile.golint
  hack/golint.sh
  hack/tools/go.mod
  hack/tools/go.sum
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

markdown: pin mdl to 0.12 and fix complaints
  docs/api.md
  hack/markdownlint.sh
Due: gosec, gomod, markdownlint, shellcheck, unit, generate, manifestlint

Add release and versioning process
  CONTRIBUTING.md
Due: markdownlint

Bump golang 1.19 in release.yml
  .github/workflows/release.yaml
Due: gosec, gomod, unit, generate, manifestlint

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: \.md$
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  golint: any of: \.go$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$
