Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test, build-fkas

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

golangci-lint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/ensure-golangci-lint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

govet:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/govet.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/codegen.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

build:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/build.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

Bump k8s version to v1.37.0
  Makefile
  docs/api.md
  docs/architecture.md
  docs/dev-setup.md
  docs/e2e-test.md
  examples/generate.sh
  hack/ensure-kubectl.sh
  hack/gen_tilt_settings.sh
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Update cluster upgrade test
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Bump crypto to v0.56.0
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Add Alloy log collectors
  hack/kind_with_registry.sh
  hack/log-collection/alloy-docker-config.alloy
  hack/log-collection/alloy-manifests.yaml
  hack/log-collection/cleanup-host-docker-logs.sh
  hack/log-collection/deploy-alloy.sh
  hack/log-collection/docker-compose.host-logs.yml
  hack/log-collection/setup-host-docker-logs.sh
  scripts/ci-e2e.sh
  test/e2e/common.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Bump BMO and IPAM.
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test, build-fkas

✨ Pass ociAuthSecretName through to the BareMetalHost
  api/v1beta1/common_types.go
  api/v1beta1/common_types_test.go
  api/v1beta1/conversion.go
  api/v1beta1/zz_generated.conversion.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta2/common_types.go
  api/v1beta2/common_types_test.go
  api/v1beta2/zz_generated.deepcopy.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machinetemplates.yaml
  docs/api.md
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint, build, build-fkas

:rocket: Release v1.13.4
  releasenotes/v1.13.4.md
Due: markdownlint

e2e: decouple from metal3-dev-env using vbmctl CLI
  .gitignore
  Makefile
  docs/e2e-networking.md
  docs/e2e-test.md
  hack/build-vbmctl.sh
  hack/ensure-docker.sh
  hack/ensure-kubectl.sh
  hack/install-go.sh
  hack/setup-bml.sh
  scripts/ci-e2e.sh
  scripts/environment.sh
  scripts/fetch_manifests.sh
  test/e2e/bmh_generator.go
  test/e2e/cert_rotation.go
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/config/vbmctl.yaml.tmpl
  test/e2e/data/.gitignore
  test/e2e/data/infrastructure-metal3/main-v1beta1/cluster-template-ubuntu/kustomization.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/ip_reuse_test.go
  test/e2e/k8s_in_place_upgrade_test.go
  test/e2e/logcollector.go
  test/e2e/md_remediations_test.go
  test/e2e/node_reuse.go
  test/e2e/pivoting.go
  test/e2e/pivoting_based_feature_test.go
  test/e2e/remediation.go
  test/e2e/remediation_based_feature_test.go
  test/e2e/scalability_test.go
  test/e2e/upgrade_clusterctl_test.go
  test/e2e/upgrade_kubernetes_n3_test.go
  test/e2e/upgrade_kubernetes_test.go
  test/e2e/vbmctl_helpers.go
  test/go.mod
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test, build-fkas

🌱 e2e: fix scalability test for vbmctl-based setup
  Makefile
  docs/scalability-test.md
  hack/setup-bml.sh
  scripts/ci-e2e.sh
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/config/vbmctl.yaml.tmpl
  test/e2e/data/ironic-standalone-operator/ironic/base/ironic.yaml
  test/e2e/scalability_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test, build-fkas

E2E: Define latest BMO and Ironic versions for upgrades
  test/e2e/config/e2e_conf.yaml
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

e2e: add failure domain placement e2e test
  Makefile
  docs/e2e-test.md
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/infrastructure-metal3/main/cluster-template-centos-failure-domain/failure-domain.yaml
  test/e2e/data/infrastructure-metal3/main/cluster-template-centos-failure-domain/kustomization.yaml
  test/e2e/data/infrastructure-metal3/main/cluster-template-opensuse-leap-failure-domain/failure-domain.yaml
  test/e2e/data/infrastructure-metal3/main/cluster-template-opensuse-leap-failure-domain/kustomization.yaml
  test/e2e/data/infrastructure-metal3/main/cluster-template-ubuntu-failure-domain/failure-domain.yaml
  test/e2e/data/infrastructure-metal3/main/cluster-template-ubuntu-failure-domain/kustomization.yaml
  test/e2e/failure_domain.go
  test/e2e/failure_domain_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Fix cluster upgrade test release-1.14
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Add id-token permission to build-images-pr workflow
  .github/workflows/build-images-pr.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Add separate golangci and kube-api-lint make targets for CI
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Add nuhakala and terror96 as reviewer
  OWNERS_ALIASES
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

These lints checks now run as Prow presubmits:
  .github/security-insights.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/kube-api-lint.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Remove golangci-lint and kube-api-lint GH Actions workflows for release-1.14
  .github/security-insights.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/kube-api-lint.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Bump IPAM and BMO to 1.14.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test, build-fkas

Bump cel-go 0.30.0, grpc 1.83.2, crypto 0.56.0, mod 0.40.0
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test, build-fkas

Add connection test using Goldpinger
  test/e2e/config/e2e_conf.yaml
  test/e2e/goldpinger.go
  test/e2e/integration_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

:rocket: Release v1.14.0
  releasenotes/v1.14.0.md
Due: markdownlint

Fix k8s conformance test
  test/e2e/data/kubetest/conformance.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Post release cleanup in main
  .github/dependabot.yml
  README.md
  docs/e2e-test.md
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint

e2e: decouple from metal3-dev-env using vbmctl CLI
  .gitignore
  Makefile
  docs/e2e-networking.md
  docs/e2e-test.md
  hack/ensure-docker.sh
  hack/ensure-kubectl.sh
  hack/fetch-vbmctl.sh
  hack/install-go.sh
  hack/setup-bml.sh
  scripts/ci-e2e.sh
  scripts/environment.sh
  scripts/fetch_manifests.sh
  test/e2e/bmh_generator.go
  test/e2e/cert_rotation.go
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/config/vbmctl.yaml.tmpl
  test/e2e/data/.gitignore
  test/e2e/data/infrastructure-metal3/main-v1beta1/cluster-template-ubuntu/kustomization.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/ip_reuse_test.go
  test/e2e/k8s_in_place_upgrade_test.go
  test/e2e/logcollector.go
  test/e2e/md_remediations_test.go
  test/e2e/node_reuse.go
  test/e2e/pivoting.go
  test/e2e/pivoting_based_feature_test.go
  test/e2e/provisioning_network.go
  test/e2e/remediation.go
  test/e2e/remediation_based_feature_test.go
  test/e2e/scalability_test.go
  test/e2e/upgrade_clusterctl_test.go
  test/e2e/upgrade_kubernetes_n3_test.go
  test/e2e/upgrade_kubernetes_test.go
  test/e2e/vbmctl_helpers.go
  test/go.mod
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Bump grpc to 1.83.2 and containerd to 1.7.35
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test, build-fkas

🌱 e2e: fix scalability test for vbmctl-based setup
  Makefile
  docs/scalability-test.md
  hack/setup-bml.sh
  scripts/ci-e2e.sh
  scripts/environment.sh
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/config/vbmctl.yaml.tmpl
  test/e2e/data/ironic-standalone-operator/ironic/base/ironic.yaml
  test/e2e/pivoting.go
  test/e2e/scalability_test.go
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Use uname instead of OSTYPE to fix kubectl installation and upgrades in Leap login shells
  hack/ensure-kubectl.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, test

🐛 e2e: fix vbmctl libvirt connection on openSUSE Leap
  hack/fetch-vbmctl.sh
  hack/setup-bml.sh
  scripts/ci-e2e.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, test

Add e2e test coverage for BMH-to-Node label sync
  test/e2e/basic_integration_test.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/integration_test.go
  test/e2e/label_sync.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Group shared gomod dependencies in Dependabot config
  .github/dependabot.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Remove github actions update for release branch
  .github/dependabot.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Removes the Metal3Machine owner reference from Metal3Data objects.
  baremetal/metal3data_manager_test.go
  baremetal/metal3datatemplate_manager.go
  baremetal/metal3datatemplate_manager_test.go
  baremetal/suite_test.go
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_test.go
  test/e2e/common.go
  test/extension/handlers/inplaceupdate/handlers.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Path conditions:
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  unit: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  build: (any of: ^api|^test|^Makefile$) or (any of: ^api|^test|^Makefile$|^hack/build.sh$)
  test: any of: ^(Makefile|hack/.*)$
  build-fkas: any of: ^hack/fake-apiserver|^api|^Makefile$|^hack/build.sh$
