Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

golangci-lint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/ensure-golangci-lint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

govet:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/govet.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/codegen.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

build:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/build.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

Fix the tag (dependabot issue)
  .github/workflows/lint-docs.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

fix distroless:nonroot pinning
  Dockerfile
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Include all gomods in different dirs for Dependabot
  .github/dependabot.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Add md_remediation test
  Makefile
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-md-remediation/kustomization.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-md-remediation/md.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-md-remediation/mhc.yaml
  test/e2e/md_remediations_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Remove skipping e2e upgrade test workaround
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Removed mariadb restart check in certRotation test
  test/e2e/cert_rotation_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Fix docker containerStop function options
  test/e2e/pivoting.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Bump controller-runtime to v0.15.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Adjust webhooks
  api/v1beta1/metal3cluster_webhook.go
  api/v1beta1/metal3cluster_webhook_test.go
  api/v1beta1/metal3data_webhook.go
  api/v1beta1/metal3data_webhook_test.go
  api/v1beta1/metal3dataclaim_webhook.go
  api/v1beta1/metal3dataclaim_webhook_test.go
  api/v1beta1/metal3datatemplate_webhook.go
  api/v1beta1/metal3datatemplate_webhook_test.go
  api/v1beta1/metal3machine_webhook.go
  api/v1beta1/metal3machine_webhook_test.go
  api/v1beta1/metal3machinetemplate_webhook.go
  api/v1beta1/metal3machinetemplate_webhook_test.go
  api/v1beta1/metal3remediation_webhook.go
  api/v1beta1/metal3remediation_webhook_test.go
  api/v1beta1/metal3remediationtemplate_webhook.go
  api/v1beta1/metal3remediationtemplate_webhook_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Adjust controller setup, mapping funcs and fakeclient
  baremetal/metal3cluster_manager_test.go
  baremetal/metal3data_manager_test.go
  baremetal/metal3datatemplate_manager_test.go
  baremetal/metal3machine_manager_test.go
  baremetal/metal3machinetemplate_manager_test.go
  baremetal/metal3remediation_manager_test.go
  baremetal/remote/remote_test.go
  baremetal/suite_test.go
  controllers/metal3cluster_controller.go
  controllers/metal3cluster_controller_integration_test.go
  controllers/metal3data_controller.go
  controllers/metal3data_controller_test.go
  controllers/metal3datatemplate_controller.go
  controllers/metal3datatemplate_controller_test.go
  controllers/metal3labelsync_controller.go
  controllers/metal3labelsync_controller_test.go
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_integration_test.go
  controllers/metal3machine_controller_test.go
  controllers/metal3machinetemplate_controller.go
  controllers/metal3machinetemplate_controller_test.go
  controllers/metal3remediation_controller_test.go
  controllers/suite_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Adjust to webhook.Server changes
  main.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Fix infinite untainting loop in node reuse test
  test/e2e/node_reuse_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

test/e2e: set logger
  api/go.sum
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3clusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3dataclaims.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datas.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datatemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3remediations.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3remediationtemplates.yaml
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/e2e/e2e_suite_test.go
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Added tls configuration flags for CAPM3.
  main.go
  main_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Refactor taint usage and flow controll in node_reuse e2e test
  test/e2e/config/e2e_conf.yaml
  test/e2e/node_reuse.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

ignore ipam in dependabot config
  .github/dependabot.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

bump IPAM to 1.4.1
  api/go.mod
  api/go.sum
  config/ipam/image_patch.yaml
  config/ipam/kustomization.yaml
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Bump golang to v1.20
  .github/workflows/release.yaml
  .golangci.yaml
  Dockerfile
  Tiltfile
  api/go.mod
  go.mod
  hack/build.sh
  hack/codegen.sh
  hack/gofmt.sh
  hack/gomod.sh
  hack/govet.sh
  hack/unit.sh
  test/go.mod
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

remove ipam pool reference defaulting to metal3
  api/v1beta1/metal3datatemplate_webhook.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Added tls configuration flags for CAPM3.
  main.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Fix k8s version based on clusterctl upgrade version
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/upgrade_management_cluster_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Bump golangci-lint to v1.52.1
  .github/workflows/golangci-lint.yml
  .golangci.yaml
  Makefile
  api/v1beta1/metal3cluster_webhook.go
  api/v1beta1/metal3machine_webhook.go
  api/v1beta1/metal3machine_webhook_test.go
  api/v1beta1/metal3machinetemplate_webhook.go
  api/v1beta1/metal3machinetemplate_webhook_test.go
  api/v1beta1/metal3remediation_webhook.go
  api/v1beta1/metal3remediationtemplate_webhook.go
  baremetal/metal3cluster_manager.go
  baremetal/metal3data_manager.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  baremetal/suite_test.go
  controllers/metal3remediation_controller.go
  controllers/suite_test.go
  hack/ensure-golangci-lint.sh
  test/e2e/common.go
  test/e2e/remediation.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

remove .mdlrc and fix complaints
  .mdlrc
  CONTRIBUTING.md
  README.md
  docs/api.md
  docs/architecture.md
  docs/dev-setup.md
  docs/disk_cleaning.md
  docs/e2e-test.md
  docs/getting-started.md
  docs/ip_reuse.md
  docs/remediation-controller.md
  hack/markdownlint.sh
  test/README.md
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build

rename upgrade managment clusterctl e2e test and remove passed msg from aftereach
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Set M3M concurrency to 1 and add warning
  main.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

remove bmo after repivote
  test/e2e/pivoting.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Add test failing and flaking issue templates
  .github/ISSUE_TEMPLATE/failing-test.yaml
  .github/ISSUE_TEMPLATE/flaking-test.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

fix flaking test template
  .github/ISSUE_TEMPLATE/flaking-test.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Enable Mariadb instead of SQLite
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Backport Enable mariadb instead of SQLite
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Backport enable mariadb for release-1.3
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Introduce ReconcileError with Transient and Terminal Error type Remove RequeueAfterError(depricated in CAPI) Remove repetative error setting on m3Machine
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  baremetal/metal3datatemplate_manager.go
  baremetal/metal3datatemplate_manager_test.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  baremetal/reconcile_error.go
  baremetal/reconcile_error_test.go
  baremetal/requeue_error.go
  baremetal/requeue_error_test.go
  baremetal/utils.go
  baremetal/utils_test.go
  controllers/metal3data_controller.go
  controllers/metal3data_controller_test.go
  controllers/metal3datatemplate_controller.go
  controllers/metal3datatemplate_controller_test.go
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

add features label for e2e feature tests for ginkgo focus remove depricated container-runtime flag
  scripts/environment.sh
  test/e2e/data/infrastructure-metal3/bases/centos-kubeadm-config/centos-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/bases/cluster/md.yaml
  test/e2e/data/infrastructure-metal3/bases/ubuntu-kubeadm-config/ubuntu-kubeadm-config.yaml
  test/e2e/upgrade_kubernetes_test.go
  test/e2e/upgrade_management_cluster_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Revert "🌱 E2e: Support running Ironic with MariaDB"
  test/e2e/cert_rotation.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/pivoting.go
  test/e2e/upgrade_ironic.go
  test/e2e/upgrade_management_cluster_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Revert "🐛Enable Mariadb instead of SQLite"
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Revert "🐛Manual back port enabling mariadb instead of SQLite for release-1.4"
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Added a log collector implementation for Metal3
  test/e2e/common.go
  test/e2e/e2e_suite_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Edit integration test to call DumpSpecResourcesAndCleanup and collect logs
  test/e2e/integration_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Path conditions:
  gomod: unless all of: (((^|/)OWNERS)|(\.md))$
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: \.md$
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$
  build: any of: ^api|^test|^Makefile$
