Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  golint: any of: \.go$
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$

vbmctl: launch BMC emulator after network initialization
  test/vbmctl/cmd/vbmctl/create.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

bump minimumg required go version to 1.26.0
  .golangci.yaml
  Dockerfile
  Dockerfile.plugin-test
  Makefile
  Tiltfile
  apis/go.mod
  go.mod
  hack/e2e/ensure_go.sh
  hack/generate.sh
  hack/gomod.sh
  hack/tools/go.mod
  main.go
  pkg/hardwareutils/bmc/access_test.go
  pkg/hardwareutils/go.mod
  test/go.mod
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

E2E: Remove confusing image overrides
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e/ironic.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e/kustomization.yaml
Due: gosec, gomod, unit, generate, manifestlint

🌱 Require explicit GitHub token for release notes tool
  Makefile
  hack/tools/release/notes.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

Change ironic version to 31.0 to prevent BMO perioodic failures
  test/e2e/config/ironic.yaml
Due: gosec, gomod, unit, generate, manifestlint

Add support to skip specific parts during setup
  hack/ci-e2e.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Bump go modules accross three directories
  apis/go.mod
  apis/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint

🌱 Harden hack scripts against WORKDIR volume mount injection
  hack/generate.sh
  hack/gomod.sh
  hack/manifestlint.sh
  hack/markdownlint.sh
  hack/shellcheck.sh
Due: gosec, gomod, markdownlint, shellcheck, unit, generate, manifestlint, test

Deprecate BMH Taints field
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

e2e: support and use IrSO 0.10, support Ironic 37.0
  test/e2e/config/ironic.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-37.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/irso-v0.10/kustomization.yaml
Due: gosec, gomod, unit, generate, manifestlint

:rocket: Release v0.14.0-beta.0
  releasenotes/v0.14.0-beta.0.md
Due: markdownlint

Pin ironic version to 35.0 in default e2e overlay
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e/ironic.yaml
Due: gosec, gomod, unit, generate, manifestlint

Remove gopher and ftp from allowed URL schemes
  internal/webhooks/metal3.io/v1alpha1/common_validation.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

🌱 Remove MariaDB support from BMO
  Makefile
  hack/tools/deploy-cli/deploy-cli.go
  hack/tools/deploy-cli/main.go
  hack/tools/deploy-cli/templates/ironic-kustomize-bmopath.tpl
  hack/tools/deploy-cli/templates/ironic-kustomize.tpl
  hack/tools/deploy-cli/templates/ironic_bmo_configmap_env.tpl
  ironic-deployment/README.md
  ironic-deployment/components/mariadb/certificate.yaml
  ironic-deployment/components/mariadb/kustomization.yaml
  ironic-deployment/components/mariadb/mariadb_patch.yaml
  ironic-deployment/overlays/basic-auth_tls_keepalived_mariadb/kustomization.yaml
  tools/deploy.sh
  tools/remove_local_ironic.sh
  tools/run_local_ironic.sh
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

:seedling: Add unit tests for getDiskType, getStorageDetails, getCPUDetails, getSystemVendorDetails
  pkg/provisioner/ironic/hardwaredetails/hardwaredetails.go
  pkg/provisioner/ironic/hardwaredetails/hardwaredetails_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Bump golangci-lint to v2.12.2 and fix new findings
  .github/workflows/golangci-lint.yml
  .golangci.yaml
  Makefile
  cmd/make-bm-worker/templates/templates.go
  internal/controller/metal3.io/baremetalswitch_config.go
  pkg/hardwareutils/bmc/credentials.go
  pkg/hostclaim/hostclaim_manager.go
  pkg/provisioner/ironic/clients/auth.go
  pkg/provisioner/ironic/clients/updateopts.go
  pkg/provisioner/ironic/factory.go
  pkg/provisioner/ironic/testserver/server.go
  pkg/version/version.go
  test/vbmctl/pkg/libvirt/vm.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

Clarify security disclaimers in README and configuration files for development use only
  config/README.md
  config/default/ironic.env
  docs/dev-setup.md
  ironic-deployment/README.md
Due: gosec, gomod, markdownlint, unit, generate, manifestlint

vbmctl: validate BMC is running
  hack/ci-e2e.sh
  test/vbmctl/cmd/vbmctl/create.go
  test/vbmctl/cmd/vbmctl/create_test.go
  test/vbmctl/pkg/containers/bmc_emulator.go
  test/vbmctl/pkg/containers/bmc_emulator_test.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

Remove golangci-lint github actions in favor of prow one
  .github/security-insights.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/pipeline.yml
Due: gosec, gomod, unit, generate, manifestlint

Add items section for ironic-cacert secret in tls.yaml
  ironic-deployment/components/tls/tls.yaml
Due: gosec, gomod, unit, generate, manifestlint

Add E2E tests for dataimage finalizer removal
  internal/controller/metal3.io/dataimage_controller_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Delete detached hosts promptly even before the status flips
  internal/controller/metal3.io/host_state_machine.go
  internal/controller/metal3.io/host_state_machine_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Double quote all script variables
  hack/check-e2e.sh
  hack/ci-e2e.sh
  hack/kind_with_registry.sh
  hack/shellcheck.sh
  tools/bmh_test/clean_local_bmh_test_setup.sh
  tools/deploy.sh
  tools/run_local_ironic.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Add E2E tests for dataimage finalizer removal
  config/overlays/e2e/dataimage/kustomization.yaml
  config/overlays/e2e/dataimage/namespace.yaml
  config/overlays/e2e/kustomization.yaml
  config/overlays/e2e/namespaced-manager-patch.yaml
  test/e2e/dataimage_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add provisioning retry limit to prevent infinite loops
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/host_state_machine.go
  internal/controller/metal3.io/host_state_machine_test.go
  main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add fast Redfish-based inspection mode
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation_test.go
  pkg/hardwareutils/bmc/access.go
  pkg/hardwareutils/bmc/access_test.go
  pkg/hardwareutils/bmc/idrac_virtualmedia.go
  pkg/hardwareutils/bmc/ipmi.go
  pkg/hardwareutils/bmc/redfish.go
  pkg/hardwareutils/bmc/redfish_https.go
  pkg/provisioner/ironic/inspecthardware.go
  pkg/provisioner/ironic/inspecthardware_test.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/prepare_test.go
  pkg/provisioner/ironic/register.go
  pkg/provisioner/ironic/register_test.go
  pkg/provisioner/ironic/servicing_test.go
  pkg/provisioner/ironic/testbmc/testbmc.go
  pkg/provisioner/provisioner.go
  test/e2e/inspection_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

e2e: fix a typo in the expected state
  test/e2e/externally_provisioned_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Harden E2E script downloads with integrity verification
  .github/workflows/pipeline.yml
  .github/workflows/verify-e2e-checksums.yml
  Makefile
  hack/ci-e2e.sh
  hack/e2e/checksums.sh
  hack/e2e/ensure_docker.sh
  hack/e2e/ensure_go.sh
  hack/e2e/ensure_kubectl.sh
  hack/e2e/ensure_yq.sh
  hack/e2e/update-checksums.sh
  hack/e2e/verify-checksums.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Build vbmctl as a release artifact
  .github/workflows/release.yaml
  Makefile
  test/vbmctl/pkg/config/config.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

vbmctl: Refactor BMC emulator config handling
  test/vbmctl/README.md
  test/vbmctl/cmd/vbmctl/config.go
  test/vbmctl/cmd/vbmctl/create.go
  test/vbmctl/pkg/api/types.go
  test/vbmctl/pkg/api/types_test.go
  test/vbmctl/pkg/config/config.go
  test/vbmctl/pkg/config/config_test.go
  test/vbmctl/pkg/containers/bmc_emulator.go
  test/vbmctl/pkg/containers/doc.go
Due: gofmt, gosec, gomod, markdownlint, unit, generate, golint, manifestlint

Add scalibilty tests
  Makefile
  config/base/certmanager/certificate.yaml
  hack/check-e2e.sh
  hack/scalability-tests/README.md
  hack/scalability-tests/generate-bmhs/main.go
  hack/scalability-tests/run.sh
  hack/scalability-tests/test-output-analysis.md
  test/e2e/config/fixture.yaml
  test/e2e/scalability_test.go
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Add API types for switch port configuration
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/hostnetworkattachment_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add Ironic provisioner support for switch port configuration
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/overlays/e2e/ironic.env
  config/overlays/fixture/kustomization.yaml
  config/render/capm3.yaml
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/factory.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/ironic_networking.go
  pkg/provisioner/ironic/ironic_networking_test.go
  pkg/provisioner/ironic/register.go
  pkg/provisioner/ironic/register_test.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add LLDP fallback to updateNodePort
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/register.go
  pkg/provisioner/ironic/register_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add reconciler support for switch port configuration
  config/base/rbac/role.yaml
  config/render/capm3.yaml
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_network.go
  internal/controller/metal3.io/baremetalhost_network_test.go
  internal/controller/metal3.io/host_state_machine.go
  internal/controller/metal3.io/host_state_machine_test.go
  main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add E2E tests for switch port configuration
  config/overlays/e2e/kustomization.yaml
  config/overlays/e2e/namespaced-manager-patch.yaml
  config/overlays/e2e/networking/kustomization.yaml
  config/overlays/e2e/networking/namespace.yaml
  config/overlays/e2e/roles-rolebindings/roles-rolebindings.yaml
  test/e2e/README.md
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/ironic_helpers_test.go
  test/e2e/networking_test.go
Due: gofmt, gosec, gomod, markdownlint, unit, generate, golint, manifestlint

Document networking environment variables
  docs/configuration.md
Due: markdownlint

e2e: also test automated cleaning on enrollment
  test/e2e/automated_cleaning_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Run BMO with a read-only root filesystem
  config/base/manager.yaml
  config/render/capm3.yaml
Due: gosec, gomod, unit, generate, manifestlint

[Starlark] Add out-of-tree Starlark provisioner plugin
  .github/workflows/build-fork-image.yml
  out-of-tree/.dockerignore
  out-of-tree/.gitignore
  out-of-tree/Dockerfile
  out-of-tree/Makefile
  out-of-tree/README.md
  out-of-tree/go.mod
  out-of-tree/go.sum
  out-of-tree/hack/retarget-bmo.sh
  out-of-tree/hostresolver.go
  out-of-tree/mask.go
  out-of-tree/mask_test.go
  out-of-tree/plugin/main.go
  out-of-tree/provisioner.go
  out-of-tree/scripts/efi-vmedia.star
  out-of-tree/starlark.go
  out-of-tree/starlib/builtins.go
  out-of-tree/starlib/const.go
  out-of-tree/starlib/convert.go
  out-of-tree/starlib/convert_test.go
  out-of-tree/starlib/hostresolver.go
  out-of-tree/starlib/ipmi.go
  out-of-tree/starlib/kube.go
  out-of-tree/starlib/log.go
  out-of-tree/starlib/redfish.go
  out-of-tree/starlib/redfish_inventory.go
  out-of-tree/starlib/redfish_inventory_test.go
  out-of-tree/starlib/threadlocal.go
  out-of-tree/starscript/starscript.go
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint
