Repository metal3-io/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: check-prow-config, markdownlint, shellcheck, spellcheck

check-prow-config:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20210916-7657ce97bf
      args:
      - /checkconfig
      - --config-path
      - prow/config/config.yaml
      - --plugin-config
      - prow/config/plugins.yaml
      - --strict
      resources:
        requests:
          memory: 500Mi

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint-cli2:0.12.0@sha256:a3977fba9814f10d33a1d69ae607dc808e7a6470b2ba03e84c17193c0791aac0
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.10.0@sha256:5921d946dac740cbeec2fb1c898747b6105e585130cc7f0602eec9a10f7ddb63
  ...

spellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/spellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: ghcr.io/streetsidesoftware/cspell:8.13.3@sha256:03df0e485775a43531c9c0e829227f39b3380796e92faab4166137dc5712d40a
      imagePullPolicy: Always

Updated the URLs in prow/README.md
  Issue.md
Due: markdownlint, spellcheck

include Jenkins worker network info in logs
  jenkins/scripts/dynamic_worker_workflow/fetch_logs.sh
Due: check-prow-config, shellcheck

Add n+3 test trigger to PROW
  prow/config/jobs/metal3-io/cluster-api-provider-metal3.yaml
Due: check-prow-config

Fix line length issues for redirect URLs
  prow/README.md
Due: markdownlint, spellcheck

Prow: Document status-reconciler bucket
  prow/README.md
Due: markdownlint, spellcheck

amend Lychee config for PR checks as well
  .github/workflows/pr-link-check.yml
Due: check-prow-config

Add configuration for ironic-image release-33.0
  prow/config/jobs/metal3-io/ironic-image-release-33.0.yaml
  prow/config/plugins.yaml
Due: check-prow-config

make dev-env tests in ironic-image use PR content
  jenkins/scripts/dynamic_worker_workflow/test_env.sh
Due: check-prow-config, shellcheck

fix dev-env e2e to have 3h timeout
  jenkins/jobs/dev_env_integration_tests.groovy
Due: check-prow-config

Add groovy linter for Jenkins pipeline scripts
  .github/workflows/pr-groovy-lint.yml
Due: check-prow-config

Fix pipeline script with groovy linter
  jenkins/jobs/capm3-e2e-tests.groovy
  jenkins/jobs/osv_scanner_metal3.groovy
  jenkins/jobs/pre_release_tests.groovy
Due: check-prow-config

lint: allow long lines in tables and code fences
  .markdownlint-cli2.yaml
Due: check-prow-config

reduce Lychee concurrency to avoid rate limiting
  .github/workflows/pr-link-check.yml
  .github/workflows/scheduled-link-check.yml
Due: check-prow-config

add AGENTS.md
  .cspell-config.json
  .gitignore
  AGENTS.md
  CLAUDE.md
Due: check-prow-config, markdownlint, spellcheck

add shellcheck for irso main prow job
  prow/config/jobs/metal3-io/ironic-standalone-operator.yaml
Due: check-prow-config

Add new test scripts for bml
  jenkins/scripts/bare_metal_lab/bml_test/Configure_Host.sh
  jenkins/scripts/bare_metal_lab/bml_test/Launch_bootstrap_cluster.sh
  jenkins/scripts/bare_metal_lab/bml_test/clean.sh
  jenkins/scripts/bare_metal_lab/bml_test/lib/ironic_basic_auth.sh
  jenkins/scripts/bare_metal_lab/bml_test/lib/ironic_tls_setup.sh
  jenkins/scripts/bare_metal_lab/bml_test/libvirt_network/external.xml
  jenkins/scripts/bare_metal_lab/bml_test/libvirt_network/provisioning.xml
Due: check-prow-config, shellcheck

Add tool to compare built ipa and master ipa initramfs
  hack/ipa_debug_tools.sh
Due: check-prow-config, shellcheck

Configure CI for IrSO release-0.7
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.7.yaml
  prow/config/plugins.yaml
Due: check-prow-config

add re-approve workflow for github workflows
  .github/workflows/pr-gh-workflow-approve.yaml
Due: check-prow-config

Fix osv scanner to also check pre-releases
  jenkins/jobs/osv_scanner_metal3.groovy
Due: check-prow-config

update yamllint to add ignore path
  .github/workflows/yamllint.yaml
Due: check-prow-config

extend prow_test_dumper.py to check whole branch config
  .gitignore
  hack/prow_test_dumper.py
Due: check-prow-config

cleanup locked ironic-image and irso branches
  prow/config/jobs/metal3-io/ironic-image-release-28.0.yaml
  prow/config/jobs/metal3-io/ironic-image-release-30.0.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.4.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.5.yaml
Due: check-prow-config

Add IPAM,CAPM3 release-1.12 and BMO release-0.12 to prow
  prow/config/jobs/metal3-io/baremetal-operator-release-0.12.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.12.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.12.yaml
Due: check-prow-config

Update ironic image release 33.0 tests with release-1.12 triggers
  prow/config/jobs/metal3-io/ironic-image-release-33.0.yaml
Due: check-prow-config

Add release-1.12 tests for dev-env, ipa and mariadb
  prow/config/jobs/metal3-io/ironic-ipa-downloader.yaml
  prow/config/jobs/metal3-io/mariadb-image.yaml
  prow/config/jobs/metal3-io/metal3-dev-env.yaml
Due: check-prow-config

Update Readme with release-1.12 triggers
  jenkins/README.md
Due: markdownlint, spellcheck

Update milestone applier config
  prow/config/plugins.yaml
Due: check-prow-config

Fix dev env integration tests pipeline broken link
  jenkins/README.md
Due: markdownlint, spellcheck

Remove unused e2e features pipeline
  jenkins/jobs/e2e_features_test.groovy
Due: check-prow-config

test commit
  jenkins/scripts/bare_metal_lab/bml_test/clean.sh
  jenkins/scripts/bare_metal_lab/bml_test/configure_Host.sh
  jenkins/scripts/bare_metal_lab/bml_test/launch_bootstrap_cluster.sh
  jenkins/scripts/bare_metal_lab/bml_test/lib/_clouds_yaml/clouds.yaml
  jenkins/scripts/bare_metal_lab/bml_test/lib/ironic_tls_setup.sh
  jenkins/scripts/bare_metal_lab/bml_test/lib/libvirt_network/external.xml
  jenkins/scripts/bare_metal_lab/bml_test/lib/libvirt_network/provisioning.xml
  jenkins/scripts/bare_metal_lab/bml_test/lib/vars.sh
  jenkins/scripts/bare_metal_lab/bml_test/manifests/v1beta1_cluster_centos.yaml
  jenkins/scripts/bare_metal_lab/bml_test/manifests/v1beta1_controlplane_centos.yaml
  jenkins/scripts/bare_metal_lab/bml_test/manifests/v1beta1_workers_centos.yaml
  jenkins/scripts/bare_metal_lab/bml_test/verify.sh
Due: check-prow-config, shellcheck

remove 1.9/0.9 series prow tests
  prow/config/jobs/metal3-io/baremetal-operator-release-0.9.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.9.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.9.yaml
Due: check-prow-config

make metal3-dev-env not require release-1-11 test
  prow/config/jobs/metal3-io/metal3-dev-env.yaml
Due: check-prow-config

Uplift k8s version to v1.35.0
  jenkins/image_building/build-image.sh
Due: check-prow-config, shellcheck

Bump k8s to v1.35
  jenkins/image_building/build-image.sh
  jenkins/jobs/pre_release_tests.groovy
Due: check-prow-config, shellcheck

Path conditions:
  check-prow-config: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: any of: (\.md|markdownlint\.sh)$
  shellcheck: any of: ((\.sh)|^Makefile)$
  spellcheck: any of: (\.md|spellcheck\.sh|.cspell-config.json)$
