Repository metal3-io/metal3-dev-env: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: \.md$

lib: change release fetching logic
  lib/releases.sh
Due: shellcheck

markdown: pin mdl to 0.12.0 and fix complaints
  hack/markdownlint.sh
  tests/feature_tests/README.md
Due: shellcheck, markdownlint

Add release-1.2 CAPM3/IPAM branch logic
  README.md
  lib/common.sh
Due: shellcheck, markdownlint

Update dependency ansible to v7.1.0
  lib/common.sh
Due: shellcheck

Bump BMO to relase 0.2.x
  lib/releases.sh
Due: shellcheck

shellcheck: pin shellcheck to v0.9.0
  01_prepare_host.sh
  04_verify.sh
  hack/shellcheck.sh
Due: shellcheck

bind registry to an EXTERNAL_SUBNET_V4_HOST
  02_configure_host.sh
Due: shellcheck

Fix BMO Local image building var naming
  lib/common.sh
Due: shellcheck

Configure vlan interface in centos when EXTERNAL_VLAN_ID is set
  tests/roles/run_tests/templates/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/cluster-template-workers-kubeadm-config-centos.yaml
Due: none

Bump k8s to v1.26.0
  config_example.sh
  lib/common.sh
  renovate.json
  tests/feature_tests/feature_test_vars.sh
  tests/feature_tests/node_reuse/node_reuse_vars.sh
  tests/feature_tests/upgrade/upgrade_vars.sh
  tests/roles/run_tests/tasks/upgrade.yml
  tests/roles/run_tests/vars/main.yml
  vars.md
Due: shellcheck, markdownlint

Update CAPI/CAPM3_REL_TO_VERSION vars in upgrade vars script
  tests/feature_tests/upgrade/upgrade_vars.sh
  tests/roles/run_tests/tasks/upgrade.yml
Due: shellcheck

Remove downgrading NetworkManager, failure after creating bridge is gone on newer version on NetworkManager
  01_prepare_host.sh
Due: shellcheck

Support deploying Ironic with/without MariaDB
  03_launch_mgmt_cluster.sh
  tests/roles/run_tests/tasks/move.yml
  tests/roles/run_tests/tasks/move_back.yml
  tests/roles/run_tests/tasks/upgrade.yml
  tests/roles/run_tests/vars/main.yml
  vars.md
Due: shellcheck, markdownlint

.github: secure github actions
  .github/workflows/kubesec.yml
Due: none

Change deprecated egrep with grep -E
  tests/roles/run_tests/tasks/node_reuse.yml
  tests/roles/run_tests/tasks/remediation.yml
Due: none

uplift golang to 1.19.4
  vm-setup/install-package-playbook.yml
Due: none

use docker.io consistently as image registry
  hack/markdownlint.sh
Due: shellcheck

add retry config to apt
  01_prepare_host.sh
Due: shellcheck

controlplane and worker deprovision scripts are removed.
  tests/scripts/deprovision/controlplane.sh
  tests/scripts/deprovision/worker.sh
Due: shellcheck

adding deprovisioning of kcp and worker back.
  tests/roles/run_tests/tasks/main.yml
  tests/roles/run_tests/vars/main.yml
Due: none

install kubectl completion file by default
  01_prepare_host.sh
Due: shellcheck

Remove yarn installation
  vm-setup/roles/packages_installation/defaults/main.yml
  vm-setup/roles/packages_installation/tasks/ubuntu_required_packages.yml
Due: none

update readme
  README.md
Due: markdownlint

sync pip kubernetes version in ubuntu with centos
  vm-setup/roles/packages_installation/defaults/main.yml
Due: none

Uplift kind version
  lib/common.sh
Due: shellcheck

Add lentzi90 as an approver
  OWNERS
Due: none

update user-guide url
  SECURITY_CONTACTS
Due: none

readme: add information how to develop with Tilt
  README.md
Due: markdownlint

add tuminoid to reviewers
  OWNERS
Due: none

Workaround to fix github api limit for capi release
  lib/releases.sh
Due: shellcheck

remove depricated apt_key ansible module
  vm-setup/roles/packages_installation/tasks/ubuntu_required_packages.yml
Due: none

fix dev-env installation on ubuntu 18.04/centos 8
  lib/common.sh
  vm-setup/roles/packages_installation/defaults/main.yml
Due: shellcheck

Added bug report template
  Bug_Report_Template.txt
Due: none

Update Bug_Report_Template.txt
  Bug_Report_Template.txt
Due: none

Add files via upload
  ISSUE_TEMPLATE/bug_report.md.txt
Due: none

Delete ISSUE_TEMPLATE directory
  ISSUE_TEMPLATE/bug_report.md.txt
Due: none

remove unsupported OSes
  01_prepare_host.sh
  README.md
  lib/common.sh
  vm-setup/roles/libvirt/tasks/vm_setup_tasks.yml
  vm-setup/roles/packages_installation/defaults/main.yml
  vm-setup/roles/packages_installation/tasks/centos_required_packages.yml
  vm-setup/roles/packages_installation/tasks/main.yml
Due: shellcheck, markdownlint

Update and rename Bug_Report_Template.txt to Bug_Report_Template.md
  Bug_Report_Template.md
Due: markdownlint

Allow metal3-dev-env to run on a generic ubuntu VM
  01_prepare_host.sh
  02_configure_host.sh
  vars.md
  vm-setup/roles/firewall/defaults/main.yml
  vm-setup/roles/firewall/tasks/iptables.yaml
  vm-setup/roles/libvirt/defaults/main.yml
  vm-setup/roles/libvirt/tasks/vm_setup_tasks.yml
  vm-setup/roles/libvirt/templates/baremetalvm.xml.j2
  vm-setup/roles/packages_installation/defaults/main.yml
  vm-setup/roles/packages_installation/tasks/ubuntu_required_packages.yml
Due: shellcheck, markdownlint

Use pagination when requesting github API
  lib/releases.sh
Due: shellcheck
