Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/generate.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

golint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/golint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

test:
  decorate: true
  spec:
    containers:
    - args:
      - test
      command:
      - make
      image: quay.io/metal3-io/basic-checks:golang-1.24
      imagePullPolicy: Always

:rocket: Release v0.13.1
  releasenotes/v0.13.1.md
Due: markdownlint

vbmctl: Make VM template portable across distros
  test/vbmctl/pkg/libvirt/templates/VM.xml.tpl
Due: gosec, gomod, unit, generate, manifestlint

Fix missing target name in .PHONY declaration for mod
  Makefile
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Rename getSecretData() to getSecretDataWithFinalizer(), as the function can add a finalizer to the Secret
  internal/controller/metal3.io/host_config_data.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Fix OperationalStatusAllowed and ErrorTypeAllowed to match CRD enums
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add BMH and HNA types and cross resource validation
  .golangci.yaml
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/hostnetworkattachment_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/base/crds/bases/metal3.io_hostnetworkattachments.yaml
  config/base/crds/kustomization.yaml
  config/base/webhook/manifests.yaml
  config/render/capm3.yaml
  config/samples/metal3.io_v1alpha1_baremetalhost.yaml
  config/samples/metal3.io_v1alpha1_hostnetworkattachment.yaml
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation_test.go
  internal/webhooks/metal3.io/v1alpha1/hostnetworkattachment_validation.go
  internal/webhooks/metal3.io/v1alpha1/hostnetworkattachment_validation_test.go
  internal/webhooks/metal3.io/v1alpha1/hostnetworkattachment_webhook.go
  main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Make NeedsMAC semantics consistent across BMC drivers
  internal/controller/metal3.io/baremetalhost_controller.go
  pkg/hardwareutils/bmc/access.go
  pkg/hardwareutils/bmc/access_test.go
  pkg/hardwareutils/bmc/idrac_virtualmedia.go
  pkg/hardwareutils/bmc/ipmi.go
  pkg/hardwareutils/bmc/redfish.go
  pkg/hardwareutils/bmc/redfish_https.go
  pkg/hardwareutils/bmc/redfish_virtualmedia.go
  pkg/provisioner/ironic/register.go
  pkg/provisioner/ironic/register_test.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add support to skip specific parts during setup
  hack/ci-e2e.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

build: Replace make docker-build with container build reusable workflow
  .github/workflows/build-images-pr.yml
  .github/workflows/build-pr.yml
Due: gosec, gomod, unit, generate, manifestlint

Switch generate.sh script to use ro mount
  Makefile
  hack/generate.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

:sparkles: surface missing or inaccessible referenced config Secrets in BMH status
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/errors.go
  internal/controller/metal3.io/host_config_data.go
  internal/controller/metal3.io/host_config_data_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Restore delete permission on secrets
  config/base/rbac/role.yaml
  config/render/capm3.yaml
  internal/controller/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Buble up of ironic provisioning states/steps to node status
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/host_state_machine.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/result.go
  pkg/provisioner/ironic/step_descriptions.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

e2e tests bios firmware upgrade
  config/overlays/e2e/firmware-components/kustomization.yaml
  config/overlays/e2e/firmware-components/namespace.yaml
  config/overlays/e2e/kustomization.yaml
  config/overlays/e2e/namespaced-manager-patch.yaml
  test/e2e/config/ironic.yaml
  test/e2e/firmware_components_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Fix common logging code and move to reusable location
  .golangci.yaml
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/host_state_machine.go
  internal/controller/metal3.io/hostfirmwarecomponents_controller.go
  internal/controller/metal3.io/hostfirmwaresettings_controller.go
  pkg/logging/logging.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Adjust logging levels per real life debugging experience
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/host_state_machine.go
  internal/controller/metal3.io/hostfirmwarecomponents_controller.go
  internal/controller/metal3.io/hostfirmwaresettings_controller.go
  pkg/provisioner/ironic/factory.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Split BMO and Ironic upgrade tests
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/e2e_config.go
  test/e2e/upgrade_bmo_test.go
  test/e2e/upgrade_common_test.go
  test/e2e/upgrade_ironic_test.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Guard nil namespace and nil cancelWatches in upgrade E2E teardown
  test/e2e/e2e_suite_test.go
  test/e2e/upgrade_common_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

apply comments
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_webhook_test.go
  pkg/provisioner/ironic/raid.go
  pkg/provisioner/ironic/raid_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Delete BMHs before other resources in e2e test cleanup, when BMO is ns-scoped
  test/e2e/common.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Handle generation mismatch in servicing error recovery
  internal/controller/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

e2e: rely on toCleanup for abort test teardown
  test/e2e/firmware_settings_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Fix HFS setCondition ignoring ObservedGeneration changes
  internal/controller/metal3.io/hostfirmwaresettings_controller.go
  internal/controller/metal3.io/hostfirmwaresettings_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Harden servicing abort fast-path and add tests
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_controller_test.go
  test/e2e/firmware_settings_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add vendor, model, serial_number to HostFirmwareComponents status
  apis/metal3.io/v1alpha1/hostfirmwarecomponents_types.go
  config/base/crds/bases/metal3.io_hostfirmwarecomponents.yaml
  config/render/capm3.yaml
  go.mod
  go.sum
  pkg/provisioner/ironic/clients/features.go
  pkg/provisioner/ironic/clients/features_test.go
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Collect BMC emulator logs in e2e tests
  hack/ci-e2e.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

e2e: Add user data secrets to cleanup list
  test/e2e/automated_cleaning_test.go
  test/e2e/common.go
  test/e2e/firmware_settings_test.go
  test/e2e/forced_detachment_test.go
  test/e2e/network_data_test.go
  test/e2e/provisioning_and_annotation_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

End to end tests for HostClaims
  config/overlays/e2e/cluster-role.yaml
  config/overlays/e2e/hostclaims-infra/kustomization.yaml
  config/overlays/e2e/hostclaims-infra/namespace.yaml
  config/overlays/e2e/hostclaims-tenant/kustomization.yaml
  config/overlays/e2e/hostclaims-tenant/namespace.yaml
  config/overlays/e2e/kustomization.yaml
  config/overlays/e2e/namespaced-manager-patch.yaml
  hack/check-e2e.sh
  test/e2e/common.go
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/hostclaim_provisioning_test.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

Use equality.Semantic.DeepEqual for HNA spec comparison
  internal/webhooks/metal3.io/v1alpha1/hostnetworkattachment_validation.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Anchor regex patterns for SwitchID and MACAddress validation
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Check AddToScheme errors in HNA webhook tests
  internal/webhooks/metal3.io/v1alpha1/hostnetworkattachment_validation_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Fix credentials not persisted while waiting for PreprovisioningImage
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/host_state_machine_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

e2e: fall back to upstream images if artifactory is not available
  hack/ci-e2e.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Add provisioner support for switch port configuration
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  internal/controller/metal3.io/host_state_machine_test.go
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/factory.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/ironic_networking.go
  pkg/provisioner/ironic/ironic_networking_test.go
  pkg/provisioner/ironic/register.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add support for switch port configuration
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/base/rbac/role.yaml
  config/overlays/e2e/ironic.env
  config/overlays/e2e/kustomization.yaml
  config/overlays/e2e/namespaced-manager-patch.yaml
  config/overlays/e2e/networking/kustomization.yaml
  config/overlays/e2e/networking/namespace.yaml
  config/overlays/e2e/roles-rolebindings/roles-rolebindings.yaml
  config/overlays/fixture/kustomization.yaml
  config/render/capm3.yaml
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_network.go
  internal/controller/metal3.io/baremetalhost_network_test.go
  internal/controller/metal3.io/host_state_machine.go
  internal/controller/metal3.io/host_state_machine_test.go
  main.go
  pkg/provisioner/fixture/fixture.go
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/ironic_helpers_test.go
  test/e2e/networking_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Apply port config and LLDP data during port creation in registration
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/ironic_networking.go
  pkg/provisioner/ironic/ironic_networking_test.go
  pkg/provisioner/ironic/register.go
  pkg/provisioner/ironic/register_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

e2e: disable cleaning before the test is over
  test/e2e/automated_cleaning_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2E: Verify Ironic TLS and basic-auth
  test/e2e/common.go
  test/e2e/e2e_suite_test.go
  test/e2e/ironic_helpers.go
  test/e2e/upgrade_bmo_test.go
  test/e2e/upgrade_ironic_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Bump go modules across two directories
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  golint: any of: \.go$
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$
