Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, golint, govet, markdownlint, shellcheck, generate, unit, manifestlint

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

golint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/golint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

govet:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/govet.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:latest
      imagePullPolicy: Always

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:stable
      imagePullPolicy: Always

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/codegen.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/garethr/kubeval:latest
      imagePullPolicy: Always

Add some docs on e2e tests, especially upgrade BMO/Ironic
  README.md
  docs/e2e-test.md
Due: markdownlint

Fix bmhID parsing when providerid is set on the node directly.
  baremetal/metal3machine_manager.go
Due: gofmt, golint, govet, generate, unit, manifestlint

tools: Fix mockgen path in tools.go
  hack/tools/tools.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Support multiple providerID formats
  baremetal/metal3data_manager.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  baremetal/mocks/zz_generated.metal3machine_manager.go
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_integration_test.go
  controllers/metal3machine_controller_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

SKip CI test
  OWNERS
  README.md
  VERSIONING.md
  docs/e2e-test.md
Due: markdownlint

:bug: Fix recursion in deleteOwnerRefFromList
  baremetal/metal3machine_manager.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Add gosec file for go security checks
  hack/gosec.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Use crypto/rand instead of math/rand
  baremetal/metal3machine_manager.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Reassign loop variable to address gosec G601
  baremetal/metal3datatemplate_manager.go
  baremetal/metal3machine_manager.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Cleanup bad filepath using filepath.Clean
  test/e2e/common.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Fix unsafe defer call to file.Close()
  test/e2e/common.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Exclude rule G107 and include concurrency
  hack/gosec.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Add e2e tests for ephemeral cluster
  Makefile
  scripts/ci-e2e.sh
  test/e2e/cert_rotation_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/e2e_test.go
  test/e2e/node_reuse_test.go
  test/e2e/upgrade_baremetal_operator_test.go
  test/e2e/upgrade_ironic_test.go
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Add mboukhalfa as reviewer
  OWNERS
Due: none

Add concurrency parameter in gosec
  hack/gosec.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Fix node reuse test for ephemeral cluster
  test/e2e/node_reuse_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Uplift BMO to latest 2022/03
  go.mod
  go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Update module path in hack/tools
  hack/tools/go.mod
Due: gofmt, golint, govet, generate, unit, manifestlint

set providerID from nodes when noCloudProvider is set to false
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  baremetal/mocks/zz_generated.metal3machine_manager.go
  baremetal/suite_test.go
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_integration_test.go
  controllers/metal3machine_controller_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

:seedling:Depricate golint
  .golangci.yaml
  hack/ensure-golangci-lint.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

:seeding: Rename golint to golangci-lint
  .golangci.yaml
  hack/ensure-golangci-lint.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Add unit tests for setting providerID at Node level
  baremetal/metal3machine_manager_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Uplift IPAM in go modules
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Point to v1.1.2 IPAM release in config
  config/ipam/image_patch.yaml
  config/ipam/kustomization.yaml
Due: gofmt, golint, govet, generate, unit, manifestlint

Add namespace to test case object names.
  controllers/suite_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

k8s_version
  docs/api.md
  docs/dev-setup.md
  examples/generate.sh
  hack/gen_tilt_settings.sh
Due: gofmt, golint, govet, markdownlint, shellcheck, generate, unit, manifestlint

Update Versioning notes
  VERSIONING.md
Due: markdownlint

Uplift CAPM3 version to v1.1.1
  README.md
  test/e2e/config/e2e_conf.yaml
Due: gofmt, golint, govet, markdownlint, generate, unit, manifestlint

Reduce dependencies on dev-env
  Makefile
  hack/e2e/environment.sh
  scripts/ci-e2e.sh
  scripts/environment.sh
  test/e2e/cert_rotation_test.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/pivoting_test.go
  test/e2e/remediation_test.go
  test/e2e/upgrade_management_cluster_test.go
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

fix value of v1beta1.SettingProviderIDOnNodeFailedReason
  api/v1beta1/condition_consts.go
Due: gofmt, golint, govet, generate, unit, manifestlint

fix value of v1beta1.MissingBMHReason
  api/v1beta1/condition_consts.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Upgrade to controller-runtime v0.11.2
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Backporting commit 446 to release-0.5
  Makefile
  baremetal/mocks/zz_generated.metal3machinetemplate_manager.go
  controllers/metal3machinetemplate_controller_test.go
  controllers/suite_test.go
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Backporting commit 540 to release-0.5 (cherry picked from commit 0c507ceeead584c260490c99384379e31f1fcfdf)
  Makefile
  api/v1alpha5/metal3machine_types.go
  baremetal/metal3machinetemplate_manager_test.go
  controllers/metal3machinetemplate_controller.go
  controllers/metal3machinetemplate_controller_test.go
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Add and update unit tests for metal3remediation manager.
  baremetal/metal3remediation_manager_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Add logging for metadata and networkdata
  baremetal/metal3data_manager.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Add v1beta1 provider import to importas linter alias as infrav1
  .golangci.yaml
  baremetal/manager_factory.go
  baremetal/manager_factory_test.go
  baremetal/metal3cluster_manager.go
  baremetal/metal3cluster_manager_test.go
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  baremetal/metal3datatemplate_manager.go
  baremetal/metal3datatemplate_manager_test.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  baremetal/metal3machinetemplate_manager.go
  baremetal/metal3machinetemplate_manager_test.go
  baremetal/metal3remediation_manager.go
  baremetal/metal3remediation_manager_test.go
  baremetal/suite_test.go
  baremetal/utils.go
  baremetal/utils_test.go
  controllers/metal3cluster_controller.go
  controllers/metal3cluster_controller_integration_test.go
  controllers/metal3data_controller.go
  controllers/metal3data_controller_test.go
  controllers/metal3datatemplate_controller.go
  controllers/metal3datatemplate_controller_test.go
  controllers/metal3labelsync_controller.go
  controllers/metal3labelsync_controller_test.go
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_integration_test.go
  controllers/metal3machine_controller_test.go
  controllers/metal3machinetemplate_controller.go
  controllers/metal3machinetemplate_controller_test.go
  controllers/metal3remediation_controller.go
  controllers/metal3remediation_controller_test.go
  controllers/suite_test.go
  main.go
  test/e2e/e2e_suite_test.go
  test/e2e/node_reuse_test.go
  test/e2e/pivoting_test.go
  test/e2e/remediation_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Add baremetal operator imports to importas linter alias as bmov1alpha1
  .golangci.yaml
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  baremetal/metal3remediation_manager.go
  baremetal/metal3remediation_manager_test.go
  baremetal/suite_test.go
  controllers/metal3labelsync_controller.go
  controllers/metal3labelsync_controller_test.go
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_integration_test.go
  controllers/metal3machine_controller_test.go
  controllers/metal3remediation_controller_test.go
  controllers/suite_test.go
  main.go
  test/e2e/common.go
  test/e2e/e2e_suite_test.go
  test/e2e/inspection_test.go
  test/e2e/node_reuse_test.go
  test/e2e/pivoting_test.go
  test/e2e/remediation_test.go
  test/e2e/upgrade_management_cluster_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Add capm3 v1alpha5 api import alias configuration to importas linter
  .golangci.yaml
Due: gofmt, golint, govet, generate, unit, manifestlint

Path conditions:
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  golint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: \.md$
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$
