Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test

Path conditions:
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  unit: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  build: any of: ^api|^test|^Makefile$
  test: any of: ^(Makefile|hack/.*)$

Fix e2e pivoting(node_reuse) test
  test/e2e/config/e2e_conf.yaml
  test/e2e/node_reuse.go
  test/e2e/pivoting_based_feature_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Only use Kustomize to install Ironic and BMO in e2e tests
  test/e2e/common.go
  test/e2e/logcollector.go
  test/e2e/pivoting.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Update clusterctl tests for 1.9
  docs/e2e-test.md
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/bmo-deployment/overlays/release-0.6/ironic.env
  test/e2e/data/bmo-deployment/overlays/release-0.6/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/release-25.0/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-25.0/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/release-25.0/kustomization.yaml
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build

DNM: some timeout changes for testing
  test/e2e/config/e2e_conf.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

bump CAPM3 dependency in FKAS to correct branch
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, test

Revert "Remove Metal3Machine owner reference from BMH"
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  test/e2e/pivoting.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Revert "e2e: account for ironic-standalone-operator in pivoting tests"
  scripts/ci-e2e.sh
  test/e2e/cert_rotation.go
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/pivoting.go
  test/e2e/upgrade_clusterctl_test.go
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Reapply "Remove Metal3Machine owner reference from BMH"
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  test/e2e/pivoting.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Check if detach annotation helps
  test/e2e/pivoting.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Deprecate NoCloudProvider and add CloudProviderEnabled
  Makefile
  api/v1beta1/metal3cluster_types.go
  api/v1beta1/metal3cluster_webhook.go
  api/v1beta1/metal3cluster_webhook_test.go
  api/v1beta1/zz_generated.deepcopy.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3clusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3clustertemplates.yaml
  controllers/metal3cluster_controller.go
  controllers/suite_test.go
  docs/api.md
  docs/architecture.md
  examples/cluster/cluster.yaml
  examples/clusterctl-templates/clusterctl-cluster.yaml
  examples/templates/clusterclass.yaml
  test/e2e/data/infrastructure-metal3/bases/cluster/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-metal3/bases/clusterclass-cluster/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-metal3/clusterclass-metal3/clusterclass-metal3.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test

Revert Metal3DataTemplate templateReference logic, tests and docs
  api/v1beta1/metal3data_types.go
  api/v1beta1/metal3data_webhook.go
  api/v1beta1/metal3datatemplate_types.go
  baremetal/metal3datatemplate_manager.go
  baremetal/metal3datatemplate_manager_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datas.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datatemplates.yaml
  docs/api.md
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint, build

Delete templateReference from e2e remediation test
  test/e2e/remediation.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Rewrite fetch_manifest.sh into golang
  test/e2e/logcollector.go
  test/e2e/pivoting.go
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Add Peppi-lotta and Huy as reviewers
  OWNERS_ALIASES
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

fix live-iso serial console boot verification
  scripts/ci-e2e.sh
  test/e2e/live_iso_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

More precise logs to understand failure
  api/v1beta1/metal3cluster_webhook.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

E2E: Fix Ironic kustomization
  test/e2e/data/ironic-deployment/overlays/release-latest/kustomization.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

More precise logs to understand failure
  api/v1beta1/metal3cluster_types.go
  api/v1beta1/metal3cluster_webhook.go
  api/v1beta1/metal3cluster_webhook_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3clusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3clustertemplates.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

bump golang to 1.23.5
  Dockerfile
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

bump golang to 1.23.5
  Dockerfile
  Makefile
  hack/fake-apiserver/Dockerfile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Change namespace for IPAM to fit changes
  Makefile
  config/default/kustomization.yaml
  config/ipam/image_patch.yaml
  config/ipam/kustomization.yaml
  config/ipam/pull_policy_patch.yaml
  hack/verify-release.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Bump IPAM to 1.9.3
  api/go.mod
  api/go.sum
  config/ipam/image_patch.yaml
  config/ipam/kustomization.yaml
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Bump IPAM to 1.8.4
  api/go.mod
  api/go.sum
  config/ipam/image_patch.yaml
  config/ipam/kustomization.yaml
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Fix: pulling unused images in the middle of tests
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Stop using dev-env in E2E setup
  .yamlfmt
  Makefile
  baremetal/metal3cluster_manager_test.go
  controllers/suite_test.go
  hack/e2e/external.xml
  hack/e2e/fake-ipa.sh
  hack/e2e/net.xml
  hack/e2e/provisioning.xml
  hack/ensure-go.sh
  hack/ensure_kubectl.sh
  hack/ensure_minikube.sh
  hack/ensure_yq.sh
  scripts/ci-e2e.sh
  scripts/clean-e2e.sh
  test/e2e/bmc.go
  test/e2e/cert_manager.go
  test/e2e/common.go
  test/e2e/config/bmcs-redfish-virtualmedia.yaml
  test/e2e/config/bmcs.yaml
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/bmo-deployment/overlays/release-latest/ironic.env
  test/e2e/data/clean_local_bmh_test_setup.sh
  test/e2e/data/dnsmasq.env
  test/e2e/data/infrastructure-metal3/bases/cluster-with-topology/cluster-with-topology.yaml
  test/e2e/data/infrastructure-metal3/bases/cluster/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-metal3/bases/cluster/md.yaml
  test/e2e/data/infrastructure-metal3/bases/clusterclass-cluster/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-metal3/bases/clusterclass-cluster/md.yaml
  test/e2e/data/infrastructure-metal3/bases/clusterclass-ubuntu-kubeadm-config/clusterclass-ubuntu-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/bases/ubuntu-kubeadm-config/ubuntu-kubeadm-config.yaml
  test/e2e/data/ironic-deployment/overlays/release-latest/ironic-patch.yaml
  test/e2e/data/ironic-deployment/overlays/release-latest/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-latest/kustomization.yaml
  test/e2e/data/sushy-tools/sushy-emulator.conf
  test/e2e/e2e_suite_test.go
  test/e2e/node_reuse.go
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

:rocket: Release v1.9.2
  releasenotes/v1.9.2.md
Due: markdownlint

:rocket: Release v1.8.5
  releasenotes/v1.8.5.md
Due: markdownlint

Bump ipam to 1.9.3
  api/go.mod
  api/go.sum
  config/ipam/image_patch.yaml
  config/ipam/kustomization.yaml
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

update OpenSSF CII Best Practices badge
  README.md
Due: markdownlint
