Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

golangci-lint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/ensure-golangci-lint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

govet:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/govet.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/codegen.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

build:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/build.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

Enabled mnd linter
  .golangci.yaml
  api/v1beta1/metal3remediationtemplate_webhook.go
  baremetal/metal3data_manager.go
  baremetal/metal3machine_manager.go
  baremetal/utils.go
  controllers/metal3cluster_controller.go
  controllers/metal3labelsync_controller.go
  controllers/metal3remediation_controller.go
  hack/fake-apiserver/cmd/metal3-fkas-reconciler/main.go
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  internal/webhooks/v1beta1/metal3remediationtemplate_webhook.go
  main.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test

Bump CAPI to 1.10.1
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test

:rocket: Release v1.10.0
  releasenotes/v1.10.0.md
Due: markdownlint

Bumping k8s version for e2e tests
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Change Kubernetes version in e2e tests
  Makefile
  docs/e2e-test.md
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test

Uplift Kubernetes to 1.33 in envtest
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Enabled exhaustive linter
  .golangci.yaml
  baremetal/metal3machine_manager.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Remove Metal3DataTemplate templateReference logic, tests and docs
  api/v1beta1/metal3data_webhook.go
  baremetal/metal3datatemplate_manager.go
  baremetal/metal3datatemplate_manager_test.go
  docs/api.md
  internal/webhooks/v1beta1/metal3data_webhook.go
  test/e2e/remediation.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint, build

test
  scripts/ci-e2e.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

Add 1.11 support in e2e
  clusterctl-settings.json
  metadata.yaml
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/bmo-deployment/overlays/release-0.10/ironic.env
  test/e2e/data/bmo-deployment/overlays/release-0.10/kustimization.yaml
  test/e2e/data/infrastructure-metal3/main/metadata.yaml
  test/e2e/data/ironic-deployment/overlays/release-29.0/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-29.0/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/release-29.0/kustomization.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Update docs for release 1.10
  CONTRIBUTING.md
  README.md
  docs/e2e-test.md
Due: markdownlint

Update build badges and triggers in README.md
  README.md
Due: markdownlint

Add .gitattributes to ignore CRD diffs in PR UI
  .gitattributes
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Tweak cluster cache qps and burst limits
  config/manager/manager.yaml
  controllers/metal3cluster_controller.go
  hack/fake-apiserver/cmd/metal3-fkas-reconciler/main.go
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  scripts/ci-e2e.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, test

Tweak cluster cache qps and burst limits
  config/manager/manager.yaml
  controllers/metal3cluster_controller.go
  hack/fake-apiserver/cmd/metal3-fkas-reconciler/main.go
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  main.go
  scripts/ci-e2e.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, test

Revert all bumbs
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, test

Fix typo in bmo deployment overlay kustomization file
  test/e2e/data/bmo-deployment/overlays/release-0.10/kustomization.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Add parameters blob for bond network interface definition
  api/go.mod
  api/v1beta1/metal3datatemplate_types.go
  api/v1beta1/zz_generated.deepcopy.go
  baremetal/metal3data_manager.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datatemplates.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Apply BMH from CAPM3 during test and skip BMH creation from dev-env
  scripts/ci-e2e.sh
  test/e2e/basic_integration_test.go
  test/e2e/common.go
  test/e2e/integration_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Fix ipam deploy in clusterctl tests
  baremetal/metal3machine_manager.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/infrastructure-metal3/v1.10/metadata.yaml
  test/e2e/data/ipam-metal3/v1.10/metadata.yaml
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Add kcp_remediation test
  Makefile
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-centos-kcp-remediation/kustomization.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-centos-kcp-remediation/mhc.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-ubuntu-kcp-remediation/kustomization.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-ubuntu-kcp-remediation/mhc.yaml
  test/e2e/kcp_remediations_test.go
  test/e2e/remediation_based_feature_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

BMH pause annotation should be synced with CAPM3 machine
  baremetal/metal3machine_manager.go
  controllers/metal3machine_controller.go
  test/e2e/pivoting.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Remove Metal3Machine owner reference from BMH
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  test/e2e/pivoting.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Fix ipam deploy in clusterctl tests
  baremetal/metal3machine_manager.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/ipam-metal3/v1.10/metadata.yaml
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Block Move
  controllers/metal3machine_controller.go
  test/e2e/pivoting.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Updating main branch clusterctl tests
  scripts/ci-e2e.sh
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/infrastructure-metal3/v1.10/metadata.yaml
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Fixed ironic image source when testing from ironic-image repo
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/ironic-deployment/overlays/local/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/local/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/local/kustomization.yaml
  test/e2e/pivoting.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Adopted k8s conformance test from CAPI
  test/e2e/k8s_conformance_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Fix cluster delete timeout issue
  scripts/ci-e2e.sh
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/bmo-deployment/overlays/release-custom-image/ironic.env
  test/e2e/data/bmo-deployment/overlays/release-custom-image/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/release-custom-image/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-custom-image/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/release-custom-image/kustomization.yaml
  test/e2e/pivoting.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Bump golang to v1.24
  .golangci.yaml
  Dockerfile
  Makefile
  Tiltfile
  api/go.mod
  api/v1beta1/metal3machine_types_test.go
  hack/build.sh
  hack/codegen.sh
  hack/ensure-go.sh
  hack/fake-apiserver/Dockerfile
  hack/gomod.sh
  hack/unit.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Fix ironic version after pivot and repivot
  scripts/ci-e2e.sh
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/bmo-deployment/overlays/pr-test/ironic.env
  test/e2e/data/bmo-deployment/overlays/pr-test/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/pr-test/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/pr-test/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/pr-test/kustomization.yaml
  test/e2e/pivoting.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Bump golang to v1.24
  .golangci.yaml
  Dockerfile
  Makefile
  Tiltfile
  api/go.mod
  api/go.sum
  api/v1beta1/metal3machine_types_test.go
  go.mod
  go.sum
  hack/build.sh
  hack/codegen.sh
  hack/ensure-go.sh
  hack/fake-apiserver/Dockerfile
  hack/gomod.sh
  hack/unit.sh
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Bump golang to v1.24
  Dockerfile
  Makefile
  Tiltfile
  api/go.mod
  api/v1beta1/metal3machine_types_test.go
  hack/build.sh
  hack/codegen.sh
  hack/ensure-go.sh
  hack/fake-apiserver/Dockerfile
  hack/gomod.sh
  hack/unit.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

bump golangci lint v1.64.7
  .github/workflows/golangci-lint.yml
  .golangci.yaml
  api/v1beta1/groupversion_info.go
  hack/ensure-golangci-lint.sh
  test/e2e/cert_rotation.go
  test/e2e/pivoting.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Path conditions:
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  unit: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  build: any of: ^api|^test|^Makefile$
  test: any of: ^(Makefile|hack/.*)$
