Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/generate.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

golint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/golint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

test:
  decorate: true
  spec:
    containers:
    - args:
      - test
      command:
      - make
      image: docker.io/golang:1.21
      imagePullPolicy: Always

fix(redfish): set correct idrac-redfish management interface
  pkg/hardwareutils/bmc/redfish.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add mquhuy as a reviewer
  OWNERS
Due: none

E2E: Increase timeouts to stabilize CI
  config/overlays/e2e-release-0.4/kustomization.yaml
  config/overlays/e2e-release-0.5/kustomization.yaml
  config/overlays/e2e-release-0.6/kustomization.yaml
  ironic-deployment/overlays/e2e-release-24.0-with-inspector/kustomization.yaml
  ironic-deployment/overlays/e2e-release-24.1/kustomization.yaml
  ironic-deployment/overlays/e2e-with-inspector/kustomization.yaml
  test/e2e/config/ironic.yaml
Due: gosec, gomod, unit, generate, manifestlint

E2E: Wait for baremetal-operator-system namespace to be deleted
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2E: Implement flake attempts
  test/e2e/common.go
  test/e2e/e2e_suite_test.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Refactoring: split update_opts.go and updateopts_test.go
  pkg/provisioner/ironic/clients/updateopts.go
  pkg/provisioner/ironic/clients/updateopts_test.go
  pkg/provisioner/ironic/inspecthardware.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/provision_test.go
  pkg/provisioner/ironic/raid.go
  pkg/provisioner/ironic/updateopts_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add more ctrl options flags
  main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Update vendor
  apis/vendor/github.com/metal3-io/baremetal-operator/pkg/hardwareutils/bmc/ilo4.go
  apis/vendor/github.com/metal3-io/baremetal-operator/pkg/hardwareutils/bmc/ilo5.go
  apis/vendor/github.com/metal3-io/baremetal-operator/pkg/hardwareutils/bmc/irmc.go
  vendor/github.com/metal3-io/baremetal-operator/apis/metal3.io/v1alpha1/baremetalhost_types.go
  vendor/github.com/metal3-io/baremetal-operator/apis/metal3.io/v1alpha1/baremetalhost_validation.go
  vendor/github.com/metal3-io/baremetal-operator/apis/metal3.io/v1alpha1/baremetalhost_webhook.go
  vendor/github.com/metal3-io/baremetal-operator/apis/metal3.io/v1alpha1/bmceventsubscription_webhook.go
  vendor/github.com/metal3-io/baremetal-operator/pkg/hardwareutils/bmc/ilo4.go
  vendor/github.com/metal3-io/baremetal-operator/pkg/hardwareutils/bmc/ilo5.go
  vendor/github.com/metal3-io/baremetal-operator/pkg/hardwareutils/bmc/irmc.go
  vendor/github.com/onsi/gomega/CHANGELOG.md
  vendor/github.com/onsi/gomega/gomega_dsl.go
  vendor/modules.txt
Due: gofmt, gosec, gomod, markdownlint, unit, generate, golint, manifestlint

add OWNERS_ALIASES support
  OWNERS
  OWNERS_ALIASES
Due: gosec, gomod, unit, generate, manifestlint

refactor TLS config
  main.go
  main_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Export BuildKustomizeManifest and GetKubeconfigPath functions in E2E
  test/e2e/common.go
  test/e2e/e2e_suite_test.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Link to the user guide for supported hardware
  docs/api.md
Due: markdownlint

Add Slacks notification for GH actions
  .github/workflows/build-images-action.yml
Due: gosec, gomod, unit, generate, manifestlint

Add issue templates for flaky/failing tests
  .github/ISSUE_TEMPLATE/failing-test.yaml
  .github/ISSUE_TEMPLATE/flaking-test.yaml
Due: gosec, gomod, unit, generate, manifestlint

explicitly drop pr approver workflow permissions
  .github/workflows/pr-gh-workflow-approve.yaml
Due: gosec, gomod, unit, generate, manifestlint

Upload artifacts from fixture tests
  .github/workflows/e2e-fixture-test.yml
Due: gosec, gomod, unit, generate, manifestlint

remove kubesec workflow
  .github/workflows/kubesec.yml
Due: gosec, gomod, unit, generate, manifestlint

fix-linter added
  Makefile
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Fix Status logic for HostFirmwareComponents
  apis/metal3.io/v1alpha1/hostfirmwarecomponents_types.go
  config/base/crds/bases/metal3.io_hostfirmwarecomponents.yaml
  config/render/capm3.yaml
  controllers/metal3.io/hostfirmwarecomponents_controller.go
  controllers/metal3.io/hostfirmwarecomponents_test.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Setup go version from Makefile in e2e fixture test
  .github/workflows/e2e-fixture-test.yml
Due: gosec, gomod, unit, generate, manifestlint

Bump golang to v1.22
  .github/workflows/release.yaml
  .golangci.yaml
  Dockerfile
  Makefile
  Tiltfile
  apis/go.mod
  go.mod
  hack/e2e/ensure_go.sh
  hack/generate.sh
  hack/golint.sh
  hack/gomod.sh
  hack/tools/go.mod
  hack/unit.sh
  pkg/hardwareutils/go.mod
  test/go.mod
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Bump kustomize version from v4 to v5
  Makefile
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

shellcheck only files
  hack/shellcheck.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Remove hack/tools go module
  Dockerfile
  Makefile
  docs/releasing.md
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
  hack/verify-release.sh
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Bump CAPI to v1.6.5 and Go to 1.21.10
  Dockerfile
  Makefile
  hack/e2e/ensure_go.sh
  test/go.mod
  test/go.sum
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Uplift CAPI to v1.7.2
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint

E2E: Run as github workflow
  .github/workflows/e2e-test-periodic.yml
  .github/workflows/e2e-test-pull.yaml
  .github/workflows/e2e-test.yml
  hack/ci-e2e.sh
  hack/e2e/ensure_go.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

pin custom metal3-io ipa
  ironic-deployment/default/ironic_bmo_configmap.env
Due: gosec, gomod, unit, generate, manifestlint

Add periodic jobs for optional tests and release branches
  .github/workflows/e2e-test-optional-periodic-release-0.5.yml
  .github/workflows/e2e-test-optional-periodic-release-0.6.yml
  .github/workflows/e2e-test-optional-periodic.yml
  .github/workflows/e2e-test-periodic-main.yml
  .github/workflows/e2e-test-periodic-release-0.5.yml
  .github/workflows/e2e-test-periodic-release-0.6.yml
  .github/workflows/e2e-test.yml
Due: gosec, gomod, unit, generate, manifestlint

Adapt ci-e2e.sh for github workflow
  hack/ci-e2e.sh
  hack/e2e/ensure_go.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Workflow pipeline with unit tests
  .github/workflows/e2e-fixture-test.yml
  .github/workflows/e2e-test-pull.yaml
  .github/workflows/e2e-test.yml
  .github/workflows/pipeline.yml
  .github/workflows/unit.yml
Due: gosec, gomod, unit, generate, manifestlint

Workflow pipeline with unit tests
  .github/workflows/e2e-fixture-test.yml
  .github/workflows/e2e-test-pull.yaml
  .github/workflows/e2e-test.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/pipeline.yml
  .github/workflows/unit.yml
Due: gosec, gomod, unit, generate, manifestlint

Workflow pipeline with unit tests
  .github/workflows/e2e-fixture-test.yml
  .github/workflows/e2e-test-periodic.yml
  .github/workflows/e2e-test-pull.yaml
  .github/workflows/e2e-test.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/pipeline.yml
  .github/workflows/unit.yml
Due: gosec, gomod, unit, generate, manifestlint

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  golint: any of: \.go$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$
  test: any of: ^(Makefile|hack/.*)$
