Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test

Path conditions:
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  unit: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  build: any of: ^api|^test|^Makefile$
  test: any of: ^(Makefile|hack/.*)$

Add kcp_remediation test
  Makefile
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-centos-kcp-remediation/kustomization.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-centos-kcp-remediation/mhc.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-ubuntu-kcp-remediation/kustomization.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-ubuntu-kcp-remediation/mhc.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/kcp_remediations_test.go
  test/e2e/remediation_based_feature_test.go
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Bump golang to v1.24
  Dockerfile
  Makefile
  Tiltfile
  api/go.mod
  api/v1beta1/metal3machine_types_test.go
  hack/build.sh
  hack/codegen.sh
  hack/ensure-go.sh
  hack/fake-apiserver/Dockerfile
  hack/gomod.sh
  hack/unit.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Add parameters blob for bond network interface definition
  api/go.mod
  api/v1beta1/metal3datatemplate_types.go
  api/v1beta1/zz_generated.deepcopy.go
  baremetal/metal3data_manager.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datatemplates.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Adopt k8s conformance test from CAPI
  docs/e2e-test.md
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/kubetest/conformance.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/k8s_conformance_test.go
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build

initial work
  baremetal/metal3machine_manager.go
  baremetal/metal3remediation_manager.go
  baremetal/utils.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Remove webhooks from api folder, they are move to internal/webhooks/api
  api/go.mod
  api/v1beta1/metal3cluster_webhook.go
  api/v1beta1/metal3cluster_webhook_test.go
  api/v1beta1/metal3clustertemplate_webhook.go
  api/v1beta1/metal3clustertemplate_webhook_test.go
  api/v1beta1/metal3data_webhook.go
  api/v1beta1/metal3data_webhook_test.go
  api/v1beta1/metal3dataclaim_webhook.go
  api/v1beta1/metal3dataclaim_webhook_test.go
  api/v1beta1/metal3datatemplate_webhook.go
  api/v1beta1/metal3datatemplate_webhook_test.go
  api/v1beta1/metal3machine_webhook.go
  api/v1beta1/metal3machine_webhook_test.go
  api/v1beta1/metal3machinetemplate_webhook.go
  api/v1beta1/metal3machinetemplate_webhook_test.go
  api/v1beta1/metal3remediation_webhook.go
  api/v1beta1/metal3remediation_webhook_test.go
  api/v1beta1/metal3remediationtemplate_webhook.go
  api/v1beta1/metal3remediationtemplate_webhook_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Apply BMH from CAPM3 e2e feature tests
  scripts/ci-e2e.sh
  test/e2e/common.go
  test/e2e/ip_reuse_test.go
  test/e2e/pivoting_based_feature_test.go
  test/e2e/remediation_based_feature_test.go
  test/e2e/upgrade_kubernetes_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Fix ironic version after pivot and repivot
  scripts/ci-e2e.sh
  scripts/environment.sh
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/bmo-deployment/overlays/pr-test/ironic.env
  test/e2e/data/bmo-deployment/overlays/pr-test/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/pr-test/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/pr-test/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/pr-test/kustomization.yaml
  test/e2e/pivoting.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Adopt md_rollout test from CAPI
  test/e2e/md_rollout_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Remove Metal3DataTemplate templateReference logic, tests and docs
  baremetal/metal3datatemplate_manager.go
  baremetal/metal3datatemplate_manager_test.go
  docs/api.md
  internal/webhooks/v1beta1/metal3data_webhook.go
  test/e2e/remediation.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint, build

Fix CONTROL_PLANE_MACHINE_COUNT and WORKER_MACHINE_COUNT for k8s upgrade test
  scripts/environment.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

Use reusable link-checks and add .lycheeignore
  .github/workflows/lint-docs.yaml
  .github/workflows/pr-link-check.yml
  .github/workflows/scheduled-link-check.yml
  .lycheeignore
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Fix ironic image source when testing from ironic-image repo
  scripts/ci-e2e.sh
  scripts/environment.sh
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/bmo-deployment/overlays/pr-test/ironic.env
  test/e2e/data/bmo-deployment/overlays/pr-test/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/pr-test/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/pr-test/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/pr-test/kustomization.yaml
  test/e2e/pivoting.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Add vars for feature tests and improve the script
  scripts/environment.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

remove obsolete markdownlinkcheck config
  .markdownlinkcheck.json
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Adopt k8s conformance test from CAPI
  docs/e2e-test.md
  scripts/ci-e2e.sh
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/kubetest/conformance.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/k8s_conformance_test.go
  test/e2e/md_remediations_test.go
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build

Fix image source when launched from ironic-image or bmo
  scripts/ci-e2e.sh
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/bmo-deployment/overlays/pr-test/ironic.env
  test/e2e/data/bmo-deployment/overlays/pr-test/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/pr-test/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/pr-test/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/pr-test/kustomization.yaml
  test/e2e/pivoting.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

bump cloudflare/circl to v1.6.1
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Adopt md_rollout test from CAPI
  test/e2e/e2e_suite_test.go
  test/e2e/md_rollout_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

test
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Add kcp_remediation test
  Makefile
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-centos-kcp-remediation/kustomization.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-centos-kcp-remediation/mhc.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-centos-kcp-remediation/patch-kcp.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-ubuntu-kcp-remediation/kustomization.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-ubuntu-kcp-remediation/mhc.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-ubuntu-kcp-remediation/patch-kcp.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/kcp_remediations_test.go
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

test
  Makefile
  test/e2e/kcp_remediations_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Adopt md_scale from CAPI
  scripts/ci-e2e.sh
  scripts/environment.sh
  test/e2e/md_scale_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

test
  scripts/ci-e2e.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

Uplift ip-address-manager from v1.10.0 to v1.10.1
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/e2e/config/e2e_conf.yaml
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test

bump golang to 1.24.4
  Dockerfile
  Makefile
  hack/fake-apiserver/Dockerfile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Uplift ip-address-manager from v1.9.4 to v1.9.5
  api/go.mod
  api/go.sum
  config/ipam/image_patch.yaml
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test

Uplift Kubernetes to 1.33 in envtest
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

fix ephemeral worker/cp count
  scripts/environment.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

:rocket: Release v1.10.1
  releasenotes/v1.10.1.md
Due: markdownlint

:rocket: Release v1.9.4
  releasenotes/v1.9.4.md
Due: markdownlint

E2E: longer timeout for cert-manager
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Adopt md_scale from CAPI
  docs/e2e-test.md
  scripts/ci-e2e.sh
  scripts/environment.sh
  test/e2e/md_scale_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build
