Repository metal3-io/metal3-dev-env: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: \.md$

Remove and reinstall BMO in source cluster before and after pivot
  tests/roles/run_tests/tasks/move.yml
  tests/roles/run_tests/tasks/move_back.yml
Due: none

Bump k8s to v1.26.4
  config_example.sh
  lib/common.sh
  tests/feature_tests/node_reuse/node_reuse_vars.sh
  tests/roles/run_tests/vars/main.yml
Due: shellcheck

Add manifest collection after repivot
  Makefile
  tests/scripts/fetch_manifests.sh
  tests/test.sh
Due: shellcheck

Remove release-0.5 mentions in dev-env
  lib/common.sh
  lib/releases.sh
Due: shellcheck

Add manifest collection after pivot
  Makefile
  tests/scripts/fetch_manifests.sh
  tests/test.sh
Due: shellcheck

Add release-1.4 branch config for CAPM3 and IPAM
  README.md
  lib/common.sh
  lib/releases.sh
Due: shellcheck, markdownlint

Bump minikube to v1.30.1, k8s binary config to v0.15.1 & kind node image to v1.27.1
  config_example.sh
  lib/common.sh
  tests/roles/run_tests/vars/main.yml
Due: shellcheck

Remove container-runtime flag from Kubelet since it is unsupported from v1.27x
  tests/roles/run_tests/templates/cluster-template-controlplane.yaml
  tests/roles/run_tests/templates/cluster-template-workers.yaml
Due: none

Bump k8s to v1.27.1
  config_example.sh
  lib/common.sh
  renovate.json
  tests/feature_tests/feature_test_vars.sh
  tests/feature_tests/node_reuse/node_reuse_vars.sh
  tests/roles/run_tests/vars/main.yml
  vars.md
Due: shellcheck, markdownlint

Bump calico to v3.25.1
  tests/roles/run_tests/tasks/verify.yml
  tests/roles/run_tests/vars/main.yml
Due: none

Fix CAPM3RELEASE to v1.4.99 for main branch
  lib/releases.sh
Due: shellcheck

add var BMO_ROLLOUT_WAIT to control timeout of BMO rollouts
  03_launch_mgmt_cluster.sh
  lib/common.sh
  vars.md
Due: shellcheck, markdownlint

Reduce api queries to github api for getting latest release tags
  lib/releases.sh
Due: shellcheck

add optional fully NATed network configuration
  03_launch_mgmt_cluster.sh
  lib/network.sh
  tests/roles/run_tests/tasks/verify.yml
  tests/roles/run_tests/tasks/verify_resources_states.yml
  tests/roles/run_tests/templates/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/cluster-template-workers-kubeadm-config-centos.yaml
  ubuntu_bridge_network_configuration.sh
  vars.md
  vm-setup/roles/common/defaults/main.yml
  vm-setup/roles/common/tasks/main.yml
Due: shellcheck, markdownlint

Changing defaults from md5 to sha256
  01_prepare_host.sh
  lib/images.sh
  tests/roles/run_tests/tasks/download_image.yml
  tests/roles/run_tests/vars/main.yml
Due: shellcheck

Exclude install requirement script from ci run
  01_prepare_host.sh
  02_configure_host.sh
  Makefile
  lib/image_prepull.sh
  tests/feature_tests/setup_env.sh
Due: shellcheck

Move clusterctl installation to support older version of releases
  01_prepare_host.sh
  03_launch_mgmt_cluster.sh
Due: shellcheck

fixing hash generation and making it more generic
  lib/image_prepull.sh
Due: shellcheck

Drop CAPM3 release-1.1 test support
  README.md
  lib/common.sh
  lib/releases.sh
Due: shellcheck, markdownlint

fix incorrect subnet lookup of the iptable config
  vm-setup/roles/firewall/defaults/main.yml
  vm-setup/roles/firewall/tasks/iptables.yaml
Due: none

add improvements and fixes to the centos kubeadm scripts
  tests/roles/run_tests/templates/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/cluster-template-controlplane-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/cluster-template-workers-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/cluster-template-workers-kubeadm-config-ubuntu.yaml
Due: none

fix typos and timing in centos worker node kubeadm template
  tests/roles/run_tests/templates/cluster-template-workers-kubeadm-config-centos.yaml
Due: none

Fix running consecutive make test
  tests/roles/run_tests/tasks/main.yml
Due: none

add mitigation for kubeadm join issue
  tests/roles/run_tests/templates/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/cluster-template-controlplane-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/cluster-template-workers-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/cluster-template-workers-kubeadm-config-ubuntu.yaml
Due: none

create missing /etc/apt/keyrings folder for repo key
  vm-setup/roles/packages_installation/tasks/ubuntu_required_packages.yml
Due: none

pin downloaded scripts and binaries to a sha digest
  01_prepare_host.sh
  03_launch_mgmt_cluster.sh
  lib/common.sh
  lib/download.sh
  vars.md
Due: shellcheck, markdownlint

update kind v0.20.0 digest
  lib/common.sh
Due: shellcheck

move sourcing of libs after initial package install
  01_prepare_host.sh
Due: shellcheck

Removed ansible-based feature tests.
  Makefile
  tests/feature_tests/README.md
  tests/feature_tests/cleanup_env.sh
  tests/feature_tests/feature_test_deprovisioning.sh
  tests/feature_tests/feature_test_provisioning.sh
  tests/feature_tests/feature_test_vars.sh
  tests/feature_tests/healthcheck/Makefile
  tests/feature_tests/healthcheck/healthcheck.sh
  tests/feature_tests/inspection_test.sh
  tests/feature_tests/node_reuse/Makefile
  tests/feature_tests/node_reuse/node_reuse.sh
  tests/feature_tests/node_reuse/node_reuse_vars.sh
  tests/feature_tests/pivoting/Makefile
  tests/feature_tests/pivoting/pivot.sh
  tests/feature_tests/pivoting/repivot.sh
  tests/feature_tests/pivoting/upgrade.sh
  tests/feature_tests/remediation/Makefile
  tests/feature_tests/remediation/remediation.sh
  tests/feature_tests/setup_env.sh
  tests/roles/run_tests/tasks/healthcheck.yml
  tests/roles/run_tests/tasks/inspection.yml
  tests/roles/run_tests/tasks/main.yml
  tests/roles/run_tests/tasks/node_reuse.yml
  tests/roles/run_tests/tasks/remediation.yml
  tests/roles/run_tests/vars/main.yml
Due: shellcheck, markdownlint

Allow proxy connection when dividing response
  lib/releases.sh
Due: shellcheck

Add a check before deleting virbr0 to avoid errors in the loop
  02_configure_host.sh
Due: shellcheck

Use MariaDB instead of SQLite
  03_launch_mgmt_cluster.sh
  tests/roles/run_tests/vars/main.yml
  vars.md
Due: shellcheck, markdownlint

Fix use of mariadb install option
  03_launch_mgmt_cluster.sh
Due: shellcheck

Revert "Use MariaDB instead of SQLite"
  03_launch_mgmt_cluster.sh
  tests/roles/run_tests/vars/main.yml
  vars.md
Due: shellcheck, markdownlint

Add @mboukhalfa and @smoshiur1237 as approvers
  OWNERS
Due: none

Increase default vcpu to 4
  vm-setup/roles/common/defaults/main.yml
Due: none

fix incorrect EFI firmware reference in VM template
  vm-setup/roles/libvirt/templates/baremetalvm.xml.j2
Due: none

Bump minikube to v1.31.1
  lib/common.sh
Due: shellcheck

Allow proxy for downloading IPA
  02_configure_host.sh
Due: shellcheck

Bump k8s version to v1.27.4
  config_example.sh
  lib/common.sh
  tests/roles/run_tests/vars/main.yml
  vars.md
Due: shellcheck, markdownlint
