Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Path conditions:
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  unit: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  build: (any of: ^api|^test|^Makefile$) or (any of: ^api|^test|^Makefile$|^hack/build.sh$)
  test: any of: ^(Makefile|hack/.*)$
  build-fkas: any of: ^hack/fake-apiserver|^api|^Makefile$|^hack/build.sh$

:seedling: Bump CAPI to v1.14.0-beta.1
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test, build-fkas

🐛 Require explicit GitHub token for release notes tool
  Makefile
  hack/tools/release/notes.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Affects the following scripts under the hack/ directory:
  hack/build.sh
  hack/codegen.sh
  hack/gomod.sh
  hack/manifestlint.sh
  hack/markdownlint.sh
  hack/shellcheck.sh
  hack/unit.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Bump IPAM and BMO to 1.14.0-beta.0 and other deps
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test, build-fkas

:rocket: Release v1.14.0-beta.0
  releasenotes/v1.14.0-beta.0.md
Due: markdownlint

Fix minor grammatical issues in readme file.
  README.md
Due: markdownlint

feat: Add custom Prometheus metrics for controller observability
  controllers/metal3cluster_controller.go
  controllers/metal3data_controller.go
  controllers/metal3datatemplate_controller.go
  controllers/metal3datatemplate_controller_test.go
  controllers/metal3labelsync_controller.go
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_test.go
  controllers/metal3machinetemplate_controller.go
  controllers/metal3remediation_controller.go
  docs/metrics.md
  go.mod
  internal/metrics/metrics.go
  internal/metrics/metrics_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint

Remove MariaDB support from CAPM3
  hack/tools/release/notes.go
  hack/verify-release.sh
  test/e2e/cert_rotation.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/pivoting.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Warn against high retryLimit in Metal3Remediation
  api/v1beta2/metal3remediation_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3remediations.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3remediationtemplates.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

Warn against high timeoutSeconds in Metal3Remediation
  api/v1beta2/metal3remediation_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3remediations.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3remediationtemplates.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

Block syncing of reserved kubernetes.io labels
  controllers/metal3labelsync_controller.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Add length validation to v1beta1 Metal3Machine string fields
  api/v1beta1/common_types.go
  api/v1beta1/metal3machine_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machinetemplates.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

Pin setup-envtest to go.mod version instead of release branch
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Add dataTemplate selection and failure domain reporting from BMH placement
  api/v1beta1/conversion.go
  api/v1beta1/zz_generated.conversion.go
  api/v1beta2/metal3machine_types.go
  api/v1beta2/metal3machinetemplate_types.go
  api/v1beta2/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machinetemplates.yaml
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_test.go
  internal/webhooks/v1beta2/metal3machinetemplate_webhook.go
  internal/webhooks/v1beta2/metal3machinetemplate_webhook_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

Drop mariadb from release notes, print full image
  hack/tools/release/notes.go
  hack/verify-release.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, test

e2e: decouple from metal3-dev-env using vbmctl CLI
  .gitignore
  Makefile
  docs/e2e-networking.md
  docs/e2e-test.md
  hack/build-vbmctl.sh
  hack/ensure-docker.sh
  hack/ensure-kubectl.sh
  hack/install-go.sh
  hack/setup-bml.sh
  scripts/ci-e2e.sh
  scripts/environment.sh
  scripts/fetch_manifests.sh
  test/e2e/bmh_generator.go
  test/e2e/cert_rotation.go
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/config/vbmctl.yaml.tmpl
  test/e2e/data/.gitignore
  test/e2e/data/infrastructure-metal3/main-v1beta1/cluster-template-ubuntu/kustomization.yaml
  test/e2e/data/shared/ipam-metal3/main/metadata.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/ip_reuse_test.go
  test/e2e/k8s_in_place_upgrade_test.go
  test/e2e/logcollector.go
  test/e2e/md_remediations_test.go
  test/e2e/node_reuse.go
  test/e2e/pivoting.go
  test/e2e/pivoting_based_feature_test.go
  test/e2e/remediation.go
  test/e2e/remediation_based_feature_test.go
  test/e2e/scalability_test.go
  test/e2e/upgrade_clusterctl_test.go
  test/e2e/upgrade_kubernetes_n3_test.go
  test/e2e/upgrade_kubernetes_test.go
  test/e2e/vbmctl_helpers.go
  test/go.mod
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Removes the Metal3Machine owner reference from Metal3Data objects.
  baremetal/metal3data_manager_test.go
  baremetal/metal3datatemplate_manager.go
  baremetal/metal3datatemplate_manager_test.go
  baremetal/suite_test.go
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_test.go
  test/e2e/common.go
  test/extension/handlers/inplaceupdate/handlers.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Add v1.15 metadata
  metadata.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Added more focused documentation.
  docs/Upgrade_tests.md
  docs/upgrade_tests.md
Due: markdownlint

Fetch DNS servers from IPPool for CAPI IPAddressClaim path
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  config/rbac/role.yaml
  controllers/metal3datatemplate_controller.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Enable CAPI IPAddressClaims support in Metal3 IPPools
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  config/manager/manager.yaml
  main.go
  scripts/ci-e2e.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

Allow Metal3Machine addresses to be sourced from metaData secret
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  docs/api.md
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint

🐛 Build the release-x.y image when cutting a release
  .github/workflows/release.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Fix Metal3DataTemplate racing with clusterctl move
  baremetal/metal3datatemplate_manager.go
  baremetal/metal3datatemplate_manager_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Bump checkout action to v7
  .github/workflows/build-fkas-images-pr.yml
  .github/workflows/dependabot.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/kube-api-lint.yml
  .github/workflows/release.yaml
  .github/workflows/validate-security-insights.yml
  .github/workflows/zizmor.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Bump checkout action to v7
  .github/workflows/dependabot.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/kube-api-lint.yml
  .github/workflows/release.yaml
  .github/workflows/validate-security-insights.yml
  .github/workflows/zizmor.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Bump checkout action to v7
  .github/workflows/dependabot.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/release.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Bump CAPI to 1.14.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test, build-fkas

Reject reserved label prefixes in metal3-label-sync-prefixes annotation
  baremetal/labelsync.go
  baremetal/labelsync_test.go
  controllers/metal3labelsync_controller.go
  controllers/metal3labelsync_controller_test.go
  internal/webhooks/v1beta2/metal3cluster_webhook.go
  internal/webhooks/v1beta2/metal3cluster_webhook_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Enable CAPI IPAddressClaims support in Metal3 IPPools
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  config/manager/manager.yaml
  main.go
  scripts/ci-e2e.sh
  test/e2e/common.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Bump IPAM and BMO rc release versions
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test, build-fkas

:rocket: Release v1.14.0-rc.0
  releasenotes/v1.14.0-rc.0.md
Due: markdownlint

Bump Go version to 1.26.6
  Dockerfile
  Makefile
  hack/fake-apiserver/Dockerfile
  test/extension/Dockerfile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Bump golang version to 1.25.13
  Dockerfile
  Makefile
  hack/fake-apiserver/Dockerfile
  test/extension/Dockerfile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Bump go version to 1.25.13
  Dockerfile
  Makefile
  hack/fake-apiserver/Dockerfile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Remove PR Verifier GitHub Action workflow
  .github/workflows/pr-verifier.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Add kubeadm version skew validation to k8s-upgrade test
  Makefile
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/infrastructure-metal3/main/cluster-template-centos-k8s-upgrade/kustomization.yaml
  test/e2e/data/infrastructure-metal3/main/cluster-template-opensuse-leap-k8s-upgrade/kustomization.yaml
  test/e2e/data/infrastructure-metal3/main/cluster-template-ubuntu-k8s-upgrade/kustomization.yaml
  test/e2e/data/infrastructure-metal3/main/components/content-format/kustomization.yaml
  test/e2e/upgrade_kubernetes_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

🌱 Test golangci-lint Prow presubmit on release-1.12
  main.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint
