Repository metal3-io/metal3-dev-env: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

Add variables for registry image
  lib/common.sh
Due: shellcheck

Fix writing a provider to clusterctl.yaml to append not overwrite
  03_launch_mgmt_cluster.sh
Due: shellcheck

[trivial] fix default value of TEST_MAX_TIME in vars and config.
  config_example.sh
  vars.md
Due: shellcheck, markdownlint

Change ipan provider name from metal3ipam to metal3
  03_launch_mgmt_cluster.sh
  tests/roles/run_tests/tasks/move.yml
Due: shellcheck

Pin IPA version
  README.md
  lib/common.sh
Due: shellcheck, markdownlint

Move @mquhuy to emeritus reviewers
  OWNERS
  OWNERS_ALIASES
Due: none

fix the ipxe builder integration
  03_launch_mgmt_cluster.sh
Due: shellcheck

add option to toggle dev-env host package updates
  01_prepare_host.sh
  lib/common.sh
  vars.md
Due: shellcheck, markdownlint

enable tpm simulation for virtual machines
  vm-setup/roles/libvirt/templates/baremetalvm.xml.j2
  vm-setup/roles/packages_installation/tasks/centos_required_packages.yml
  vm-setup/roles/packages_installation/tasks/ubuntu_required_packages.yml
Due: none

fix iPXE integration for pre 1_10 environments
  03_launch_mgmt_cluster_pre_1_10.sh
Due: shellcheck

Add bug issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Due: markdownlint

Pin collections to latest ansible 2.15 compatible versions
  vm-setup/requirements.yml
Due: none

Use Ansible 8 in CentOS Stream 9
  lib/common.sh
Due: shellcheck

Remove ancient ansible version
  lib/common.sh
Due: shellcheck

Support CentOS Stream 10
  01_prepare_host.sh
  lib/common.sh
  vm-setup/roles/libvirt/templates/baremetalvm.xml.j2
  vm-setup/roles/packages_installation/defaults/main.yml
  vm-setup/roles/packages_installation/tasks/main.yml
Due: shellcheck

add option to toggle dev-env host package updates
  01_prepare_host.sh
  02_configure_host.sh
  Makefile
  vars.md
Due: shellcheck, markdownlint

Bump Kubernetes to 1.33.0
  config_example.sh
  lib/common.sh
  renovate.json
  tests/roles/run_tests/vars/main.yml
  vars.md
Due: shellcheck, markdownlint

Fixing get_latest_release_from_goproxy
  lib/releases.sh
Due: shellcheck

Add Support for release-1.10
  README.md
  lib/common.sh
  lib/releases.sh
Due: shellcheck, markdownlint

All images point to release branches
  lib/common.sh
Due: shellcheck

Testing diable poweroff fix
  lib/common.sh
Due: shellcheck

Fix source branches of other repos for CAPM3RELEASEBRANCH release-1.10
  lib/common.sh
Due: shellcheck

Use SSL in sushy
  vm-setup/roles/common/templates/ironic_nodes.json.j2
  vm-setup/roles/virtbmc/tasks/setup_tasks.yml
Due: none

Set disableCertificateVerification in BMH
  03_launch_mgmt_cluster.sh
  lib/common.sh
Due: shellcheck

Set disableCertificateVerification in BMH
  03_launch_mgmt_cluster.sh
  03_launch_mgmt_cluster_pre_1_10.sh
  04_verify.sh
  lib/common.sh
Due: shellcheck

Apply feedback:
  03_launch_mgmt_cluster.sh
  03_launch_mgmt_cluster_pre_1_10.sh
  04_verify.sh
  lib/common.sh
Due: shellcheck

Fix arg format for make-bm-worker/main.go
  03_launch_mgmt_cluster.sh
  03_launch_mgmt_cluster_pre_1_10.sh
Due: shellcheck

Fix verification
  04_verify.sh
Due: shellcheck

Fix IPA_BASEURI typo
  lib/common.sh
Due: shellcheck

Add delay to fix the centOS test failure when SKIP_APPLY_BMH enabled
  04_verify.sh
Due: shellcheck

Improve applying BMHs
  03_launch_mgmt_cluster.sh
  03_launch_mgmt_cluster_pre_1_10.sh
Due: shellcheck

Remove unused script from verify file
  04_verify.sh
Due: shellcheck

Add check for Ironic deployment in Centos test
  04_verify.sh
Due: shellcheck

Add default network deletion to minikube start loop
  02_configure_host.sh
Due: shellcheck

Bump golang to v1.24.3
  renovate.json
  vm-setup/install-package-playbook.yml
Due: none

Use nordix artifactory proxy to download IPA
  lib/common.sh
Due: shellcheck

Update verify script to remove duplicate check
  04_verify.sh
Due: shellcheck

DNM: Revert "Use SSL in sushy"
  vm-setup/roles/common/templates/ironic_nodes.json.j2
  vm-setup/roles/virtbmc/tasks/setup_tasks.yml
Due: none

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
