Repository Nordix/metal3-dev-tools: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./scripts/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint-cli2:0.9.0@sha256:71370df6c967bae548b0bfd0ae313ddf44bfad87da76f88180eff55c6264098c
  ...

add ironic-image release-24.0 to sync
  scripts/update-nordix-repos-master.sh
Due: shellcheck

remove old todo setup_k8s
  tools/setup_k8s/todo.txt
Due: none

remove moved machine-setup tools
  tools/setup_machines/README.md
  tools/setup_machines/providers/kinder/manage_interfaces.sh
  tools/setup_machines/providers/kinder/manage_machines.sh
  tools/setup_machines/providers/kinder/setup_test_environment.sh
  tools/setup_machines/providers/kinder/teardown_test_environment.sh
  tools/setup_machines/resources/images/network-topology.png
Due: shellcheck, markdownlint

add custom ice derver building support
  ci/scripts/image_scripts/build_ipa.sh
  ci/scripts/image_scripts/ipa_builder_elements/ipa-upstream-ice/install.d/70-ipa-install-upstream-ice
Due: shellcheck

Update apt packages before installing
  ci/scripts/image_scripts/build_ipa.sh
Due: shellcheck

Fix node image building
  ci/images/image_builder_template_node.json
Due: none

add ironic-standalone-operator to Nordix sync
  scripts/update-nordix-repos-master.sh
Due: shellcheck

Add cleanup package element for IPA build
  ci/scripts/image_scripts/build_ipa.sh
  ci/scripts/image_scripts/ipa_builder_elements/cleanup-package/post-install.d/99-cleanup-package
Due: shellcheck

add ironic-image 24.1 release branch to sync
  scripts/update-nordix-repos-master.sh
Due: shellcheck

Remove folder wow moved to metal3-clusterapi-docs
  wow/Upgrade-image.md
  wow/citycloud.md
  wow/fullstack-build.md
  wow/github-workflow.md
  wow/jenkins_ci/README.md
  wow/jenkins_ci/jenkins-check-ci.sh
  wow/jenkins_ci/ssh.png
Due: shellcheck, markdownlint

Remove tools moved to metal3-clusterapi-docs
  tools/ironic-python-agent-image/README.md
  tools/ironic-python-agent-image/unpack-ipa-archive.sh
  tools/scalability/README.md
  tools/scalability/setup_vms.sh
  tools/scalability/vm_ip_list.txt
Due: shellcheck, markdownlint

Add support for release-1.7
  scripts/update-nordix-repos-master.sh
Due: shellcheck

Remove packer based image building scripts
  Makefile
  ci/images/README.md
  ci/images/centos_userdata.tpl
  ci/images/gen_base_ubuntu_image.sh
  ci/images/gen_jumphost_jenkins_ubuntu_image.sh
  ci/images/gen_metal3_centos_image.sh
  ci/images/gen_metal3_ubuntu_image.sh
  ci/images/image_builder_template.json
  ci/images/image_builder_template_node.json
  ci/images/run_local.sh
  ci/images/ubuntu_userdata.tpl
  ci/jobs/capi_bm_units_tests.pipeline
  ci/jobs/docker_image_building.pipeline
  ci/jobs/metal3_dev_tools_integration_tests.pipeline
  ci/jobs/openstack_image_building.pipeline
  ci/jobs/openstack_node_image_building.pipeline
  ci/scripts/image_scripts/backup_node_image.sh
  ci/scripts/image_scripts/hardening_base_image.sh
  ci/scripts/image_scripts/install_crio_on_centos.sh
  ci/scripts/image_scripts/install_crio_on_ubuntu.sh
  ci/scripts/image_scripts/node-image-cloud-init/retrieve.configuration.files.sh
  ci/scripts/image_scripts/provision_base_image.sh
  ci/scripts/image_scripts/provision_jumphost_jenkins_base_img.sh
  ci/scripts/image_scripts/provision_metal3_image_centos.sh
  ci/scripts/image_scripts/provision_metal3_image_ubuntu.sh
  ci/scripts/image_scripts/provision_node_image_centos.sh
  ci/scripts/image_scripts/provision_node_image_ubuntu.sh
  ci/scripts/image_scripts/reset_cloud_init.sh
  ci/scripts/image_scripts/setup_chrony_ubuntu.sh
  ci/scripts/image_scripts/setup_docker_ubuntu.sh
  ci/scripts/image_scripts/setup_monitoring_centos.sh
  ci/scripts/image_scripts/setup_monitoring_ubuntu.sh
  ci/scripts/image_scripts/setup_qemu_ubuntu.sh
  ci/scripts/image_scripts/share_image.sh
  ci/scripts/image_scripts/source_cluster_container_images.sh
  ci/scripts/image_scripts/target_cluster_container_images.sh
  ci/scripts/image_scripts/upload_node_image_rt.sh
  resources/docker/builder/Dockerfile
Due: shellcheck, markdownlint

add OWNERS_ALIASES support
  OWNERS
  OWNERS_ALIASES
Due: none

Move artifact cleanup and Nordix repos sync job to dynamic workers
  ci/jobs/artifact_cleanup.pipeline
  ci/jobs/update_nordix_repos.pipeline
Due: none

Replace the old ssh key with a new one
  ci/scripts/openstack/id_ed25519_metal3ci.pub
Due: none

Add release 1.8
  scripts/update-nordix-repos-master.sh
Due: shellcheck

Set new jenkins worker label to nordix repo update job
  ci/jobs/update_nordix_repos.pipeline
Due: none

Change BMO release-0.7 branch to release-0.8 branch
  scripts/update-nordix-repos-master.sh
Due: shellcheck

Move artifact cleanup test to private cloud
  ci/jobs/artifact_cleanup.pipeline
Due: none

change worker label to commonly used one metal3ci-8c16gb-ubuntu
  ci/jobs/artifact_cleanup.pipeline
  ci/jobs/container_image_building.pipeline
Due: none

Remove release 1.5
  scripts/update-nordix-repos-master.sh
Due: shellcheck

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: (\.md|markdownlint\.sh)$
