Repository metal3-io/metal3-dev-env: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:stable
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:latest
      imagePullPolicy: Always

Update dependency ansible to v5.9.0
  lib/common.sh
Due: shellcheck

Change node image download method from ansible get_url to wget.
  vm-setup/roles/v1aX_integration_test/tasks/download_image.yml
Due: none

Downgrade to Ubuntu 20.04
  lib/images.sh
  scripts/feature_tests/node_reuse/node_reuse_vars.sh
  vm-setup/roles/v1aX_integration_test/tasks/upgrade.yml
  vm-setup/roles/v1aX_integration_test/vars/main.yml
Due: shellcheck

Disable kvm tdp_mmu for broken pipe issue
  01_prepare_host.sh
Due: shellcheck

Add cdrom for booting from virtual media
  vm-setup/roles/libvirt/defaults/main.yml
  vm-setup/roles/libvirt/templates/baremetalvm.xml.j2
Due: none

Update dependency kubernetes.core to v2.3.2
  vm-setup/requirements.yml
Due: none

Use firewalld with all centos distros
  lib/common.sh
Due: shellcheck

Create provider-id by combining bmh and metal3machine resources
  vm-setup/roles/v1aX_integration_test/templates/cluster-template-controlplane.yaml
  vm-setup/roles/v1aX_integration_test/templates/cluster-template-workers.yaml
Due: none

Update github/codeql-action action to v2
  .github/workflows/kubesec.yml
Due: none

Update dependency kubernetes/kubernetes to v1.24.2
  lib/common.sh
Due: shellcheck

Uplift CAPI and CAPM3 release versions in tests
  scripts/feature_tests/upgrade/upgrade_vars.sh
  vm-setup/roles/v1aX_integration_test/vars/main.yml
Due: shellcheck

Do not check for passwordless sudo if running as root
  lib/common.sh
Due: shellcheck

Fetch HardwareData YAMLs as part of manifests fetching
  scripts/fetch_manifests.sh
Due: shellcheck

Update Renovate config to monitor patch versions
  renovate.json
Due: none

Update reviewers list
  renovate.json
Due: none

Make wget less verbose
  01_prepare_host.sh
Due: shellcheck

Remove CAPI v1alpha3 support related logic
  README.md
  config_example.sh
  lib/common.sh
  lib/releases.sh
  tests/roles/run_tests/templates/cluster-template-controlplane.yaml
  tests/roles/run_tests/vars/main.yml
  vars.md
Due: shellcheck, markdownlint

Remove CAPM3 v1alpha4 support related logic
  03_launch_mgmt_cluster.sh
  04_verify.sh
  README.md
  config_example.sh
  lib/common.sh
  lib/releases.sh
  tests/roles/run_tests/tasks/move.yml
  tests/roles/run_tests/vars/main.yml
  vars.md
Due: shellcheck, markdownlint

fix for v1a5 main e2e test
  tests/scripts/generate-template.sh
  tests/scripts/run_command.sh
Due: shellcheck

Remove unneeded k8s_version check based on the capm3_version
  lib/common.sh
Due: shellcheck

Uplift KIND_NODE_IMAGE_VERSION v1.23.6
  lib/common.sh
Due: shellcheck

Uplift K8s to 1.23.8
  config_example.sh
  lib/common.sh
  tests/feature_tests/feature_test_vars.sh
  tests/feature_tests/node_reuse/node_reuse_vars.sh
  tests/feature_tests/upgrade/upgrade_vars.sh
  tests/roles/run_tests/vars/main.yml
  vars.md
Due: shellcheck, markdownlint

Fix readme test paths
  README.md
Due: markdownlint

Update build badge links
  README.md
Due: markdownlint

Use CAPM3RELEASEBRANCH from jjb instead of setting it based on API Version
  lib/common.sh
Due: shellcheck

Fix unbound CAPM3RELEASEBRANCH we running local test
  lib/common.sh
Due: shellcheck

Uplift centos img version of node_reuse test
  tests/feature_tests/node_reuse/node_reuse_vars.sh
Due: shellcheck

Add Sunnatillo and Adam Rozman to reviewers list
  OWNERS
Due: none

Fix location of run.sh file for provisioning and deprovisioning files
  tests/scripts/deprovision/cluster.sh
  tests/scripts/deprovision/controlplane.sh
  tests/scripts/deprovision/worker.sh
  tests/scripts/provision/cluster.sh
  tests/scripts/provision/controlplane.sh
  tests/scripts/provision/pivot.sh
  tests/scripts/provision/worker.sh
Due: shellcheck

Test metal3Remediation CR deletion bug in the healthcheck feature test
  01_prepare_host.sh
  lib/common.sh
  lib/releases.sh
Due: shellcheck

Try with different approach
  lib/common.sh
Due: shellcheck

skip other tests and Test with 2nd version of commit from slintes
  Makefile
  lib/common.sh
Due: shellcheck

Uplift k8s to 1.24.1
  config_example.sh
  lib/common.sh
  tests/feature_tests/feature_test_vars.sh
  tests/feature_tests/node_reuse/node_reuse_vars.sh
  tests/feature_tests/upgrade/upgrade_vars.sh
  tests/roles/run_tests/tasks/healthcheck.yml
  tests/roles/run_tests/tasks/node_reuse.yml
  tests/roles/run_tests/tasks/upgrade.yml
  tests/roles/run_tests/vars/main.yml
  vars.md
Due: shellcheck, markdownlint

use different K8s version for capm3 0.5 tests
  tests/feature_tests/feature_test_vars.sh
  tests/feature_tests/node_reuse/node_reuse_vars.sh
Due: shellcheck

Move hardys to emeritus_approvers
  OWNERS
Due: none

Reconfigure network settings from network-scripts to keyfile format for Centos
  02_configure_host.sh
  host_cleanup.sh
Due: shellcheck

Only add krew path to .bashrc if not there
  01_prepare_host.sh
Due: shellcheck

Inject ssh key also in ironic ramdisk
  03_launch_mgmt_cluster.sh
  lib/common.sh
Due: shellcheck

Fix ipam release for capm3 1.1
  lib/common.sh
Due: shellcheck

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: \.md$
