Repository metal3-io/ip-address-manager: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, shellcheck, unit, generate, manifestlint

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

golangci-lint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/ensure-golangci-lint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

govet:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/govet.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/codegen.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

uplift all vulnerable dependencies
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

manifestlint: move from kubeval to kubeconform
  hack/manifestlint.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint

sync OWNERS from main
  OWNERS
Due: none

cherry-pick gomod.sh fixes from main
  hack/gomod.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint

Update controller image tag to release branch
  config/default/manager_image_patch.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump CAPI to v1.4.0
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

cleanup hack/ scripts
  hack/codegen.sh
  hack/ensure-go.sh
  hack/ensure-golangci-lint.sh
  hack/ensure-kind.sh
  hack/ensure-kubectl.sh
  hack/ensure-kustomize.sh
  hack/fetch_ext_bins.sh
  hack/gofmt.sh
  hack/gomod.sh
  hack/gosec.sh
  hack/govet.sh
  hack/kind_with_registry.sh
  hack/manifestlint.sh
  hack/markdownlint.sh
  hack/shellcheck.sh
  hack/tools/install_kubebuilder.sh
  hack/tools/install_kustomize.sh
  hack/unit.sh
  hack/verify-boilerplate.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint

Disable scheduled workflows from running in forks
  .github/workflows/kubesec.yml
  .github/workflows/release.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

add broken link checker action
  .github/workflows/lint-docs.yaml
  .markdownlinkcheck.json
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

fix broken links in markdown files
  VERSIONING.md
  docs/api.md
Due: markdownlint

update releasing.md
  docs/releasing.md
Due: markdownlint

Added fuzzing to ipam.
  test/fuzz/yaml.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Added IpClaim pooling test.
  test/fuzz/yaml.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

update build badges and compatibility table
  README.md
Due: markdownlint

update build badges to point to 1.3
  README.md
Due: markdownlint

update build badge to point to 1.2
  CONTRIBUTING.md
  README.md
  docs/releasing.md
Due: markdownlint

update compatibility table in README.md
  README.md
Due: markdownlint

pin distroless/static:nonroot to a sha digest
  Dockerfile
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

✨ Add flags for configuring rate limits
  .gitignore
  main.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump CAPI to v1.4.2
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump CAPI to v1.3.7
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

update releasing with more steps
  docs/releasing.md
Due: markdownlint

bump golang image from 1.19.6 to 1.19.9
  Dockerfile
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

pin distroless/static:nonroot, and bump golang to 1.19.9
  Dockerfile
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump controller-tools to v0.11.4
  config/crd/bases/ipam.metal3.io_ipaddresses.yaml
  config/crd/bases/ipam.metal3.io_ipclaims.yaml
  config/crd/bases/ipam.metal3.io_ippools.yaml
  config/rbac/role.yaml
  config/webhook/manifests.yaml
  hack/tools/go.mod
  hack/tools/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Add dependabot configuration
  .github/dependabot.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

remove mdlrc and fix the one error it ignored
  .mdlrc
  README.md
Due: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, unit, generate, manifestlint

Added fuzzing targets to ipam.
  go.mod
  go.sum
  test/fuzz/README.md
  test/fuzz/ippool_controller_fuzzer.go
  test/fuzz/ippool_manager_fuzzer.go
Due: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, unit, generate, manifestlint

Add dependabot workflow
  .github/workflows/dependabot.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Fix dependabot.yml yaml formatting
  .github/dependabot.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

update kubeconform to v0.6.2
  hack/manifestlint.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint

Add missing github-actions to dependabot.yml
  .github/dependabot.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Spectro FIPS and CICD
  .github/workflows/spectro-release.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Path conditions:
  gomod: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: \.md$
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$
