Repository metal3-io/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: check-prow-config, markdownlint, shellcheck

check-prow-config:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20210916-7657ce97bf
      args:
      - /checkconfig
      - --config-path
      - prow/config/config.yaml
      - --plugin-config
      - prow/config/plugins.yaml
      - --strict
      resources:
        requests:
          memory: 500Mi

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint-cli2:0.9.0@sha256:71370df6c967bae548b0bfd0ae313ddf44bfad87da76f88180eff55c6264098c
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.10.0@sha256:5921d946dac740cbeec2fb1c898747b6105e585130cc7f0602eec9a10f7ddb63
  ...

Build diskimage builder from upstream until next release of DIB
  jenkins/image_building/build-image.sh
Due: check-prow-config, shellcheck

Bump golang to v1.22 for CAPM3, BMO and IPAM prow jobs
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Revert deleting utils.sh files
  jenkins/scripts/utils.sh
Due: check-prow-config, shellcheck

shellcheck only files
  hack/shellcheck.sh
Due: check-prow-config, shellcheck

Cleanup old integration tests scripts: - Remove unused variables and conditions - Keeps only bml workflow related part as this script is still used in bml integration tests
  jenkins/scripts/bml_integration_test.sh
  jenkins/scripts/fetch_logs.sh
  jenkins/scripts/files/run_integration_tests.sh
Due: check-prow-config, shellcheck

Bumping k8s-prow images
  prow/manifests/base/crier.yaml
  prow/manifests/base/deck.yaml
  prow/manifests/base/ghproxy.yaml
  prow/manifests/base/hook.yaml
  prow/manifests/base/horologium.yaml
  prow/manifests/base/prow-controller-manager.yaml
  prow/manifests/base/sinker.yaml
  prow/manifests/base/statusreconciler.yaml
  prow/manifests/base/tide.yaml
  prow/manifests/overlays/metal3/config.yaml
  prow/manifests/overlays/metal3/external-plugins/cherrypicker_deployment.yaml
  prow/manifests/overlays/metal3/external-plugins/jenkins-operator.yaml
  prow/manifests/overlays/metal3/external-plugins/labels_cronjob.yaml
  prow/manifests/overlays/metal3/external-plugins/needs-rebase_deployment.yaml
Due: check-prow-config

test running e2e features, ephemeral tests in private cloud.
  jenkins/jobs/capm3-e2e-tests.pipeline
  jenkins/jobs/parallel_e2e_features_test.pipeline
Due: check-prow-config

Make BMO e2e tests optional
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

implement dynamic fullstack builder pipeline
  jenkins/jobs/dynamic_fullstack_building.pipeline
  jenkins/scripts/artifactory/utils.sh
  jenkins/scripts/dynamic_worker_workflow/build_ipa.sh
  jenkins/scripts/dynamic_worker_workflow/fullstack.sh
  jenkins/scripts/dynamic_worker_workflow/fullstack_build_ironic.sh
  jenkins/scripts/dynamic_worker_workflow/ipa_builder_elements/cleanup-package/post-install.d/99-cleanup-package
  jenkins/scripts/dynamic_worker_workflow/ipa_builder_elements/ipa-add-buildinfo/install.d/80-ipa-add-buildinfo
  jenkins/scripts/dynamic_worker_workflow/ipa_builder_elements/ipa-cleanup-dracut/cleanup.d/99-ipa-cleanup-dracut
  jenkins/scripts/dynamic_worker_workflow/ipa_builder_elements/ipa-file-injector/environment.d/99-install-file-injector
  jenkins/scripts/dynamic_worker_workflow/ipa_builder_elements/ipa-file-injector/install.d/99-enable-ipa-file-injector
  jenkins/scripts/dynamic_worker_workflow/ipa_builder_elements/ipa-file-injector/root.d/99-install-file-injector
  jenkins/scripts/dynamic_worker_workflow/ipa_builder_elements/ipa-file-injector/root.d/ipa-file-injector.service.template
  jenkins/scripts/dynamic_worker_workflow/ipa_builder_elements/ipa-file-injector/root.d/ipa-file-injector.sh
  jenkins/scripts/dynamic_worker_workflow/ipa_builder_elements/ipa-module-autoload/install.d/80-ipa-module-autoload
  jenkins/scripts/dynamic_worker_workflow/ipa_builder_elements/override-simple-init/environment.d/99-override-simple-init
  jenkins/scripts/dynamic_worker_workflow/ipa_builder_elements/override-simple-init/post-install.d/99-override-simple-init
  jenkins/scripts/dynamic_worker_workflow/ipa_builder_elements/override-simple-init/post-install.d/glean-early-override-template.service
  jenkins/scripts/harbor/harbor_utils.sh
Due: check-prow-config, shellcheck

Remove BMO unit jobs
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Changes related to rebuilding the Prow cluster
  prow/README.md
  prow/capo-cluster/openstackcluster.yaml
  prow/infra/service.yaml
Due: check-prow-config, markdownlint

Move Prow to Xerces
  prow/README.md
  prow/capo-cluster/infra-md.yaml
  prow/capo-cluster/kubeadmcontrolplane.yaml
  prow/capo-cluster/machinedeployment.yaml
  prow/capo-cluster/openstackcluster.yaml
  prow/capo-cluster/openstackmachinetemplates.yaml
  prow/infra/service.yaml
  prow/manifests/base/hook.yaml
Due: check-prow-config, markdownlint

bump go 1.22 for ironic-standalone-operator
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

remove BMO e2e tests from Prow
  jenkins/jobs/bmo_e2e_tests.pipeline
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Update config for ironic-image release-25.0
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Prow DNS cleanup
  prow/manifests/base/hook.yaml
Due: check-prow-config

Add bml integration tests jobs to prow config
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Fix manifest collection in failed test
  jenkins/scripts/dynamic_worker_workflow/fetch_logs.sh
  jenkins/scripts/files/run_fetch_logs.sh
Due: check-prow-config, shellcheck

Fix merging PR branch in bml tests
  jenkins/jobs/bml_integration_tests.pipeline
  jenkins/scripts/bare_metal_lab/default_vars/vars.yaml
  jenkins/scripts/bare_metal_lab/tasks/cleanup-tasks.yaml
  jenkins/scripts/bml_cleanup.sh
  jenkins/scripts/bml_integration_test.sh
Due: check-prow-config, shellcheck

Remove ironic image build pipeline
  jenkins/jobs/ironic_image_build_test.pipeline
  jenkins/scripts/ironic_build_test.sh
  jenkins/scripts/ironic_image_build_test_delete.sh
  jenkins/scripts/start_ironic_image_build_test.sh
Due: check-prow-config, shellcheck

Add config for basic-check container image
  prow/container-images/basic-checks/Dockerfile
  prow/container-images/basic-checks/README.md
Due: check-prow-config, markdownlint

Push CI images to xerces
  jenkins/image_building/upload-ci-image.sh
  jenkins/jobs/image_building.pipeline
Due: check-prow-config, shellcheck

Use raw format for image since xerces doesnt support qcow2
  jenkins/image_building/build-image.sh
  jenkins/image_building/upload-ci-image.sh
Due: check-prow-config, shellcheck

Allow uploading image to both openstack xerces and cleura
  jenkins/image_building/build-image.sh
  jenkins/image_building/upload-ci-image.sh
  jenkins/jobs/image_building.pipeline
Due: check-prow-config, shellcheck

Add image testing to node image building process
  jenkins/image_building/build-image.sh
  jenkins/image_building/verify-node-image.sh
  jenkins/scripts/dynamic_worker_workflow/test_env.sh
Due: check-prow-config, shellcheck

cleanup basic-checks image
  prow/container-images/basic-checks/Dockerfile
Due: check-prow-config

delete local images after they're uploaded
  jenkins/image_building/build-image.sh
Due: check-prow-config, shellcheck

Use basic-checks image instead of docker.io/golang for basic tests
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Build qcow2 image instead of raw by default
  jenkins/image_building/build-image.sh
  jenkins/image_building/upload-ci-image.sh
Due: check-prow-config, shellcheck

Bumping k8s-prow images
  prow/manifests/base/crier.yaml
  prow/manifests/base/deck.yaml
  prow/manifests/base/ghproxy.yaml
  prow/manifests/base/hook.yaml
  prow/manifests/base/horologium.yaml
  prow/manifests/base/prow-controller-manager.yaml
  prow/manifests/base/sinker.yaml
  prow/manifests/base/statusreconciler.yaml
  prow/manifests/base/tide.yaml
  prow/manifests/overlays/metal3/config.yaml
  prow/manifests/overlays/metal3/external-plugins/cherrypicker_deployment.yaml
  prow/manifests/overlays/metal3/external-plugins/jenkins-operator.yaml
  prow/manifests/overlays/metal3/external-plugins/needs-rebase_deployment.yaml
Due: check-prow-config

test PR
  jenkins/scripts/bare_metal_lab/default_vars/vars.yaml
Due: check-prow-config

remove KUBECTL_SHA256 passthru
  jenkins/jobs/bml_integration_tests.pipeline
  jenkins/jobs/capm3-e2e-tests.pipeline
  jenkins/jobs/image_building.pipeline
  jenkins/scripts/dynamic_worker_workflow/e2e_tests.sh
  jenkins/scripts/files/run_integration_tests.sh
Due: check-prow-config, shellcheck

Use server 5 instead of server 6
  jenkins/scripts/bare_metal_lab/default_vars/vars.yaml
Due: check-prow-config

Fix agent label name in fullstack tests
  jenkins/jobs/dynamic_fullstack_building.pipeline
Due: check-prow-config

bump spellcheck to 8.9.0
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Remove old SSH key from the CI image
  jenkins/image_building/authorized_keys
Due: check-prow-config

fix dynamic fullstack
  jenkins/jobs/dynamic_fullstack_building.pipeline
  jenkins/scripts/dynamic_worker_workflow/fullstack.sh
  jenkins/scripts/dynamic_worker_workflow/ipa_builder_elements/ipa-add-buildinfo/install.d/80-ipa-add-buildinfo
  jenkins/scripts/dynamic_worker_workflow/ipa_builder_elements/ipa-file-injector/environment.d/99-install-file-injector
  jenkins/scripts/dynamic_worker_workflow/ipa_builder_elements/ipa-file-injector/root.d/ipa-file-injector.service.template
  jenkins/scripts/dynamic_worker_workflow/ipa_builder_elements/override-simple-init/environment.d/99-override-simple-init
  jenkins/scripts/dynamic_worker_workflow/ipa_builder_elements/override-simple-init/post-install.d/glean-early-override-template.service
Due: check-prow-config, shellcheck

add missing bmo serial patch for fullstack test
  jenkins/scripts/dynamic_worker_workflow/bmh-patch-short-serial.yaml
  jenkins/scripts/dynamic_worker_workflow/build_ipa.sh
Due: check-prow-config, shellcheck

Path conditions:
  check-prow-config: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: (\.md|markdownlint\.sh)$
  shellcheck: any of: ((\.sh)|^Makefile)$
