Repository metal3-io/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: check-prow-config, markdownlint, shellcheck

Path conditions:
  check-prow-config: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: (\.md|markdownlint\.sh)$
  shellcheck: any of: ((\.sh)|^Makefile)$

Run dev-env's 01 scripts in all integration tests
  jenkins/scripts/files/run_integration_tests.sh
Due: check-prow-config, shellcheck

Update prow integration tests pipeline
  jenkins/jobs/prow_integration_tests.pipeline
Due: check-prow-config

Add ci_git_credential_id to basic e2e test pipeline
  jenkins/jobs/prow_integration_tests.pipeline
Due: check-prow-config

Fix UPDATED_REPO in the pipeline for e2e test trigger from prow
  jenkins/jobs/prow_integration_tests.pipeline
Due: check-prow-config

Bumping k8s-prow images
  prow/manifests/base/crier.yaml
  prow/manifests/base/deck.yaml
  prow/manifests/base/ghproxy.yaml
  prow/manifests/base/hook.yaml
  prow/manifests/base/horologium.yaml
  prow/manifests/base/prow-controller-manager.yaml
  prow/manifests/base/sinker.yaml
  prow/manifests/base/statusreconciler.yaml
  prow/manifests/base/tide.yaml
  prow/manifests/overlays/metal3/config.yaml
  prow/manifests/overlays/metal3/external-plugins/cherrypicker_deployment.yaml
  prow/manifests/overlays/metal3/external-plugins/jenkins-operator.yaml
  prow/manifests/overlays/metal3/external-plugins/labels_cronjob.yaml
  prow/manifests/overlays/metal3/external-plugins/needs-rebase_deployment.yaml
Due: check-prow-config

BMO e2e merge before build
  jenkins/jobs/bmo_e2e_tests.pipeline
Due: check-prow-config

BMO e2e: Specify merge remote
  jenkins/jobs/bmo_e2e_tests.pipeline
Due: check-prow-config

BMO e2e: Set user name and email for git
  jenkins/jobs/bmo_e2e_tests.pipeline
Due: check-prow-config

BMO e2e: Fix syntax
  jenkins/jobs/bmo_e2e_tests.pipeline
Due: check-prow-config

Prow: Run autobumper monthly
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Make basic e2e test triggerable from prow runnable on project-infra and fix branch issue
  jenkins/jobs/prow_integration_tests.pipeline
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Fix ci image builidng pipeline name
  jenkins/jobs/ci_image_building.pipeline
Due: check-prow-config

fix BMO required tests to match GH settings
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Adds number on install script's name
  jenkins/image_building/dib_elements/centos-ci/install.d/55-install
  jenkins/image_building/dib_elements/ubuntu-ci/install.d/55-install
Due: check-prow-config

Remove redundant prow jobs covered by golangci-lint
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Make basic e2e test triggerable from capm3 and project infra with different releases and os
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Fetch changes from pr-id when triggering from prow
  jenkins/jobs/prow_integration_tests.pipeline
  jenkins/scripts/files/run_integration_tests.sh
  jenkins/scripts/integration_test.sh
Due: check-prow-config, shellcheck

Fix prow trigger naming for basic e2e test
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Revert "Check CI VM cloud-init exit code instead of output"
  jenkins/scripts/integration_test.sh
  jenkins/scripts/utils.sh
Due: check-prow-config, shellcheck

bump shellcheck to v0.10.0
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Add trigger into project infra
  jenkins/jobs/prow_integration_tests.pipeline
Due: check-prow-config

fix project-infra url
  jenkins/jobs/prow_integration_tests.pipeline
Due: check-prow-config

Configure bml jobs to run through bml jenkins worker - removes Jumphost related logic from bml scripts - changes jenkins agent label for bml jobs
  jenkins/jobs/bml_integration_tests.pipeline
  jenkins/scripts/bml_cleanup.sh
  jenkins/scripts/bml_integration_test.sh
  jenkins/scripts/fetch_logs.sh
Due: check-prow-config, shellcheck

test yaml
  prow/test-yaml/cert-manager.yaml
Due: check-prow-config

clusterctl upgrade test
  .gitignore
  jenkins/jobs/capm3-e2e-tests.pipeline
Due: check-prow-config

Improve metal3ci image building
  jenkins/image_building/build-ci-image.sh
Due: check-prow-config, shellcheck

Minor fix in e2e pipeline script.
  jenkins/jobs/capm3-e2e-tests.pipeline
Due: check-prow-config

Add e2e integration trigger to prow
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Switch integration tests from static workers to dynamic workers
  jenkins/jobs/dev_env_integration_tests.pipeline
  jenkins/scripts/dynamic_worker_workflow/dev_env_integration_tests.sh
Due: check-prow-config, shellcheck

removing VM_KEY, not needed anymore
  jenkins/jobs/capm3-e2e-tests.pipeline
Due: check-prow-config

Add feature tests triggers to prow config
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

use dhcp provided dns address for metal3ci ubuntu images
  jenkins/image_building/dib_elements/ubuntu-ci/post-install.d/configure
Due: check-prow-config

Update feature tests pipeline to trigger them from prow
  jenkins/jobs/parallel_e2e_features_test.pipeline
Due: check-prow-config

Add dev-env-integration test to prow
  jenkins/jobs/dev_env_integration_tests.pipeline
  jenkins/scripts/dynamic_worker_workflow/dev_env_integration_tests.sh
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config, shellcheck

WIP: Add build pipeline for node images
  jenkins/image_building/build-node-image.sh
  jenkins/image_building/dib_elements/centos-node/README.md
  jenkins/image_building/dib_elements/centos-node/element-deps
  jenkins/image_building/dib_elements/centos-node/extra-data.d/55-load-scripts
  jenkins/image_building/dib_elements/centos-node/install.d/55-install
  jenkins/image_building/dib_elements/centos-node/modprobe.d/br_netfilter.conf
  jenkins/image_building/dib_elements/centos-node/modprobe.d/overlay.conf
  jenkins/image_building/dib_elements/centos-node/package-installs.yaml
  jenkins/image_building/dib_elements/centos-node/pre-install.d/55-setup-repos
  jenkins/image_building/dib_elements/ubuntu-node/README.md
  jenkins/image_building/dib_elements/ubuntu-node/element-deps
  jenkins/image_building/dib_elements/ubuntu-node/extra-data.d/55-add-scripts
  jenkins/image_building/dib_elements/ubuntu-node/install.d/55-install
  jenkins/image_building/dib_elements/ubuntu-node/modprobe.d/br_netfilter.conf
  jenkins/image_building/dib_elements/ubuntu-node/modprobe.d/overlay.conf
  jenkins/image_building/dib_elements/ubuntu-node/package-installs.yaml
  jenkins/image_building/dib_elements/ubuntu-node/post-install.d/90-pre-pull-images
  jenkins/image_building/dib_elements/ubuntu-node/pre-install.d/55-setup-repos
  jenkins/image_building/node-image-cloud-init/retrieve.configuration.files.sh
  jenkins/jobs/node_image_building.pipeline
Due: check-prow-config, markdownlint, shellcheck

Fetch changes from PR id with prow feature tests triggers
  jenkins/scripts/dynamic_worker_workflow/feature_tests.sh
  jenkins/scripts/files/run_integration_tests.sh
Due: check-prow-config, shellcheck

initialize prow support for ironic-standalone-operator
  prow/manifests/overlays/metal3/config.yaml
  prow/manifests/overlays/metal3/plugins.yaml
Due: check-prow-config

Trigger upgrade tests from prow
  jenkins/jobs/capm3-e2e-tests.pipeline
  prow/manifests/overlays/metal3/config.yaml
Due: check-prow-config

Add cluster-autoscaler for prow cluster
  prow/README.md
  prow/capo-cluster/machinedeployment.yaml
  prow/cluster-resources/autoscaler.yaml
  prow/cluster-resources/coredns-pdb.yaml
  prow/cluster-resources/kustomization.yaml
Due: check-prow-config, markdownlint
