Repository metal3-io/metal3-dev-env: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: \.md$

Bump k8s version and kind/node image version to v1.25.2
  config_example.sh
  lib/common.sh
  tests/feature_tests/feature_test_vars.sh
  tests/feature_tests/node_reuse/node_reuse_vars.sh
  tests/roles/run_tests/vars/main.yml
  vars.md
Due: shellcheck, markdownlint

Uplift kind binary to v0.16.0
  lib/common.sh
Due: shellcheck

Bump Calico image to 3.24.1
  tests/roles/run_tests/tasks/verify.yml
  tests/roles/run_tests/vars/main.yml
Due: none

Update renovate to track k8s v1.25.x dependencies
  renovate.json
Due: none

Remove fmuyassarov from renovate assignees
  renovate.json
Due: none

uplift minikube to v1.27.1
  lib/common.sh
Due: shellcheck

Downgrade to NetworkManager-1.40.0-1.el9
  01_prepare_host.sh
Due: shellcheck

To test cert manager v1.10.0 in the CI
  03_launch_mgmt_cluster.sh
Due: shellcheck

Install passlib from rpm
  vm-setup/roles/packages_installation/defaults/main.yml
Due: none

IPA downloader exit on error and retry
  01_prepare_host.sh
Due: shellcheck

add SECURITY_CONTACTS file
  SECURITY_CONTACTS
Due: none

Fix CAPI release to v1.3.0-beta.1 for main branch test
  lib/releases.sh
Due: shellcheck

Uplift golang to v1.19
  renovate.json
  vm-setup/install-package-playbook.yml
Due: none

Fix CAPM3 to v1.3.0-beta.0 pre-release
  lib/releases.sh
Due: shellcheck

Timeout/retry the image download
  tests/roles/run_tests/tasks/download_image.yml
Due: none

Detect libvirt_domain_type when running in a VM
  vm-setup/roles/libvirt/defaults/main.yml
  vm-setup/roles/libvirt/tasks/vm_setup_tasks.yml
Due: none

Install netcat for remote libvirt access
  vm-setup/roles/packages_installation/defaults/main.yml
Due: none

Install pkg-config for building packages
  01_prepare_host.sh
Due: shellcheck

Do not use host-passthru for VMs on qemu
  vm-setup/roles/libvirt/templates/baremetalvm.xml.j2
Due: none

Correct iptables rules for Ubuntu
  02_configure_host.sh
  vm-setup/roles/firewall/defaults/main.yml
  vm-setup/roles/firewall/tasks/iptables.yaml
Due: shellcheck

Use serial console and timeout on VM boot
  vm-setup/roles/libvirt/templates/baremetalvm.xml.j2
Due: none

Enable access to Kind port 6443
  vm-setup/roles/firewall/defaults/main.yml
  vm-setup/roles/firewall/tasks/iptables.yaml
Due: none

Fetch CAPI/CAPM3 pre-releases for main branch
  lib/releases.sh
Due: shellcheck

Use SQlite for Ironic
  03_launch_mgmt_cluster.sh
Due: shellcheck

Change some env var names to same ones in CAPI
  config_example.sh
  lib/common.sh
  tests/feature_tests/feature_test_vars.sh
  tests/feature_tests/healthcheck/Makefile
  tests/feature_tests/node_reuse/Makefile
  tests/feature_tests/pivoting/Makefile
  tests/feature_tests/pivoting/upgrade.sh
  tests/feature_tests/remediation/Makefile
  tests/feature_tests/upgrade/upgrade_vars.sh
  tests/roles/run_tests/tasks/cleanup.yml
  tests/roles/run_tests/tasks/generate_templates.yml
  tests/roles/run_tests/tasks/move.yml
  tests/roles/run_tests/tasks/node_reuse.yml
  tests/roles/run_tests/tasks/remediation.yml
  tests/roles/run_tests/tasks/verify_resources_states.yml
  tests/roles/run_tests/templates/cluster-template-controlplane.yaml
  tests/roles/run_tests/templates/cluster-template-workers.yaml
  tests/roles/run_tests/templates/clusterctl-vars.yaml
  tests/roles/run_tests/vars/main.yml
  tests/test.sh
  vars.md
Due: shellcheck, markdownlint

Support multiple instances in the same network
  03_launch_mgmt_cluster.sh
  lib/common.sh
  lib/network.sh
  tests/roles/run_tests/vars/main.yml
  vars.md
Due: shellcheck, markdownlint

test NATed provisioning subnet
  ubuntu_bridge_network_configuration.sh
  vm-setup/roles/common/defaults/main.yml
Due: shellcheck

Upgrade 1.23.8 to 1.25.x is two steps
  tests/feature_tests/upgrade/upgrade_vars.sh
  tests/roles/run_tests/tasks/upgrade.yml
  tests/roles/run_tests/tasks/upgrade_k8s.yml
Due: shellcheck

Check v1a5 upgrade tests with higher k8s version
  lib/common.sh
  tests/feature_tests/feature_test_vars.sh
  tests/feature_tests/node_reuse/node_reuse_vars.sh
  tests/feature_tests/upgrade/upgrade_vars.sh
Due: shellcheck

Use kustomize components for Ironic
  03_launch_mgmt_cluster.sh
Due: shellcheck

Remove CAPM3 release-0.5 branch check from _vars.sh scripts
  tests/feature_tests/feature_test_vars.sh
  tests/feature_tests/node_reuse/node_reuse_vars.sh
Due: shellcheck

fix ironic_bmo_configmap path with v0.1.2
  03_launch_mgmt_cluster.sh
Due: shellcheck

testing bml
  03_launch_mgmt_cluster.sh
Due: shellcheck

calico reverted
  03_launch_mgmt_cluster.sh
  tests/roles/run_tests/tasks/verify.yml
  tests/roles/run_tests/vars/main.yml
Due: shellcheck

checking latest versions
  03_launch_mgmt_cluster.sh
  tests/roles/run_tests/tasks/verify.yml
  tests/roles/run_tests/vars/main.yml
Due: shellcheck

Fix BMOBRANCH var while kustomization
  03_launch_mgmt_cluster.sh
Due: shellcheck

Use ansible 7.0.0 only for Ubuntu 22.x
  lib/common.sh
Due: shellcheck

Use minor releases in test instead of prerelease for v1.3
  lib/releases.sh
Due: shellcheck
