Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, golint, govet, markdownlint, shellcheck, generate, unit, manifestlint

Path conditions:
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  golint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: \.md$
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$

Uplift ipam
  api/go.mod
  api/go.sum
  config/ipam/image_patch.yaml
  config/ipam/kustomization.yaml
  go.mod
  go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Remove tilt_modules
  Tiltfile
  tilt_modules/cert_manager/README.md
  tilt_modules/cert_manager/Tiltfile
  tilt_modules/cert_manager/test/Tiltfile
  tilt_modules/cert_manager/test/test.sh
  tilt_modules/extensions.json
Due: gofmt, golint, govet, markdownlint, shellcheck, generate, unit, manifestlint

Update ubuntu based e2e tests trigger phrases
  README.md
Due: markdownlint

Align e2e test modules with CAPI release version in go modules
  go.mod
  go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Update CAPI e2e test to v1.1.2 in e2e config file
  test/e2e/config/e2e_conf.yaml
Due: gofmt, golint, govet, generate, unit, manifestlint

Drop CAPM3 v1alpha4 support from main branch
  Makefile
  api/v1alpha4/common_types.go
  api/v1alpha4/conversion.go
  api/v1alpha4/conversion_test.go
  api/v1alpha4/doc.go
  api/v1alpha4/groupversion_info.go
  api/v1alpha4/metal3cluster_types.go
  api/v1alpha4/metal3cluster_types_test.go
  api/v1alpha4/metal3data_types.go
  api/v1alpha4/metal3dataclaim_types.go
  api/v1alpha4/metal3datatemplate_types.go
  api/v1alpha4/metal3machine_types.go
  api/v1alpha4/metal3machine_types_test.go
  api/v1alpha4/metal3machinetemplate_types.go
  api/v1alpha4/metal3remediation_types.go
  api/v1alpha4/metal3remediationtemplate_types.go
  api/v1alpha4/v1alpha4_suite_test.go
  api/v1alpha4/zz_generated.conversion.go
  api/v1alpha4/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3clusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3dataclaims.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datas.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datatemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3remediations.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3remediationtemplates.yaml
  config/crd/kustomization.yaml
  main.go
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Update metadata.yaml and remove autogenerate from codegen.sh
  hack/codegen.sh
  metadata.yaml
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Update README and api.md with dropping a support notes
  README.md
  docs/api.md
Due: markdownlint

Update root README file
  README.md
Due: markdownlint

Add unit tests for metal3MachineTemplate reconciliation
  api/v1beta1/metal3machine_types.go
  baremetal/metal3machinetemplate_manager_test.go
  controllers/metal3machinetemplate_controller.go
  controllers/metal3machinetemplate_controller_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

debug
  README.md
  test/e2e/config/e2e_conf.yaml
  test/e2e/e2e_test.go
Due: gofmt, golint, govet, markdownlint, generate, unit, manifestlint

debug
  test/e2e/e2e_test.go
  test/e2e/pivoting_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Use clusterctlConfigPath
  test/e2e/e2e_test.go
  test/e2e/pivoting_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Improve the readme doc and address review comments
  README.md
Due: markdownlint

Fix update taints into a modified node
  test/e2e/node_reuse_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Remove providerID field from m3mdata
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  baremetal/suite_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Remove new provideruid format
  baremetal/metal3data_manager_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Generate cluster templates from the e2e-tests
  Makefile
  config/default/kustomization.yaml
  scripts/ci-e2e.sh
  templates/test/cluster-template-prow-ha-centos.yaml
  templates/test/cluster-template-prow-ha.yaml
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/infrastructure-metal3/bases/cluster/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-metal3/bases/cluster/kustomization.yaml
  test/e2e/data/infrastructure-metal3/bases/cluster/md.yaml
  test/e2e/data/infrastructure-metal3/bases/ippool/ippool.yaml
  test/e2e/data/infrastructure-metal3/bases/ippool/kustomization.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-centos/controlplane-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-centos/kustomization.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-centos/workers-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-ubuntu/controlplane-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-ubuntu/kustomization.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-ubuntu/workers-kubeadm-config.yaml
  test/e2e/e2e_test.go
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Add creation of namespace
  README.md
Due: markdownlint

Fix containerd CRI plugin: Insecure handling of image volumes
  api/go.sum
  go.mod
  go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Parameterize namespace name
  baremetal/metal3data_manager_test.go
  baremetal/metal3datatemplate_manager_test.go
  baremetal/metal3machine_manager_test.go
  baremetal/metal3remediation_manager_test.go
  baremetal/suite_test.go
  baremetal/utils_test.go
  controllers/metal3data_controller_test.go
  controllers/metal3datatemplate_controller_test.go
  controllers/metal3labelsync_controller_test.go
  controllers/metal3machine_controller_integration_test.go
  controllers/metal3machine_controller_test.go
  controllers/metal3machinetemplate_controller_test.go
  controllers/suite_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Add providerid field metadata
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  baremetal/suite_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Add clusterctl upgrade test from v1a4 to v1b1
  Makefile
  hack/e2e/environment.sh
  scripts/ci-e2e.sh
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/infrastructure-metal3/bases/centos-kubeadm-config/centos-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/bases/centos-kubeadm-config/kustomization.yaml
  test/e2e/data/infrastructure-metal3/bases/ubuntu-kubeadm-config/kustomization.yaml
  test/e2e/data/infrastructure-metal3/bases/ubuntu-kubeadm-config/ubuntu-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-centos/kustomization.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-centos/workers-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-ubuntu/kustomization.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-ubuntu/workers-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-upgrade-workload/kustomization.yaml
  test/e2e/data/infrastructure-metal3/v1alpha5/metadata.yaml
  test/e2e/data/infrastructure-metal3/v1beta1/metadata.yaml
  test/e2e/data/shared/v1alpha4/metadata.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/e2e_test.go
  test/e2e/pivoting_test.go
  test/e2e/upgrade_management_cluster_test.go
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Synchronize OWNERS file in release-0.5 branch with main
  OWNERS
Due: none

Remove hardys from OWNERS
  OWNERS
Due: none

master
  docs/api.md
  scripts/ci-e2e.sh
Due: gofmt, golint, govet, markdownlint, shellcheck, generate, unit, manifestlint

allow kubectl caching after cluster creation
  docs/api.md
  docs/getting-started.md
  examples/clusterctl-templates/example_variables.rc
  test/e2e/data/infrastructure-metal3/bases/centos-kubeadm-config/centos-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/bases/ubuntu-kubeadm-config/ubuntu-kubeadm-config.yaml
Due: gofmt, golint, govet, markdownlint, generate, unit, manifestlint

Uplift CAPI versions to 0.4.8 & 1.1.3
  README.md
  hack/e2e/environment.sh
  test/e2e/config/e2e_conf.yaml
Due: gofmt, golint, govet, markdownlint, shellcheck, generate, unit, manifestlint

Uplift CAPI go modules to 1.1.2
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Use crypto/rand instead of math/rand
  baremetal/metal3machine_manager.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Fix unsafe defer call to file.Close()
  test/e2e/common.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Reassign loop variable to address gosec G601
  baremetal/metal3datatemplate_manager.go
  baremetal/metal3machine_manager.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Exclude rules G107 for gosec
  .golangci.yaml
  hack/gosec.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Add gosec file for go security checks
  .golangci.yaml
  hack/gosec.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Cleanup bad filepath using filepath.Clean
  test/e2e/common.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Uplift golangci/golangci-lint v1.44.2
  hack/tools/go.mod
  hack/tools/go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Remove nolint:gosec
  test/e2e/upgrade_management_cluster_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint
