Repository metal3-io/metal3-dev-env: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

cleanup 02 script
  02_configure_host.sh
Due: shellcheck

pass locally built images via config to tests
  02_configure_host.sh
  lib/common.sh
  tests/run.sh
Due: shellcheck

fix ironic building from source in PR test
  02_configure_host.sh
Due: shellcheck

Add release-1.6 branch config for CAPM3 and IPAM
  README.md
  lib/common.sh
  lib/releases.sh
Due: shellcheck, markdownlint

K3s+Metal3 Experiment
  03_launch_mgmt_cluster.sh
  04_verify.sh
  template/bootstrap-k3s/v1.2.2/bootstrap-components.yaml
  template/bootstrap-k3s/v1.2.2/metadata.yaml
  template/clusterctl.yaml
  template/control-plane-k3s/v1.2.2/control-plane-components.yaml
  template/control-plane-k3s/v1.2.2/metadata.yaml
  tests/roles/run_tests/tasks/calico.yml
  tests/roles/run_tests/tasks/main.yml
  tests/roles/run_tests/tasks/move.yml
  tests/roles/run_tests/tasks/verify.yml
  tests/roles/run_tests/templates/cluster-template-cluster.yaml
  tests/roles/run_tests/templates/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/cluster-template-controlplane.yaml
  tests/roles/run_tests/templates/cluster-template-workers-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/cluster-template-workers.yaml
Due: shellcheck

Bump k8s & kind node image version to v1.29.0
  config_example.sh
  lib/common.sh
  renovate.json
  tests/roles/run_tests/vars/main.yml
  vars.md
Due: shellcheck, markdownlint

remove release 1.3 support
  README.md
  lib/common.sh
  lib/releases.sh
Due: shellcheck, markdownlint

introduces custom iPXE firmware buiding support
  03_launch_mgmt_cluster.sh
  lib/common.sh
  lib/ironic_tls_setup.sh
Due: shellcheck

Bump minikube to v1.32.0
  lib/common.sh
Due: shellcheck

Update kustomize phony for CAPM3
  03_launch_mgmt_cluster.sh
Due: shellcheck

Fix kustomize phony for older CAPM3 branches
  03_launch_mgmt_cluster.sh
Due: shellcheck

switch markdownlint container to markdownlint-cli2
  .markdownlint-cli2.yaml
  hack/markdownlint.sh
  vars.md
Due: shellcheck, markdownlint

Bump golang to v1.21.6
  renovate.json
  vm-setup/install-package-playbook.yml
Due: none

sync iPXE TLS certificate generation with firmware building
  lib/ironic_tls_setup.sh
Due: shellcheck

Copy USE_IRONIC_INSPECTOR from BMO defaults
  03_launch_mgmt_cluster.sh
Due: shellcheck

Do not install NetworkManager-initscripts-updown anymore for el9
  vm-setup/roles/packages_installation/defaults/main.yml
Due: none

Update main.yml
  vm-setup/roles/packages_installation/defaults/main.yml
Due: none

Fix path in `deploy_tilt_env.sh` to make script run correct
  tilt-setup/deploy_tilt_env.sh
Due: shellcheck

add make target for prepulling images
  Makefile
  lib/image_prepull.sh
Due: shellcheck

Use CAPM3RELEASEBRANCH instead of CAPM3BRANCHfor kustomization
  03_launch_mgmt_cluster.sh
Due: shellcheck

Write bmhs in a separated files
  03_launch_mgmt_cluster.sh
Due: shellcheck

Remove inspector container
  tests/roles/run_tests/tasks/move.yml
Due: none

Bump ironic-image to v24.0.0 for BMO release-0.5 branch
  README.md
  lib/common.sh
Due: shellcheck, markdownlint

Stop setting IRONIC_FAST_TRACK by default
  03_launch_mgmt_cluster.sh
Due: shellcheck

Fix tilt setup script after the removal of ironic-inspector
  tilt-setup/deploy_tilt_env.sh
Due: shellcheck

bump shellcheck to v0.10.0
  hack/shellcheck.sh
Due: shellcheck

BUMP BMO to latest patch versions v0.5.1 and v0.4.2
  README.md
  lib/common.sh
Due: shellcheck, markdownlint

Cleanup BMH CRs in between multiple make and make cleans
  host_cleanup.sh
Due: shellcheck

Test if in-cluster IPAM works with straight out the box
  03_launch_mgmt_cluster.sh
  config_example.sh
  tests/roles/run_tests/tasks/move.yml
Due: shellcheck

Test CAPM3 main branch with CAPI v1.7.0-beta.0
  lib/releases.sh
Due: shellcheck

Fix bmo deployment name and the order of actions for deletion in ansible move.yml. Also remove the KUBECTL_ARG in move_back.yml to pivot back correctly from target to source cluster.
  tests/roles/run_tests/tasks/move.yml
  tests/roles/run_tests/tasks/move_back.yml
Due: none

Echo error string in stderr instead of stdout
  lib/releases.sh
Due: shellcheck

Switch to deploy.go implementation from deploy.sh
  03_launch_mgmt_cluster.sh
  lib/common.sh
  tests/roles/run_tests/tasks/move.yml
  tests/roles/run_tests/tasks/move_back.yml
  tests/roles/run_tests/vars/main.yml
  tilt-setup/deploy_tilt_env.sh
Due: shellcheck

Bump ironic-image to v24.1.0
  README.md
  lib/common.sh
Due: shellcheck, markdownlint

Bump golang to v1.21.9 and kind to 0.22.0
  lib/common.sh
  vm-setup/install-package-playbook.yml
Due: shellcheck

Downgrade ironic-image to v24.0.0 for release-1.6 branch
  README.md
  lib/common.sh
Due: shellcheck, markdownlint

Add support for release 1.7
  README.md
  lib/common.sh
  lib/releases.sh
Due: shellcheck, markdownlint

Bump k8s to v1.30.0
  config_example.sh
  lib/common.sh
  renovate.json
  tests/roles/run_tests/vars/main.yml
  vars.md
Due: shellcheck, markdownlint

Bump minikube to v1.33.0
  lib/common.sh
Due: shellcheck

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
