Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, golint, govet, markdownlint, shellcheck, generate, unit, manifestlint

Path conditions:
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  golint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: \.md$
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$

Disable remediation tests
  test/e2e/e2e_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Remove additional things
  test/e2e/config/e2e_conf.yaml
  test/e2e/pivoting_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Uplift CAPI to v1.1.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/e2e/config/e2e_conf.yaml
  test/e2e/pivoting_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Uplift CAPI to v0.4.7 in release-0.5 branch
  api/go.mod
  api/go.sum
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3clusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3dataclaims.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datas.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datatemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3remediations.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3remediationtemplates.yaml
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Use CAPI v1.1.0 in tilt settings
  hack/gen_tilt_settings.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Adding new entries for unit test
  baremetal/manager_factory_test.go
  baremetal/metal3machine_manager_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Update CI badges with Metal3
  README.md
Due: markdownlint

Update artifactory image path with metal3
  test/e2e/node_reuse_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Add instruction for accessing tilt dashboard remotely and locally
  docs/dev-setup.md
Due: markdownlint

Update CAPI resources API versions with v1beta1 in docs
  docs/api.md
  docs/architecture.md
Due: markdownlint

Update CAPM3 resources API versions with v1beta1 in docs
  docs/api.md
  docs/architecture.md
Due: markdownlint

Remove install_kustomize.sh
  Makefile
  docs/dev-setup.md
  hack/ensure-kustomize.sh
  hack/tools/install_kustomize.sh
Due: gofmt, golint, govet, markdownlint, shellcheck, generate, unit, manifestlint

Add 1.1 release series in metadata.yaml
  metadata.yaml
Due: gofmt, golint, govet, generate, unit, manifestlint

remove jan as an active reviewer
  OWNERS
Due: none

Update e2e metadata.yaml with 1.1.0
  test/e2e/data/shared/v1beta1/metadata.yaml
Due: gofmt, golint, govet, generate, unit, manifestlint

Uplift BMO module in go.mod
  go.mod
  go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Uplift CAPI modules and e2e conf v1.1.1
  api/go.mod
  api/go.sum
  clusterctl-settings.json
  go.mod
  go.sum
  test/e2e/config/e2e_conf.yaml
Due: gofmt, golint, govet, generate, unit, manifestlint

Add fmuyassarov as approver
  OWNERS
Due: none

Reconcile template controller on changes to Metal3Machine
  controllers/metal3machinetemplate_controller.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Reconcile Metal3MachineTemplate on Metal3Machine events
  controllers/metal3machinetemplate_controller.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Uplift docker/distribution to v2.8.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

fix Capm3FastTrack unit tests
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  main.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Parameterize api folder path in Makefile
  Makefile
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Fix IMAGE_OS case
  hack/e2e/environment.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Add golangci.yaml to improve go code linter check
  .golangci.yaml
  baremetal/manager_factory.go
  baremetal/metal3cluster_manager.go
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  baremetal/metal3datatemplate_manager.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  baremetal/metal3machinetemplate_manager.go
  baremetal/metal3remediation_manager.go
  baremetal/requeue_error.go
  baremetal/suite_test.go
  baremetal/utils.go
  baremetal/utils_test.go
  controllers/metal3cluster_controller.go
  controllers/metal3data_controller.go
  controllers/metal3datatemplate_controller.go
  controllers/metal3labelsync_controller.go
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_test.go
  controllers/metal3machinetemplate_controller.go
  controllers/metal3remediation_controller.go
  controllers/metal3remediation_controller_test.go
  controllers/suite_test.go
  main.go
  test/e2e/cert_rotation_test.go
  test/e2e/common.go
  test/e2e/node_reuse_test.go
  test/e2e/pivoting_test.go
  test/e2e/remediation_test.go
  test/e2e/yaml.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Reorganize errors requeue errors, names and address the comment
  baremetal/metal3data_manager.go
  baremetal/metal3datatemplate_manager.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  baremetal/utils.go
  controllers/metal3datatemplate_controller.go
  controllers/metal3machine_controller.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Allow GA releases to trigger on v* tags
  .github/workflows/release.yaml
Due: gofmt, golint, govet, generate, unit, manifestlint

Uplift IPAM in CAPM3 go.mod
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Add live-iso option to Image's DiskFormat in v1a5 and v1b1
  api/v1alpha5/common_types.go
  api/v1beta1/common_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machinetemplates.yaml
Due: gofmt, golint, govet, generate, unit, manifestlint

Cherrypick liveiso for releae-0.5
  api/v1alpha4/zz_generated.conversion.go
  api/v1alpha4/zz_generated.deepcopy.go
  api/v1alpha5/common_types.go
  api/v1alpha5/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machinetemplates.yaml
Due: gofmt, golint, govet, generate, unit, manifestlint

Live-iso cherrypic for release-0.5
  api/v1alpha5/common_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machinetemplates.yaml
Due: gofmt, golint, govet, generate, unit, manifestlint

Uplift sigs.k8s.io/controller-runtime v0.11.1
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Uplift sigs.k8s.io/cluster-api v1.1.2
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Replace jetstack from cert-manager URL
  examples/generate.sh
  tilt_modules/cert_manager/README.md
  tilt_modules/cert_manager/Tiltfile
Due: gofmt, golint, govet, markdownlint, shellcheck, generate, unit, manifestlint

🌱 Update IPAM config image patch and kustomization
  config/ipam/image_patch.yaml
  config/ipam/kustomization.yaml
Due: gofmt, golint, govet, generate, unit, manifestlint

Uplift IPAM to latest in go modules
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint
