Repository metal3-io/metal3-docs: changes, and which Prow jobs are due for each by the changed paths.
All: markdownlint, shellcheck, spellcheck

Path conditions:
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  spellcheck: any of: (\.md|spellcheck\.sh|.cspell-config.json)$

remove unused multilingual option
  docs/user-guide/book.toml
Due: none

fix: fix the checks and some minor issue
  docs/user-guide/src/capm3/custom_resources.md
  docs/user-guide/src/capm3/metal3data.md
Due: markdownlint, spellcheck

Troubleshooting guide additions
  docs/user-guide/src/troubleshooting.md
Due: markdownlint, spellcheck

docs: Add comprehensive documentation for Metal3 Custom Resources
  design/cluster-api-provider-metal3/multi-tenancy_contract.md
  docs/user-guide/src/SUMMARY.md
  docs/user-guide/src/capm3/custom_resources.md
  docs/user-guide/src/capm3/data_sources.md
  docs/user-guide/src/capm3/features.md
  docs/user-guide/src/capm3/metal3data.md
  docs/user-guide/src/capm3/metal3datatemplate.md
Due: markdownlint, spellcheck

fix: remove the doc link part and also and fix all the isss
  design/cluster-api-provider-metal3/multi-tenancy_contract.md
  docs/user-guide/src/SUMMARY.md
  docs/user-guide/src/capm3/data_sources.md
Due: markdownlint, spellcheck

User guide: update support versions of IrSO and ironic-image
  docs/user-guide/src/irso/introduction.md
  docs/user-guide/src/version_support.md
Due: markdownlint, spellcheck

update version support table
  docs/user-guide/src/version_support.md
Due: markdownlint, spellcheck

Add `fromPoolAnnotation` field for IPPool reference via annotation
  design/ip-address-manager/ip-address-management-for-networkdata.md
Due: markdownlint, spellcheck

User guide: make the Ironic guide IrSO-centric
  docs/user-guide/src/SUMMARY.md
  docs/user-guide/src/ironic/introduction.md
  docs/user-guide/src/ironic/ironic_installation.md
  docs/user-guide/src/ironic/ironic_variables.md
  docs/user-guide/src/irso/install-basics.md
Due: markdownlint, spellcheck

User guide: mention port 9999
  docs/user-guide/src/irso/install-basics.md
Due: markdownlint, spellcheck

definition of the HostClaim resource
  .cspell-config.json
  design/hostclaim-multitenancy.md
Due: markdownlint, spellcheck

Remove reference to multi-tenancy contract
  design/hostclaim-multitenancy.md
Due: markdownlint, spellcheck

User guide: add diagram with interactions between Ironic components
  docs/user-guide/src/ironic/images/overview.plantuml
  docs/user-guide/src/ironic/images/overview.png
  docs/user-guide/src/ironic/introduction.md
Due: markdownlint, spellcheck

User guide: update the IrSO installation process
  docs/user-guide/src/irso/introduction.md
Due: markdownlint, spellcheck

Update Ironic and IrSO supported versions
  docs/user-guide/src/irso/introduction.md
  docs/user-guide/src/version_support.md
Due: markdownlint, spellcheck

Update Ironic and IrSO supported versions
  docs/user-guide/src/irso/database.md
  docs/user-guide/src/irso/install-basics.md
  docs/user-guide/src/irso/introduction.md
  docs/user-guide/src/version_support.md
Due: markdownlint, spellcheck

User guide: remove mentions of Inspector from quick start
  docs/user-guide/src/quick-start.md
Due: markdownlint, spellcheck

User guide: update really outdated versions in quickstart
  docs/user-guide/src/quick-start.md
Due: markdownlint, spellcheck

Update troubleshooting on boot mode mismatch
  docs/user-guide/src/troubleshooting.md
Due: markdownlint, spellcheck

Use netlify build container
  Makefile
  docs/Dockerfile
Due: shellcheck

Bump mdbook version and container image versions
  Makefile
  docs/Dockerfile
  docs/user-guide/book.toml
  netlify.toml
Due: shellcheck

Fix summary TOC
  docs/user-guide/src/SUMMARY.md
  docs/user-guide/src/bmo/advanced-features.md
  docs/user-guide/src/bmo/basic-features.md
Due: markdownlint, spellcheck

Add embed tool for embedding files in markdown
  Makefile
  docs/Dockerfile
  docs/user-guide/book.toml
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
Due: shellcheck

WIP
  docs/user-guide/examples/kind.yaml
  docs/user-guide/examples/net.xml
  docs/user-guide/examples/sushy-emulator.conf
  docs/user-guide/src/quick-start.md
Due: markdownlint, spellcheck

TEST
  docs/user-guide/examples/setup-bootstrap.sh
  docs/user-guide/examples/setup-virtual-lab.sh
  docs/user-guide/src/quick-start.md
Due: markdownlint, shellcheck, spellcheck

Propose support for Ironic Standalone Networking
  .cspell-config.json
  design/ironic-standalone-networking-service.md
Due: markdownlint, spellcheck

Move fmuyassarov back from emeritus maintainer
  OWNERS
  OWNERS_ALIASES
Due: none

Add embed tool for embedding files in markdown
  Makefile
  docs/Dockerfile
  docs/user-guide/book.toml
  hack/tools/go.mod
  hack/tools/go.sum
Due: shellcheck

Add documentation for Failure Domain feature
  docs/user-guide/src/capm3/failure_domain.md
  docs/user-guide/src/capm3/features.md
Due: markdownlint, spellcheck

Highlight that iLO 4 and iLO 5 drivers are being removed
  docs/user-guide/src/bmo/supported_hardware.md
Due: markdownlint, spellcheck

Make label sync and ClusterClass documentation visible in book
  docs/user-guide/src/SUMMARY.md
  docs/user-guide/src/capm3/features.md
Due: markdownlint, spellcheck

Add documentation for Failure Domain feature
  docs/user-guide/src/SUMMARY.md
  docs/user-guide/src/capm3/failure_domain.md
  docs/user-guide/src/capm3/features.md
Due: markdownlint, spellcheck

WIP
  docs/user-guide/examples/bmo/kustomization.yaml
  docs/user-guide/examples/image-server.sh
  docs/user-guide/examples/ironic.yaml
  docs/user-guide/examples/kind.yaml
  docs/user-guide/examples/net.xml
  docs/user-guide/examples/setup-bootstrap.sh
  docs/user-guide/examples/setup-virtual-lab.sh
  docs/user-guide/examples/sushy-emulator.conf
  docs/user-guide/src/quick-start.md
Due: markdownlint, shellcheck, spellcheck

TEST
  docs/user-guide/src/quick-start.md
Due: markdownlint, spellcheck

docs(capm3): add Unhealthy Annotation section and update SUMMARY
  docs/user-guide/src/SUMMARY.md
  docs/user-guide/src/capm3/introduction.md
Due: markdownlint, spellcheck

Add tip to speed up release process to releasing doc
  processes/releasing.md
Due: markdownlint, spellcheck

Troubleshooting FAQ: CDC devices exposed by some BMCs
  docs/user-guide/src/troubleshooting.md
Due: markdownlint, spellcheck

User guide: note that iRMC is deprecated
  docs/user-guide/src/bmo/supported_hardware.md
Due: markdownlint, spellcheck
