Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  golint: any of: \.go$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$
  test: any of: ^(Makefile|hack/.*)$

Bump golang to 1.22
  .github/workflows/release.yaml
  .golangci.yaml
  Dockerfile
  Tiltfile
  hack/e2e/ensure_go.sh
  hack/generate.sh
  hack/gofmt.sh
  hack/golint.sh
  hack/gomod.sh
  hack/unit.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Fix libvirt missing in dependabot build wf
  .github/workflows/dependabot.yml
Due: gosec, gomod, unit, generate, manifestlint

fix dependabot config on api directory
  .github/dependabot.yml
Due: gosec, gomod, unit, generate, manifestlint

Bump kustomize version from v4 to v5
  Makefile
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
  ironic-deployment/components/keepalived/kustomization.yaml
  tools/deploy.sh
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

Move container build to gh runner
  .github/workflows/build-images-action.yml
Due: gosec, gomod, unit, generate, manifestlint

draft: add namespace scoped operator mode
  Makefile
  config/base/rbac/role.yaml
  config/overlays/namespaced/kustomization.yaml
  config/overlays/namespaced/namespaced-manager-patch.yaml
  config/overlays/namespaced/rbac-patch.yaml
  config/render/capm3.yaml
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/bmceventsubscription_controller.go
  controllers/metal3.io/dataimage_controller.go
  controllers/metal3.io/hostfirmwarecomponents_controller.go
  controllers/metal3.io/hostfirmwaresettings_controller.go
  controllers/metal3.io/preprovisioningimage_controller.go
  docs/single-ns-deploy.md
  update_kubebuilder_rbac.py
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Resolve BMC hostname, not address
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Make container build only run for metal3.io repo
  .github/workflows/build-images-action.yml
Due: gosec, gomod, unit, generate, manifestlint

Add Golang-based deploy-cli which handles bmo and ironic deployments
  Makefile
  config/README.md
  hack/tools/deploy-cli/.gitignore
  hack/tools/deploy-cli/deploy-cli.go
  hack/tools/deploy-cli/main.go
  hack/tools/deploy-cli/templates/bmo-kustomize-bmopath.tpl
  hack/tools/deploy-cli/templates/bmo-kustomize.tpl
  hack/tools/deploy-cli/templates/ironic-kustomize-bmopath.tpl
  hack/tools/deploy-cli/templates/ironic-kustomize.tpl
  hack/tools/deploy-cli/templates/ironic.env.tpl
  hack/tools/deploy-cli/templates/ironic_bmo_configmap_env.tpl
  hack/tools/go.mod
  hack/tools/go.sum
  ironic-deployment/README.md
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

bump k8s.io/* deps to v0.27.16
  apis/go.mod
  apis/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint, test

WIP: [OCP] Ability to disable agent power off after deployment
  controllers/metal3.io/baremetalhost_controller.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

remove toolchain directive
  go.mod
Due: gosec, gomod, unit, generate, manifestlint

Fix syntax errors in generate.sh and gomod.sh
  hack/generate.sh
  hack/gomod.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

bump gophercloud/v2 to v2.0.0
  go.mod
  go.sum
  pkg/provisioner/ironic/delete_test.go
  pkg/provisioner/ironic/inspecthardware_test.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/power_test.go
  pkg/provisioner/ironic/updatehardwarestate_test.go
  pkg/provisioner/ironic/validatemanagementaccess_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

bump golang to 1.22.6
  Dockerfile
  Makefile
  hack/e2e/ensure_go.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

bump and sync go dependencies
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint, test

bump golang to 1.22.6
  Dockerfile
  hack/e2e/ensure_go.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

bump and sync go dependencies
  apis/go.mod
  apis/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint, test

Uplift controller-runtime v0.17.5
  apis/go.mod
  apis/go.sum
  controllers/metal3.io/hostfirmwaresettings_test.go
  go.mod
  go.sum
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fix verify-release.sh to understand go directive better
  hack/verify-release.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Halt BMH transition on invalid BIOS setting
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/baremetalhost_controller_test.go
  controllers/metal3.io/errors.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Make kustomize apply function not dependent on ginkgo
  test/e2e/common.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

bump cert-manager to 1.10.2
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint

Bump docker/docker in test/ to v25.0.6
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint

Document backporting rules for Go lang minor versions for images
  CONTRIBUTING.md
Due: markdownlint

draft: add namespace scoped operator mode
  Makefile
  config/namespace/namespace.yaml
  config/overlays/namespaced-e2e/kustomization.yaml
  config/overlays/namespaced-e2e/namespaced-manager-patch.yaml
  config/overlays/namespaced-e2e/roles-ns-annotator.yaml
  config/overlays/namespaced/kustomization.yaml
  config/overlays/namespaced/namespaced-manager-patch.yaml
  config/overlays/namespaced/roles-ns-annotator.yaml
  config/render/capm3.yaml
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/bmceventsubscription_controller.go
  controllers/metal3.io/dataimage_controller.go
  controllers/metal3.io/hostfirmwarecomponents_controller.go
  controllers/metal3.io/hostfirmwaresettings_controller.go
  controllers/metal3.io/preprovisioningimage_controller.go
  docs/namespace-scoped-operator.md
  hack/ci-e2e.sh
  hack/tools/kustomize-namespace-annotator/Dockerfile
  hack/tools/kustomize-namespace-annotator/README.md
  hack/tools/kustomize-namespace-annotator/go.mod
  hack/tools/kustomize-namespace-annotator/go.sum
  hack/tools/kustomize-namespace-annotator/main.go
  main.go
  set_ns.py
  test/e2e/basic_ops_test.go
  test/e2e/common.go
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/external_inspection_test.go
  test/e2e/inspection_test.go
  test/e2e/live_iso_test.go
  test/e2e/provisioning_and_annotation_test.go
  test/e2e/re_inspection_test.go
  test/e2e/upgrade_test.go
  tools/deploy.sh
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Disallow fetching secrets from namespaces different from the host's one
  controllers/metal3.io/baremetalhost_controller_test.go
  controllers/metal3.io/host_config_data.go
  controllers/metal3.io/host_config_data_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add test for updateEventHandler
  controllers/metal3.io/baremetalhost_controller_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add dependabot config for release-0.8 branch
  .github/dependabot.yml
Due: gosec, gomod, unit, generate, manifestlint

fix dependabot ignore rules for 0.8 branch
  .github/dependabot.yml
Due: gosec, gomod, unit, generate, manifestlint

Pin ironic-release-26.0
  ironic-deployment/base/ironic.yaml
Due: gosec, gomod, unit, generate, manifestlint
