Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

golangci-lint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/ensure-golangci-lint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

govet:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/govet.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/codegen.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

build:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/build.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

Use build cache mounts and tidy up the dockerfile
  Dockerfile
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Dockerfile: strip out symbol table by default for public images
  Dockerfile
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Fix scalability tests
  examples/templates/clusterclass.yaml
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/infrastructure-metal3/main/bases/clusterclass/clusterclass.yaml
  test/e2e/data/infrastructure-metal3/main/clusterclass-metal3/clusterclass-metal3.yaml
  test/e2e/scalability_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Add v1beta2 conditions for metal3machine
  api/v1beta1/metal3machine_types.go
  api/v1beta1/zz_generated.deepcopy.go
  baremetal/metal3machine_manager.go
  baremetal/mocks/zz_generated.metal3machine_manager.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Add kustomization for new ironic release-0.32
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/ironic-deployment/overlays/release-32.0/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-32.0/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/release-32.0/kustomization.yaml
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Update comment to have reference to correct folder
  test/e2e/data/bmo-deployment/overlays/pr-test/kustomization.yaml
  test/e2e/data/bmo-deployment/overlays/release-0.10/kustomization.yaml
  test/e2e/data/bmo-deployment/overlays/release-0.11/kustomization.yaml
  test/e2e/data/bmo-deployment/overlays/release-0.9/kustomization.yaml
  test/e2e/data/bmo-deployment/overlays/release-latest/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/pr-test/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/release-27.0/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/release-29.0/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/release-31.0/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/release-32.0/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/release-latest/kustomization.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Add failureDomain Support
  api/v1beta1/metal3cluster_types.go
  api/v1beta1/metal3machine_types.go
  api/v1beta1/zz_generated.deepcopy.go
  baremetal/metal3machine_manager.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3clusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3clustertemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machinetemplates.yaml
  controllers/metal3cluster_controller.go
  controllers/metal3machine_controller.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Fix 1.11 cluster templates to use v1beta2
  test/e2e/data/infrastructure-metal3/v1.11/bases/cluster-with-topology/cluster-with-topology.yaml
  test/e2e/data/infrastructure-metal3/v1.11/bases/cluster/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-metal3/v1.11/bases/cluster/crs.yaml
  test/e2e/data/infrastructure-metal3/v1.11/bases/cluster/md.yaml
  test/e2e/data/infrastructure-metal3/v1.11/bases/clusterclass-centos-kubeadm-config/clusterclass-centos-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/v1.11/bases/clusterclass-cluster/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-metal3/v1.11/bases/clusterclass-cluster/crs.yaml
  test/e2e/data/infrastructure-metal3/v1.11/bases/clusterclass-cluster/md.yaml
  test/e2e/data/infrastructure-metal3/v1.11/bases/clusterclass-ubuntu-kubeadm-config/clusterclass-ubuntu-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/v1.11/bases/clusterclass/clusterclass.yaml
  test/e2e/data/infrastructure-metal3/v1.11/bases/opensuse-leap-kubeadm-config/kustomization.yaml
  test/e2e/data/infrastructure-metal3/v1.11/bases/opensuse-leap-kubeadm-config/opensuse-leap-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/v1.11/bases/ubuntu-kubeadm-config/ubuntu-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/v1.11/cluster-template-centos-md-remediation/md.yaml
  test/e2e/data/infrastructure-metal3/v1.11/cluster-template-centos-md-remediation/mhc.yaml
  test/e2e/data/infrastructure-metal3/v1.11/cluster-template-opensuse-leap/kustomization.yaml
  test/e2e/data/infrastructure-metal3/v1.11/cluster-template-ubuntu-md-remediation/md.yaml
  test/e2e/data/infrastructure-metal3/v1.11/cluster-template-ubuntu-md-remediation/mhc.yaml
  test/e2e/data/infrastructure-metal3/v1.11/clusterclass-metal3/clusterclass-metal3.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Use IRSO in e2e tests
  scripts/ci-e2e.sh
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/ironic-standalone-operator/ironic/base/ironic.yaml
  test/e2e/data/ironic-standalone-operator/ironic/base/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/base/namespace.yaml
  test/e2e/data/ironic-standalone-operator/ironic/components/basic-auth/auth-patch.yaml
  test/e2e/data/ironic-standalone-operator/ironic/components/basic-auth/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/components/tls/certificate.yaml
  test/e2e/data/ironic-standalone-operator/ironic/components/tls/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/components/tls/tls.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/pr-test/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/release-26.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/release-27.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/release-29.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/release-main/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/kustomization.yaml
  test/e2e/integration_test.go
  test/e2e/logcollector.go
  test/e2e/pivoting.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Remove message from v1beta2 true condtions
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Add v1beta2 conditions for metal3Cluster
  .golangci.yaml
  api/v1beta1/metal3cluster_types.go
  api/v1beta1/zz_generated.deepcopy.go
  baremetal/metal3cluster_manager.go
  baremetal/metal3machine_manager.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3clusters.yaml
  controllers/metal3cluster_controller.go
  controllers/metal3cluster_controller_integration_test.go
  controllers/metal3machine_controller.go
  controllers/suite_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Bump golang to v1.24.8
  Dockerfile
  Makefile
  hack/fake-apiserver/Dockerfile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Pass fkas artifact to reusable image building workflow
  .github/workflows/build-fkas-images-action.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

manager: clean up the manager manifest
  config/manager/manager.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

test 1.9 scale test
  scripts/ci-e2e.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

Add SKIP_NODE_IMAGE_PREPULL var in ci-e2e.sh
  scripts/ci-e2e.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

Switch to modern constructs via modernizer
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  baremetal/mocks/zz_generated.metal3machine_manager.go
  baremetal/suite_test.go
  baremetal/utils.go
  controllers/suite_test.go
  hack/fake-apiserver/cmd/metal3-fkas-reconciler/main.go
  test/e2e/common.go
  test/e2e/logcollector.go
  test/e2e/node_deletion_remediation.go
  test/e2e/remediation.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test

Remove k8s repo from kubeadm config
  test/e2e/data/infrastructure-metal3/main/bases/centos-kubeadm-config/centos-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/main/bases/clusterclass-centos-kubeadm-config/clusterclass-centos-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/main/bases/opensuse-leap-kubeadm-config/opensuse-leap-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/v1.10/bases/centos-kubeadm-config/centos-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/v1.10/bases/clusterclass-centos-kubeadm-config/clusterclass-centos-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/v1.11/bases/centos-kubeadm-config/centos-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/v1.11/bases/clusterclass-centos-kubeadm-config/clusterclass-centos-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/v1.11/bases/opensuse-leap-kubeadm-config/opensuse-leap-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/v1.9/bases/centos-kubeadm-config/centos-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/v1.9/bases/clusterclass-centos-kubeadm-config/clusterclass-centos-kubeadm-config.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Remove unnecessary export for SKIP_NODE_IMAGE_PREPULL
  scripts/ci-e2e.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

Unify and simplify Kubernetes version variables in e2e tests
  Makefile
  Tiltfile
  docs/dev-setup.md
  examples/clusterctl-templates/clusterctl-cluster.yaml
  examples/controlplane/controlplane.yaml
  examples/generate.sh
  examples/machinedeployment/machinedeployment.yaml
  examples/templates/cluster.yaml
  hack/ensure-kubectl.sh
  hack/gen_tilt_settings.sh
  scripts/ci-e2e.sh
  scripts/environment.sh
  test/e2e/basic_integration_test.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/infrastructure-metal3/main/bases/cluster-with-topology/cluster-with-topology.yaml
  test/e2e/data/infrastructure-metal3/main/bases/cluster/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-metal3/main/bases/cluster/md.yaml
  test/e2e/data/infrastructure-metal3/main/bases/clusterclass-cluster/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-metal3/v1.10/bases/cluster-with-topology/cluster-with-topology.yaml
  test/e2e/data/infrastructure-metal3/v1.10/bases/cluster/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-metal3/v1.10/bases/cluster/md.yaml
  test/e2e/data/infrastructure-metal3/v1.10/bases/clusterclass-cluster/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-metal3/v1.11/bases/cluster-with-topology/cluster-with-topology.yaml
  test/e2e/data/infrastructure-metal3/v1.11/bases/cluster/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-metal3/v1.11/bases/cluster/md.yaml
  test/e2e/data/infrastructure-metal3/v1.11/bases/clusterclass-cluster/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-metal3/v1.9/bases/cluster-with-topology/cluster-with-topology.yaml
  test/e2e/data/infrastructure-metal3/v1.9/bases/cluster/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-metal3/v1.9/bases/cluster/md.yaml
  test/e2e/data/infrastructure-metal3/v1.9/bases/clusterclass-cluster/cluster-with-kcp.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/integration_test.go
  test/e2e/ip_reuse.go
  test/e2e/ip_reuse_test.go
  test/e2e/k8s_conformance_test.go
  test/e2e/node_deletion_remediation.go
  test/e2e/node_reuse.go
  test/e2e/pivoting_based_feature_test.go
  test/e2e/remediation_based_feature_test.go
  test/e2e/upgrade_kubernetes_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test

Try fixing capi test
  test/e2e/k8s_conformance_test.go
  test/e2e/md_rollout_test.go
  test/e2e/md_scale_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Add image pull for md remediation test
  test/e2e/md_remediations_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

fix for 1.10->1.11 upgrade issue
  baremetal/metal3datatemplate_manager.go
  baremetal/metal3datatemplate_manager_test.go
  baremetal/metal3machine_manager.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Uplift IPAM and BMO patch for release-1.10
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Uplift IPAM and BMO release for release-1.11
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Test to check if it will have an affect on node reuse workflow
  baremetal/metal3machine_manager.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

:rocket: Release v1.11.1
  releasenotes/v1.11.1.md
Due: markdownlint

:rocket: Release v1.10.3
  releasenotes/v1.10.3.md
Due: markdownlint

Fix PodCIDR raplace in Calico manifest
  test/e2e/config/e2e_conf.yaml
  test/e2e/e2e_suite_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Path conditions:
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  unit: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  build: any of: ^api|^test|^Makefile$
  test: any of: ^(Makefile|hack/.*)$
