Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test

Path conditions:
  gomod: unless all of: (((^|/)OWNERS)|(\.md))$
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$
  build: any of: ^api|^test|^Makefile$
  test: any of: ^(Makefile|hack/.*)$

fix ci related broken links
  README.md
Due: markdownlint

Uplift BMO to release-0.6 and IPAM to v1.7.0
  api/go.mod
  api/go.sum
  config/ipam/image_patch.yaml
  config/ipam/kustomization.yaml
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test

update basic e2e trigger for release-1.6
  README.md
Due: markdownlint

Update triggers after migration to prow
  README.md
Due: markdownlint

Update README in release-1.7
  README.md
Due: markdownlint

Bump CAPI to v1.7.1
  CONTRIBUTING.md
  README.md
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint, build

Bump CAPI to v1.7.1
  README.md
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint, build

Remove keep test env related vars and configs
  Makefile
  test/e2e/e2e_suite_test.go
  test/e2e/ip_reuse_test.go
  test/e2e/live_iso_test.go
  test/e2e/pivoting_based_feature_test.go
  test/e2e/remediation_based_feature_test.go
  test/e2e/upgrade_clusterctl_test.go
  test/e2e/upgrade_kubernetes_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Support CustomDeploy in addition to Image
  api/v1beta1/common_types.go
  api/v1beta1/metal3machine_types.go
  api/v1beta1/metal3machine_webhook.go
  api/v1beta1/metal3machine_webhook_test.go
  api/v1beta1/zz_generated.deepcopy.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machinetemplates.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Bump k8s to v1.30.0
  Makefile
  docs/api.md
  docs/architecture.md
  docs/dev-setup.md
  examples/generate.sh
  hack/ensure-kubectl.sh
  hack/gen_tilt_settings.sh
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test

Remove deprecated/unused vars from e2e config
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Bump Kubernetes upgrade from version
  scripts/environment.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

Added support for ClusterClass
  Makefile
  Tiltfile
  api/v1beta1/metal3cluster_types.go
  api/v1beta1/metal3clustertemplate_types.go
  api/v1beta1/metal3clustertemplate_webhook.go
  api/v1beta1/metal3clustertemplate_webhook_test.go
  api/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3clustertemplates.yaml
  config/crd/kustomization.yaml
  config/webhook/manifests.yaml
  examples/generate.sh
  examples/templates/cluster.yaml
  examples/templates/clusterclass.yaml
  hack/gen_tilt_settings.sh
  main.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Added basic e2e tests
  Makefile
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/infrastructure-metal3/bases/clusterclass-centos-kubeadm-config/clusterclass-centos-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/bases/clusterclass-centos-kubeadm-config/kustomization.yaml
  test/e2e/data/infrastructure-metal3/bases/clusterclass-cluster/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-metal3/bases/clusterclass-cluster/crs.yaml
  test/e2e/data/infrastructure-metal3/bases/clusterclass-cluster/kustomization.yaml
  test/e2e/data/infrastructure-metal3/bases/clusterclass-cluster/md.yaml
  test/e2e/data/infrastructure-metal3/bases/clusterclass-ubuntu-kubeadm-config/clusterclass-ubuntu-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/bases/clusterclass-ubuntu-kubeadm-config/kustomization.yaml
  test/e2e/data/infrastructure-metal3/bases/clusterclass/clusterclass.yaml
  test/e2e/data/infrastructure-metal3/bases/clusterclass/kustomization.yaml
  test/e2e/data/infrastructure-metal3/clusterclass-template-centos/kustomization.yaml
  test/e2e/data/infrastructure-metal3/clusterclass-template-ubuntu/kustomization.yaml
  test/e2e/data/infrastructure-metal3/clusterclass-template-upgrade-workload/kustomization.yaml
  test/e2e/data/infrastructure-metal3/clusterclass/kustomization.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Add md_remediation test
  Makefile
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-centos-md-remediation/kustomization.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-centos-md-remediation/md.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-centos-md-remediation/mhc.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-ubuntu-md-remediation/kustomization.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-ubuntu-md-remediation/md.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-ubuntu-md-remediation/mhc.yaml
  test/e2e/md_remediations_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

add info about k8s-upgrade tests for release branches
  README.md
  docs/e2e-test.md
Due: markdownlint

Set ARCH based on go env
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Debug parallel pipeline
  Makefile
  scripts/ci-e2e-debug.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Release-1.7 related changes
  CONTRIBUTING.md
  Makefile
  README.md
  docs/e2e-test.md
  hack/verify-release.sh
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test

Reproduce parallel test issue
  test/e2e/md_remediations_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Add slack notifiactions for image building failures
  .github/workflows/build-images-action.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

set webhook min TLS version to 1.3
  main.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Move furkatgofurov7 to emeritus approvers
  OWNERS
Due: none

Fix log.SetLogger(...) was never called issue
  test/e2e/e2e_suite_test.go
  test/go.mod
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Add Adil, Moshiur, Sunnat and Tuomo as approver and Dmitry as a reviewer
  OWNERS
Due: none

Bump CAPI to v1.6.5
  README.md
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint, build

Fix dead link to ubuntu feature test
  README.md
Due: markdownlint

bump docker/docker to v26.0.2+incompatible
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Fixed clusterclass e2e test - removed keep test env ralated vars and configs
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Removed redundant hostname reference
  examples/templates/clusterclass.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Configure dependabot for release-1.7 branch
  .github/dependabot.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Bump CAPI to v1.7.2
  README.md
  api/go.mod
  api/go.sum
  docs/e2e-test.md
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint, build
