Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/generate.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

golint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/golint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

test:
  decorate: true
  spec:
    containers:
    - args:
      - test
      command:
      - make
      image: quay.io/metal3-io/basic-checks:golang-1.24
      imagePullPolicy: Always

E2E: Use UEFI
  test/e2e/automated_cleaning_test.go
  test/e2e/basic_ops_test.go
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/external_inspection_test.go
  test/e2e/externally_provisioned_test.go
  test/e2e/inspection_test.go
  test/e2e/live_iso_test.go
  test/e2e/provisioning_and_annotation_test.go
  test/e2e/re_inspection_test.go
  test/e2e/upgrade_test.go
  test/vbmctl/templates/VM.xml.tpl
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2E: Ensure CRDs when upgrade tests fail
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2E: Add pod and deployment descriptions
  test/e2e/common.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Refactor: move HardwareDetails type to HardwareData
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/hardwaredata_types.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/base/crds/bases/metal3.io_hardwaredata.yaml
  config/render/capm3.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Clean up sushy-tools config
  test/e2e/sushy-tools/sushy-emulator.conf
Due: gosec, gomod, unit, generate, manifestlint

Fix deletion hang when aborting inspection during power-off
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/power_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2E: Avoid BMO < 0.11 and Ironic > 30 together
  test/e2e/config/ironic.yaml
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add release 0.12 test triggers to README
  README.md
Due: markdownlint

Log when cannot detach immediately
  internal/controller/metal3.io/host_state_machine.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Bump golang version to 1.24.12
  Dockerfile
  Makefile
  hack/e2e/ensure_go.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

HostClaim custom resources
  PROJECT
  apis/metal3.io/v1alpha1/hostclaim_types.go
  apis/metal3.io/v1alpha1/hostdeploypolicy_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_hostclaims.yaml
  config/base/crds/bases/metal3.io_hostdeploypolicies.yaml
  config/base/crds/kustomization.yaml
  config/base/crds/patches/cainjection_in_hostclaims.yaml
  config/base/crds/patches/cainjection_in_hostdeploypolicies.yaml
  config/base/crds/patches/webhook_in_hostclaims.yaml
  config/base/crds/patches/webhook_in_hostdeploypolicies.yaml
  config/base/rbac/hostclaim_editor_role.yaml
  config/base/rbac/hostclaim_viewer_role.yaml
  config/base/rbac/hostdeploypolicy_editor_role.yaml
  config/base/rbac/hostdeploypolicy_viewer_role.yaml
  config/base/rbac/role.yaml
  config/overlays/e2e/roles-rolebindings/roles-rolebindings.yaml
  config/render/capm3.yaml
  config/samples/metal3.io_v1alpha1_hostclaim.yaml
  config/samples/metal3.io_v1alpha1_hostdeploypolicy.yaml
  internal/controller/metal3.io/hostclaim_controller.go
  main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

:rocket: Release v0.11.4
  releasenotes/v0.11.4.md
Due: markdownlint

E2E: Cleanup libvit DHCP config
  hack/e2e/net.xml
  test/e2e/common.go
  test/e2e/config/fixture.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint, test

fixed lint
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/host_state_machine.go
  pkg/secretutils/secret_manager_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2E: Cleanup libvit DHCP config
  go.mod
  test/e2e/config/fixture.yaml
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint

E2E: Use UEFI
  test/e2e/config/fixture.yaml
Due: gosec, gomod, unit, generate, manifestlint

Restructure VBMCTL into separate package and CLI
  Makefile
  hack/ci-e2e.sh
  test/go.mod
  test/vbmctl/README.md
  test/vbmctl/cmd/vbmctl/main.go
  test/vbmctl/main.go
  test/vbmctl/pkg/api/types.go
  test/vbmctl/pkg/api/types_test.go
  test/vbmctl/pkg/config/config.go
  test/vbmctl/pkg/config/config_test.go
  test/vbmctl/pkg/libvirt/doc.go
  test/vbmctl/pkg/libvirt/pool.go
  test/vbmctl/pkg/libvirt/templates.go
  test/vbmctl/pkg/libvirt/templates/VM.xml.tpl
  test/vbmctl/pkg/libvirt/templates/pool.xml.tpl
  test/vbmctl/pkg/libvirt/templates/volume.xml.tpl
  test/vbmctl/pkg/libvirt/vm.go
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Allow forced detachment of a host from Ironic
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/host_state_machine.go
  internal/controller/metal3.io/host_state_machine_test.go
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/delete_test.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Do not log firmware components on each BMH reconciliation
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/hostfirmwarecomponents_controller.go
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Correctly handle resource generations for HostFirmwareComponents
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/hostfirmwarecomponents_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

bump github actions to new major versions
  .github/workflows/dependabot.yml
  .github/workflows/e2e-fixture-test.yml
  .github/workflows/e2e-test.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/pr-gh-workflow-approve.yaml
  .github/workflows/release.yaml
  .github/workflows/unit.yml
Due: gosec, gomod, unit, generate, manifestlint

Generalize HFC condition handling to also cover HFS
  internal/controller/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add multi-architecture PXE boot support
  internal/controller/metal3.io/baremetalhost_controller.go
  pkg/provisioner/ironic/inspecthardware.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/register.go
  pkg/provisioner/ironic/register_test.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Conditions implementation for BareMetalHosts
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  go.mod
  go.sum
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_controller_test.go
  internal/controller/metal3.io/host_state_machine_test.go
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2E: Use per-test cluster for upgrades
  config/overlays/e2e-release-0.10/ironic.env
  config/overlays/e2e-release-0.11/ironic.env
  config/overlays/e2e-release-0.9/ironic.env
  config/overlays/e2e-upgrade/ironic.env
  config/overlays/e2e-upgrade/kustomization.yaml
  test/e2e/common.go
  test/e2e/config/ironic.yaml
  test/e2e/data/ironic-standalone-operator/components/upgrade-ports/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-27.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-28.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-29.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-30.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-31.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-upgrade/kustomization.yaml
  test/e2e/e2e_config.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

DNM: Test IRSO main
  test/e2e/data/ironic-standalone-operator/operator/kustomization.yaml
Due: gosec, gomod, unit, generate, manifestlint

Consumer Override for BareMetalHost Cleaning
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/host_state_machine.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Bump golang version to 1.24.13
  Dockerfile
  Makefile
  hack/e2e/ensure_go.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Add per-host OCI registry authentication for provisioning images
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  go.mod
  go.sum
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/image_auth_validator.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
  pkg/secretutils/dockerconfig.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add tests for per-host OCI registry authentication
  internal/controller/metal3.io/baremetalhost_controller_test.go
  internal/controller/metal3.io/image_auth_validator_test.go
  pkg/secretutils/dockerconfig_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Document authSecretName field for OCI image authentication
  docs/api.md
Due: markdownlint

Set image tag based on git tag or default to latest. Allow override with env variable
  tools/deploy.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

Avoid meaningless logging when a secret is owned by another controller
  pkg/secretutils/secret_manager.go
  pkg/secretutils/secret_manager_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

bump cert-manager to v1.18.5
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint

try fix reapprover workflow
  .github/workflows/pr-gh-workflow-approve.yaml
Due: gosec, gomod, unit, generate, manifestlint

fixed copliot comments
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/host_config_data.go
  internal/controller/metal3.io/host_config_data_test.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/configdrive_test.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

enforce ol-prefix 'one' style for ordered lists
  .markdownlint-cli2.yaml
  docs/api.md
  docs/configuration.md
  docs/testing.md
Due: gosec, gomod, markdownlint, unit, generate, manifestlint

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  golint: any of: \.go$
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$
