Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  golint: any of: \.go$
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$

fix: typos
  pkg/provisioner/ironic/ironic.go
  test/e2e/inspection_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fix: linter
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fix: apply copilot reviews
  pkg/provisioner/ironic/register.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fix: remove scaling ironic and use detaching
  test/e2e/common.go
  test/e2e/inspection_test.go
  test/go.mod
  test/go.sum
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

apply comments, making port recreation safer
  internal/controller/metal3.io/baremetalhost_controller.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/register.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fix: reuse the create ironic client function
  test/e2e/common.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

e2e: extend Ironic e2e to cover port recreation
  test/e2e/common.go
  test/e2e/inspection_test.go
  test/go.mod
  test/go.sum
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add: tests by AI
  pkg/provisioner/ironic/register_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Include image URL and checksum in provisioning error message
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/provision_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Split BMO and Ironic upgrade tests
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/e2e_config.go
  test/e2e/upgrade_bmo_test.go
  test/e2e/upgrade_common_test.go
  test/e2e/upgrade_ironic_test.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

e2e: reset BIOS settings in sushy-tools before HFS tests
  test/e2e/firmware_settings_test.go
  test/e2e/ironic_helpers.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add HostFirmwareComponents reconciler tests for error and event paths
  internal/controller/metal3.io/hostfirmwarecomponents_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Bump Go version to 1.25.11
  Dockerfile
  Makefile
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

e2e: run inspection on virtual media without BootMACAddress
  test/e2e/bmc.go
  test/e2e/config/bmcs-ipmi.yaml
  test/e2e/firmware_settings_test.go
  test/e2e/inspection_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

DNM checking why IPMI requires bootMACAddress
  test/e2e/inspection_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add BareMetalSwitch CRD and controller for switch config generation
  apis/metal3.io/v1alpha1/baremetalswitch_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalswitches.yaml
  config/base/crds/kustomization.yaml
  config/base/rbac/role.yaml
  config/overlays/e2e/baremetalswitch/kustomization.yaml
  config/overlays/e2e/baremetalswitch/namespace.yaml
  config/overlays/e2e/ironic.env
  config/overlays/e2e/kustomization.yaml
  config/overlays/e2e/namespaced-manager-patch.yaml
  config/overlays/e2e/roles-rolebindings/roles-rolebindings.yaml
  config/overlays/fixture/kustomization.yaml
  config/render/capm3.yaml
  config/samples/baremetalswitch_sample.yaml
  docs/api.md
  internal/controller/metal3.io/baremetalswitch_config.go
  internal/controller/metal3.io/baremetalswitch_config_test.go
  internal/controller/metal3.io/baremetalswitch_controller.go
  main.go
  test/e2e/baremetalswitch_test.go
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
Due: gofmt, gosec, gomod, markdownlint, unit, generate, golint, manifestlint

Bumbed version in ensure_go Signed-off-by: Saad Zia <saad.zia@est.tech>
  hack/e2e/ensure_go.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

🌱 Bump Go version to 1.25.11 (#3303)
  Dockerfile
  Makefile
  hack/e2e/ensure_go.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Restore delete permission on secrets
  config/base/rbac/role.yaml
  config/render/capm3.yaml
  internal/controller/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Fix network creation error check in vbmctl
  test/vbmctl/pkg/containers/docker.go
  test/vbmctl/pkg/containers/kindnetwork.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Fix webhook state guard status checks
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Handle generation mismatch in servicing error recovery
  internal/controller/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Fix HFS setCondition ignoring ObservedGeneration changes
  internal/controller/metal3.io/hostfirmwaresettings_controller.go
  internal/controller/metal3.io/hostfirmwaresettings_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Harden servicing abort fast-path and add tests
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_controller_test.go
  test/e2e/firmware_settings_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

e2e: rely on toCleanup for abort test teardown
  test/e2e/firmware_settings_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Bump Go version to 1.25.11
  Dockerfile
  Makefile
  hack/e2e/ensure_go.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Split vbmctl main.go into separate files
  test/vbmctl/cmd/vbmctl/common.go
  test/vbmctl/cmd/vbmctl/config.go
  test/vbmctl/cmd/vbmctl/create.go
  test/vbmctl/cmd/vbmctl/delete.go
  test/vbmctl/cmd/vbmctl/main.go
  test/vbmctl/cmd/vbmctl/status.go
  test/vbmctl/cmd/vbmctl/version.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Use hard reboot in firmware settings test
  test/e2e/firmware_settings_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Bump x/net to v0.55.0
  apis/go.mod
  apis/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint, test

Migrate to go-plugin system for provisioners
  .github/workflows/plugin-test.yml
  .github/workflows/unit.yml
  Dockerfile
  Dockerfile.plugin-test
  Makefile
  README.md
  cmd/plugin-load-test/main.go
  config/overlays/fixture/kustomization.yaml
  docs/dev-setup.md
  docs/plugin-provisioners.md
  hack/plugin-test/patcher/main.go
  main.go
  pkg/provisioner/demo/plugin/main.go
  pkg/provisioner/ironic/plugin/main.go
  pkg/provisioner/plugin.go
  pkg/provisioner/plugin_test.go
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test
