Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  golint: any of: \.go$
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$

add ImagePullSecret to the API
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add utils for dockerconfig and authvalidation
  pkg/imageauthvalidator/validator.go
  pkg/imageauthvalidator/validator_test.go
  pkg/secretutils/dockerconfig.go
  pkg/secretutils/dockerconfig_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

use a 3rd party lib for dockerconfig handling
  go.mod
  go.sum
  pkg/secretutils/dockerconfig.go
  pkg/secretutils/dockerconfig_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

handle secret by using the secret manager
  internal/controller/metal3.io/baremetalhost_controller.go
  pkg/secretutils/validator.go
  pkg/secretutils/validator_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

create constant
  pkg/secretutils/dockerconfig.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

remove status conditions. the core functionality of per-host OCI authentication remains intact, just without the status conditions.
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_image_auth_test.go
  internal/controller/metal3.io/baremetalhost_secret_watch_test.go
  pkg/imageauthvalidator/validator.go
  pkg/imageauthvalidator/validator_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

refactor validator name for clarity
  pkg/secretutils/image_auth_validator.go
  pkg/secretutils/image_auth_validator_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add condition for bma host return
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_secret_watch_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

move validator under secretutils
  internal/controller/metal3.io/baremetalhost_controller.go
  pkg/secretutils/validator.go
  pkg/secretutils/validator_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

rename err
  pkg/secretutils/dockerconfig.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2E: Use UEFI
  test/e2e/automated_cleaning_test.go
  test/e2e/basic_ops_test.go
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/external_inspection_test.go
  test/e2e/inspection_test.go
  test/e2e/live_iso_test.go
  test/e2e/provisioning_and_annotation_test.go
  test/e2e/re_inspection_test.go
  test/e2e/upgrade_test.go
  test/vbmctl/templates/VM.xml.tpl
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Clean up sushy-tools config
  test/e2e/sushy-tools/sushy-emulator.conf
Due: gosec, gomod, unit, generate, manifestlint

Make bootMACAddress optional for virtual media with inspection enabled
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation_test.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_webhook_test.go
  pkg/hardwareutils/bmc/access_test.go
  pkg/hardwareutils/bmc/idrac_virtualmedia.go
  pkg/hardwareutils/bmc/redfish_virtualmedia.go
  pkg/provisioner/ironic/findhost_test.go
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Address review feedback
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Abort inspection/cleaning before powering off during deletion
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/power_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Fix spelling error metal3.io_baremetalhosts.yaml line 624
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
Due: gosec, gomod, unit, generate, manifestlint

implement the noreq of checksums for OCI images
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/baremetalhost_types_test.go
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Update generated CRD manifests for OCI checksum changes
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
Due: gosec, gomod, unit, generate, manifestlint

run make mod
  apis/go.mod
Due: gosec, gomod, unit, generate, manifestlint

remove scheduled osv-scanner workflow
  .github/workflows/scheduled-osv-scan.yml
Due: gosec, gomod, unit, generate, manifestlint

Improve ironic version patching with IrSO
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-27.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-28.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-29.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-30.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-31.0/kustomization.yaml
Due: gosec, gomod, unit, generate, manifestlint

add AGENTS.md
  .gitignore
  AGENTS.md
Due: gosec, gomod, markdownlint, unit, generate, manifestlint

Add yamllint workflow
  .github/ISSUE_TEMPLATE/failing-test.yaml
  .github/ISSUE_TEMPLATE/flaking-test.yaml
  .github/workflows/yamllint.yaml
  .yamllint.yaml
  config/base/certmanager/certificate.yaml
  config/base/certmanager/kustomizeconfig.yaml
  config/base/crds/patches/webhook_in_firmwareschemas.yaml
  config/base/crds/patches/webhook_in_hostfirmwaresettings.yaml
  config/base/kustomization.yaml
  config/base/webhook/service_patch.yaml
  config/kustomization.yaml
  config/overlays/e2e/kustomization.yaml
  config/samples/metal3.io_v1alpha1_firmwareschema.yaml
  config/samples/metal3.io_v1alpha1_hostfirmwaresettings.yaml
  ironic-deployment/components/ipxe-tls/kustomizeconfig.yaml
  ironic-deployment/components/ipxe-tls/tls.yaml
  ironic-deployment/components/tls/kustomizeconfig.yaml
  ironic-deployment/components/tls/tls.yaml
Due: gosec, gomod, unit, generate, manifestlint

Enable errorlint linter and fix lints
  .golangci.yaml
  hack/tools/deploy-cli/deploy-cli.go
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/host_config_data.go
  pkg/provisioner/ironic/register.go
  test/e2e/common.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint, test

add unit tests to SecretManager
  pkg/secretutils/label_test.go
  pkg/secretutils/secret_manager_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add image SBOM attestation to image builds
  .github/workflows/build-images-action.yml
  .github/workflows/release.yaml
Due: gosec, gomod, unit, generate, manifestlint

Switch logging implementation from zap to klog v2 for consistency
  go.mod
  go.sum
  main.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/factory.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Apply gopls modernize suggestions
  cmd/make-bm-worker/templates/templates_test.go
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/preprovisioningimage_controller.go
  main.go
  pkg/provisioner/ironic/capabilities.go
  pkg/provisioner/ironic/capabilities_test.go
  pkg/provisioner/ironic/clients/updateopts.go
  pkg/provisioner/ironic/clients/updateopts_test.go
  pkg/provisioner/ironic/configdrive_test.go
  pkg/provisioner/ironic/hardwaredetails/hardwaredetails.go
  pkg/provisioner/ironic/hardwaredetails/hardwaredetails_test.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/prepare_test.go
  pkg/provisioner/ironic/provision_test.go
  pkg/provisioner/ironic/raid.go
  pkg/provisioner/ironic/raid_test.go
  pkg/provisioner/ironic/register.go
  pkg/provisioner/ironic/register_test.go
  pkg/provisioner/ironic/servicing.go
  pkg/provisioner/ironic/servicing_test.go
  pkg/provisioner/ironic/testbmc/testbmc.go
  pkg/provisioner/ironic/testserver/server.go
  pkg/utils/stringlist.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Replace custom string utilities with standard library
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_controller_test.go
  internal/controller/metal3.io/bmceventsubscription_controller.go
  internal/controller/metal3.io/bmceventsubscription_controller_test.go
  internal/controller/metal3.io/dataimage_controller.go
  internal/controller/metal3.io/preprovisioningimage_controller.go
  pkg/secretutils/secret_manager.go
  pkg/utils/stringlist.go
  pkg/utils/stringlist_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Apply gopls modernize suggestions
  cmd/make-bm-worker/templates/templates_test.go
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/preprovisioningimage_controller.go
  main.go
  pkg/provisioner/ironic/capabilities_test.go
  pkg/provisioner/ironic/clients/updateopts.go
  pkg/provisioner/ironic/clients/updateopts_test.go
  pkg/provisioner/ironic/configdrive_test.go
  pkg/provisioner/ironic/hardwaredetails/hardwaredetails.go
  pkg/provisioner/ironic/hardwaredetails/hardwaredetails_test.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/prepare_test.go
  pkg/provisioner/ironic/provision_test.go
  pkg/provisioner/ironic/raid.go
  pkg/provisioner/ironic/raid_test.go
  pkg/provisioner/ironic/register.go
  pkg/provisioner/ironic/register_test.go
  pkg/provisioner/ironic/servicing.go
  pkg/provisioner/ironic/servicing_test.go
  pkg/provisioner/ironic/testbmc/testbmc.go
  pkg/provisioner/ironic/testserver/server.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

refactor: use controllerutil.RemoveFinalizer for finalizer management
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/bmceventsubscription_controller.go
  internal/controller/metal3.io/dataimage_controller.go
  internal/controller/metal3.io/preprovisioningimage_controller.go
  pkg/secretutils/secret_manager.go
  pkg/utils/stringlist.go
  pkg/utils/stringlist_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

bump golang to 1.24.11
  Dockerfile
  Makefile
  hack/e2e/ensure_go.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

feat(bmh): do not require external checksum for oci:// images
  apis/go.mod
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/baremetalhost_types_test.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint
