Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/generate.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

golint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/golint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

test:
  decorate: true
  spec:
    containers:
    - args:
      - test
      command:
      - make
      image: quay.io/metal3-io/basic-checks:golang-1.24
      imagePullPolicy: Always

Stop using deprecated iDRAC subinterfaces
  pkg/hardwareutils/bmc/access_test.go
  pkg/hardwareutils/bmc/idrac_virtualmedia.go
  pkg/hardwareutils/bmc/redfish.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Update required versions
  docs/configuration.md
Due: markdownlint

Remove gopher and ftp from allowed URL schemes
  internal/webhooks/metal3.io/v1alpha1/common_validation.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Set image_type in Ironic to avoid an unnecessary HEAD call
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/provision_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Bump grpc to v1.83.1
  go.mod
  go.sum
Due: gosec, gomod, unit, generate, manifestlint

Add support for feature gates
  config/overlays/e2e/features.env
  config/overlays/e2e/kustomization.yaml
  main.go
  pkg/features/features.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Build release-branch tagged image when a new release branch is created
  .github/workflows/release.yaml
Due: gosec, gomod, unit, generate, manifestlint

get-hardware-details: make precedence test actually test precedence
  cmd/get-hardware-details/main_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

End to end tests for HostClaims
  config/overlays/e2e/cluster-role.yaml
  config/overlays/e2e/hostclaims-infra/kustomization.yaml
  config/overlays/e2e/hostclaims-infra/namespace.yaml
  config/overlays/e2e/hostclaims-tenant/kustomization.yaml
  config/overlays/e2e/hostclaims-tenant/namespace.yaml
  config/overlays/e2e/kustomization.yaml
  config/overlays/e2e/namespaced-manager-patch.yaml
  hack/check-e2e.sh
  test/e2e/common.go
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/hostclaim_provisioning_test.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

:rocket: Release v0.13.4
  releasenotes/v0.13.4.md
Due: markdownlint

e2e: do not silence errors from Close() in ironic helpers
  test/e2e/ironic_helpers.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Improve IPv6 handling in vbmctl
  test/e2e/config/vbmctl.yaml.tmpl
  test/vbmctl/cmd/vbmctl/create.go
  test/vbmctl/pkg/api/types.go
  test/vbmctl/pkg/config/config.go
  test/vbmctl/pkg/config/config_test.go
  test/vbmctl/pkg/libvirt/templates.go
  test/vbmctl/pkg/libvirt/templates/network.xml.tpl
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

[PoC] Prepare for host operations
  pkg/hostoperations/manager.go
  pkg/hostoperations/manager_test.go
  pkg/provisioner/fixture/fixture.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

adding yamllint script
  hack/yamllint.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Use IRSO integration for credentials in E2E tests
  config/overlays/e2e-upgrade/ironic.env
  config/overlays/e2e-upgrade/kustomization.yaml
  config/overlays/e2e-upgrade/namespaced-manager-patch.yaml
  config/overlays/e2e/baremetal-operator-system/kustomization.yaml
  config/overlays/e2e/ironic.env
  config/overlays/e2e/kustomization.yaml
  config/overlays/e2e/namespaced-manager-patch.yaml
  hack/ci-e2e.sh
  test/e2e/config/ironic.yaml
  test/e2e/data/ironic-standalone-operator/components/tls/certificate.yaml
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

:bug: Make out-of-tree plugin builds path independent
  .github/workflows/build-images-action.yml
  .github/workflows/plugin-test.yml
  .github/workflows/release.yaml
  Dockerfile
  Dockerfile.plugin-test
  Makefile
  docs/plugin-provisioners.md
  hack/plugin-build-flags.sh
Due: gosec, gomod, markdownlint, shellcheck, unit, generate, manifestlint, test

:bug: Require the released apis and hardwareutils versions
  Makefile
  go.mod
  hack/check-submodule-versions.sh
  test/go.mod
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Add dataimage attach e2e test
  test/e2e/common.go
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/dataimage_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Bump CAPI to 1.14.1
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint

Bump k8s and google groups accross 3 directories
  apis/go.mod
  apis/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint, test

Add nuhakala and terror96 as reviewers
  OWNERS_ALIASES
Due: gosec, gomod, unit, generate, manifestlint

Add id-token permission to build-images-pr workflow
  .github/workflows/build-pr.yml
Due: gosec, gomod, unit, generate, manifestlint

Add API types for switch port configuration
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/hostnetworkattachment_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add E2E tests for switch port configuration
  config/overlays/e2e/kustomization.yaml
  config/overlays/e2e/namespaced-manager-patch.yaml
  config/overlays/e2e/networking/kustomization.yaml
  config/overlays/e2e/networking/namespace.yaml
  config/overlays/e2e/roles-rolebindings/roles-rolebindings.yaml
  test/e2e/README.md
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/ironic_helpers_test.go
  test/e2e/networking_test.go
Due: gofmt, gosec, gomod, markdownlint, unit, generate, golint, manifestlint

Add Ironic provisioner support for switch port configuration
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/overlays/e2e/ironic.env
  config/overlays/fixture/kustomization.yaml
  config/render/capm3.yaml
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/factory.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/ironic_networking.go
  pkg/provisioner/ironic/ironic_networking_test.go
  pkg/provisioner/ironic/register.go
  pkg/provisioner/ironic/register_test.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add reconciler support for switch port configuration
  config/base/rbac/role.yaml
  config/render/capm3.yaml
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_network.go
  internal/controller/metal3.io/baremetalhost_network_test.go
  internal/controller/metal3.io/host_state_machine.go
  internal/controller/metal3.io/host_state_machine_test.go
  main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Document networking environment variables
  docs/configuration.md
Due: markdownlint

Add LLDP fallback to updateNodePort
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/register.go
  pkg/provisioner/ironic/register_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Avoid returning RequeueAfter=0
  internal/controller/metal3.io/action_result.go
  pkg/provisioner/ironic/delete_test.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/provision_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Replace all other usages of Requeue:true
  internal/controller/metal3.io/action_result.go
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/dataimage_controller.go
  internal/controller/metal3.io/hostclaim_controller.go
  internal/controller/metal3.io/hostfirmwarecomponents_controller.go
  internal/controller/metal3.io/hostfirmwaresettings_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Feature gate for HostClaims
  config/base/manager.yaml
  config/overlays/e2e/features.env
  config/render/capm3.yaml
  internal/webhooks/metal3.io/v1alpha1/hostclaim_webhook.go
  internal/webhooks/metal3.io/v1alpha1/hostclaim_webhook_test.go
  main.go
  pkg/features/features.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Bump grpc to 1.83.2
  go.mod
  go.sum
Due: gosec, gomod, unit, generate, manifestlint

E2E: Implement TLS for the image server
  hack/ci-e2e.sh
  test/e2e/README.md
  test/e2e/config/ironic.yaml
  test/e2e/config/nginx-tls.conf
  test/e2e/config/vbmctl.yaml.tmpl
  test/e2e/data/ironic-standalone-operator/components/trusted-ca/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/components/trusted-ca/trusted-ca-patch.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-tls-ipa/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/irso-v0.10/kustomization.yaml
  test/vbmctl/README.md
  test/vbmctl/cmd/vbmctl/config.go
  test/vbmctl/cmd/vbmctl/create.go
  test/vbmctl/pkg/api/types.go
  test/vbmctl/pkg/config/config.go
  test/vbmctl/pkg/containers/imageserver.go
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  golint: any of: \.go$
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$
