Repository metal3-io/ip-address-manager: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, shellcheck, unit, generate, manifestlint

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

golangci-lint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/ensure-golangci-lint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

govet:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/govet.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/codegen.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

bump markdownlint to 0.13.0
  hack/markdownlint.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint

Bump cluster-api to v1.6.0
  Makefile
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ipam.metal3.io_ipaddresses.yaml
  config/crd/bases/ipam.metal3.io_ipclaims.yaml
  config/crd/bases/ipam.metal3.io_ippools.yaml
  config/manager/manager.yaml
  config/manager/manager_prometheus_metrics_patch.yaml
  config/rbac/role.yaml
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  main.go
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint

Migrate IPAM flags from go flags to pflags
  main.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

add clomonitor badge to README
  README.md
Due: markdownlint

Use k8s apimachinery scheme builder instead of controller-runtime scheme builder
  api/v1alpha1/groupversion_info.go
  api/v1alpha1/ipaddress_types.go
  api/v1alpha1/ipclaim_types.go
  api/v1alpha1/ippool_types.go
  api/v1alpha1/v1alpha4_suite_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

add OpenSSF Scorecard badge to README
  README.md
Due: markdownlint

bump go modules to sync
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

reduce action permissions
  .github/workflows/build-images-action.yml
  .github/workflows/dependabot.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/kubesec.yml
  .github/workflows/lint-docs.yaml
  .github/workflows/pr-verifier.yaml
  .github/workflows/release.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Add tag triggering for container building wf
  .github/workflows/build-images-action.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

bump golang to 1.20.12
  Dockerfile
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint

remove some conditionals from workflows
  .github/workflows/build-images-action.yml
  .github/workflows/dependabot.yml
  .github/workflows/lint-docs.yaml
  .github/workflows/pr-verifier.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

fix dependabot workflow permissions
  .github/workflows/dependabot.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump CAPI to v1.6.1
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump CAPI to v1.5.5
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

switch markdownlint container to markdownlint-cli2
  .markdownlint-cli2.yaml
  VERSIONING.md
  hack/markdownlint.sh
  test/fuzz/README.md
Due: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, shellcheck, unit, generate, manifestlint

Changes to make IPAM deployable with CAPI
  config/default/kustomization.yaml
  config/manager/kustomization.yaml
  config/manager/namespace.yaml
  examples/generate.sh
  examples/provider-components/manager_tolerations_patch.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint

Bump golang to v1.21.6
  .github/workflows/release.yaml
  .golangci.yaml
  Dockerfile
  Makefile
  api/go.mod
  api/go.sum
  controllers/ippool_controller_test.go
  go.mod
  go.sum
  hack/codegen.sh
  hack/gofmt.sh
  hack/gomod.sh
  hack/govet.sh
  hack/tools/go.mod
  hack/tools/go.sum
  hack/unit.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint

Bumping CAPI to v1.6.2 and syncing go modues with CAPI
  api/go.mod
  api/go.sum
  api/v1alpha1/utils_test.go
  controllers/ippool_controller_test.go
  controllers/suite_test.go
  go.mod
  go.sum
  ipam/ippool_manager.go
  ipam/ippool_manager_test.go
  ipam/suite_test.go
  ipam/utils.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bumping CAPI to v1.5.6
  .gitignore
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump golang to v1.21.7
  Dockerfile
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint

Bump golang to v1.20.14
  Dockerfile
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint

fix performance issue when check if an ipv6 address is in the bound of a large ipv6 net
  api/v1alpha1/ippool_webhook.go
  api/v1alpha1/ippool_webhook_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump CAPI to v1.6.2
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Fix Ginkgo API test suite
  api/go.mod
  api/v1alpha1/suite_test.go
  api/v1alpha1/v1alpha4_suite_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Adjust api version in go mod files
  api/go.mod
  api/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Add make unit-cover like in BMO
  .gitignore
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint

add build images action to release-1.5
  .github/workflows/build-images-action.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

fix build image action for release-1.6
  .github/workflows/build-images-action.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Rollback changes in gitignore
  .gitignore
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump golangci-lint to v1.56.2
  .github/workflows/golangci-lint.yml
  .golangci.yaml
  hack/ensure-golangci-lint.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint

bump shellcheck to v0.10.0
  hack/shellcheck.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint

Path conditions:
  gomod: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: \.md$
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$
