Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test

Path conditions:
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  unit: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  build: any of: ^api|^test|^Makefile$
  test: any of: ^(Makefile|hack/.*)$

Stop using dev-env in E2E setup
  .yamlfmt
  Makefile
  baremetal/metal3cluster_manager_test.go
  controllers/suite_test.go
  hack/e2e/external.xml
  hack/e2e/fake-ipa.sh
  hack/e2e/net.xml
  hack/e2e/provisioning.xml
  hack/ensure-go.sh
  hack/ensure_kubectl.sh
  hack/ensure_minikube.sh
  hack/ensure_yq.sh
  scripts/ci-e2e.sh
  scripts/clean-e2e.sh
  test/e2e/bmc.go
  test/e2e/cert_manager.go
  test/e2e/common.go
  test/e2e/config/bmcs-redfish-virtualmedia.yaml
  test/e2e/config/bmcs.yaml
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/bmo-deployment/overlays/release-latest/ironic.env
  test/e2e/data/clean_local_bmh_test_setup.sh
  test/e2e/data/dnsmasq.env
  test/e2e/data/infrastructure-metal3/v1.9/bases/cluster-with-topology/cluster-with-topology.yaml
  test/e2e/data/infrastructure-metal3/v1.9/bases/cluster/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-metal3/v1.9/bases/cluster/md.yaml
  test/e2e/data/infrastructure-metal3/v1.9/bases/clusterclass-cluster/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-metal3/v1.9/bases/clusterclass-cluster/md.yaml
  test/e2e/data/infrastructure-metal3/v1.9/bases/clusterclass-ubuntu-kubeadm-config/clusterclass-ubuntu-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/v1.9/bases/ubuntu-kubeadm-config/ubuntu-kubeadm-config.yaml
  test/e2e/data/ironic-deployment/overlays/release-latest/ironic-patch.yaml
  test/e2e/data/ironic-deployment/overlays/release-latest/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-latest/kustomization.yaml
  test/e2e/data/sushy-tools/sushy-emulator.conf
  test/e2e/e2e_suite_test.go
  test/e2e/node_reuse.go
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Fix trying to patch Metal3Data if it is deleted
  controllers/metal3data_controller.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

enable shadow variable lint check
  .golangci.yaml
  baremetal/metal3data_manager.go
  baremetal/metal3datatemplate_manager.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  baremetal/utils.go
  baremetal/utils_test.go
  controllers/metal3cluster_controller.go
  controllers/metal3data_controller.go
  controllers/metal3datatemplate_controller.go
  controllers/metal3labelsync_controller.go
  controllers/metal3labelsync_controller_test.go
  controllers/metal3machine_controller.go
  controllers/metal3machinetemplate_controller.go
  controllers/metal3remediation_controller.go
  main.go
  test/e2e/common.go
  test/e2e/e2e_suite_test.go
  test/e2e/ip_reuse_test.go
  test/e2e/k8s_conformance_test.go
  test/e2e/logcollector.go
  test/e2e/md_remediations_test.go
  test/e2e/md_rollout_test.go
  test/e2e/md_scale_test.go
  test/e2e/pivoting.go
  test/e2e/pivoting_based_feature_test.go
  test/e2e/remediation.go
  test/e2e/remediation_based_feature_test.go
  test/e2e/scalability_test.go
  test/e2e/upgrade_kubernetes_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Bump capi to 1.11.0-beta.2
  api/go.mod
  api/go.sum
  controllers/metal3data_controller_test.go
  controllers/metal3datatemplate_controller_test.go
  controllers/metal3labelsync_controller_test.go
  controllers/metal3machine_controller.go
  controllers/suite_test.go
  docs/api.md
  docs/remediation-controller.md
  examples/clusterctl-templates/clusterctl-cluster.yaml
  examples/controlplane/controlplane.yaml
  examples/machinedeployment/machinedeployment.yaml
  examples/templates/clusterclass.yaml
  go.mod
  go.sum
  scripts/ci-e2e.sh
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/infrastructure-metal3/main/bases/cluster/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-metal3/main/bases/cluster/md.yaml
  test/e2e/data/infrastructure-metal3/main/bases/clusterclass-centos-kubeadm-config/clusterclass-centos-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/main/bases/clusterclass-ubuntu-kubeadm-config/clusterclass-ubuntu-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/main/cluster-template-centos-md-remediation/mhc.yaml
  test/e2e/data/infrastructure-metal3/main/cluster-template-ubuntu-md-remediation/mhc.yaml
  test/e2e/data/infrastructure-metal3/main/clusterclass-metal3/clusterclass-metal3.yaml
  test/e2e/data/infrastructure-metal3/v1.9/bases/cluster/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-metal3/v1.9/bases/clusterclass-cluster/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-metal3/v1.9/clusterclass-metal3/clusterclass-metal3.yaml
  test/e2e/healthcheck.go
  test/e2e/ip_reuse.go
  test/e2e/node_reuse.go
  test/e2e/remediation.go
  test/e2e/upgrade_kubernetes_test.go
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build

Bump golang to v1.24.5
  Dockerfile
  Makefile
  hack/fake-apiserver/Dockerfile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Add e2e-test support for openSUSE Leap
  Makefile
  scripts/environment.sh
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/infrastructure-metal3/main/bases/sles-kubeadm-config/kustomization.yaml
  test/e2e/data/infrastructure-metal3/main/bases/sles-kubeadm-config/sles-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/main/cluster-template-sles/kustomization.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Add Alpha release in the release notes generator
  hack/tools/release/notes.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, test

:rocket: Release v1.11.0-alpha.0
  releasenotes/v1.11.0-alpha.0.md
Due: markdownlint

Fix small typo in verify release
  hack/verify-release.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, test

Try Cilium CNI
  go.mod
  go.sum
  test/e2e/config/e2e_conf.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/helm_helper.go
  test/e2e/yaml.go
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Fix remediation test
  test/e2e/healthcheck.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Bump osv-scanner to v2.1.0
  .github/workflows/osv-scanner-scan.yml
  hack/verify-release.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, test

Add openSUSE Leap 15.6 support to e2e tests
  Makefile
  scripts/environment.sh
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/infrastructure-metal3/main/bases/opensuse-leap-kubeadm-config/kustomization.yaml
  test/e2e/data/infrastructure-metal3/main/bases/opensuse-leap-kubeadm-config/opensuse-leap-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/main/bases/sles-kubeadm-config/kustomization.yaml
  test/e2e/data/infrastructure-metal3/main/cluster-template-opensuse-leap/kustomization.yaml
  test/e2e/data/infrastructure-metal3/main/cluster-template-sles/kustomization.yaml
  test/e2e/e2e_suite_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Parameterize k8s version in e2e tests
  test/e2e/config/e2e_conf.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

bump golang to 1.24.6
  Dockerfile
  Makefile
  hack/fake-apiserver/Dockerfile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Bump CAPI to 1.11.0-rc.0
  api/go.mod
  api/go.sum
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  baremetal/metal3remediation_manager.go
  baremetal/metal3remediation_manager_test.go
  baremetal/suite_test.go
  controllers/metal3labelsync_controller.go
  controllers/metal3labelsync_controller_test.go
  controllers/metal3machine_controller_integration_test.go
  controllers/suite_test.go
  go.mod
  go.sum
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/healthcheck.go
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Bump OSV scanner action to fix SARIF upload issue
  .github/workflows/osv-scanner-scan.yml
  hack/verify-release.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, test

Add continue-on-error and improve Slack notifications for osv-scanner
  .github/workflows/osv-scanner-scan.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Uplift Ubuntu to 24.04
  docs/api.md
  examples/generate.sh
  scripts/environment.sh
  test/e2e/common.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build

fix osv-scanner's slack reporting
  .github/workflows/osv-scanner-scan.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Bump CAPI to 1.11.0-rc.0
  api/go.mod
  api/go.sum
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  baremetal/metal3remediation_manager.go
  baremetal/metal3remediation_manager_test.go
  baremetal/suite_test.go
  controllers/metal3labelsync_controller.go
  controllers/metal3labelsync_controller_test.go
  controllers/metal3machine_controller_integration_test.go
  controllers/suite_test.go
  go.mod
  go.sum
  scripts/ci-e2e.sh
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/shared/ipam-metal3/v1.11/metadata.yaml
  test/e2e/healthcheck.go
  test/e2e/upgrade_clusterctl_test.go
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Bump CAPI to v1.11.0-rc.1
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Bump CAPI to v1.11.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Add v1beta2 conditions for metal3machine
  api/v1beta1/metal3machine_types.go
  api/v1beta1/zz_generated.deepcopy.go
  baremetal/metal3machine_manager.go
  baremetal/mocks/zz_generated.metal3machine_manager.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  controllers/metal3machine_controller.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Add v1beta2 conditions for metal3machine
  api/v1beta1/metal3machine_types.go
  api/v1beta1/zz_generated.deepcopy.go
  baremetal/metal3machine_manager.go
  baremetal/mocks/zz_generated.metal3machine_manager.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Add IPA_BASEURI to fix IPA download issue
  test/e2e/data/ironic-deployment/overlays/pr-test/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-26.0/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-27.0/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-29.0/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-latest/ironic_bmo_configmap.env
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Move from Ginkgo focus/skip to filtering by label
  Makefile
  test/e2e/basic_integration_test.go
  test/e2e/integration_test.go
  test/e2e/ip_reuse_test.go
  test/e2e/k8s_conformance_test.go
  test/e2e/md_remediations_test.go
  test/e2e/md_rollout_test.go
  test/e2e/md_scale_test.go
  test/e2e/pivoting_based_feature_test.go
  test/e2e/remediation_based_feature_test.go
  test/e2e/scalability_test.go
  test/e2e/upgrade_clusterctl_test.go
  test/e2e/upgrade_kubernetes_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Bump k8s to 1.34
  Makefile
  docs/api.md
  docs/architecture.md
  docs/dev-setup.md
  docs/e2e-test.md
  examples/generate.sh
  hack/ensure-kubectl.sh
  hack/gen_tilt_settings.sh
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test

test revert redfish SSL support to test scalability tests
  scripts/ci-e2e.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

Delete child resources before machine
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_test.go
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Add IPA_BASEURI in ironic config to fix IPA download for release-1.10
  test/e2e/data/ironic-deployment/overlays/pr-test/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-26.0/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-27.0/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-latest/ironic_bmo_configmap.env
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Add IPA_BASEURI in ironic config to fix IPA download for release-1.9
  test/e2e/data/ironic-deployment/overlays/release-25.0/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-26.0/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-latest/ironic_bmo_configmap.env
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build
