Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  golint: any of: \.go$
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$

tools/deploy.sh: pin BMO image to the checked-out git tag
  tools/deploy.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

Use short retry delay for fast inspection
  pkg/provisioner/ironic/inspecthardware.go
  test/e2e/config/ironic.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Build the release-x.y image when cutting a release
  .github/workflows/release.yaml
Due: gosec, gomod, unit, generate, manifestlint

e2e: also test automated cleaning on enrollment
  test/e2e/automated_cleaning_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Sync the checkout action version to v7.0.1
  .github/workflows/build-pr.yml
  .github/workflows/dependabot.yml
  .github/workflows/e2e-fixture-test.yml
  .github/workflows/e2e-test.yml
  .github/workflows/plugin-test.yml
  .github/workflows/release.yaml
  .github/workflows/unit.yml
  .github/workflows/validate-security-insights.yml
  .github/workflows/zizmor.yml
Due: gosec, gomod, unit, generate, manifestlint

Build vbmctl as a release artifact
  .github/workflows/release.yaml
  Makefile
  test/vbmctl/pkg/config/config.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

🌱 Test golangci-lint Prow presubmit on release-0.13
  main_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Unit tests for iDRAC drivers with fast inspection
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Sync the checkout action version to v7.0.1
  .github/workflows/build-pr.yml
  .github/workflows/dependabot.yml
  .github/workflows/e2e-fixture-test.yml
  .github/workflows/e2e-test.yml
  .github/workflows/release.yaml
  .github/workflows/unit.yml
  .github/workflows/validate-security-insights.yml
  .github/workflows/zizmor.yml
Due: gosec, gomod, unit, generate, manifestlint

Sync the checkout action version to v7.0.1
  .github/workflows/dependabot.yml
  .github/workflows/e2e-fixture-test.yml
  .github/workflows/e2e-test.yml
  .github/workflows/release.yaml
  .github/workflows/unit.yml
Due: gosec, gomod, unit, generate, manifestlint

Remove zizmor inline ignore
  .github/workflows/release.yaml
  .zizmor.yml
Due: gosec, gomod, unit, generate, manifestlint

Remove zizmor inline ignore
  .github/workflows/release.yaml
Due: gosec, gomod, unit, generate, manifestlint

Add AttributeType filtering to passwords in HostFirmwareSettings
  internal/controller/metal3.io/hostfirmwaresettings_controller.go
  internal/controller/metal3.io/hostfirmwaresettings_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Make Password into constant in hostfirmwaresettings_controller.go"
  internal/controller/metal3.io/hostfirmwaresettings_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Restore delete permission on secrets
  config/base/rbac/role.yaml
  config/render/capm3.yaml
  internal/controller/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Replace make docker-build with container build reusable workflow
  .github/workflows/build-images-pr.yml
Due: gosec, gomod, unit, generate, manifestlint

Add delete permission for secrets in e2e role
  config/overlays/e2e/roles-rolebindings/roles-rolebindings.yaml
Due: gosec, gomod, unit, generate, manifestlint

Bumpi CAPI to 1.14.0, k8s.io to v0.36.3, and logr to v1.4.4
  .github/dependabot.yml
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint, test

Drop support for non-HFS firmware settings
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_controller_test.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation_test.go
  pkg/hardwareutils/bmc/access.go
  pkg/hardwareutils/bmc/idrac_virtualmedia.go
  pkg/hardwareutils/bmc/ipmi.go
  pkg/hardwareutils/bmc/redfish.go
  pkg/hardwareutils/bmc/redfish_https.go
  pkg/hardwareutils/bmc/redfish_virtualmedia.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/prepare_test.go
  pkg/provisioner/ironic/provision_test.go
  pkg/provisioner/ironic/servicing.go
  pkg/provisioner/ironic/servicing_test.go
  pkg/provisioner/ironic/testbmc/testbmc.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Also deprecate the Firmware config in Status
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Build release-branch tagged image when a new release branch is created
  .github/workflows/release.yaml
Due: gosec, gomod, unit, generate, manifestlint

Enhance CRD comment for HostClaim namespaces
  apis/metal3.io/v1alpha1/hostdeploypolicy_types.go
  config/base/crds/bases/metal3.io_hostdeploypolicies.yaml
  config/render/capm3.yaml
  internal/testutil/common.go
  pkg/hostclaim/hostclaim_manager_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Doc: Add pinning of ironic-image to releasing process
  docs/releasing.md
Due: markdownlint

Bump golangci-lint to v2.12.2 and fix new findings
  .golangci.yaml
  Makefile
  cmd/make-bm-worker/templates/templates.go
  internal/controller/metal3.io/baremetalswitch_config.go
  pkg/hardwareutils/bmc/credentials.go
  pkg/hostclaim/hostclaim_manager.go
  pkg/provisioner/ironic/clients/auth.go
  pkg/provisioner/ironic/clients/updateopts.go
  pkg/provisioner/ironic/factory.go
  pkg/version/version.go
  test/vbmctl/pkg/libvirt/vm.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

Add delete permission to hostupdatepolicies.metal3.io
  config/base/rbac/role.yaml
  config/overlays/e2e/roles-rolebindings/roles-rolebindings.yaml
  config/render/capm3.yaml
  internal/controller/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

:rocket: Release v0.14.0-rc.0
  releasenotes/v0.14.0-rc.0.md
Due: markdownlint

Bump Go version to 1.26.6
  Dockerfile
  Dockerfile.plugin-test
  Makefile
  hack/e2e/ensure_go.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Double quote all script variables
  hack/check-e2e.sh
  hack/ci-e2e.sh
  hack/kind_with_registry.sh
  hack/shellcheck.sh
  tools/bmh_test/clean_local_bmh_test_setup.sh
  tools/deploy.sh
  tools/run_local_ironic.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Harden run_local_ironic.sh
  docs/dev-setup.md
  tools/run_local_ironic.sh
Due: gosec, gomod, markdownlint, shellcheck, unit, generate, manifestlint

Harden E2E script downloads with integrity verification
  .github/workflows/pipeline.yml
  .github/workflows/verify-e2e-checksums.yml
  Makefile
  hack/ci-e2e.sh
  hack/e2e/checksums.sh
  hack/e2e/ensure_docker.sh
  hack/e2e/ensure_go.sh
  hack/e2e/ensure_kubectl.sh
  hack/e2e/ensure_yq.sh
  hack/e2e/update-checksums.sh
  hack/e2e/verify-checksums.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Delete BMHs before other resources in e2e test cleanup, when BMO is ns-scoped
  test/e2e/common.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Reorder tmp volume fields
  config/base/manager.yaml
Due: gosec, gomod, unit, generate, manifestlint

adding yamllint script
  hack/yamllint.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Add scalability tests for BMH enrollment, provisoining and API Latency
  Makefile
  docs/e2e-scalability.md
  hack/check-e2e.sh
  hack/ci-e2e.sh
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/scalability_test.go
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

[PoC] Prepare for host operations
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/hostoperations.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint
