Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Path conditions:
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  unit: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  build: (any of: ^api|^test|^Makefile$) or (any of: ^api|^test|^Makefile$|^hack/build.sh$)
  test: any of: ^(Makefile|hack/.*)$
  build-fkas: any of: ^hack/fake-apiserver|^api|^Makefile$|^hack/build.sh$

Bump CAPI to v1.14.0-alpha.0, k8s.io/apimachinery to v0.36.2 and sigs.k8s.io/controller-runtime to v0.24.1
  api/go.mod
  api/go.sum
  api/v1beta1/metal3cluster_types.go
  api/v1beta1/metal3machine_types.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta2/metal3cluster_types.go
  api/v1beta2/metal3machine_types.go
  api/v1beta2/zz_generated.deepcopy.go
  baremetal/metal3cluster_manager.go
  baremetal/metal3cluster_manager_test.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  baremetal/mocks/zz_generated.metal3machine_manager.go
  controllers/metal3cluster_controller.go
  controllers/metal3cluster_controller_integration_test.go
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_integration_test.go
  go.mod
  go.sum
  hack/fake-apiserver/cmd/metal3-fkas/main.go
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  hack/tools/.custom-gcl.yml
  test/extension/main.go
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test, build-fkas

fixup: address review — code reuse, v1beta1 coverage, BMH checksum handling
  api/v1beta1/common_types.go
  api/v1beta1/common_types_test.go
  api/v1beta2/common_types.go
  api/v1beta2/common_types_test.go
  baremetal/metal3machine_manager.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machinetemplates.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

fix(image): reject non-empty checksum for oci images
  api/v1beta2/common_types.go
  api/v1beta2/common_types_test.go
  baremetal/metal3machine_manager.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machinetemplates.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

Fix network datta json link
  docs/api.md
Due: markdownlint

Bump Kubernetes versions to latest patches
  Makefile
  docs/api.md
  docs/architecture.md
  docs/dev-setup.md
  docs/e2e-test.md
  examples/generate.sh
  hack/ensure-kubectl.sh
  hack/gen_tilt_settings.sh
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test, build-fkas

fixup: guard ChecksumType assignment and add setHostSpec OCI tests
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Bump oras-go to v2.6.1
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Bump osas version to v2.6.1
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

🐛 Fix serial log collection for CAPI-adopted tests
  test/e2e/common.go
  test/e2e/logcollector.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Modify image build workflow to utilize container-build-workflow
  .github/workflows/build-images-pr.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Use Update() instead of Patch() for BMH consumerRef writes
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

unit-test: align metal3machine_manager tests with current APIs
  baremetal/metal3machine_manager_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Fetch DNS servers from IPPool for CAPI IPAddressClaim path
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  config/rbac/role.yaml
  controllers/metal3datatemplate_controller.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Add missing conditions to m3c manage and m3m controller
  api/v1beta2/errors.go
  api/v1beta2/metal3cluster_types.go
  api/v1beta2/metal3machine_types.go
  baremetal/metal3cluster_manager.go
  controllers/metal3cluster_controller_integration_test.go
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_integration_test.go
  controllers/metal3machine_controller_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

test/e2e: fix in-place upgrade rollout on version-managed feature gates
  docs/e2e-test.md
  test/extension/handlers/inplaceupdate/handlers.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint, build

📖 Use descriptive link text in docs
  docs/api.md
  docs/getting-started.md
Due: markdownlint

Bumped Kubernetes versions to latest patches
  Makefile
  docs/api.md
  docs/architecture.md
  docs/dev-setup.md
  docs/e2e-test.md
  examples/generate.sh
  hack/ensure-kubectl.sh
  hack/gen_tilt_settings.sh
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Bump go version to 1.26.5
  Dockerfile
  Makefile
  hack/fake-apiserver/Dockerfile
  test/extension/Dockerfile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Bump go version to 1.25.12
  Dockerfile
  Makefile
  hack/fake-apiserver/Dockerfile
  test/extension/Dockerfile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Bump go version to 1.25.12
  Dockerfile
  Makefile
  hack/fake-apiserver/Dockerfile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Modify ubuntu e2e kubeadm config to use vrrp script.
  test/e2e/data/infrastructure-metal3/main-v1beta1/bases/clusterclass-ubuntu-kubeadm-config/clusterclass-ubuntu-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/main-v1beta1/bases/ubuntu-kubeadm-config/ubuntu-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/main/bases/clusterclass-ubuntu-kubeadm-config/clusterclass-ubuntu-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/main/bases/ubuntu-kubeadm-config/ubuntu-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/v1.12/bases/clusterclass-ubuntu-kubeadm-config/clusterclass-ubuntu-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/v1.12/bases/ubuntu-kubeadm-config/ubuntu-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/v1.13/bases/clusterclass-ubuntu-kubeadm-config/clusterclass-ubuntu-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/v1.13/bases/ubuntu-kubeadm-config/ubuntu-kubeadm-config.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

⚠️ Deprecate Metal3DataTemplate spec.clusterName
  .golangci-kal.yaml
  api/v1beta2/metal3datatemplate_types.go
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  baremetal/metal3datatemplate_manager.go
  baremetal/metal3datatemplate_manager_test.go
  baremetal/metal3machine_manager.go
  baremetal/mocks/zz_generated.metal3datatemplate_manager.go
  baremetal/utils.go
  baremetal/utils_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datatemplates.yaml
  controllers/metal3datatemplate_controller.go
  controllers/metal3datatemplate_controller_test.go
  internal/webhooks/v1beta2/metal3datatemplate_webhook.go
  internal/webhooks/v1beta2/metal3datatemplate_webhook_test.go
  test/e2e/common.go
  test/e2e/remediation.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

Bump /otel/sdk to 1.43.0, x/net to 0.55, x/crypto to 0.54, oras-go/v2 to 2.6.1
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test, build-fkas

e2e: decouple from metal3-dev-env using vbmctl CLI
  .gitignore
  Makefile
  docs/e2e-networking.md
  docs/e2e-test.md
  hack/build-vbmctl.sh
  hack/ensure-docker.sh
  hack/ensure-kubectl.sh
  hack/install-go.sh
  hack/setup-bml.sh
  scripts/ci-e2e.sh
  scripts/environment.sh
  scripts/fetch_manifests.sh
  test/e2e/bmh_generator.go
  test/e2e/cert_rotation.go
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/config/vbmctl.yaml.tmpl
  test/e2e/data/.gitignore
  test/e2e/data/infrastructure-metal3/main-v1beta1/cluster-template-ubuntu/kustomization.yaml
  test/e2e/data/shared/ipam-metal3/main/metadata.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/ip_reuse_test.go
  test/e2e/k8s_in_place_upgrade_test.go
  test/e2e/logcollector.go
  test/e2e/md_remediations_test.go
  test/e2e/node_reuse.go
  test/e2e/pivoting.go
  test/e2e/pivoting_based_feature_test.go
  test/e2e/remediation.go
  test/e2e/remediation_based_feature_test.go
  test/e2e/scalability_test.go
  test/e2e/upgrade_clusterctl_test.go
  test/e2e/upgrade_kubernetes_n3_test.go
  test/e2e/upgrade_kubernetes_test.go
  test/e2e/vbmctl_helpers.go
  test/go.mod
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Remove BMO in the preCleanupManagementCluster function.
  scripts/ci-e2e.sh
  test/e2e/common.go
  test/e2e/pivoting.go
  test/e2e/upgrade_clusterctl_test.go
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Add 'api' to CAPI patterns in main dependabot configuration
  .github/dependabot.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

:seedling: Bump IPAM to v1.13.2 and BMO to v0.13.2
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test, build-fkas

:seedling: Bump IPAM to v1.12.6 and BMO to v0.12.6
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

:seedling: Bump x/text and grpc to fix vulnerabilities
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test, build-fkas

Added more focused documentation.
  docs/Upgrade_tests.md
Due: markdownlint

:rocket: Release v1.12.7
  releasenotes/v1.12.7.md
Due: markdownlint

:rocket: Release v1.13.2
  releasenotes/v1.13.2.md
Due: markdownlint

🐛 Require explicit GitHub token for release notes tool
  Makefile
  hack/tools/release/notes.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Node reuse: transient error treatment
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Remove the Metal3Machine owner reference from Metal3Data objects
  baremetal/metal3data_manager_test.go
  baremetal/metal3datatemplate_manager.go
  baremetal/suite_test.go
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_test.go
  test/e2e/common.go
  test/extension/handlers/inplaceupdate/handlers.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

fix(image): reject non-empty checksum for oci images
  api/v1beta1/common_types.go
  api/v1beta1/common_types_test.go
  api/v1beta2/common_types.go
  api/v1beta2/common_types_test.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machinetemplates.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

test CI
  testfile
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

:seedling: Bump cel-go to v0.29.0 to fix vulnerability
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test, build-fkas
