Repository metal3-io/metal3-dev-env: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

Fix CPU model for native aarch64 KVM hosts
  vm-setup/roles/libvirt/templates/baremetalvm.xml.j2
Due: none

fix: use DEB822 format and docker.asc directly to avoid Signed-By conflict
  vm-setup/roles/packages_installation/tasks/ubuntu_required_packages.yml
Due: none

Fix Go tarball download for aarch64 hosts
  vm-setup/roles/packages_installation/defaults/main.yml
Due: none

Fix leap keepalived interface in template
  tests/roles/run_tests/templates/main/cluster-template-controlplane-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/release-1.11/cluster-template-controlplane-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/release-1.12/cluster-template-controlplane-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/release-1.13/cluster-template-controlplane-kubeadm-config-leap.yaml
Due: none

Fix CPU model selection for cross-arch aarch64 QEMU emulation
  vm-setup/roles/libvirt/templates/baremetalvm.xml.j2
Due: none

use proper IPA cache address
  03_launch_mgmt_cluster.sh
Due: shellcheck

Default to Kind and in-cluster Ironic via IRSO
  01_prepare_host.sh
  02_configure_host.sh
  03_launch_mgmt_cluster.sh
  04_verify.sh
  AGENTS.md
  README.md
  cluster_cleanup.sh
  config_example.sh
  lib/common.sh
  lib/download.sh
  lib/network.sh
  tests/roles/run_tests/tasks/move.yml
  tests/roles/run_tests/tasks/move_back.yml
  tests/roles/run_tests/vars/main.yml
  vars.md
Due: shellcheck, markdownlint

Replace leap hardcoded interfaces with variables
  tests/roles/run_tests/templates/main/cluster-template-controlplane-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/main/cluster-template-workers-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/release-1.11/cluster-template-controlplane-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/release-1.11/cluster-template-workers-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/release-1.12/cluster-template-controlplane-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/release-1.12/cluster-template-workers-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/release-1.13/cluster-template-controlplane-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/release-1.13/cluster-template-workers-kubeadm-config-leap.yaml
Due: none

vbmc: use local libvirt socket instead of SSH
  02_configure_host.sh
  vm-setup/roles/virtbmc/tasks/setup_tasks.yml
Due: shellcheck

Bumped kubernetes to 1.36.2
  lib/common.sh
Due: shellcheck

Make dev-env accept both root and conf paths for sushy.
  02_configure_host.sh
  tests/roles/run_tests/templates/main/cluster-template-controlplane-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/main/cluster-template-workers-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/release-1.11/cluster-template-controlplane-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/release-1.11/cluster-template-workers-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/release-1.12/cluster-template-controlplane-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/release-1.12/cluster-template-workers-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/release-1.13/cluster-template-controlplane-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/release-1.13/cluster-template-workers-kubeadm-config-leap.yaml
  vm-setup/roles/virtbmc/defaults/main.yml
  vm-setup/roles/virtbmc/tasks/setup_tasks.yml
Due: shellcheck

Make dev-env logs less noisy for Make
  01_prepare_host.sh
  02_configure_host.sh
  03_launch_mgmt_cluster.sh
  04_verify.sh
  ansible.cfg
  host_cleanup.sh
  lib/image_prepull.sh
  vm-setup/roles/firewall/tasks/iptables.yaml
  vm-setup/roles/libvirt/tasks/vm_setup_tasks.yml
Due: shellcheck

Remove MariaDB config
  02_configure_host.sh
  03_launch_mgmt_cluster.sh
  lib/common.sh
  lib/ironic_tls_setup.sh
  vars.md
Due: shellcheck, markdownlint

Add setting DHCP_HOSTS and DHCP_IGNORE vars for dnsmasq via IRSO
  03_launch_mgmt_cluster.sh
  vars.md
Due: shellcheck, markdownlint

Pre load IPA image to fix flaky test
  03_launch_mgmt_cluster.sh
  lib/image_prepull.sh
Due: shellcheck

Fix shellcheck
  04_verify.sh
  hack/shellcheck.sh
Due: shellcheck

Split EL9/EL10-specific packages in CentOS/RHEL package list
  vm-setup/roles/packages_installation/defaults/main.yml
  vm-setup/roles/packages_installation/tasks/main.yml
Due: none

Fix IPv6 deployment variables
  02_configure_host.sh
  04_verify.sh
  hack/replace-containerd2.sh
  tests/roles/run_tests/tasks/install_calico.yaml
  tests/roles/run_tests/templates/main/cluster-template-cluster.yaml
  tests/roles/run_tests/templates/main/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/main/cluster-template-controlplane-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/main/cluster-template-controlplane-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/main/cluster-template-workers-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/main/cluster-template-workers-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/main/cluster-template-workers-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/vars/main.yml
  vars.md
  vm-setup/roles/firewall/tasks/firewalld.yaml
  vm-setup/roles/firewall/tasks/iptables.yaml
Due: shellcheck, markdownlint

🌱 Silence shellcheck SC2329 false positives
  04_verify.sh
Due: shellcheck

Use Keepalive:main instead of stale release-0.9 tag
  lib/common.sh
Due: shellcheck

Add support for release-1.14
  README.md
  lib/common.sh
  lib/releases.sh
Due: shellcheck, markdownlint

Major clean-up of deprecated features
  02_configure_host.sh
  03_launch_mgmt_cluster.sh
  PoCs/kamaji/metal3/bmo-bootstrap/ironic.env
  PoCs/kamaji/metal3/bmo-management/ironic.env
  clouds.yaml.j2
  lib/common.sh
  lib/ironic_basic_auth.sh
  lib/ironic_tls_setup.sh
  lib/network.sh
  tests/roles/run_tests/vars/main.yml
  tilt-setup/deploy_tilt_env.sh
  vars.md
  vm-setup/roles/firewall/defaults/main.yml
Due: shellcheck, markdownlint

Clean up Ironic credentials handling
  03_launch_mgmt_cluster.sh
  lib/ironic_basic_auth.sh
Due: shellcheck

🌱 Remove MariaDB support
  03_launch_mgmt_cluster.sh
  tests/roles/run_tests/vars/main.yml
  vars.md
Due: shellcheck, markdownlint

Remove everything related to xminkube and make kind the standard
  01_prepare_host.sh
  02_configure_host.sh
  03_launch_mgmt_cluster.sh
  04_verify.sh
  AGENTS.md
  README.md
  cluster_cleanup.sh
  config_example.sh
  lib/common.sh
  lib/download.sh
  lib/kind.sh
  lib/network.sh
  tests/roles/run_tests/tasks/move.yml
  tests/roles/run_tests/tasks/move_back.yml
  vars.md
Due: shellcheck, markdownlint

Add check for the creation of VMs
  04_verify.sh
Due: shellcheck

Remove passwordless sudo check in lib/common.sh
  01_prepare_host.sh
  02_configure_host.sh
  03_launch_mgmt_cluster.sh
  04_verify.sh
  cluster_cleanup.sh
  disable_apparmor_driver_libvirtd.sh
  host_cleanup.sh
  lib/common.sh
  lib/download.sh
  lib/image_prepull.sh
  openstackclient.sh
  ubuntu_bridge_network_configuration.sh
  vbmc.sh
Due: shellcheck

Have makefile use sudo to call scripts
  Makefile
Due: shellcheck

Add PR template for github
  .github/PULL_REQUEST_TEMPLATE.md
Due: markdownlint

Add connection test using Goldpinger
  tests/roles/run_tests/tasks/install_goldpinger.yaml
  tests/roles/run_tests/tasks/verify.yml
Due: none

Remove everything related to minikube and make kind the standard
  02_configure_host.sh
  03_launch_mgmt_cluster.sh
  config_example.sh
  lib/common.sh
  lib/kind.sh
  tests/roles/run_tests/tasks/move.yml
  vars.md
Due: shellcheck, markdownlint

Bump kubernetes version to v1.37.0
  config_example.sh
  lib/common.sh
  renovate.json
  tests/roles/run_tests/vars/main.yml
  vars.md
Due: shellcheck, markdownlint

Fix Go download retries and verification
  vm-setup/roles/packages_installation/defaults/main.yml
  vm-setup/roles/packages_installation/tasks/main.yml
Due: none

Remove passwordless sudo check in lib/common.sh
  01_prepare_host.sh
  02_configure_host.sh
  03_launch_mgmt_cluster.sh
  04_verify.sh
  cluster_cleanup.sh
  disable_apparmor_driver_libvirtd.sh
  host_cleanup.sh
  lib/common.sh
  lib/download.sh
  lib/image_prepull.sh
  openstackclient.sh
  tests/main.yml
  tests/run.sh
  tests/scripts/fetch_manifests.sh
  ubuntu_bridge_network_configuration.sh
  vbmc.sh
Due: shellcheck

Do not install Go if system Go is newer than required
  vm-setup/roles/packages_installation/defaults/main.yml
  vm-setup/roles/packages_installation/tasks/main.yml
Due: none

Fix IPv6 deployment variables
  02_configure_host.sh
  hack/replace-containerd2.sh
  tests/roles/run_tests/tasks/install_calico.yaml
  tests/roles/run_tests/templates/main/cluster-template-cluster.yaml
  tests/roles/run_tests/templates/main/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/main/cluster-template-controlplane-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/main/cluster-template-controlplane-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/main/cluster-template-workers-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/main/cluster-template-workers-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/main/cluster-template-workers-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/vars/main.yml
  vars.md
  vm-setup/roles/firewall/tasks/firewalld.yaml
  vm-setup/roles/firewall/tasks/iptables.yaml
Due: shellcheck, markdownlint

Add Go download retries and mirror support
  vm-setup/roles/packages_installation/defaults/main.yml
  vm-setup/roles/packages_installation/tasks/main.yml
Due: none

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
