Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test

Path conditions:
  gomod: unless all of: (((^|/)OWNERS)|(\.md))$
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$
  build: any of: ^api|^test|^Makefile$
  test: any of: ^(Makefile|hack/.*)$

add OpenSSF Scorecard badge to README
  README.md
Due: markdownlint

Fix race condition getting IPAddress for Metal3Data
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Uplift IPAM v1.6.0 and BMO to v0.5.0
  api/go.mod
  api/go.sum
  config/ipam/image_patch.yaml
  config/ipam/kustomization.yaml
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

bump circl to v1.3.7
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

bump golang to 1.20.12
  Dockerfile
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

remove release-1.3
  README.md
  scripts/ci-e2e.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint

reduce github actions permissions
  .github/workflows/build-images-action.yml
  .github/workflows/dependabot.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/kubesec.yml
  .github/workflows/lint-docs.yaml
  .github/workflows/pr-verifier.yaml
  .github/workflows/release.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Fix for v1.6 clusterctl upgrade.
  scripts/ci-e2e.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

Bump k8s to v1.29.0
  docs/api.md
  docs/architecture.md
  docs/dev-setup.md
  docs/e2e-test.md
  examples/generate.sh
  hack/ensure-kubectl.sh
  hack/gen_tilt_settings.sh
  scripts/ci-e2e.sh
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test

bump ginkgo to v2.14.0
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test

Bump ginkgo to v2.14.0
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test

Bump CAPI to v1.6.1
  README.md
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint, build

Update Support matrix in Contributing guide
  CONTRIBUTING.md
Due: markdownlint

Bump CAPI to v1.5.5
  README.md
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint, build

Bump envsubst to v1.29.x
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Add ginkgo phony in Makefile
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Install ginkgo directly instead of building it using go-modules
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

bump k8s deps to v0.28.6
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test

switch markdownlint container to markdownlint-cli2
  .markdownlint-cli2.yaml
  CONTRIBUTING.md
  docs/api.md
  hack/markdownlint.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, test

Default k8s version in ensure-kubectl script
  hack/ensure-kubectl.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, test

Fix for kubectl version command for different versions of k8s
  hack/ensure-kubectl.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, test

Bump golang to v1.21.6
  .github/workflows/release.yaml
  .golangci.yaml
  Dockerfile
  Makefile
  Tiltfile
  api/go.mod
  api/go.sum
  controllers/metal3data_controller_test.go
  controllers/metal3datatemplate_controller_test.go
  go.mod
  go.sum
  hack/build.sh
  hack/codegen.sh
  hack/gofmt.sh
  hack/gomod.sh
  hack/govet.sh
  hack/tools/go.mod
  hack/tools/go.sum
  hack/unit.sh
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Fix Permission Issue for process.txt in Tiltfile Configuration
  Tiltfile
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Decoupling IPAM from CAPM3
  config/default/kustomization.yaml
  config/ipam/image_patch.yaml
  config/ipam/pull_policy_patch.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Bump controller-tools to v0.17.1
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Bump controller-runtime to v0.16.4
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Add bmh to the cluster template
  scripts/ci-e2e.sh
  test/e2e/data/infrastructure-metal3/bases/bmhs/kustomization.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-centos/kustomization.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-ubuntu/kustomization.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-upgrade-workload/kustomization.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

remove manually setting bmh in the namespace from clsuterctl upgrade test
  scripts/environment.sh
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Bumping CAPI to v1.6.2 and syncing go modues with CAPI
  README.md
  api/go.mod
  api/go.sum
  api/v1beta1/metal3machine_webhook_test.go
  api/v1beta1/metal3machinetemplate_webhook_test.go
  baremetal/metal3cluster_manager_test.go
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  baremetal/metal3datatemplate_manager.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  baremetal/metal3machinetemplate_manager_test.go
  baremetal/utils_test.go
  controllers/metal3cluster_controller.go
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_integration_test.go
  controllers/metal3machine_controller_test.go
  controllers/metal3machinetemplate_controller_test.go
  go.mod
  go.sum
  test/e2e/common.go
  test/e2e/inspection.go
  test/e2e/live_iso_test.go
  test/e2e/remediation.go
  test/e2e/upgrade_clusterctl_test.go
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint, build

Bump CAPI to v1.6.2
  README.md
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/e2e/upgrade_clusterctl_test.go
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint, build, test

Bump golang to v1.21.7
  Dockerfile
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Bump golang to v1.20.14
  Dockerfile
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Bumping CAPI to v1.5.6 and syncing go modues with CAPI
  README.md
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint, build, test

E2E: Remove inspector container
  test/e2e/pivoting.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build
