Repository metal3-io/ip-address-manager: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, shellcheck, unit, generate, manifestlint, test

Path conditions:
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$

:rocket: Release v1.12.0
  releasenotes/v1.12.0.md
Due: markdownlint

Fix IPv6 preAllocation canonicalization in IPAM
  ipam/ippool_manager.go
  ipam/ippool_manager_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Imporove ip address validation
  internal/webhooks/v1alpha1/ipaddress_webhook.go
  internal/webhooks/v1alpha1/ipaddress_webhook_test.go
  internal/webhooks/v1alpha1/ipclaim_webhook.go
  internal/webhooks/v1alpha1/ipclaim_webhook_test.go
  internal/webhooks/v1alpha1/ippool_webhook.go
  internal/webhooks/v1alpha1/ippool_webhook_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Update build badges and compatibility matrix
  README.md
Due: markdownlint

Consolidate Metal3 Contributing guide in community repo
  CONTRIBUTING.md
Due: markdownlint

Update compatibility matrix
  README.md
Due: markdownlint

replace pkg/errors with stdlib Errorf
  api/go.mod
  api/v1alpha1/utils.go
  controllers/ippool_controller.go
  controllers/ippool_controller_test.go
  go.mod
  hack/tools/go.mod
  hack/tools/release/notes.go
  internal/webhooks/v1alpha1/ipaddress_webhook.go
  internal/webhooks/v1alpha1/ipclaim_webhook.go
  internal/webhooks/v1alpha1/ippool_webhook.go
  ipam/ippool_manager.go
  ipam/utils.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint, test

rename lint-full -> lint
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Bump golang to 1.24.12
  Dockerfile
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

:rocket: Release v1.12.1
  releasenotes/v1.12.1.md
Due: markdownlint

:rocket: Release v1.11.4
  releasenotes/v1.11.4.md
Due: markdownlint

Add basic fuzz test
  test/fuzz/README.md
  test/fuzz/utils_fuzzer.go
  test/fuzz/utils_fuzzer_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, unit, generate, manifestlint

chore: Migrate from deprecated golang/mock to go.uber.org/mock
  Makefile
  controllers/ippool_controller_test.go
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
  ipam/mocks/zz_generated.ippool_manager.go
  ipam/mocks/zz_generated.manager_factory.go
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

bump github actions to new major versions
  .github/workflows/dependabot.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/pr-gh-workflow-approve.yaml
  .github/workflows/release.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump golang version to 1.24.13
  Dockerfile
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Revert listing limits
  ipam/ippool_manager.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Switch to use CAPI v1beta2
  .golangci.yaml
  controllers/ippool_controller.go
  controllers/ippool_controller_test.go
  controllers/suite_test.go
  ipam/ippool_manager.go
  ipam/ippool_manager_test.go
  ipam/mocks/zz_generated.ippool_manager.go
  ipam/suite_test.go
  main.go
  metadata.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Add basic fuzz test
  Makefile
  go.mod
  go.sum
  test/fuzz/README.md
  test/fuzz/ippool_controller_fuzz_test.go
  test/fuzz/ippool_controller_fuzzer.go
  test/fuzz/ippool_manager_fuzz_test.go
  test/fuzz/ippool_manager_fuzzer.go
  test/fuzz/utils_fuzz_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, shellcheck, unit, generate, manifestlint, test

Fix unit test
  Makefile
  hack/fetch_ext_bins.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

:rocket: Release v1.12.2
  releasenotes/v1.12.2.md
Due: markdownlint

:rocket: Release v1.11.5
  releasenotes/v1.11.5.md
Due: markdownlint

:seedling: Fix new lint findings from golangci-lint v2.10.1
  .github/workflows/golangci-lint.yml
  hack/tools/release/notes.go
  ipam/ippool_manager.go
  ipam/ippool_manager_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint, test

move security-insights.yml to .github/ and use upstream validator
  .github/security-insights.yml
  .github/workflows/validate-security-insights.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

harden github actions workflows
  .github/workflows/build-images-action.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/pr-gh-workflow-approve.yaml
  .github/workflows/pr-link-check.yml
  .github/workflows/pr-verifier.yaml
  .github/workflows/release.yaml
  .github/workflows/scheduled-link-check.yml
  .github/workflows/yamllint.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

add zizmor scanner
  .github/dependabot.yml
  .github/workflows/dependabot.yml
  .github/workflows/release.yaml
  .github/workflows/zizmor.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint
