Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, golint, govet, markdownlint, shellcheck, generate, unit, manifestlint

Path conditions:
  gofmt: any of: \.go$
  golint: any of: \.go$
  govet: any of: \.go$
  markdownlint: any of: \.md$
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$

Use golang image v1.16 as base for unit test containers
  hack/unit.sh
Due: shellcheck, generate, unit, manifestlint

Bump controller-runtime to v0.11.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: generate, unit, manifestlint

Debug e2e
  go.mod
  go.sum
Due: generate, unit, manifestlint

Downgrade go to go 1.16
  .github/workflows/release.yaml
  Dockerfile
  Tiltfile
  api/go.mod
  go.mod
  hack/codegen.sh
  hack/gofmt.sh
  hack/golint.sh
  hack/govet.sh
  hack/tools/go.mod
  hack/unit.sh
Due: shellcheck, generate, unit, manifestlint

Downgrade CAPI related go modules
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: generate, unit, manifestlint

Uplift CAPI to v1.1.0-beta.1 pre release
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: generate, unit, manifestlint

🌱Add unit tests for m3 machine template controller
  Makefile
  baremetal/mocks/zz_generated.metal3machinetemplate_manager.go
  controllers/metal3machinetemplate_controller_test.go
  controllers/suite_test.go
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Uplift controller tools to v0.7.1-0.20211110210727-ab52f76cc7d1
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3clusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3dataclaims.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datas.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datatemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3remediations.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3remediationtemplates.yaml
  config/rbac/role.yaml
  config/webhook/manifests.yaml
  hack/tools/go.mod
  hack/tools/go.sum
Due: generate, unit, manifestlint

Fix upgrading mariadb conrainer in upgrade ironic e2e tests
  test/e2e/config/e2e_conf.yaml
  test/e2e/e2e_test.go
  test/e2e/upgrade_ironic_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Use prerelease v1.1.0-beta.1 in e2e and point to local override
  test/e2e/config/e2e_conf.yaml
  test/e2e/pivoting_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Fix upgrading mariadb container in upgrade ironic e2e tests
  test/e2e/config/e2e_conf.yaml
  test/e2e/upgrade_ironic_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Add image upgrading to nodereuse e2e tests
  test/e2e/config/e2e_conf.yaml
  test/e2e/node_reuse_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Update BMO reference to main
  README.md
  docs/dev-setup.md
Due: markdownlint

Update master reference to main/controlplane
  VERSIONING.md
  docs/releasing.md
  hack/e2e/environment.sh
Due: markdownlint, shellcheck, generate, unit, manifestlint

Debug capi machine in failed state
  baremetal/metal3machine_manager.go
  scripts/ci-e2e.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Introduce trigger phases fr e2e test in README
  README.md
Due: markdownlint

Test commit
  scripts/ci-e2e.sh
  test/e2e/cert_rotation_test.go
  test/e2e/e2e_test.go
  test/e2e/node_reuse_test.go
  test/e2e/pivoting_test.go
  test/e2e/remediation_test.go
  test/e2e/upgrade_ironic_test.go
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Pin calico version to v3.21.0
  hack/e2e/environment.sh
  test/e2e/e2e_test.go
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Morecommit
  test/e2e/common.go
  test/e2e/e2e_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Change m3m association
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

loop e2e test
  loop.sh
Due: shellcheck, generate, unit, manifestlint

Use a custom commit for E2E CAPI framework
  go.mod
  go.sum
Due: generate, unit, manifestlint

Add sleep infinity
  scripts/ci-e2e.sh
Due: shellcheck, generate, unit, manifestlint

Fix
  loop.sh
Due: shellcheck, generate, unit, manifestlint

Fix calico
  test/e2e/e2e_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Change to 5s
  go.mod
  go.sum
Due: generate, unit, manifestlint

Don't set error on m3machine when it is not a terminal problem
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_integration_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Pin calico version to v3.21.0
  test/e2e/e2e_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Rename unused BMH state mentions in e2e tests
  test/e2e/remediation_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Use grouping feature of Tilt to add CAPM3 label
  Tiltfile
  tilt-provider.json
Due: generate, unit, manifestlint

Uplift to github.com/docker/docker v20.10.11
  go.mod
  go.sum
Due: generate, unit, manifestlint

Remove static calico files from E2E tests
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/cni/calico/calico-centos.yaml
  test/e2e/data/cni/calico/calico.yaml
Due: generate, unit, manifestlint

Move calico manifest handling to createClusterctlLocalRepository func()
  test/e2e/config/e2e_conf.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/e2e_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Uplift containerd to v1.5.9
  go.mod
  go.sum
Due: generate, unit, manifestlint

Uplift containerd v1.5.9 and docker v20.10.11
  go.mod
  go.sum
Due: generate, unit, manifestlint

e2e: prepare for the new ironic container
  test/e2e/upgrade_ironic_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Use generic name for folder mounted by volume under the hack folder scripts
  hack/codegen.sh
  hack/gofmt.sh
  hack/golint.sh
  hack/govet.sh
  hack/manifestlint.sh
  hack/markdownlint.sh
  hack/shellcheck.sh
  hack/unit.sh
Due: shellcheck, generate, unit, manifestlint

Replace ironic image tag with main
  examples/addons.yaml
  test/e2e/config/e2e_conf.yaml
Due: generate, unit, manifestlint
