Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, golint, govet, markdownlint, shellcheck, generate, unit, manifestlint

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

golint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/golint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

govet:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/govet.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:latest
      imagePullPolicy: Always

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:stable
      imagePullPolicy: Always

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/codegen.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/garethr/kubeval:latest
      imagePullPolicy: Always

uplift golang and x/net
  Dockerfile
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Fix Makefile phonys to fail the command in case of test failures
  Makefile
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Bump CAPI to v1.3.5
  README.md
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gofmt, golint, govet, markdownlint, generate, unit, manifestlint

Bump CAPI to v1.2.11
  README.md
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: gofmt, golint, govet, markdownlint, generate, unit, manifestlint

🐛Fix Makefile command chaining
  Makefile
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Fix Makefile phonys to fail the command in case of test failures
  Makefile
  hack/build.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Fix lint and fmt errors
  hack/gofmt.sh
  test/e2e/e2e_suite_test.go
  test/e2e/live_iso_test.go
  test/e2e/upgrade_management_cluster_test.go
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

remove unsupported OSes
  scripts/environment.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Unify e2e triggers format
  README.md
Due: markdownlint

Enable concurrency in metal3 controllers
  controllers/metal3cluster_controller.go
  controllers/metal3data_controller.go
  controllers/metal3datatemplate_controller.go
  controllers/metal3labelsync_controller.go
  controllers/metal3machine_controller.go
  controllers/metal3machinetemplate_controller.go
  controllers/metal3remediation_controller.go
  main.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Fix flag var reference in main.go
  main.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Remove bmhID arg from SetNodeProviderID call
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  baremetal/mocks/zz_generated.metal3machine_manager.go
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Add condition m3d waiting to m3m object
  api/v1beta1/condition_consts.go
  baremetal/metal3data_manager.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  controllers/metal3machine_controller.go
Due: gofmt, golint, govet, generate, unit, manifestlint

add granular condition reasons to m3machine
  api/v1beta1/condition_consts.go
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_integration_test.go
  controllers/metal3machine_controller_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

add support for dev-en new network variable names in e2e tests
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/infrastructure-metal3/bases/ippool/ippool.yaml
  test/e2e/pivoting.go
  test/e2e/upgrade_management_cluster_test.go
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

backport
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  baremetal/mocks/zz_generated.metal3machine_manager.go
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

adding failfast for testing
  Makefile
  test/e2e/pivoting_based_feature_test.go
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Bump go modules for CAPI v1.4
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

changing k8s version for testing
  scripts/environment.sh
  test/e2e/data/infrastructure-metal3/bases/ubuntu-kubeadm-config/ubuntu-kubeadm-config.yaml
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

CAPI v1.4 related changes in codebase
  .golangci.yaml
  README.md
  api/v1beta1/metal3machine_webhook_test.go
  api/v1beta1/metal3machinetemplate_webhook_test.go
  baremetal/metal3cluster_manager.go
  baremetal/metal3cluster_manager_test.go
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  baremetal/metal3datatemplate_manager.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  baremetal/metal3machinetemplate_manager_test.go
  baremetal/utils.go
  baremetal/utils_test.go
  clusterctl-settings.json
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3clusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3dataclaims.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datas.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datatemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3remediations.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3remediationtemplates.yaml
  controllers/metal3cluster_controller.go
  controllers/metal3data_controller.go
  controllers/metal3data_controller_test.go
  controllers/metal3labelsync_controller.go
  controllers/metal3labelsync_controller_test.go
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_integration_test.go
  controllers/metal3machine_controller_test.go
  controllers/metal3machinetemplate_controller_test.go
  controllers/suite_test.go
  metadata.yaml
  test/e2e/data/infrastructure-metal3/v1beta1/metadata.yaml
  test/e2e/data/shared/v1beta1/metadata.yaml
  test/e2e/live_iso_test.go
Due: gofmt, golint, govet, markdownlint, generate, unit, manifestlint

Changing MACAddressPolicy to none
  scripts/environment.sh
  test/e2e/data/infrastructure-metal3/bases/ubuntu-kubeadm-config/ubuntu-kubeadm-config.yaml
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Bump CAPI to v1.4.0-rc.1
  README.md
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gofmt, golint, govet, markdownlint, generate, unit, manifestlint

manifestlint: move from kubeval to kubeconform
  hack/manifestlint.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

uplift all vulnerable dependencies
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

sync OWNERS from main
  OWNERS
Due: none

Fix ginkgo-cli mismatch
  Makefile
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

cherry-pick gomod.sh changes from main
  hack/gomod.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Bump go modules for getting rid of CVEs
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Add IP reuse e2e test
  scripts/environment.sh
  test/e2e/common.go
  test/e2e/ip_reuse.go
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

fix typos in e2e environment config
  scripts/environment.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Bump IPAM to v1.1.5
  api/go.mod
  api/go.sum
  config/ipam/image_patch.yaml
  go.mod
  go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Test nextVersion v1.3.99
  clusterctl-settings.json
Due: gofmt, golint, govet, generate, unit, manifestlint

changing MACAddressPolicy to none
  test/e2e/data/infrastructure-metal3/bases/ubuntu-kubeadm-config/ubuntu-kubeadm-config.yaml
Due: gofmt, golint, govet, generate, unit, manifestlint

Bump CAPI to v1.4.0
  README.md
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gofmt, golint, govet, markdownlint, generate, unit, manifestlint

Path conditions:
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  golint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: \.md$
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$
