Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

golangci-lint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/ensure-golangci-lint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

govet:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/govet.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/codegen.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

build:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/build.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

bump golang to 1.23.7
  Dockerfile
  Makefile
  hack/fake-apiserver/Dockerfile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

bump golang to 1.23.7
  Dockerfile
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Replace the CAPM3/api go module call with local directory
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, test

get rid of toolchain directives
  api/go.mod
  go.mod
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

E2E: Unify logging
  test/e2e/common.go
  test/e2e/logcollector.go
  test/e2e/pivoting.go
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

E2E: Cleanup writeToFile
  test/e2e/logcollector.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

E2E: Adjust Ironic kustomization patch
  test/e2e/data/ironic-deployment/overlays/release-26.0/kustomization.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Change IPAM provider name to independent Metal3 IPAM in e2e test
  test/e2e/pivoting.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

E2E: Ensure cert-manager webhook
  .gitignore
  test/e2e/data/cert-manager-test.yaml
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

fix deprecation notice paragraph style
  api/v1beta1/metal3data_types.go
  api/v1beta1/metal3datatemplate_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datas.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datatemplates.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

fix dependabot testing issues by re-adding "edited"
  .github/workflows/golangci-lint.yml
  .github/workflows/lint-docs.yaml
  .github/workflows/pr-gh-workflow-approve.yaml
  .github/workflows/pr-verifier.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

clean the toolchain directive off the go.mod
  hack/fake-apiserver/go.mod
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, test

E2E: Install independent Metal3 IPAM after upgrade
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

bump x/net, x/crypto and x/oauth2 go mods
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test

bump x/net, x/crypto, x/oauth2
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test

bump x/oauth2 to v0.27.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test

group all github action bumps into single PR
  .github/dependabot.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

bump BMO to v0.8.1
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

bump BMO to v0.9.1
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test

Move @mquhuy to emeritus reviewers
  OWNERS
  OWNERS_ALIASES
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Bump golangci-lint to v1.64.7
  .github/workflows/golangci-lint.yml
  .golangci.yaml
  api/v1beta1/groupversion_info.go
  api/v1beta1/metal3datatemplate_types.go
  hack/ensure-golangci-lint.sh
  test/e2e/cert_rotation.go
  test/e2e/pivoting.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

bump tj-actions/changed-files to v46.0.1
  .github/workflows/release.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

update osv-scanner to v2.0.0
  .github/workflows/osv-scanner-scan.yml
  hack/verify-release.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, test

hack
  baremetal/metal3machine_manager.go
  baremetal/mocks/zz_generated.metal3machine_manager.go
  controllers/metal3machine_controller.go
  test/e2e/common.go
  test/e2e/pivoting.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

update the used linters list
  .golangci.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

E2E: Install independent Metal3 IPAM after upgrade
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/cert-manager-test/certificate.yaml
  test/e2e/data/cert-manager-test/issuer.yaml
  test/e2e/data/cert-manager-test/kustomization.yaml
  test/e2e/data/cert-manager-test/namespace.yaml
  test/e2e/logcollector.go
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

E2E: Remove BMO in pre-cleanup
  test/e2e/pivoting.go
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Update e2e tests to use capi v1.10.0-beta.0
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/shared/v1.10/metadata.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

🌱 Enable errname, errorlint, forbidigo, perfsprint and tagliatelle linters
  .golangci.yaml
  api/v1beta1/metal3datatemplate_types.go
  api/v1beta1/metal3machine_types.go
  baremetal/metal3data_manager_test.go
  baremetal/metal3datatemplate_manager.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  baremetal/metal3remediation_manager.go
  baremetal/reconcile_error.go
  baremetal/reconcile_error_test.go
  baremetal/utils_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datatemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machinetemplates.yaml
  controllers/metal3remediation_controller_test.go
  main.go
  test/e2e/common.go
  test/e2e/ip_reuse.go
  test/e2e/logcollector.go
  test/e2e/md_remediations_test.go
  test/e2e/node_reuse.go
  test/e2e/pivoting.go
  test/e2e/remediation.go
  test/e2e/scalability_test.go
  test/e2e/upgrade_clusterctl_test.go
  test/e2e/upgrade_kubernetes_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

E2E: Log pods in workload cluster during cleanup
  test/e2e/common.go
  test/e2e/pivoting.go
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

🌱 Enable errname, errorlint, forbidigo and perfsprint linters
  .golangci.yaml
  baremetal/metal3data_manager_test.go
  baremetal/metal3datatemplate_manager.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  baremetal/metal3remediation_manager.go
  baremetal/reconcile_error.go
  baremetal/reconcile_error_test.go
  baremetal/utils_test.go
  controllers/metal3remediation_controller_test.go
  main.go
  test/e2e/common.go
  test/e2e/ip_reuse.go
  test/e2e/logcollector.go
  test/e2e/md_remediations_test.go
  test/e2e/node_reuse.go
  test/e2e/pivoting.go
  test/e2e/remediation.go
  test/e2e/scalability_test.go
  test/e2e/upgrade_clusterctl_test.go
  test/e2e/upgrade_kubernetes_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Path conditions:
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  unit: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  build: any of: ^api|^test|^Makefile$
  test: any of: ^(Makefile|hack/.*)$
