Repository metal3-io/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: check-prow-config, markdownlint, shellcheck, groovylint, spellcheck, renovate-config-validator

Path conditions:
  check-prow-config: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: any of: (\.md|markdownlint\.sh)$
  shellcheck: any of: ((\.sh)|^Makefile)$
  groovylint: any of: (\.groovy)$
  spellcheck: any of: (\.md|spellcheck\.sh|.cspell-config.json)$
  renovate-config-validator: any of: (renovate\.json|renovate-validator\.sh)$

make blunderbuss request 3 reviews
  prow/config/plugins.yaml
Due: check-prow-config

improve venv setup for ostack resource cleanup
  jenkins/image_building/build-image.sh
  jenkins/image_building/dib_elements/ubuntu-ci/install.d/55-install
  jenkins/scripts/clean_resources.sh
Due: check-prow-config, shellcheck

add merge-labels into additional labels
  AGENTS.md
  prow/config/plugins.yaml
Due: check-prow-config, markdownlint, spellcheck

enforce ol-prefix 'one' style for ordered lists
  .markdownlint-cli2.yaml
Due: check-prow-config

Fix conditional expression in container-image-build workflow
  .github/workflows/container-image-build.yml
Due: check-prow-config

disable default buildx provenance attestations
  .github/workflows/container-image-build.yml
Due: check-prow-config

Comment out CAPM3 build job
  prow/config/jobs/metal3-io/cluster-api-provider-metal3.yaml
Due: check-prow-config

Revert "Comment out CAPM3 build job"
  prow/config/jobs/metal3-io/cluster-api-provider-metal3.yaml
Due: check-prow-config

attempt to fix prow test trigger for capm3 build
  prow/config/jobs/metal3-io/cluster-api-provider-metal3.yaml
Due: check-prow-config

improve Jenkins resource cleanup script
  jenkins/scripts/clean_resources.sh
Due: check-prow-config, shellcheck

Try to fetch Ironic manifest that get created when IrSO is in use
  jenkins/scripts/dynamic_worker_workflow/fetch_logs.sh
Due: check-prow-config, shellcheck

Comment out build presubmit job due to rerun issues
  prow/config/jobs/metal3-io/cluster-api-provider-metal3.yaml
Due: check-prow-config

Bump golang to v1.25 for BMO main branch, basic-checks and container image build pipeline
  .github/workflows/build-images-action.yml
  .github/workflows/container-image-build.yml
  prow/config/jobs/metal3-io/baremetal-operator.yaml
  prow/container-images/basic-checks/Dockerfile
Due: check-prow-config

fix reapprover workflow
  .github/workflows/pr-gh-workflow-approve.yaml
Due: check-prow-config

Add @Rozzii as an approver
  OWNERS_ALIASES
Due: check-prow-config

Add new test scripts for bml
  .cspell-config.json
  jenkins/jobs/bml_integration_tests.groovy
  jenkins/scripts/bare_metal_lab/bml_cleanup.sh
  jenkins/scripts/bare_metal_lab/bml_integration_test.sh
  jenkins/scripts/bare_metal_lab/bml_test.sh
  jenkins/scripts/bare_metal_lab/bml_test/02_configure_host.sh
  jenkins/scripts/bare_metal_lab/bml_test/03_launch_bootstrap_cluster.sh
  jenkins/scripts/bare_metal_lab/bml_test/04_verify.sh
  jenkins/scripts/bare_metal_lab/bml_test/bml_test.md
  jenkins/scripts/bare_metal_lab/bml_test/clean.sh
  jenkins/scripts/bare_metal_lab/bml_test/lib/_clouds_yaml/clouds.yaml
  jenkins/scripts/bare_metal_lab/bml_test/lib/ironic_basic_auth.sh
  jenkins/scripts/bare_metal_lab/bml_test/lib/ironic_tls_setup.sh
  jenkins/scripts/bare_metal_lab/bml_test/lib/libvirt_network/external.xml
  jenkins/scripts/bare_metal_lab/bml_test/lib/libvirt_network/provisioning.xml
  jenkins/scripts/bare_metal_lab/bml_test/lib/vars.sh
  jenkins/scripts/bare_metal_lab/bml_test/manifests/v1beta1_cluster_centos.yaml
  jenkins/scripts/bare_metal_lab/bml_test/manifests/v1beta1_controlplane_centos.yaml
  jenkins/scripts/bare_metal_lab/bml_test/manifests/v1beta1_workers_centos.yaml
  jenkins/scripts/bare_metal_lab/bml_test/preload_images_minikube.sh
  jenkins/scripts/bare_metal_lab/cleanup-lab.yaml
  jenkins/scripts/bare_metal_lab/default_vars/vars.yaml
  jenkins/scripts/bare_metal_lab/deploy-lab.yaml
  jenkins/scripts/bare_metal_lab/files/reset_network.sh
  jenkins/scripts/bare_metal_lab/pod_scaling/ansible.cfg
  jenkins/scripts/bare_metal_lab/pod_scaling/inventory.ini
  jenkins/scripts/bare_metal_lab/pod_scaling/pod-scaling.yaml
  jenkins/scripts/bare_metal_lab/run-test.yaml
  jenkins/scripts/bare_metal_lab/tasks/cleanup-tasks.yaml
  jenkins/scripts/bare_metal_lab/tasks/deploy-tasks.yaml
  jenkins/scripts/bare_metal_lab/teardown.yaml
  jenkins/scripts/bare_metal_lab/templates/bmhosts_crs.yaml.j2
Due: check-prow-config, markdownlint, shellcheck, groovylint, spellcheck

switch jenkins jobs to use jnlp agent
  jenkins/jobs/bmo_e2e_optional_tests.groovy
  jenkins/jobs/capm3-e2e-tests.groovy
  jenkins/jobs/clean_resources.groovy
  jenkins/jobs/dev_env_integration_tests.groovy
  jenkins/jobs/dynamic_fullstack_building.groovy
  jenkins/jobs/image_building.groovy
  jenkins/jobs/osv_scanner_metal3.groovy
  jenkins/jobs/pre_release_tests.groovy
Due: check-prow-config, groovylint

Add Traefik configuration and HTTPRoute for Prow services
  prow/README.md
  prow/infra/referencegrant.yaml
  prow/infra/traefik-values.yaml
  prow/manifests/overlays/metal3/httproutes.yaml
  prow/manifests/overlays/metal3/kustomization.yaml
Due: check-prow-config, markdownlint, spellcheck

Align K8s version variable names with CAPM3 unification
  jenkins/jobs/capm3-e2e-tests.groovy
  jenkins/jobs/pre_release_tests.groovy
  jenkins/scripts/dynamic_worker_workflow/e2e_tests.sh
Due: check-prow-config, shellcheck, groovylint

Prow: S3 lifecycle policy for log retention
  prow/README.md
  prow/s3/lifecycle-policy.xml
Due: check-prow-config, markdownlint, spellcheck

add SECURITY_INSIGHTS.yml
  .github/workflows/validate-security-insights.yml
  SECURITY_INSIGHTS.yml
Due: check-prow-config

Rename KUBERNETES_VERSION_UPGRADE_FROM to KUBERNETES_VERSION_FROM
  jenkins/jobs/capm3-e2e-tests.groovy
  jenkins/jobs/pre_release_tests.groovy
Due: check-prow-config, groovylint

reduce parallelism for osv-scanner
  jenkins/jobs/osv_scanner_metal3.groovy
Due: check-prow-config, groovylint

Update go version to 1.25.6 for basic-checks container
  .github/workflows/build-images-action.yml
  prow/config/jobs/metal3-io/baremetal-operator.yaml
  prow/container-images/basic-checks/Dockerfile
Due: check-prow-config

fix cloud-init-datasources element invocation
  jenkins/image_building/dib_elements/ci-base/README.md
  jenkins/image_building/dib_elements/ci-base/element-deps
Due: check-prow-config, markdownlint, spellcheck

bump osv-scanner to v2.3.3 to supoprt golang 1.25
  jenkins/jobs/osv_scanner_metal3.groovy
Due: check-prow-config, groovylint

Add required api and kind for ipAddressFromIPPool and prefixesFromIPPool
  jenkins/scripts/bare_metal_lab/bml_test/manifests/v1beta1_controlplane_centos.yaml
  jenkins/scripts/bare_metal_lab/bml_test/manifests/v1beta1_workers_centos.yaml
Due: check-prow-config

:seedling: Bump golang to v1.25 for CAPM3 main branch
  prow/config/jobs/metal3-io/cluster-api-provider-metal3.yaml
Due: check-prow-config

Enable downloading images for each run
  jenkins/scripts/bare_metal_lab/bml_test/02_configure_host.sh
  jenkins/scripts/bare_metal_lab/bml_test/clean.sh
Due: check-prow-config, shellcheck

Bumping k8s-prow images and test-infra images
  prow/Makefile
  prow/config/config.yaml
  prow/config/jobs/metal3-io/project-infra.yaml
  prow/config/jobs/periodics.yaml
  prow/manifests/base/crier.yaml
  prow/manifests/base/deck.yaml
  prow/manifests/base/ghproxy.yaml
  prow/manifests/base/hook.yaml
  prow/manifests/base/horologium.yaml
  prow/manifests/base/prow-controller-manager.yaml
  prow/manifests/base/sinker.yaml
  prow/manifests/base/statusreconciler.yaml
  prow/manifests/base/tide.yaml
  prow/manifests/overlays/metal3/external-plugins/cherrypicker_deployment.yaml
  prow/manifests/overlays/metal3/external-plugins/jenkins-operator.yaml
  prow/manifests/overlays/metal3/external-plugins/labels_cronjob.yaml
  prow/manifests/overlays/metal3/external-plugins/needs-rebase_deployment.yaml
Due: check-prow-config

:seedling: Bump golang to v1.25 for IPAM main branch
  prow/config/jobs/metal3-io/ip-address-manager.yaml
Due: check-prow-config

fix unsafe refs in pr-link-check workflow
  .github/workflows/pr-link-check.yml
Due: check-prow-config

harden github actions workflows
  .github/workflows/container-image-build.yml
  .github/workflows/pr-gh-workflow-approve.yaml
  .github/workflows/pr-link-check.yml
  .github/workflows/pr-verifier.yaml
  .github/workflows/scheduled-link-check.yml
  .github/workflows/yamllint.yaml
Due: check-prow-config

jenkins: set PATH in the stage's environment block
  jenkins/jobs/image_building.groovy
Due: check-prow-config, groovylint

Revert "jenkins: set PATH in the stage's environment block"
  jenkins/jobs/image_building.groovy
Due: check-prow-config, groovylint

Add rsa ssh key for Oracle cloud machines
  jenkins/image_building/authorized_keys
Due: check-prow-config

Add renovate config to track k8s pre-release version in pre_release_tests.groovy
  renovate.json
Due: check-prow-config, renovate-config-validator

adding /usr/local/bin to leap secure_path
  jenkins/image_building/dib_elements/leap-ci/post-install.d/55-configure
Due: check-prow-config
