Repository metal3-io/metal3-docs: changes, and which Prow jobs are due for each by the changed paths.
All: markdownlint, shellcheck, spellcheck

Path conditions:
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  spellcheck: any of: (\.md|spellcheck\.sh|.cspell-config.json)$

Replace the diagram in BMO intro
  docs/user-guide/src/bmo/images/ipa-provisioning.plantuml
  docs/user-guide/src/bmo/images/ipa-provisioning.png
Due: none

Add warning about links without a path
  docs/user-guide/src/SUMMARY.md
Due: markdownlint, spellcheck

Move furkatgofurov7 to emeritus approvers
  OWNERS
  design/OWNERS
Due: none

Remove myself from Metal3 security committee members
  docs/user-guide/src/security_policy.md
Due: markdownlint, spellcheck

Add docker-build target
  .gitignore
  Makefile
  docs/Dockerfile
Due: shellcheck

Live updates (servicing) for provisioned hosts
  design/baremetal-operator/host-live-updates.md
Due: markdownlint, spellcheck

User guide: expand Ironic introduction
  docs/user-guide/src/ironic/introduction.md
Due: markdownlint, spellcheck

User guide: migrate BMC addressing information from BMO
  docs/user-guide/src/SUMMARY.md
  docs/user-guide/src/baremetal/guide.md
  docs/user-guide/src/bmo/introduction.md
  docs/user-guide/src/bmo/supported_hardware.md
  docs/user-guide/src/quick-start.md
Due: markdownlint, spellcheck

add OWNERS_ALIASES support
  OWNERS
  OWNERS_ALIASES
  design/OWNERS
Due: none

Multi-tenancy proposal
  design/cluster-api-provider-metal3/multi-tenancy_contract.md
Due: markdownlint, spellcheck

User guide: update information on Ironic container images
  docs/user-guide/src/ironic/ironic-container-images.md
Due: markdownlint, spellcheck

User guide: split features into basic and advanced
  docs/user-guide/src/SUMMARY.md
  docs/user-guide/src/bmo/features.md
Due: markdownlint, spellcheck

User guide: clean-up cleaning documentation
  docs/user-guide/src/bmo/automated_cleaning.md
Due: markdownlint, spellcheck

User guide: clean-up inspection documentation
  docs/user-guide/src/bmo/inspect_annotation.md
Due: markdownlint, spellcheck

User guide: clean-up reboot documentation
  docs/user-guide/src/bmo/reboot_annotation.md
Due: markdownlint, spellcheck

User guide: clean-up live-iso documentation
  docs/user-guide/src/bmo/live-iso.md
Due: markdownlint, spellcheck

fix broken link to a kubelet kep
  design/sync-labels-bmh-to-node.md
Due: markdownlint, spellcheck

Add project overview page
  .gitignore
  docs/user-guide/src/SUMMARY.md
  docs/user-guide/src/images/capi-machines.pantuml
  docs/user-guide/src/images/capi-machines.png
  docs/user-guide/src/images/metal3-capi-objects.plantuml
  docs/user-guide/src/images/metal3-capi-objects.png
  docs/user-guide/src/images/metal3-stack.plantuml
  docs/user-guide/src/images/metal3-stack.png
  docs/user-guide/src/project-overview.md
Due: markdownlint, spellcheck

Add linting make targets
  Makefile
  docs/user-guide/src/project-overview.md
Due: markdownlint, shellcheck, spellcheck

shellcheck only files
  hack/shellcheck.sh
Due: shellcheck

Update design/dhcpless_ipam.md
  design/dhcpless_ipam.md
Due: markdownlint, spellcheck

Modified handling of remote compute resources
  design/hostclaim-multitenancy-and-hybrid-clusters.md
Due: markdownlint, spellcheck

User guide: document firmware settings
  docs/user-guide/src/SUMMARY.md
  docs/user-guide/src/bmo/features.md
  docs/user-guide/src/bmo/firmware_settings.md
Due: markdownlint, spellcheck

update version support tables
  docs/user-guide/src/version_support.md
Due: markdownlint, spellcheck

fixed broken link reference to CRs
  crs_reference.md
Due: markdownlint, spellcheck

Fix dead links at managing-reviewers.md
  processes/managing-reviewers.md
Due: markdownlint, spellcheck

Fixed dead links in triage.md
  processes/triage.md
Due: markdownlint, spellcheck

User guide: information on instance customization
  docs/user-guide/src/SUMMARY.md
  docs/user-guide/src/bmo/features.md
  docs/user-guide/src/bmo/instance_customization.md
  docs/user-guide/src/quick-start.md
Due: markdownlint, spellcheck

add elfosardo to reviewers group
  OWNERS_ALIASES
Due: none

Fix dead links at cap3-remidiation-controller
  design/cluster-api-provider-metal3/capm3-remediation-controller-proposal.md
Due: markdownlint, spellcheck

User guide: clarify how configdrive gets to the machine
  docs/user-guide/src/bmo/instance_customization.md
Due: markdownlint, spellcheck

Fixed dead link
  design/baremetal-operator/kubebuilder-migration.md
Due: markdownlint, spellcheck

User guide: document RAID
  docs/user-guide/src/SUMMARY.md
  docs/user-guide/src/bmo/features.md
  docs/user-guide/src/bmo/raid.md
Due: markdownlint, spellcheck

bump spellcheck to 8.9.0
  hack/spellcheck.sh
Due: shellcheck, spellcheck

User guide: explain root device hints
  docs/user-guide/src/SUMMARY.md
  docs/user-guide/src/bmo/automated_cleaning.md
  docs/user-guide/src/bmo/features.md
  docs/user-guide/src/bmo/raid.md
  docs/user-guide/src/bmo/root_device_hints.md
  docs/user-guide/src/quick-start.md
Due: markdownlint, spellcheck

add security document templates
  security/self-assessment.md
  security/threat-model.md
Due: markdownlint, spellcheck

User guide: copy provisioning states information
  docs/user-guide/src/SUMMARY.md
  docs/user-guide/src/bmo/images/provisioning-states.dot
  docs/user-guide/src/bmo/images/provisioning-states.png
  docs/user-guide/src/bmo/state_machine.md
Due: markdownlint, spellcheck
