Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build

Path conditions:
  gomod: unless all of: (((^|/)OWNERS)|(\.md))$
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: \.md$
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$
  build: any of: ^api|^test|^Makefile$

add support for dev-en new network variable names in e2e tests
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/infrastructure-metal3/bases/ippool/ippool.yaml
  test/e2e/pivoting.go
  test/e2e/upgrade_management_cluster_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

add support for dev-en new network variable names in e2e tests
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/infrastructure-metal3/bases/ippool/ippool.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Disable scheduled workflows from running in forks
  .github/workflows/kubesec.yml
  .github/workflows/lint-docs.yaml
  .github/workflows/release.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

cleanup hack/ formatting
  hack/build.sh
  hack/codegen.sh
  hack/ensure-go.sh
  hack/ensure-golangci-lint.sh
  hack/ensure-kind.sh
  hack/ensure-kubectl.sh
  hack/ensure-kustomize.sh
  hack/gen_tilt_settings.sh
  hack/gofmt.sh
  hack/gomod.sh
  hack/gosec.sh
  hack/govet.sh
  hack/kind_with_registry.sh
  hack/kustomize-sub.sh
  hack/manifestlint.sh
  hack/markdownlint.sh
  hack/shellcheck.sh
  hack/unit.sh
  hack/verify-boilerplate.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

fix malformatted pipefail option in ci-e2e.sh
  scripts/ci-e2e.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

Improve target log collection for e2e
  scripts/fetch_target_logs.sh
  test/e2e/integration_test.go
  test/e2e/pivoting.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

refactor target log collection
  scripts/fetch_target_logs.sh
  test/e2e/pivoting.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Add manifest collection
  scripts/fetch_manifests.sh
  test/e2e/pivoting.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Bump k8s to v1.26.4
  docs/api.md
  docs/architecture.md
  docs/dev-setup.md
  examples/generate.sh
  hack/gen_tilt_settings.sh
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build

Bump kind to v0.18.0
  hack/ensure-kind.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

Add manifest collection after re-pivot
  scripts/fetch_manifests.sh
  test/e2e/pivoting.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Uplift IPAM release-1.2 tag v1.2.2
  api/go.mod
  api/go.sum
  config/ipam/image_patch.yaml
  config/ipam/kustomization.yaml
  go.mod
  go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

bump IPAM to 1.3.1
  api/go.mod
  api/go.sum
  config/ipam/image_patch.yaml
  config/ipam/kustomization.yaml
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

test
  Makefile
  test/e2e/common.go
  test/e2e/e2e_suite_test.go
  test/e2e/ip_reuse.go
  test/e2e/ip_reuse_test.go
  test/go.mod
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Bump cert-manager to v1.11.1
  Tiltfile
  examples/generate.sh
  hack/gen_tilt_settings.sh
  test/e2e/config/e2e_conf.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Add manifest collection after pivot and refactor
  scripts/fetch_manifests.sh
  test/e2e/pivoting.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

debug
  config/rbac/role.yaml
  controllers/metal3data_controller.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

update releasing.md
  docs/releasing.md
  hack/tools/release/notes.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint

bump IPAM to 1.4.0
  api/go.mod
  api/go.sum
  config/ipam/image_patch.yaml
  config/ipam/kustomization.yaml
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

implement CAPI IPAM contract support
  api/v1alpha5/conversion.go
  api/v1alpha5/zz_generated.conversion.go
  api/v1beta1/metal3datatemplate_types.go
  api/v1beta1/metal3datatemplate_webhook.go
  api/v1beta1/zz_generated.deepcopy.go
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  baremetal/suite_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datatemplates.yaml
  config/rbac/role.yaml
  controllers/metal3datatemplate_controller.go
  main.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

bump BMO to 0.3.0-rc.0
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

update releasing.md again
  docs/releasing.md
Due: markdownlint

bump BMO to 0.3.0
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Improve target log collection for e2e
  scripts/fetch_target_logs.sh
  test/e2e/pivoting.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Add Rozzii as reviewer
  OWNERS
Due: none

Add release-1.4 related changes
  Makefile
  README.md
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build

update build badges to point to 1.4
  README.md
Due: markdownlint

update build badges to point to 1.3
  README.md
Due: markdownlint

update build badges to point to 1.2
  README.md
Due: markdownlint

update build badges to point to 1.1
  README.md
Due: markdownlint

Point build status to e2e instead of ansible
  README.md
Due: markdownlint
