Repository metal3-io/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: check-prow-config, markdownlint, shellcheck

Path conditions:
  check-prow-config: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: any of: (\.md|markdownlint\.sh)$
  shellcheck: any of: ((\.sh)|^Makefile)$

Prow: Define jobs per release branch
  prow/README.md
  prow/config/jobs/metal3-io/baremetal-operator-release-0.5.yaml
  prow/config/jobs/metal3-io/baremetal-operator-release-0.6.yaml
  prow/config/jobs/metal3-io/baremetal-operator-release-0.8.yaml
  prow/config/jobs/metal3-io/baremetal-operator.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3.yaml
  prow/config/jobs/metal3-io/cluster-api-provier-metal3-release-1.6.yaml
  prow/config/jobs/metal3-io/cluster-api-provier-metal3-release-1.7.yaml
  prow/config/jobs/metal3-io/cluster-api-provier-metal3-release-1.8.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.6.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.7.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.8.yaml
  prow/config/jobs/metal3-io/ip-address-manager.yaml
  prow/config/jobs/metal3-io/ironic-image-release-24.0.yaml
  prow/config/jobs/metal3-io/ironic-image-release-24.1.yaml
  prow/config/jobs/metal3-io/ironic-image-release-25.0.yaml
  prow/config/jobs/metal3-io/ironic-image-release-26.0.yaml
  prow/config/jobs/metal3-io/ironic-image.yaml
Due: check-prow-config, markdownlint

Update prow_test_dumper.py to handle job-config
  hack/prow_test_dumper.py
Due: check-prow-config

Prow: Configure milstone applier plugin
  prow/config/plugins.yaml
Due: check-prow-config

Prow: Fix milestone applier config
  prow/config/plugins.yaml
Due: check-prow-config

fix uploading ci image failure
  jenkins/image_building/upload-ci-image.sh
Due: check-prow-config, shellcheck

Update KCT and KCP with new cloud-init structure
  prow/capo-cluster/infra-kct.yaml
  prow/capo-cluster/kubeadmconfigtemplate.yaml
  prow/capo-cluster/kubeadmcontrolplane.yaml
Due: check-prow-config

Prow: Upgrade Kubernetes and CAPI/CAPO
  prow/README.md
  prow/capo-cluster/infra-md.yaml
  prow/capo-cluster/kubeadmcontrolplane.yaml
  prow/capo-cluster/machinedeployment.yaml
  prow/capo-cluster/openstackmachinetemplates.yaml
Due: check-prow-config, markdownlint

Prow: Bump calico, autoscaler and cloud-provider
  prow/capo-cluster/machinedeployment.yaml
  prow/cluster-resources/autoscaler.yaml
  prow/cluster-resources/kustomization.yaml
Due: check-prow-config

Prow: Temporary autoscaler RBAC workaround
  prow/cluster-resources/autoscaler.yaml
Due: check-prow-config

update basic-checks image to Go 1.23
  .github/workflows/build-images-action.yml
  prow/container-images/basic-checks/Dockerfile
Due: check-prow-config

update basic-checks baseimage when building it
  .github/workflows/build-images-action.yml
  prow/container-images/basic-checks/Dockerfile
Due: check-prow-config

Fixing agent creation timeout issue
  jenkins/jobs/capm3-e2e-tests.pipeline
Due: check-prow-config

Prow: Switch to staging registry
  prow/Makefile
  prow/config/config.yaml
  prow/config/generic-autobumper-config.yaml
  prow/config/jobs/metal3-io/project-infra.yaml
  prow/config/jobs/periodics.yaml
  prow/manifests/base/crier.yaml
  prow/manifests/base/deck.yaml
  prow/manifests/base/ghproxy.yaml
  prow/manifests/base/hook.yaml
  prow/manifests/base/horologium.yaml
  prow/manifests/base/prow-controller-manager.yaml
  prow/manifests/base/sinker.yaml
  prow/manifests/base/statusreconciler.yaml
  prow/manifests/base/tide.yaml
  prow/manifests/overlays/metal3/external-plugins/cherrypicker_deployment.yaml
  prow/manifests/overlays/metal3/external-plugins/jenkins-operator.yaml
  prow/manifests/overlays/metal3/external-plugins/labels_cronjob.yaml
  prow/manifests/overlays/metal3/external-plugins/needs-rebase_deployment.yaml
Due: check-prow-config

bump prow tests to Go 1.23
  prow/config/jobs/metal3-io/baremetal-operator-release-0.8.yaml
  prow/config/jobs/metal3-io/baremetal-operator.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3.yaml
  prow/config/jobs/metal3-io/cluster-api-provier-metal3-release-1.8.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.8.yaml
  prow/config/jobs/metal3-io/ip-address-manager.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator.yaml
Due: check-prow-config

Prow: Add Makefile to autobumper
  prow/config/generic-autobumper-config.yaml
Due: check-prow-config

Temporary assignment for CONTAINER_HUB_PROXY
  jenkins/scripts/integration_test_env.sh
Due: check-prow-config, shellcheck

Move ephemeral, fullstack, pivoting and remediation tests to private cloud
  jenkins/jobs/capm3-e2e-tests.pipeline
  jenkins/jobs/dynamic_fullstack_building.pipeline
  jenkins/jobs/e2e_features_test.pipeline
Due: check-prow-config

Prow: Use GCR for commenter and label_sync images
  prow/config/generic-autobumper-config.yaml
  prow/config/jobs/periodics.yaml
  prow/manifests/overlays/metal3/external-plugins/labels_cronjob.yaml
Due: check-prow-config

Bumping k8s-prow images and test-infra images
  prow/Makefile
  prow/config/config.yaml
  prow/config/jobs/metal3-io/project-infra.yaml
  prow/config/jobs/periodics.yaml
  prow/manifests/base/crier.yaml
  prow/manifests/base/deck.yaml
  prow/manifests/base/ghproxy.yaml
  prow/manifests/base/hook.yaml
  prow/manifests/base/horologium.yaml
  prow/manifests/base/prow-controller-manager.yaml
  prow/manifests/base/sinker.yaml
  prow/manifests/base/statusreconciler.yaml
  prow/manifests/base/tide.yaml
  prow/manifests/overlays/metal3/external-plugins/cherrypicker_deployment.yaml
  prow/manifests/overlays/metal3/external-plugins/jenkins-operator.yaml
  prow/manifests/overlays/metal3/external-plugins/labels_cronjob.yaml
  prow/manifests/overlays/metal3/external-plugins/needs-rebase_deployment.yaml
Due: check-prow-config

Prow: Update docs
  prow/README.md
Due: markdownlint

improve prow-test-dumper to crosscheck settings
  hack/prow_test_dumper.py
Due: check-prow-config

Prow: Use CAPI Operator
  .cspell-config.json
  prow/README.md
  prow/capi/bootstrap.yaml
  prow/capi/control-plane.yaml
  prow/capi/core.yaml
  prow/capi/infrastructure.yaml
  prow/capi/kustomization.yaml
Due: check-prow-config, markdownlint

Prow: Fix missing control-plane provider
  prow/capi/kustomization.yaml
Due: check-prow-config

Add configuration for ironic-image release-27.0
  prow/config/jobs/metal3-io/ironic-image-release-27.0.yaml
Due: check-prow-config

add blunderbuss to Nordix repos
  prow/config/plugins.yaml
Due: check-prow-config

Bumping k8s-prow images and test-infra images
  prow/Makefile
  prow/config/config.yaml
  prow/config/jobs/metal3-io/project-infra.yaml
  prow/config/jobs/periodics.yaml
  prow/manifests/base/crier.yaml
  prow/manifests/base/deck.yaml
  prow/manifests/base/ghproxy.yaml
  prow/manifests/base/hook.yaml
  prow/manifests/base/horologium.yaml
  prow/manifests/base/prow-controller-manager.yaml
  prow/manifests/base/sinker.yaml
  prow/manifests/base/statusreconciler.yaml
  prow/manifests/base/tide.yaml
  prow/manifests/overlays/metal3/external-plugins/cherrypicker_deployment.yaml
  prow/manifests/overlays/metal3/external-plugins/jenkins-operator.yaml
  prow/manifests/overlays/metal3/external-plugins/needs-rebase_deployment.yaml
Due: check-prow-config

Prow: Use flavors with local disk
  prow/capo-cluster/infra-md.yaml
  prow/capo-cluster/kubeadmcontrolplane.yaml
  prow/capo-cluster/machinedeployment.yaml
  prow/capo-cluster/openstackmachinetemplates.yaml
Due: check-prow-config

remove ironic-client from Prow
  prow/config/config.yaml
  prow/config/jobs/metal3-io/ironic-client.yaml
  prow/config/plugins.yaml
Due: check-prow-config

Prow: Enable milestoneapplier
  prow/config/plugins.yaml
Due: check-prow-config

Add custom ref input to container build workflow
  .github/workflows/container-image-build.yml
Due: check-prow-config

Prow monitoring: Remove blackbox exporter
  prow/infra/kube-prometheus/manifests/blackbox-exporter-clusterRole.yaml
  prow/infra/kube-prometheus/manifests/blackbox-exporter-clusterRoleBinding.yaml
  prow/infra/kube-prometheus/manifests/blackbox-exporter-configuration.yaml
  prow/infra/kube-prometheus/manifests/blackbox-exporter-deployment.yaml
  prow/infra/kube-prometheus/manifests/blackbox-exporter-networkPolicy.yaml
  prow/infra/kube-prometheus/manifests/blackbox-exporter-service.yaml
  prow/infra/kube-prometheus/manifests/blackbox-exporter-serviceAccount.yaml
  prow/infra/kube-prometheus/manifests/blackbox-exporter-serviceMonitor.yaml
  prow/infra/kube-prometheus/metal3-kube-prometheus.jsonnet
Due: check-prow-config

Prow monitoring: Add node selector and toleration
  prow/capo-cluster/openstackcluster.yaml
  prow/infra/kube-prometheus/manifests/alertmanager-alertmanager.yaml
  prow/infra/kube-prometheus/manifests/grafana-deployment.yaml
  prow/infra/kube-prometheus/manifests/kube-state-metrics-deployment.yaml
  prow/infra/kube-prometheus/manifests/prometheus-adapter-deployment.yaml
  prow/infra/kube-prometheus/manifests/prometheus-prometheus.yaml
  prow/infra/kube-prometheus/manifests/setup/prometheus-operator-deployment.yaml
  prow/infra/kube-prometheus/metal3-kube-prometheus.jsonnet
Due: check-prow-config

Prow monitoring: Prometheus retention and persistence
  prow/infra/kube-prometheus/manifests/prometheus-prometheus.yaml
  prow/infra/kube-prometheus/metal3-kube-prometheus.jsonnet
Due: check-prow-config

Prow monitoring: Add prowjob dashboard
  prow/infra/kube-prometheus/jobs.json
  prow/infra/kube-prometheus/manifests/grafana-dashboardDefinitions.yaml
  prow/infra/kube-prometheus/manifests/grafana-deployment.yaml
  prow/infra/kube-prometheus/manifests/kube-state-metrics-deployment.yaml
  prow/infra/kube-prometheus/metal3-kube-prometheus.jsonnet
  prow/infra/kube-prometheus/prow-rules.yaml
Due: check-prow-config

Prow monitoring: Add makefile and containerize build
  prow/infra/kube-prometheus/Makefile
  prow/infra/kube-prometheus/build.sh
Due: check-prow-config, shellcheck

Prow monitoring: Disable grafana login
  prow/infra/kube-prometheus/manifests/grafana-config.yaml
  prow/infra/kube-prometheus/manifests/grafana-deployment.yaml
  prow/infra/kube-prometheus/metal3-kube-prometheus.jsonnet
Due: check-prow-config

Document prow monitoring
  .cspell-config.json
  prow/README.md
  prow/infra/kube-prometheus/README.md
Due: check-prow-config, markdownlint

Bump k8s to 1.32.0, crictl to 1.32.0 and crio to 1.31.3
  jenkins/image_building/build-image.sh
Due: check-prow-config, shellcheck

add IPAM 1.9 release to Prow
  prow/config/jobs/metal3-io/ip-address-manager-release-1.9.yaml
Due: check-prow-config
