Repository metal3-io/ip-address-manager: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, shellcheck, unit, generate, manifestlint, test

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

golangci-lint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/ensure-golangci-lint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

govet:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/govet.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/codegen.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

test:
  decorate: true
  spec:
    containers:
    - args:
      - test
      command:
      - make
      image: docker.io/golang:1.22
      imagePullPolicy: Always

Make image build on releases
  .github/workflows/build-images-action.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump CAPI to v1.9.0-rc.1
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

:
  .github/workflows/golangci-lint.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Add release program to golangci-lint workflow
  .github/workflows/golangci-lint.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

fix gofmt
  hack/tools/release/notes.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint, test

fix "func `firstCommit` is unused (unused)"
  hack/tools/release/notes.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint, test

fix "printf: `fmt.Println` arg list ends with redundant newline (govet)"
  hack/tools/release/notes.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint, test

fix "unreachable-code: unreachable code after this statement (revive)"
  hack/tools/release/notes.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint, test

fix "indent-error-flow: if block ends with a return statement, so drop this else and outdent its block (revive)"
  hack/tools/release/notes.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint, test

fix "Error return value of `fmt.Sscanf` is not checked (errcheck)"
  hack/tools/release/notes.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint, test

lint release program
  .github/workflows/golangci-lint.yml
  Makefile
  hack/tools/release/notes.go
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Bump CAPI to v1.9.0
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump CAPI to v1.7.9
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump CAPI to v1.8.6
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump Golang to v1.23.4
  Dockerfile
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Fix release-notes in Makefile
  Makefile
  docs/releasing.md
  hack/tools/release/notes.go
Due: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, shellcheck, unit, generate, manifestlint, test

Introduce ReconcileError with Transient and Terminal Error type
  controllers/ippool_controller.go
  ipam/ippool_manager.go
  ipam/ippool_manager_test.go
  ipam/reconcile_error.go
  ipam/reconcile_error_test.go
  ipam/requeue_error.go
  ipam/requeue_error_test.go
  ipam/utils.go
  ipam/utils_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

:rocket: Release v1.9.0
  releasenotes/v1.9.0.md
Due: markdownlint

Fix release-notes binary path in Makefile
  Makefile
  docs/releasing.md
  hack/tools/release/notes.go
Due: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, shellcheck, unit, generate, manifestlint, test

Fix container image build workflow
  .github/workflows/build-images-action.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

replace release-1.7 with 1.9 in dependabot config
  .github/dependabot.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump CAPI to v1.9.1
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

🚀 Release v1.9.1
  releasenotes/v1.9.1.md
Due: markdownlint

add adilGhaffarDev as reviewer
  OWNERS_ALIASES
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

update build badges for release-1.9
  README.md
Due: markdownlint

Backport new container image workflow to release-1.7
  .github/workflows/build-images-action.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Backport new container image build wf to release-1.8
  .github/workflows/build-images-action.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump sigs.k8s.io/kustomize/kustomize/v5 to 5.5.0
  hack/tools/go.mod
  hack/tools/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint, test

remove old release automation
  .github/workflows/release.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Add v1.7.4 release note
  releasenotes/v1.7.4.md
Due: markdownlint

Bump CAPI to v1.9.2
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Path conditions:
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$
