Repository metal3-io/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: check-prow-config, markdownlint, shellcheck, spellcheck

Path conditions:
  check-prow-config: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: any of: (\.md|markdownlint\.sh)$
  shellcheck: any of: ((\.sh)|^Makefile)$
  spellcheck: any of: (\.md|spellcheck\.sh|.cspell-config.json)$

Prow: Bump CAPI providers
  prow/capi/bootstrap.yaml
  prow/capi/control-plane.yaml
  prow/capi/core.yaml
  prow/capi/infrastructure.yaml
  prow/capi/kustomization.yaml
Due: check-prow-config

Prow: Bump ingress-nginx to v1.12.0
  prow/infra/add-args.yaml
  prow/infra/configmap-patch.yaml
  prow/infra/kustomization.yaml
Due: check-prow-config

Prow: Bump calico, CPO and cluster-autoscaler
  prow/cluster-resources/autoscaler.yaml
  prow/cluster-resources/kustomization.yaml
Due: check-prow-config

move running provisioning host to jenkins agent in bml
  jenkins/scripts/bare_metal_lab/tasks/deploy-tasks.yaml
  jenkins/scripts/bml_cleanup.sh
  jenkins/scripts/bml_integration_test.sh
  jenkins/scripts/files/run_clean.sh
  jenkins/scripts/files/run_integration_tests.sh
Due: check-prow-config, shellcheck

Prow: Upgrade k8s to v1.31.6
  prow/capo-cluster/infra-md.yaml
  prow/capo-cluster/kubeadmcontrolplane.yaml
  prow/capo-cluster/machinedeployment.yaml
  prow/capo-cluster/openstackmachinetemplates.yaml
Due: check-prow-config

Prow: Upgrade bastion to ubuntu 24.04
  prow/capo-cluster/openstackcluster.yaml
Due: check-prow-config

Add broken link check: scheduled and pr
  .github/workflows/pr-link-check.yml
  .github/workflows/scheduled-link-check.yml
  .lycheeignore
  jenkins/README.md
  jenkins/scripts/bare_metal_lab/README.md
  prow/README.md
Due: check-prow-config, markdownlint, spellcheck

bump basic-checks image to golang 1.23.7
  prow/container-images/basic-checks/Dockerfile
Due: check-prow-config

Add pull bmo e2e optional to prow
  jenkins/jobs/bmo_e2e_tests.pipeline
  prow/config/jobs/metal3-io/baremetal-operator-release-0.8.yaml
  prow/config/jobs/metal3-io/baremetal-operator-release-0.9.yaml
  prow/config/jobs/metal3-io/baremetal-operator.yaml
Due: check-prow-config

handle completely missing branch protection case
  hack/prow_test_dumper.py
Due: check-prow-config

Add buildArgs to docker build
  .github/workflows/container-image-build.yml
Due: check-prow-config

Add pull bmo e2e optional to prow
  jenkins/jobs/bmo_e2e_optional_tests.pipeline
  prow/config/jobs/metal3-io/baremetal-operator-release-0.8.yaml
  prow/config/jobs/metal3-io/baremetal-operator-release-0.9.yaml
  prow/config/jobs/metal3-io/baremetal-operator.yaml
Due: check-prow-config

Move @mquhuy to emeritus reviewers
  OWNERS
  OWNERS_ALIASES
Due: check-prow-config

Prow: Bump ingress-nginx
  prow/infra/kustomization.yaml
Due: check-prow-config

Add input to pass build args instead of env
  .github/workflows/container-image-build.yml
Due: check-prow-config

Add configuration for ironic-image release-29.0
  prow/config/jobs/metal3-io/ironic-image-release-29.0.yaml
  prow/config/plugins.yaml
Due: check-prow-config

Bumping k8s-prow images and test-infra images
  prow/Makefile
  prow/config/config.yaml
  prow/config/jobs/metal3-io/project-infra.yaml
  prow/config/jobs/periodics.yaml
  prow/manifests/base/crier.yaml
  prow/manifests/base/deck.yaml
  prow/manifests/base/ghproxy.yaml
  prow/manifests/base/hook.yaml
  prow/manifests/base/horologium.yaml
  prow/manifests/base/prow-controller-manager.yaml
  prow/manifests/base/sinker.yaml
  prow/manifests/base/statusreconciler.yaml
  prow/manifests/base/tide.yaml
  prow/manifests/overlays/metal3/external-plugins/cherrypicker_deployment.yaml
  prow/manifests/overlays/metal3/external-plugins/jenkins-operator.yaml
  prow/manifests/overlays/metal3/external-plugins/labels_cronjob.yaml
  prow/manifests/overlays/metal3/external-plugins/needs-rebase_deployment.yaml
Due: check-prow-config

Prow: Rotate credentials
  prow/README.md
  prow/capo-cluster/infra-md.yaml
  prow/capo-cluster/kubeadmcontrolplane.yaml
  prow/capo-cluster/machinedeployment.yaml
  prow/capo-cluster/openstackcluster.yaml
  prow/capo-cluster/openstackmachinetemplates.yaml
Due: check-prow-config, markdownlint, spellcheck

group github actions
  .github/dependabot.yml
Due: check-prow-config

Prow: Disable legacy cache option
  prow/manifests/base/ghproxy.yaml
Due: check-prow-config

Remove unnecessary git credentials
  jenkins/jobs/bml_integration_tests.pipeline
  jenkins/jobs/bmo_e2e_optional_tests.pipeline
  jenkins/jobs/capm3-e2e-tests.pipeline
  jenkins/jobs/clean_resources.pipeline
  jenkins/jobs/dev_env_integration_tests.pipeline
  jenkins/jobs/dynamic_fullstack_building.pipeline
  jenkins/jobs/e2e_features_test.pipeline
  jenkins/jobs/image_building.pipeline
Due: check-prow-config

Bump openjdk to 17 in CI images
  jenkins/image_building/dib_elements/ci-base/package-installs.yaml
  jenkins/image_building/dib_elements/ci-base/pkg-map
Due: check-prow-config

Rotate authorized ssh key in images
  jenkins/image_building/authorized_keys
Due: check-prow-config

Bump ubuntu images to 24.04
  jenkins/image_building/build-image.sh
Due: check-prow-config, shellcheck

Bumping k8s-prow images and test-infra images
  prow/Makefile
  prow/config/config.yaml
  prow/config/jobs/metal3-io/project-infra.yaml
  prow/config/jobs/periodics.yaml
  prow/manifests/base/crier.yaml
  prow/manifests/base/deck.yaml
  prow/manifests/base/ghproxy.yaml
  prow/manifests/base/hook.yaml
  prow/manifests/base/horologium.yaml
  prow/manifests/base/prow-controller-manager.yaml
  prow/manifests/base/sinker.yaml
  prow/manifests/base/statusreconciler.yaml
  prow/manifests/base/tide.yaml
  prow/manifests/overlays/metal3/external-plugins/cherrypicker_deployment.yaml
  prow/manifests/overlays/metal3/external-plugins/jenkins-operator.yaml
  prow/manifests/overlays/metal3/external-plugins/needs-rebase_deployment.yaml
Due: check-prow-config

Enable triggering image building jobs on PRs
  jenkins/jobs/image_building.pipeline
  prow/config/jobs/metal3-io/project-infra.yaml
Due: check-prow-config

Add CI image verification stage
  jenkins/image_building/build-image.sh
  jenkins/image_building/upload-ci-image.sh
  jenkins/image_building/verify-ci-image.sh
  jenkins/jobs/image_building.pipeline
Due: check-prow-config, shellcheck

Bump ubuntu images to 24.04
  jenkins/image_building/build-image.sh
  jenkins/image_building/dib_elements/ubuntu-ci/install.d/55-install
Due: check-prow-config, shellcheck

Fix image build refspec for PR jobs
  jenkins/jobs/image_building.pipeline
Due: check-prow-config

Prow: Require manually triggered jobs
  prow/config/config.yaml
Due: check-prow-config

bump golang to 1.24 for IRSO
  prow/config/jobs/metal3-io/ironic-standalone-operator.yaml
Due: check-prow-config

test-bml
  jenkins/scripts/bare_metal_lab/tasks/cleanup-tasks.yaml
  jenkins/scripts/bml_integration_test.sh
  jenkins/scripts/integration_test_env.sh
Due: check-prow-config, shellcheck

Fix image build refspec and upload
  jenkins/image_building/upload-ci-image.sh
  jenkins/jobs/image_building.pipeline
Due: check-prow-config, shellcheck

Uplift Kubernetes version to v1.33.0 for image building
  jenkins/image_building/build-image.sh
Due: check-prow-config, shellcheck

Update CRIO installation link from k8s addons to CRI'o own subproject
  jenkins/image_building/dib_elements/centos-node/pre-install.d/55-setup-repos
  jenkins/image_building/dib_elements/ubuntu-node/pre-install.d/55-setup-repos
Due: check-prow-config

Don't clean the yum cache while building CentOS node image
  jenkins/image_building/dib_elements/centos-node/pre-install.d/55-setup-repos
Due: check-prow-config

Evaluate when block before agent in CI image verification
  jenkins/jobs/image_building.pipeline
Due: check-prow-config

Add BMO release-0.10 to Prow
  prow/config/jobs/metal3-io/baremetal-operator-release-0.10.yaml
Due: check-prow-config

Add CAPM3 release-1.10 to Prow
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.10.yaml
Due: check-prow-config

Add IPAM release-1.10 to Prow
  prow/config/jobs/metal3-io/ip-address-manager-release-1.10.yaml
Due: check-prow-config
