Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/generate.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

golint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/golint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

Bump golang version to 1.20.11
  Dockerfile
  Makefile
  hack/e2e/ensure_go.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

Bump golang version to 1.20.11
  Dockerfile
  Makefile
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

Test live-ISO provisioning in e2e and confirm successful boot with ssh implementation
  hack/ci-e2e.sh
  hack/clean-e2e.sh
  hack/e2e/net.xml
  test/e2e/common.go
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/external_inspection_test.go
  test/e2e/live_iso_test.go
  test/e2e/re_inspection_test.go
  test/go.mod
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

Add github action to trigger container images build
  .github/workflows/build-images-action.yml
Due: gosec, gomod, unit, generate, manifestlint

improve hack/verify-release.sh draft release note handling
  hack/verify-release.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

Deleted label from debendabot
  .github/dependabot.yml
Due: gosec, gomod, unit, generate, manifestlint

removed ALL the labels
  .github/dependabot.yml
Due: gosec, gomod, unit, generate, manifestlint

Delete ok-to-test labels from dependabot
  .github/dependabot.yml
Due: gosec, gomod, unit, generate, manifestlint

bump markdownlint to 0.13.0
  hack/markdownlint.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

bump markdownlint to 0.13.0
  CONTRIBUTING.md
  hack/markdownlint.sh
Due: gosec, gomod, markdownlint, shellcheck, unit, generate, manifestlint

Fix ensure-minikube script to allow minikube versions greater than MINIMUM_MINIKUBE_VERSION
  hack/e2e/ensure_minikube.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

bump gosec to 2.18.2
  hack/gosec.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

sync cert-manager version with preloaded images
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
Due: gosec, gomod, unit, generate, manifestlint

Stop defaulting to MD5 for checksumType
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/baremetalhost_types_test.go
  config/crd/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  docs/api.md
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/provision_test.go
  pkg/provisioner/ironic/validatemanagementaccess_test.go
Due: gofmt, gosec, gomod, markdownlint, unit, generate, golint, manifestlint

DNM test checksum detection
  apis/metal3.io/v1alpha1/baremetalhost_types.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Enhanced Serial Log Checking Functionality
  hack/ci-e2e.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

Fix htpasswd command not found
  hack/ci-e2e.sh
  hack/e2e/ensure_htpasswd.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

test
  config/overlays/e2e/ironic.env
  hack/e2e/net.xml
  ironic-deployment/overlays/e2e/ironic_bmo_configmap.env
Due: gosec, gomod, unit, generate, manifestlint

add clomonitor badge to README
  README.md
Due: markdownlint

Add an explicit way to auto-detect ChecksumType
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/baremetalhost_types_test.go
  cmd/make-bm-worker/main.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  docs/api.md
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/provision_test.go
  pkg/provisioner/ironic/validatemanagementaccess_test.go
  test/e2e/basic_provisioning_test.go
Due: gofmt, gosec, gomod, markdownlint, unit, generate, golint, manifestlint

bump x/crypto to 0.17.0
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint

E2e Add SSH Key-Based Authentication
  hack/ci-e2e.sh
  test/e2e/basic_ops_test.go
  test/e2e/basic_provisioning_test.go
  test/e2e/common.go
  test/e2e/config/ironic.yaml
  test/e2e/external_inspection_test.go
  test/e2e/inspection_test.go
  test/e2e/live_iso_test.go
  test/e2e/re_inspection_test.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

Change the filename of basic_provisioning_test.go to provisioning_and_annotation_test.go
  test/e2e/provisioning_and_annotation_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add OpenSSF Scorecard badge to README
  README.md
Due: markdownlint

Tilt improved for easier baremetalhost creation
  Tiltfile
  docs/dev-setup.md
  hack/ci-e2e.sh
  tools/bmh_test/clean_local_bmh_test_setup.sh
  tools/bmh_test/create_bmh.sh
  tools/bmh_test/create_vm.sh
  tools/bmh_test/run_local_bmh_test_setup.sh
  tools/bmh_test/vm2vbmc.sh
Due: gosec, gomod, markdownlint, shellcheck, unit, generate, manifestlint

E2e: Name artifacts archive based on emulator
  hack/ci-e2e.sh
  test/e2e/config/ironic.yaml
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

Update vendor
  apis/vendor/github.com/google/uuid/CHANGELOG.md
  apis/vendor/github.com/google/uuid/time.go
  apis/vendor/github.com/google/uuid/uuid.go
  apis/vendor/github.com/google/uuid/version6.go
  apis/vendor/github.com/google/uuid/version7.go
  apis/vendor/modules.txt
  vendor/github.com/google/uuid/CHANGELOG.md
  vendor/github.com/google/uuid/time.go
  vendor/github.com/google/uuid/uuid.go
  vendor/github.com/google/uuid/version6.go
  vendor/github.com/google/uuid/version7.go
  vendor/github.com/metal3-io/baremetal-operator/apis/metal3.io/v1alpha1/baremetalhost_types.go
  vendor/modules.txt
Due: gofmt, gosec, gomod, markdownlint, unit, generate, golint, manifestlint

E2E: Have a common function to install BMO and Ironic
  test/e2e/common.go
  test/e2e/e2e_suite_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

bump go modules to sync
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint

bump golang to 1.20.12
  Dockerfile
  Makefile
  hack/e2e/ensure_go.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

fix previous release detection in make release-notes
  Makefile
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

Add golangci-lint github workflow
  .github/workflows/golangci-lint.yml
  .golangci.yaml
  .golangci.yml
Due: gosec, gomod, unit, generate, manifestlint

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: \.md$
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  golint: any of: \.go$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$
