Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: \.md$
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  golint: any of: \.go$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$

shellcheck: pin to 0.9.0
  hack/shellcheck.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

Add Lennart Jern as a reviewer
  OWNERS
Due: none

uplift x/net to 0.4.0
  apis/go.mod
  apis/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gosec, gomod, unit, generate, manifestlint

docs: Remove erroneous state transition
  docs/BaremetalHost_ProvisioningState.dot
  docs/BaremetalHost_ProvisioningState.png
Due: gosec, gomod, unit, generate, manifestlint

Refine the log data format from "1666158340.7038972" to "2022-10-19T05:45:40.674Z". The original format is badly readable. Refine the devLog flag.
  go.mod
  main.go
  pkg/provisioner/ironic/factory.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

manifestlint: move from kubeval to kubeconform
  hack/manifestlint.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

.github: secure github actions
  .github/workflows/kubesec.yml
  .github/workflows/release.yaml
Due: gosec, gomod, unit, generate, manifestlint

pin golang:1.19.4 with digest
  Dockerfile
Due: gosec, gomod, unit, generate, manifestlint

use docker.io consistently, and pin more checks
  hack/generate.sh
  hack/gofmt.sh
  hack/golint.sh
  hack/gomod.sh
  hack/gosec.sh
  hack/markdownlint.sh
  hack/unit.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

add explicit securitycontexts to controller
  Tiltfile
  config/manager/manager.yaml
  config/render/capm3.yaml
Due: gosec, gomod, unit, generate, manifestlint

Mention CustomDeploy in the API docs
  docs/api.md
Due: markdownlint

owners: add tuminoid to reviewers
  OWNERS
Due: none

Separate updating images from ValidateManagementAccess
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/raid.go
  pkg/provisioner/ironic/validatemanagementaccess_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

kubesec: update codeql-action to v2
  .github/workflows/kubesec.yml
Due: gosec, gomod, unit, generate, manifestlint

Separate mariadb component
  Makefile
  ironic-deployment/README.md
  ironic-deployment/base/ironic.yaml
  ironic-deployment/components/keepalived/ironic_bmo_configmap.env
  ironic-deployment/components/mariadb/certificate.yaml
  ironic-deployment/components/mariadb/kustomization.yaml
  ironic-deployment/components/mariadb/mariadb_patch.yaml
  ironic-deployment/components/tls/certificate.yaml
  ironic-deployment/components/tls/tls.yaml
  ironic-deployment/default/ironic_bmo_configmap.env
  ironic-deployment/default/kustomization.yaml
  ironic-deployment/overlays/basic-auth_tls_keepalived_mariadb/kustomization.yaml
  tools/deploy.sh
Due: gosec, gomod, markdownlint, shellcheck, unit, generate, manifestlint

WIP: Just a test
  README.md
Due: markdownlint

Update gophercloud to 1.2.0
  go.mod
  go.sum
  pkg/provisioner/ironic/delete_test.go
  pkg/provisioner/ironic/updatehardwarestate_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Set maintenance reason when turning maintenance on
  pkg/provisioner/ironic/delete_test.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/provision_test.go
  pkg/provisioner/ironic/testserver/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Accept http_proxy/https_proxy from env when `make docker`
  Makefile
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

[WIP] Restart agent if the PreprovisioningImage has changed
  pkg/provisioner/ironic/inspecthardware_test.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/validatemanagementaccess_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

bump kustomize to v4.5.7
  hack/tools/go.mod
  hack/tools/go.sum
Due: gosec, gomod, unit, generate, manifestlint

Bump Dockerfile golang image tag to v1.19.5
  Dockerfile
Due: gosec, gomod, unit, generate, manifestlint

hack: gomod needs to verify all go.mod files
  hack/gomod.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

Replace package "text" with "google/safetext"
  cmd/make-bm-worker/templates/templates.go
  cmd/make-virt-host/main.go
  go.mod
  go.sum
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

update user-guide url
  SECURITY_CONTACTS
Due: gosec, gomod, unit, generate, manifestlint

Add PreprovisioningImage documentation (closes #1009)
  docs/api.md
Due: markdownlint

Fix a minor typo in API document
  docs/api.md
Due: markdownlint

uplift golang and x/net
  Dockerfile
  apis/go.mod
  apis/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gosec, gomod, unit, generate, manifestlint

Remove upstream security contacts
  SECURITY_CONTACTS
Due: gosec, gomod, unit, generate, manifestlint

Remove upstream github templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: markdownlint

Always retry failed cleaning on deprovisioning (fixes #1182)
  controllers/metal3.io/host_state_machine.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/provision_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Do not abandon cleaning after 3 failures
  controllers/metal3.io/host_state_machine.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

allow namespace to continue with terminating when deprovisioning at the same time
  controllers/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Delay deprovision/delete when multiple finalizers exist
  controllers/metal3.io/host_state_machine.go
  controllers/metal3.io/host_state_machine_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Always use the info logger in registerHost
  controllers/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

remove old unnecessary OWNERS files
  config/OWNERS
  ironic-deployment/OWNERS
  resources/keepalived-docker/OWNERS
  tools/OWNERS
Due: none

Revert "Delay deprovision/delete when multiple finalizers exist"
  controllers/metal3.io/host_state_machine.go
  controllers/metal3.io/host_state_machine_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint
