Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/generate.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

golint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/golint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

fix the golang tag and sha to match golang:1.20.7
  Dockerfile
Due: gosec, gomod, unit, generate, manifestlint

fix issue with git safe repository protections
  hack/golint.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

improve release notes tool
  .gitignore
  hack/tools/release_notes.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

update releasing.md
  docs/releasing.md
Due: markdownlint

adopt manifests for kustomize v5
  config/basic-auth/default/kustomization.yaml
  config/basic-auth/tls/kustomization.yaml
  config/crd/kustomization.yaml
  config/default/kustomization.yaml
  config/kustomization.yaml
  config/tls/kustomization.yaml
  ironic-deployment/components/basic-auth/kustomization.yaml
  ironic-deployment/components/keepalived/kustomization.yaml
  ironic-deployment/components/mariadb/kustomization.yaml
  ironic-deployment/components/tls/kustomization.yaml
  ironic-deployment/overlays/basic-auth_tls/kustomization.yaml
Due: gosec, gomod, unit, generate, manifestlint

Proceed to power off after deprovisioning
  controllers/metal3.io/host_state_machine.go
  controllers/metal3.io/host_state_machine_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add PoweringOffBeforeDelete state to diagram
  docs/BaremetalHost_ProvisioningState.dot
  docs/BaremetalHost_ProvisioningState.png
Due: gosec, gomod, unit, generate, manifestlint

Stop using Inspector API for inspection status
  pkg/provisioner/ironic/inspecthardware_test.go
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Simplify diagram by removing fake deleting states
  docs/BaremetalHost_ProvisioningState.dot
  docs/BaremetalHost_ProvisioningState.png
Due: gosec, gomod, unit, generate, manifestlint

docs: Add line breaks to long diagram labels
  docs/BaremetalHost_ProvisioningState.dot
  docs/BaremetalHost_ProvisioningState.png
Due: gosec, gomod, unit, generate, manifestlint

Update gophercloud to 2.0 development branch
  go.mod
  go.sum
  pkg/provisioner/ironic/hardwaredetails/hardwaredetails.go
  pkg/provisioner/ironic/hardwaredetails/hardwaredetails_test.go
  pkg/provisioner/ironic/inspecthardware_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Use ironic inventory API instead of calling ironic-inspector
  cmd/get-hardware-details/main.go
  pkg/provisioner/ironic/clients/client.go
  pkg/provisioner/ironic/hardwaredetails/hardwaredetails.go
  pkg/provisioner/ironic/inspecthardware_test.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/testserver/inspector.go
  pkg/provisioner/ironic/testserver/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Remove any traces of inspector access
  pkg/provisioner/ironic/adopt_test.go
  pkg/provisioner/ironic/bios_test.go
  pkg/provisioner/ironic/clients/auth.go
  pkg/provisioner/ironic/clients/client.go
  pkg/provisioner/ironic/configdrive_test.go
  pkg/provisioner/ironic/delete_test.go
  pkg/provisioner/ironic/dependencies.go
  pkg/provisioner/ironic/factory.go
  pkg/provisioner/ironic/factory_test.go
  pkg/provisioner/ironic/findhost_test.go
  pkg/provisioner/ironic/inspecthardware_test.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/ironic_test.go
  pkg/provisioner/ironic/power_test.go
  pkg/provisioner/ironic/prepare_test.go
  pkg/provisioner/ironic/provision_test.go
  pkg/provisioner/ironic/provisioncapacity_test.go
  pkg/provisioner/ironic/ready_test.go
  pkg/provisioner/ironic/testserver/inspector.go
  pkg/provisioner/ironic/updatehardwarestate_test.go
  pkg/provisioner/ironic/updateopts_test.go
  pkg/provisioner/ironic/validatemanagementaccess_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Skip powering off for some states
  controllers/metal3.io/host_state_machine.go
  docs/BaremetalHost_ProvisioningState.dot
  docs/BaremetalHost_ProvisioningState.png
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Allow registerHost when powering off before delete
  controllers/metal3.io/host_state_machine.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

run dependabot less often
  .github/dependabot.yml
Due: gosec, gomod, unit, generate, manifestlint

Backward compatibility for get-hardware-details
  cmd/get-hardware-details/main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Gosec: Run submodules separately
  hack/gosec.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

fix typo in releasing.md
  docs/releasing.md
Due: markdownlint

Enable concurrency in BMO controllers
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/bmceventsubscription_controller.go
  controllers/metal3.io/hostfirmwaresettings_controller.go
  controllers/metal3.io/preprovisioningimage_controller.go
  main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fix releasing.md on annotated tags
  docs/releasing.md
Due: markdownlint

clarify tag usage in releasing.md
  docs/releasing.md
Due: markdownlint

Update the required API version
  docs/configuration.md
Due: markdownlint

Add e2e tests
  .gitignore
  .golangci.yml
  Makefile
  config/overlays/e2e/ironic.env
  config/overlays/e2e/kustomization.yaml
  config/overlays/fixture/kustomization.yaml
  docs/releasing.md
  hack/ci-e2e.sh
  hack/clean-e2e.sh
  hack/e2e/ensure_cmctl.sh
  hack/e2e/ensure_go.sh
  hack/e2e/ensure_kubectl.sh
  hack/e2e/ensure_minikube.sh
  hack/e2e/net.xml
  hack/gosec.sh
  ironic-deployment/overlays/e2e/ironic-patch.yaml
  ironic-deployment/overlays/e2e/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e/kustomization.yaml
  test/e2e/README.md
  test/e2e/common.go
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/inspection_test.go
  test/go.mod
  test/go.sum
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint

Explain the compatibility logic in get-hardware-details
  cmd/get-hardware-details/main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Added fuzzing target for bmo.
  .gitignore
  Makefile
  test/fuzz/README.md
  test/fuzz/baremetalhost_types_fuzzer.go
  test/fuzz/fuzzing.sh
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint

WIP: improve fuzzing
  .gitignore
  Makefile
  test/fuzz/README.md
  test/fuzz/baremetalhost_types_fuzzer.go
  test/fuzz/build.sh
  test/fuzz/fuzzing.sh
  test/fuzz/run.sh
  test/go.mod
  test/go.sum
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint

Add "empty" profile and officially deprecate hardware profiles
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/profile/profile.go
  config/crd/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

test-commit
  CONTRIBUTING.md
Due: markdownlint

Skip power off BMH if registration error OR no credentials
  controllers/metal3.io/host_state_machine.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Skip to delete if registration errors pile up
  controllers/metal3.io/host_state_machine.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add test trigger description for diffrerent branches
  README.md
Due: markdownlint

Add support and guarantees section
  CONTRIBUTING.md
Due: markdownlint

HostConfigData add PreprovisioningNetworkData
  controllers/metal3.io/host_config_data.go
  controllers/metal3.io/host_config_data_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Conditionally pass preprovisioningNetworkData to Ironic
  controllers/metal3.io/baremetalhost_controller.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add e2e external inspection test
  .gitignore
  hack/ci-e2e.sh
  hack/clean-e2e.sh
  test/e2e/common.go
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/external_inspection_test.go
  test/e2e/inspection_test.go
  test/go.mod
  test/go.sum
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

bump x/net to 0.17.0
  apis/go.mod
  apis/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gosec, gomod, unit, generate, manifestlint

Bump golang version to v1.20.10
  Dockerfile
  Makefile
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

Bump golang to v1.20.10
  Dockerfile
  Makefile
  hack/e2e/ensure_go.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: \.md$
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  golint: any of: \.go$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$
