Repository metal3-io/metal3-dev-env: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:stable
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:latest
      imagePullPolicy: Always

Update feature test README with proper test description
  scripts/feature_tests/README.md
Due: markdownlint

Add machine healthcheck to metal3-dev-env
  Makefile
  scripts/feature_tests/healthcheck/Makefile
  scripts/feature_tests/healthcheck/healthcheck.sh
  vm-setup/roles/v1aX_integration_test/tasks/healthcheck.yml
  vm-setup/roles/v1aX_integration_test/tasks/main.yml
  vm-setup/roles/v1aX_integration_test/templates/machine-healthcheck-controlplane.yaml
  vm-setup/roles/v1aX_integration_test/templates/machine-healthcheck-worker.yaml
  vm-setup/roles/v1aX_integration_test/vars/main.yml
Due: shellcheck

Add the new epel-next repository for CentOS Stream
  01_prepare_host.sh
Due: shellcheck

Remove v1a4 main job CI badges from Readme
  README.md
Due: markdownlint

Uplift kustomize v4.4.1
  lib/common.sh
Due: shellcheck

remove jan-est as an active reviewer
  OWNERS
  renovate.json
Due: none

Update machine remediation healthcheck test
  vm-setup/roles/v1aX_integration_test/tasks/healthcheck.yml
  vm-setup/roles/v1aX_integration_test/templates/machine-healthcheck-controlplane.yaml
  vm-setup/roles/v1aX_integration_test/templates/machine-healthcheck-worker.yaml
  vm-setup/roles/v1aX_integration_test/vars/main.yml
Due: none

Always chown the working dir to the current user
  lib/common.sh
Due: shellcheck

Fix chmod to run with sudo
  lib/common.sh
Due: shellcheck

Restructure EL packages for CentOS Stream 9
  vm-setup/roles/packages_installation/defaults/main.yml
  vm-setup/roles/packages_installation/tasks/main.yml
Due: none

Ensure working dir files are owned by the current user
  lib/common.sh
Due: shellcheck

Make IMAGE_OS value lower case
  README.md
  config_example.sh
  lib/images.sh
  scripts/feature_tests/README.md
  scripts/feature_tests/node_reuse/node_reuse_vars.sh
  scripts/feature_tests/upgrade/upgrade_vars.sh
  vars.md
  vm-setup/roles/v1aX_integration_test/tasks/cleanup.yml
  vm-setup/roles/v1aX_integration_test/vars/main.yml
Due: shellcheck, markdownlint

TEST
  README.md
Due: markdownlint

Uplift CAPM3 reference to v1.1.0
  lib/releases.sh
  scripts/feature_tests/upgrade/upgrade_vars.sh
  vm-setup/roles/v1aX_integration_test/vars/main.yml
Due: shellcheck

Make IMAGE_OS case sensitive again
  lib/images.sh
  scripts/feature_tests/node_reuse/node_reuse_vars.sh
  vm-setup/roles/v1aX_integration_test/tasks/cleanup.yml
  vm-setup/roles/v1aX_integration_test/tasks/generate_templates.yml
  vm-setup/roles/v1aX_integration_test/tasks/main.yml
  vm-setup/roles/v1aX_integration_test/templates/cluster-template-controlplane.yaml
  vm-setup/roles/v1aX_integration_test/templates/cluster-template-workers.yaml
Due: shellcheck

Disable support for no authentication for Ironic
  03_launch_mgmt_cluster.sh
  clouds.yaml.j2
  lib/common.sh
  lib/ironic_basic_auth.sh
  vars.md
  vm-setup/roles/v1aX_integration_test/tasks/move.yml
  vm-setup/roles/v1aX_integration_test/tasks/move_back.yml
  vm-setup/roles/v1aX_integration_test/vars/main.yml
Due: shellcheck, markdownlint

Use the new deploy.sh syntax
  03_launch_mgmt_cluster.sh
  vm-setup/roles/v1aX_integration_test/tasks/move.yml
  vm-setup/roles/v1aX_integration_test/tasks/move_back.yml
Due: shellcheck

For BMC_Driver set to mixed, configure extra workers using redfish
  vm-setup/roles/libvirt/templates/ironic_nodes.json.j2
Due: none

Remove temporary workaround of CAPM3RELEASE reference
  lib/releases.sh
Due: shellcheck

Downgrade k8s version
  lib/common.sh
  vm-setup/roles/v1aX_integration_test/vars/main.yml
Due: shellcheck

fix network interface command for centos
  lib/common.sh
  vm-setup/roles/v1aX_integration_test/templates/cluster-template-controlplane-kubeadm-config-centos.yaml
  vm-setup/roles/v1aX_integration_test/templates/cluster-template-workers-kubeadm-config-centos.yaml
  vm-setup/roles/v1aX_integration_test/vars/main.yml
Due: shellcheck

🐛 Fix BMO and Ironic image updates
  03_launch_mgmt_cluster.sh
  vm-setup/roles/v1aX_integration_test/tasks/move.yml
Due: shellcheck

Add test for booting from remove live-iso
  Makefile
  scripts/feature_tests/boot_iso/Makefile
  scripts/feature_tests/boot_iso/boot_iso.sh
  scripts/feature_tests/boot_iso/boot_iso_vars.sh
  vm-setup/roles/v1aX_integration_test/tasks/boot_iso.yml
  vm-setup/roles/v1aX_integration_test/tasks/main.yml
  vm-setup/roles/v1aX_integration_test/vars/main.yml
Due: shellcheck

allow kubectl caching after cluster creation
  vm-setup/roles/v1aX_integration_test/templates/cluster-template-controlplane-kubeadm-config-centos.yaml
  vm-setup/roles/v1aX_integration_test/templates/cluster-template-controlplane-kubeadm-config-ubuntu.yaml
Due: none

Update dependency kubernetes-sigs/kind to v0.12.0
  lib/common.sh
Due: shellcheck

Replace master branch reference with main
  02_configure_host.sh
  renovate.json
  scripts/feature_tests/healthcheck/Makefile
Due: shellcheck

Fix ubuntu feature tests trigger phrase in README
  scripts/feature_tests/README.md
Due: markdownlint

Remove ironic container workarounds in upgrade and pivoting tests
  vm-setup/roles/v1aX_integration_test/tasks/move.yml
  vm-setup/roles/v1aX_integration_test/tasks/upgrade.yml
Due: none

Add new healtcheck test notes to README
  scripts/feature_tests/README.md
Due: markdownlint

Update API version usage in upgrade test in notes
  scripts/feature_tests/README.md
Due: markdownlint

Test PR
  03_launch_mgmt_cluster.sh
  05_test.sh
  vm-setup/roles/v1aX_integration_test/vars/main.yml
Due: shellcheck

More test
  03_launch_mgmt_cluster.sh
Due: shellcheck

Test commit
  README.md
  vars.md
Due: markdownlint

Convert image os string to lowercase before proceeding
  lib/images.sh
Due: shellcheck

Update default minikube version to 1.25.2
  lib/common.sh
Due: shellcheck

Update dependency kubernetes/kubernetes to v1.23.5
  lib/common.sh
Due: shellcheck

Update dependency kubernetes.core to v2.3.0
  vm-setup/requirements.yml
Due: none

Update dependency ansible to v5
  lib/common.sh
Due: shellcheck

let Tilt handle image tag changing process.
  03_launch_mgmt_cluster.sh
Due: shellcheck

Ensure python3-libselinux is installed for centos/rhel
  vm-setup/roles/packages_installation/defaults/main.yml
Due: none

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: \.md$
