Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint

Path conditions:
  gofmt: (any of: \.go$) or (unless all of: (((^|/)OWNERS)|(\.md))$)
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  golint: (any of: \.go$) or (unless all of: (((^|/)OWNERS)|(\.md))$)
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$

E2E Upgrade: Add new tests for new BMO and Ironic releases, remove unsupported release-0.3
  config/overlays/e2e-release-0.6/ironic.env
  config/overlays/e2e-release-0.6/kustomization.yaml
  config/overlays/fixture-release-0.6/kustomization.yaml
  hack/ci-e2e.sh
  ironic-deployment/overlays/e2e-release-24.1/ironic-patch.yaml
  ironic-deployment/overlays/e2e-release-24.1/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-24.1/kustomization.yaml
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

Update ci triggers after migrating to prow jenkins operator
  README.md
Due: markdownlint

improve hack/verify-release.sh
  hack/verify-release.sh
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

add support for beta/rc releases in release notes
  .github/workflows/release.yaml
  Makefile
  hack/tools/release/notes.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

Update readme on release-1.7
  README.md
Due: markdownlint

Update to the latest Gophercloud
  go.mod
  go.sum
  pkg/provisioner/ironic/delete_test.go
  pkg/provisioner/ironic/inspecthardware_test.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/power_test.go
  pkg/provisioner/ironic/updatehardwarestate_test.go
  pkg/provisioner/ironic/validatemanagementaccess_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

use non-pointer fields in dataimage api to avoid initializing them
  apis/metal3.io/v1alpha1/dataimage_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/dataimage_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add paused annotation handling, fix node error and status update handling
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/dataimage_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fix dataimage status update issue, minor fixes
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/dataimage_controller.go
  pkg/provisioner/ironic/clients/features_test.go
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

update getDataImageStatus to isDataImageReady, handle errors properly, minor fixes
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/dataimage_controller.go
  controllers/metal3.io/host_state_machine_test.go
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

update getDataImageStatus on provisioner side and corresponding logic for BMH and DataImage controllers
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/dataimage_controller.go
  controllers/metal3.io/host_state_machine_test.go
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/clients/features.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

address review comments, use fmt.Errorf instead of errors.Wrap, update api definition
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/dataimage_controller.go
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add exponential backoff delay to dataImage error handling, update lastReconciled status field
  controllers/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add controller for dataimage api with dummy functionality for provisioner
  PROJECT
  config/base/rbac/dataimage_editor_role.yaml
  config/base/rbac/dataimage_viewer_role.yaml
  config/base/rbac/role.yaml
  config/render/capm3.yaml
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/dataimage_controller.go
  controllers/metal3.io/host_state_machine_test.go
  main.go
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

update function signatures, fix minor issues
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/dataimage_controller.go
  controllers/metal3.io/host_state_machine_test.go
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

remove extra logs, check ironic api version for dataImage, other fixes
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/dataimage_controller.go
  main.go
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add dataImage manifests
  config/base/kustomization.yaml
  config/crd/ocp/ocp_kustomization.yaml
  config/render/capm3.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Fix reporting errors from changeNodeProvisionState
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Fix Status logic for HostFirmwareComponents
  apis/metal3.io/v1alpha1/hostfirmwarecomponents_types.go
  config/base/crds/bases/metal3.io_hostfirmwarecomponents.yaml
  config/render/capm3.yaml
  controllers/metal3.io/hostfirmwarecomponents_controller.go
  controllers/metal3.io/hostfirmwarecomponents_test.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

bump golang to 1.21.9, and some modules
  Dockerfile
  Makefile
  apis/go.mod
  apis/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

Bump minikube to v1.33.0
  hack/e2e/ensure_minikube.sh
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

PreprovisioningImage should not be created on poweroff
  controllers/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Vendor - Upstream Sync Apr 29
  vendor/github.com/gophercloud/gophercloud/v2/errors.go
  vendor/github.com/gophercloud/gophercloud/v2/openstack/baremetal/v1/nodes/requests.go
  vendor/github.com/gophercloud/gophercloud/v2/openstack/baremetal/v1/nodes/results.go
  vendor/github.com/gophercloud/gophercloud/v2/provider_client.go
  vendor/github.com/metal3-io/baremetal-operator/apis/metal3.io/v1alpha1/hostfirmwarecomponents_types.go
  vendor/github.com/onsi/gomega/CHANGELOG.md
  vendor/github.com/onsi/gomega/gomega_dsl.go
  vendor/github.com/onsi/gomega/matchers.go
  vendor/github.com/onsi/gomega/matchers/receive_matcher.go
  vendor/modules.txt
Due: gofmt, gosec, gomod, markdownlint, unit, generate, golint, manifestlint

chore(deps): bump kube-rbac-proxy to v0.16.0
  config/base/manager_auth_proxy_patch.yaml
  config/render/capm3.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Demote frequent routine logging messages to debug level
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/hostfirmwarecomponents_controller.go
  controllers/metal3.io/hostfirmwaresettings_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Pin ironic image release-24.1
  ironic-deployment/base/ironic.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Refactoring: introduce capabilities.go
  pkg/provisioner/ironic/capabilities.go
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Enabled last batch of linters
  .golangci.yaml
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  cmd/make-virt-host/main.go
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/baremetalhost_controller_test.go
  controllers/metal3.io/bmceventsubscription_controller.go
  controllers/metal3.io/bmceventsubscription_controller_test.go
  controllers/metal3.io/controller_test.go
  controllers/metal3.io/demo_test.go
  controllers/metal3.io/host_config_data_test.go
  controllers/metal3.io/host_state_machine.go
  controllers/metal3.io/host_state_machine_test.go
  controllers/metal3.io/hostfirmwarecomponents_test.go
  controllers/metal3.io/hostfirmwaresettings_test.go
  main_test.go
  pkg/hardwareutils/bmc/ilo4.go
  pkg/hardwareutils/bmc/ilo5.go
  pkg/hardwareutils/bmc/irmc.go
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/dependencies.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/raid.go
  pkg/provisioner/ironic/testbmc/testbmc.go
  pkg/provisioner/ironic/testserver/ironic.go
  test/e2e/cert_manager.go
  test/e2e/common.go
  test/e2e/e2e_suite_test.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Remove hardware profile from the print columns
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Provisioner code for servicing
  controllers/metal3.io/host_state_machine_test.go
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/clients/features.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/servicing.go
  pkg/provisioner/ironic/servicing_test.go
  pkg/provisioner/ironic/testserver/ironic.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Bump Kustomize version v4->v5
  hack/tools/go.mod
  hack/tools/go.sum
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Wire in servicing (updating provisioned hosts)
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/baremetalhost_controller_test.go
  pkg/provisioner/fixture/fixture.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Refactoring: introduce inspecthardware.go
  pkg/provisioner/ironic/inspecthardware.go
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

bump gophercloud to v2.0.0-beta.5
  go.mod
  go.sum
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add Golang-based deploy-cli which handles bmo and ironic deployments
  Makefile
  config/README.md
  ironic-deployment/README.md
  tools/deploy-cli/deploy-cli.go
  tools/deploy-cli/go.mod
  tools/deploy-cli/go.sum
  tools/deploy-cli/main.go
  tools/deploy-cli/templates/bmo-kustomize.tpl
  tools/deploy-cli/templates/ironic-kustomize.tpl
  tools/deploy-cli/templates/ironic_bmo_configmap_env.tpl
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint

set webhook min TLS version to 1.3
  main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint
