Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, golint, govet, markdownlint, shellcheck, generate, unit, manifestlint

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

golint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/golint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

govet:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/govet.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:latest
      imagePullPolicy: Always

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:stable
      imagePullPolicy: Always

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/codegen.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/garethr/kubeval:latest
      imagePullPolicy: Always

Add CAPI v1.2 contract to e2e metadata file
  test/e2e/data/shared/v1beta1/metadata.yaml
Due: gofmt, golint, govet, generate, unit, manifestlint

Fetch CAPI v1.2 for tilt settings
  hack/gen_tilt_settings.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

E2e: List machines/M3Ms/BMHs in the logs
  test/e2e/common.go
  test/e2e/live_iso_test.go
  test/e2e/node_reuse_test.go
  test/e2e/pivoting_based_feature_test.go
  test/e2e/pivoting_test.go
  test/e2e/remediation_based_feature_test.go
  test/e2e/remediation_test.go
  test/e2e/upgrade_management_cluster_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

E2e: Refactor common code
  test/e2e/common.go
  test/e2e/e2e_suite_test.go
  test/e2e/inspection_test.go
  test/e2e/live_iso_test.go
  test/e2e/node_reuse_test.go
  test/e2e/pivoting_based_feature_test.go
  test/e2e/pivoting_test.go
  test/e2e/remediation_test.go
  test/e2e/upgrade_management_cluster_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Fix missing metadata contract for infrastructure-metal3
  test/e2e/data/infrastructure-metal3/v1beta1/metadata.yaml
Due: gofmt, golint, govet, generate, unit, manifestlint

Add release-1.2 in clusterctl settings
  clusterctl-settings.json
Due: gofmt, golint, govet, generate, unit, manifestlint

Fix nil panic when setting unhealthy annotation on host
  baremetal/metal3remediation_manager.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Install CNI with ClusterResourceSet
  scripts/environment.sh
  test/e2e/data/infrastructure-metal3/bases/cluster/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-metal3/bases/cluster/crs.yaml
  test/e2e/data/infrastructure-metal3/bases/cluster/kustomization.yaml
  test/e2e/pivoting_based_feature_test.go
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Use new installation method for BMO and Ironic
  test/e2e/config/e2e_conf.yaml
  test/e2e/pivoting_test.go
  test/e2e/upgrade_management_cluster_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

TEMP: Test with metal3-dev-env PR
  scripts/ci-e2e.sh
  test/e2e/cert_rotation_test.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/pivoting_test.go
  test/e2e/upgrade_baremetal_operator_test.go
  test/e2e/upgrade_ironic_test.go
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Parameterize api version for ClusterResourceSet
  test/e2e/data/infrastructure-metal3/bases/cluster/crs.yaml
  test/e2e/upgrade_management_cluster_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Bump golang to 1.19
  .github/workflows/release.yaml
  .golangci.yaml
  Dockerfile
  Tiltfile
  api/go.mod
  api/go.sum
  api/v1alpha5/conversion.go
  controllers/metal3cluster_controller_integration_test.go
  controllers/metal3cluster_controller_test.go
  docs/architecture.md
  go.mod
  go.sum
  hack/codegen.sh
  hack/ensure-golangci-lint.sh
  hack/gofmt.sh
  hack/govet.sh
  hack/tools/go.mod
  hack/tools/go.sum
  hack/unit.sh
Due: gofmt, golint, govet, markdownlint, shellcheck, generate, unit, manifestlint

Fix kustomize installation for darwin and golint
  hack/ensure-kustomize.sh
  test/e2e/common.go
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Bump gomodules to match with CAPI
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Bump CAPI to main branch go modules
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Cleanup release-0.5 e2e trigger notes from root README.md
  README.md
Due: markdownlint

golangci and logsv1 related changes
  .golangci.yaml
  baremetal/remote/remote_test.go
  go.mod
  go.sum
  main.go
Due: gofmt, golint, govet, generate, unit, manifestlint

optimize ip allocation
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

E2e: fix upgrade, don't print cluster template
  test/e2e/upgrade_management_cluster_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

E2e: Don't print CRs in target cluster when running ephemeral test
  test/e2e/pivoting_based_feature_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

uplift capi to v1.2.3
  README.md
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: gofmt, golint, govet, markdownlint, generate, unit, manifestlint

Bump golang to v1.18 and related changes
  .github/workflows/release.yaml
  .golangci.yaml
  Dockerfile
  Tiltfile
  api/go.mod
  api/go.sum
  docs/architecture.md
  go.mod
  go.sum
  hack/codegen.sh
  hack/ensure-golangci-lint.sh
  hack/gofmt.sh
  hack/gomod.sh
  hack/govet.sh
  hack/tools/go.mod
  hack/tools/go.sum
  hack/unit.sh
  test/e2e/common.go
Due: gofmt, golint, govet, markdownlint, shellcheck, generate, unit, manifestlint

Dump target cluster resources
  test/e2e/pivoting_based_feature_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

use setup-envtest to download envtest binaries
  Makefile
  hack/fetch_ext_bins.sh
  hack/tools/go.mod
  hack/tools/go.sum
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Reuse capi clusterctl_upgrade test
  scripts/ci-e2e.sh
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/upgrade_management_cluster_test.go
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

bump k8s version used by envtest to 1.25.x
  Makefile
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Fix overriding OS env var from makeFile
  Makefile
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

test
  test/e2e/pivoting_based_feature_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

remove failFast and inject failure after pivoting
  Makefile
  test/e2e/pivoting_based_feature_test.go
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

steps
  Makefile
  test/e2e/common.go
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

test
  Makefile
  test/e2e/common.go
  test/e2e/pivoting_based_feature_test.go
  test/e2e/pivoting_test.go
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Bump k8s version v1.25.2, cert-manager v1.9.1, calico v3.24.1
  Tiltfile
  docs/api.md
  docs/architecture.md
  docs/dev-setup.md
  examples/generate.sh
  hack/gen_tilt_settings.sh
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/pivoting_based_feature_test.go
Due: gofmt, golint, govet, markdownlint, shellcheck, generate, unit, manifestlint

Uplift capi to v1.2.4
  README.md
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: gofmt, golint, govet, markdownlint, generate, unit, manifestlint

Uplift go modules to fix CVEs
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Fix Kubebuilder Assets export (source is not working in darwin)
  Makefile
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Add Precleaning hook to e2e upgrade test
  test/e2e/pivoting_test.go
  test/e2e/upgrade_management_cluster_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Path conditions:
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  golint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: \.md$
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$
