Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

golangci-lint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/ensure-golangci-lint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

govet:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/govet.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/codegen.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

build:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/build.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

Delete child resources before machine
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_test.go
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Uplift Ubuntu to 24.04
  docs/api.md
  examples/generate.sh
  scripts/environment.sh
  test/e2e/common.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build

Uplift Ubuntu to 24.04
  docs/api.md
  examples/generate.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint

🌱 Bump CAPI to v1.11.1
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  scripts/ci-e2e.sh
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

🌱 Bump CAPI to v1.10.6
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test

Add openSUSE Leap 15.6 support to e2e tests
  Makefile
  scripts/environment.sh
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/infrastructure-metal3/main/bases/opensuse-leap-kubeadm-config/kustomization.yaml
  test/e2e/data/infrastructure-metal3/main/bases/opensuse-leap-kubeadm-config/opensuse-leap-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/main/cluster-template-opensuse-leap/kustomization.yaml
  test/e2e/e2e_suite_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Add v1beta2 conditions for metal3Cluster
  .golangci.yaml
  api/v1beta1/metal3cluster_types.go
  api/v1beta1/zz_generated.deepcopy.go
  baremetal/metal3cluster_manager.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3clusters.yaml
  controllers/metal3cluster_controller.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Bump IPAM to v1.11.0-rc.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/e2e/config/e2e_conf.yaml
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

:seedling: Bump BMO to v0.11.0-rc.0
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Delete child resources before machine
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

:rocket: Release v1.11.0-rc.0
  releasenotes/v1.11.0-rc.0.md
Due: markdownlint

Enable using CAPI's nightly builds
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

test with dev-env's nightly builds branch
  scripts/ci-e2e.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

Try Cilium CNI
  go.mod
  go.sum
  test/e2e/config/e2e_conf.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/helm_helper.go
  test/e2e/yaml.go
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

✨ Retrieve gateway from CAPI IPAM IP claims
  api/v1beta1/metal3datatemplate_types.go
  api/v1beta1/zz_generated.deepcopy.go
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datatemplates.yaml
  docs/api.md
  examples/controlplane/controlplane.yaml
  examples/machinedeployment/machinedeployment.yaml
  examples/templates/cluster.yaml
  test/e2e/data/infrastructure-metal3/main/bases/cluster-with-topology/cluster-with-topology.yaml
  test/e2e/data/infrastructure-metal3/main/bases/cluster/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-metal3/main/bases/cluster/md.yaml
  test/e2e/data/infrastructure-metal3/main/bases/clusterclass-cluster/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-metal3/main/bases/clusterclass-cluster/md.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint, build

:seedling: Bump IPAM v1.10.2 and BMO to v0.10.3
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/e2e/config/e2e_conf.yaml
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

:seedling: Bump IPAM to v1.9.6 and BMO to v0.9.3
  api/go.mod
  api/go.sum
  config/ipam/image_patch.yaml
  config/ipam/kustomization.yaml
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test

test revert redfish SSL support to test scalability tests
  examples/templates/clusterclass.yaml
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/infrastructure-metal3/main/bases/clusterclass/clusterclass.yaml
  test/e2e/data/infrastructure-metal3/main/clusterclass-metal3/clusterclass-metal3.yaml
  test/e2e/scalability_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

:rocket: Release v1.10.2
  releasenotes/v1.10.2.md
Due: markdownlint

:rocket: Release v1.9.5
  releasenotes/v1.9.5.md
Due: markdownlint

Add Alpha release in release documentation
  docs/releasing.md
Due: markdownlint

PR to test delete flow possibly broken in 1.10.2
  baremetal/metal3machine_manager.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Enable using CAPI's nightly builds
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/shared/capi/v1.12/metadata.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Add v1beta2 conditions for metal3Cluster
  .golangci.yaml
  api/v1beta1/metal3cluster_types.go
  api/v1beta1/zz_generated.deepcopy.go
  baremetal/metal3cluster_manager.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3clusters.yaml
  controllers/metal3cluster_controller.go
  controllers/metal3cluster_controller_integration_test.go
  controllers/suite_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Add failureDomain Support
  api/v1beta1/metal3cluster_types.go
  api/v1beta1/metal3machine_types.go
  api/v1beta1/zz_generated.deepcopy.go
  baremetal/metal3machine_manager.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3clusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3clustertemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machinetemplates.yaml
  controllers/metal3cluster_controller.go
  controllers/metal3machine_controller.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

✨ Retrieve gateway from CAPI IPAM IP claims
  api/v1beta1/metal3datatemplate_types.go
  api/v1beta1/zz_generated.deepcopy.go
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datatemplates.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

✨ Do not watch IPClaims when not available
  controllers/metal3data_controller.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

WIP test 1.11 CI initial config
  testfile
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

add release-1.11 dependabot config
  .github/dependabot.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Use IRSO in e2e tests
  scripts/ci-e2e.sh
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/ironic-standalone-operator/ironic/base/ironic.yaml
  test/e2e/data/ironic-standalone-operator/ironic/base/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/release-26.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/release-27.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/release-29.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/release-main/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/kustomization.yaml
  test/e2e/pivoting.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

correct metadata.yaml release-1.11 contract
  metadata.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

fix release-1.11 contract in metadata yaml
  metadata.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Try Cilium CNI
  go.mod
  go.sum
  test/e2e/config/e2e_conf.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/helm_helper.go
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

:seedling: Bump golang to v1.24.7
  Dockerfile
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

seedling: Bump golang to v1.24.7
  Dockerfile
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Path conditions:
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  unit: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  build: any of: ^api|^test|^Makefile$
  test: any of: ^(Makefile|hack/.*)$
