Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, golint, govet, markdownlint, shellcheck, generate, unit, manifestlint

Path conditions:
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  golint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: \.md$
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$

Don't apply provider/bmo import unifying in code comments
  baremetal/metal3remediation_manager.go
  controllers/metal3labelsync_controller.go
  controllers/metal3machine_controller_integration_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Use patch instead of update to set node providerID
  baremetal/metal3machine_manager.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Add unit test for node reuse part of Delete function
  baremetal/metal3machine_manager_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

fix choose host function unit test
  baremetal/metal3machine_manager_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Add judgment before output log
  baremetal/metal3machine_manager.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Increase judgment to avoid panic
  baremetal/metal3machine_manager.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Fix an outdated link in dev-setup.md
  docs/dev-setup.md
Due: markdownlint

Add url validation to the subfield of image
  api/v1beta1/metal3machine_types.go
  api/v1beta1/metal3machine_types_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

metal3machine_controller_integration_test: fix Image.Checksum and Image.URL to validate URl
  controllers/metal3machine_controller_integration_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Add UT to renderNetworkServices
  baremetal/metal3data_manager_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Modify the error message in createSecrets
  baremetal/metal3data_manager.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Fix nil point error in metal3remediation_manager
  baremetal/metal3remediation_manager.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Add test case to TestGetRemediationType
  baremetal/metal3remediation_manager_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

🌱 Rearrange e2e upgrade tests
  scripts/environment.sh
  test/e2e/e2e_test.go
  test/e2e/upgrade_management_cluster_test.go
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Update cert-manager to v1.7.2
  Tiltfile
  examples/generate.sh
  hack/gen_tilt_settings.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Add test case to descendantsTestCases
  baremetal/metal3cluster_manager_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Improve e2e tests structure
  Makefile
  docs/e2e-test.md
  test/e2e/common.go
  test/e2e/e2e_test.go
  test/e2e/pivoting_based_feature_tests.go
  test/e2e/remediation_feature_test.go
  test/e2e/remediation_test.go
  test/e2e/upgrade_management_cluster_test.go
Due: gofmt, golint, govet, markdownlint, shellcheck, generate, unit, manifestlint

metal3machine_manager: Add an error return to Delete
  baremetal/metal3machine_manager.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Add CentOS 9 in e2e test scripts
  scripts/environment.sh
  test/e2e/node_reuse_test.go
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

add centos 9 support for v0.5 e2e test
  hack/e2e/environment.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Define ObjectMeta `metav1.ObjectMeta` at Test case level
  baremetal/metal3data_manager_test.go
  baremetal/metal3datatemplate_manager_test.go
  baremetal/metal3machine_manager_test.go
  baremetal/metal3machinetemplate_manager_test.go
  baremetal/metal3remediation_manager_test.go
  baremetal/suite_test.go
  baremetal/utils_test.go
  controllers/metal3data_controller_test.go
  controllers/metal3datatemplate_controller_test.go
  controllers/metal3labelsync_controller_test.go
  controllers/metal3machine_controller_integration_test.go
  controllers/suite_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Define ObjectMeta metav1.ObjectMeta at Test case level for baremetal package tests
  baremetal/metal3data_manager_test.go
  baremetal/metal3datatemplate_manager_test.go
  baremetal/suite_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Define ObjectMeta `metav1.ObjectMeta` at Test case level
  controllers/metal3data_controller_test.go
  controllers/metal3datatemplate_controller_test.go
  controllers/metal3labelsync_controller_test.go
  controllers/metal3machine_controller_integration_test.go
  controllers/suite_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Parameterize hard coded object names
  baremetal/metal3machine_manager_test.go
  baremetal/metal3remediation_manager_test.go
  baremetal/suite_test.go
  controllers/metal3machine_controller_integration_test.go
  controllers/suite_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

add centos 9 support for v0.5 e2e test
  hack/e2e/environment.sh
  test/e2e/node_reuse_test.go
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Define ObjectMeta metav1.ObjectMeta at Test case level for baremetal package tests
  baremetal/metal3data_manager_test.go
  baremetal/metal3datatemplate_manager_test.go
  baremetal/suite_test.go
  controllers/suite_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Parameterize hard coded object/resource names in tests
  baremetal/metal3datatemplate_manager_test.go
  baremetal/suite_test.go
  baremetal/utils_test.go
  controllers/metal3data_controller_test.go
  controllers/metal3datatemplate_controller_test.go
  controllers/metal3labelsync_controller_test.go
  controllers/metal3machine_controller_integration_test.go
  controllers/metal3machine_controller_test.go
  controllers/metal3machinetemplate_controller_test.go
  controllers/suite_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

refactor providerID duplicate checks
  baremetal/metal3machine_manager.go
Due: gofmt, golint, govet, generate, unit, manifestlint

fix ControlPlaneEndpoint in metal3cluster_manager
  baremetal/metal3cluster_manager.go
Due: gofmt, golint, govet, generate, unit, manifestlint

fix UpdateClusterStatus test case
  baremetal/metal3cluster_manager_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

e2e conf parameterization
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Fix test file name
  test/e2e/pivoting_based_feature_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

set providerID from nodes when noCloudProvider is set to false
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  baremetal/mocks/zz_generated.metal3machine_manager.go
  baremetal/suite_test.go
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_integration_test.go
  controllers/metal3machine_controller_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

WIP: Debug machine failed state
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  controllers/metal3machine_controller.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Change hard coded object names and uuids
  baremetal/metal3data_manager_test.go
  baremetal/metal3datatemplate_manager_test.go
  baremetal/metal3machine_manager_test.go
  baremetal/metal3remediation_manager_test.go
  baremetal/suite_test.go
  baremetal/utils_test.go
  controllers/metal3data_controller_test.go
  controllers/metal3datatemplate_controller_test.go
  controllers/metal3labelsync_controller_test.go
  controllers/metal3machine_controller_integration_test.go
  controllers/metal3machinetemplate_controller_test.go
  controllers/suite_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Introduce Ubuntu 22.04 related changes
  docs/api.md
  examples/generate.sh
  scripts/environment.sh
  test/e2e/node_reuse_test.go
Due: gofmt, golint, govet, markdownlint, shellcheck, generate, unit, manifestlint

Introduce Ubuntu 22.04 related changes
  docs/api.md
  examples/generate.sh
  hack/e2e/environment.sh
  test/e2e/node_reuse_test.go
Due: gofmt, golint, govet, markdownlint, shellcheck, generate, unit, manifestlint

debug
  test/e2e/common.go
  test/e2e/pivoting_based_feature_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Uplift k8s version to 1.23.5 for v1a5
  Tiltfile
  docs/api.md
  docs/dev-setup.md
  examples/generate.sh
  hack/fetch_ext_bins.sh
  hack/gen_tilt_settings.sh
Due: gofmt, golint, govet, markdownlint, shellcheck, generate, unit, manifestlint
