Repository metal3-io/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: check-prow-config, markdownlint, shellcheck, spellcheck

Path conditions:
  check-prow-config: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: any of: (\.md|markdownlint\.sh)$
  shellcheck: any of: ((\.sh)|^Makefile)$
  spellcheck: any of: (\.md|spellcheck\.sh|.cspell-config.json)$

Refactor BML scripts after moving pro host to jenkins worker
  jenkins/jobs/bml_integration_tests.pipeline
  jenkins/scripts/bare_metal_lab/bml_cleanup.sh
  jenkins/scripts/bare_metal_lab/bml_integration_test.sh
  jenkins/scripts/bare_metal_lab/run_integration_tests.sh
  jenkins/scripts/dynamic_worker_workflow/dev_env_integration_tests.sh
  jenkins/scripts/dynamic_worker_workflow/e2e_tests.sh
  jenkins/scripts/dynamic_worker_workflow/fetch_logs.sh
  jenkins/scripts/fetch_logs.sh
  jenkins/scripts/files/run_clean.sh
  jenkins/scripts/files/run_fetch_logs.sh
  jenkins/scripts/integration_delete.sh
  jenkins/scripts/integration_test_env.sh
  jenkins/scripts/utils.sh
Due: check-prow-config, shellcheck

Bumping k8s-prow images and test-infra images
  prow/Makefile
  prow/config/config.yaml
  prow/config/jobs/metal3-io/project-infra.yaml
  prow/config/jobs/periodics.yaml
  prow/manifests/base/crier.yaml
  prow/manifests/base/deck.yaml
  prow/manifests/base/ghproxy.yaml
  prow/manifests/base/hook.yaml
  prow/manifests/base/horologium.yaml
  prow/manifests/base/prow-controller-manager.yaml
  prow/manifests/base/sinker.yaml
  prow/manifests/base/statusreconciler.yaml
  prow/manifests/base/tide.yaml
  prow/manifests/overlays/metal3/external-plugins/cherrypicker_deployment.yaml
  prow/manifests/overlays/metal3/external-plugins/jenkins-operator.yaml
  prow/manifests/overlays/metal3/external-plugins/needs-rebase_deployment.yaml
Due: check-prow-config

Update K8s version in Metal3 upgrade jobs
  prow/config/jobs/metal3-io/baremetal-operator-release-0.10.yaml
  prow/config/jobs/metal3-io/baremetal-operator-release-0.9.yaml
  prow/config/jobs/metal3-io/baremetal-operator.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.10.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.9.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.10.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.9.yaml
  prow/config/jobs/metal3-io/ip-address-manager.yaml
Due: check-prow-config

Fix log fetching and lingering dnsmasq processes in bml
  jenkins/jobs/bml_integration_tests.pipeline
  jenkins/scripts/bare_metal_lab/tasks/cleanup-tasks.yaml
  jenkins/scripts/fetch_logs.sh
Due: check-prow-config, shellcheck

Remove release-1.7
  jenkins/README.md
  prow/config/jobs/metal3-io/baremetal-operator-release-0.6.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.7.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.7.yaml
  prow/config/jobs/metal3-io/ironic-image-release-24.1.yaml
  prow/config/jobs/metal3-io/ironic-image-release-25.0.yaml
  prow/config/jobs/metal3-io/ironic-image-release-28.0.yaml
  prow/config/jobs/metal3-io/ironic-image-release-29.0.yaml
  prow/config/jobs/metal3-io/ironic-ipa-downloader.yaml
  prow/config/jobs/metal3-io/mariadb-image.yaml
  prow/config/jobs/metal3-io/metal3-dev-env.yaml
  prow/config/jobs/metal3-io/project-infra.yaml
  prow/config/plugins.yaml
Due: check-prow-config, markdownlint, spellcheck

Add broken link check: scheduled and pr
  .github/workflows/pr-link-check.yml
  .github/workflows/scheduled-link-check.yml
  .lycheeignore
  jenkins/README.md
  jenkins/scripts/bare_metal_lab/README.md
  prow/README.md
Due: check-prow-config, markdownlint, spellcheck

Add release-1.10 triggers to other repos
  jenkins/README.md
  prow/config/jobs/metal3-io/ironic-image-release-28.0.yaml
  prow/config/jobs/metal3-io/ironic-ipa-downloader.yaml
  prow/config/jobs/metal3-io/mariadb-image.yaml
  prow/config/jobs/metal3-io/metal3-dev-env.yaml
  prow/config/plugins.yaml
Due: check-prow-config, markdownlint, spellcheck

bump basic-checks image to 1.23.8
  prow/container-images/basic-checks/Dockerfile
Due: check-prow-config

centos e2e is not supposed to be required in 1.10 branch
  prow/config/jobs/metal3-io/ip-address-manager-release-1.10.yaml
Due: check-prow-config

Adding 1.10 tests for metal3-dev-env and 1.9,1.10 for project-infra
  prow/config/jobs/metal3-io/metal3-dev-env.yaml
  prow/config/jobs/metal3-io/project-infra.yaml
Due: check-prow-config

Fix CI image upload
  jenkins/jobs/image_building.pipeline
Due: check-prow-config

Fix ansible task error caused by lingering dnsmasq ansible task
  jenkins/scripts/bare_metal_lab/tasks/cleanup-tasks.yaml
Due: check-prow-config

Refactor BML scripts after moving pro host to jenkins worker
  jenkins/jobs/bml_integration_tests.pipeline
  jenkins/scripts/bare_metal_lab/bml_cleanup.sh
  jenkins/scripts/bare_metal_lab/bml_integration_test.sh
  jenkins/scripts/bare_metal_lab/run_integration_tests.sh
  jenkins/scripts/dynamic_worker_workflow/dev_env_integration_tests.sh
  jenkins/scripts/dynamic_worker_workflow/e2e_tests.sh
  jenkins/scripts/dynamic_worker_workflow/fetch_logs.sh
  jenkins/scripts/files/run_clean.sh
  jenkins/scripts/files/run_fetch_logs.sh
  jenkins/scripts/integration_delete.sh
  jenkins/scripts/integration_test_env.sh
  jenkins/scripts/utils.sh
Due: check-prow-config, shellcheck

Prow: Bump CAPI components
  prow/capi/bootstrap.yaml
  prow/capi/control-plane.yaml
  prow/capi/core.yaml
  prow/capi/infrastructure.yaml
  prow/capi/kustomization.yaml
Due: check-prow-config

Fix how Github token is used in link checks
  .github/workflows/pr-link-check.yml
  .github/workflows/scheduled-link-check.yml
Due: check-prow-config

Set upstream to PR link check
  .github/workflows/pr-link-check.yml
Due: check-prow-config

Fix input in PR-link-check
  .github/workflows/pr-link-check.yml
Due: check-prow-config

Fix ansible task error caused by lingering dnsmasq ansible task
  jenkins/scripts/bare_metal_lab/tasks/cleanup-tasks.yaml
  jenkins/scripts/bare_metal_lab/tasks/deploy-tasks.yaml
Due: check-prow-config

Tweak PR link check args
  .github/workflows/pr-link-check.yml
Due: check-prow-config

add org.opencontainers.image.version label
  .github/workflows/container-image-build.yml
Due: check-prow-config

Bump CAPM3 prow jobs to use go v1.24
  prow/config/jobs/metal3-io/cluster-api-provider-metal3.yaml
Due: check-prow-config

bump basic-checks image to golang:1.24.3
  .github/workflows/build-images-action.yml
  prow/container-images/basic-checks/Dockerfile
Due: check-prow-config

fix container tags for main
  .github/workflows/container-image-build.yml
Due: check-prow-config

remove keeplavide local build from bmo e2e
  jenkins/scripts/dynamic_worker_workflow/test_env.sh
  jenkins/scripts/integration_test_env.sh
Due: check-prow-config, shellcheck

Bump CAPM3 release branch prow jobs to use go v1.24
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.10.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.9.yaml
Due: check-prow-config

Bump IPAM prow jobs to use go v1.24
  prow/config/jobs/metal3-io/ip-address-manager-release-1.10.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.9.yaml
  prow/config/jobs/metal3-io/ip-address-manager.yaml
Due: check-prow-config

Bump BMO prow jobs to use go v1.24
  prow/config/jobs/metal3-io/baremetal-operator-release-0.10.yaml
  prow/config/jobs/metal3-io/baremetal-operator-release-0.9.yaml
  prow/config/jobs/metal3-io/baremetal-operator.yaml
Due: check-prow-config

Remove CAPM3 v1a5 checks from e2e script
  jenkins/scripts/dynamic_worker_workflow/e2e_tests.sh
Due: check-prow-config, shellcheck

Revert "Prow: Require manually triggered jobs"
  prow/config/config.yaml
Due: check-prow-config

Use nordix artifactory proxy to download IPA
  jenkins/scripts/dynamic_worker_workflow/test_env.sh
  jenkins/scripts/integration_test_env.sh
Due: check-prow-config, shellcheck

Refactor BML scripts after moving pro host to jenkins worker
  jenkins/jobs/bml_integration_tests.pipeline
  jenkins/scripts/bare_metal_lab/bml_cleanup.sh
  jenkins/scripts/bare_metal_lab/bml_integration_test.sh
  jenkins/scripts/bare_metal_lab/run_integration_tests.sh
  jenkins/scripts/dynamic_worker_workflow/dev_env_integration_tests.sh
  jenkins/scripts/dynamic_worker_workflow/e2e_tests.sh
  jenkins/scripts/dynamic_worker_workflow/fetch_logs.sh
  jenkins/scripts/dynamic_worker_workflow/test_env.sh
  jenkins/scripts/files/run_clean.sh
  jenkins/scripts/files/run_fetch_logs.sh
  jenkins/scripts/integration_delete.sh
  jenkins/scripts/integration_test_env.sh
  jenkins/scripts/utils.sh
Due: check-prow-config, shellcheck

run cleaning lingering dnsmaq processes with root
  jenkins/scripts/bare_metal_lab/tasks/cleanup-tasks.yaml
Due: check-prow-config

BML test PR for ceph rook
  jenkins/scripts/bml_cleanup.sh
Due: check-prow-config, shellcheck

Add setup for k8s conformance tests
  jenkins/jobs/capm3-e2e-tests.pipeline
Due: check-prow-config

add IRSO 0.4 prow jobs
  prow/config/jobs/metal3-io/ironic-standalone-operator-main.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.4.yaml
Due: check-prow-config

update IRSO milestones
  prow/config/plugins.yaml
Due: check-prow-config
