Repository metal3-io/metal3-dev-env: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: \.md$

Remove the "Management cluster forced to be minikube" message
  lib/common.sh
Due: shellcheck

Set BMO and Ironic tags based on CAPM3 release
  01_prepare_host.sh
  03_launch_mgmt_cluster.sh
  lib/common.sh
  renovate.json
  scripts/feature_tests/cleanup_env.sh
  scripts/run.sh
  scripts/run_command.sh
Due: shellcheck

Uplift k8s to 1.23.5 and kind node image to 1.23.4
  config_example.sh
  lib/common.sh
  scripts/feature_tests/node_reuse/node_reuse_vars.sh
  scripts/feature_tests/upgrade/upgrade_vars.sh
  vars.md
  vm-setup/roles/v1aX_integration_test/vars/main.yml
Due: shellcheck, markdownlint

Uplift KUBERNETES_BINARIES_CONFIG_VERSION v0.13.0
  config_example.sh
  lib/common.sh
  vars.md
  vm-setup/roles/v1aX_integration_test/vars/main.yml
Due: shellcheck, markdownlint

Uplift from_k8s_version to 1.23.3
  scripts/feature_tests/feature_test_vars.sh
  scripts/feature_tests/upgrade/upgrade_vars.sh
Due: shellcheck

Make sure jq is installed before common.sh is sourced
  01_prepare_host.sh
Due: shellcheck

Support CentOS Stream 9
  01_prepare_host.sh
  02_configure_host.sh
  lib/common.sh
  vm-setup/roles/packages_installation/defaults/main.yml
Due: shellcheck

Add missing directory in Ubuntu
  01_prepare_host.sh
  renovate.json
Due: shellcheck

Fix unversioned python on CentOS
  01_prepare_host.sh
Due: shellcheck

Uplift CAPM3RELEASE to v1.1.1 & CAPIRELEASE to v1.1.3
  scripts/feature_tests/upgrade/upgrade_vars.sh
  vm-setup/roles/v1aX_integration_test/vars/main.yml
Due: shellcheck

Ensure python3 is installed before linking to it
  01_prepare_host.sh
Due: shellcheck

Revert "Set BMO and Ironic tags based on CAPM3 release"
  01_prepare_host.sh
  03_launch_mgmt_cluster.sh
  lib/common.sh
  renovate.json
  scripts/feature_tests/cleanup_env.sh
  scripts/run.sh
  scripts/run_command.sh
Due: shellcheck

Support setting tag for BMO and Ironic images
  lib/common.sh
  scripts/feature_tests/upgrade/upgrade_vars.sh
Due: shellcheck

FIx permission denied error in BML
  01_prepare_host.sh
Due: shellcheck

Add missing sudo for 'mkdir -p /etc/qemu/firmware'
  01_prepare_host.sh
Due: shellcheck

Check all deployments after checking running pods
  vm-setup/roles/v1aX_integration_test/filter_plugins/status.py
  vm-setup/roles/v1aX_integration_test/tasks/move.yml
Due: none

Test commit
  lib/common.sh
Due: shellcheck

Replace curl with wget
  01_prepare_host.sh
Due: shellcheck

Use the same config for Ironic after pivot
  03_launch_mgmt_cluster.sh
  ansible.cfg
  vm-setup/roles/v1aX_integration_test/tasks/move.yml
  vm-setup/roles/v1aX_integration_test/tasks/upgrade.yml
Due: shellcheck

Fixes https://github.com/metal3-io/metal3-dev-env/issues/836
  renovate.json
Due: none

Wait for controlplane pods to be Ready before proceeding with Calico
  vm-setup/roles/v1aX_integration_test/tasks/verify.yml
Due: none

Delete hosts during clean up
  03_launch_mgmt_cluster.sh
  scripts/run.sh
  vm-setup/roles/v1aX_integration_test/tasks/cleanup.yml
  vm-setup/roles/v1aX_integration_test/vars/main.yml
Due: shellcheck

Avoid overiding working dir in playbooks
  scripts/run.sh
Due: shellcheck

Test Centos 9 stream
  lib/images.sh
  vars.md
Due: shellcheck, markdownlint

Install pip3 kubernetes==23.3.0 flask_oauthlib==0.9.6 and
  README.md
  vm-setup/roles/packages_installation/defaults/main.yml
Due: markdownlint

Update dependency ansible to v5
  lib/common.sh
Due: shellcheck

Move BMH cleanup tasks to main.yaml
  vm-setup/roles/v1aX_integration_test/tasks/cleanup.yml
  vm-setup/roles/v1aX_integration_test/tasks/main.yml
Due: none

Accomodate Ubuntu 22.04 uplift in baseOS and node image
  01_prepare_host.sh
  README.md
  lib/common.sh
  lib/images.sh
  scripts/feature_tests/node_reuse/node_reuse_vars.sh
  vm-setup/roles/packages_installation/defaults/main.yml
  vm-setup/roles/packages_installation/tasks/main.yml
  vm-setup/roles/packages_installation/tasks/ubuntu_required_packages.yml
  vm-setup/roles/v1aX_integration_test/tasks/upgrade.yml
  vm-setup/roles/v1aX_integration_test/vars/main.yml
Due: shellcheck, markdownlint

Pin node image to be used in BML to CentOS8 Stream k8s v1.23.3
  lib/images.sh
Due: shellcheck

Add CAPI labels on HostData CRD to pivot
  vm-setup/roles/v1aX_integration_test/tasks/move.yml
Due: none

Change Centos target nodes network configuration to nmcli commands to make net config plugin(keyfile, ifcfg-rh) independent
  vm-setup/roles/v1aX_integration_test/templates/cluster-template-controlplane-kubeadm-config-centos.yaml
  vm-setup/roles/v1aX_integration_test/templates/cluster-template-workers-kubeadm-config-centos.yaml
Due: none

Provide proper namespace(metal3) to apply_bm_hosts func to avoid creating BMHs in default namespace
  scripts/deploy_tilt_env.sh
Due: shellcheck

Update dependency kubernetes-sigs/kind to v0.14.0
  lib/common.sh
Due: shellcheck

test minikube issue
  01_prepare_host.sh
Due: shellcheck

Add kubesec to metal3-dev-env
  .github/workflows/kubesec.yml
  template/sarif.tpl
Due: none

Ignore template files for kubesec
  .github/workflows/kubesec.yml
Due: none

Fix error creating bridge interface virbr0: File exists
  01_prepare_host.sh
Due: shellcheck

Update actions/checkout action to v3
  .github/workflows/kubesec.yml
Due: none

Add NetworkManager as netplan renderer in cloud init
  Makefile
  vm-setup/roles/v1aX_integration_test/templates/cluster-template-controlplane-kubeadm-config-ubuntu.yaml
  vm-setup/roles/v1aX_integration_test/templates/cluster-template-workers-kubeadm-config-ubuntu.yaml
Due: shellcheck

WIP
  vm-setup/roles/common/defaults/main.yml
Due: none
