Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  golint: any of: \.go$
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$

Add periodic E2E fixture test
  .github/workflows/e2e-fixture-test.yml
  .github/workflows/e2e-test-fixture-periodic.yml
Due: gosec, gomod, unit, generate, manifestlint

Update logic for HostClaims
  apis/metal3.io/v1alpha1/hostclaim_types.go
  internal/testutil/common.go
  pkg/hostclaim/hostclaim_manager.go
  pkg/hostclaim/hostclaim_manager_test.go
  test/e2e/common.go
  test/e2e/config/fixture.yaml
  test/e2e/hostclaim_provisioning_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add fuzz tests for BMC credentials and device hints
  Makefile
  test/fuzz/README.md
  test/fuzz/credential_fuzz_test.go
  test/fuzz/devicehint_fuzz_test.go
  test/go.mod
  test/go.sum
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Harden E2E script downloads with integrity verification
  .github/workflows/verify-e2e-checksums.yml
  Makefile
  hack/ci-e2e.sh
  hack/e2e/checksums.sh
  hack/e2e/ensure_docker.sh
  hack/e2e/ensure_go.sh
  hack/e2e/ensure_kubectl.sh
  hack/e2e/ensure_yq.sh
  hack/e2e/update-checksums.sh
  hack/e2e/verify-checksums.sh
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

vbmctl: Report Docker network lookup errors on delete
  test/vbmctl/pkg/containers/kindnetwork.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

vbmctl: Mark deletion output as safe for gosec
  test/vbmctl/cmd/vbmctl/delete.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Retry HNA deletion after BMH removal in tests
  internal/webhooks/metal3.io/v1alpha1/hostnetworkattachment_validation.go
  internal/webhooks/metal3.io/v1alpha1/hostnetworkattachment_validation_test.go
  internal/webhooks/metal3.io/v1alpha1/hostnetworkattachment_webhook.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

vbmctl: Report all network deletion errors with network names
  test/vbmctl/pkg/containers/kindnetwork.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add scalability tests for BMH enrollment, provisoining and API Latency
  Makefile
  docs/e2e-scalability.md
  hack/check-e2e.sh
  hack/ci-e2e.sh
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/scalability_test.go
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

🐛 vbmctl: match Docker networks by exact name
  test/vbmctl/pkg/containers/docker.go
  test/vbmctl/pkg/containers/docker_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Validate switch credential values before rendering
  internal/controller/metal3.io/baremetalswitch_config.go
  internal/controller/metal3.io/baremetalswitch_config_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2E: Implement TLS for the image server
  hack/ci-e2e.sh
  test/e2e/README.md
  test/e2e/config/ironic.yaml
  test/e2e/config/nginx-tls.conf
  test/e2e/config/vbmctl.yaml.tmpl
  test/e2e/data/ironic-standalone-operator/components/trusted-ca/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/components/trusted-ca/trusted-ca-patch.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-33.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-35.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-37.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-38.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/irso-v0.11/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/irso-v0.9/kustomization.yaml
  test/vbmctl/README.md
  test/vbmctl/cmd/vbmctl/config.go
  test/vbmctl/cmd/vbmctl/create.go
  test/vbmctl/pkg/api/types.go
  test/vbmctl/pkg/config/config.go
  test/vbmctl/pkg/config/config_test.go
  test/vbmctl/pkg/containers/imageserver.go
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

E2E: Disable IPA insecure setting
  test/e2e/data/ironic-standalone-operator/components/trusted-ca/trusted-ca-patch.yaml
  test/e2e/data/ironic-standalone-operator/ironic/base/ironic.yaml.tmpl
Due: gosec, gomod, unit, generate, manifestlint

Pin sysrescue-customize to the release tag and verify its checksum
  hack/ci-e2e.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Remove yamllint GitHub workflow
  .github/workflows/yamllint.yaml
  AGENTS.md
  docs/testing.md
Due: gosec, gomod, markdownlint, unit, generate, manifestlint

Add support for IPv6 only test setup
  .gitignore
  Makefile
  config/overlays/e2e/ironic.env.tmpl
  hack/ci-e2e.sh
  hack/clean-e2e.sh
  hack/e2e/ip_addressing.sh
  hack/e2e/partial_envsubst.sh
  test/e2e/README.md
  test/e2e/common.go
  test/e2e/config/bmcs-fixture.yaml.tmpl
  test/e2e/config/bmcs-ipmi.yaml.tmpl
  test/e2e/config/bmcs-redfish-virtualmedia.yaml.tmpl
  test/e2e/config/bmcs-redfish.yaml.tmpl
  test/e2e/config/fixture.yaml.tmpl
  test/e2e/config/ironic.yaml.tmpl
  test/e2e/config/vbmctl.yaml.tmpl
  test/e2e/data/ironic-standalone-operator/components/tls/certificate.yaml.tmpl
  test/e2e/data/ironic-standalone-operator/ironic/base/ironic.yaml.tmpl
  test/e2e/data/ironic-standalone-operator/operator/irso-v0.10/kustomization.yaml.tmpl
  test/e2e/data/ironic-standalone-operator/operator/irso-v0.11/kustomization.yaml.tmpl
  test/e2e/e2e_suite_test.go
  test/e2e/network_data_test.go
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Add fuzz tests for BMC credentials and device hints
  Makefile
  test/fuzz/credential_fuzz_test.go
  test/fuzz/devicehint_fuzz_test.go
  test/go.mod
  test/go.sum
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

Redact image URL failure messages
  pkg/provisioner/ironic/clients/updateopts.go
  pkg/provisioner/ironic/inspecthardware.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/ironic_test.go
  pkg/provisioner/ironic/register.go
  pkg/provisioner/ironic/servicing.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fix: record a missing referenced Secret as a dedicated SecretAccessError
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_controller_test.go
  internal/controller/metal3.io/errors.go
  internal/controller/metal3.io/host_state_machine.go
  internal/controller/metal3.io/host_state_machine_test.go
  internal/controller/metal3.io/image_auth_validator.go
  internal/controller/metal3.io/image_auth_validator_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

🐛 get-hardware-details: allow auth via files, not just URL (#3546)
  cmd/get-hardware-details/main.go
  cmd/get-hardware-details/main_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Consolidate vbmctl VM volume and network defaults
  test/vbmctl/pkg/api/types.go
  test/vbmctl/pkg/api/types_test.go
  test/vbmctl/pkg/config/config.go
  test/vbmctl/pkg/config/config_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Extract Managers for HFS/HFC out of BMH controller code
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_controller_test.go
  internal/controller/metal3.io/dataimage_controller.go
  internal/controller/metal3.io/host_state_machine.go
  internal/testutil/common.go
  pkg/firmwarecomponents/manager.go
  pkg/firmwarecomponents/manager_test.go
  pkg/firmwaresettings/manager.go
  pkg/firmwaresettings/manager_test.go
  pkg/mgrutils/utils.go
  pkg/mgrutils/utils_test.go
  pkg/provisioner/fixture/fixture.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add v1beta1 api and its conversion generation and tests
  Makefile
  apis/go.mod
  apis/go.sum
  apis/metal3.io/v1alpha1/conversion.go
  apis/metal3.io/v1alpha1/conversion_data.go
  apis/metal3.io/v1alpha1/conversion_test.go
  apis/metal3.io/v1alpha1/zz_generated.conversion.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  apis/metal3.io/v1beta1/baremetalhost_types.go
  apis/metal3.io/v1beta1/baremetalhost_types_test.go
  apis/metal3.io/v1beta1/conversion.go
  apis/metal3.io/v1beta1/doc.go
  apis/metal3.io/v1beta1/groupversion_info.go
  apis/metal3.io/v1beta1/hardwaredata_types.go
  apis/metal3.io/v1beta1/hostnetworkattachment_types.go
  apis/metal3.io/v1beta1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/base/crds/bases/metal3.io_hardwaredata.yaml
  config/render/capm3.yaml
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

HostDeployPolicies e2e test
  config/overlays/e2e/hdp-infra/kustomization.yaml
  config/overlays/e2e/hdp-infra/namespace.yaml
  config/overlays/e2e/hdp-tenanta/kustomization.yaml
  config/overlays/e2e/hdp-tenanta/namespace.yaml
  config/overlays/e2e/hdp-tenantb/kustomization.yaml
  config/overlays/e2e/hdp-tenantb/namespace.yaml
  config/overlays/e2e/kustomization.yaml
  config/overlays/e2e/namespaced-manager-patch.yaml
  hack/check-e2e.sh
  test/e2e/common.go
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/hostdeploypolicy_test.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

Support fixture protocol in ci-e2e.sh
  AGENTS.md
  hack/ci-e2e.sh
  test/e2e/README.md
Due: gosec, gomod, markdownlint, shellcheck, unit, generate, manifestlint, test

Feature gate for HostClaims
  config/base/manager.yaml
  config/overlays/e2e/features.env
  config/overlays/fixture/kustomization.yaml
  config/render/capm3.yaml
  docs/configuration.md
  internal/webhooks/metal3.io/v1alpha1/hostclaim_webhook.go
  internal/webhooks/metal3.io/v1alpha1/hostclaim_webhook_test.go
  main.go
  pkg/features/features.go
Due: gofmt, gosec, gomod, markdownlint, unit, generate, golint, manifestlint

Adds observedGeneration to HostDeployPolicy status
  apis/metal3.io/v1alpha1/hostdeploypolicy_types.go
  config/base/crds/bases/metal3.io_hostdeploypolicies.yaml
  config/base/rbac/role.yaml
  config/render/capm3.yaml
  internal/controller/metal3.io/hostdeploypolicy_controller.go
  internal/controller/metal3.io/hostdeploypolicy_controller_test.go
  main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Use IRSO integration for credentials in E2E tests
  config/overlays/e2e-upgrade/ironic.env
  config/overlays/e2e-upgrade/kustomization.yaml
  config/overlays/e2e-upgrade/namespaced-manager-patch.yaml
  config/overlays/e2e/baremetal-operator-system/kustomization.yaml
  config/overlays/e2e/ironic.env
  config/overlays/e2e/kustomization.yaml
  config/overlays/e2e/namespaced-manager-patch.yaml
  hack/ci-e2e.sh
  test/e2e/common.go
  test/e2e/data/ironic-standalone-operator/components/tls/certificate.yaml
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

Avoid logging empty port creation
  pkg/provisioner/ironic/register.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Deduplicate NIC names in validation messages
  internal/controller/metal3.io/baremetalhost_network.go
  internal/controller/metal3.io/baremetalhost_network_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint
