Repository metal3-io/metal3-dev-env: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

Fix IPv6 envvars and ansible tasks
  03_launch_mgmt_cluster.sh
  lib/common.sh
  lib/network.sh
  vars.md
  vm-setup/roles/firewall/defaults/main.yml
  vm-setup/roles/libvirt/defaults/main.yml
  vm-setup/roles/libvirt/tasks/network_setup_tasks.yml
  vm-setup/roles/libvirt/tasks/network_teardown_tasks.yml
  vm-setup/roles/libvirt/templates/libvirt_hook.sh.j2
  vm-setup/roles/packages_installation/defaults/main.yml
  vm-setup/roles/packages_installation/files/daemon.json
Due: shellcheck, markdownlint

Get NIC name from bmh for vrrp config
  tests/roles/run_tests/templates/cluster-template-controlplane-kubeadm-config-ubuntu.yaml
Due: none

Get NIC name from bmh for vrrp config
  tests/roles/run_tests/templates/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/cluster-template-controlplane-kubeadm-config-ubuntu.yaml
Due: none

Partial revert of getting NIC name from bmh for vrrp config
  tests/roles/run_tests/templates/cluster-template-controlplane-kubeadm-config-centos.yaml
Due: none

Use v1beta2 of CAPI
  README.md
  config_example.sh
  lib/common.sh
  tests/roles/run_tests/tasks/generate_templates.yml
  tests/roles/run_tests/templates/cluster-template-cluster.yaml
  tests/roles/run_tests/templates/cluster-template-controlplane.yaml
  tests/roles/run_tests/templates/cluster-template-workers.yaml
  tests/roles/run_tests/templates/machine-healthcheck-controlplane.yaml
  tests/roles/run_tests/templates/machine-healthcheck-worker.yaml
  tests/roles/run_tests/vars/main.yml
  vars.md
Due: shellcheck, markdownlint

Add support for full IPv6 networking
  03_launch_mgmt_cluster.sh
  lib/network.sh
  vm-setup/roles/firewall/defaults/main.yml
  vm-setup/roles/firewall/tasks/iptables.yaml
  vm-setup/roles/packages_installation/files/daemon.json
Due: shellcheck

Bump Minikube to v1.36.0 and Kind to v0.29.0
  lib/common.sh
Due: shellcheck

Adding --nobest to dnf when installing packages on CentOS/RHEL
  vm-setup/roles/packages_installation/tasks/main.yml
Due: none

Change NODE_DRAIN_TIMEOUT to int
  config_example.sh
  lib/common.sh
  tests/roles/run_tests/vars/main.yml
  vars.md
Due: shellcheck, markdownlint

Add support for full IPv6 networking
  01_prepare_host.sh
  03_launch_mgmt_cluster.sh
  hack/replace-containerd2.sh
  lib/network.sh
  tests/roles/run_tests/templates/cluster-template-cluster.yaml
  tests/roles/run_tests/vars/main.yml
  vars.md
  vm-setup/roles/firewall/defaults/main.yml
  vm-setup/roles/firewall/tasks/iptables.yaml
  vm-setup/roles/packages_installation/files/daemon.json
Due: shellcheck, markdownlint

Add support for full IPv6 networking
  01_prepare_host.sh
  03_launch_mgmt_cluster.sh
  hack/replace-containerd2.sh
  lib/network.sh
  tests/roles/run_tests/templates/release-1.8/cluster-template-cluster.yaml
  tests/roles/run_tests/vars/main.yml
  vars.md
  vm-setup/roles/firewall/defaults/main.yml
  vm-setup/roles/firewall/tasks/iptables.yaml
  vm-setup/roles/packages_installation/files/daemon.json
Due: shellcheck, markdownlint

Hard code CAPICAPIRELEASE to v1.11.0-alpha.2 until we uplift to beta or GA
  lib/releases.sh
Due: shellcheck

improve node image download logic
  tests/roles/run_tests/tasks/download_image.yml
Due: none

Try Cilium CNI
  tests/roles/run_tests/tasks/verify.yml
  tests/roles/run_tests/vars/main.yml
Due: none

Bump CAPI to v1.11.0-beta.2
  config_example.sh
  lib/releases.sh
  tests/roles/run_tests/tasks/upgrade_k8s.yml
  tests/roles/run_tests/templates/main/cluster-template-controlplane.yaml
  tests/roles/run_tests/templates/main/cluster-template-workers.yaml
Due: shellcheck

Add support for openSUSE Leap 15.6
  01_prepare_host.sh
  02_configure_host.sh
  host_cleanup.sh
  lib/common.sh
  lib/images.sh
  tests/roles/run_tests/tasks/cleanup.yml
  tests/roles/run_tests/templates/main/cluster-template-controlplane-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/main/cluster-template-workers-kubeadm-config-leap.yaml
  tests/roles/run_tests/vars/main.yml
  tests/run.sh
  vm-setup/install-package-playbook.yml
  vm-setup/roles/libvirt/templates/baremetalvm.xml.j2
  vm-setup/roles/packages_installation/defaults/main.yml
  vm-setup/roles/packages_installation/tasks/main.yml
  vm-setup/roles/packages_installation/tasks/suse_required_packages.yml
Due: shellcheck

Set node image to Ubuntu 24.04
  lib/images.sh
  tests/roles/run_tests/tasks/upgrade_k8s.yml
  tests/roles/run_tests/vars/main.yml
Due: shellcheck

Debug CI issue with latest ironic image version
  lib/common.sh
Due: shellcheck

Set interface name for vrrp config after enabling predicted names
  tests/roles/run_tests/templates/main/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/main/cluster-template-controlplane-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/main/cluster-template-workers-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/main/cluster-template-workers-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/release-1.10/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.10/cluster-template-workers-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.8/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.8/cluster-template-workers-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.9/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.9/cluster-template-workers-kubeadm-config-centos.yaml
Due: none

Set interface name for vrrp config after enabling predicted names
  03_launch_mgmt_cluster.sh
  tests/roles/run_tests/templates/main/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/main/cluster-template-controlplane-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/main/cluster-template-workers-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/main/cluster-template-workers-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/release-1.10/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.10/cluster-template-controlplane-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/release-1.10/cluster-template-workers-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.10/cluster-template-workers-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/release-1.8/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.8/cluster-template-controlplane-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/release-1.8/cluster-template-workers-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.8/cluster-template-workers-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/release-1.9/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.9/cluster-template-controlplane-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/release-1.9/cluster-template-workers-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.9/cluster-template-workers-kubeadm-config-ubuntu.yaml
Due: shellcheck

Fix docker exec to run in CI
  01_prepare_host.sh
  03_launch_mgmt_cluster.sh
  tests/roles/run_tests/templates/main/cluster-template-cluster.yaml
  tests/roles/run_tests/templates/release-1.10/cluster-template-cluster.yaml
  tests/roles/run_tests/templates/release-1.9/cluster-template-cluster.yaml
  vars.md
Due: shellcheck, markdownlint

Fix docker exec to run in CI
  01_prepare_host.sh
  03_launch_mgmt_cluster.sh
  vars.md
Due: shellcheck, markdownlint

bump k8s to 1.34
  config_example.sh
  lib/common.sh
  renovate.json
  tests/roles/run_tests/vars/main.yml
  vars.md
Due: shellcheck, markdownlint

revert redfish SSL support to test scalability tests
  03_launch_mgmt_cluster.sh
  03_launch_mgmt_cluster_pre_1_10.sh
  04_verify.sh
  lib/common.sh
  vm-setup/roles/common/templates/ironic_nodes.json.j2
  vm-setup/roles/virtbmc/tasks/setup_tasks.yml
Due: shellcheck

Enable using CAPI's nightly builds
  03_launch_mgmt_cluster.sh
  lib/common.sh
  lib/releases.sh
Due: shellcheck

test
  lib/common.sh
Due: shellcheck

Remove hard coded version of CAPIRELEASE
  lib/releases.sh
Due: shellcheck

Add NAT64 to enable IPv6 provision in v4 only host
  tests/roles/run_tests/tasks/verify.yml
  tests/roles/run_tests/templates/main/cluster-template-cluster.yaml
  tests/roles/run_tests/templates/main/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/main/cluster-template-workers-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/main/metal3datatemplate-template.yaml
  tests/roles/run_tests/vars/main.yml
  vars.md
  vm-setup/roles/nat64/defaults/main.yml
  vm-setup/roles/nat64/tasks/main.yml
  vm-setup/roles/nat64/tasks/setup_nat.yml
  vm-setup/roles/nat64/tasks/teardown_nat.yml
  vm-setup/roles/nat64/templates/named.conf.options
  vm-setup/roles/nat64/templates/resolv.conf
  vm-setup/roles/nat64/templates/tayga.conf
  vm-setup/roles/packages_installation/defaults/main.yml
  vm-setup/roles/packages_installation/tasks/ubuntu_required_packages.yml
  vm-setup/roles/packages_installation/templates/daemon.json
  vm-setup/setup-playbook.yml
  vm-setup/teardown-playbook.yml
Due: markdownlint

Add support for openSUSE Leap 15.6
  01_prepare_host.sh
  02_configure_host.sh
  host_cleanup.sh
  lib/common.sh
  lib/images.sh
  tests/inventory.ini
  tests/roles/run_tests/tasks/cleanup.yml
  tests/roles/run_tests/tasks/main.yml
  tests/roles/run_tests/templates/main/cluster-template-controlplane-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/main/cluster-template-workers-kubeadm-config-leap.yaml
  tests/roles/run_tests/vars/main.yml
  tests/run.sh
  vm-setup/install-package-playbook.yml
  vm-setup/inventory.ini
  vm-setup/roles/libvirt/templates/baremetalvm.xml.j2
  vm-setup/roles/packages_installation/defaults/main.yml
  vm-setup/roles/packages_installation/tasks/main.yml
  vm-setup/roles/packages_installation/tasks/suse_required_packages.yml
Due: shellcheck

Add support for openSUSE Leap 15.6
  01_prepare_host.sh
  02_configure_host.sh
  host_cleanup.sh
  lib/common.sh
  lib/images.sh
  tests/inventory.ini
  tests/roles/run_tests/tasks/cleanup.yml
  tests/roles/run_tests/templates/main/cluster-template-controlplane-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/main/cluster-template-workers-kubeadm-config-leap.yaml
  tests/roles/run_tests/vars/main.yml
  tests/run.sh
  vm-setup/install-package-playbook.yml
  vm-setup/inventory.ini
  vm-setup/roles/libvirt/templates/baremetalvm.xml.j2
  vm-setup/roles/packages_installation/defaults/main.yml
  vm-setup/roles/packages_installation/tasks/main.yml
  vm-setup/roles/packages_installation/tasks/suse_required_packages.yml
Due: shellcheck

Enable using CAPI's nightly builds
  03_launch_mgmt_cluster.sh
  lib/common.sh
  lib/releases.sh
  vars.md
Due: shellcheck, markdownlint

Add support for release-1.11
  README.md
  lib/common.sh
  lib/releases.sh
Due: shellcheck, markdownlint

Fix filetype check
  lib/common.sh
Due: shellcheck

Divide make test into granular steps
  Makefile
  tests/scripts/deprovision.sh
  tests/scripts/pivot.sh
  tests/scripts/provision.sh
  tests/scripts/repivot.sh
Due: shellcheck

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
