Repository metal3-io/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: check-prow-config, markdownlint, shellcheck, spellcheck

Path conditions:
  check-prow-config: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: any of: (\.md|markdownlint\.sh)$
  shellcheck: any of: ((\.sh)|^Makefile)$
  spellcheck: any of: (\.md|spellcheck\.sh|.cspell-config.json)$

rename irso main branch config
  prow/config/jobs/metal3-io/ironic-standalone-operator.yaml
Due: check-prow-config

Add k8s N+3 e2e test
  jenkins/jobs/capm3-e2e-tests.pipeline
  jenkins/jobs/pre_release_tests.pipeline
  jenkins/scripts/dynamic_worker_workflow/e2e_tests.sh
Due: check-prow-config, shellcheck

add copilot-instructions.md
  .github/copilot-instructions.md
Due: markdownlint, spellcheck

Change to irso in quick-start-test
  .github/workflows/quick-start-test.yml
  .gitignore
  hack/quick-start-test/bmh-manifest-with-image.yaml
  hack/quick-start-test/bml-vm-01.yaml
  hack/quick-start-test/bmo/ironic-password
  hack/quick-start-test/bmo/ironic-username
  hack/quick-start-test/bmo/ironic.env
  hack/quick-start-test/bmo/kustomization.yaml
  hack/quick-start-test/cleanup.sh
  hack/quick-start-test/dnsmasq.env
  hack/quick-start-test/ironic/ironic-htpasswd
  hack/quick-start-test/ironic/ironic-patch.yaml
  hack/quick-start-test/ironic/ironic_bmo.env
  hack/quick-start-test/ironic/kustomization.yaml
  hack/quick-start-test/irso/ironic.yaml
  hack/quick-start-test/irso/kustomization.yaml
  hack/quick-start-test/quick-start-test.sh
  hack/quick-start-test/setup-image-server-dir.sh
  hack/quick-start-test/setup-virtual-lab.sh
  hack/quick-start-test/sushy-tools.conf
Due: check-prow-config, shellcheck

fix few Prow config issues/typos
  prow/config/jobs/Nordix/metal3-dev-tools.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3.yaml
  prow/config/jobs/metal3-io/mariadb-image.yaml
  prow/config/plugins.yaml
Due: check-prow-config

Change jenkins pipeline files extentions to .groovy
  jenkins/jobs/bml_integration_tests.groovy
  jenkins/jobs/bmo_e2e_optional_tests.groovy
  jenkins/jobs/capm3-e2e-tests.groovy
  jenkins/jobs/clean_resources.groovy
  jenkins/jobs/dev_env_integration_tests.groovy
  jenkins/jobs/dynamic_fullstack_building.groovy
  jenkins/jobs/e2e_features_test.groovy
  jenkins/jobs/image_building.groovy
  jenkins/jobs/pre_release_tests.groovy
Due: check-prow-config

Add github workfloW
  .github/workflows/quick-start-test.yml
  hack/quick-start-test/bml-01.yaml
  hack/quick-start-test/bmo/kustomization.yaml
  hack/quick-start-test/irso/ironic.yaml
  hack/quick-start-test/quick-start-test.sh
  hack/quick-start-test/setup-virtual-lab.sh
Due: check-prow-config, shellcheck

Add osv scanner for metal3 repos
  jenkins/jobs/osv_scanner_metal3.groovy
  jenkins/scripts/get_last_n_release_branches.sh
  jenkins/scripts/get_latest_tag.sh
Due: check-prow-config, shellcheck

Fix groovy code format with linters
  .groovylintrc.json
  jenkins/jobs/bml_integration_tests.groovy
  jenkins/jobs/bmo_e2e_optional_tests.groovy
  jenkins/jobs/capm3-e2e-tests.groovy
  jenkins/jobs/clean_resources.groovy
  jenkins/jobs/dev_env_integration_tests.groovy
  jenkins/jobs/dynamic_fullstack_building.groovy
  jenkins/jobs/e2e_features_test.groovy
  jenkins/jobs/image_building.groovy
  jenkins/jobs/pre_release_tests.groovy
Due: check-prow-config

download ubuntu base from longterm archive
  jenkins/image_building/build-image.sh
Due: check-prow-config, shellcheck

Add k8s indentation rules for yamllint
  .github/workflows/yamllint.yaml
  .yamllint.yaml
Due: check-prow-config

Fix indentation according to the k8s list style
  .github/workflows/pr-link-check.yml
  .github/workflows/pr-verifier.yaml
  .github/workflows/scheduled-osv-scan.yml
  .github/workflows/yamllint.yaml
  jenkins/scripts/bare_metal_lab/cleanup-lab.yaml
  jenkins/scripts/bare_metal_lab/default_vars/vars.yaml
  jenkins/scripts/bare_metal_lab/deploy-lab.yaml
  jenkins/scripts/bare_metal_lab/tasks/cleanup-tasks.yaml
  prow/manifests/overlays/metal3/external-plugins/cherrypicker_deployment.yaml
Due: check-prow-config

Change from ilo4 to ipmi protocol in bml
  jenkins/scripts/bare_metal_lab/templates/bmhosts_crs.yaml.j2
Due: check-prow-config

Set default timeout for e2e tests
  jenkins/jobs/capm3-e2e-tests.groovy
Due: check-prow-config

Add yamllint check for snippet yaml
  .github/workflows/yamllint.yaml
  prow/README.md
Due: check-prow-config, markdownlint, spellcheck

add main branch to be scanned in metal3 osv-scanner pipeline
  jenkins/jobs/osv_scanner_metal3.groovy
Due: check-prow-config

remove scheduled osv-scanner workflow
  .github/workflows/scheduled-osv-scan.yml
Due: check-prow-config

Add github workfloW
  .github/workflows/quick-start-test.yml
  .gitignore
  hack/quick-start-test/bmc-secret.yaml
  hack/quick-start-test/bmh-01-provision.yaml
  hack/quick-start-test/bmh-01.yaml
  hack/quick-start-test/bml-01.yaml
  hack/quick-start-test/bmo/ironic.env
  hack/quick-start-test/bmo/kustomization.yaml
  hack/quick-start-test/capm3-vars.sh
  hack/quick-start-test/cleanup.sh
  hack/quick-start-test/ironic/certificate.yaml
  hack/quick-start-test/ironic/ironic.yaml
  hack/quick-start-test/ironic/kustomization.yaml
  hack/quick-start-test/ironic/namespace.yaml
  hack/quick-start-test/irso/kustomization.yaml
  hack/quick-start-test/net.xml
  hack/quick-start-test/quick-start-test.sh
  hack/quick-start-test/setup-bootstrap.sh
  hack/quick-start-test/setup-dhcp-server.sh
  hack/quick-start-test/setup-image-server-dir.sh
  hack/quick-start-test/setup-virtual-lab.sh
  hack/quick-start-test/sushy-emulator.conf
Due: check-prow-config, shellcheck

Fix and improve osv-scanner
  jenkins/jobs/osv_scanner_metal3.groovy
Due: check-prow-config

add image SBOM support for container-image-build
  .github/workflows/build-images-action.yml
  .github/workflows/container-image-build.yml
Due: check-prow-config

bump golang 1.24.10 for basic-checks
  prow/container-images/basic-checks/Dockerfile
Due: check-prow-config

bump golang 1.24.9 for basic-checks
  prow/container-images/basic-checks/Dockerfile
Due: check-prow-config

Minor improvements in osv-scanner pipline
  jenkins/jobs/osv_scanner_metal3.groovy
Due: check-prow-config

fix build image permissions for signing
  .github/workflows/build-images-action.yml
Due: check-prow-config

Revert "bump golang 1.24.9 for basic-checks"
  prow/container-images/basic-checks/Dockerfile
Due: check-prow-config

WIP refactor fullstack test
  jenkins/scripts/dynamic_worker_workflow/build_ipa.sh
  jenkins/scripts/dynamic_worker_workflow/fullstack.sh
Due: check-prow-config, shellcheck

Use External Secrets Operator and 1password SDK for prow secrets
  prow/README.md
  prow/bootstrap/calico/kustomization.yaml
  prow/bootstrap/calico/toleration-node-selector-patch.yaml
  prow/bootstrap/clustersecretstore.yaml
  prow/bootstrap/external-secrets-operator/.gitignore
  prow/bootstrap/external-secrets-operator/kustomization.yaml
  prow/bootstrap/external-secrets-operator/namespace.yaml
  prow/bootstrap/kustomization.yaml
  prow/capo-cluster/externalsecret.yaml
  prow/capo-cluster/kustomization.yaml
  prow/cluster-resources/externalsecret.yaml
  prow/cluster-resources/kustomization.yaml
  prow/manifests/overlays/metal3/kustomization.yaml
  prow/manifests/overlays/metal3/prow-externalsecrets.yaml
  prow/manifests/overlays/metal3/test-pods-externalsecrets.yaml
Due: check-prow-config, markdownlint, spellcheck

temporarily comment out id-token: write permission
  .github/workflows/container-image-build.yml
Due: check-prow-config

Revert "temporarily comment out id-token: write permission"
  .github/workflows/container-image-build.yml
Due: check-prow-config

Add groovy linter for Jenkins pipeline scripts
  .github/workflows/pr-groovy-lint.yml
Due: check-prow-config

Fix pipeline script with groovy linter
  jenkins/jobs/osv_scanner_metal3.groovy
  jenkins/jobs/pre_release_tests.groovy
Due: check-prow-config

Bumping k8s-prow images and test-infra images
  prow/Makefile
  prow/config/config.yaml
  prow/config/jobs/metal3-io/project-infra.yaml
  prow/config/jobs/periodics.yaml
  prow/manifests/base/crier.yaml
  prow/manifests/base/deck.yaml
  prow/manifests/base/ghproxy.yaml
  prow/manifests/base/hook.yaml
  prow/manifests/base/horologium.yaml
  prow/manifests/base/prow-controller-manager.yaml
  prow/manifests/base/sinker.yaml
  prow/manifests/base/statusreconciler.yaml
  prow/manifests/base/tide.yaml
  prow/manifests/overlays/metal3/external-plugins/cherrypicker_deployment.yaml
  prow/manifests/overlays/metal3/external-plugins/jenkins-operator.yaml
  prow/manifests/overlays/metal3/external-plugins/needs-rebase_deployment.yaml
Due: check-prow-config

Add github workfloW
  .github/workflows/quick-start-test.yml
  .gitignore
  hack/quick-start-test/bmc-secret.yaml
  hack/quick-start-test/bmh-01.yaml
  hack/quick-start-test/bml-01.yaml
  hack/quick-start-test/bmo/ironic.env
  hack/quick-start-test/bmo/kustomization.yaml
  hack/quick-start-test/capm3-vars.sh
  hack/quick-start-test/cleanup.sh
  hack/quick-start-test/ironic/certificate.yaml
  hack/quick-start-test/ironic/ironic.yaml
  hack/quick-start-test/ironic/kustomization.yaml
  hack/quick-start-test/ironic/namespace.yaml
  hack/quick-start-test/irso/kustomization.yaml
  hack/quick-start-test/net.xml
  hack/quick-start-test/quick-start-test.sh
  hack/quick-start-test/setup-bootstrap.sh
  hack/quick-start-test/setup-dhcp-server.sh
  hack/quick-start-test/setup-image-server-dir.sh
  hack/quick-start-test/setup-virtual-lab.sh
  hack/quick-start-test/start-image-server.sh
  hack/quick-start-test/sushy-emulator.conf
Due: check-prow-config, shellcheck

amend Lychee config
  .github/workflows/scheduled-link-check.yml
Due: check-prow-config

increase fullstack timeout to 90 min
  jenkins/jobs/dynamic_fullstack_building.groovy
Due: check-prow-config

Add k8s N+3 e2e test
  jenkins/jobs/capm3-e2e-tests.groovy
  jenkins/scripts/dynamic_worker_workflow/e2e_tests.sh
Due: check-prow-config, shellcheck

enable keyless container signing
  .github/workflows/build-images-action.yml
  .github/workflows/container-image-build.yml
Due: check-prow-config

WIP refactor fullstack test
  jenkins/jobs/dynamic_fullstack_building.groovy
  jenkins/scripts/dynamic_worker_workflow/build_ipa.sh
  jenkins/scripts/dynamic_worker_workflow/fullstack.sh
  jenkins/scripts/dynamic_worker_workflow/ipa_artifact_upload.sh
  jenkins/scripts/dynamic_worker_workflow/ipa_dev_env_test.sh
Due: check-prow-config, shellcheck

Updated the URLs in prow/README.md
  Issue.md
  prow/README.md
Due: markdownlint, spellcheck
