Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, golint, govet, markdownlint, shellcheck, generate, unit, manifestlint

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

golint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/golint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

govet:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/govet.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:latest
      imagePullPolicy: Always

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:stable
      imagePullPolicy: Always

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/codegen.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/garethr/kubeval:latest
      imagePullPolicy: Always

Fix remediation cleanup
  baremetal/metal3remediation_manager.go
  controllers/metal3remediation_controller.go
  test/e2e/metal3remediation_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

k8s uplift to 1.24.1
  config/manager/manager.yaml
  docs/api.md
  docs/architecture.md
  docs/dev-setup.md
  docs/remediation-controller.md
  examples/addons.yaml
  examples/generate.sh
  examples/provider-components/manager_tolerations_patch.yaml
  hack/gen_tilt_settings.sh
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/node_reuse_test.go
  test/e2e/pivoting_based_feature_test.go
Due: gofmt, golint, govet, markdownlint, shellcheck, generate, unit, manifestlint

Fix dead link for capi MHC reference
  docs/remediation-controller.md
Due: markdownlint

WIP test new k8s versions
  scripts/ci-e2e.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

master taint added in node resuse test
  test/e2e/node_reuse_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Test trigger for release 1.1 branch
  docs/api.md
  test/e2e/live_iso_test.go
Due: gofmt, golint, govet, markdownlint, generate, unit, manifestlint

fix overlapping providerID duplicate detection
  baremetal/metal3machine_manager.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Improve the verification of Image
  api/v1beta1/metal3machine_types.go
  api/v1beta1/metal3machine_types_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

fix initial target cluster K8s version
  scripts/environment.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

go modules uplift for capi v1.2
  api/go.mod
  api/go.sum
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3clusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3dataclaims.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datas.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datatemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3remediations.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3remediationtemplates.yaml
  controllers/metal3cluster_controller.go
  controllers/suite_test.go
  examples/metal3crds/metal3.io_baremetalhosts.yaml
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  main.go
Due: gofmt, golint, govet, generate, unit, manifestlint

update golangci-lint to 1.47.3
  hack/tools/go.mod
  hack/tools/go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

🐛 Don't use IPClaims with deletion timestamp
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Report config error
  baremetal/metal3machine_manager.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Update metadata to include capi 1.2.X releases
  metadata.yaml
Due: gofmt, golint, govet, generate, unit, manifestlint

removed ipcalim commit for testing
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

ginkgo seed added for node reuse test
  Makefile
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Fix missing LACP bond mode
  api/v1beta1/metal3datatemplate_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datatemplates.yaml
Due: gofmt, golint, govet, generate, unit, manifestlint

🐛 Only use redfish for live-iso test
  test/e2e/live_iso_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Only use redfish-virtualmedia for live-iso test
  scripts/ci-e2e.sh
  test/e2e/live_iso_test.go
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Move fmuyassarov to emeritus_approvers
  OWNERS
Due: none

removed redfish virtual media num nodes var
  scripts/ci-e2e.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

share logic between ip address allocation and release
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Only use redfish-virtualmedia for live-iso test
  test/e2e/live_iso_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

🌱 Use finalizer on IPClaim to avoid premature deletion
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  controllers/metal3data_controller.go
Due: gofmt, golint, govet, generate, unit, manifestlint

fixup! Run linter also on api folder
  api/v1alpha5/metal3datatemplate_types.go
  api/v1alpha5/zz_generated.conversion.go
  api/v1beta1/metal3data_webhook_test.go
  api/v1beta1/metal3dataclaim_webhook_test.go
  api/v1beta1/metal3datatemplate_types.go
  api/v1beta1/metal3datatemplate_webhook_test.go
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Add Adil as reviewer
  OWNERS
Due: none

Fix clusterctl config file path
  test/e2e/config/e2e_conf.yaml
  test/e2e/pivoting_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Revert API breaking change
  api/v1alpha5/metal3datatemplate_types.go
  api/v1alpha5/zz_generated.conversion.go
  api/v1beta1/metal3datatemplate_types.go
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

fix Image validation requiring urls for checksum
  api/v1beta1/metal3machine_types.go
  api/v1beta1/metal3machine_types_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

apply the same validation for m3m and m3mt
  api/v1beta1/common_types.go
  api/v1beta1/common_types_test.go
  api/v1beta1/metal3machine_types.go
  api/v1beta1/metal3machine_types_test.go
  api/v1beta1/metal3machine_webhook.go
  api/v1beta1/metal3machine_webhook_test.go
  api/v1beta1/metal3machinetemplate_webhook.go
  api/v1beta1/metal3machinetemplate_webhook_test.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machinetemplates.yaml
Due: gofmt, golint, govet, generate, unit, manifestlint

Fix CAPM3RELEASEBRANCH unbound variable when running upgrade locally
  scripts/environment.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Don't remove ownerRef from IPClaim when deleting
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Use keyfile format for CentOS network config
  test/e2e/data/infrastructure-metal3/bases/centos-kubeadm-config/centos-kubeadm-config.yaml
Due: gofmt, golint, govet, generate, unit, manifestlint

Change order for network-data
  baremetal/metal3data_manager.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Update owners file to move inactive approvers/reviwers to emeritus
  OWNERS
Due: none

Fix systemctl commands for monitor.keepalived
  test/e2e/data/infrastructure-metal3/bases/centos-kubeadm-config/centos-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/bases/ubuntu-kubeadm-config/ubuntu-kubeadm-config.yaml
Due: gofmt, golint, govet, generate, unit, manifestlint

Uplift ubuntu image to 22.04
  docs/api.md
  examples/generate.sh
  scripts/environment.sh
  test/e2e/node_reuse_test.go
Due: gofmt, golint, govet, markdownlint, shellcheck, generate, unit, manifestlint

Path conditions:
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  golint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: \.md$
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$
