Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  golint: any of: \.go$
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$

Disallow fetching secrets from namespaces different from the host's one
  controllers/metal3.io/baremetalhost_controller_test.go
  controllers/metal3.io/host_config_data.go
  controllers/metal3.io/host_config_data_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

remove release-0.5 from dependabot config
  .github/dependabot.yml
Due: gosec, gomod, unit, generate, manifestlint

Fix minor issues in the API help strings
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Update test triggers on README for release-1.8
  README.md
Due: markdownlint

Update test triggers on README
  README.md
Due: markdownlint

Disallow fetching secrets from namespaces different from the host's one cherry-picked from commit 3af4882e9c5fadc1a7550f53daea21dccd271f74
  controllers/metal3.io/baremetalhost_controller_test.go
  controllers/metal3.io/host_config_data.go
  controllers/metal3.io/host_config_data_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add resource dumping to e2e tests
  test/e2e/basic_ops_test.go
  test/e2e/common.go
  test/e2e/external_inspection_test.go
  test/e2e/inspection_test.go
  test/e2e/live_iso_test.go
  test/e2e/provisioning_and_annotation_test.go
  test/e2e/re_inspection_test.go
  test/go.mod
  test/go.sum
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add BMO 0.8 e2e
  .github/workflows/e2e-test-optional-periodic-release-0.8.yml
  .github/workflows/e2e-test-periodic-release-0.8.yml
  config/overlays/e2e-release-0.8/ironic.env
  config/overlays/e2e-release-0.8/kustomization.yaml
  config/overlays/fixture-release-0.8/kustomization.yaml
  docs/releasing.md
  hack/ci-e2e.sh
  ironic-deployment/overlays/e2e-release-25.0/ironic-patch.yaml
  ironic-deployment/overlays/e2e-release-25.0/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-25.0/kustomization.yaml
  ironic-deployment/overlays/e2e-release-26.0/ironic-patch.yaml
  ironic-deployment/overlays/e2e-release-26.0/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-release-26.0/kustomization.yaml
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
Due: gosec, gomod, markdownlint, shellcheck, unit, generate, manifestlint, test

bump golang to 1.22.7
  Dockerfile
  Makefile
  hack/e2e/ensure_go.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Fix update check in PreprovisioningImage controller
  controllers/metal3.io/preprovisioningimage_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Cleanup unused ironic:e2e tryload
  test/e2e/config/ironic.yaml
Due: gosec, gomod, unit, generate, manifestlint

Add Golang-based deploy-cli which handles bmo and ironic deployments
  Makefile
  config/README.md
  hack/tools/deploy-cli/.gitignore
  hack/tools/deploy-cli/deploy-cli.go
  hack/tools/deploy-cli/main.go
  hack/tools/deploy-cli/templates/bmo-kustomize-bmopath.tpl
  hack/tools/deploy-cli/templates/bmo-kustomize.tpl
  hack/tools/deploy-cli/templates/ironic-kustomize-bmopath.tpl
  hack/tools/deploy-cli/templates/ironic-kustomize.tpl
  hack/tools/deploy-cli/templates/ironic.env.tpl
  hack/tools/deploy-cli/templates/ironic_bmo_configmap_env.tpl
  hack/tools/go.mod
  hack/tools/go.sum
  ironic-deployment/README.md
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Adding ipxe builder to init container
  ironic-deployment/overlays/ipxe-builder/ipxe-builder-patch.yaml
  ironic-deployment/overlays/ipxe-builder/ipxe-configmap.env
  ironic-deployment/overlays/ipxe-builder/kustomization.yaml
Due: gosec, gomod, unit, generate, manifestlint

Pin ginkgo cli to test/go.mod ginkgo package
  Makefile
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Add HostUpdatePolicy API
  PROJECT
  apis/metal3.io/v1alpha1/hostupdatepolicy_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_hostupdatepolicies.yaml
  config/base/crds/kustomization.yaml
  config/base/rbac/role.yaml
  config/render/capm3.yaml
  controllers/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Use PR verifier from project-infra
  .github/workflows/pr-verifier.yaml
Due: gosec, gomod, unit, generate, manifestlint

Add redfish_https interface
  pkg/hardwareutils/bmc/access_test.go
  pkg/hardwareutils/bmc/redfish_https.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Provisioner code for servicing
  controllers/metal3.io/host_state_machine_test.go
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/clients/features.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/servicing.go
  pkg/provisioner/ironic/servicing_test.go
  pkg/provisioner/ironic/testserver/ironic.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Wire in servicing (updating provisioned hosts)
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/baremetalhost_controller_test.go
  pkg/provisioner/fixture/fixture.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Bump controller runtime to v0.18.5 anc cluster-api to v1.8.3
  apis/go.mod
  apis/go.sum
  go.mod
  go.sum
  test/e2e/cert_manager.go
  test/e2e/common.go
  test/go.mod
  test/go.sum
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Revert ":seedling: Bump github.com/gophercloud/gophercloud/v2 from 2.1.0 to 2.1.1"
  go.mod
  go.sum
Due: gosec, gomod, unit, generate, manifestlint

Added Error message when reconciling loop is triggered more than once Signed-off-by: “babugeet <abhinandhbg@gmail.com>”
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/bmceventsubscription_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fixed review comments
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/bmceventsubscription_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fixed lint issues Signed-off-by: babugeet <abhinandhbg@gmail.com>
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/bmceventsubscription_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fixed review comments
  controllers/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Added references to HostUpdatePolicy in checkServicing code.
  controllers/metal3.io/baremetalhost_controller.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Moved hostUpdatePolicySetOwnerReference calls from registerHost to manageHostPower.
  controllers/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

remove dataimage finalizer if bmh is missing
  controllers/metal3.io/dataimage_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

use ubuntu-latest rather than hosted 4-core runner
  .github/workflows/e2e-test.yml
Due: gosec, gomod, unit, generate, manifestlint

Revert "use ubuntu-latest rather than hosted 4-core runner"
  .github/workflows/e2e-test.yml
Due: gosec, gomod, unit, generate, manifestlint

merged status and inspect annotations
  docs/annotations.md
Due: markdownlint

bump markdownlint-cli2 to v0.12.0
  hack/markdownlint.sh
Due: gosec, gomod, markdownlint, shellcheck, unit, generate, manifestlint, test

First attempt to add a test for HostUpdatePolicy taking effect.
  controllers/metal3.io/baremetalhost_controller_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Fix minikube restart in e2e by trying in a loop
  hack/ci-e2e.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

fix: add json tags to match field annotation tag +patchStrategy
  apis/metal3.io/v1alpha1/hostfirmwaresettings_types.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint
