Repository metal3-io/metal3-dev-env: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)

Fix renovate config to bump Ansible major versions incrementally
  renovate.json
Due: none

fix reapprover workflow
  .github/workflows/pr-gh-workflow-approve.yaml
Due: none

fix: fix hardcoded registry IP and unify --platform flag
  02_configure_host.sh
  lib/common.sh
  lib/image_prepull.sh
Due: shellcheck

make test verify workflow independently executable
  Makefile
  tests/roles/run_tests/vars/main.yml
  tests/scripts/verify.sh
Due: shellcheck

Tilt: extend the list of the CRDs owned by BMO
  Tiltfile
Due: none

Tilt: ensure that we check for the right envsubst binary
  Tiltfile
Due: none

gitignore: ignore the tilt local-dev directory
  .gitignore
Due: none

remove ubuntu 20/18 mentions
  01_prepare_host.sh
  README.md
  lib/common.sh
  vm-setup/roles/packages_installation/defaults/main.yml
  vm-setup/roles/packages_installation/tasks/main.yml
Due: shellcheck, markdownlint

ci: be explicit with the minikube path
  01_prepare_host.sh
  02_configure_host.sh
  03_launch_mgmt_cluster.sh
  cluster_cleanup.sh
  lib/common.sh
Due: shellcheck

Add NAT64 to enable IPv6 provision in v4 only host
  tests/roles/run_tests/tasks/install_calico.yaml
  tests/roles/run_tests/templates/main/cluster-template-cluster.yaml
  tests/roles/run_tests/templates/main/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/main/cluster-template-workers-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/main/metal3datatemplate-template.yaml
  tests/roles/run_tests/vars/main.yml
  vars.md
  vm-setup/roles/nat64/defaults/main.yml
  vm-setup/roles/nat64/tasks/main.yml
  vm-setup/roles/nat64/tasks/setup_nat.yml
  vm-setup/roles/nat64/tasks/teardown_nat.yml
  vm-setup/roles/nat64/templates/named.conf.options
  vm-setup/roles/nat64/templates/resolv.conf
  vm-setup/roles/nat64/templates/tayga.conf
  vm-setup/roles/packages_installation/defaults/main.yml
  vm-setup/roles/packages_installation/files/daemon.json
  vm-setup/roles/packages_installation/templates/daemon.json
  vm-setup/setup-playbook.yml
  vm-setup/teardown-playbook.yml
Due: markdownlint

refactor: use absolute paths for external binaries
  01_prepare_host.sh
  02_configure_host.sh
  03_launch_mgmt_cluster.sh
  04_verify.sh
  cluster_cleanup.sh
  lib/common.sh
  lib/download.sh
  tests/roles/run_tests/tasks/generate_templates.yml
  tests/roles/run_tests/tasks/main.yml
  tests/roles/run_tests/tasks/move.yml
  tests/roles/run_tests/tasks/move_back.yml
  tests/roles/run_tests/tasks/upgrade_k8s.yml
  tests/roles/run_tests/vars/main.yml
  tests/scripts/fetch_manifests.sh
  tests/scripts/fetch_target_logs.sh
  tests/scripts/repivot.sh
  tilt-setup/deploy_tilt_env.sh
Due: shellcheck

suppress github actions zizmor warnings
  .github/workflows/pr-gh-workflow-approve.yaml
  .github/workflows/yamllint.yaml
Due: none

improve raw disk image handling
  lib/image_prepull.sh
  lib/images.sh
  tests/roles/run_tests/tasks/download_image.yml
  tests/roles/run_tests/vars/main.yml
Due: shellcheck

add zizmor scanner
  .github/workflows/zizmor.yml
Due: none

Bump go version to v1.25.8
  renovate.json
  vm-setup/roles/packages_installation/defaults/main.yml
Due: none

Add Renovate custom regex manager for go_version
  renovate.json
  vm-setup/roles/packages_installation/defaults/main.yml
  vm-setup/roles/packages_installation/tasks/main.yml
Due: none

Fix for v1beta2 contract
  tests/scripts/repivot.sh
Due: shellcheck

Import Go environment variables only if available
  lib/common.sh
Due: shellcheck

remove obsolete travis.yml
  .travis.yml
Due: none

Remove unused TARGET_NODE_MEMORY variable
  02_configure_host.sh
  lib/common.sh
  tests/roles/run_tests/vars/main.yml
  vars.md
Due: shellcheck, markdownlint

Add environment labels to ironic secrets
  03_launch_mgmt_cluster.sh
Due: shellcheck

Fix labling of IRSO secrets
  03_launch_mgmt_cluster.sh
Due: shellcheck

Increase DNF retry count for CentOS/RHEL package tasks
  vm-setup/roles/packages_installation/tasks/centos_required_packages.yml
  vm-setup/roles/packages_installation/tasks/main.yml
Due: none

fix: add libvirt-python to ansible venv pip install
  01_prepare_host.sh
Due: shellcheck

Change noCloudProvider to cloudProviderEnabled
  tests/roles/run_tests/templates/main/cluster-template-cluster.yaml
Due: none

Change main branch templates CAMP3 v1beta2 fields
  tests/roles/run_tests/templates/main/cluster-template-cluster.yaml
  tests/roles/run_tests/templates/main/metal3datatemplate-template.yaml
Due: none

Fix capm3 crs to work with v1beta2
  tests/roles/run_tests/tasks/verify_resources_states.yml
  tests/roles/run_tests/templates/main/Metal3MachineTemplate.yml
  tests/roles/run_tests/templates/main/cluster-template-cluster.yaml
  tests/roles/run_tests/templates/main/cluster-template-controlplane.yaml
  tests/roles/run_tests/templates/main/cluster-template-workers.yaml
  tests/roles/run_tests/templates/main/machine-healthcheck-controlplane.yaml
  tests/roles/run_tests/templates/main/machine-healthcheck-worker.yaml
  tests/roles/run_tests/templates/main/metal3datatemplate-template.yaml
Due: none

Add support for release-1.13
  README.md
  lib/common.sh
  lib/releases.sh
Due: shellcheck, markdownlint

Bump Kubernetes to v1.36.1
  config_example.sh
  lib/common.sh
  renovate.json
  tests/roles/run_tests/vars/main.yml
  vars.md
Due: shellcheck, markdownlint

Add templates for release 1.13
  tests/roles/run_tests/templates/release-1.13/Metal3MachineTemplate.yml
  tests/roles/run_tests/templates/release-1.13/capm3-clusterctl-settings.json
  tests/roles/run_tests/templates/release-1.13/cluster-api-clusterctl-settings.json
  tests/roles/run_tests/templates/release-1.13/cluster-template-cluster.yaml
  tests/roles/run_tests/templates/release-1.13/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.13/cluster-template-controlplane-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/release-1.13/cluster-template-controlplane-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/release-1.13/cluster-template-controlplane.yaml
  tests/roles/run_tests/templates/release-1.13/cluster-template-workers-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.13/cluster-template-workers-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/release-1.13/cluster-template-workers-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/release-1.13/cluster-template-workers.yaml
  tests/roles/run_tests/templates/release-1.13/clusterctl-vars.yaml
  tests/roles/run_tests/templates/release-1.13/machine-healthcheck-controlplane.yaml
  tests/roles/run_tests/templates/release-1.13/machine-healthcheck-worker.yaml
  tests/roles/run_tests/templates/release-1.13/metal3datatemplate-template.yaml
Due: none

Remove release-1.10 templates
  lib/common.sh
  tests/roles/run_tests/templates/release-1.10/Metal3MachineTemplate.yml
  tests/roles/run_tests/templates/release-1.10/capm3-clusterctl-settings.json
  tests/roles/run_tests/templates/release-1.10/cluster-api-clusterctl-settings.json
  tests/roles/run_tests/templates/release-1.10/cluster-template-cluster.yaml
  tests/roles/run_tests/templates/release-1.10/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.10/cluster-template-controlplane-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/release-1.10/cluster-template-controlplane.yaml
  tests/roles/run_tests/templates/release-1.10/cluster-template-workers-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.10/cluster-template-workers-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/release-1.10/cluster-template-workers.yaml
  tests/roles/run_tests/templates/release-1.10/clusterctl-vars.yaml
  tests/roles/run_tests/templates/release-1.10/machine-healthcheck-controlplane.yaml
  tests/roles/run_tests/templates/release-1.10/machine-healthcheck-worker.yaml
  tests/roles/run_tests/templates/release-1.10/metal3datatemplate-template.yaml
Due: shellcheck

Add Peppi-lotta as a reviewer
  OWNERS_ALIASES
Due: none

Set capm3 api default version to v1beta2
  lib/common.sh
Due: shellcheck

Do not output on stdout
  01_prepare_host.sh
Due: shellcheck

Domain name for registry and CAPI endpoint for VMs
  02_configure_host.sh
  03_launch_mgmt_cluster.sh
  lib/network.sh
  tests/roles/run_tests/templates/main/cluster-template-cluster.yaml
  tests/roles/run_tests/templates/main/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/main/cluster-template-controlplane-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/main/cluster-template-controlplane-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/main/cluster-template-controlplane.yaml
  tests/roles/run_tests/templates/main/cluster-template-workers-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/main/cluster-template-workers-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/main/cluster-template-workers-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/main/cluster-template-workers.yaml
  tests/roles/run_tests/templates/main/metal3datatemplate-template.yaml
  tests/roles/run_tests/templates/release-1.11/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.11/cluster-template-controlplane-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/release-1.11/cluster-template-controlplane-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/release-1.11/cluster-template-workers-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.11/cluster-template-workers-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/release-1.11/cluster-template-workers-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/release-1.12/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.12/cluster-template-controlplane-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/release-1.12/cluster-template-controlplane-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/release-1.12/cluster-template-workers-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.12/cluster-template-workers-kubeadm-config-leap.yaml
  tests/roles/run_tests/templates/release-1.12/cluster-template-workers-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/release-1.13/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.13/cluster-template-controlplane-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/templates/release-1.13/cluster-template-workers-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/release-1.13/cluster-template-workers-kubeadm-config-ubuntu.yaml
  tests/roles/run_tests/vars/main.yml
  vars.md
  vm-setup/roles/common/defaults/main.yml
Due: shellcheck, markdownlint

Update kind to 0.32 and kindest/node to v1.36.1
  lib/common.sh
Due: shellcheck

Bump ansible
  lib/common.sh
  vm-setup/roles/common/tasks/main.yml
Due: shellcheck

Increase Minikube defaults to 4 CPUs and 6Gi memory
  02_configure_host.sh
Due: shellcheck
