Repository metal3-io/metal3-dev-env: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

remove duplicates from OWNERS_ALIASES
  OWNERS_ALIASES
Due: none

bump k8s to v1.31.0-rc.0
  lib/common.sh
  lib/releases.sh
  tests/roles/run_tests/vars/main.yml
Due: shellcheck

Add changes releted to v1.8 release
  README.md
  lib/common.sh
  lib/releases.sh
Due: shellcheck, markdownlint

Silence fetch logs and fetch manifests.
  tests/scripts/fetch_manifests.sh
  tests/scripts/fetch_target_logs.sh
Due: shellcheck

bump k8s to v1.31.0
  config_example.sh
  lib/common.sh
  lib/releases.sh
  renovate.json
  tests/roles/run_tests/vars/main.yml
  vars.md
Due: shellcheck, markdownlint

Add-release-1.8-branch-config
  README.md
  lib/common.sh
  lib/releases.sh
Due: shellcheck, markdownlint

Fixing CAPM3RELEASE for main branch
  lib/releases.sh
Due: shellcheck

use new ironic-image 26.0.0 release for release-1.8
  README.md
  lib/common.sh
Due: shellcheck, markdownlint

bump BMO tags after releases and drop 1.5 config
  lib/common.sh
Due: shellcheck

bump Ironic-image versions
  lib/common.sh
Due: shellcheck

Fix `make` pass if ironic endpoint returns 000
  04_verify.sh
Due: shellcheck

Remove release-1.5 from test matrix
  03_launch_mgmt_cluster.sh
  README.md
  lib/common.sh
  lib/releases.sh
  vars.md
  vm-setup/install-package-playbook.yml
Due: shellcheck, markdownlint

Test Deploy-cli
  02_configure_host.sh
  03_launch_mgmt_cluster.sh
  tests/roles/run_tests/tasks/move.yml
  tests/roles/run_tests/tasks/move_back.yml
Due: shellcheck

Enable 'redfish-https' as a vm_driver_tmp
  config_example.sh
  vars.md
  vm-setup/roles/libvirt/templates/ironic_nodes.json.j2
Due: shellcheck, markdownlint

Bump minikube to v1.34.0
  lib/common.sh
Due: shellcheck

Allowing downloadable checksums and different checksum formats
  lib/common.sh
  lib/download.sh
Due: shellcheck

bump markdownlint-cli2 to v0.12.0
  hack/markdownlint.sh
Due: shellcheck, markdownlint

Add option to run fakeIPA
  02_configure_host.sh
  03_launch_mgmt_cluster.sh
  04_verify.sh
  config_example.sh
  host_cleanup.sh
  lib/common.sh
  vars.md
  vm-setup/roles/common/tasks/generate_node_mac.yml
  vm-setup/roles/common/tasks/write_ironic_nodes_tasks.yml
  vm-setup/roles/common/templates/ironic_nodes.json.j2
  vm-setup/roles/libvirt/tasks/network_setup_tasks.yml
  vm-setup/roles/libvirt/tasks/vm_setup_tasks.yml
  vm-setup/roles/virtbmc/tasks/setup_tasks.yml
  vm-setup/roles/virtbmc/templates/fake_nodes.json.j2
  vm-setup/setup-playbook.yml
Due: shellcheck, markdownlint

increase max generated macs to 255
  03_launch_mgmt_cluster.sh
  vm-setup/library/generate_macs.py
  vm-setup/roles/virtbmc/tasks/setup_tasks.yml
Due: shellcheck

Skip heavy tasks not needed by fake platform
  01_prepare_host.sh
Due: shellcheck

Test IPAM and CAPM3 changes together because tests don't pass alone due to namespace name change
  03_launch_mgmt_cluster.sh
  04_verify.sh
  config_example.sh
  tests/roles/run_tests/tasks/move.yml
Due: shellcheck

Add FKAS image build
  02_configure_host.sh
  03_launch_mgmt_cluster.sh
  lib/common.sh
Due: shellcheck

Add option to skip apply BMHs
  03_launch_mgmt_cluster.sh
  04_verify.sh
  config_example.sh
  vars.md
Due: shellcheck, markdownlint

Run FakeIPA with dev-env
  01_prepare_host.sh
  02_configure_host.sh
  03_launch_mgmt_cluster.sh
  04_verify.sh
  config_example.sh
  host_cleanup.sh
  lib/common.sh
  vars.md
  vm-setup/library/generate_macs.py
  vm-setup/roles/common/tasks/generate_node_mac.yml
  vm-setup/roles/common/tasks/write_ironic_nodes_tasks.yml
  vm-setup/roles/common/templates/ironic_nodes.json.j2
  vm-setup/roles/libvirt/tasks/network_setup_tasks.yml
  vm-setup/roles/libvirt/tasks/vm_setup_tasks.yml
  vm-setup/roles/virtbmc/tasks/setup_tasks.yml
  vm-setup/roles/virtbmc/templates/fake_nodes.json.j2
  vm-setup/setup-playbook.yml
Due: shellcheck, markdownlint

Add Fake K8s API sever (FKAS) image
  01_prepare_host.sh
  02_configure_host.sh
  lib/common.sh
  vars.md
Due: shellcheck, markdownlint

Add Fake K8s API sever (FKAS) image
  01_prepare_host.sh
  02_configure_host.sh
  03_launch_mgmt_cluster.sh
  04_verify.sh
  lib/common.sh
  vars.md
  vm-setup/roles/common/tasks/write_ironic_nodes_tasks.yml
Due: shellcheck, markdownlint

Add tls certs to fakeIPA config
  03_launch_mgmt_cluster.sh
  vm-setup/roles/virtbmc/tasks/setup_tasks.yml
Due: shellcheck

Disable ironic agent tls with fakeIPA
  03_launch_mgmt_cluster.sh
Due: shellcheck

Add PoCs folder and descriptions
  PoCs/README.md
Due: markdownlint

Uplift k8s to v1.31.2
  config_example.sh
  lib/common.sh
  tests/roles/run_tests/vars/main.yml
Due: shellcheck

Add cleaning up fake-ipa container to make clean
  host_cleanup.sh
Due: shellcheck

use uuidgen to generate random username/password
  lib/ironic_basic_auth.sh
Due: shellcheck

Add support for Ubuntu 24.04
  01_prepare_host.sh
  lib/common.sh
  vm-setup/roles/packages_installation/defaults/main.yml
  vm-setup/roles/packages_installation/tasks/main.yml
  vm-setup/roles/packages_installation/tasks/ubuntu_required_packages.yml
Due: shellcheck

Default to quay.io for image hub and registry image
  02_configure_host.sh
  lib/common.sh
  renovate.json
  tests/roles/run_tests/tasks/verify.yml
  tests/roles/run_tests/vars/main.yml
  vars.md
Due: shellcheck, markdownlint

Extract get_component_image from update_component_image
  03_launch_mgmt_cluster.sh
Due: shellcheck

Clone and start ironic-standalone-operator
  02_configure_host.sh
  03_launch_mgmt_cluster.sh
  lib/common.sh
  vars.md
Due: shellcheck, markdownlint

reformat root level bash files
  cluster_cleanup.sh
  disable_apparmor_driver_libvirtd.sh
  host_cleanup.sh
  openstackclient.sh
  ubuntu_bridge_network_configuration.sh
  vbmc.sh
Due: shellcheck

reformat 01 script bash syntax
  01_prepare_host.sh
Due: shellcheck

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
