Repository metal3-io/ip-address-manager: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, shellcheck, unit, generate, manifestlint

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

golangci-lint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/ensure-golangci-lint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

govet:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/govet.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/codegen.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

Update .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Update .github/workflows/lint-docs.yaml
  .github/workflows/lint-docs.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

fix distroless:nonroot pinning
  Dockerfile
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Include all gomods in different directories for Dependabot
  .github/dependabot.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Add support for mac (kustomize)
  hack/tools/install_kustomize.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint

Added tls configuration flags for ipam
  main.go
  main_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Add CAPI metadata.yaml and add namespace resource in release manifests
  Makefile
  config/default/kustomization.yaml
  config/default/namespace.yaml
  metadata.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint

Added tls flags for ipam release 1.3
  main.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump golang to v1.20
  .github/workflows/release.yaml
  .golangci.yaml
  Dockerfile
  api/go.mod
  go.mod
  hack/codegen.sh
  hack/ensure-golangci-lint.sh
  hack/gofmt.sh
  hack/gomod.sh
  hack/govet.sh
  hack/tools/go.mod
  hack/unit.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint

Bump golangci-lint to v1.52.1
  .github/workflows/golangci-lint.yml
  Makefile
  api/v1alpha1/utils.go
  controllers/ippool_controller.go
  hack/ensure-golangci-lint.sh
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
  ipam/ippool_manager.go
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint

Bump capi v1.5.0 and CR v0.15.0 remove deprecated linters(varcheck, structcheck, deadcode)
  .golangci.yaml
  api/go.mod
  api/go.sum
  api/v1alpha1/ipaddress_webhook.go
  api/v1alpha1/ipaddress_webhook_test.go
  api/v1alpha1/ipclaim_webhook.go
  api/v1alpha1/ipclaim_webhook_test.go
  api/v1alpha1/ippool_webhook.go
  api/v1alpha1/ippool_webhook_test.go
  config/crd/bases/ipam.metal3.io_ipaddresses.yaml
  config/crd/bases/ipam.metal3.io_ipclaims.yaml
  config/crd/bases/ipam.metal3.io_ippools.yaml
  controllers/ippool_controller.go
  controllers/ippool_controller_test.go
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  ipam/ippool_manager_test.go
  test/fuzz/ippool_controller_fuzzer.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Fixed code quality issues in ipam tls configuration.
  main.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

bump x/net to v0.14.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

bump x/net to 0.14.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump golangci-lint to v1.54.2
  .github/workflows/golangci-lint.yml
  .golangci.yaml
  hack/ensure-golangci-lint.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint

Bump CAPI to v1.4.5
  docs/releasing.md
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, unit, generate, manifestlint

Bump CAPI to v1.3.10
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Remove unnecessary replace blocks from go modules
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Update releasing doc to include CAPI bumps
  docs/releasing.md
Due: markdownlint

Bump controller-runtime to v0.15.2
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

bump golang build_image to 1.20.7
  Dockerfile
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump CAPI to v1.5.1 and cert-manager to v1.12.3
  examples/generate.sh
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint

Bump CAPI to v1.4.6 and cert-manager to v1.12.3
  examples/generate.sh
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint

update README.md
  README.md
Due: markdownlint

improve release notes tool
  hack/tools/release/notes.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

update releasing.md
  docs/releasing.md
Due: markdownlint

Remove unused scripts and Makefile phonys
  Makefile
  hack/ensure-go.sh
  hack/ensure-kind.sh
  hack/ensure-kubectl.sh
  hack/ensure-kustomize.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint

Add build phony for building gomodules
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint

run dependabot less often
  .github/dependabot.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

fix ensure-golangci-lint digests
  hack/ensure-golangci-lint.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint

bump gosec to 2.17.0, and fix gosec for submodules
  .golangci.yaml
  hack/gosec.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint

don't ignore #nosec in golangci-lint config
  .golangci.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

remove hack/gosec.sh
  hack/gosec.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint

test do not merge
  README.md
  go.mod
Due: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, unit, generate, manifestlint

Path conditions:
  gomod: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: \.md$
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$
