Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  golint: any of: \.go$
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$

:rocket: Release v0.11.5
  releasenotes/v0.11.5.md
Due: markdownlint

:rocket: Release v0.12.2
  releasenotes/v0.12.2.md
Due: markdownlint

Conditions implementation for BareMetalHosts
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  go.mod
  go.sum
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_controller_test.go
  internal/controller/metal3.io/host_state_machine_test.go
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

✨ feat: add hostProvisionerProperties to BMH
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  docs/api.md
  internal/controller/metal3.io/baremetalhost_controller.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/register.go
  pkg/provisioner/ironic/register_test.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, markdownlint, unit, generate, golint, manifestlint

E2E: Use per-test cluster for upgrades
  config/overlays/e2e-release-0.10/ironic.env
  config/overlays/e2e-release-0.11/ironic.env
  config/overlays/e2e-release-0.9/ironic.env
  config/overlays/e2e-upgrade/ironic.env
  config/overlays/e2e-upgrade/kustomization.yaml
  test/e2e/common.go
  test/e2e/config/ironic.yaml
  test/e2e/data/ironic-standalone-operator/components/upgrade-ip/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-27.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-28.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-29.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-30.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-31.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-upgrade/kustomization.yaml
  test/e2e/e2e_config.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fixed issues with last rebase with main
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_controller_test.go
  internal/controller/metal3.io/host_state_machine_test.go
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Addressed review comments
  .github/workflows/build-pr.yml
  Makefile
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Utilities for unit testing of HostClaims
  Makefile
  internal/testing/common.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

Adds Associate logic for HostClaim
  go.mod
  go.sum
  pkg/hostclaim/hostclaim_manager.go
  pkg/hostclaim/hostclaim_manager_test.go
  pkg/hostclaim/requeue_error.go
  pkg/hostclaim/requeue_error_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add tests for per-host OCI registry authentication
  internal/controller/metal3.io/baremetalhost_controller_test.go
  internal/controller/metal3.io/image_auth_validator_test.go
  pkg/secretutils/dockerconfig_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Document authSecretName field for OCI image authentication
  docs/api.md
Due: markdownlint

Add per-host OCI registry authentication for provisioning images
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/base/crds/bases/metal3.io_hostclaims.yaml
  config/render/capm3.yaml
  go.mod
  go.sum
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/image_auth_validator.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
  pkg/secretutils/dockerconfig.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Make BMH detach handling more robust
  internal/controller/metal3.io/host_state_machine.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Bump golang to v1.25
  .golangci.yaml
  Dockerfile
  Makefile
  Tiltfile
  apis/go.mod
  go.mod
  hack/e2e/ensure_go.sh
  hack/generate.sh
  hack/gomod.sh
  hack/tools/go.mod
  pkg/hardwareutils/go.mod
  test/go.mod
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Bump golangci-lint to v2.10.1
  Makefile
  cmd/make-bm-worker/templates/templates.go
  cmd/make-virt-host/main.go
  pkg/hardwareutils/bmc/credentials.go
  pkg/imageprovider/invalid.go
  pkg/provisioner/ironic/clients/auth.go
  pkg/provisioner/ironic/ironic.go
  pkg/version/version.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

feat: add hostProvisionerProperties applied/ignored keys to status
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  internal/controller/metal3.io/baremetalhost_controller.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/register.go
  pkg/provisioner/ironic/register_test.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Parameterize container tool in Makefile
  Makefile
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Enable BMO to abort servicing to back out of failures
  internal/controller/metal3.io/baremetalhost_controller.go
  pkg/provisioner/ironic/servicing.go
  pkg/provisioner/ironic/servicing_test.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add basic fuzzing
  Makefile
  test/fuzz/README.md
  test/fuzz/bmc_fuzz_test.go
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

E2E: Avoid pre-pulling release-0.8
  test/e2e/config/ironic.yaml
Due: gosec, gomod, unit, generate, manifestlint

Avoid pre-pulling release-0.6 and release-0.8
  test/e2e/config/ironic.yaml
  test/e2e/e2e_suite_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Addressed review comments
  Makefile
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

add smoshiur1237 as reviewer
  OWNERS_ALIASES
Due: gosec, gomod, unit, generate, manifestlint

Bump opentelemetry.io/otel/sdk to v1.40.0
  go.mod
  go.sum
Due: gosec, gomod, unit, generate, manifestlint

Add multi-architecture PXE boot support
  internal/controller/metal3.io/baremetalhost_controller.go
  pkg/provisioner/ironic/inspecthardware.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/register.go
  pkg/provisioner/ironic/register_test.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add Sunnatillo as reviewer
  OWNERS_ALIASES
Due: gosec, gomod, unit, generate, manifestlint

feat: add vendor annotation for overriding Ironic node vendor property
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  docs/api.md
  internal/controller/metal3.io/baremetalhost_controller.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/register.go
  pkg/provisioner/ironic/register_test.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, markdownlint, unit, generate, golint, manifestlint

E2E: Serial logs per test
  test/e2e/automated_cleaning_test.go
  test/e2e/basic_ops_test.go
  test/e2e/common.go
  test/e2e/external_inspection_test.go
  test/e2e/externally_provisioned_test.go
  test/e2e/inspection_test.go
  test/e2e/live_iso_test.go
  test/e2e/provisioning_and_annotation_test.go
  test/e2e/re_inspection_test.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Bump golang for image build to v1.25.7
  Dockerfile
  Makefile
  hack/e2e/ensure_go.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Bump golangci-lint to v2.5.0 and fix noctx findings
  Makefile
  cmd/make-virt-host/main.go
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

bump osv-scanner in hack/verify-release.sh
  hack/verify-release.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test
