Repository Nordix/metal3-clusterapi-docs: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

Remove @mquhuy from approvers
  OWNERS_ALIASES
Due: none

add Peppi-Lotta and Feruz to approvers
  OWNERS_ALIASES
Due: none

add PKCE option to kubelogin POC
  security/kubelogin-poc/README.md
  security/kubelogin-poc/k8s/dex-device-code.yaml
  security/kubelogin-poc/k8s/dex-password.yaml
  security/kubelogin-poc/kubeconfig.device-code.example
  security/kubelogin-poc/kubeconfig.password.example
  security/kubelogin-poc/run.sh
Due: shellcheck, markdownlint

update kubelogin-poc to include offline_access
  security/kubelogin-poc/README.md
  security/kubelogin-poc/kubeconfig.device-code.example
  security/kubelogin-poc/kubeconfig.password.example
  security/kubelogin-poc/run.sh
Due: shellcheck, markdownlint

N+3 upgrade poc
  n+3-upgrade/n+3-upgrade.md
Due: markdownlint

update keylime-poc to non-root + hwtpm poc
  security/keylime-poc/.gitignore
  security/keylime-poc/Makefile
  security/keylime-poc/README.md
  security/keylime-poc/k8s/agents/agent-daemonset-hw.yaml
  security/keylime-poc/k8s/agents/agent/Dockerfile
  security/keylime-poc/k8s/agents/agent/keylime-agent.conf
  security/keylime-poc/k8s/agents/agent/start.sh
  security/keylime-poc/k8s/agents/agent/swtpm-init.sh
  security/keylime-poc/k8s/agents/device-plugin.yaml
  security/keylime-poc/scripts/build-agent.sh
  security/keylime-poc/scripts/create-vtpm-vm.sh
  security/keylime-poc/scripts/deploy-agent-clusters.sh
  security/keylime-poc/scripts/deploy-hwtpm-agents.sh
  security/keylime-poc/scripts/destroy-vtpm-vm.sh
  security/keylime-poc/scripts/generate-certs.sh
  security/keylime-poc/scripts/verify-attestation.sh
  security/keylime-poc/scripts/vm-setup.sh
Due: shellcheck, markdownlint

update keylime-poc with pop auth
  security/keylime-poc/k8s/agents/agent-daemonset-hw.yaml
  security/keylime-poc/k8s/agents/agent-daemonset.yaml
  security/keylime-poc/k8s/infra/configmaps/verifier.conf
  security/keylime-poc/scripts/verify-attestation.sh
Due: shellcheck

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
