Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: \.md$
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  golint: any of: \.go$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$

Add e2e basic operation test
  hack/ci-e2e.sh
  test/e2e/basic_ops_test.go
  test/e2e/common.go
  test/e2e/config/ironic.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/external_inspection_test.go
  test/go.mod
  test/go.sum
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

Fix unbound variable issue in markdownlint script
  CONTRIBUTING.md
  hack/markdownlint.sh
Due: gosec, gomod, markdownlint, shellcheck, unit, generate, manifestlint

Adding go work files in gitignore
  .gitignore
Due: gosec, gomod, unit, generate, manifestlint

Fixing ensure-go script to allow higher go versions
  hack/e2e/ensure_go.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

Implement BMH provisioning E2E test
  .gitignore
  Makefile
  hack/ci-e2e.sh
  hack/clean-e2e.sh
  test/e2e/basic_provisioning_test.go
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

bump CAPI to v1.5.3
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint

test release-0.3
  CONTRIBUTING.md
Due: markdownlint

add verify-release.sh
  hack/verify-release.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

fix various issues with go modules
  Makefile
  apis/go.mod
  apis/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

bump x/net to v0.17.0
  apis/go.mod
  apis/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gosec, gomod, unit, generate, manifestlint

Re-inspection by annotation test added
  .gitignore
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/re_inspection_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Log node updates with a normal logger
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/raid.go
  pkg/provisioner/ironic/update_opts.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add release-0.3 branch test triggers
  README.md
Due: markdownlint

Adding PR title verifier
  .github/workflows/pr-verifier.yaml
Due: gosec, gomod, unit, generate, manifestlint

Integrate sushy-tools and Redfish into e2e testing
  hack/ci-e2e.sh
  hack/clean-e2e.sh
  test/e2e/config/ironic.yaml
  test/e2e/sushy-tools/sushy-emulator.conf
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

Do not update instance_info and deploy_interface for active nodes
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/validatemanagementaccess_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Clean up logging and error handling in the webhooks
  apis/go.mod
  apis/metal3.io/v1alpha1/baremetalhost_validation.go
  apis/metal3.io/v1alpha1/baremetalhost_validation_test.go
  apis/metal3.io/v1alpha1/baremetalhost_webhook.go
  apis/metal3.io/v1alpha1/bmceventsubscription_validation.go
  apis/metal3.io/v1alpha1/bmceventsubscription_validation_test.go
  apis/metal3.io/v1alpha1/bmceventsubscription_webhook.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Refactor handling the provisioner's ready status
  pkg/provisioner/ironic/adopt_test.go
  pkg/provisioner/ironic/configdrive_test.go
  pkg/provisioner/ironic/delete_test.go
  pkg/provisioner/ironic/dependencies.go
  pkg/provisioner/ironic/inspecthardware_test.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/power_test.go
  pkg/provisioner/ironic/provision_test.go
  pkg/provisioner/ironic/ready_test.go
  pkg/provisioner/ironic/testserver/ironic.go
  pkg/provisioner/ironic/updatehardwarestate_test.go
  pkg/provisioner/ironic/validatemanagementaccess_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Implement API version negotiation
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/bmceventsubscription_controller.go
  controllers/metal3.io/host_state_machine_test.go
  controllers/metal3.io/hostfirmwaresettings_controller.go
  go.mod
  go.sum
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/clients/client.go
  pkg/provisioner/ironic/clients/features.go
  pkg/provisioner/ironic/dependencies.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/ready_test.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Don't munge timestamp in structured logs, again
  main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Implement Detached/Status Annotation E2E Test
  test/e2e/basic_provisioning_test.go
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Replace uses of kubectl and cmctl binaries in e2e
  hack/ci-e2e.sh
  hack/e2e/ensure_cmctl.sh
  test/e2e/cert_manager.go
  test/e2e/common.go
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/e2e_suite_test.go
  test/go.mod
  test/go.sum
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

Commit signing off update.
  CONTRIBUTING.md
Due: markdownlint

Add CI-independent BMO e2e tests
  .github/workflows/e2e-fixture-test.yml
  test/e2e/basic_ops_test.go
  test/e2e/basic_provisioning_test.go
  test/e2e/config/ironic.yaml
  test/e2e/external_inspection_test.go
  test/e2e/inspection_test.go
  test/e2e/re_inspection_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Remove traces of IRONIC_INSPECTOR_ENDPOINT in BMO
  Makefile
  config/default/ironic.env
  config/overlays/e2e/ironic.env
  config/render/capm3.yaml
  docs/configuration.md
  docs/dev-setup.md
  hack/generate.sh
  hack/ironic_ci.env
  hack/unit.sh
  ironic-deployment/components/keepalived/ironic_bmo_configmap.env
  ironic-deployment/default/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e/ironic_bmo_configmap.env
  tools/run_local_ironic.sh
Due: gosec, gomod, markdownlint, shellcheck, unit, generate, manifestlint

Test live-ISO provisioning in e2e and confirm successful boot
  go.mod
  go.sum
  hack/ci-e2e.sh
  test/e2e/common.go
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/live_iso_test.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

Implement Helper Functions for E2E Tests
  test/e2e/basic_ops_test.go
  test/e2e/basic_provisioning_test.go
  test/e2e/common.go
  test/e2e/config/fixture.yaml
  test/e2e/external_inspection_test.go
  test/e2e/inspection_test.go
  test/e2e/re_inspection_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Enable the Redfish RAID interfaces
  pkg/hardwareutils/bmc/redfish.go
  pkg/hardwareutils/bmc/redfish_virtualmedia.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Support both Ironic and Inspector inventory formats
  go.mod
  go.sum
  pkg/provisioner/ironic/hardwaredetails/hardwaredetails.go
  pkg/provisioner/ironic/hardwaredetails/hardwaredetails_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Re-enable previously disabled RAID interfaces
  apis/vendor/github.com/metal3-io/baremetal-operator/pkg/hardwareutils/bmc/idrac.go
  apis/vendor/github.com/metal3-io/baremetal-operator/pkg/hardwareutils/bmc/idrac_virtualmedia.go
  apis/vendor/github.com/metal3-io/baremetal-operator/pkg/hardwareutils/bmc/ilo5.go
  apis/vendor/github.com/metal3-io/baremetal-operator/pkg/hardwareutils/bmc/redfish.go
  pkg/hardwareutils/bmc/idrac.go
  pkg/hardwareutils/bmc/idrac_virtualmedia.go
  pkg/hardwareutils/bmc/ilo5.go
  pkg/hardwareutils/bmc/redfish.go
  vendor/github.com/metal3-io/baremetal-operator/pkg/hardwareutils/bmc/idrac.go
  vendor/github.com/metal3-io/baremetal-operator/pkg/hardwareutils/bmc/idrac_virtualmedia.go
  vendor/github.com/metal3-io/baremetal-operator/pkg/hardwareutils/bmc/ilo5.go
  vendor/github.com/metal3-io/baremetal-operator/pkg/hardwareutils/bmc/redfish.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Support FirmwareInterface
  go.mod
  go.sum
  pkg/hardwareutils/bmc/access.go
  pkg/hardwareutils/bmc/access_test.go
  pkg/hardwareutils/bmc/ibmc.go
  pkg/hardwareutils/bmc/idrac.go
  pkg/hardwareutils/bmc/idrac_virtualmedia.go
  pkg/hardwareutils/bmc/ilo4.go
  pkg/hardwareutils/bmc/ilo5.go
  pkg/hardwareutils/bmc/ipmi.go
  pkg/hardwareutils/bmc/irmc.go
  pkg/hardwareutils/bmc/redfish.go
  pkg/hardwareutils/bmc/redfish_virtualmedia.go
  pkg/provisioner/ironic/clients/features.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/prepare_test.go
  pkg/provisioner/ironic/testbmc/testbmc.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2e: Enable basic-auth and TLS
  .gitignore
  config/README.md
  config/overlays/basic-auth_tls/kustomization.yaml
  config/overlays/e2e/ironic.env
  config/overlays/e2e/kustomization.yaml
  config/overlays/fixture/kustomization.yaml
  hack/ci-e2e.sh
  ironic-deployment/overlays/e2e/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e/kustomization.yaml
  test/e2e/e2e_suite_test.go
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint

Detect which inspection implementation to use for new nodes
  go.mod
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/testserver/ironic.go
  pkg/provisioner/ironic/validatemanagementaccess_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint
