Repository metal3-io/metal3-dev-env: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

Enable 'redfish-https' as a vm_driver_tmp
  config_example.sh
  vars.md
  vm-setup/roles/common/templates/ironic_nodes.json.j2
Due: shellcheck, markdownlint

Allow using ironic-standalone-operator to provision Ironic
  03_launch_mgmt_cluster.sh
  config_example.sh
  lib/common.sh
  lib/ironic_basic_auth.sh
  lib/network.sh
Due: shellcheck

measure time how long wget runs
  03_launch_mgmt_cluster.sh
  lib/download.sh
  lib/image_prepull.sh
  tests/roles/run_tests/tasks/download_image.yml
Due: shellcheck

Temporary pin ironic-standalone-operator image
  lib/common.sh
Due: shellcheck

Allow having digests in local images
  02_configure_host.sh
  03_launch_mgmt_cluster.sh
Due: shellcheck

Get lates release with goproxy
  03_launch_mgmt_cluster.sh
  lib/releases.sh
  tests/roles/run_tests/tasks/generate_templates.yml
  tests/roles/run_tests/vars/main.yml
  vars.md
Due: shellcheck, markdownlint

Test IPAM and CAPM3 changes together because tests don't pass alone due to namespace name change
  03_launch_mgmt_cluster.sh
  04_verify.sh
  config_example.sh
  tests/roles/run_tests/tasks/move.yml
  tests/roles/run_tests/vars/main.yml
Due: shellcheck

cleanup and reformat bash syntax of 03 script
  03_launch_mgmt_cluster.sh
Due: shellcheck

Wait for local ironic to be up
  03_launch_mgmt_cluster.sh
  lib/common.sh
Due: shellcheck

Add tls certs to fakeIPA config
  03_launch_mgmt_cluster.sh
  vm-setup/roles/virtbmc/tasks/setup_tasks.yml
Due: shellcheck

launch irso only we we actually use it
  03_launch_mgmt_cluster.sh
Due: shellcheck

cleanup and reformat bash syntax in 04 script
  01_prepare_host.sh
  02_configure_host.sh
  03_launch_mgmt_cluster.sh
  04_verify.sh
  cluster_cleanup.sh
  config_example.sh
  host_cleanup.sh
  lib/common.sh
  lib/utils.sh
  openstackclient.sh
  tests/test.sh
  ubuntu_bridge_network_configuration.sh
  vbmc.sh
Due: shellcheck

Bump k8s to 1.32.0
  config_example.sh
  lib/common.sh
  lib/releases.sh
  renovate.json
  tests/roles/run_tests/vars/main.yml
  vars.md
Due: shellcheck, markdownlint

add support for release-1.9
  README.md
  lib/common.sh
  lib/releases.sh
Due: shellcheck, markdownlint

Take Deploy-cli into use to replace deploy.sh
  02_configure_host.sh
  03_launch_mgmt_cluster.sh
  tests/roles/run_tests/tasks/move.yml
  tests/roles/run_tests/tasks/move_back.yml
Due: shellcheck

remove release-1.6 support
  README.md
  lib/common.sh
  lib/releases.sh
Due: shellcheck, markdownlint

Check default value of CAPM3RELEASE before setting it
  lib/releases.sh
Due: shellcheck

Update to the latest ironic-standalone-operator
  03_launch_mgmt_cluster.sh
  lib/common.sh
Due: shellcheck

Test IPAM and CAPM3 changes together because tests don't pass alone due to namespace name change
  03_launch_mgmt_cluster.sh
  04_verify.sh
  config_example.sh
  lib/releases.sh
  tests/roles/run_tests/tasks/move.yml
  tests/roles/run_tests/vars/main.yml
Due: shellcheck

update release-1.7 tested versions
  README.md
Due: markdownlint

use ufei default instead of bios
  config_example.sh
  lib/common.sh
  lib/network.sh
  vars.md
  vm-setup/roles/common/tasks/vm_nodes_tasks.yml
  vm-setup/roles/libvirt/defaults/main.yml
  vm-setup/roles/libvirt/templates/baremetalvm.xml.j2
Due: shellcheck, markdownlint

Add move labels to BMH CRDs
  tests/roles/run_tests/tasks/move.yml
Due: none

Migrate ansible filters from netcommon to utils
  vm-setup/roles/common/defaults/main.yml
  vm-setup/roles/common/tasks/extra_networks_tasks.yml
  vm-setup/roles/common/templates/ironic_nodes.json.j2
  vm-setup/roles/libvirt/templates/network.xml.j2
  vm-setup/roles/virtbmc/tasks/setup_tasks.yml
Due: none

Bump minikube to v1.35.0 and kind to v0.26.0
  lib/common.sh
Due: shellcheck

Add @adilGhaffarDev and @mquhuy as reviewers
  OWNERS_ALIASES
Due: none

Update renovate.json config
  renovate.json
Due: none

Support UEFI boot on ubuntu noble
  vm-setup/roles/common/tasks/vm_nodes_tasks.yml
  vm-setup/roles/libvirt/templates/baremetalvm.xml.j2
Due: none

DNM: testing CI
  README.md
Due: markdownlint

Revert "Migrate ansible filters from netcommon to utils"
  vm-setup/roles/common/defaults/main.yml
  vm-setup/roles/common/tasks/extra_networks_tasks.yml
  vm-setup/roles/common/templates/ironic_nodes.json.j2
  vm-setup/roles/libvirt/templates/network.xml.j2
  vm-setup/roles/virtbmc/tasks/setup_tasks.yml
Due: none

Remove noCloudProvider and add cloudProviderEnabled
  lib/common.sh
Due: shellcheck

Revert "🌱 Add tls certs to fakeIPA config"
  03_launch_mgmt_cluster.sh
  vm-setup/roles/virtbmc/tasks/setup_tasks.yml
Due: shellcheck

Test IPAM and CAPM3 changes together because tests don't pass alone due to namespace name change
  03_launch_mgmt_cluster_pre_1_10.sh
  04_verify.sh
  config_example.sh
  lib/releases.sh
  tests/roles/run_tests/tasks/move.yml
  tests/roles/run_tests/vars/main.yml
Due: shellcheck

Move mboukhalfa to emeritus approvers
  OWNERS
  OWNERS_ALIASES
Due: none

Bump k8s to v1.32.1
  config_example.sh
  lib/common.sh
  tests/roles/run_tests/vars/main.yml
  vars.md
Due: shellcheck, markdownlint

Pin IPA version
  README.md
  lib/common.sh
Due: shellcheck, markdownlint

Add execution right to file
  03_launch_mgmt_cluster_pre_1_10.sh
  config_example.sh
Due: shellcheck

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
