Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17.5
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:latest
      imagePullPolicy: Always

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.17.5
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:latest
      imagePullPolicy: Always

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:stable
      imagePullPolicy: Always

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/generate.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

golint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/golint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: quay.io/metal3-io/golint:latest
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/garethr/kubeval:latest
      imagePullPolicy: Always

Update vendor
  apis/go.mod
  vendor/github.com/metal3-io/baremetal-operator/apis/metal3.io/v1alpha1/baremetalhost_validation.go
  vendor/github.com/metal3-io/baremetal-operator/apis/metal3.io/v1alpha1/firmwareschema_types.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Do not add secret finalizer while deleting an host
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/baremetalhost_controller_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add BMC subscription CRD and reconciler
  PROJECT
  apis/go.mod
  apis/metal3.io/v1alpha1/bmceventsubscription_types.go
  apis/metal3.io/v1alpha1/bmceventsubscription_validation.go
  apis/metal3.io/v1alpha1/bmceventsubscription_validation_test.go
  apis/metal3.io/v1alpha1/bmceventsubscription_webhook.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/metal3.io_bmceventsubscriptions.yaml
  config/crd/kustomization.yaml
  config/crd/patches/cainjection_in_bmceventsubscriptions.yaml
  config/crd/patches/webhook_in_bmceventsubscriptions.yaml
  config/rbac/bmceventsubscription_editor_role.yaml
  config/rbac/bmceventsubscription_viewer_role.yaml
  config/rbac/role.yaml
  config/render/capm3.yaml
  config/webhook/manifests.yaml
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/bmceventsubscription_controller.go
  controllers/metal3.io/host_state_machine_test.go
  controllers/metal3.io/hostfirmwaresettings_test.go
  go.mod
  go.sum
  main.go
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/validatemanagementaccess_test.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Update vendor
  vendor/github.com/gophercloud/gophercloud/CHANGELOG.md
  vendor/github.com/gophercloud/gophercloud/errors.go
  vendor/github.com/gophercloud/gophercloud/openstack/baremetal/v1/nodes/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/baremetal/v1/nodes/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/baremetal/v1/nodes/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/baremetal/v1/nodes/urls.go
  vendor/github.com/gophercloud/gophercloud/params.go
  vendor/github.com/gophercloud/gophercloud/provider_client.go
  vendor/github.com/metal3-io/baremetal-operator/apis/metal3.io/v1alpha1/bmceventsubscription_types.go
  vendor/github.com/metal3-io/baremetal-operator/apis/metal3.io/v1alpha1/bmceventsubscription_validation.go
  vendor/github.com/metal3-io/baremetal-operator/apis/metal3.io/v1alpha1/bmceventsubscription_webhook.go
  vendor/github.com/metal3-io/baremetal-operator/apis/metal3.io/v1alpha1/firmwareschema_types.go
  vendor/github.com/metal3-io/baremetal-operator/apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: gofmt, gosec, gomod, markdownlint, unit, generate, golint, manifestlint

ocp: add bmceventsubscriptions to kustomization
  config/crd/ocp/ocp_kustomization.yaml
Due: gosec, gomod, unit, generate, manifestlint

make-bm-worker: add some arguments
  cmd/make-bm-worker/main.go
  cmd/make-bm-worker/templates/templates.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

make-bm-worker: fix some arguments
  cmd/make-bm-worker/main.go
  cmd/make-bm-worker/templates/templates.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

make-bm-worker: add some UT
  cmd/make-bm-worker/templates/templates_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Uplift ulikunitz/xz v0.5.8
  config/render/capm3.yaml
  hack/tools/go.mod
  hack/tools/go.sum
Due: gosec, gomod, unit, generate, manifestlint

Fix using tilt development and add tilt grouping
  Tiltfile
  tilt-provider.json
Due: gosec, gomod, unit, generate, manifestlint

Publish events for all invalid HostFirmwareSettings
  controllers/metal3.io/hostfirmwaresettings_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Replace 'master' term from files
  docs/api.md
  docs/dev-setup.md
  docs/publishing-images.md
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/testserver/ironic.go
Due: gofmt, gosec, gomod, markdownlint, unit, generate, golint, manifestlint

Minor doc fixes for HostFirmwareSettings
  docs/api.md
Due: markdownlint

Use integer value in clean steps for HostFirmwareSettings Integer type
  controllers/metal3.io/hostfirmwaresettings_controller.go
  controllers/metal3.io/hostfirmwaresettings_test.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/provision_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Update error message when soft poweroff fails
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/host_state_machine_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Make the inspector use the same image as Ironic
  tools/run_local_ironic.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

Allow flags to be set when running bmo
  Makefile
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

Add physicalDisks and controller parameters to HardwareRAID
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/baremetalhost_types_test.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
  docs/api.md
  pkg/provisioner/ironic/raid.go
  pkg/provisioner/ironic/raid_test.go
Due: gofmt, gosec, gomod, markdownlint, unit, generate, golint, manifestlint

Add validations for BMC
  apis/metal3.io/v1alpha1/baremetalhost_validation.go
  apis/metal3.io/v1alpha1/baremetalhost_validation_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add validations for RAID
  apis/metal3.io/v1alpha1/baremetalhost_validation.go
  apis/metal3.io/v1alpha1/baremetalhost_validation_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add validations for BootMACAddress
  apis/metal3.io/v1alpha1/baremetalhost_validation.go
  apis/metal3.io/v1alpha1/baremetalhost_validation_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

baremetalhost_validation_test: improve UT
  apis/metal3.io/v1alpha1/baremetalhost_validation_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add validations for FirmwareConfig
  apis/metal3.io/v1alpha1/baremetalhost_validation.go
  apis/metal3.io/v1alpha1/baremetalhost_validation_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add validations for BootMode
  apis/metal3.io/v1alpha1/baremetalhost_validation.go
  apis/metal3.io/v1alpha1/baremetalhost_validation_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add function to check if bmc hostname follows DNS Standard
  pkg/hardwareutils/bmc/access.go
  pkg/hardwareutils/bmc/access_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Update ironic-image, ipa-downloader tag to main
  tools/run_local_ironic.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

Add unit tests to cover validation
  pkg/provisioner/ironic/raid_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add physicalDisk and controller validation for HardwareRAID
  apis/metal3.io/v1alpha1/baremetalhost_validation.go
  apis/metal3.io/v1alpha1/baremetalhost_validation_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Bug 2035882: Publish events for all invalid HostFirmwareSettings
  controllers/metal3.io/hostfirmwaresettings_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

run_local_ironic: use combined ironic and sqlite
  tools/run_local_ironic.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

remove_local_ironic: provide a default runtime
  tools/remove_local_ironic.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

run_local_ironic: generate TLS certificates if missing
  tools/run_local_ironic.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

run_local_ironic: use separate variables for htpasswd
  tools/run_local_ironic.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

run_local_ironic: only update cert secret if it's available
  tools/run_local_ironic.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

run_local_ironic: fix PROVISIONING_IP and PROVISIONING_INTERFACE
  tools/run_local_ironic.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

run_local_ironic: fix httpd start-up
  tools/run_local_ironic.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

move maelk to emeritus_approvers list
  OWNERS
Due: none

irmc: change BootInterface to ipxe
  pkg/hardwareutils/bmc/access_test.go
  pkg/hardwareutils/bmc/irmc.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: \.md$
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  golint: any of: \.go$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$
