Repository metal3-io/metal3-dev-env: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: \.md$

Fix minikube delete hanging issue
  cluster_cleanup.sh
Due: shellcheck

Download and install kvm2 driver with minikube
  01_prepare_host.sh
Due: shellcheck

Add kubectl describe output logs
  tests/scripts/fetch_target_logs.sh
Due: shellcheck

add python3-dev for libvirt-python building
  01_prepare_host.sh
Due: shellcheck

fix local ironic image building and ipa downloader logic
  02_configure_host.sh
  lib/common.sh
  vars.md
Due: shellcheck, markdownlint

rename DEFAULT_HOSTS_MEMORY to TARGET_NODE_MEMORY for better clarity and default memory to 4096 in ansible
  02_configure_host.sh
  lib/common.sh
  tests/roles/run_tests/vars/main.yml
  vars.md
  vm-setup/roles/common/defaults/main.yml
Due: shellcheck, markdownlint

Uplift capi v1.5.0
  03_launch_mgmt_cluster.sh
  lib/releases.sh
  tests/roles/run_tests/tasks/generate_templates.yml
  tests/roles/run_tests/vars/main.yml
  vars.md
Due: shellcheck, markdownlint

Adding default value for LOCAL_IPA_PATH
  lib/common.sh
Due: shellcheck

Bump k8s version to v1.28.1
  config_example.sh
  lib/common.sh
  renovate.json
  tests/roles/run_tests/vars/main.yml
  vars.md
Due: shellcheck, markdownlint

Add release-1.5 branch config for CAPM3 and IPAM
  README.md
  lib/common.sh
  lib/releases.sh
Due: shellcheck, markdownlint

fix KUBECTL_SHA256 to match KUBERNETES_VERSION
  lib/common.sh
Due: shellcheck

Fix kubectl installation by checking the version also
  01_prepare_host.sh
Due: shellcheck

Bump golang to v1.20.7
  vm-setup/install-package-playbook.yml
Due: none

bump main branch fake release to 1.6.99
  lib/releases.sh
Due: shellcheck

WIP: e2e fix for 1.5
  lib/releases.sh
Due: shellcheck

Point CAPM3RELEASE to v1.5.99 for release-1.5 branch
  lib/releases.sh
Due: shellcheck

add a helper function to print digests
  hack/print_checksums.sh
  lib/download.sh
Due: shellcheck

make sha256 overridable for upgrade tests
  lib/common.sh
Due: shellcheck

debug ironic database lock issue
  lib/common.sh
Due: shellcheck

Bump minikube to v1.31.2
  cluster_cleanup.sh
  lib/common.sh
Due: shellcheck

Fix README link to Getting started with Metal3
  README.md
Due: markdownlint

set dns address through metal3data
  tests/roles/run_tests/templates/metal3datatemplate-template.yaml
Due: none

fix capi config folder location
  host_cleanup.sh
  lib/releases.sh
  tests/roles/run_tests/templates/clusterctl-vars.yaml
  tilt-setup/deploy_tilt_env.sh
Due: shellcheck

make clean target to clean opt folder
  host_cleanup.sh
Due: shellcheck

Add BMORELEASEBRANCH variable
  lib/common.sh
Due: shellcheck

fix the application of the kvm_tdp_mmu workaround
  01_prepare_host.sh
  02_configure_host.sh
Due: shellcheck

Fix ImportError in k8s_fields_test.py
  tests/roles/run_tests/filter_plugins/k8s_fields_test.py
Due: none

Remove old untested BMO release version checks and bump bmo to v0.3.1 for release-1.4 test
  03_launch_mgmt_cluster.sh
  README.md
  lib/common.sh
  vars.md
Due: shellcheck, markdownlint

Quick fix for fetching github releases
  lib/releases.sh
Due: shellcheck

Add BMO release-0.3 branch instead of v0.3.1 tag
  README.md
  lib/common.sh
Due: shellcheck, markdownlint

Properly manage libvirt services
  01_prepare_host.sh
  02_configure_host.sh
  03_launch_mgmt_cluster.sh
  lib/common.sh
  vm-setup/roles/libvirt/tasks/install_setup_tasks.yml
Due: shellcheck

Run gpasswd with sudo
  01_prepare_host.sh
Due: shellcheck

Remove gpasswd command call
  01_prepare_host.sh
Due: shellcheck

bump golang to v1.20.11
  vm-setup/install-package-playbook.yml
Due: none

bump markdownlint to 0.13.0
  hack/markdownlint.sh
Due: shellcheck

Bump CAPI to v1.6 and export CAPM3 & IPAM diagnostics var for clusterctl
  lib/releases.sh
  tests/roles/run_tests/templates/clusterctl-vars.yaml
  tests/roles/run_tests/vars/main.yml
Due: shellcheck

Use automatic firmware for UEFI
  vm-setup/roles/libvirt/templates/baremetalvm.xml.j2
Due: none

use ufei default instead of bios
  config_example.sh
  lib/common.sh
  lib/network.sh
  vars.md
  vm-setup/roles/libvirt/defaults/main.yml
Due: shellcheck, markdownlint

Pin ironic to v23.1.0 on BMO release branch
  README.md
  hack/markdownlint.sh
  lib/common.sh
Due: shellcheck, markdownlint

WIP test IRONIC_IMAGE env var
  02_configure_host.sh
Due: shellcheck
