Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test, build-fkas

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

golangci-lint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/ensure-golangci-lint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

govet:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/govet.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/codegen.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

build:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/build.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

chore(lint): migrate golangci-lint tooling to v2.1.0 and add exclusions for staticcheck QF rules
  .github/workflows/golangci-lint.yml
  .golangci.yaml
  Makefile
  hack/ensure-golangci-lint.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

fix(lint): address nilnesserr linter error in listDescendants
  baremetal/metal3cluster_manager.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Bump go to 1.25.8
  .github/workflows/golangci-lint.yml
  Dockerfile
  Makefile
  hack/ensure-golangci-lint.sh
  hack/fake-apiserver/Dockerfile
  hack/verify-release.sh
  test/e2e/common.go
  test/e2e/logcollector.go
  test/e2e/pivoting.go
  test/e2e/remediation.go
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Remove TypedLocalObjectReference and use local structs
  api/v1beta1/conversion.go
  api/v1beta1/conversion_test.go
  api/v1beta1/zz_generated.conversion.go
  api/v1beta2/metal3datatemplate_types.go
  api/v1beta2/zz_generated.deepcopy.go
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  baremetal/utils.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datatemplates.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

make lint-full -> lint
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

bump x/net to v0.49.0
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, test, build-fkas

bump x/net to v0.49.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test, build-fkas

harden pr-verifier workflow trigger
  .github/workflows/pr-verifier.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

remove docker push stuff from Makefile
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Do not run go commands if GO is not set
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Remove corev1 ObjectReference and use local struct
  api/v1beta1/conversion.go
  api/v1beta1/conversion_test.go
  api/v1beta1/zz_generated.conversion.go
  api/v1beta2/common_types.go
  api/v1beta2/metal3data_types.go
  api/v1beta2/metal3dataclaim_types.go
  api/v1beta2/metal3machine_types.go
  api/v1beta2/zz_generated.deepcopy.go
  baremetal/metal3data_manager_test.go
  baremetal/metal3datatemplate_manager.go
  baremetal/metal3datatemplate_manager_test.go
  baremetal/metal3machine_manager_test.go
  baremetal/suite_test.go
  baremetal/utils.go
  baremetal/utils_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3dataclaims.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datas.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machinetemplates.yaml
  controllers/metal3datatemplate_controller_test.go
  internal/webhooks/v1beta2/metal3data_webhook.go
  internal/webhooks/v1beta2/metal3data_webhook_test.go
  internal/webhooks/v1beta2/metal3dataclaim_webhook.go
  internal/webhooks/v1beta2/metal3dataclaim_webhook_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

Update e2e tests to use v1beta2
  Makefile
  baremetal/metal3machine_manager.go
  docs/remediation-controller.md
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/infrastructure-metal3/main/bases/clusterclass/clusterclass.yaml
  test/e2e/data/infrastructure-metal3/main/clusterclass-metal3/clusterclass-metal3.yaml
  test/e2e/data/infrastructure-metal3/v1.10/bases/cluster-with-topology/cluster-with-topology.yaml
  test/e2e/data/infrastructure-metal3/v1.10/bases/cluster/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-metal3/v1.10/bases/cluster/md.yaml
  test/e2e/data/infrastructure-metal3/v1.10/bases/clusterclass-cluster/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-metal3/v1.10/bases/clusterclass-cluster/md.yaml
  test/e2e/data/infrastructure-metal3/v1.10/bases/clusterclass/clusterclass.yaml
  test/e2e/data/infrastructure-metal3/v1.10/clusterclass-metal3/clusterclass-metal3.yaml
  test/e2e/data/infrastructure-metal3/v1.11/bases/cluster-with-topology/cluster-with-topology.yaml
  test/e2e/data/infrastructure-metal3/v1.11/bases/cluster/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-metal3/v1.11/bases/cluster/md.yaml
  test/e2e/data/infrastructure-metal3/v1.11/bases/clusterclass-cluster/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-metal3/v1.11/bases/clusterclass-cluster/md.yaml
  test/e2e/data/infrastructure-metal3/v1.11/bases/clusterclass/clusterclass.yaml
  test/e2e/data/infrastructure-metal3/v1.11/clusterclass-metal3/clusterclass-metal3.yaml
  test/e2e/data/infrastructure-metal3/v1.12/bases/cluster-with-topology/cluster-with-topology.yaml
  test/e2e/data/infrastructure-metal3/v1.12/bases/cluster/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-metal3/v1.12/bases/cluster/md.yaml
  test/e2e/data/infrastructure-metal3/v1.12/bases/clusterclass-cluster/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-metal3/v1.12/bases/clusterclass-cluster/md.yaml
  test/e2e/data/infrastructure-metal3/v1.12/bases/clusterclass/clusterclass.yaml
  test/e2e/data/infrastructure-metal3/v1.12/clusterclass-metal3/clusterclass-metal3.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/healthcheck.go
  test/e2e/node_deletion_remediation.go
  test/e2e/node_reuse.go
  test/e2e/remediation.go
  test/e2e/scalability_test.go
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Add k8s in-place upgrade test
  .gitignore
  Makefile
  docs/e2e-test.md
  scripts/ci-e2e.sh
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/k8s_in_place_upgrade.go
  test/e2e/k8s_in_place_upgrade_test.go
  test/extension/Dockerfile
  test/extension/config/certmanager/certificate.yaml
  test/extension/config/certmanager/kustomization.yaml
  test/extension/config/certmanager/kustomizeconfig.yaml
  test/extension/config/default/kustomization.yaml
  test/extension/config/default/manager.yaml
  test/extension/config/default/manager_image_patch.yaml
  test/extension/config/default/manager_pull_policy.yaml
  test/extension/config/default/manager_ssh_patch.yaml
  test/extension/config/default/manager_webhook_patch.yaml
  test/extension/config/default/namespace.yaml
  test/extension/config/default/service.yaml
  test/extension/config/rbac/kustomization.yaml
  test/extension/config/rbac/leader_election_role.yaml
  test/extension/config/rbac/leader_election_role_binding.yaml
  test/extension/config/rbac/role.yaml
  test/extension/config/rbac/role_binding.yaml
  test/extension/config/rbac/service_account.yaml
  test/extension/handlers/inplaceupdate/extensionconfig.yaml
  test/extension/handlers/inplaceupdate/handlers.go
  test/extension/handlers/inplaceupdate/ssh.go
  test/extension/main.go
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Add support for bridge configuration via metal3datatemplate
  api/v1beta1/metal3datatemplate_types.go
  api/v1beta2/metal3datatemplate_types.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

fix nil pointer dereference in remediation controller
  controllers/metal3remediation_controller.go
  controllers/metal3remediation_controller_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

bump google.golang.org/grpc to v1.79.3
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, test, build-fkas

bump google.golang.org/grpc to v1.79.3
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test, build-fkas

Set machine ready status true even if no Metal3Data is used
  api/v1beta1/metal3machine_types.go
  baremetal/metal3machine_manager.go
  baremetal/mocks/zz_generated.metal3machine_manager.go
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

Bump CAPI v1.12.4
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test, build-fkas

Bump CAPI to v1.11.7
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test, build-fkas

Bump IPAM 1.11.6 and BMO 0.11.6
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

Bump IPAM v1.12.3 and BMO v0.12.3
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

Add parameters type to align more closely with cloud-init schema
  api/v1beta1/metal3datatemplate_types.go
  api/v1beta2/metal3datatemplate_types.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

Add required tag and validation to API types
  .golangci-kal.yaml
  api/v1beta1/conversion.go
  api/v1beta1/conversion_test.go
  api/v1beta1/zz_generated.conversion.go
  api/v1beta2/common_types.go
  api/v1beta2/common_types_test.go
  api/v1beta2/metal3clustertemplate_types.go
  api/v1beta2/metal3data_types.go
  api/v1beta2/metal3dataclaim_types.go
  api/v1beta2/metal3datatemplate_types.go
  api/v1beta2/metal3machine_types.go
  api/v1beta2/metal3machine_types_test.go
  api/v1beta2/metal3machinetemplate_types.go
  api/v1beta2/metal3remediationtemplate_types.go
  api/v1beta2/zz_generated.deepcopy.go
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  baremetal/metal3datatemplate_manager.go
  baremetal/metal3datatemplate_manager_test.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  baremetal/utils_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3clustertemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datas.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datatemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machinetemplates.yaml
  controllers/metal3machine_controller_integration_test.go
  internal/webhooks/v1beta2/metal3datatemplate_webhook.go
  internal/webhooks/v1beta2/metal3machine_webhook_test.go
  internal/webhooks/v1beta2/metal3machinetemplate_webhook_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

Removed chnages for v1beta1 is deprecated
  api/v1beta1/metal3datatemplate_types.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

:rocket: Release v1.12.3
  releasenotes/v1.12.3.md
Due: markdownlint

:rocket: Release v1.11.6
  releasenotes/v1.11.6.md
Due: markdownlint

add OpenSSF OSPS baseline level 1 badge
  README.md
Due: markdownlint

Set metal3data ready condition for clusters that dont use m3dt
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Rename enableBMHNameBasedPreallocation CLI-flag
  config/manager/manager.yaml
  docs/ip_reuse.md
  main.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint

Remove corev1 ObjectReference and use local struct
  .golangci.yaml
  api/v1beta1/conversion.go
  api/v1beta1/conversion_test.go
  api/v1beta1/zz_generated.conversion.go
  api/v1beta2/common_types.go
  api/v1beta2/metal3data_types.go
  api/v1beta2/metal3dataclaim_types.go
  api/v1beta2/metal3machine_types.go
  api/v1beta2/zz_generated.deepcopy.go
  baremetal/metal3data_manager_test.go
  baremetal/metal3datatemplate_manager.go
  baremetal/metal3datatemplate_manager_test.go
  baremetal/metal3machine_manager_test.go
  baremetal/suite_test.go
  baremetal/utils.go
  baremetal/utils_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3dataclaims.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datas.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machinetemplates.yaml
  controllers/metal3datatemplate_controller_test.go
  internal/webhooks/v1beta2/metal3data_webhook.go
  internal/webhooks/v1beta2/metal3data_webhook_test.go
  internal/webhooks/v1beta2/metal3dataclaim_webhook.go
  internal/webhooks/v1beta2/metal3dataclaim_webhook_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

Bump Go version to 1.25.9
  Dockerfile
  Makefile
  hack/fake-apiserver/Dockerfile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Add k8s in-place upgrade test
  Makefile
  docs/e2e-test.md
  scripts/ci-e2e.sh
  scripts/environment.sh
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/k8s_in_place_upgrade.go
  test/e2e/k8s_in_place_upgrade_test.go
  test/extension/Dockerfile
  test/extension/config/certmanager/certificate.yaml
  test/extension/config/certmanager/kustomization.yaml
  test/extension/config/certmanager/kustomizeconfig.yaml
  test/extension/config/default/kustomization.yaml
  test/extension/config/default/manager.yaml
  test/extension/config/default/manager_image_patch.yaml
  test/extension/config/default/manager_pull_policy.yaml
  test/extension/config/default/manager_ssh_patch.yaml
  test/extension/config/default/manager_webhook_patch.yaml
  test/extension/config/default/namespace.yaml
  test/extension/config/default/service.yaml
  test/extension/config/rbac/kustomization.yaml
  test/extension/config/rbac/leader_election_role.yaml
  test/extension/config/rbac/leader_election_role_binding.yaml
  test/extension/config/rbac/role.yaml
  test/extension/config/rbac/role_binding.yaml
  test/extension/config/rbac/service_account.yaml
  test/extension/handlers/inplaceupdate/extensionconfig.yaml
  test/extension/handlers/inplaceupdate/handlers.go
  test/extension/handlers/inplaceupdate/ssh.go
  test/extension/main.go
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Rename unhealthy annotation for v1beta2
  api/v1beta2/common_types.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  docs/api.md
  docs/remediation-controller.md
  test/e2e/remediation.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint, build, build-fkas

Path conditions:
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  unit: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  build: (any of: ^api|^test|^Makefile$) or (any of: ^api|^test|^Makefile$|^hack/build.sh$)
  test: any of: ^(Makefile|hack/.*)$
  build-fkas: any of: ^hack/fake-apiserver|^api|^Makefile$|^hack/build.sh$
