Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/generate.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

golint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/golint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

test:
  decorate: true
  spec:
    containers:
    - args:
      - test
      command:
      - make
      image: quay.io/metal3-io/basic-checks:golang-1.24
      imagePullPolicy: Always

Restore missing ironic entrypoint in run_local_ironic.sh
  tools/run_local_ironic.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint

Bump go version to 1.25.13
  Dockerfile
  Makefile
  hack/e2e/ensure_go.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Bump Go version to 1.26.6
  Dockerfile
  Dockerfile.plugin-test
  Makefile
  hack/e2e/ensure_go.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

[PoC] HostOperations manager
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_controller_test.go
  internal/controller/metal3.io/host_state_machine.go
  internal/controller/metal3.io/hostoperations.go
  pkg/hostoperations/manager.go
  pkg/hostoperations/manager_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Remove pr-verifier GHA workflow
  .github/workflows/pr-verifier.yaml
Due: gosec, gomod, unit, generate, manifestlint

Add reconciler support for switch port configuration
  config/base/rbac/role.yaml
  config/render/capm3.yaml
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_network.go
  internal/controller/metal3.io/baremetalhost_network_test.go
  internal/controller/metal3.io/host_state_machine.go
  internal/controller/metal3.io/host_state_machine_test.go
  main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add LLDP fallback to updateNodePort
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/register.go
  pkg/provisioner/ironic/register_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add E2E tests for switch port configuration
  config/overlays/e2e/kustomization.yaml
  config/overlays/e2e/namespaced-manager-patch.yaml
  config/overlays/e2e/networking/kustomization.yaml
  config/overlays/e2e/networking/namespace.yaml
  config/overlays/e2e/roles-rolebindings/roles-rolebindings.yaml
  test/e2e/README.md
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/ironic_helpers_test.go
  test/e2e/networking_test.go
Due: gofmt, gosec, gomod, markdownlint, unit, generate, golint, manifestlint

Document networking environment variables
  docs/configuration.md
Due: markdownlint

Add API types for switch port configuration
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/hostnetworkattachment_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add Ironic provisioner support for switch port configuration
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/overlays/e2e/ironic.env
  config/overlays/fixture/kustomization.yaml
  config/render/capm3.yaml
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/factory.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/ironic_networking.go
  pkg/provisioner/ironic/ironic_networking_test.go
  pkg/provisioner/ironic/register.go
  pkg/provisioner/ironic/register_test.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add Alloy log collector
  .gitignore
  hack/alloy/README.md
  hack/alloy/config.alloy
  hack/alloy/run-alloy.sh
  hack/alloy/stop-alloy.sh
  hack/alloy/verify.sh
  hack/ci-e2e.sh
  hack/e2e/ensure_alloy.sh
Due: gosec, gomod, markdownlint, shellcheck, unit, generate, manifestlint, test

Stop using deprecated iDRAC subinterfaces
  pkg/hardwareutils/bmc/access_test.go
  pkg/hardwareutils/bmc/idrac_virtualmedia.go
  pkg/hardwareutils/bmc/redfish.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Update required versions
  docs/configuration.md
Due: markdownlint

Fix stale BareMetalHost and operator documentation
  docs/BaremetalHost_ProvisioningState.dot
  docs/BaremetalHost_ProvisioningState.png
  docs/api.md
  docs/baremetalhost-states.md
  docs/configuration.md
  docs/dev-setup.md
  docs/inspectAnnotation.md
  docs/ironic-endpoint-keepalived-configuration.md
  docs/testing.md
Due: gosec, gomod, markdownlint, unit, generate, manifestlint

adding yamllint script
  hack/yamllint.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

e2e: support and use IrSO 0.11, support Ironic 38.0
  go.mod
  go.sum
  test/e2e/config/ironic.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-38.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/irso-v0.11/kustomization.yaml
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint

get-hardware-details: allow auth via files, not just URL
  cmd/get-hardware-details/main.go
  cmd/get-hardware-details/main_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

🌱 Test unit Prow presubmit on release-0.12
  main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

🌱 Test unit Prow presubmit on release-0.13
  main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Use IRSO integration for credentials in E2E tests
  config/overlays/e2e-release-0.12/ironic.env
  config/overlays/e2e-release-0.12/kustomization.yaml
  config/overlays/e2e-release-0.13/ironic.env
  config/overlays/e2e-release-0.13/kustomization.yaml
  config/overlays/e2e-upgrade/ironic.env
  config/overlays/e2e-upgrade/kustomization.yaml
  config/overlays/e2e/baremetal-operator-system/kustomization.yaml
  config/overlays/e2e/ironic.env
  config/overlays/e2e/kustomization.yaml
  config/overlays/e2e/namespaced-manager-patch.yaml
  hack/ci-e2e.sh
  pkg/provisioner/ironic/factory.go
  test/e2e/data/ironic-standalone-operator/components/tls/certificate.yaml
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

Extract Managers for HFS/HFC out of BMH controller code
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_controller_test.go
  internal/controller/metal3.io/dataimage_controller.go
  internal/controller/metal3.io/host_state_machine.go
  internal/testutil/common.go
  pkg/firmwarecomponents/manager.go
  pkg/firmwarecomponents/manager_test.go
  pkg/firmwaresettings/manager.go
  pkg/firmwaresettings/manager_test.go
  pkg/mgrutils/utils.go
  pkg/mgrutils/utils_test.go
  pkg/provisioner/fixture/fixture.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

End to end tests for HostClaims
  config/overlays/e2e/cluster-role.yaml
  config/overlays/e2e/hostclaims-infra/kustomization.yaml
  config/overlays/e2e/hostclaims-infra/namespace.yaml
  config/overlays/e2e/hostclaims-tenant/kustomization.yaml
  config/overlays/e2e/hostclaims-tenant/namespace.yaml
  config/overlays/e2e/kustomization.yaml
  config/overlays/e2e/namespaced-manager-patch.yaml
  hack/check-e2e.sh
  test/e2e/common.go
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/hostclaim_provisioning_test.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

:rocket: Release v0.12.7
  releasenotes/v0.12.7.md
Due: markdownlint

Bump the kubernetes group across 3 directories
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint, test

Update depandabot with release-0.14 branch
  .github/dependabot.yml
Due: gosec, gomod, unit, generate, manifestlint

Add RootFSUUID support for whole-disk images with software RAID
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/base/crds/bases/metal3.io_hostclaims.yaml
  config/render/capm3.yaml
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation_test.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/provision_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Bump k8s.io/api from v0.35.7 to v0.35.8
  apis/go.mod
  apis/go.sum
Due: gosec, gomod, unit, generate, manifestlint

:seedling: Bump github.com/gophercloud/gophercloud/v2 to v2.14.0
  go.mod
  go.sum
Due: gosec, gomod, unit, generate, manifestlint

Add vendor, model, serial_number to HostFirmwareComponents status
  apis/metal3.io/v1alpha1/hostfirmwarecomponents_types.go
  config/base/crds/bases/metal3.io_hostfirmwarecomponents.yaml
  config/render/capm3.yaml
  pkg/provisioner/ironic/clients/features.go
  pkg/provisioner/ironic/clients/features_test.go
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

:rocket: Release v0.13.3
  releasenotes/v0.13.3.md
Due: markdownlint

E2E: Cleanup upgrade configurations
  test/e2e/config/ironic.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-30.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/e2e-release-32.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/irso-v0.5/kustomization.yaml
Due: gosec, gomod, unit, generate, manifestlint

Redact image URL failure messages
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/ironic_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fixup! Add vendor, model, serial_number to HostFirmwareComponents status
  pkg/provisioner/ironic/clients/features_test.go
  pkg/provisioner/ironic/firmware_test.go
  pkg/provisioner/ironic/testserver/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Remove unit GHA workflow and its references from pipeline
  .github/workflows/pipeline.yml
  .github/workflows/unit.yml
Due: gosec, gomod, unit, generate, manifestlint

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  golint: any of: \.go$
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$
