Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

golangci-lint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/ensure-golangci-lint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

govet:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/govet.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/codegen.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

build:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/build.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

update trigger doc, build badges, support matrix
  README.md
Due: markdownlint

bump IPAM to v1.11.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/e2e/config/e2e_conf.yaml
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

bump BMO to v0.11.0
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

:rocket: Release v1.11.0
  releasenotes/v1.11.0.md
Due: markdownlint

Add failureDomain Support
  api/v1beta1/metal3cluster_types.go
  api/v1beta1/metal3machine_types.go
  api/v1beta1/zz_generated.deepcopy.go
  baremetal/metal3machine_manager.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3clusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3clustertemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machinetemplates.yaml
  controllers/metal3cluster_controller.go
  controllers/metal3machine_controller.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Update clusterctl upgrade tests on main branch
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

📖 Improve doc on pool references
  docs/api.md
Due: markdownlint

Update infra metadata in tests
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/bmo-deployment/overlays/release-0.8/ironic.env
  test/e2e/data/bmo-deployment/overlays/release-0.8/kustomization.yaml
  test/e2e/data/bmo-deployment/overlays/release-0.9/ironic.env
  test/e2e/data/bmo-deployment/overlays/release-0.9/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/release-26.0/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-26.0/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/release-26.0/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/release-27.0/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-27.0/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/release-27.0/kustomization.yaml
  test/e2e/data/shared/capi/v1.2/metadata.yaml
  test/e2e/data/shared/capi/v1.3/metadata.yaml
  test/e2e/data/shared/capi/v1.4/metadata.yaml
  test/e2e/data/shared/capi/v1.5/metadata.yaml
  test/e2e/data/shared/capi/v1.6/metadata.yaml
  test/e2e/data/shared/capi/v1.7/metadata.yaml
  test/e2e/data/shared/capi/v1.8/metadata.yaml
  test/e2e/data/shared/infrastructure-metal3/main/metadata.yaml
  test/e2e/data/shared/infrastructure-metal3/v1.2/metadata.yaml
  test/e2e/data/shared/infrastructure-metal3/v1.3/metadata.yaml
  test/e2e/data/shared/infrastructure-metal3/v1.4/metadata.yaml
  test/e2e/data/shared/infrastructure-metal3/v1.5/metadata.yaml
  test/e2e/data/shared/infrastructure-metal3/v1.6/metadata.yaml
  test/e2e/data/shared/infrastructure-metal3/v1.7/metadata.yaml
  test/e2e/data/shared/infrastructure-metal3/v1.8/metadata.yaml
  test/e2e/data/shared/infrastructure-metal3/v1.9/metadata.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Fix OSV-Scanner
  .github/workflows/osv-scanner-scan.yml
  .github/workflows/osv-scanner-scheduled.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Add openSUSE Leap 15.6 support to e2e tests
  Makefile
  scripts/environment.sh
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/infrastructure-metal3/main/bases/opensuse-leap-kubeadm-config/kustomization.yaml
  test/e2e/data/infrastructure-metal3/main/bases/opensuse-leap-kubeadm-config/opensuse-leap-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/main/cluster-template-opensuse-leap/kustomization.yaml
  test/e2e/e2e_suite_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

🐛 Avoid "Pool not found in cache" with CAPI IPAM
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

✨ Retrieve gateway from CAPI IPAM IP claims
  api/v1beta1/metal3datatemplate_types.go
  api/v1beta1/zz_generated.deepcopy.go
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datatemplates.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Add Cilium as an CNI option in tests
  go.mod
  go.sum
  test/e2e/config/e2e_conf.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/helm_helper.go
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Enable testing against CAPI nightly builds
  docs/e2e-test.md
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/shared/capi/v1.12/metadata.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build

Change interface names to predictable ones
  test/e2e/common.go
  test/e2e/data/infrastructure-metal3/main/bases/centos-kubeadm-config/centos-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/main/bases/clusterclass-centos-kubeadm-config/clusterclass-centos-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/v1.10/bases/centos-kubeadm-config/centos-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/v1.10/bases/clusterclass-centos-kubeadm-config/clusterclass-centos-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/v1.9/bases/centos-kubeadm-config/centos-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/v1.9/bases/clusterclass-centos-kubeadm-config/clusterclass-centos-kubeadm-config.yaml
  test/e2e/e2e_suite_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

✨ Conditionnaly watch M3 IPClaims and CAPI IPAddressClaims
  controllers/metal3data_controller.go
  main.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Use IRSO in e2e tests
  scripts/ci-e2e.sh
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/ironic-standalone-operator/ironic/base/ironic.yaml
  test/e2e/data/ironic-standalone-operator/ironic/base/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/pr-test/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/release-26.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/release-27.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/release-29.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/release-main/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/config-map-patch.yaml
  test/e2e/data/ironic-standalone-operator/operator/kustomization.yaml
  test/e2e/integration_test.go
  test/e2e/logcollector.go
  test/e2e/pivoting.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Add build and lint PR checks for FKAS
  Makefile
  hack/build.sh
  hack/fake-apiserver/cmd/metal3-fkas-reconciler/main.go
  hack/fake-apiserver/cmd/metal3-fkas/main.go
  hack/fake-apiserver/cmd/metal3-fkas/utils.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Update infra metadata in tests
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/bmo-deployment/overlays/release-0.8/ironic.env
  test/e2e/data/bmo-deployment/overlays/release-0.8/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/release-26.0/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-26.0/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/release-26.0/kustomization.yaml
  test/e2e/data/shared/capi/v1.2/metadata.yaml
  test/e2e/data/shared/capi/v1.3/metadata.yaml
  test/e2e/data/shared/capi/v1.4/metadata.yaml
  test/e2e/data/shared/capi/v1.5/metadata.yaml
  test/e2e/data/shared/capi/v1.6/metadata.yaml
  test/e2e/data/shared/capi/v1.7/metadata.yaml
  test/e2e/data/shared/capi/v1.8/metadata.yaml
  test/e2e/data/shared/infrastructure-metal3/main/metadata.yaml
  test/e2e/data/shared/infrastructure-metal3/v1.2/metadata.yaml
  test/e2e/data/shared/infrastructure-metal3/v1.3/metadata.yaml
  test/e2e/data/shared/infrastructure-metal3/v1.4/metadata.yaml
  test/e2e/data/shared/infrastructure-metal3/v1.5/metadata.yaml
  test/e2e/data/shared/infrastructure-metal3/v1.6/metadata.yaml
  test/e2e/data/shared/infrastructure-metal3/v1.7/metadata.yaml
  test/e2e/data/shared/infrastructure-metal3/v1.8/metadata.yaml
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Change interface names for predicatable ones for centos
  docs/dev-setup.md
  examples/generate.sh
  hack/ensure-kubectl.sh
  hack/gen_tilt_settings.sh
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/infrastructure-metal3/bases/centos-kubeadm-config/centos-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/bases/clusterclass-centos-kubeadm-config/clusterclass-centos-kubeadm-config.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/scalability_test.go
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test

Change interface names to predictable ones for Centos
  examples/generate.sh
  hack/ensure-kubectl.sh
  hack/gen_tilt_settings.sh
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/infrastructure-metal3/bases/centos-kubeadm-config/centos-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/bases/clusterclass-centos-kubeadm-config/clusterclass-centos-kubeadm-config.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/scalability_test.go
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Add logging to releaseAddressFromM3Pool funtion
  baremetal/metal3data_manager.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Change interface names to predictable ones
  examples/generate.sh
  hack/ensure-kubectl.sh
  hack/gen_tilt_settings.sh
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/infrastructure-metal3/main/bases/centos-kubeadm-config/centos-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/main/bases/clusterclass-centos-kubeadm-config/clusterclass-centos-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/v1.10/bases/centos-kubeadm-config/centos-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/v1.10/bases/clusterclass-centos-kubeadm-config/clusterclass-centos-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/v1.9/bases/centos-kubeadm-config/centos-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/v1.9/bases/clusterclass-centos-kubeadm-config/clusterclass-centos-kubeadm-config.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/scalability_test.go
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Enable testing against CAPI nightly builds
  docs/e2e-test.md
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/shared/capi/v1.12/metadata.yaml
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build

Adopt OSV scanner workflow from project-infra
  .github/workflows/osv-scanner-scan.yml
  .github/workflows/scheduled-osv-scan.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Add lint PR checks for FKAS
  .github/workflows/golangci-lint.yml
  Makefile
  hack/fake-apiserver/cmd/metal3-fkas-reconciler/main.go
  hack/fake-apiserver/cmd/metal3-fkas/main.go
  hack/fake-apiserver/cmd/metal3-fkas/utils.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Bump CAPM3, CAPI and controller-runtime
  hack/fake-apiserver/cmd/metal3-fkas-reconciler/main.go
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, test

Add fkas-build as an option to build.sh
  hack/build.sh
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, test

Build docker image in /tmp dir to create the necessary Docker context
  Makefile
  hack/fake-apiserver/Dockerfile
  hack/fake-apiserver/cmd/metal3-fkas-reconciler/main.go
  hack/fake-apiserver/cmd/metal3-fkas/main.go
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

remove osv-scanner from release branches
  .github/workflows/osv-scanner-scan.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Prep fkas directory for build
  .github/workflows/build-fkas-images-action.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

add specific time to dependabot config
  .github/dependabot.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Dockerfile: strip out symbol table & DWARF debugging info
  Dockerfile
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Path conditions:
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  unit: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  build: any of: ^api|^test|^Makefile$
  test: any of: ^(Makefile|hack/.*)$
