Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, golint, govet, markdownlint, shellcheck, generate, unit, manifestlint

Path conditions:
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  golint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: \.md$
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$

Uplift go modules to fix CVEs
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Bump cert-manager in Tiltfile and script
  Tiltfile
  hack/gen_tilt_settings.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Unit tests for metal3 remediation controller
  controllers/metal3machinetemplate_controller_test.go
  controllers/metal3remediation_controller_test.go
  controllers/suite_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

add SECURITY_CONTACTS file
  SECURITY_CONTACTS
Due: gofmt, golint, govet, generate, unit, manifestlint

Uplift CAPI to v1.2.5
  README.md
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: gofmt, golint, govet, markdownlint, generate, unit, manifestlint

Add IP reuse feature documentation
  docs/ip_reuse.md
Due: markdownlint

Uplift IPAM in root/apis gomodules to v0.0.0-20221109122800-a505a415c34c and in kustomizations to v1.2.1
  api/go.mod
  api/go.sum
  config/ipam/image_patch.yaml
  config/ipam/kustomization.yaml
  go.mod
  go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Uplift BMO to v0.1.2 in root gomodules
  go.mod
  go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Fix PREVIOUS_TAG fetching in Makefile and improves pre-release notes with specific message
  Makefile
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Fix body_path in the release.yaml
  .github/workflows/release.yaml
Due: gofmt, golint, govet, generate, unit, manifestlint

Uplift ginkgo to v2
  api/go.sum
  baremetal/manager_factory_test.go
  baremetal/metal3cluster_manager_test.go
  baremetal/metal3data_manager_test.go
  baremetal/metal3datatemplate_manager_test.go
  baremetal/metal3machine_manager_test.go
  baremetal/metal3machinetemplate_manager_test.go
  baremetal/metal3remediation_manager_test.go
  baremetal/remote/remote_test.go
  baremetal/remote/suite_test.go
  baremetal/requeue_error_test.go
  baremetal/suite_test.go
  baremetal/utils_test.go
  controllers/metal3cluster_controller_integration_test.go
  controllers/metal3cluster_controller_test.go
  controllers/metal3data_controller_test.go
  controllers/metal3datatemplate_controller_test.go
  controllers/metal3labelsync_controller_test.go
  controllers/metal3machine_controller_integration_test.go
  controllers/metal3machine_controller_test.go
  controllers/metal3machinetemplate_controller_test.go
  controllers/metal3remediation_controller_test.go
  controllers/suite_test.go
  go.mod
  go.sum
  hack/tools/go.sum
  test/e2e/cert_rotation_test.go
  test/e2e/common.go
  test/e2e/e2e_suite_test.go
  test/e2e/inspection_test.go
  test/e2e/live_iso_test.go
  test/e2e/metal3remediation_test.go
  test/e2e/node_reuse_test.go
  test/e2e/pivoting_based_feature_test.go
  test/e2e/pivoting_test.go
  test/e2e/remediation_based_feature_test.go
  test/e2e/remediation_test.go
  test/e2e/upgrade_baremetal_operator_test.go
  test/e2e/upgrade_ironic_test.go
  test/e2e/upgrade_management_cluster_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

fix DescribeTable
  api/go.sum
  baremetal/metal3cluster_manager_test.go
  go.mod
  go.sum
Due: gofmt, golint, govet, generate, unit, manifestlint

Bump golang to 1.19
  .github/workflows/release.yaml
  .golangci.yaml
  Dockerfile
  Tiltfile
  api/go.mod
  api/v1alpha5/conversion.go
  controllers/metal3cluster_controller_integration_test.go
  controllers/metal3cluster_controller_test.go
  go.mod
  hack/codegen.sh
  hack/ensure-golangci-lint.sh
  hack/gofmt.sh
  hack/gomod.sh
  hack/govet.sh
  hack/tools/go.mod
  hack/tools/go.sum
  hack/unit.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Fix kustomize installation for darwin
  hack/ensure-kustomize.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

build: introduce support for FROM overrides
  Dockerfile
Due: gofmt, golint, govet, generate, unit, manifestlint

skip cleaning
  Makefile
  scripts/ci-e2e.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Add 1.3 contract in e2e infrastructure/metadata.yaml
  test/e2e/data/infrastructure-metal3/v1beta1/metadata.yaml
Due: gofmt, golint, govet, generate, unit, manifestlint

upgrade to capi prerelease v1.3.0-beta.1
  Makefile
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/infrastructure-metal3/v1beta1/metadata.yaml
  test/e2e/upgrade_management_cluster_test.go
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

test
  scripts/ci-e2e.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

test remove overrides
  Makefile
  scripts/ci-e2e.sh
  test/e2e/upgrade_management_cluster_test.go
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

override devenv CAPM3RELEASE
  scripts/ci-e2e.sh
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Fix PREVIOUS_TAG fetching in Makefile and improve pre-release notes with specific message
  Makefile
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

fix upgrade to pre-release
  Makefile
  scripts/ci-e2e.sh
  test/e2e/data/infrastructure-metal3/v1beta1/metadata.yaml
  test/e2e/upgrade_management_cluster_test.go
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

hardcode version
  test/e2e/upgrade_management_cluster_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

test
  test/e2e/config/e2e_conf.yaml
Due: gofmt, golint, govet, generate, unit, manifestlint

testing v1.3.0-beta.0 capm3
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Run e2e upgrade tests with CAPM3 pre-release
  test/e2e/data/infrastructure-metal3/v1beta1/metadata.yaml
  test/e2e/upgrade_management_cluster_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint

remove failfast when running e2e
  Makefile
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Use latest k8sversion instead of previous minor version for e2e tests
  scripts/environment.sh
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/node_reuse_test.go
  test/e2e/pivoting_based_feature_test.go
  test/e2e/remediation_based_feature_test.go
  test/e2e/upgrade_management_cluster_test.go
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Format e2e table logs
  test/e2e/common.go
Due: gofmt, golint, govet, generate, unit, manifestlint

Ginkgo v2 follow-up changes
  Makefile
Due: gofmt, golint, govet, shellcheck, generate, unit, manifestlint

Uplift CAPI to v1.2.6
  README.md
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: gofmt, golint, govet, markdownlint, generate, unit, manifestlint

Uplift to CAPI to v1.3.0-rc.0
  README.md
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/gen_tilt_settings.sh
  hack/tools/go.mod
  hack/tools/go.sum
Due: gofmt, golint, govet, markdownlint, shellcheck, generate, unit, manifestlint

Add "clusterctl.cluster.x-k8s.io/skip-crd-name-preflight-check" annotation to Metal3Data CRD through the kustomize patches
  config/crd/kustomization.yaml
  config/crd/patches/skipcrdnamecheck_in_metal3datas.yaml
Due: gofmt, golint, govet, generate, unit, manifestlint

Refactor e2e and remove test suffix from function files
  test/e2e/cert_rotation.go
  test/e2e/common.go
  test/e2e/inspection.go
  test/e2e/metal3remediation.go
  test/e2e/node_reuse.go
  test/e2e/pivoting_based_feature_test.go
  test/e2e/pivoting_test.go
  test/e2e/remediation.go
  test/e2e/remediation_based_feature_test.go
  test/e2e/upgrade_baremetal_operator.go
  test/e2e/upgrade_ironic.go
  test/e2e/upgrade_management_cluster_test.go
Due: gofmt, golint, govet, generate, unit, manifestlint
