Repository metal3-io/mariadb-image: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

add basic linters
  README.md
  hack/markdownlint.sh
  hack/shellcheck.sh
  prepare-image.sh
Due: shellcheck, markdownlint

make mariadb runnable as non-root
  Dockerfile
  configure-nonroot.sh
  runmariadb
Due: shellcheck

pin stream9 base image to a sha digest
  Dockerfile
Due: none

Add max connection to variable
  README.md
  runmariadb
Due: markdownlint

Revert "pin stream9 base image to a sha digest"
  Dockerfile
Due: none

Repair installing EPEL and avoid pip/crudini
  prepare-image.sh
  runmariadb
Due: shellcheck

Rework MariaDB initialization parameters
  runmariadb
Due: none

Stop using mariadb_safe to get stderr logging
  runmariadb
Due: none

Copy runmariadb as the last step to avoid unnecessary rebuilds
  Dockerfile
Due: none

Require TLS when it is enabled
  runmariadb
Due: none

Clean up after moving configuration off crudini
  runmariadb
Due: none

Make fatal errors more prominent and self-explanatory
  runmariadb
Due: none

Do not purge the users table, it removes system users
  runmariadb
Due: none

Add github action to trigger mariadb container image build
  .github/workflows/build-images-action.yml
Due: none

Prevent github build action runs on forks
  .github/workflows/build-images-action.yml
Due: none

bump markdownlint to 0.13.0
  hack/markdownlint.sh
Due: shellcheck

Add git tag trigger to container build wf
  .github/workflows/build-images-action.yml
Due: none

switch markdownlint container to markdownlint-cli2
  .markdownlint-cli2.yaml
  hack/markdownlint.sh
Due: shellcheck

format build image action consistenty
  .github/workflows/build-images-action.yml
Due: none

bump shellcheck to v0.10.0
  hack/shellcheck.sh
Due: shellcheck

Add Status badges in Readme
  README.md
Due: markdownlint

Add slack notifiactions for image building failures
  .github/workflows/build-images-action.yml
Due: none

add OWNERS_ALIASES support
  OWNERS
  OWNERS_ALIASES
Due: none

shellcheck only files
  hack/shellcheck.sh
Due: shellcheck

feat(mariadb): Add support for reading password from file Signed-off-by: Riddhi Gupta <riddhig@google.com>
  runmariadb
Due: none

Move container image build to gh runner
  .github/workflows/build-images-action.yml
Due: none

bump markdownlint-cli2 to v0.12.0
  hack/markdownlint.sh
Due: shellcheck

shellcheck runmariadb script
  hack/shellcheck.sh
Due: shellcheck

Allow mounting secrets instead of providing password via environment
  README.md
  runmariadb
Due: markdownlint

Run the IrSO functional job on ironic-images changes
  .github/workflows/irso-functional.yml
  hack/ci-e2e.sh
Due: shellcheck

Move inactive reviewers to emeritus
  OWNERS
  OWNERS_ALIASES
Due: none

add labels to Dockerfile
  Dockerfile
Due: none

Add deprecation notice
  README.md
Due: markdownlint

move functional test to larger github runner
  .github/workflows/irso-functional.yml
Due: none

remove IRSO functional test as its not supported
  .github/workflows/irso-functional.yml
Due: none

add image SBOM attestation to image builds
  .github/workflows/build-images-action.yml
Due: none

enable container signing
  .github/workflows/build-images-action.yml
Due: none

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: \.md$
