Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test

Path conditions:
  gomod: unless all of: (((^|/)OWNERS)|(\.md))$
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$
  build: any of: ^api|^test|^Makefile$
  test: any of: ^(Makefile|hack/.*)$

Fix dependabot release branch config to bump only patch versions
  .github/dependabot.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Group dependabot k8s bumps for release branches and ignore major,minor bumps
  .github/dependabot.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

add OWNERS_ALIASES support
  OWNERS
  OWNERS_ALIASES
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Bump only patch versions for release branch github actions
  .github/dependabot.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Use Logf and AnnotateBmh functions from BMO E2E
  test/e2e/cert_rotation.go
  test/e2e/common.go
  test/e2e/e2e_suite_test.go
  test/e2e/inspection.go
  test/e2e/ip_reuse.go
  test/e2e/live_iso_test.go
  test/e2e/node_deletion_remediation.go
  test/e2e/pivoting.go
  test/e2e/remediation.go
  test/e2e/upgrade_baremetal_operator.go
  test/e2e/upgrade_clusterctl_test.go
  test/e2e/upgrade_kubernetes_test.go
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

refactor TLS config
  main.go
  main_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Protect Metal3Data and Metal3DataClaim with Finalizers
  baremetal/metal3datatemplate_manager.go
  baremetal/metal3machine_manager.go
  baremetal/utils.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Add unit tests for duplicateProviderIDsExist
  baremetal/metal3machine_manager_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Bump CAPI to v1.7.2
  README.md
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint, build

Add slack notifiactions for image building failures
  .github/workflows/build-images-action.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Ensure M3DC is gone before cleaning up M3D
  baremetal/metal3data_manager.go
  baremetal/metal3datatemplate_manager.go
  baremetal/metal3datatemplate_manager_test.go
  baremetal/utils.go
  controllers/metal3data_controller.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

explicitly drop pr approver workflow permissions
  .github/workflows/pr-gh-workflow-approve.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Minor cleaning of M3DT manager code
  baremetal/metal3datatemplate_manager.go
  controllers/metal3datatemplate_controller.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Allow minor version bumps for golang.org/x/* dependancies for release branch
  .github/dependabot.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Bump golang to v1.22
  .github/workflows/release.yaml
  .golangci.yaml
  Dockerfile
  Makefile
  Tiltfile
  api/go.mod
  go.mod
  hack/build.sh
  hack/codegen.sh
  hack/gomod.sh
  hack/tools/go.mod
  hack/unit.sh
  test/go.mod
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

remove kubesec workflow
  .github/workflows/kubesec.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Remove Metal3Machine owner reference from BMH
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Put ´golang.org/x/*´ ignore rules after the ´*´ rule
  .github/dependabot.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Update Kustomize depricated syntax
  config/certmanager/certificate.yaml
  config/crd/kustomization.yaml
  config/crd/patches/cainjection_in_metal3clusters.yaml
  config/crd/patches/cainjection_in_metal3dataclaims.yaml
  config/crd/patches/cainjection_in_metal3datas.yaml
  config/crd/patches/cainjection_in_metal3datatemplates.yaml
  config/crd/patches/cainjection_in_metal3machines.yaml
  config/crd/patches/cainjection_in_metal3machinetemplates.yaml
  config/crd/patches/cainjection_in_metal3remediations.yaml
  config/crd/patches/cainjection_in_metal3remediationtemplates.yaml
  config/default/capm3/kustomization.yaml
  config/default/capm3/manager_webhook_patch.yaml
  config/default/capm3/webhookcainjection_patch.yaml
  config/default/kustomization.yaml
  config/ipam/kustomization.yaml
  config/manager/kustomization.yaml
  config/webhook/kustomization.yaml
  examples/provider-components/kustomization.yaml
  test/e2e/data/infrastructure-metal3/bases/centos-kubeadm-config/kustomization.yaml
  test/e2e/data/infrastructure-metal3/bases/ubuntu-kubeadm-config/kustomization.yaml
  test/e2e/data/infrastructure-metal3/cluster-template-ubuntu/kustomization.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

shellcheck only files
  hack/shellcheck.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, test

pin IPA version to avoid incompatibility with BMO 0.6
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/pivoting.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Remove m3m ownerRef from bmh
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

bump golang to 1.21.11
  Dockerfile
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

bump golang to 1.22.4
  Dockerfile
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Fix enableBMHNameBasedPreallocation label to ENABLE_BMH_NAME_BASED_PREALLOCATION
  config/manager/manager.yaml
  scripts/ci-e2e.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

bump capi to 1.7.3
  README.md
  api/go.mod
  api/go.sum
  docs/e2e-test.md
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint, build

bump capi to 1.7.3
  README.md
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint, build

Changing errors in pause annotation functions from terminal to tansient
  baremetal/metal3machine_manager.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Remove clearError() function for infrastructure objects
  baremetal/metal3cluster_manager.go
  baremetal/metal3cluster_manager_test.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  controllers/metal3machine_controller.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Return transient error instead of terminal while associating BMH
  baremetal/metal3machine_manager.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Rewrite fetch_target_logs.sh in Golang
  scripts/fetch_target_logs.sh
  test/e2e/fetch_target_logs.go
  test/e2e/pivoting.go
  test/e2e/upgrade_clusterctl_test.go
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

bump k8s.io/code-generator to v0.30.2
  hack/tools/go.mod
  hack/tools/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, test

Bumping BMO and minor fix in e2e config
  go.mod
  go.sum
  test/e2e/config/e2e_conf.yaml
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Document backporting rules for Go lang minor versions for images
  CONTRIBUTING.md
Due: markdownlint
