Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint

Path conditions:
  gofmt: (any of: \.go$) or (unless all of: (((^|/)OWNERS)|(\.md))$)
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  golint: (any of: \.go$) or (unless all of: (((^|/)OWNERS)|(\.md))$)
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$

bump google.golang.org/protobuf to v1.33.0
  apis/go.mod
  apis/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

bump shellcheck to v0.10.0
  hack/shellcheck.sh
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

bump google.golang.org/protobuf to v1.33.0
  apis/go.mod
  apis/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add golang base image check to verify-release.sh
  hack/verify-release.sh
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

Bump CAPI to v1.6.3
  test/go.mod
  test/go.sum
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Bump CAPI to v1.5.7
  test/go.mod
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Update OWNERS
  OWNERS
Due: none

Bump CAPI to v1.5.7
  test/go.mod
  test/go.sum
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Improve deploy.sh to differentiate between build and run of kustomize
  tools/deploy.sh
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

Remove ibmc and idrac drivers
  apis/metal3.io/v1alpha1/baremetalhost_validation_test.go
  docs/api.md
  pkg/hardwareutils/bmc/access.go
  pkg/hardwareutils/bmc/access_test.go
  pkg/hardwareutils/bmc/ibmc.go
  pkg/hardwareutils/bmc/idrac.go
  pkg/hardwareutils/bmc/idrac_virtualmedia.go
Due: gofmt, gosec, gomod, markdownlint, unit, generate, golint, manifestlint

Adding unit tests in pkg/provisioner/ironic/client.go
  pkg/provisioner/ironic/clients/client_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add scaffolding for dataimage crd
  PROJECT
  apis/metal3.io/v1alpha1/dataimage_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_dataimages.yaml
  config/base/crds/kustomization.yaml
  config/base/crds/patches/cainjection_in_dataimages.yaml
  config/base/crds/patches/webhook_in_dataimages.yaml
  config/base/rbac/dataimage_editor_role.yaml
  config/base/rbac/dataimage_viewer_role.yaml
  config/base/rbac/role.yaml
  config/render/capm3.yaml
  config/samples/metal3.io_v1alpha1_dataimage.yaml
  controllers/metal3.io/dataimage_controller.go
  main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

address pr review, use fmt.Errorf instead of errors.Wrap
  controllers/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add controller functions, dummy functionality for provisioner
  apis/metal3.io/v1alpha1/dataimage_types.go
  config/base/crds/bases/metal3.io_dataimages.yaml
  config/render/capm3.yaml
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/dataimage_controller.go
  controllers/metal3.io/host_state_machine_test.go
  main.go
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fix linters
  apis/metal3.io/v1alpha1/dataimage_types.go
  config/base/crds/bases/metal3.io_dataimages.yaml
  config/render/capm3.yaml
  controllers/metal3.io/dataimage_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

address issues raised in review comments, updated api definition
  apis/metal3.io/v1alpha1/dataimage_types.go
  config/base/crds/bases/metal3.io_dataimages.yaml
  config/render/capm3.yaml
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/dataimage_controller.go
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add lint-fix as make target
  Makefile
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

update function signatures, fix minor issues
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/dataimage_controller.go
  controllers/metal3.io/host_state_machine_test.go
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add non-bootable iso api
  PROJECT
  apis/metal3.io/v1alpha1/dataimage_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_dataimages.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fix comments, remove shortname
  apis/metal3.io/v1alpha1/dataimage_types.go
  config/base/crds/bases/metal3.io_dataimages.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Remove: Makefile related gofmt gosec scripts
  Makefile
  hack/gofmt.sh
  hack/gosec.sh
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

bump golang to 1.21.8
  Dockerfile
  Makefile
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

add support for beta/rc releases in release notes
  .github/workflows/release.yaml
  Makefile
  hack/tools/release/notes.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

update base kustomization, add cainjection, webhook configs and a sample dataimage resource file
  config/base/crds/kustomization.yaml
  config/base/crds/patches/cainjection_in_dataimages.yaml
  config/base/crds/patches/webhook_in_dataimages.yaml
  config/render/capm3.yaml
  config/samples/metal3.io_v1alpha1_dataimage.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2E: Run multiple BMO upgrade tests in sequence
  hack/ci-e2e.sh
  ironic-deployment/overlays/e2e-with-inspector/ironic-patch.yaml
  ironic-deployment/overlays/e2e-with-inspector/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e-with-inspector/kustomization.yaml
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/e2e_config.go
  test/e2e/e2e_suite_test.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

Separate upgrade plan from upgrade test
  test/e2e/common.go
  test/e2e/upgrade_hardware_config.go
  test/e2e/upgrade_plan.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fixed tests
  pkg/provisioner/ironic/factory_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Mount ironic HTPASSWD as volume instead of environment variable
  tools/run_local_ironic.sh
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

HostFirmwareComponents CRD and Controller
  PROJECT
  apis/metal3.io/v1alpha1/hostfirmwarecomponents_types.go
  apis/metal3.io/v1alpha1/hostfirmwarecomponents_types_test.go
  config/base/crds/bases/metal3.io_hostfirmwarecomponents.yaml
  config/base/crds/kustomization.yaml
  config/base/crds/patches/cainjection_in_hostfirmwarecomponents.yaml
  config/base/crds/patches/webhook_in_hostfirmwarecomponents.yaml
  config/base/rbac/hostfirmwarecomponents_editor_role.yaml
  config/base/rbac/hostfirmwarecomponents_viewer_role.yaml
  config/base/rbac/role.yaml
  config/render/capm3.yaml
  config/samples/metal3.io_v1alpha1_hostfirmwarecomponents.yaml
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/host_state_machine_test.go
  controllers/metal3.io/hostfirmwarecomponents_controller.go
  controllers/metal3.io/hostfirmwarecomponents_test.go
  main.go
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

address CI failures caused by unknown reference in tree construction stage
  test/e2e/upgrade_hardware_config.go
  test/e2e/upgrade_plan.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2E: Use real ISO for live-ISO test
  hack/ci-e2e.sh
  test/e2e/common.go
  test/e2e/config/bmcs-ipmi.yaml
  test/e2e/config/bmcs-redfish-virtualmedia.yaml
  test/e2e/config/bmcs-redfish.yaml
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/live_iso_test.go
  test/go.mod
  tools/bmh_test/clean_local_bmh_test_setup.sh
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

added unit tests in baremetalhost_types for SetOperationalStatus,SetHardwareProfile,HasBMCDetails and in bmceventsubscription_controller for addFinalizers,getProvisioner
  apis/metal3.io/v1alpha1/baremetalhost_types_test.go
  controllers/metal3.io/bmceventsubscription_controller_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint
