Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

golangci-lint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/ensure-golangci-lint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

govet:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/govet.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/codegen.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

build:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/build.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

Implement CRD migration
  config/rbac/role.yaml
  main.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Rename ephemeral cluster
  Makefile
  docs/e2e-test.md
  scripts/ci-e2e.sh
  scripts/environment.sh
  scripts/fetch_manifests.sh
  test/e2e/e2e_suite_test.go
  test/e2e/pivoting.go
  test/e2e/pivoting_based_feature_test.go
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test

Implement `FromPoolAnnotation`
  api/v1beta1/metal3datatemplate_types.go
  api/v1beta1/zz_generated.deepcopy.go
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datatemplates.yaml
  internal/webhooks/v1beta1/metal3datatemplate_webhook.go
  internal/webhooks/v1beta1/metal3datatemplate_webhook_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Add more test coverage
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

remove release-1-8 references from README
  README.md
Due: markdownlint

Stop using dev-env in E2E setup
  .yamlfmt
  Makefile
  baremetal/metal3cluster_manager_test.go
  controllers/suite_test.go
  hack/e2e/external.xml
  hack/e2e/fake-ipa.sh
  hack/e2e/net.xml
  hack/e2e/provisioning.xml
  hack/ensure-go.sh
  hack/ensure_kubectl.sh
  hack/ensure_minikube.sh
  hack/ensure_yq.sh
  scripts/ci-e2e.sh
  scripts/clean-e2e.sh
  test/e2e/bmc.go
  test/e2e/cert_manager.go
  test/e2e/common.go
  test/e2e/config/bmcs-redfish-virtualmedia.yaml
  test/e2e/config/bmcs.yaml
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/bmo-deployment/overlays/release-latest/ironic.env
  test/e2e/data/clean_local_bmh_test_setup.sh
  test/e2e/data/dnsmasq.env
  test/e2e/data/infrastructure-metal3/v1.9/bases/cluster-with-topology/cluster-with-topology.yaml
  test/e2e/data/infrastructure-metal3/v1.9/bases/cluster/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-metal3/v1.9/bases/cluster/md.yaml
  test/e2e/data/infrastructure-metal3/v1.9/bases/clusterclass-cluster/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-metal3/v1.9/bases/clusterclass-cluster/md.yaml
  test/e2e/data/infrastructure-metal3/v1.9/bases/clusterclass-ubuntu-kubeadm-config/clusterclass-ubuntu-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/v1.9/bases/ubuntu-kubeadm-config/ubuntu-kubeadm-config.yaml
  test/e2e/data/ironic-deployment/overlays/release-latest/ironic-patch.yaml
  test/e2e/data/ironic-deployment/overlays/release-latest/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-latest/kustomization.yaml
  test/e2e/data/sushy-tools/sushy-emulator.conf
  test/e2e/e2e_suite_test.go
  test/e2e/node_reuse.go
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Add n+3 test in e2e
  scripts/ci-e2e.sh
  scripts/environment.sh
  test/e2e/common.go
  test/e2e/upgrade_kubernetes_n3_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

use label selector on list call during host selection
  baremetal/metal3machine_manager.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Uplift CAPI to v1.11.3
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test

Uplift CAPI to v1.10.8
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test

Uplift CAPI to v1.12.0-beta-0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test

fix clusterctl upgrade test to upgrade to latest available version
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Upgrade to latest 1.10 instead of pre release.
  test/e2e/config/e2e_conf.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Uplift IPAM to v1.10.4 and BMO to v1.10.5
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test

Uplift BMO and IPAM to v1.11.2
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Adapt consumerRef/ownerRef checks to controller-runtime changes
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Use variable for Metal3MachineKind
  baremetal/metal3data_manager_test.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  baremetal/suite_test.go
  baremetal/utils_test.go
  controllers/metal3labelsync_controller.go
  controllers/metal3labelsync_controller_test.go
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_integration_test.go
  controllers/metal3machine_controller_test.go
  controllers/suite_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Add Cilium as an CNI option in tests
  go.mod
  go.sum
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/helm_helper.go
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Bump in FKAS CAPI to v1.11.3, CAPM3 api to v1.11.1, BMO to v0.11.2
  hack/fake-apiserver/cmd/metal3-fkas-reconciler/main.go
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, test

Use IRSO in e2e tests
  scripts/ci-e2e.sh
  test/e2e/common.go
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/bmo-deployment/overlays/release-0.9/ironic.env
  test/e2e/data/bmo-deployment/overlays/release-0.9/kustomization.yaml
  test/e2e/data/ironic-deployment/components/basic-auth/auth.yaml
  test/e2e/data/ironic-deployment/components/basic-auth/ironic-auth-config-tpl
  test/e2e/data/ironic-deployment/components/basic-auth/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/pr-test/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/pr-test/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/pr-test/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/release-27.0/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-27.0/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/release-27.0/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/release-29.0/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-29.0/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/release-29.0/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/release-31.0/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-31.0/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/release-31.0/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/release-32.0/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-32.0/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/release-32.0/kustomization.yaml
  test/e2e/data/ironic-deployment/overlays/release-latest/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-latest/keepalived_patch.yaml
  test/e2e/data/ironic-deployment/overlays/release-latest/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/base/ironic.yaml
  test/e2e/data/ironic-standalone-operator/ironic/base/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/components/basic-auth/auth-patch.yaml
  test/e2e/data/ironic-standalone-operator/ironic/components/basic-auth/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/components/tls/certificate.yaml
  test/e2e/data/ironic-standalone-operator/ironic/components/tls/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/components/tls/tls.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/latest/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/pr-test/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/release-31.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/release-32.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/kustomization.yaml
  test/e2e/pivoting.go
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Uplift Crypto to v0.43.
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test

Uplift go v1.24.10
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test

Bump Crypto to v0.43.0 and Go to 1.24.10 to fix Vulnerability
  api/go.mod
  go.mod
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test

Fix staticcheck(SA1029) remove unnessary context.TODO()
  api/v1beta1/metal3machine_types_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Uplift Crypto to v0.43.0 to fix Vulnerability
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test

Uplift BMO v0.12.0-beta.0 and IPAM v1.12.0-beta.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

:rocket: Release v1.11.2
  releasenotes/v1.11.2.md
Due: markdownlint

:rocket: Release v1.12.0-beta.0
  releasenotes/v1.12.0-beta.0.md
Due: markdownlint

:rocket: Release v1.10.4
  releasenotes/v1.10.4.md
Due: markdownlint

Fix rbac for crdmigrator
  config/rbac/role.yaml
  main.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Add missing RBAC permissions for metal3clustertemplates
  config/rbac/role.yaml
  controllers/metal3cluster_controller.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Fix nil pointer issue while checking bootstrapReadyCondition
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  controllers/metal3machine_controller.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Remove invalid kustomizeconfig from config/webhook
  config/webhook/kustomization.yaml
  config/webhook/kustomizeconfig.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Add Cilium as an CNI option in tests
  go.mod
  go.sum
  test/e2e/config/e2e_conf.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/helm_helper.go
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

add opensuse-leap host os support for e2e
  scripts/environment.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

add support for running e2e on opensuse-leap host
  scripts/environment.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

Path conditions:
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  unit: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  build: any of: ^api|^test|^Makefile$
  test: any of: ^(Makefile|hack/.*)$
