Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  golint: any of: \.go$
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$

E2E: Revert temporary pinning of Ironic
  ironic-deployment/overlays/e2e/kustomization.yaml
Due: gosec, gomod, unit, generate, manifestlint

Bump Golang to v1.23.4, k8s.io/utils, controller-runtime tov0.19.3 and, CAPI to v1.9.0-rc.1
  Dockerfile
  Makefile
  go.mod
  go.sum
  hack/e2e/ensure_go.sh
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Manual cherry-pick of https://github.com/metal3-io/baremetal-operator/pull/2102
  config/base/kustomization.yaml
  config/base/manager_auth_proxy_patch.yaml
  config/base/rbac/auth_proxy_client_clusterrole.yaml
  config/base/rbac/auth_proxy_role.yaml
  config/base/rbac/auth_proxy_role_binding.yaml
  config/base/rbac/auth_proxy_service.yaml
  config/base/rbac/kustomization.yaml
  config/render/capm3.yaml
  go.mod
  go.sum
  main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Bump CAPI to v1.9.0
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint, test

Bump CAPI to v1.7.9
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint

disable deep image inspection for e2e
  ironic-deployment/overlays/e2e/ironic_bmo_configmap.env
Due: gosec, gomod, unit, generate, manifestlint

Fix error on Deploy-cli
  .github/workflows/golangci-lint.yml
  Makefile
  hack/tools/deploy-cli/deploy-cli.go
  hack/tools/deploy-cli/main.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

Add RBAC files for metrics authentication and authorization
  config/base/rbac/kustomization.yaml
  config/base/rbac/metrics_auth_role.yaml
  config/base/rbac/metrics_auth_role_binding.yaml
  config/base/rbac/metrics_reader_role.yaml
  config/base/rbac/metrics_service.yaml
  config/overlays/e2e/kustomization.yaml
  config/render/capm3.yaml
Due: gosec, gomod, unit, generate, manifestlint

Add release github workflow
  .github/workflows/build-images-action.yml
  .github/workflows/release.yaml
Due: gosec, gomod, unit, generate, manifestlint

Add e2e test for metrics service
  .golangci.yaml
  config/base/manager.yaml
  config/render/capm3.yaml
  main.go
  test/e2e/e2e_suite_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Bump CAPI to v1.9.1
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint, test

Add release 0.9 e2e tests and branch release-0.9 to README
  .github/workflows/e2e-test-optional-periodic-release-0.9.yml
  .github/workflows/e2e-test-periodic-release-0.9.yml
  README.md
  config/overlays/e2e-release-0.9/ironic.env
  config/overlays/e2e-release-0.9/kustomization.yaml
  config/overlays/fixture-release-0.9/kustomization.yaml
  hack/ci-e2e.sh
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
Due: gosec, gomod, markdownlint, shellcheck, unit, generate, manifestlint, test

update dependabot config
  .github/dependabot.yml
Due: gosec, gomod, unit, generate, manifestlint

bump cert-manager to v1.12.14 and x/crypto to v0.31.0
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint

Fix BMO fixture-release-0.8 tag names
  config/overlays/fixture-release-0.8/kustomization.yaml
Due: gosec, gomod, unit, generate, manifestlint

vulnerability fixes github.com/docker/docker and golang.org/x/net
  apis/go.mod
  apis/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  pkg/hardwareutils/go.mod
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint, test

Refactor and rename ValidateManagementAccess
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/host_state_machine_test.go
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/register.go
  pkg/provisioner/ironic/register_test.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add intervals while checking metrics service
  test/e2e/e2e_suite_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Fix metrics service validation
  test/e2e/e2e_suite_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

increase 1 timeout in external-inspection test
  test/e2e/config/fixture.yaml
Due: gosec, gomod, unit, generate, manifestlint

add support for locally built ironic in e2e test
  hack/ci-e2e.sh
  ironic-deployment/overlays/e2e-local-ironic/ironic-patch.yaml
  ironic-deployment/overlays/e2e-local-ironic/kustomization.yaml
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Fix BMO optional test by not checking metrics service
  test/e2e/e2e_suite_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fixing empty checksumType default behaviour
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/baremetalhost_types_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

bump kubeconform to v0.6.7
  hack/manifestlint.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Update README badges and e2e triggers
  README.md
Due: markdownlint

Take new release workflow into use
  .github/workflows/release.yaml
  .gitignore
  docs/releasing.md
Due: gosec, gomod, markdownlint, unit, generate, manifestlint

bump x/net to v0.34.0
  apis/go.mod
  apis/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint, test
