Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test, build-fkas

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

golangci-lint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/ensure-golangci-lint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

govet:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/govet.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/codegen.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

build:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/build.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

Add fuzz test
  Makefile
  test/fuzz/README.md
  test/fuzz/image_validate_fuzz_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Fix logical operator in ConsumerRef validation
  controllers/metal3labelsync_controller.go
  controllers/metal3labelsync_controller_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

:rocket: Release v1.13.0-beta.0
  releasenotes/v1.13.0-beta.0.md
Due: markdownlint

docs: Add Fast Track and enhance IP reuse documentation
  docs/fast-track.md
  docs/ip_reuse.md
Due: markdownlint

Address fast track and IP reuse review feedback
  docs/fast-track.md
  docs/ip_reuse.md
Due: markdownlint

Allow Metal3Machine addresses to be sourced from metadata secret
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Restrict Metal3DataClaim templates to same namespace
  controllers/metal3datatemplate_controller.go
  controllers/metal3datatemplate_controller_test.go
  internal/webhooks/v1beta1/metal3dataclaim_webhook.go
  internal/webhooks/v1beta1/metal3dataclaim_webhook_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

feat: Add custom Prometheus metrics for controller observability
  controllers/metal3cluster_controller.go
  controllers/metal3data_controller.go
  controllers/metal3datatemplate_controller.go
  controllers/metal3labelsync_controller.go
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_test.go
  controllers/metal3machinetemplate_controller.go
  controllers/metal3remediation_controller.go
  docs/metrics.md
  go.mod
  internal/metrics/metrics.go
  internal/metrics/metrics_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint

🌱 Switch from docker to moby dependencies
  test/e2e/pivoting.go
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

:bug: Fix incorrect logical operator in ConsumerRef validation
  controllers/metal3labelsync_controller.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

:bug: Fix typo causing Metal3Cluster to reconcile on every status update
  controllers/metal3cluster_controller.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Enable kube api sub linters: conditions, maxlength, ssatags and statusoptional
  .golangci-kal.yaml
  api/v1beta1/conversion.go
  api/v1beta1/conversion_test.go
  api/v1beta1/zz_generated.conversion.go
  api/v1beta2/common_types.go
  api/v1beta2/metal3cluster_types.go
  api/v1beta2/metal3dataclaim_types.go
  api/v1beta2/metal3datatemplate_types.go
  api/v1beta2/metal3machine_types.go
  api/v1beta2/metal3remediationtemplate_types.go
  api/v1beta2/zz_generated.deepcopy.go
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  baremetal/metal3datatemplate_manager.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3dataclaims.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3datatemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3remediationtemplates.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

Revert "Merge pull request #3284 from knfoo/bug/set-default-providerid"
  baremetal/metal3machine_manager.go
  controllers/metal3machine_controller_integration_test.go
  controllers/metal3machine_controller_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Revert "Remove legacy provider id from clustectl tests"
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

bug: Fix typo causing Metal3Cluster to reconcile on every status update
  controllers/metal3cluster_controller.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Restore TLSdefault to no configuration and make TLS 1.3 hardening a kustomization applied in tests
  config/manager/manager.yaml
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/bmo-deployment/overlays/pr-test/kustomization.yaml
  test/e2e/data/bmo-deployment/overlays/release-main/kustomization.yaml
  test/e2e/data/infrastructure-metal3/overlays/main/kustomization.yaml
  test/e2e/data/infrastructure-metal3/overlays/release-1.11/kustomization.yaml
  test/e2e/data/infrastructure-metal3/overlays/release-1.12/kustomization.yaml
  test/e2e/data/ipamprovider-metal3/overlays/main/kustomization.yaml
  test/e2e/data/ipamprovider-metal3/overlays/release-1.11/kustomization.yaml
  test/e2e/data/ipamprovider-metal3/overlays/release-1.12/kustomization.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

:bug: Restrict namespace secret references in Metal3Machine
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  internal/webhooks/v1beta2/metal3machine_webhook.go
  internal/webhooks/v1beta2/metal3machine_webhook_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

:bug: Restrict namespace secret references in Metal3Machine
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  internal/webhooks/v1beta1/metal3machine_webhook.go
  internal/webhooks/v1beta1/metal3machine_webhook_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Bump IPAM BMO to 13.0.0-rc.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

:rocket: Release v1.13.0-rc.0
  releasenotes/v1.13.0-rc.0.md
Due: markdownlint

Bump Go version to 1.25.10
  Dockerfile
  Makefile
  hack/fake-apiserver/Dockerfile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Remove all code related to legacy form of ProviderID
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  baremetal/mocks/zz_generated.metal3machine_manager.go
  baremetal/utils.go
  baremetal/utils_test.go
  controllers/metal3machine_controller_integration_test.go
  controllers/metal3machine_controller_test.go
  controllers/suite_test.go
  docs/architecture.md
  test/e2e/node_reuse.go
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint, build

Bump golang.org/x/net to v0.53.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test, build-fkas

fix fast track logic in the documentation
  docs/fast-track.md
  docs/ip_reuse.md
Due: markdownlint

Update E2E tests to use latest BMO and IRSO versions
  scripts/ci-e2e.sh
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/bmo-deployment/overlays/release-0.13/ironic.env
  test/e2e/data/bmo-deployment/overlays/release-0.13/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/components/basic-auth/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/components/tls/certificate.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/release-35.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/kustomization.yaml
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Return error on list API failure
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

:rocket: Release v1.12.5
  releasenotes/v1.12.5.md
Due: markdownlint

:rocket: Release v1.11.8
  releasenotes/v1.11.8.md
Due: markdownlint

Tolerate non-string metadata values when reading address overrides
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Bump IRSO v0.9.0 and fix the e2e
  scripts/ci-e2e.sh
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/bmo-deployment/overlays/release-0.13/ironic.env
  test/e2e/data/bmo-deployment/overlays/release-0.13/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/components/basic-auth/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/components/tls/certificate.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/release-35.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/kustomization.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

refactor: optimize md-taints patches using kustomize Component
  test/e2e/data/infrastructure-metal3/main/cluster-template-centos-md-taints/kustomization.yaml
  test/e2e/data/infrastructure-metal3/main/cluster-template-ubuntu-md-taints/kcp-taints.yaml
  test/e2e/data/infrastructure-metal3/main/cluster-template-ubuntu-md-taints/kustomization.yaml
  test/e2e/data/infrastructure-metal3/main/cluster-template-ubuntu-md-taints/md-taints.yaml
  test/e2e/data/infrastructure-metal3/main/components/taints/kcp-taints.yaml
  test/e2e/data/infrastructure-metal3/main/components/taints/kustomization.yaml
  test/e2e/data/infrastructure-metal3/main/components/taints/md-taints.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Remove ironic 32.0 overlay from e2e tests
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/release-32.0/kustomization.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Fix capm3, capi and ipam versions for main branch
  clusterctl-settings.json
  scripts/ci-e2e.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

Fix capi version for release-1.13
  scripts/ci-e2e.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

Add a timeout for Kustomization
  test/e2e/data/bmo-deployment/overlays/release-0.13/kustomization.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Path conditions:
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  unit: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  build: (any of: ^api|^test|^Makefile$) or (any of: ^api|^test|^Makefile$|^hack/build.sh$)
  test: any of: ^(Makefile|hack/.*)$
  build-fkas: any of: ^hack/fake-apiserver|^api|^Makefile$|^hack/build.sh$
