Repository metal3-io/metal3-dev-env: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: \.md$

Increase ansible verbosity for troubleshooting
  01_prepare_host.sh
  02_configure_host.sh
  tests/run.sh
Due: shellcheck

Add port 443 to firewall rules
  vm-setup/roles/firewall/defaults/main.yml
Due: none

test commit: revert default libvirt_domain_type to kvm
  vm-setup/roles/libvirt/tasks/vm_setup_tasks.yml
  vm-setup/roles/libvirt/templates/baremetalvm.xml.j2
Due: none

remove obsolete OWNERS in feature tests
  tests/feature_tests/OWNERS
Due: none

Allow metal3-dev-env to run on a generic ubuntu VM
  01_prepare_host.sh
  02_configure_host.sh
  README.md
  lib/common.sh
  vars.md
  vm-setup/roles/firewall/defaults/main.yml
  vm-setup/roles/firewall/tasks/firewalld.yaml
  vm-setup/roles/firewall/tasks/iptables.yaml
  vm-setup/roles/libvirt/defaults/main.yml
  vm-setup/roles/libvirt/tasks/vm_setup_tasks.yml
  vm-setup/roles/libvirt/templates/baremetalvm.xml.j2
  vm-setup/roles/packages_installation/defaults/main.yml
  vm-setup/roles/packages_installation/tasks/ubuntu_required_packages.yml
Due: shellcheck, markdownlint

Add dtantsur and elfosardo to reviewers list
  OWNERS
Due: none

Fetch target cluster logs before re-pivot
  Makefile
  tests/feature_tests/pivoting/Makefile
  tests/roles/run_tests/vars/main.yml
  tests/scripts/fetch_target_logs.sh
  tests/test.sh
Due: shellcheck

Improve make file script entry path
  tests/feature_tests/healthcheck/Makefile
  tests/feature_tests/pivoting/Makefile
  tests/feature_tests/remediation/Makefile
Due: none

unify ansible extra_var handling
  02_configure_host.sh
  host_cleanup.sh
  lib/common.sh
  vm-setup/roles/firewall/tasks/main.yml
Due: shellcheck

Deprecate upgrade ansible test
  Makefile
  tests/feature_tests/README.md
  tests/feature_tests/pivoting/Makefile
  tests/feature_tests/setup_env.sh
  tests/feature_tests/upgrade/Makefile
  tests/feature_tests/upgrade/upgrade.sh
  tests/feature_tests/upgrade/upgrade_vars.sh
  tests/roles/run_tests/tasks/main.yml
  tests/roles/run_tests/tasks/upgrade.yml
  tests/roles/run_tests/templates/clusterctl-upgrade-test.yaml
  tests/roles/run_tests/vars/main.yml
Due: shellcheck, markdownlint

Add firewalld cleanup
  host_cleanup.sh
  vm-setup/roles/firewall/tasks/firewalld.yaml
  vm-setup/roles/firewall/tasks/main.yml
Due: shellcheck

Allow setting ansible verbosity for troubleshooting
  lib/common.sh
Due: shellcheck

Fix redefinition of OS variable during krew install
  01_prepare_host.sh
Due: shellcheck

Prepare dev-env for CAPI v1.4
  lib/releases.sh
Due: shellcheck

Remove hardcoding cert-manager version. Cert manager is already newer than 1.10.0
  03_launch_mgmt_cluster.sh
Due: shellcheck

remove k8s from renovate config
  renovate.json
Due: none

tag current capm3 rlease with patch .99
  lib/releases.sh
Due: shellcheck

refactor dev-env variable names
  01_prepare_host.sh
  02_configure_host.sh
  03_launch_mgmt_cluster.sh
  04_verify.sh
  README.md
  clouds.yaml.j2
  config_example.sh
  host_cleanup.sh
  lib/common.sh
  lib/images.sh
  lib/ironic_tls_setup.sh
  lib/network.sh
  tests/roles/run_tests/templates/cluster-template-cluster.yaml
  tests/roles/run_tests/templates/clusterctl-vars.yaml
  tests/roles/run_tests/templates/metal3datatemplate-template.yaml
  tests/roles/run_tests/vars/main.yml
  ubuntu_bridge_network_configuration.sh
  vars.md
  vm-setup/library/generate_macs.py
  vm-setup/roles/common/defaults/main.yml
  vm-setup/roles/firewall/defaults/main.yml
  vm-setup/roles/firewall/tasks/firewalld.yaml
  vm-setup/roles/firewall/tasks/iptables.yaml
  vm-setup/roles/libvirt/defaults/main.yml
  vm-setup/roles/libvirt/tasks/network_teardown_tasks.yml
Due: shellcheck, markdownlint

Remove mentions of v1alpha5 from dev-env
  04_verify.sh
  README.md
  config_example.sh
  lib/common.sh
  lib/releases.sh
  tests/roles/run_tests/templates/cluster-template-controlplane.yaml
  tests/roles/run_tests/templates/cluster-template-workers.yaml
  vars.md
Due: shellcheck, markdownlint

Fix BMO branching and tags for different CAPM3 release branches
  03_launch_mgmt_cluster.sh
  README.md
  lib/common.sh
Due: shellcheck, markdownlint

Fix BMO local image building workflow
  lib/common.sh
Due: shellcheck

Explicitly set IRONIC_FROM_SOURCE default to false
  lib/common.sh
Due: shellcheck

Add support for building mariadb image
  02_configure_host.sh
  lib/common.sh
  vars.md
Due: shellcheck, markdownlint

improve the shell syntax of scripts (1)
  01_prepare_host.sh
  03_launch_mgmt_cluster.sh
  hack/run-bmo-loop.sh
  lib/common.sh
  tests/test.sh
Due: shellcheck

Allow custom source to build ironic-image from source
  02_configure_host.sh
  vars.md
Due: shellcheck, markdownlint

Update 02_configure_host.sh
  02_configure_host.sh
Due: shellcheck

fixing NUM_NODE issue
  lib/common.sh
Due: shellcheck

WIP: test ironic with non-root keepalived/mariadb images
  config_example.sh
Due: shellcheck

Fix IPA_BASEURI default value
  01_prepare_host.sh
Due: shellcheck

refactor target log collection script
  tests/scripts/fetch_target_logs.sh
Due: shellcheck

Fix manifest image update for Keepalived
  03_launch_mgmt_cluster.sh
Due: shellcheck

Fix keepalived image export
  lib/common.sh
Due: shellcheck

Explicitly set BMOBRANCH to main when CAPM3 Branch is main
  03_launch_mgmt_cluster.sh
  lib/common.sh
  lib/releases.sh
Due: shellcheck

Fix manifest collection before pivot
  tests/roles/run_tests/vars/main.yml
  tests/scripts/fetch_manifests.sh
  tests/test.sh
Due: shellcheck

fix duplicate sourcing of network.sh
  01_prepare_host.sh
  tests/run.sh
  tests/test.sh
Due: shellcheck

add lib/debug.sh
  lib/debug.sh
Due: shellcheck

Fix pulling container images
  01_prepare_host.sh
  lib/common.sh
Due: shellcheck

Remove leftover ISO images from the default pool
  vm-setup/roles/libvirt/tasks/vm_teardown_tasks.yml
Due: none
