Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  golint: any of: \.go$
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$

Uplift go 1.24.9
  Dockerfile
  Makefile
  hack/e2e/ensure_go.sh
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation_test.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

Uplift go 1.24.9
  Dockerfile
  Makefile
  apis/metal3.io/v1alpha1/baremetalhost_validation_test.go
  hack/e2e/ensure_go.sh
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation_test.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

fix: make bootMACAddress webhook validation case-insensitive
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation.go
  internal/webhooks/metal3.io/v1alpha1/baremetalhost_validation_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2E: Improve logs and artifacts in upgrade tests
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Allow accessing Ironic CR in namespaced mode tests
  config/overlays/e2e/roles-rolebindings/roles-rolebindings.yaml
Due: gosec, gomod, unit, generate, manifestlint

refactor package naming
  pkg/imageauthvalidator/validator.go
  pkg/imageauthvalidator/validator_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add conditions to the bmo
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

set image auth conditions while getting auth secret during reconciliation
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_image_auth_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

implement pullsecret logic in controller
  internal/controller/metal3.io/baremetalhost_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add ImagePullSecret to the API
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add more cases to handle the auth config | refactor error handling
  pkg/secretutils/dockerconfig.go
  pkg/secretutils/dockerconfig_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add secret watch for reconciliation on the key rotation cases
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_secret_watch_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add utils for dockerconfig and authvalidation
  pkg/imageauthvalidator/validator.go
  pkg/imageauthvalidator/validator_test.go
  pkg/secretutils/dockerconfig.go
  pkg/secretutils/dockerconfig_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add ImagePullSecret to the API docs
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/render/capm3.yaml
Due: gosec, gomod, unit, generate, manifestlint

implement ImagePullSecret for the ironic end
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

E2E: Remove duplicate inspection test
  test/e2e/inspection_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Allow vbmctl to create VM with multiple network interfaces
  test/e2e/automated_cleaning_test.go
  test/e2e/bmc.go
  test/e2e/live_iso_test.go
  test/e2e/provisioning_and_annotation_test.go
  test/vbmctl/main.go
  test/vbmctl/templates/VM.xml.tpl
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Run osv-scanner on supported branches
  .github/workflows/scheduled-osv-scan.yml
Due: gosec, gomod, unit, generate, manifestlint

Drop the non-Redfish iLO 4 and iLO 5 drivers
  pkg/hardwareutils/bmc/access_test.go
  pkg/hardwareutils/bmc/ilo4.go
  pkg/hardwareutils/bmc/ilo5.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Allow vbmctl to create VM with multiple network interfaces
  test/e2e/bmc.go
  test/e2e/config/bmcs-ipmi.yaml
  test/e2e/config/bmcs-redfish-virtualmedia.yaml
  test/e2e/config/bmcs-redfish.yaml
  test/e2e/re_inspection_test.go
  test/vbmctl/main.go
  test/vbmctl/templates/VM.xml.tpl
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Update to Pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: markdownlint

e2e: new test on external inspection without annotations
  test/e2e/external_inspection_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Capture and store LLDP data in HardwareData
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/base/crds/bases/metal3.io_hardwaredata.yaml
  config/render/capm3.yaml
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_controller_test.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/hardwaredetails/hardwaredetails.go
  pkg/provisioner/ironic/hardwaredetails/hardwaredetails_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Allow recovering hardware details from existing HardwareData
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_controller_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Completely remove support for ironic-inspector
  pkg/provisioner/ironic/hardwaredetails/hardwaredetails.go
  pkg/provisioner/ironic/hardwaredetails/hardwaredetails_test.go
  pkg/provisioner/ironic/inspecthardware.go
  pkg/provisioner/ironic/register.go
  pkg/provisioner/ironic/register_test.go
  pkg/provisioner/ironic/testserver/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Remove support for Ironic before 2024.1
  pkg/provisioner/ironic/clients/client.go
  pkg/provisioner/ironic/clients/features.go
  pkg/provisioner/ironic/clients/features_test.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/register.go
  pkg/provisioner/ironic/servicing.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fix(deploy): include missing namespace in default installation
  config/default/kustomization.yaml
Due: gosec, gomod, unit, generate, manifestlint

Test ironic-image change for master_iso_images
  go.mod
  go.sum
  test/e2e/data/ironic-standalone-operator/ironic/base/ironic.yaml
Due: gosec, gomod, unit, generate, manifestlint

E2E: Pre-download IPA and serve from disk image server
  hack/ci-e2e.sh
  test/e2e/data/ironic-standalone-operator/operator/kustomization.yaml
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

add copilot-instructions.md
  .github/copilot-instructions.md
Due: markdownlint

Uplift CAPI to v1.12.0-beta.0
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint, test

Uplift CAPI to v1.11.3
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint, test

Uplifts CAPI to v1.10.8
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint, test

Capture and store LLDP data in HardwareData
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  config/base/crds/bases/metal3.io_baremetalhosts.yaml
  config/base/crds/bases/metal3.io_hardwaredata.yaml
  config/render/capm3.yaml
  internal/controller/metal3.io/baremetalhost_controller_test.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/hardwaredetails/hardwaredetails.go
  pkg/provisioner/ironic/hardwaredetails/hardwaredetails_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

test ironic tempdir=/shared/tmp
  test/e2e/data/ironic-standalone-operator/ironic/base/ironic.yaml
Due: gosec, gomod, unit, generate, manifestlint

refactor validator name for clarity
  pkg/secretutils/image_auth_validator.go
  pkg/secretutils/image_auth_validator_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint
