Repository Nordix/metal3-dev-tools: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: (\.md|markdownlint\.sh)$

Changed the gitHub workflow link on the readme file.
  README.md
Due: markdownlint

update repo sync
  scripts/update-nordix-repos-master.sh
Due: shellcheck

Add Metal3 .project repo to sync
  scripts/update-nordix-repos-master.sh
Due: shellcheck

Add rook and ceph to repo sync
  scripts/update-nordix-repos-master.sh
Due: shellcheck

Move artifact cleanup and repo sync to OCI
  ci/jobs/artifact_cleanup.pipeline
  ci/jobs/update_nordix_repos.pipeline
Due: none

update repos synced
  scripts/update-nordix-repos-master.sh
Due: shellcheck
