Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: \.md$
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  golint: any of: \.go$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$

Don't register in Inspecting if inspection disabled
  controllers/metal3.io/host_state_machine.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add zhouhao3 to reviewers
  OWNERS
Due: none

Don't require pre-provisioning image for live ISO provisioning
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Don't require pre-provisioning image for deprovisioning without cleaning
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

give hardwareutils a pinned version so it may be imported
  .gitignore
  apis/go.mod
  go.mod
Due: gosec, gomod, unit, generate, manifestlint

also version apis package in root go.mod
  go.mod
Due: gosec, gomod, unit, generate, manifestlint

fix comment
  controllers/metal3.io/host_state_machine.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Update build status badges
  README.md
Due: markdownlint

use StepInterface constants
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/raid.go
  pkg/provisioner/ironic/raid_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add short description of HardwareData API
  docs/api.md
Due: markdownlint

add boot from volume related struct and logic
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  controllers/metal3.io/baremetalhost_controller.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

ironic: Always add ImageFormatInitRD to supported formats
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Change ordering of expected formats to fix test
  pkg/provisioner/ironic/validatemanagementaccess_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Fix ironic httpd readness & liveness Probe
  ironic-deployment/ironic/ironic.yaml
Due: gosec, gomod, unit, generate, manifestlint

Add initrd after iso
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/validatemanagementaccess_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Move hardys to emeritus_approvers
  OWNERS
Due: none

Increase the handling of 409 errors when node creation fails
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Handle maintenance more gracefully
  pkg/provisioner/ironic/adopt_test.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/provision_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Remove stale instanceUUID before deletion
  pkg/provisioner/ironic/delete_test.go
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fix location bug of BootVolume in baremetalhost_types.go
  apis/metal3.io/v1alpha1/baremetalhost_types.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Update vendor
  apis/vendor/gopkg.in/yaml.v3/decode.go
  apis/vendor/modules.txt
  hack/tools/vendor/gopkg.in/yaml.v3/decode.go
  hack/tools/vendor/modules.txt
  vendor/github.com/metal3-io/baremetal-operator/apis/metal3.io/v1alpha1/baremetalhost_types.go
  vendor/github.com/metal3-io/baremetal-operator/apis/metal3.io/v1alpha1/hardwaredata_types.go
  vendor/github.com/metal3-io/baremetal-operator/apis/metal3.io/v1alpha1/zz_generated.deepcopy.go
  vendor/gopkg.in/yaml.v3/decode.go
  vendor/modules.txt
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

ocp: add hardwaredata to ocp kustomization
  config/crd/ocp/ocp_kustomization.yaml
Due: gosec, gomod, unit, generate, manifestlint

add honza pokorny as approver
  OWNERS
Due: none

delete minor unreachable code in test caused by t.Fatal
  controllers/metal3.io/baremetalhost_controller_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Bump golangci-lint to v1.46.2.
  hack/tools/go.mod
  hack/tools/go.sum
  pkg/provisioner/ironic/raid.go
  pkg/provisioner/ironic/raid_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add validations for ImageURL
  apis/metal3.io/v1alpha1/baremetalhost_validation.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add UT for validateImageUrl
  apis/metal3.io/v1alpha1/baremetalhost_validation_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add validations for Image.DiskFormat
  apis/metal3.io/v1alpha1/baremetalhost_validation.go
  apis/metal3.io/v1alpha1/baremetalhost_validation_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

build from local gophercloud not github.com
  go.mod
  go.sum
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Remove spec matcher for string operation for devicehint
  pkg/provisioner/ironic/devicehints/devicehints.go
  pkg/provisioner/ironic/devicehints/devicehints_test.go
  pkg/provisioner/ironic/updateopts_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

logic fix
  controllers/metal3.io/baremetalhost_controller.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

bug fix
  apis/metal3.io/v1alpha1/baremetalhost_types.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Minimum Viable Product
  apis/metal3.io/v1alpha1/baremetalhost_types.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Automate releasing process
  .github/workflows/release.yaml
  Makefile
  docs/releasing.md
  hack/tools/release_notes.go
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint

Uplift go.etcd.io/etcd v3.3.27
  go.mod
  go.sum
Due: gosec, gomod, unit, generate, manifestlint

Uplift gopkg.in/yaml.v3 to v3.0.1
  apis/go.mod
  apis/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gosec, gomod, unit, generate, manifestlint
