Repository metal3-io/metal3-dev-env: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:stable
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:latest
      imagePullPolicy: Always

Update dependency ansible to v4.10.0
  lib/common.sh
Due: shellcheck

Enable TLS and basic authentication in tilt environment
  03_launch_mgmt_cluster.sh
  cluster_cleanup.sh
  scripts/deploy_tilt_env.sh
Due: shellcheck

Inject ssh key also in ironic ramdisk
  03_launch_mgmt_cluster.sh
  lib/common.sh
Due: shellcheck

Add deprovision target to Makefile
  Makefile
Due: shellcheck

Use CAPI prerelease v1.1.0-beta.1 temporarily
  lib/releases.sh
Due: shellcheck

Modify BMO Branch reference to main branch
  03_launch_mgmt_cluster.sh
  README.md
  config_example.sh
  lib/common.sh
  vars.md
Due: shellcheck, markdownlint

Migrate the v1beta1 for upgrade tests
  scripts/feature_tests/upgrade/upgrade.sh
  scripts/feature_tests/upgrade/upgrade_vars.sh
  scripts/run.sh
  vm-setup/roles/v1aX_integration_test/tasks/upgrade.yml
  vm-setup/roles/v1aX_integration_test/templates/clusterctl-upgrade-test.yaml
Due: shellcheck

Separately upgrade mariadb container
  scripts/run.sh
  vm-setup/roles/v1aX_integration_test/tasks/upgrade.yml
  vm-setup/roles/v1aX_integration_test/vars/main.yml
Due: shellcheck

Remove 'master' reference
  05_test.sh
  config_example.sh
  lib/common.sh
  scripts/feature_tests/README.md
  scripts/feature_tests/feature_test_vars.sh
  scripts/feature_tests/node_reuse/Makefile
  scripts/feature_tests/pivoting/Makefile
  scripts/feature_tests/pivoting/upgrade.sh
  scripts/feature_tests/remediation/Makefile
  scripts/feature_tests/upgrade/upgrade_vars.sh
  vars.md
  vm-setup/roles/v1aX_integration_test/tasks/cleanup.yml
  vm-setup/roles/v1aX_integration_test/tasks/generate_templates.yml
  vm-setup/roles/v1aX_integration_test/tasks/move.yml
  vm-setup/roles/v1aX_integration_test/tasks/node_reuse.yml
  vm-setup/roles/v1aX_integration_test/tasks/remediation.yml
  vm-setup/roles/v1aX_integration_test/tasks/verify.yml
  vm-setup/roles/v1aX_integration_test/templates/cluster-template-controlplane.yaml
  vm-setup/roles/v1aX_integration_test/templates/clusterctl-vars.yaml
  vm-setup/roles/v1aX_integration_test/vars/main.yml
Due: shellcheck, markdownlint

Support proxy for Docker Hub
  01_prepare_host.sh
  03_launch_mgmt_cluster.sh
  lib/common.sh
  scripts/deploy_tilt_env.sh
  vars.md
  vm-setup/roles/v1aX_integration_test/tasks/verify.yml
  vm-setup/roles/v1aX_integration_test/vars/main.yml
Due: shellcheck, markdownlint

Fetch CAPI pre-release to use golang 1.17
  01_prepare_host.sh
  lib/common.sh
  lib/releases.sh
Due: shellcheck

Make upgrade test CAPI v1a4 -> v1b1
  scripts/feature_tests/upgrade/upgrade_vars.sh
  vm-setup/roles/v1aX_integration_test/tasks/upgrade.yml
  vm-setup/roles/v1aX_integration_test/vars/main.yml
Due: shellcheck

Add ironic inspector to image vars
  lib/common.sh
Due: shellcheck

Change ironic image tag to main
  vm-setup/roles/v1aX_integration_test/vars/main.yml
Due: none

CI: prepare for the new ironic container
  vm-setup/roles/v1aX_integration_test/tasks/move.yml
  vm-setup/roles/v1aX_integration_test/tasks/upgrade.yml
Due: none

Revert "Make upgrade test CAPI v1a4 -> v1b1"
  scripts/feature_tests/upgrade/upgrade_vars.sh
  vm-setup/roles/v1aX_integration_test/tasks/upgrade.yml
  vm-setup/roles/v1aX_integration_test/vars/main.yml
Due: shellcheck

Handle zero length dhcp_range variables
  vm-setup/roles/libvirt/templates/network.xml.j2
Due: none

Allow overriding CAPM3_VERSION and CAPI_VERSION in upgrade vars
  scripts/feature_tests/upgrade/upgrade_vars.sh
Due: shellcheck

move maelk to emeritus_approvers list
  OWNERS
Due: none

Ensure that machines are provisioned and running before repivot
  vm-setup/roles/v1aX_integration_test/tasks/move.yml
  vm-setup/roles/v1aX_integration_test/tasks/node_reuse.yml
  vm-setup/roles/v1aX_integration_test/tasks/remediation.yml
  vm-setup/roles/v1aX_integration_test/tasks/upgrade.yml
  vm-setup/roles/v1aX_integration_test/tasks/verify.yml
  vm-setup/roles/v1aX_integration_test/tasks/verify_resources_states.yml
Due: none

Add Lennart Jern as a reviewer
  OWNERS
Due: none

Update dependency kubernetes.core to v2.2.3
  vm-setup/requirements.yml
Due: none

add logic to verify passwordless sudo
  lib/common.sh
Due: shellcheck

Update dependency kubernetes/minikube to v1.25.1
  lib/common.sh
Due: shellcheck

Use the virt-rhel8.2.0 machine type in case of arm64
  vm-setup/roles/libvirt/templates/baremetalvm.xml.j2
Due: none

Uplift kubernetes to v1.23.2
  config_example.sh
  lib/common.sh
  scripts/feature_tests/feature_test_vars.sh
  scripts/feature_tests/node_reuse/node_reuse_vars.sh
  scripts/feature_tests/upgrade/upgrade_vars.sh
  vars.md
  vm-setup/roles/v1aX_integration_test/vars/main.yml
Due: shellcheck, markdownlint

Update dependency kubernetes/kubernetes to v1.23.3
  lib/common.sh
Due: shellcheck

Update kindest/node to v1.23.3
  lib/common.sh
Due: shellcheck

Uplift minikube to 1.25.1
  lib/common.sh
Due: shellcheck

uplift KUBERNETES_VERSION to v1.23.3
  config_example.sh
  lib/common.sh
  scripts/feature_tests/feature_test_vars.sh
  scripts/feature_tests/node_reuse/node_reuse_vars.sh
  scripts/feature_tests/upgrade/upgrade_vars.sh
  vars.md
  vm-setup/roles/v1aX_integration_test/vars/main.yml
Due: shellcheck, markdownlint

Remove kind image and Minikube version renovate
  renovate.json
Due: none

Remove extra / from IMAGE_LOCATION
  lib/images.sh
  vm-setup/roles/v1aX_integration_test/tasks/node_reuse.yml
  vm-setup/roles/v1aX_integration_test/tasks/upgrade.yml
  vm-setup/roles/v1aX_integration_test/vars/main.yml
Due: shellcheck

Increase timeout of verifying number of ready m3machine resources
  vm-setup/roles/v1aX_integration_test/tasks/verify_resources_states.yml
Due: none

Temporary fix for cert-manager URL change
  03_launch_mgmt_cluster.sh
  vm-setup/roles/v1aX_integration_test/templates/clusterctl-upgrade-test.yaml
  vm-setup/roles/v1aX_integration_test/templates/clusterctl-vars.yaml
Due: shellcheck

Remove checking ironic-api, ironic-conductor, mariadb existence since these containers are not deployed anymore while deploying ironic locally.
  vm-setup/roles/v1aX_integration_test/tasks/move.yml
Due: none

Use latest CAPI release v1.1.0
  lib/releases.sh
Due: shellcheck

Revert "Temporary fix for cert-manager URL change"
  03_launch_mgmt_cluster.sh
  vm-setup/roles/v1aX_integration_test/templates/clusterctl-upgrade-test.yaml
  vm-setup/roles/v1aX_integration_test/templates/clusterctl-vars.yaml
Due: shellcheck

Update image location as airship renamed to metal3
  config_example.sh
  lib/images.sh
  vars.md
  vm-setup/roles/v1aX_integration_test/tasks/node_reuse.yml
  vm-setup/roles/v1aX_integration_test/tasks/upgrade.yml
  vm-setup/roles/v1aX_integration_test/vars/main.yml
Due: shellcheck, markdownlint

Add install ca-certificates before update
  01_prepare_host.sh
Due: shellcheck

Update CI badges with Metal3
  README.md
  scripts/feature_tests/README.md
Due: markdownlint

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: \.md$
