Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

golangci-lint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/ensure-golangci-lint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

govet:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/govet.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/codegen.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

build:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/build.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

bump BMO to v0.4.0
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Bump minimum go version to v1.20 and kubectl to v1.28.1
  hack/ensure-go.sh
  hack/ensure-kubectl.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

bump IPAM to v1.5.0
  api/go.mod
  api/go.sum
  config/ipam/image_patch.yaml
  config/ipam/kustomization.yaml
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

update README.md
  README.md
Due: markdownlint

Add missing CAPI v1.5 contract in e2e config
  test/e2e/data/shared/main/metadata.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

fix setting CAPI_CONFIG_FOLDER variable
  scripts/ci-e2e.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

Add CAPI contract for e2e in release-1.5.
  test/e2e/data/shared/main/metadata.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

bump next version to 1.6.99
  clusterctl-settings.json
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/infrastructure-metal3/main/metadata.yaml
  test/e2e/data/infrastructure-metal3/v1.6/metadata.yaml
  test/e2e/data/shared/v1.6/metadata.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

add KUBECTL_SHA256 export for upgrade tests
  scripts/ci-e2e.sh
  scripts/environment.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

improve release notes tool
  hack/tools/release/notes.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Bump kind and kustomize and update bmh CRD
  Makefile
  examples/metal3crds/metal3.io_baremetalhosts.yaml
  hack/ensure-kind.sh
  hack/ensure-kustomize.sh
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
  scripts/ci-e2e.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Bump kind and kustomize and update bmh CRD
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

fix typo in release note generator
  hack/tools/release/notes.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

improve release notes generator
  hack/tools/release/notes.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

improve release note generator
  hack/tools/release/notes.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Remove unused and unmaintained phonys from Makefile
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Set dns address through metal3data->networkdata to target nodes
  test/e2e/data/infrastructure-metal3/bases/cluster/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-metal3/bases/cluster/md.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Add v1.5 to CAPI_FROM_RELEASE case for clusterctl upgrade tests
  scripts/ci-e2e.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

update releasing.md
  docs/releasing.md
Due: markdownlint

Minor improvements to logs, errors and naming
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
  main.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Add tests for ensureM3IPClaim
  baremetal/metal3data_manager.go
  baremetal/metal3data_manager_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Test clusterctl upgrade with v1.5.0 -> v1.5.1
  scripts/ci-e2e.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

run dependabot less often
  .github/dependabot.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

fix ensure-golangci-lint digests
  hack/ensure-golangci-lint.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

bump gosec to 2.17.0, and fix gosec for submodules
  .golangci.yaml
  hack/gosec.sh
  test/e2e/common.go
  test/e2e/pivoting.go
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

remove hack/gosec.sh
  hack/gosec.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint

Bump github.com/docker/distribution to v2.8.2
  api/go.mod
  go.mod
  go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

bump gosec to 2.17.0, and fix gosec for submodules
  .github/workflows/golangci-lint.yml
  .golangci.yaml
  hack/ensure-golangci-lint.sh
  hack/gosec.sh
  test/e2e/common.go
  test/e2e/pivoting.go
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

CRD labeling is done now by k8s api to fix gosec issues
  api/go.mod
  api/go.sum
  test/e2e/common.go
  test/e2e/pivoting.go
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Path conditions:
  gomod: unless all of: (((^|/)OWNERS)|(\.md))$
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: any of: \.md$
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$
  build: any of: ^api|^test|^Makefile$
