Repository metal3-io/ip-address-manager: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, shellcheck, unit, generate, manifestlint, test

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

golangci-lint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/ensure-golangci-lint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

govet:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/govet.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/codegen.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

test:
  decorate: true
  spec:
    containers:
    - args:
      - test
      command:
      - make
      image: docker.io/golang:1.22
      imagePullPolicy: Always

Bump CAPI to v1.9.2
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Add build container image as a job in release wf
  .github/workflows/build-images-action.yml
  .github/workflows/release.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump Golang to 1.23.4
  Dockerfile
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

:rocket: Release v1.9.2
  releasenotes/v1.9.2.md
Due: markdownlint

Add read permission to build job in release wf
  .github/workflows/release.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Polish the release note 1.9.2
  releasenotes/v1.9.2.md
Due: markdownlint

:rocket: Release v1.8.3
  releasenotes/v1.8.3.md
Due: markdownlint

bump kubeconform to v0.6.7
  hack/manifestlint.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

bump x/net to v0.34.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint, test

Introduce ReconcileError with Transient and Terminal Error type
  controllers/ippool_controller.go
  ipam/ippool_manager.go
  ipam/ippool_manager_test.go
  ipam/reconcile_error.go
  ipam/reconcile_error_test.go
  ipam/requeue_error.go
  ipam/requeue_error_test.go
  ipam/utils.go
  ipam/utils_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

update OpenSSF CII Best Practices badge
  README.md
Due: markdownlint

bump golang to 1.23.5
  Dockerfile
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

:rocket: Release v1.9.3
  releasenotes/v1.9.3.md
Due: markdownlint

:rocket: Release v1.8.4
  releasenotes/v1.8.4.md
Due: markdownlint

workflows: sync pull_request trigger types
  .github/workflows/golangci-lint.yml
  .github/workflows/lint-docs.yaml
  .github/workflows/pr-gh-workflow-approve.yaml
  .github/workflows/pr-verifier.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

bump golang to 1.23.6
  Dockerfile
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

pin osv-scanner image in verify-release.sh
  hack/verify-release.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

This commit makes it possible to: - Deploy IPAM with clusterctl - Reconsile CAPI's ipaddressclaims with this managers ippools
  Dockerfile
  Makefile
  README.md
  config/default/kustomization.yaml
  config/manager/manager.yaml
  config/rbac/role.yaml
  controllers/ippool_controller.go
  controllers/ippool_controller_test.go
  controllers/suite_test.go
  docs/api.md
  examples/generate.sh
  examples/ippool/ippool.yaml
  examples/provider-components/manager_tolerations_patch.yaml
  ipam/ippool_manager.go
  ipam/ippool_manager_test.go
  ipam/suite_test.go
  main.go
  metadata.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, shellcheck, unit, generate, manifestlint, test

Bump CAPI to 1.8.10
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump CAPI to 1.9.5
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

:rocket: Release v1.8.5
  releasenotes/v1.8.5.md
Due: markdownlint

:rocket: Release v1.9.4
  releasenotes/v1.9.4.md
Due: markdownlint

remove toolchain directive
  hack/tools/go.mod
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint, test

bump actions/cache to v4.2.2
  .github/workflows/dependabot.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

bump golang to 1.23.7
  Dockerfile
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Path conditions:
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$
