Repository Nordix/metal3-dev-tools: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: (\.md|markdownlint\.sh)$

add ironic-client to be synced
  scripts/update-nordix-repos-master.sh
Due: shellcheck

bump markdownlint-cli2 to v0.12.0
  hack/markdownlint.sh
Due: shellcheck, markdownlint

update synced branches for CAPI, CAPO and ironic-image
  scripts/update-nordix-repos-master.sh
Due: shellcheck

remove ironic-client from sync
  scripts/update-nordix-repos-master.sh
Due: shellcheck

update branches to sync
  scripts/update-nordix-repos-master.sh
Due: shellcheck

Remove furkatgofurov7 from metal3-dev-tools-maintainers list
  OWNERS_ALIASES
Due: none

remove mboukhalfa from approvers
  OWNERS_ALIASES
Due: none

Remove @mquhuy from approvers
  OWNERS_ALIASES
Due: none

Cleanup unused variables
  ci/jobs/artifact_cleanup.pipeline
  ci/jobs/container_image_building.pipeline
  ci/jobs/fullstack_building.pipeline
Due: none

Cleanup artifact cleanup pipeline
  ci/jobs/artifact_cleanup.pipeline
Due: none

update release branches to be synced
  scripts/update-nordix-repos-master.sh
Due: shellcheck

add Peppi-Lotta and Feruz as approvers
  OWNERS_ALIASES
Due: none

add Falco repos to be synced
  scripts/update-nordix-repos-master.sh
Due: shellcheck

fix typos in falco repo urls
  scripts/update-nordix-repos-master.sh
Due: shellcheck

fix falco sync target repos
  scripts/update-nordix-repos-master.sh
Due: shellcheck

stop syncing some old repos
  scripts/update-nordix-repos-master.sh
Due: shellcheck

scripts: tidy up the projects list
  scripts/update-nordix-repos-master.sh
Due: shellcheck

scripts: extend the list of repos to include NFD and nri-plugins
  scripts/update-nordix-repos-master.sh
Due: shellcheck

add ironic-image release-30.0 to be synced
  scripts/update-nordix-repos-master.sh
Due: shellcheck

add IRSO release branches to be synced
  scripts/update-nordix-repos-master.sh
Due: shellcheck

add ironic-image release-31.0 to nordix sync
  scripts/update-nordix-repos-master.sh
Due: shellcheck
