Repository metal3-io/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: check-prow-config, markdownlint, shellcheck, spellcheck

check-prow-config:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20210916-7657ce97bf
      args:
      - /checkconfig
      - --config-path
      - prow/config/config.yaml
      - --plugin-config
      - prow/config/plugins.yaml
      - --strict
      resources:
        requests:
          memory: 500Mi

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint-cli2:0.12.0@sha256:a3977fba9814f10d33a1d69ae607dc808e7a6470b2ba03e84c17193c0791aac0
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.10.0@sha256:5921d946dac740cbeec2fb1c898747b6105e585130cc7f0602eec9a10f7ddb63
  ...

spellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/spellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: ghcr.io/streetsidesoftware/cspell:8.13.3@sha256:03df0e485775a43531c9c0e829227f39b3380796e92faab4166137dc5712d40a
      imagePullPolicy: Always

bump basic-checks image to golang 1.24.4
  prow/container-images/basic-checks/Dockerfile
Due: check-prow-config

Refactor BML scripts after moving pro host to jenkins worker
  jenkins/jobs/bml_integration_tests.pipeline
  jenkins/scripts/bare_metal_lab/bml_cleanup.sh
  jenkins/scripts/bare_metal_lab/bml_integration_test.sh
  jenkins/scripts/bare_metal_lab/run_integration_tests.sh
  jenkins/scripts/dynamic_worker_workflow/dev_env_integration_tests.sh
  jenkins/scripts/dynamic_worker_workflow/e2e_tests.sh
  jenkins/scripts/dynamic_worker_workflow/fetch_logs.sh
  jenkins/scripts/files/run_clean.sh
  jenkins/scripts/files/run_fetch_logs.sh
  jenkins/scripts/integration_delete.sh
  jenkins/scripts/utils.sh
Due: check-prow-config, shellcheck

Add CAPI md tests setup and Prow keywords
  jenkins/jobs/capm3-e2e-tests.pipeline
  prow/config/jobs/metal3-io/cluster-api-provider-metal3.yaml
  prow/config/jobs/metal3-io/metal3-dev-env.yaml
  prow/config/jobs/metal3-io/project-infra.yaml
Due: check-prow-config

add support for ironic-image release-30.0 branch
  prow/config/jobs/metal3-io/ironic-image-release-30.0.yaml
  prow/config/plugins.yaml
Due: check-prow-config

Add Prow keywords for conformance tests
  prow/config/jobs/metal3-io/cluster-api-provider-metal3.yaml
  prow/config/jobs/metal3-io/metal3-dev-env.yaml
  prow/config/jobs/metal3-io/project-infra.yaml
Due: check-prow-config

add Dmitry and Riccardo to reviewers
  OWNERS_ALIASES
Due: check-prow-config

Prow: Bump ingress-nginx to v1.12.3
  prow/infra/kustomization.yaml
Due: check-prow-config

Add support for ubuntu 24.04 node images
  jenkins/image_building/build-image.sh
  jenkins/image_building/dib_elements/ubuntu-node/install.d/55-install
Due: check-prow-config, shellcheck

Prow: Bump calico to v3.30.1
  prow/cluster-resources/kustomization.yaml
Due: check-prow-config

Prow: Bump kubernetes to v1.32.5
  prow/README.md
  prow/capo-cluster/infra-md.yaml
  prow/capo-cluster/kubeadmcontrolplane.yaml
  prow/capo-cluster/machinedeployment.yaml
  prow/capo-cluster/openstackmachinetemplates.yaml
  prow/cluster-resources/kustomization.yaml
Due: check-prow-config, markdownlint, spellcheck

Test Ubuntu 24.04 node image in BML
  jenkins/jobs/bml_integration_tests.pipeline
  jenkins/scripts/bare_metal_lab/bml_integration_test.sh
  jenkins/scripts/bare_metal_lab/default_vars/vars.yaml
  jenkins/scripts/bare_metal_lab/run_integration_tests.sh
Due: check-prow-config, shellcheck

Remove Nvidia GPU related dir to reduce archive size
  jenkins/scripts/dynamic_worker_workflow/build_ipa.sh
  jenkins/scripts/dynamic_worker_workflow/ipa_builder_elements/cleanup-package/environment.d/99-cleanup-package
Due: check-prow-config, shellcheck

Add default values for PR related env variables
  jenkins/jobs/capm3-e2e-tests.pipeline
Due: check-prow-config

Bumping k8s-prow images and test-infra images
  prow/Makefile
  prow/config/config.yaml
  prow/config/jobs/metal3-io/project-infra.yaml
  prow/config/jobs/periodics.yaml
  prow/manifests/base/crier.yaml
  prow/manifests/base/deck.yaml
  prow/manifests/base/ghproxy.yaml
  prow/manifests/base/hook.yaml
  prow/manifests/base/horologium.yaml
  prow/manifests/base/prow-controller-manager.yaml
  prow/manifests/base/sinker.yaml
  prow/manifests/base/statusreconciler.yaml
  prow/manifests/base/tide.yaml
  prow/manifests/overlays/metal3/external-plugins/cherrypicker_deployment.yaml
  prow/manifests/overlays/metal3/external-plugins/jenkins-operator.yaml
  prow/manifests/overlays/metal3/external-plugins/needs-rebase_deployment.yaml
Due: check-prow-config

Replace bml server from server 5 to server 4
  jenkins/scripts/bare_metal_lab/default_vars/vars.yaml
Due: check-prow-config

Disable predictable interface names for node images
  jenkins/image_building/dib_elements/centos-node/post-install.d/99-ifnames
  jenkins/image_building/dib_elements/ubuntu-node/post-install.d/99-ifnames
Due: check-prow-config

Add RootDeviceHint on bmhs in bml tests
  jenkins/scripts/bare_metal_lab/default_vars/vars.yaml
  jenkins/scripts/bare_metal_lab/templates/bmhosts_crs.yaml.j2
Due: check-prow-config

Fix running minikube on ubuntu
  jenkins/image_building/dib_elements/ubuntu-ci/install.d/55-install
Due: check-prow-config

Test Ubuntu 24.04 node image in BML
  jenkins/image_building/dib_elements/centos-node/package-installs.yaml
  jenkins/image_building/dib_elements/ubuntu-node/package-installs.yaml
  jenkins/jobs/bml_integration_tests.pipeline
  jenkins/scripts/bare_metal_lab/bml_integration_test.sh
  jenkins/scripts/bare_metal_lab/default_vars/vars.yaml
  jenkins/scripts/bare_metal_lab/run_integration_tests.sh
Due: check-prow-config, shellcheck

Install python related packages to run ansible script
  jenkins/image_building/dib_elements/centos-node/install.d/55-install
  jenkins/image_building/dib_elements/centos-node/package-installs.yaml
  jenkins/image_building/dib_elements/ubuntu-node/package-installs.yaml
Due: check-prow-config

Improve bml scripts
  jenkins/jobs/bml_integration_tests.pipeline
  jenkins/scripts/bare_metal_lab/bml_integration_test.sh
  jenkins/scripts/bare_metal_lab/cleanup-lab.yaml
  jenkins/scripts/bare_metal_lab/default_vars/vars.yaml
  jenkins/scripts/bare_metal_lab/deploy-lab.yaml
  jenkins/scripts/bare_metal_lab/run_integration_tests.sh
  jenkins/scripts/bare_metal_lab/tasks/deploy-tasks.yaml
  jenkins/scripts/integration_test_env.sh
Due: check-prow-config, shellcheck

Add tool to compare built ipa and master ipa initramfs
  hack/ipa_debug_tools.sh
Due: check-prow-config, shellcheck

Add Prow keywords for K8s pre-release testing
  prow/config/jobs/metal3-io/project-infra.yaml
Due: check-prow-config

Kubernetes installatios for pre-release versions
  jenkins/image_building/dib_elements/centos-node/install.d/55-install
  jenkins/image_building/dib_elements/centos-node/pre-install.d/55-setup-repos
  jenkins/image_building/dib_elements/ubuntu-node/install.d/55-install
  jenkins/image_building/dib_elements/ubuntu-node/pre-install.d/55-setup-repos
Due: check-prow-config

Debug ironic issue on ci
  jenkins/scripts/bare_metal_lab/bml_integration_test.sh
  jenkins/scripts/bare_metal_lab/deploy-lab.yaml
  jenkins/scripts/bare_metal_lab/run_integration_tests.sh
Due: check-prow-config, shellcheck

Add openSUSE Leap 15.6 node and ci images
  jenkins/image_building/build-image.sh
  jenkins/image_building/dib_elements/ci-base/pkg-map
  jenkins/image_building/dib_elements/leap-ci/README.md
  jenkins/image_building/dib_elements/leap-ci/element-deps
  jenkins/image_building/dib_elements/leap-ci/install.d/55-install
  jenkins/image_building/dib_elements/leap-ci/post-install.d/55-configure
  jenkins/image_building/dib_elements/leap-node/README.md
  jenkins/image_building/dib_elements/leap-node/element-deps
  jenkins/image_building/dib_elements/leap-node/install.d/55-install
  jenkins/image_building/dib_elements/leap-node/package-installs.yaml
  jenkins/image_building/dib_elements/leap-node/post-install.d/90-pre-pull-images
  jenkins/image_building/dib_elements/leap-node/pre-install.d/55-setup-repos
Due: check-prow-config, markdownlint, shellcheck, spellcheck

Add pipeline for testing with k8s pre-release versions
  jenkins/image_building/build-image.sh
  jenkins/image_building/dib_elements/centos-node/install.d/55-install
  jenkins/jobs/pre-release-tests.pipeline
Due: check-prow-config, shellcheck

Add configuration for ironic-image release-31.0
  prow/config/jobs/metal3-io/ironic-image-release-31.0.yaml
  prow/config/plugins.yaml
Due: check-prow-config

Add pipeline for testing with k8s pre-release versions
  jenkins/image_building/build-image.sh
  jenkins/image_building/dib_elements/centos-node/install.d/55-install
  jenkins/image_building/dib_elements/centos-node/pre-install.d/55-setup-repos
  jenkins/image_building/dib_elements/ubuntu-node/install.d/55-install
  jenkins/image_building/dib_elements/ubuntu-node/pre-install.d/55-setup-repos
  jenkins/jobs/image_building.pipeline
  jenkins/jobs/pre-release-tests.pipeline
Due: check-prow-config, shellcheck

Improve bml scripts
  jenkins/image_building/verify-node-image.sh
  jenkins/jobs/bml_integration_tests.pipeline
  jenkins/scripts/bare_metal_lab/bml_cleanup.sh
  jenkins/scripts/bare_metal_lab/bml_integration_test.sh
  jenkins/scripts/bare_metal_lab/cleanup-lab.yaml
  jenkins/scripts/bare_metal_lab/default_vars/vars.yaml
  jenkins/scripts/bare_metal_lab/deploy-lab.yaml
  jenkins/scripts/bare_metal_lab/run_integration_tests.sh
  jenkins/scripts/bare_metal_lab/tasks/deploy-tasks.yaml
  jenkins/scripts/integration_test_env.sh
Due: check-prow-config, shellcheck

Configure CI for IrSO release-0.5 branch
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.5.yaml
  prow/config/plugins.yaml
Due: check-prow-config

Prow: Bump CAPI, CAPO, ORC, CM and CAPI operator
  prow/capi/bootstrap.yaml
  prow/capi/control-plane.yaml
  prow/capi/core.yaml
  prow/capi/infrastructure.yaml
  prow/capi/kustomization.yaml
Due: check-prow-config

Enable predictable interface names for node images
  jenkins/image_building/build-image.sh
  jenkins/image_building/verify-node-image.sh
  jenkins/scripts/dynamic_worker_workflow/dev_env_integration_tests.sh
Due: check-prow-config, shellcheck

Path conditions:
  check-prow-config: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: any of: (\.md|markdownlint\.sh)$
  shellcheck: any of: ((\.sh)|^Makefile)$
  spellcheck: any of: (\.md|spellcheck\.sh|.cspell-config.json)$
