Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test, build-fkas

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

golangci-lint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/ensure-golangci-lint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

govet:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/govet.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/codegen.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

build:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/build.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

Add a timeout for Kustomization
  test/e2e/data/bmo-deployment/overlays/release-0.13/kustomization.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Improve logging in e2e tests
  scripts/fetch_manifests.sh
  test/e2e/cert_rotation.go
  test/e2e/common.go
  test/e2e/logcollector.go
  test/e2e/pivoting.go
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Make irso operator version configurable via kustomize
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/ironic-standalone-operator/operator/components/configmap/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/components/configmap/patch-configmap.yaml
  test/e2e/data/ironic-standalone-operator/operator/overlays/release-0.8.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/overlays/release-0.9.0/kustomization.yaml
  test/e2e/pivoting.go
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Fix ownerRef chain for IPAddress in e2e tests
  test/e2e/common.go
  test/e2e/healthcheck.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Fixed url in docs
  docs/api.md
Due: markdownlint

Bump go to 1.25.11
  Dockerfile
  Makefile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Updated hack Dockerfile
  hack/fake-apiserver/Dockerfile
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, test, build-fkas

Added first draft of E2E upgrade test docs
  docs/Upgrade_tests.md
Due: markdownlint

Updated go version on Tiltfile + Dockerfile(/test/extension/)
  Tiltfile
  test/extension/Dockerfile
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

updated release 1.12
  Dockerfile
  Makefile
  hack/fake-apiserver/Dockerfile
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Make irso version configurable
  scripts/ci-e2e.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/bmo-deployment/overlays/release-main/ironic.env
  test/e2e/data/bmo-deployment/overlays/release-main/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/ironic/overlays/main/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/components/configmap/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/components/configmap/patch-configmap.yaml
  test/e2e/data/ironic-standalone-operator/operator/overlays/release-0.8.0/kustomization.yaml
  test/e2e/data/ironic-standalone-operator/operator/overlays/release-0.9.0/kustomization.yaml
  test/e2e/pivoting.go
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

Bump x/net to v0.55.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test, build-fkas

Added more focused documentation.
  docs/Upgrade_tests.md
Due: markdownlint

Use Update() instead of Patch() for BMH consumerRef writes
  baremetal/metal3machine_manager.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

add unit tests to check update() func
  baremetal/metal3machine_manager_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

E2E: Avoid assertion in Describe
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Update binary download script
  hack/ensure-golangci-lint.sh
  hack/tools/install_kubebuilder.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, test

feat: Add custom Prometheus metrics for controller observability
  controllers/metal3cluster_controller.go
  controllers/metal3data_controller.go
  controllers/metal3datatemplate_controller.go
  controllers/metal3labelsync_controller.go
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_test.go
  controllers/metal3machinetemplate_controller.go
  controllers/metal3remediation_controller.go
  docs/metrics.md
  go.mod
  internal/metrics/metrics.go
  internal/metrics/metrics_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint

fix: address metrics review feedback
  controllers/metal3cluster_controller.go
  controllers/metal3data_controller.go
  controllers/metal3data_controller_test.go
  controllers/metal3datatemplate_controller.go
  controllers/metal3datatemplate_controller_test.go
  controllers/metal3labelsync_controller.go
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_test.go
  controllers/metal3machinetemplate_controller.go
  controllers/metal3remediation_controller.go
  docs/metrics.md
  internal/metrics/metrics.go
  internal/metrics/metrics_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint

fix: tidy metrics module dependency
  go.mod
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

:seedling: Bump github.com/containerd/containerd to v1.7.32
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Fix panic on nil DeletionTimestamp printing
  controllers/metal3machine_controller.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Bump golang.org/x/net, x/crypto, and containerd
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test, build-fkas

Refactor FKAS etcd setup to fix scalability
  hack/fake-apiserver/cmd/metal3-fkas/main.go
  hack/fake-apiserver/cmd/metal3-fkas/utils.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, test, build-fkas

Fix fake-apiserver Dockerfile to use correct module paths
  Makefile
  hack/fake-apiserver/Dockerfile
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

FKAS: Always build the image
  Makefile
  scripts/ci-e2e.sh
  test/e2e/data/fkas/resources.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

FKAS: Set expected taints on fake nodes
  hack/fake-apiserver/cmd/metal3-fkas/main.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, test, build-fkas

Expand IP-reuse e2e test to check nodes and BMHS and add provioining IP to template
  Makefile
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/infrastructure-metal3/main/cluster-template-centos-ip-reuse/kustomization.yaml
  test/e2e/data/infrastructure-metal3/main/cluster-template-opensuse-leap-ip-reuse/kustomization.yaml
  test/e2e/data/infrastructure-metal3/main/cluster-template-ubuntu-ip-reuse/kustomization.yaml
  test/e2e/data/infrastructure-metal3/main/components/ip-reuse/kustomization.yaml
  test/e2e/ip_reuse.go
  test/e2e/ip_reuse_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Changed the dependabot cooldown default days from 7 to 3 days and removed zizmor: ignore
  .github/dependabot.yml
  .github/workflows/zizmor.yml
  .zizmor.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Removed zizmor inline ignore
  .github/dependabot.yml
  .github/workflows/release.yaml
  .github/workflows/zizmor.yml
  .zizmor.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Removed zizmor inline ignore
  .github/workflows/release.yaml
  .zizmor.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

CI testing (do not merge)
  test/e2e/common.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Path conditions:
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  unit: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  build: (any of: ^api|^test|^Makefile$) or (any of: ^api|^test|^Makefile$|^hack/build.sh$)
  test: any of: ^(Makefile|hack/.*)$
  build-fkas: any of: ^hack/fake-apiserver|^api|^Makefile$|^hack/build.sh$
