Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/generate.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

golint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/golint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

Bump golang to v1.21.7
  Dockerfile
  Makefile
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

Bump golang to v1.20.14
  Dockerfile
  Makefile
  hack/e2e/ensure_go.sh
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

Make controllers context-aware
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/bmceventsubscription_controller.go
  controllers/metal3.io/hostfirmwaresettings_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Make SecretManager context-aware
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/host_config_data_test.go
  controllers/metal3.io/preprovisioningimage_controller.go
  pkg/secretutils/secret_manager.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Make provisioners context-aware
  controllers/metal3.io/baremetalhost_controller.go
  controllers/metal3.io/bmceventsubscription_controller.go
  controllers/metal3.io/host_state_machine_test.go
  controllers/metal3.io/hostfirmwaresettings_controller.go
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/factory.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/ironic_test.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Replace usage of context.Background()
  controllers/metal3.io/baremetalhost_controller.go
  pkg/secretutils/secret_manager.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Drop dependency on x/exp/slices
  apis/go.mod
  apis/go.sum
  apis/metal3.io/v1alpha1/baremetalhost_validation.go
  go.mod
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Drop dependency on pkg/errors from hardwareutils
  apis/go.mod
  pkg/hardwareutils/bmc/access.go
  pkg/hardwareutils/go.mod
  pkg/hardwareutils/go.sum
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Refresh Go version in e2e tests
  hack/e2e/ensure_go.sh
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

Update to gophercloud 2.0.0-beta2
  cmd/get-hardware-details/main.go
  go.mod
  go.sum
  pkg/provisioner/ironic/adopt_test.go
  pkg/provisioner/ironic/capabilities_test.go
  pkg/provisioner/ironic/clients/client.go
  pkg/provisioner/ironic/clients/features.go
  pkg/provisioner/ironic/configdrive_test.go
  pkg/provisioner/ironic/delete_test.go
  pkg/provisioner/ironic/dependencies.go
  pkg/provisioner/ironic/factory.go
  pkg/provisioner/ironic/findhost_test.go
  pkg/provisioner/ironic/hardwaredetails/hardwaredetails.go
  pkg/provisioner/ironic/hardwaredetails/hardwaredetails_test.go
  pkg/provisioner/ironic/inspecthardware_test.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/power_test.go
  pkg/provisioner/ironic/prepare_test.go
  pkg/provisioner/ironic/provision_test.go
  pkg/provisioner/ironic/provisioncapacity_test.go
  pkg/provisioner/ironic/raid.go
  pkg/provisioner/ironic/raid_test.go
  pkg/provisioner/ironic/testserver/ironic.go
  pkg/provisioner/ironic/testserver/ironic_test.go
  pkg/provisioner/ironic/update_opts.go
  pkg/provisioner/ironic/updatehardwarestate_test.go
  pkg/provisioner/ironic/updateopts_test.go
  pkg/provisioner/ironic/validatemanagementaccess_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Update OWNERS file
  OWNERS
Due: none

E2E: Workaround issue with minikube image load
  hack/ci-e2e.sh
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

enhancement: Add labels on test coverage
  .gitignore
  test/e2e/basic_ops_test.go
  test/e2e/external_inspection_test.go
  test/e2e/inspection_test.go
  test/e2e/live_iso_test.go
  test/e2e/provisioning_and_annotation_test.go
  test/e2e/re_inspection_test.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add build image action to release-0.5
  .github/workflows/build-images-action.yml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add build images action to release-0.4
  .github/workflows/build-images-action.yml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Bump Go to v1.21.7
  Dockerfile
  Makefile
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

Use ironic-image release-23.1 and enable Inspector in all env vars
  config/default/ironic.env
  config/render/capm3.yaml
  hack/ironic_ci.env
  ironic-deployment/base/ironic.yaml
  ironic-deployment/components/keepalived/ironic_bmo_configmap.env
  ironic-deployment/default/ironic_bmo_configmap.env
  tools/run_local_ironic.sh
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

Clean gitignore file + Update description and labels on provisioning_and_annotation_test.go
  .gitignore
  test/e2e/provisioning_and_annotation_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Bump golangci-lint to v1.56.2
  .github/workflows/golangci-lint.yml
  Makefile
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

Move e2e config functionality to a separate file
  test/e2e/common.go
  test/e2e/e2e_config.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Bump capi and other go mods
  apis/go.mod
  apis/go.sum
  docs/dev-setup.md
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gofmt, gosec, gomod, markdownlint, unit, generate, golint, manifestlint

Add unit test on features.go
  pkg/provisioner/ironic/clients/features_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fix previous release detection in make release-notes
  Makefile
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

added tests for loadTLSConfigFromEnv in factory_test.go
  pkg/provisioner/ironic/factory_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fix lint errors
  pkg/provisioner/ironic/factory_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

updated TestLoadTLSConfigFromEnvin factory_test.go
  pkg/provisioner/ironic/factory_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

fix e2e fixture workflow trigger
  .github/workflows/e2e-fixture-test.yml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

add release-* as branch trigger to e2e fixture workflow
  .github/workflows/e2e-fixture-test.yml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add golangci-lint github workflow
  .github/workflows/golangci-lint.yml
  .golangci.yaml
  .golangci.yml
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Install golangci-lint directly instead of building it using go-modules
  .github/workflows/golangci-lint.yml
  Makefile
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint

Stop setting IRONIC_FAST_TRACK by default
  config/default/ironic.env
  config/render/capm3.yaml
  hack/ironic_ci.env
  ironic-deployment/components/keepalived/ironic_bmo_configmap.env
  ironic-deployment/default/ironic_bmo_configmap.env
  ironic-deployment/overlays/e2e/ironic_bmo_configmap.env
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Remove last traces of auth-config
  docs/deploying.md
  hack/ci-e2e.sh
  ironic-deployment/components/basic-auth/auth.yaml
  ironic-deployment/components/basic-auth/kustomization.yaml
  ironic-deployment/overlays/basic-auth_tls/basic-auth_tls.yaml
  ironic-deployment/overlays/basic-auth_tls/kustomization.yaml
  ironic-deployment/overlays/e2e/kustomization.yaml
  tools/deploy.sh
  tools/run_local_ironic.sh
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint

Path conditions:
  gofmt: (any of: \.go$) or (unless all of: (((^|/)OWNERS)|(\.md))$)
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  golint: (any of: \.go$) or (unless all of: (((^|/)OWNERS)|(\.md))$)
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$
