Repository metal3-io/baremetal-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

gofmt:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gofmt.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

gosec:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gosec.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/securego/gosec:2.14.0@sha256:73858f8b1b9b7372917677151ec6deeceeaa40c5b02753080bd647dede14e213
      imagePullPolicy: Always

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.12.0@sha256:0b8f9fcf0410257b2f3548f67ffe25934cfc9877a618b9f85afcf345a25804a2
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

unit:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/unit.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

generate:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/generate.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: DEPLOY_KERNEL_URL
        value: http://172.22.0.1/images/ironic-python-agent.kernel
      - name: DEPLOY_RAMDISK_URL
  ...

golint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/golint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.19
      imagePullPolicy: Always

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

test:
  decorate: true
  spec:
    containers:
    - args:
      - test
      command:
      - make
      image: quay.io/metal3-io/basic-checks:golang-1.24
      imagePullPolicy: Always

Allow deleting detached hosts in any state
  internal/controller/metal3.io/host_state_machine.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Write unit tests for forced detachment
  pkg/provisioner/ironic/delete_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Update Go version to 1.25.8
  Dockerfile
  Makefile
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Enable BMO to abort servicing to back out of failures
  internal/controller/metal3.io/baremetalhost_controller.go
  pkg/provisioner/ironic/servicing.go
  pkg/provisioner/ironic/servicing_test.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Prevent duplicate log watchers in E2E tests
  test/e2e/common.go
  test/e2e/e2e_suite_test.go
  test/e2e/upgrade_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

e2e: check that all namespaces are added to WATCH_NAMESPACE
  Makefile
  hack/check-e2e.sh
  hack/ci-e2e.sh
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Add basic fuzzing
  Makefile
  test/fuzz/README.md
  test/fuzz/bmc_fuzz_test.go
Due: gofmt, gosec, gomod, markdownlint, shellcheck, unit, generate, golint, manifestlint, test

Do not check power failure when not applicable
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_controller_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add Healthy condition based on BMC health rollup
  apis/metal3.io/v1alpha1/baremetalhost_types.go
  internal/controller/metal3.io/baremetalhost_controller.go
  internal/controller/metal3.io/baremetalhost_controller_test.go
  internal/controller/metal3.io/host_state_machine_test.go
  pkg/provisioner/demo/demo.go
  pkg/provisioner/fixture/fixture.go
  pkg/provisioner/ironic/ironic.go
  pkg/provisioner/ironic/power_test.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

bump gophercloud to v2.11.1
  go.mod
  go.sum
Due: gosec, gomod, unit, generate, manifestlint

Remove PatchHost.
  pkg/hostclaim/hostclaim_manager.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Simplify requeue_error
  pkg/hostclaim/hostclaim_manager.go
  pkg/hostclaim/hostclaim_manager_test.go
  pkg/hostclaim/requeue_error.go
  pkg/hostclaim/requeue_error_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add an e2e test for forced detachment during provisioning
  config/overlays/e2e/force-detach/kustomization.yaml
  config/overlays/e2e/force-detach/namespace.yaml
  config/overlays/e2e/kustomization.yaml
  config/overlays/e2e/namespaced-manager-patch.yaml
  test/e2e/config/fixture.yaml
  test/e2e/config/ironic.yaml
  test/e2e/forced_detachment_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add multi-architecture PXE boot support
  internal/controller/metal3.io/baremetalhost_controller.go
  pkg/imageprovider/default.go
  pkg/imageprovider/default_test.go
  pkg/provisioner/ironic/inspecthardware.go
  pkg/provisioner/ironic/register.go
  pkg/provisioner/provisioner.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Fix return values of the HFC controller in case of provisioner errors
  internal/controller/metal3.io/hostfirmwarecomponents_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Add handling of paused annotation to the HFS controller
  internal/controller/metal3.io/host_state_machine.go
  internal/controller/metal3.io/hostfirmwarecomponents_controller.go
  internal/controller/metal3.io/hostfirmwaresettings_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Watch for BMH changes in HFS/HFC controllers
  internal/controller/metal3.io/hostfirmwarecomponents_controller.go
  internal/controller/metal3.io/hostfirmwaresettings_controller.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

bump x/net to v0.49.0
  apis/go.mod
  apis/go.sum
Due: gosec, gomod, unit, generate, manifestlint

bump x/net to v0.49.0
  apis/go.mod
  apis/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint, test

Bump golangci-lint to v2.5.0 in workflow
  .github/workflows/golangci-lint.yml
Due: gosec, gomod, unit, generate, manifestlint

Bump golangci-lint to v2.5.0
  .github/workflows/golangci-lint.yml
  Makefile
  cmd/make-virt-host/main.go
  pkg/provisioner/ironic/ironic.go
Due: gofmt, gosec, gomod, shellcheck, unit, generate, golint, manifestlint, test

harden pr-verifier workflow trigger
  .github/workflows/pr-verifier.yaml
Due: gosec, gomod, unit, generate, manifestlint

:bug: Fix linter issues in main\
  pkg/secretutils/secret_manager_test.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

remove docker push stuff from Makefile
  Makefile
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

Create ironic.yaml for the e2e tests from a template file
  .gitignore
  hack/ci-e2e.sh
  test/e2e/data/ironic-standalone-operator/ironic/base/ironic.yaml.tmpl
Due: gosec, gomod, shellcheck, unit, generate, manifestlint, test

bump google.golang.org/grpc to v1.79.3
  go.mod
  go.sum
Due: gosec, gomod, unit, generate, manifestlint

Bump CAPI 1.12.4
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint, test

Bump CAPI to v1.11.7
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: gosec, gomod, unit, generate, manifestlint, test

:rocket: Release v0.11.6
  releasenotes/v0.11.6.md
Due: markdownlint

:rocket: Release v0.12.3
  releasenotes/v0.12.3.md
Due: markdownlint

vbmctl: support multiple volume sizes via repeatable --volume-size flag
  test/vbmctl/cmd/vbmctl/main.go
Due: gofmt, gosec, gomod, unit, generate, golint, manifestlint

Path conditions:
  gofmt: any of: \.go$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  golint: any of: \.go$
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  test: any of: ^(Makefile|hack/.*)$
