Repository metal3-io/cluster-api-provider-metal3: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Path conditions:
  gomod: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  generate: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  unit: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  manifestlint: (unless all of: (((^|/)OWNERS)|(\.md))$) or (unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$)
  build: (any of: ^api|^test|^Makefile$) or (any of: ^api|^test|^Makefile$|^hack/build.sh$)
  test: any of: ^(Makefile|hack/.*)$
  build-fkas: any of: ^hack/fake-apiserver|^api|^Makefile$|^hack/build.sh$

fix IsNodeDrained to query workload cluster
  baremetal/manager_factory.go
  baremetal/metal3remediation_manager.go
  baremetal/metal3remediation_manager_test.go
  baremetal/remote/remote.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Use clusterfilter to make CAPM3 only cache Metal3 based caches
  internal/clusterfilter/metal3_clusterfilter.go
  internal/clusterfilter/metal3_clusterfilter_test.go
  main.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

feat: add configurable BareMetalHost allocation policy
  api/v1beta1/conversion.go
  api/v1beta1/zz_generated.conversion.go
  api/v1beta2/metal3machine_types.go
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_metal3machinetemplates.yaml
  docs/api.md
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint, build, build-fkas

Uplift IPAM API to v1.13.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

🌱 Switch from docker to moby dependencies
  test/e2e/pivoting.go
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

use proper IPA cache address
  scripts/ci-e2e.sh
  test/e2e/data/ironic-standalone-operator/operator/components/configmap/patch-configmap.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

use proper IPA cache address
  scripts/ci-e2e.sh
  test/e2e/data/ironic-standalone-operator/operator/patch-configmap.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build

use proper IPA cache address
  test/e2e/data/ironic-deployment/overlays/pr-test/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-27.0/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-29.0/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-31.0/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-32.0/ironic_bmo_configmap.env
  test/e2e/data/ironic-deployment/overlays/release-latest/ironic_bmo_configmap.env
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Fix context in fkas build image action and add image building PR test
  .github/workflows/build-fkas-images-action.yml
  .github/workflows/build-fkas-images-pr.yml
  .github/workflows/build-images-pr.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Expand IP-reuse e2e test to check nodes and BMHS and add provioining IP to template
  Makefile
  test/e2e/config/e2e_conf.yaml
  test/e2e/data/infrastructure-metal3/main-v1beta1/cluster-template-centos-ip-reuse/kustomization.yaml
  test/e2e/data/infrastructure-metal3/main/cluster-template-centos-ip-reuse/kustomization.yaml
  test/e2e/data/infrastructure-metal3/main/cluster-template-opensuse-leap-ip-reuse/kustomization.yaml
  test/e2e/data/infrastructure-metal3/main/cluster-template-ubuntu-ip-reuse/kustomization.yaml
  test/e2e/data/infrastructure-metal3/main/components/ip-reuse/kustomization.yaml
  test/e2e/ip_reuse.go
  test/e2e/ip_reuse_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

bump containerd/containerd to 1.17.33
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

fix dependabot's build workflop step
  .github/workflows/dependabot.yml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

bump containerd to v1.7.33
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Bump CAPI to 1.12.9
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test, build-fkas

Bump CAPI to 1.13.3
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test, build-fkas

feat: Add custom Prometheus metrics for controller observability
  controllers/metal3cluster_controller.go
  controllers/metal3data_controller.go
  controllers/metal3datatemplate_controller.go
  controllers/metal3labelsync_controller.go
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_test.go
  controllers/metal3machinetemplate_controller.go
  controllers/metal3remediation_controller.go
  docs/metrics.md
  go.mod
  internal/metrics/metrics.go
  internal/metrics/metrics_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint

fix: address metrics review feedback
  controllers/metal3cluster_controller.go
  controllers/metal3data_controller.go
  controllers/metal3data_controller_test.go
  controllers/metal3datatemplate_controller.go
  controllers/metal3datatemplate_controller_test.go
  controllers/metal3labelsync_controller.go
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_test.go
  controllers/metal3machinetemplate_controller.go
  controllers/metal3remediation_controller.go
  docs/metrics.md
  internal/metrics/metrics.go
  internal/metrics/metrics_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint

fix: tidy metrics module dependency
  go.mod
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

fix: reuse initial provisioned state
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Bump golang to v1.26
  Dockerfile
  Makefile
  Tiltfile
  api/go.mod
  go.mod
  hack/build.sh
  hack/codegen.sh
  hack/ensure-go.sh
  hack/fake-apiserver/Dockerfile
  hack/fake-apiserver/go.mod
  hack/gomod.sh
  hack/tools/go.mod
  hack/unit.sh
  test/extension/Dockerfile
  test/go.mod
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Fix go vet issues required by go1.26 bump
  controllers/metal3machine_controller.go
  controllers/metal3machine_controller_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint

Bump capi to 1.13.3
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test, build-fkas

Bump IPAM 1.12.5 and BMO 0.12.5
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, build-fkas

Remove mariadb ref from release notes
  hack/verify-release.sh
Due: gomod, gofmt, gosec, golangci-lint, govet, shellcheck, generate, unit, manifestlint, test

:rocket: Release v1.12.6
  releasenotes/v1.12.6.md
Due: markdownlint

Bump IPAM/BMO to 1.13.1 and BMO/CAPM3 to 1.13.0 in FKAS
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/fake-apiserver/go.mod
  hack/fake-apiserver/go.sum
  test/go.mod
  test/go.sum
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build, test, build-fkas

:rocket: Release v1.13.1
  releasenotes/v1.13.1.md
Due: markdownlint

Rename leap interfaces from eth to enp
  test/e2e/data/infrastructure-metal3/main/bases/opensuse-leap-kubeadm-config/opensuse-leap-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/v1.12/bases/opensuse-leap-kubeadm-config/opensuse-leap-kubeadm-config.yaml
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Set a consumer reference during node reuse
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  test/e2e/common.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Update interface name for leap
  test/e2e/data/infrastructure-metal3/main-v1beta1/bases/opensuse-leap-kubeadm-config/opensuse-leap-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/main/bases/opensuse-leap-kubeadm-config/opensuse-leap-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/v1.12/bases/opensuse-leap-kubeadm-config/opensuse-leap-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/v1.13/bases/opensuse-leap-kubeadm-config/opensuse-leap-kubeadm-config.yaml
  test/e2e/e2e_suite_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Update interface name for leap
  test/e2e/data/infrastructure-metal3/main-v1beta1/bases/opensuse-leap-kubeadm-config/opensuse-leap-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/main/bases/opensuse-leap-kubeadm-config/opensuse-leap-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/v1.11/bases/opensuse-leap-kubeadm-config/opensuse-leap-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/v1.12/bases/opensuse-leap-kubeadm-config/opensuse-leap-kubeadm-config.yaml
  test/e2e/e2e_suite_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Bumped Kubernetes versions to latest patches
  Makefile
  docs/api.md
  docs/architecture.md
  docs/dev-setup.md
  docs/e2e-test.md
  examples/generate.sh
  hack/ensure-kubectl.sh
  hack/gen_tilt_settings.sh
  scripts/environment.sh
  test/e2e/config/e2e_conf.yaml
  test/e2e/upgrade_clusterctl_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, shellcheck, generate, unit, manifestlint, build, test, build-fkas

Updte interface name
  test/e2e/data/infrastructure-metal3/main/bases/opensuse-leap-kubeadm-config/opensuse-leap-kubeadm-config.yaml
  test/e2e/data/infrastructure-metal3/v1.11/bases/opensuse-leap-kubeadm-config/opensuse-leap-kubeadm-config.yaml
  test/e2e/e2e_suite_test.go
Due: gomod, gofmt, gosec, golangci-lint, govet, generate, unit, manifestlint, build

Add blockmove annotations to allow M3M owner refrences from BMH
  README.md
  baremetal/metal3machine_manager.go
  baremetal/metal3machine_manager_test.go
  baremetal/mocks/zz_generated.metal3machine_manager.go
  controllers/metal3machine_controller.go
  test/e2e/node_reuse.go
Due: gomod, gofmt, gosec, golangci-lint, govet, markdownlint, generate, unit, manifestlint, build
