Repository metal3-io/ip-address-manager: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, shellcheck, unit, generate, manifestlint, test

Path conditions:
  gomod: unless all of: (((^|/)OWNERS)|(\.md))$
  gosec: unless all of: (((^|/)OWNERS)|(\.md))$
  gofmt: unless all of: (((^|/)OWNERS)|(\.md))$
  golangci-lint: unless all of: (((^|/)OWNERS)|(\.md))$
  govet: unless all of: (((^|/)OWNERS)|(\.md))$
  markdownlint: (any of: \.md$) or (any of: (\.md|markdownlint\.sh)$)
  shellcheck: any of: ((\.sh)|^Makefile)$
  unit: unless all of: (((^|/)OWNERS)|(\.md))$
  generate: unless all of: (((^|/)OWNERS)|(\.md))$
  manifestlint: unless all of: (((^|/)OWNERS)|(\.md))$
  test: any of: ^(Makefile|hack/.*)$

Document backporting rules for Go lang minor versions for images
  CONTRIBUTING.md
Due: markdownlint

Fix issues in running local hack scripts
  hack/codegen.sh
  hack/gomod.sh
  hack/manifestlint.sh
  hack/markdownlint.sh
  hack/shellcheck.sh
  hack/unit.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, markdownlint, shellcheck, unit, generate, manifestlint, test

correct the tag comment to 4.0.1
  .github/workflows/golangci-lint.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

schedule on certain day, and add ok-to-test automatically
  .github/dependabot.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

bump golang to 1.22.5
  Dockerfile
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Bump CAPI to v1.7.4
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump CAPI to v1.6.7
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump CAPI v1.7.4
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump CAPI to v1.8.0-beta.0
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

bump golang to 1.22
  .github/workflows/release.yaml
  .golangci.yaml
  Dockerfile
  Makefile
  api/go.mod
  go.mod
  hack/codegen.sh
  hack/gomod.sh
  hack/tools/go.mod
  hack/unit.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Uplift CAPI to v1.8.0-beta.1
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Bump golang to 1.22
  .github/workflows/release.yaml
  .golangci.yaml
  Dockerfile
  Makefile
  controllers/ippool_controller_test.go
  hack/codegen.sh
  hack/gofmt.sh
  hack/gomod.sh
  hack/govet.sh
  hack/unit.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Uplift CAPI to v1.8.0-rc.0
  go.mod
  go.sum
  main.go
  main_test.go
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Uplift CAPI to v1.8.0-rc.1
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Move container build job to GH runner
  .github/workflows/build-images-action.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Set terminationMessagePolicy to FallbackToLogsOnError for manager
  config/manager/manager.yaml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Container build wf only run for upstream
  .github/workflows/build-images-action.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Uplift CAPI to v1.8.0 GA
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Uplift CAPI to 1.8.0
  api/go.mod
  api/go.sum
  config/crd/patches/webhook_in_ipaddresses.yaml
  config/crd/patches/webhook_in_ipclaims.yaml
  config/crd/patches/webhook_in_ippools.yaml
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Uplift CAPI to v1.8.1
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

bump golang to 1.22.6
  Dockerfile
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

fix verify-release.sh to understand go directive better
  hack/verify-release.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Bump kustomize to v5.4.3
  hack/tools/install_kustomize.sh
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

add dependabot config for release-1.8
  .github/dependabot.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

fix dependabot config ignore rules
  .github/dependabot.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

remove release-1.6 from dependabot
  .github/dependabot.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Update build badges for release-1.8
  README.md
Due: markdownlint

Add release-1.8 to README
  README.md
Due: markdownlint

Use osv-scanner workflow file instead of local workflow
  .github/workflows/osv-scanner-scan.yml
  .github/workflows/osv-scanner.yml
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

bump golang to 1.22.7
  Dockerfile
  Makefile
Due: gomod, gosec, gofmt, golangci-lint, govet, shellcheck, unit, generate, manifestlint, test

Bump CAPI to v1.8.3
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint

Uplift CAPI to v1.7.6
  go.mod
  go.sum
Due: gomod, gosec, gofmt, golangci-lint, govet, unit, generate, manifestlint
