Repository metal3-io/metal3-dev-env: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:stable
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:latest
      imagePullPolicy: Always

Bump CAPI and CAPM3 to v1.2.X
  lib/releases.sh
  tests/feature_tests/upgrade/upgrade_vars.sh
  tests/roles/run_tests/tasks/upgrade.yml
Due: shellcheck

Change Centos target nodes network configuration to keyfile format
  tests/roles/run_tests/templates/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/cluster-template-workers-kubeadm-config-centos.yaml
Due: none

Move fmuyassarov to emeritus_approvers
  OWNERS
Due: none

For live-iso setting one node to always use redfish-virtualmedia, also added new flavor
  02_configure_host.sh
  host_cleanup.sh
  lib/common.sh
  tests/roles/run_tests/tasks/cleanup.yml
  tests/roles/run_tests/tasks/inspection.yml
  tests/roles/run_tests/vars/main.yml
  vm-setup/roles/common/defaults/main.yml
  vm-setup/roles/libvirt/templates/ironic_nodes.json.j2
Due: shellcheck

Removed redfish virtual media flavor
  02_configure_host.sh
  host_cleanup.sh
  lib/common.sh
  tests/roles/run_tests/tasks/cleanup.yml
  tests/roles/run_tests/tasks/inspection.yml
  tests/roles/run_tests/vars/main.yml
  vm-setup/roles/common/defaults/main.yml
  vm-setup/roles/libvirt/templates/ironic_nodes.json.j2
Due: shellcheck

Clean defaut connection before adding ironicendpoint
  tests/roles/run_tests/templates/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/cluster-template-workers-kubeadm-config-centos.yaml
Due: none

Add autoconnect priority to centos target node network config
  tests/roles/run_tests/templates/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/cluster-template-workers-kubeadm-config-centos.yaml
Due: none

Test IPAM
  lib/common.sh
Due: shellcheck

Fix cert-manager version to v1.9.1
  03_launch_mgmt_cluster.sh
Due: shellcheck

Append content in clusterctl.yaml instead of overwriting.
  03_launch_mgmt_cluster.sh
  tests/roles/run_tests/tasks/generate_templates.yml
Due: shellcheck

debug
  tests/roles/run_tests/tasks/node_reuse.yml
Due: none

WIP
  tests/roles/run_tests/templates/cluster-template-workers-kubeadm-config-centos.yaml
Due: none

test ubuntu 22.04.1 with mac policy none
  lib/images.sh
  tests/feature_tests/feature_test_vars.sh
  tests/feature_tests/node_reuse/node_reuse_vars.sh
  tests/roles/run_tests/tasks/upgrade.yml
  tests/roles/run_tests/vars/main.yml
Due: shellcheck

fix IMAGE_LOCATION
  tests/roles/run_tests/tasks/node_reuse.yml
Due: none

uplift ubuntu to 22.04
  lib/images.sh
  tests/feature_tests/node_reuse/node_reuse_vars.sh
  tests/roles/run_tests/tasks/upgrade.yml
  tests/roles/run_tests/vars/main.yml
Due: shellcheck

Upgrade k8s from v1.23.8 instead of v1.24.0
  tests/feature_tests/feature_test_vars.sh
Due: shellcheck

Remove overriding cert manager version
  03_launch_mgmt_cluster.sh
Due: shellcheck

Add BMORELEASE as the default BMOBRANCH
  lib/common.sh
  lib/releases.sh
  vars.md
Due: shellcheck, markdownlint

Fix commands for running keepalived monitor
  tests/roles/run_tests/templates/cluster-template-controlplane-kubeadm-config-centos.yaml
  tests/roles/run_tests/templates/cluster-template-controlplane-kubeadm-config-ubuntu.yaml
Due: none

Add BMORELEASE as the default BMOBRANCH
  lib/common.sh
  lib/releases.sh
Due: shellcheck

Stop assuming different releasepaths because it makes no sense
  lib/releases.sh
Due: shellcheck

keep tdp_mmu workaroud only for Ubuntu22 fixed on Centos
  01_prepare_host.sh
Due: shellcheck

improve to local image branch config
  02_configure_host.sh
  vars.md
Due: shellcheck, markdownlint

Fix BMOBRANCH var initialization
  01_prepare_host.sh
  lib/common.sh
  lib/releases.sh
Due: shellcheck

Refactoring test file name and template path
  Makefile
  tests/roles/run_tests/vars/main.yml
  tests/test.sh
Due: shellcheck

Always fetch the latest release in the releases.sh
  lib/releases.sh
Due: shellcheck

Add release-1.2 build links in README
  README.md
Due: markdownlint

Add release-1.2 CAPM3/IPAM branch logic in scripts
  lib/common.sh
  tests/feature_tests/upgrade/upgrade_vars.sh
  tests/roles/run_tests/tasks/upgrade.yml
Due: shellcheck

econfigure ubuntu host network with NetworkManager
  ubuntu_bridge_network_configuration.sh
Due: shellcheck

host_cleanup.sh: Skip baremetal net deletion in Centos
  host_cleanup.sh
Due: shellcheck

Delete only the Cluster when cleaning up
  tests/roles/run_tests/tasks/main.yml
  tests/roles/run_tests/vars/main.yml
Due: none

WIP: Rework Ironic and BMO deployment
  03_launch_mgmt_cluster.sh
  hack/kustomizations/bmo/components/basic-auth/credentials_patch.yaml
  hack/kustomizations/bmo/components/basic-auth/ironic-inspector-password
  hack/kustomizations/bmo/components/basic-auth/ironic-inspector-username
  hack/kustomizations/bmo/components/basic-auth/ironic-password
  hack/kustomizations/bmo/components/basic-auth/ironic-username
  hack/kustomizations/bmo/components/basic-auth/kustomization.yaml
  hack/kustomizations/bmo/components/tls/kustomization.yaml
  hack/kustomizations/bmo/components/tls/tls_ca_patch.yaml
  hack/kustomizations/bmo/ironic.env
  hack/kustomizations/bmo/kustomization.yaml
  hack/kustomizations/capm3/kustomization.yaml
  hack/kustomizations/ironic/components/basic-auth/auth.yaml
  hack/kustomizations/ironic/components/basic-auth/ironic-auth-config
  hack/kustomizations/ironic/components/basic-auth/ironic-auth-config-tpl
  hack/kustomizations/ironic/components/basic-auth/ironic-htpasswd
  hack/kustomizations/ironic/components/basic-auth/ironic-inspector-auth-config
  hack/kustomizations/ironic/components/basic-auth/ironic-inspector-auth-config-tpl
  hack/kustomizations/ironic/components/basic-auth/ironic-inspector-htpasswd
  hack/kustomizations/ironic/components/basic-auth/kustomization.yaml
  hack/kustomizations/ironic/components/keepalived/keepalived_patch.yaml
  hack/kustomizations/ironic/components/keepalived/kustomization.yaml
  hack/kustomizations/ironic/components/tls/certificate.yaml
  hack/kustomizations/ironic/components/tls/kustomization.yaml
  hack/kustomizations/ironic/components/tls/tls.yaml
  hack/kustomizations/ironic/ironic_bmo_configmap.env
  hack/kustomizations/ironic/kustomization.yaml
Due: shellcheck

WIP: Temporary kustomization
  03_launch_mgmt_cluster.sh
  cluster_cleanup.sh
  lib/common.sh
Due: shellcheck

WIP: Pivot
  03_launch_mgmt_cluster.sh
  hack/kustomizations/ironic/kustomization.yaml
  tests/roles/run_tests/tasks/move.yml
  tests/roles/run_tests/tasks/move_back.yml
  tests/roles/run_tests/vars/main.yml
Due: shellcheck

WIP: CAPM3 and IPAM
  03_launch_mgmt_cluster.sh
  hack/kustomizations/bmo/kustomization.yaml
  hack/kustomizations/capm3/kustomization.yaml
  hack/kustomizations/ipam/kustomization.yaml
  hack/kustomizations/ironic/kustomization.yaml
Due: shellcheck

WIP
  03_launch_mgmt_cluster.sh
Due: shellcheck

improve metal3-dev-env repository cloning
  02_configure_host.sh
  03_launch_mgmt_cluster.sh
  lib/common.sh
  vars.md
Due: shellcheck, markdownlint

improve local build of CAPI,CAPM3,IPAM,BMO
  02_configure_host.sh
  lib/common.sh
  vars.md
Due: shellcheck, markdownlint

Add extra tag to locally built images
  02_configure_host.sh
Due: shellcheck

improve local ironic image building
  02_configure_host.sh
  lib/common.sh
  vars.md
Due: shellcheck, markdownlint

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: \.md$
