Repository metal3-io/community: changes, and which Prow jobs are due for each by the changed paths.
All: markdownlint, shellcheck

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint-cli2:0.9.0@sha256:71370df6c967bae548b0bfd0ae313ddf44bfad87da76f88180eff55c6264098c
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.10.0@sha256:5921d946dac740cbeec2fb1c898747b6105e585130cc7f0602eec9a10f7ddb63
  ...

Add self evaluation on Metal3.io's governance for Graduation
  self-evaluation/2026-metal3-graduation-self-governance-review.md
Due: markdownlint

Add self evaluation on Metal3.io's technical updates for Graduation
  self-evaluation/2026-metal3-graduation-self-technical-review.md
Due: markdownlint

Set cooldown days to 3 for dependabot
  .github/dependabot.yml
  .github/workflows/zizmor.yml
  .zizmor.yml
Due: none

Correcting misnamed user-guide key in Security Insight file
  .github/security-insights.yml
Due: none

Fixing indentation error in zizmor workflow specification
  .github/workflows/zizmor.yml
Due: none

remove mariadb from all owners
  maintainers/all-owners.sh
Due: shellcheck

Update name following last name change
  maintainers/ALL-OWNERS
Due: none

Bump markdownlint-cli2 to 0.14.19- #3600
  ADOPTERS.md
  CONTRIBUTOR-ROLE.md
  README.md
  ROADMAP.md
  hack/markdownlint.sh
Due: markdownlint, shellcheck

Path conditions:
  markdownlint: any of: (\.md|markdownlint\.sh)$
  shellcheck: any of: ((\.sh)|^Makefile)$
