Repository metal3-io/ironic-image: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: (\.md|markdownlint\.sh)$

Fix vbmc container build after tripleo deprecation
  resources/vbmc/Dockerfile
Due: none

fix build images action in release-23.1
  .github/workflows/build-images-action.yml
Due: none

Add check requirements script
  .gitignore
  Makefile
  tools/check-requirements.sh
Due: shellcheck

bump shellcheck to v0.10.0
  hack/shellcheck.sh
Due: shellcheck

METAL-923: pick-up non-bootable ISO fix
  requirements.cachito
Due: none

Install ironic-lib from source
  main-packages-list.ocp
  requirements.cachito
  tools/check-requirements.sh
Due: shellcheck

Remove support for API/conductor split
  ironic-config/httpd-ironic-api.conf.j2
  ironic-config/ironic.conf.j2
  scripts/auth-common.sh
  scripts/configure-ironic.sh
  scripts/runironic-api
  scripts/runironic-conductor
Due: shellcheck

Require authentication for JSON RPC
  ironic-config/ironic.conf.j2
  scripts/auth-common.sh
Due: shellcheck

runironic: do not override IRONIC_EXPOSE_JSON_RPC
  scripts/runironic
Due: none

Remove dependency on mod_wsgi
  ironic-config/httpd-ironic-api.conf.j2
  ironic-config/httpd-modules.conf
  main-packages-list.txt
  scripts/auth-common.sh
Due: shellcheck

Remove ibmc and idrac drivers
  ironic-config/ironic.conf.j2
  ironic-rpm-list
  ironic-source-list
Due: none

Bump ironic hash to include recent fixes and features
  main-packages-list.ocp
  requirements.cachito
Due: none

Completely remove support for ironic-inspector
  Dockerfile
  README.md
  configure-nonroot.sh
  docs/releasing.md
  ironic-config/ironic.conf.j2
  ironic-inspector-config/inspector-apache.conf.j2
  ironic-inspector-config/ironic-inspector.conf.j2
  ironic-rpm-list
  ironic-source-list
  prepare-image.sh
  scripts/auth-common.sh
  scripts/configure-ironic.sh
  scripts/ironic-common.sh
  scripts/runhttpd
  scripts/runironic-inspector
  scripts/runlogwatch.sh
  scripts/tls-common.sh
Due: shellcheck, markdownlint

Bump sushy-tools version to 1.2.0
  resources/sushy-tools/Dockerfile
Due: none

Stop reading ironic API passwords from env vars
  scripts/auth-common.sh
Due: shellcheck

Build virtualbmc image using python image
  resources/vbmc/Dockerfile
Due: none

add ARG BASE_IMAGE to sushy-tools Dockerfile
  resources/sushy-tools/Dockerfile
Due: none

Install sushy from source
  main-packages-list.ocp
  requirements.cachito
  tools/check-requirements.sh
Due: shellcheck

Force pysnmp-lextudio and pyasn1 min version
  main-packages-list.ocp
Due: none

Update for release 24.1
  Dockerfile
  upper-constraints.txt
Due: none

Provide scripts to be used as liveness/readiness probes
  configure-nonroot.sh
  scripts/configure-ironic.sh
  scripts/ironic-probe.j2
Due: shellcheck

Use unix sockets by default for reverse proxy communication
  scripts/ironic-common.sh
Due: shellcheck

Test commit
  README.md
Due: markdownlint

Bump eventlet version
  main-packages-list.ocp
Due: none

Stop reading IRONIC_HTPASSWD and INSPECTOR_HTPASSWD from env vars
  scripts/auth-common.sh
Due: shellcheck

Update to include fixes for ironic servicing feature
  main-packages-list.ocp
  requirements.cachito
Due: none

Use microversion-parse package
  main-packages-list.ocp
  requirements.cachito
Due: none

Fix error in reading ironic htpasswd from file
  scripts/auth-common.sh
Due: shellcheck

[4.16] Bump gunicorn version
  main-packages-list.ocp
Due: none

WIP DNM tesWIP t
  README.md
Due: markdownlint

WIP DNM test commit
  README.md
Due: markdownlint

remove world-writable socket
  ironic-config/ironic.conf.j2
Due: none

Update build status on release-23.1
  README.md
Due: markdownlint
