Repository metal3-io/ironic-image: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: (\.md|markdownlint\.sh)$

make deep image inspection configurable
  ironic-config/ironic.conf.j2
Due: none

dnm, ci test
  README.md
Due: markdownlint

Use pynotify instead of inotify-tools
  main-packages-list.txt
  prepare-image.sh
  scripts/runhttpd
  scripts/runironic
  scripts/runlogwatch.sh
Due: shellcheck

Remove ironic-lib dependency
  Dockerfile
  README.md
  docs/releasing.md
  ironic-packages-list
  prepare-image.sh
Due: shellcheck, markdownlint

Install python-ironicclient in /usr/local
  resources/ironic-client/Dockerfile
Due: none

Drop quiet option of grep to avoid race condition with pipefail
  scripts/ironic-common.sh
Due: shellcheck

Enables sushy-tool image multiarch builds
  .github/workflows/build-images-action.yml
  README.md
Due: markdownlint

Fix runlogwatch failure if LOG_DIR does not exist
  scripts/runlogwatch.sh
Due: shellcheck

Releasing: add IrSO to post-release actions
  docs/releasing.md
Due: markdownlint

Run the IrSO functional job on ironic-images changes
  .github/workflows/irso-functional.yml
  hack/ci-e2e.sh
Due: shellcheck

Allow independent credentials for JSON RPC
  scripts/auth-common.sh
  scripts/configure-ironic.sh
Due: shellcheck

add dependabot configuration for actions
  .github/dependabot.yml
Due: none

Add a script to run online-data-migrations
  scripts/runonline-data-migrations
Due: none

Add change to supported versions in release docs
  docs/releasing.md
Due: markdownlint

trivial: fix typo in releasing docs
  docs/releasing.md
Due: markdownlint

Configure release-28.0
  Dockerfile
  upper-constraints.txt
Due: none

DO NOT MERGE Use CentOS Stream 10 as base image
  Dockerfile
  prepare-efi.sh
Due: shellcheck

Fix runlogwatch script
  scripts/runlogwatch.sh
Due: shellcheck

add support for custom configuration directories
  .gitignore
  Dockerfile
  ironic-config/dnsmasq.conf.j2
  ironic-config/httpd-ironic-api.conf.j2
  ironic-config/httpd-modules.conf
  ironic-config/httpd.conf.j2
  ironic-config/ironic.conf.j2
  scripts/auth-common.sh
  scripts/configure-ironic.sh
  scripts/ironic-common.sh
  scripts/ironic-probe.j2
  scripts/ironic-probe.sh
  scripts/rundnsmasq
  scripts/runhttpd
  scripts/runironic
  scripts/runironic-exporter
Due: shellcheck

remove faulty NUMPROC logic
  scripts/configure-ironic.sh
Due: shellcheck

Install shim-pkg explicitly and add support for CentOS Stream 10
  README.md
  prepare-efi.sh
Due: shellcheck, markdownlint

Allow override of `http_url`, etc for different network topologies. Fixes #627
  ironic-config/dnsmasq.conf.j2
  ironic-config/inspector.ipxe.j2
  ironic-config/ironic.conf.j2
  scripts/ironic-common.sh
  scripts/rundnsmasq
  scripts/runhttpd
Due: shellcheck

fix syntax error
  scripts/ironic-common.sh
Due: shellcheck

Addressing comment by @dtantsur
  scripts/ironic-common.sh
Due: shellcheck

Addressing comments by @dtantsur
  scripts/configure-ironic.sh
  scripts/ironic-common.sh
Due: shellcheck

Addressing comments by @tuminoid
  scripts/rundnsmasq
Due: none

Allow changing MariaDB port
  scripts/configure-ironic.sh
Due: shellcheck

Deprecate passing MARIADB_PASSWORD in favour of mounting a secret
  README.md
  scripts/auth-common.sh
  scripts/configure-ironic.sh
Due: shellcheck, markdownlint

Add scripts to run database upgrades and online migrations
  scripts/rundatabase-upgrade
  scripts/runonline-data-migrations
Due: none

Refactoring: add a helper for restarting a service on certificate update
  scripts/runhttpd
  scripts/runironic
  scripts/tls-common.sh
Due: shellcheck

Set IRONIC_USE_MARIADB to false by default in all cases
  README.md
  ironic-config/ironic.conf.j2
  scripts/configure-ironic.sh
  scripts/ironic-common.sh
  scripts/runironic
Due: shellcheck, markdownlint

Allow skipping dbsync in runironic
  scripts/runironic
Due: none

Don't attempt to define IRONIC_BASE_URL until constituent parts are defined
  scripts/ironic-common.sh
Due: shellcheck

Add configurable max_pool_size and max_overflow
  README.md
  ironic-config/ironic.conf.j2
Due: markdownlint

Add build ironic-image with CentOS Stream 10
  .github/workflows/build-images-action.yml
Due: none

Update sushy-tools to 2.0.0
  resources/sushy-tools/Dockerfile
Due: none
