Repository metal3-io/ironic-image: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: (\.md|markdownlint\.sh)$

Set host_ip to an IPv6 address when found
  scripts/configure-ironic.sh
Due: shellcheck

Let Apache use separate IPv4 and IPv6 sockets for listening to any
  ironic-config/apache2-ipxe.conf.j2
  ironic-config/apache2-vmedia.conf.j2
  ironic-config/httpd-ironic-api.conf.j2
  ironic-config/httpd.conf.j2
Due: none

Use my_ipv6 when IRONIC_IPV6 is defined in ironic.conf
  ironic-config/ironic.conf.j2
Due: none

switch to cncf's new oracle gh runners
  .github/workflows/irso-functional.yml
Due: none

Pin constraints, prepare release-31.0
  Dockerfile
  upper-constraints.txt
Due: none

Revert ":bug: Fix dnsmasq config ipv6 issues"
  ironic-config/dnsmasq.conf.j2
Due: none

feat(dnsmasq): tag bios machine
  ironic-config/dnsmasq.conf.j2
Due: none

fix(dnsmasq): add missing set
  ironic-config/dnsmasq.conf.j2
Due: none

Release v31.0.0
  releasenotes/v31.0.0.md
Due: markdownlint

Centralize assignment of HTTP_PORT
  scripts/configure-ironic.sh
  scripts/ironic-common.sh
  scripts/rundnsmasq
  scripts/runhttpd
Due: shellcheck

use new cncf oracle gh runners
  .github/workflows/irso-functional.yml
Due: none

Fix invalid and duplicate code in dnsmasq config
  ironic-config/dnsmasq.conf.j2
Due: none

Support for mounting an auth config for OCI registries
  ironic-config/ironic.conf.j2
  scripts/auth-common.sh
Due: shellcheck

make skip detection step explicit when running IPE script
  scripts/configure-ironic.sh
  scripts/ironic-common.sh
  scripts/runironic-exporter
Due: shellcheck

Improve httpd TLS configuration
  Dockerfile
  ironic-config/apache2-image.conf.j2
  ironic-config/apache2-ipxe.conf.j2
  ironic-config/apache2-vmedia.conf.j2
  ironic-config/dnsmasq.conf.j2
  ironic-config/httpd.conf.j2
  scripts/runhttpd
  scripts/runironic-exporter
  scripts/tls-common.sh
Due: shellcheck

Use watchdog to monitor logs and certificate changes
  prepare-image.sh
  scripts/runlogwatch.sh
  scripts/tls-common.sh
Due: shellcheck

[DNM] TEST CI
  prepare-image.sh
Due: shellcheck

Disable unused httpd mod_proxy extensions
  ironic-config/httpd-modules.conf
Due: none

Approvers: remove Derek, add Adam
  OWNERS
  OWNERS_ALIASES
Due: none

Fix CentOS Stream 10 build
  prepare-efi.sh
Due: shellcheck

Synchronize the functional job with IrSO
  .github/workflows/irso-functional.yml
  hack/prepare-irso-tests.sh
Due: shellcheck

DNM test JSON RPC memory patch
  Dockerfile
Due: none

Replace pyinotify with watchmedo
  scripts/runironic
Due: none

Change default json-rpc port to avoid possible conflicts
  README.md
  ironic-config/ironic.conf.j2
  scripts/ironic-common.sh
Due: shellcheck, markdownlint

Fix patch-image.sh script
  patch-image.sh
  prepare-image.sh
Due: shellcheck

Optimize DNF usage
  Dockerfile
  prepare-image.sh
Due: shellcheck

build ironic-image on both centos:stream versions
  Makefile
Due: shellcheck
