Repository metal3-io/utility-images: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.10.0@sha256:5921d946dac740cbeec2fb1c898747b6105e585130cc7f0602eec9a10f7ddb63
  ...

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint-cli2:0.9.0@sha256:71370df6c967bae548b0bfd0ae313ddf44bfad87da76f88180eff55c6264098c
  ...

Add a tool to collect cloud-init logs
  .github/workflows/build-images-action.yml
  cloud-init-tool/Dockerfile
  cloud-init-tool/README.md
  cloud-init-tool/main.py
Due: markdownlint

Keepalived multi-IP and IPv6 support
  README.md
  keepalived/manage-keepalived.sh
Due: shellcheck, markdownlint

bump github actions to new major versions
  .github/workflows/pr-gh-workflow-approve.yaml
Due: none

add pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: markdownlint

Add permissions to build_cloud-init-tool workflow job
  .github/workflows/build-images-action.yml
Due: none

fix reapprover workflow
  .github/workflows/pr-gh-workflow-approve.yaml
Due: none

add SECURITY_INSIGHTS.yml
  .github/workflows/validate-security-insights.yml
  SECURITY_INSIGHTS.yml
Due: none

harden github actions workflows
  .github/workflows/build-images-action.yml
  .github/workflows/pr-gh-workflow-approve.yaml
  .github/workflows/pr-verifier.yaml
  .github/workflows/yamllint.yaml
Due: none

bump flask in fake-ipa to v3.1.3
  fake-ipa/requirements.txt
Due: none

add zizmor scanner
  .github/dependabot.yml
  .github/workflows/zizmor.yml
Due: none

Add copilot-review Prow plugin implementation
  copilot-review-prow-plugin/Dockerfile
  copilot-review-prow-plugin/README.md
  copilot-review-prow-plugin/copilot-review/copilot-review.go
  copilot-review-prow-plugin/copilot-review/copilot-review_test.go
  copilot-review-prow-plugin/go.mod
  copilot-review-prow-plugin/go.sum
  copilot-review-prow-plugin/main.go
Due: markdownlint

Add build job for copilot-review-prow-plugin image
  .github/workflows/build-images-action.yml
  copilot-review-prow-plugin/copilot-review/copilot-review.go
  copilot-review-prow-plugin/copilot-review/copilot-review_test.go
Due: none

Migrate iPXE building as a new ipxe-binaries image
  ipxe-binaries/Dockerfile
  ipxe-binaries/build-ipxe.sh
  ipxe-binaries/prepare-ipxe.sh
Due: shellcheck

Add workflows to build ipxe-binaries
  .github/workflows/build-images-action.yml
  .github/workflows/ipxe-binaries-build-pr.yml
Due: none

Add standard labels to ipxe-binaries
  ipxe-binaries/Dockerfile
Due: none

Improve bash style in ipxe-binaries
  ipxe-binaries/build-ipxe.sh
  ipxe-binaries/prepare-ipxe.sh
Due: shellcheck

Set cooldown days to 3 for dependabot
  .github/dependabot.yml
  .github/workflows/zizmor.yml
  .zizmor.yml
Due: none

Enable multi-arch build for ipxe-binaries image
  .github/workflows/build-images-action.yml
Due: none

Add @dtantsur, @elfosardo, @tuminoid as approvers
  OWNERS_ALIASES
Due: none

Add image build workflow for PR in all images
  .github/workflows/cloud-init-tool-build-pr.yml
  .github/workflows/copilot-review-prow-plugin-build-pr.yml
  .github/workflows/fake-ipa-build-pr.yml
  .github/workflows/ipxe-builder-build-pr.yml
  .github/workflows/keepalived-build-pr.yml
Due: none

Update iPXE to v2.0.0
  ipxe-binaries/Dockerfile
Due: none

Bump checkout actions to v7
  .github/workflows/cloud-init-tool-build-pr.yml
  .github/workflows/copilot-review-prow-plugin-build-pr.yml
  .github/workflows/fake-ipa-build-pr.yml
  .github/workflows/ipxe-binaries-build-pr.yml
  .github/workflows/ipxe-builder-build-pr.yml
  .github/workflows/keepalived-build-pr.yml
  .github/workflows/validate-security-insights.yml
  .github/workflows/zizmor.yml
Due: none

:sparkles: Add configurable VRID and VRRP authentication to keepalived image
  README.md
  keepalived/README.md
  keepalived/manage-keepalived.sh
  keepalived/sample.keepalived.conf
Due: shellcheck, markdownlint

:seedling: Bump zizmor-action to v0.6.4
  .github/workflows/zizmor.yml
Due: none

Bump markdownlint-cli2 to 0.14.19
  hack/markdownlint.sh
Due: shellcheck, markdownlint

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: (\.md|markdownlint\.sh)$
