Repository metal3-io/ironic-image: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: (\.md|markdownlint\.sh)$

DNM test JSON RPC threading patch
  Dockerfile
Due: none

DNM test the local RPC change
  Dockerfile
Due: none

Allow a custom Ironic/Sushy source in IrSO functional tests
  hack/prepare-irso-tests.sh
Due: shellcheck

use new cncf oracle gh runners
  .github/workflows/irso-functional.yml
Due: none

switch to cncf's new oracle gh runners
  .github/workflows/irso-functional.yml
Due: none

add edited as irso functional trigger
  .github/workflows/irso-functional.yml
Due: none

feat: support default bmc verify ca
  README.md
  ironic-config/ironic.conf.j2
  scripts/runironic
  scripts/tls-common.sh
Due: shellcheck, markdownlint

Change default json-rpc port to avoid possible conflicts
  README.md
  ironic-config/ironic.conf.j2
  scripts/ironic-common.sh
Due: shellcheck, markdownlint

Optimize DNF usage
  Dockerfile
  prepare-image.sh
Due: shellcheck

improve httpd TLS configuration
  ironic-config/apache2-ipxe.conf.j2
  ironic-config/apache2-vmedia.conf.j2
  ironic-config/dnsmasq.conf.j2
  ironic-config/httpd-ironic-api.conf.j2
  ironic-config/httpd.conf.j2
  scripts/tls-common.sh
Due: shellcheck

Use the shared directory to store master iso images on ironic-conductor node
  ironic-config/ironic.conf.j2
Due: none

Revert ":bug: Use the shared directory to store master iso images on ironic-conductor node"
  ironic-config/ironic.conf.j2
Due: none

Expose cipher suite configuration for vmedia
  ironic-config/apache2-vmedia.conf.j2
Due: none

Pin constraints, prepare release-32.0
  Dockerfile
  upper-constraints.txt
Due: none

:rocket: Release v32.0.0
  releasenotes/v32.0.0.md
Due: markdownlint

Expose cipher suite configuration for vmedia
  README.md
  ironic-config/apache2-vmedia.conf.j2
Due: markdownlint

improve httpd TLS configuration
  README.md
  ironic-config/apache2-ipxe.conf.j2
  ironic-config/apache2-vmedia.conf.j2
  ironic-config/dnsmasq.conf.j2
  ironic-config/httpd-ironic-api.conf.j2
  ironic-config/httpd.conf.j2
  scripts/tls-common.sh
Due: shellcheck, markdownlint

Add build ironic-image workflow on PRs
  .github/workflows/ironic-image-build-pr.yml
Due: none

Update sushy-tools version to 2.1.0
  resources/sushy-tools/Dockerfile
Due: none

Trigger rebuild of release-32.0
  Dockerfile
Due: none

add Renovate config to update release branches
  renovate.json
Due: none

pin upstream ironic bugfix/30.0 to a SHA
  Dockerfile
Due: none

pin upstream ironic bugfix/31.0 to a SHA
  Dockerfile
Due: none

pin upstream ironic stable/2025.2 to a SHA
  Dockerfile
Due: none

Drop the non-Redfish iLO 4 and iLO 5 drivers
  ironic-config/ironic.conf.j2
  ironic-packages-list
Due: none

Revert "Trigger rebuild of release-32.0"
  Dockerfile
Due: none

Do not install dnf config-manager
  prepare-image.sh
Due: shellcheck

add Renovate documentation to releasing.md
  docs/releasing.md
Due: markdownlint

add Renovate bot for main branch
  Dockerfile
  renovate.json
Due: none

Stop defaulting WEBSERVER_VERIFY_CA to IRONIC_CACERT_FILE
  README.md
  scripts/tls-common.sh
Due: shellcheck, markdownlint

Update to Pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: markdownlint

add copilot-instructions.md
  .github/copilot-instructions.md
Due: markdownlint

bump upstream Ironic to a SHA from Nov 6
  Dockerfile
Due: none

[PoC] Make ironic-image buildable with UBI-style base images
  Dockerfile
Due: none
