Repository metal3-io/ironic-image: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: (\.md|markdownlint\.sh)$

move functional test to larger github runner
  .github/workflows/irso-functional.yml
Due: none

add new release automation and documentation
  .github/workflows/release.yaml
  Makefile
  docs/releasing.md
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/release/notes.go
  releasenotes/.gitkeep
Due: shellcheck, markdownlint

add link checker
  .github/workflows/pr-link-check.yml
  .github/workflows/scheduled-link-check.yml
Due: none

Configure release-30.0
  Dockerfile
  upper-constraints.txt
Due: none

:rocket: Release v30.0.0
  releasenotes/v30.0.0.md
Due: markdownlint

fix release image building
  .github/workflows/release.yaml
  docs/releasing.md
Due: markdownlint

update config to allow Ironic to work with ironic-prometheus-exporter (IPE)
  README.md
  ironic-config/ironic.conf.j2
  scripts/runironic-exporter
Due: markdownlint

Update DHCP_RANGE description
  README.md
Due: markdownlint

Add dependabot config for release branches
  .github/dependabot.yml
Due: none

update docs/releasing.md on dependabot configs
  docs/releasing.md
Due: markdownlint

Fix dnsmasq config ipv6 issues
  ironic-config/dnsmasq.conf.j2
Due: none

Support DEPLOY_KERNEL_URL and DEPLOY_RAMDISK_URL
  README.md
  ironic-config/ironic.conf.j2
  scripts/configure-ironic.sh
Due: shellcheck, markdownlint

make skip detection step explicit when running IPE script
  scripts/configure-ironic.sh
  scripts/ironic-common.sh
  scripts/runironic-exporter
Due: shellcheck

feat: support default bmc verify ca
  ironic-config/ironic.conf.j2
  scripts/runironic
  scripts/tls-common.sh
Due: shellcheck

Clarify supported branches
  docs/releasing.md
Due: markdownlint

Remove extra slash from deploy kernel/ramdisk paths
  scripts/configure-ironic.sh
Due: shellcheck

Detect arch specific IPA kernel/ramdisk
  ironic-config/ironic.conf.j2
  scripts/configure-ironic.sh
Due: shellcheck

Generate UEFI ESP for both x86_64 and aarch64
  Dockerfile
  ironic-config/ironic.conf.j2
  prepare-efi.sh
  scripts/configure-ironic.sh
Due: shellcheck

Add description for default BMC verify ca
  README.md
Due: markdownlint

Replace inotifywait with pyinotify
  scripts/runironic
Due: none

Remove trailing comma from _BY_ARCH variables
  scripts/configure-ironic.sh
Due: shellcheck

Install pyasyncore compatibility package to fix pyinotify
  prepare-image.sh
Due: shellcheck

Simplify the setting of host_ip in ironic.conf
  ironic-config/ironic.conf.j2
  scripts/configure-ironic.sh
Due: shellcheck

Add two new utility functions for later refactoring
  scripts/ironic-common.sh
Due: shellcheck

Remove PROVISIONING_INTERFACE default for better validation
  scripts/ironic-common.sh
Due: shellcheck

Revert 2742439 being now redundant
  scripts/ironic-common.sh
Due: shellcheck

Introduce IRONIC_IPV6 to bind on IPv6 sockets
  scripts/configure-ironic.sh
  scripts/ironic-common.sh
Due: shellcheck

Leverage get_interface_of_ip to look PROVISIONING_IP up
  scripts/ironic-common.sh
Due: shellcheck

Allow binding on the provisioning network via a hostname
  README.md
  main-packages-list.txt
  scripts/ironic-common.sh
Due: shellcheck, markdownlint

Update httpd.conf to bind to IPv4 and/or IPv6 sockets
  ironic-config/httpd.conf.j2
Due: none

Let Ironic API use IPv4 and IPv6 sockets when possible
  ironic-config/httpd-ironic-api.conf.j2
Due: none
