Repository metal3-io/ironic-image: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: (\.md|markdownlint\.sh)$

add support for custom configuration directories
  .gitignore
  Dockerfile
  ironic-config/dnsmasq.conf.j2
  ironic-config/httpd-ironic-api.conf.j2
  ironic-config/httpd-modules.conf
  ironic-config/httpd.conf.j2
  ironic-config/ironic.conf.j2
  prepare-image.sh
  scripts/auth-common.sh
  scripts/configure-ironic.sh
  scripts/ironic-common.sh
  scripts/ironic-probe.j2
  scripts/ironic-probe.sh
  scripts/rundnsmasq
  scripts/runhttpd
  scripts/runironic
  scripts/runironic-exporter
Due: shellcheck

Add build ironic-image with CentOS Stream 10
  .github/workflows/build-images-action.yml
Due: none

add support for custom configuration directories
  .gitignore
  Dockerfile
  configure-nonroot.sh
  ironic-config/dnsmasq.conf.j2
  ironic-config/httpd-ironic-api.conf.j2
  ironic-config/httpd-modules.conf
  ironic-config/httpd.conf.j2
  ironic-config/ironic.conf.j2
  prepare-image.sh
  scripts/auth-common.sh
  scripts/configure-ironic.sh
  scripts/ironic-common.sh
  scripts/ironic-probe.j2
  scripts/ironic-probe.sh
  scripts/rundnsmasq
  scripts/runhttpd
  scripts/runironic
  scripts/runironic-exporter
Due: shellcheck

WIP RPC TLS initialization
  scripts/initrpc-tls
  scripts/tls-common.sh
Due: shellcheck

Update virtualbmc version to 3.2.0
  resources/vbmc/Dockerfile
Due: none

Revert "Add build ironic-image with CentOS Stream 10"
  .github/workflows/build-images-action.yml
Due: none

Expand docs on ramdisk ssh key
  README.md
Due: markdownlint

fix minor nits related to custom config/data paths
  ironic-config/ironic.conf.j2
  scripts/ironic-common.sh
  scripts/rundatabase-upgrade
  scripts/runhttpd
  scripts/runonline-data-migrations
Due: shellcheck

Add build ironic-image with CS10, take two
  .github/workflows/build-images-action.yml
Due: none

Configure release-29.0
  Dockerfile
  upper-constraints.txt
Due: none

group all dependabot github action updates into one
  .github/dependabot.yml
Due: none

do not bump major version of github actions
  .github/dependabot.yml
Due: none

Stop doing mkdir on /certs subdirectories
  scripts/tls-common.sh
Due: shellcheck

Synchronize the IrSO functional job with IrSO
  .github/workflows/irso-functional.yml
  hack/ci-e2e.sh
Due: shellcheck

Do not use /tmp as a source directory for the image
  Dockerfile
  README.md
  ironic-config/httpd.conf.j2
  ironic-config/ironic.conf.j2
  scripts/rundnsmasq
  scripts/runhttpd
Due: markdownlint

add labels to dockerfile
  Dockerfile
Due: none

add labels to Dockerfile
  Dockerfile
Due: none

add labels to Dockerfiles in resources
  resources/ironic-client/Dockerfile
  resources/sushy-tools/Dockerfile
  resources/vbmc/Dockerfile
Due: none

Use bootloader through a local file link
  ironic-config/ironic.conf.j2
  scripts/runhttpd
Due: none

Go back to using `minikube image load` with a tarball
  hack/ci-e2e.sh
Due: shellcheck

Switch the IrSO CI to multinode
  .github/workflows/irso-functional.yml
  hack/ci-e2e.sh
Due: shellcheck

Revert "🌱 Enables sushy-tool image multiarch builds"
  .github/workflows/build-images-action.yml
  README.md
Due: markdownlint

feat: support default bmc verify ca
  ironic-config/ironic.conf.j2
  scripts/runironic
  scripts/tls-common.sh
Due: shellcheck

Extract files one-by-one in logwatch
  scripts/runlogwatch.sh
Due: shellcheck

Use local upper-constraints
  upper-constraints.txt
Due: none

Use Python 3.12 to build and run ironic
  main-packages-list.txt
  prepare-image.sh
  scripts/ironic-common.sh
  scripts/rundnsmasq
  scripts/runlogwatch.sh
  scripts/tls-common.sh
Due: shellcheck

Add a helper script to parse ramdisk logs
  tools/parse-ramdisk-logs.py
Due: none

DNM: just fixing CI
  README.md
Due: markdownlint

DNM test
  README.md
Due: markdownlint

OSSA-2025-001: set file_url_allowed_paths to what Metal3 uses
  ironic-config/ironic.conf.j2
Due: none

Use Python 3.12 to build and run ironic
  main-packages-list.txt
  prepare-image.sh
  scripts/ironic-common.sh
  scripts/rundnsmasq
  scripts/runlogwatch.sh
  scripts/tls-common.sh
  upper-constraints.txt
Due: shellcheck

Install jinja2 and pyinotify constrained
  prepare-image.sh
Due: shellcheck

Minor improvements for tools/parse-ramdisk-logs.py
  tools/parse-ramdisk-logs.py
Due: none

Do not install separate sushy-oem-idrac
  ironic-packages-list
Due: none

Use Python 3.12 for resources images
  resources/ironic-client/Dockerfile
  resources/sushy-tools/Dockerfile
  resources/vbmc/Dockerfile
Due: none

Test
  README.md
Due: markdownlint

Improve httpd TLS configuration
  Dockerfile
  ironic-config/apache2-image.conf.j2
  ironic-config/apache2-ipxe.conf.j2
  ironic-config/apache2-vmedia.conf.j2
  ironic-config/dnsmasq.conf.j2
  ironic-config/httpd.conf.j2
  scripts/ironic-common.sh
  scripts/runhttpd
  scripts/runironic-exporter
  scripts/tls-common.sh
Due: shellcheck
