Repository metal3-io/ironic-image: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: (\.md|markdownlint\.sh)$

🐛SQLite: fix Ironic container restarting issue
  scripts/ironic-common.sh
Due: shellcheck

Reuse PR verifier wf from project-infra
  .github/workflows/pr-verifier.yaml
Due: none

Pin setuptools during image build
  prepare-image.sh
Due: shellcheck

Pin setuptools and pin upper-constraints
  prepare-image.sh
  upper-constraints.txt
Due: shellcheck

Update ipxe version to December 2022
  Dockerfile
Due: none

bump markdownlint-cli2 to v0.12.0
  hack/markdownlint.sh
Due: shellcheck, markdownlint

Update ipxe version to December 2023
  Dockerfile
Due: none

Allow independent credentials for JSON RPC
  scripts/auth-common.sh
  scripts/configure-ironic.sh
Due: shellcheck

improve upper constraint handling
  Dockerfile
  prepare-image.sh
Due: shellcheck

Remove rpm install method
  Dockerfile
  README.md
  ironic-packages-list
  ironic-rpm-list
  prepare-image.sh
Due: shellcheck, markdownlint

Improve bash syntax in prepare-image
  prepare-image.sh
Due: shellcheck

Update Dockerfile
  Dockerfile
Due: none

Update for release-27.0
  Dockerfile
  upper-constraints.txt.1
Due: none

Fix upper-constraints
  upper-constraints.txt
  upper-constraints.txt.1
Due: none

DNM: test pr
  README.md
Due: markdownlint

DO NOT MERGE Use CentOS Stream 10 as base image
  Dockerfile
  prepare-efi.sh
  prepare-image.sh
Due: shellcheck

Update ipxe version to May 2024
  Dockerfile
Due: none

improve upper constraint handling
  Dockerfile
  prepare-image.sh
  upper-constraints.txt
Due: shellcheck

fix broken build status badges
  README.md
Due: markdownlint

relocate ironic-client
  .github/workflows/build-images-action.yml
  docs/releasing.md
  resources/ironic-client/Dockerfile
  resources/ironic-client/README.md
  resources/ironic-client/scripts/openstack
Due: markdownlint

Build ironicclient using debian based python image
  resources/ironic-client/Dockerfile
Due: none

add prior art to releasing.md
  docs/releasing.md
Due: markdownlint
