Repository metal3-io/ironic-client: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: (\.md|markdownlint\.sh)$

fixup! use image as debug container
  README.md
Due: markdownlint

bump shellcheck to v0.10.0
  hack/shellcheck.sh
Due: shellcheck

add OWNERS_ALIASES support
  OWNERS
  OWNERS_ALIASES
Due: none

install ironic client with pip in docker build
  Dockerfile
Due: none

Add Slack notification for image build workflow failure
  .github/workflows/build-images-action.yml
Due: none

use image as debug container
  Dockerfile
  README.md
  scripts/ironic.profile
Due: markdownlint

shellcheck only files
  hack/shellcheck.sh
Due: shellcheck

Fix the installation location and drop ironic-inspector
  Dockerfile
Due: none

Move container build to GH runner
  .github/workflows/build-images-action.yml
Due: none

🐛CloudInit: baremetal node fails to deploy using a local config drive
  Dockerfile
Due: none

bump markdownlint-cli2 to v0.12.0
  hack/markdownlint.sh
Due: shellcheck, markdownlint
