Repository metal3-io/metal3-io.github.io: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint, spellcheck

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint-cli2:0.9.0@sha256:71370df6c967bae548b0bfd0ae313ddf44bfad87da76f88180eff55c6264098c
  ...

spellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/spellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: ghcr.io/streetsidesoftware/cspell:8.3.2@sha256:2a6ab337b2f1a89e910653b46fdf219e3e4ec9662fc8d561b956c1fe14db9fac
      imagePullPolicy: Always

Fix paginator error on first page
  blog/index.html
Due: none

bump shellcheck to v0.10.0
  hack/shellcheck.sh
Due: shellcheck

Fix the try it links to point to book.metal3.io
  _posts/2020-02-18-metal3-dev-env-install-deep-dive.md
  _posts/2020-02-27-talk-kubernetes-finland-metal3.md
  _posts/2020-06-18-Metal3-dev-env-BareMetal-Cluster-Deployment.md
  contribute.html
Due: markdownlint, spellcheck

Change title color to improve readability
  _sass/_header.scss
  index.html
Due: none

Post: Metal3 at KubeCon EU 2024
  .cspell-config.json
  _posts/2024-04-10-Metal3_at_KubeCon_EU_2024.md
  _sass/_reset.scss
  assets/2024-04-10-Metal3_at_KubeCon_EU_2024/contribfest.jpg
  assets/2024-04-10-Metal3_at_KubeCon_EU_2024/lightningtalk.jpg
Due: markdownlint, spellcheck

add if: check to workflows
  .github/workflows/broken-link-check.yml
  .github/workflows/jekyll.yml
Due: none

Fix broken images
  _includes/header.html
  community-resources.html
  index.html
Due: none

add OWNERS_ALIASES support
  OWNERS
  OWNERS_ALIASES
Due: none

shellcheck only files
  hack/shellcheck.sh
Due: shellcheck

Post: Scaling part 3
  _posts/2024-05-30-Scaling_part_3.md
  assets/2024-05-30-Scaling_part_3/CAPI-dashboard.png
  assets/2024-05-30-Scaling_part_3/KCP-profiling.png
Due: markdownlint, spellcheck

Add Makefile for linting and serving
  Makefile
  README.md
  hack/pre-commit.sh
Due: shellcheck, markdownlint, spellcheck

Add more approvers and reviewers
  OWNERS_ALIASES
Due: none

Standardize metal3 pronunciation
  documentation.html
  index.html
Due: none

bump spellcheck to 8.9.0
  hack/spellcheck.sh
Due: shellcheck, spellcheck

run broken link checker once a week
  .github/workflows/broken-link-check.yml
Due: none

update dependabot config to match other repos
  .github/dependabot.yml
Due: none

update cspell spellchecker to v8.13.3
  hack/spellcheck.sh
Due: shellcheck, spellcheck

bump markdownlint-cli2 to v0.12.0
  hack/markdownlint.sh
Due: shellcheck, markdownlint

fix spellcheck glob
  hack/spellcheck.sh
Due: shellcheck, spellcheck

add missing DCO file to repo root
  DCO
Due: none

Add blog post for Fake Node Scalability on Metal3
  .cspell-config.json
  _posts/2024-10-24-Scaling-Kubernetes-with-Metal3-on-Fake-Node.md
  assets/2024-10-24-Scaling-Kubernetes-with-Metal3-on-Fake-Node/metal3-simulation-workflow.jpg
  assets/2024-10-24-Scaling-Kubernetes-with-Metal3-on-Fake-Node/metal3-typical-workflow.jpg
  assets/2024-10-24-Scaling-Kubernetes-with-Metal3-on-Fake-Node/simulation-layout.jpg
Due: markdownlint, spellcheck

change link checker
  .github/workflows/broken-link-check.yml
  .lycheeignore
Due: none

Add more links to ignore file
  .lycheeignore
Due: none

Fix broken link to Russell's blog
  _posts/2019-04-30-Metal-Kubed-Baremetal-Provisioning-for-Kubernetes.md
Due: markdownlint, spellcheck

fix broken links
  _posts/2021-05-05-Pivoting.md
Due: markdownlint, spellcheck

add auto reapprover workflow for pre-commit workflow
  .github/workflows/pr-gh-workflow-approve.yaml
Due: none

Change some broken links and fix/add links to be ignored
  .lycheeignore
  _posts/2019-06-25-Metal3.md
  _posts/2019-11-13-Extend_Your_Data_Center_to_the_Hybrid_Edge-Red_Hat_Summit.md
Due: markdownlint, spellcheck

Post: Introducing BMO e2e
  .cspell-config.json
  _posts/2024-12-12-Introducing-BMO-E2E.md
Due: markdownlint, spellcheck

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: (\.md|markdownlint\.sh)$
  spellcheck: any of: (\.md|spellcheck\.sh|.cspell-config.json)$
