Repository metal3-io/ironic-image: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: (\.md|markdownlint\.sh)$

Update the default temp directory to same filesystem as image caches. This will fix the device cross links errors when hard linking.
  ironic-config/ironic.conf.j2
  scripts/configure-ironic.sh
Due: shellcheck

Releasing: set IRONIC_CUSTOM_IMAGE in the IrSO job
  .github/workflows/irso-functional.yml
  docs/releasing.md
Due: markdownlint

Simplify the setting of host_ip in ironic.conf
  ironic-config/ironic.conf.j2
  scripts/configure-ironic.sh
Due: shellcheck

Revert 2742439 being now redundant
  scripts/ironic-common.sh
Due: shellcheck

Introduce an address parsing utility function
  scripts/ironic-common.sh
Due: shellcheck

Introduce get_interface_of_ip to look PROVISIONING_IP up
  scripts/ironic-common.sh
Due: shellcheck

Make IRONIC_IP higher priority than PROVISIONING_IP
  scripts/ironic-common.sh
Due: shellcheck

Improve validation of the input variables in wait_for_interface_or_ip
  scripts/ironic-common.sh
Due: shellcheck

Set host_ip to an IPv6 address when found
  scripts/configure-ironic.sh
Due: shellcheck

Introduce IRONIC_IPV6 to bind on IPv6 sockets
  scripts/configure-ironic.sh
  scripts/ironic-common.sh
Due: shellcheck

Use my_ipv6 when IRONIC_IPV6 is defined in ironic.conf
  ironic-config/ironic.conf.j2
Due: none

Let Ironic API use IPv4 and IPv6 sockets when possible
  ironic-config/httpd-ironic-api.conf.j2
Due: none

Let Apache use separate IPv4 and IPv6 sockets for listening to any
  ironic-config/apache2-ipxe.conf.j2
  ironic-config/apache2-vmedia.conf.j2
  ironic-config/httpd-ironic-api.conf.j2
  ironic-config/httpd.conf.j2
Due: none

Update httpd.conf to bind to IPv4 and/or IPv6 sockets
  ironic-config/httpd.conf.j2
Due: none

Allow deriving IRONIC_IP and IRONIC_IPV6 via a hostname
  README.md
  main-packages-list.txt
  scripts/ironic-common.sh
Due: shellcheck, markdownlint

Set VirtualHost when IRONIC_URL_HOSTNAME is defined
  ironic-config/httpd-ironic-api.conf.j2
Due: none

CI: pin IRONIC_CUSTOM_VERSION to 32.0
  .github/workflows/irso-functional.yml
Due: none

CI: pin IRONIC_CUSTOM_VERSION to 31.0
  .github/workflows/irso-functional.yml
Due: none

CI: pin IRONIC_CUSTOM_VERSION to 30.0
  hack/ci-e2e.sh
Due: shellcheck

Guard against empty BMC CA volume
  scripts/runironic
  scripts/tls-common.sh
Due: shellcheck

improve renovate configuration
  renovate.json
Due: none

fix changelogurl location in renovate.json
  renovate.json
Due: none

Create the default IRONIC_CACERT_FILE directory under /conf for readOnly filesystem when the var is not set
  scripts/tls-common.sh
Due: shellcheck
