Repository metal3-io/ironic-image: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: (\.md|markdownlint\.sh)$

:sparkles: scripts: configurable iPXE EFI basename + harden firmware copy
  ironic-config/dnsmasq.conf.j2
  scripts/ironic-common.sh
  scripts/rundnsmasq
  scripts/runhttpd
Due: shellcheck

Use chmod 2775 instead of 0777 in runhttpd
  scripts/runhttpd
Due: none

Add pipefail and missing local declarations
  configure-nonroot.sh
  scripts/ironic-common.sh
  scripts/rundnsmasq
Due: shellcheck

Refactor and improve input validation in wait_for_interface_or_ip
  scripts/ironic-common.sh
Due: shellcheck

Make IRONIC_IP higher priority than PROVISIONING_IP
  scripts/ironic-common.sh
Due: shellcheck

Let Apache use separate IPv4 and IPv6 sockets when requested
  ironic-config/apache2-ipxe.conf.j2
  ironic-config/apache2-vmedia.conf.j2
  ironic-config/httpd-ironic-api.conf.j2
  ironic-config/httpd.conf.j2
Due: none

Let dnsmasq use separate DNS values for IPv4 and IPv6
  README.md
  ironic-config/dnsmasq.conf.j2
  scripts/rundnsmasq
Due: markdownlint

Update ironic.conf to leverage IRONIC_IPV6
  ironic-config/ironic.conf.j2
  scripts/configure-ironic.sh
Due: shellcheck

Avoid the proxy for connections to IRONIC_IPV6 too
  scripts/configure-ironic-networking.sh
  scripts/configure-ironic.sh
Due: shellcheck

Introduce IRONIC_IPV6 to bind on IPv6 sockets
  scripts/ironic-common.sh
Due: shellcheck

Convert IRONIC_IP to IRONIC_IPV4
  ironic-config/dnsmasq.conf.j2
  ironic-config/httpd-ironic-api.conf.j2
  ironic-config/httpd.conf.j2
  ironic-config/ironic.conf.j2
  scripts/configure-ironic-networking.sh
  scripts/configure-ironic.sh
  scripts/ironic-common.sh
  scripts/rundnsmasq
Due: shellcheck

Set VirtualHost when IRONIC_URL_HOSTNAME is defined
  ironic-config/httpd-ironic-api.conf.j2
Due: none

Allow dual-stack reachability via hostname based URLs
  README.md
  main-packages-list.txt
  scripts/ironic-common.sh
Due: shellcheck, markdownlint

Enable true dual-stack behaviour in dnsmasq via hostname based URLs
  ironic-config/dnsmasq.conf.j2
  scripts/ironic-common.sh
Due: shellcheck

Fix argument injection in SUSHY_TOOLS_CONFIG with a bash array
  resources/sushy-tools/redfish-emulator.sh
Due: shellcheck

Fix dnsmasq data dir path and make it configurable
  Dockerfile
  README.md
  configure-nonroot.sh
  ironic-config/dnsmasq.conf.j2
  scripts/rundnsmasq
Due: shellcheck, markdownlint

Make containers run as non-root users
  resources/ironic-client/Dockerfile
  resources/sushy-tools/Dockerfile
  resources/sushy-tools/redfish-emulator.sh
Due: shellcheck

README changes for httpd logLevel from env var
  README.md
Due: markdownlint

httpd logLevel from environment variable
  ironic-config/httpd-ironic-api.conf.j2
Due: none

Harden /shared/html directory permissions
  scripts/runhttpd
Due: none

Require explicit GitHub token for release notes tool
  Makefile
  hack/tools/release/notes.go
Due: shellcheck

Modify image build workflow for PR
  .github/workflows/ironic-image-build-pr.yml
Due: none

Add Redfish connect_timeout to ironic.conf template
  README.md
  ironic-config/ironic.conf.j2
Due: markdownlint

Extract shared python-build-base for wheel builders
  Dockerfile
Due: none

Document OS_<section>__<option> Ironic config overrides
  README.md
  ironic-config/ironic.conf.j2
Due: markdownlint

Harden renovate-validator script
  hack/renovate-validator.sh
Due: shellcheck

Fail entrypoint waits with a timeout instead of hanging forever
  README.md
  scripts/ironic-common.sh
Due: shellcheck, markdownlint

Use atomic mv instead of copy_atomic in BMC cacert watcher
  scripts/runironic
Due: none

Add Renovate rule to track ipxe-binaries image digest
  renovate.json
Due: none

add set -euxo pipefail to entrypoint scripts for strict error handling
  scripts/ironic-networking-common.sh
  scripts/runhttpd
  scripts/runironic
  scripts/runironic-exporter
  scripts/runironic-networking
  scripts/tls-common.sh
Due: shellcheck

introduce ironic version and other labels
  .github/workflows/build-images-action.yml
  .github/workflows/generate-core-component-source-versions.yml
  .github/workflows/ironic-image-build-pr.yml
  .gitignore
  Dockerfile
  generate_core_component_source_versions.sh
Due: shellcheck

e2e: update BMO version and unblock GINKGO_FOCUS
  .github/workflows/bmo-e2e.yml
  hack/prepare-bmo-tests.sh
Due: shellcheck

release-37.0: update versions in functional jobs
  .github/workflows/bmo-e2e.yml
  .github/workflows/irso-functional.yml
  hack/prepare-bmo-tests.sh
Due: shellcheck

e2e: escape Ironic version to make it a string
  hack/prepare-bmo-tests.sh
Due: shellcheck

e2e: unpin BMO
  .github/workflows/bmo-e2e.yml
Due: none

Switch to default_deploy_interface = autodetect
  ironic-config/ironic.conf.j2
Due: none

Fix missing fallback to built-in firmware in runhttpd TLS setup
  scripts/runhttpd
Due: none

Document why runhttpd does not fall back to built-in iPXE firmware
  scripts/runhttpd
Due: none

Fix minor startup bugs in ironic-common.sh and httpd template
  ironic-config/httpd-ironic-api.conf.j2
  scripts/ironic-common.sh
Due: shellcheck
