Repository metal3-io/ironic-standalone-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, shellcheck, markdownlint, manifestlint

Path conditions:
  gomod: unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: (\.md|markdownlint\.sh)$
  manifestlint: unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$

Guard against wrong image tag in release manifests
  Makefile
Due: gomod, shellcheck, manifestlint

Respect trusted CA in ramdisk-downloader
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
Due: gomod, manifestlint

Update mergeContainers to account for unknown Kubernetes fields
  pkg/ironic/utils.go
  pkg/ironic/utils_test.go
Due: gomod, manifestlint

use upstream ipa tarballs
  test/prepare.sh
Due: gomod, shellcheck, manifestlint

Fix merging probes, drop confusing updateProbe
  pkg/ironic/containers.go
  pkg/ironic/utils.go
  pkg/ironic/utils_test.go
Due: gomod, manifestlint

Add support for ironic-image release-39.0
  api/v1alpha1/ironic_types.go
  pkg/ironic/validation_test.go
  pkg/ironic/version_test.go
  test/suite_test.go
Due: gomod, manifestlint

Allow setting httpd log level via overrides.httpdLogLevel
  api/v1alpha1/ironic_types.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
  pkg/ironic/version.go
  pkg/ironic/version_test.go
Due: gomod, markdownlint, manifestlint

Use self-repository syntax for reusable workflow calls
  .github/workflows/functional-periodic-main.yml
  .github/workflows/functional-periodic-release-0.10.yml
  .github/workflows/functional-periodic-release-0.11.yml
  .github/workflows/functional-periodic-release-0.9.yml
  .github/workflows/functional-pr.yml
Due: gomod, manifestlint

Bump image continer to 0.14.19
  .markdownlint-cli2.yaml
  hack/markdownlint.sh
Due: gomod, shellcheck, markdownlint, manifestlint

:sparkles: Switch to Ironic 39.0 by default, prepare release-0.12
  Makefile
  config/manager/manager.yaml
  pkg/ironic/version.go
Due: gomod, shellcheck, manifestlint

:rocket: Release v0.12.0
  releasenotes/v0.12.0.md
Due: markdownlint

:seedling: Add release-0.12 to dependabot, drop release-0.9
  .github/dependabot.yml
Due: gomod, manifestlint

Add fuzzing for PR test
  Makefile
Due: gomod, shellcheck, manifestlint
