Repository metal3-io/ironic-standalone-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, shellcheck, markdownlint, manifestlint

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.24
      imagePullPolicy: Always

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.10.0@sha256:5921d946dac740cbeec2fb1c898747b6105e585130cc7f0602eec9a10f7ddb63
  ...

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint-cli2:0.12.0@sha256:a3977fba9814f10d33a1d69ae607dc808e7a6470b2ba03e84c17193c0791aac0
  ...

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

Update controller-runtime and k8s libraries
  api/go.mod
  api/go.sum
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  go.mod
  go.sum
  internal/webhook/v1alpha1/ironic_webhook.go
  test/go.mod
  test/go.sum
Due: gomod, markdownlint, manifestlint

Add motivation for doc
  docs/run-controller-local-kind.md
Due: markdownlint

Accept a Secret or a ConfigMap for BMC CA and Trusted CA
  .golangci.yaml
  api/v1alpha1/common.go
  api/v1alpha1/ironic_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  internal/controller/ironic_controller.go
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
  pkg/ironic/local.go
  pkg/ironic/utils.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
  pkg/ironic/version.go
Due: gomod, markdownlint, manifestlint

Make TrustedCA.Key required if provided
  pkg/ironic/ironic.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
Due: gomod, manifestlint

Bump go to 1.25.9
  Dockerfile
  Makefile
Due: gomod, shellcheck, manifestlint

Mention CONTAINER_RUNTIME in AGENTS.md
  AGENTS.md
Due: markdownlint

Add lint-fix target for auto-fixing linter issues
  AGENTS.md
  Makefile
Due: gomod, shellcheck, markdownlint, manifestlint

Require environment label on Secrets and ConfigMaps
  api/v1alpha1/common.go
  internal/controller/ironic_controller.go
  internal/controller/utils.go
  pkg/ironic/secrets.go
  pkg/secretutils/label.go
  pkg/secretutils/secret_manager.go
  pkg/secretutils/secret_manager_test.go
  test/helpers/resources.go
  test/suite_test.go
Due: gomod, manifestlint

Create a testing guide
  README.md
  docs/testing.md
Due: markdownlint

Add a brief overview of the functional test suite
  docs/testing.md
Due: markdownlint

Bind Prometheus exporter to localhost for security
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
  pkg/ironic/servicemonitor.go
  test/suite_test.go
Due: gomod, manifestlint

Fix liniting error
  docs/run-controller-local-kind.md
Due: markdownlint

Add Keepalived list and imageServerIPAddress fields
  api/v1alpha1/ironic_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
Due: gomod, markdownlint, manifestlint

Update events as per proposal doc
  internal/controller/ironic_controller.go
Due: gomod, manifestlint

Create events when reconcile objects
  cmd/main.go
  config/rbac/role.yaml
  internal/controller/ironic_controller.go
  internal/controller/utils.go
Due: gomod, manifestlint

Fix go lint error
  cmd/main.go
  internal/controller/ironic_controller.go
Due: gomod, manifestlint

Update to make event logic testable in isolation
  internal/controller/ironic_controller.go
Due: gomod, manifestlint

Add unit tests for events
  internal/controller/ironic_controller_test.go
Due: gomod, manifestlint

Add Ironic Networking Service deployment support
  .golangci.yaml
  api/v1alpha1/ironic_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  config/samples/v1alpha1_ironic_with_networking_sample.yaml
  docs/api.md
  internal/controller/ironic_controller.go
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
  pkg/ironic/ironic.go
  pkg/ironic/networking_deployment.go
  pkg/ironic/networking_deployment_test.go
  pkg/ironic/utils.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
  pkg/ironic/version.go
  pkg/ironic/version_test.go
  test/helpers/ironic_networking.go
  test/helpers/resources.go
  test/suite_test.go
Due: gomod, markdownlint, manifestlint

Add bindAddress configuration for prometheus exporter
  api/v1alpha1/ironic_types.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
  pkg/ironic/servicemonitor.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
  test/suite_test.go
Due: gomod, markdownlint, manifestlint

Consolidate Metal3 Contributing guide in community repo
  CONTRIBUTING.md
Due: markdownlint

Set IRONIC_CACERT_FILE to trusted CA path when configured
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
Due: gomod, manifestlint

Simplify TestTrustedCAConfigMap test struct and assertions
  pkg/ironic/containers_test.go
Due: gomod, manifestlint

Addressed review comments
  internal/controller/ironic_controller.go
  internal/controller/ironic_controller_test.go
Due: gomod, manifestlint

Add testing policy to doc/testing.md
  docs/testing.md
Due: markdownlint

Add Keepalived struct and imageServerIPAddress fields
  .golangci.yaml
  api/v1alpha1/ironic_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
Due: gomod, markdownlint, manifestlint

Support ironic-image 35.0
  api/v1alpha1/ironic_types.go
  pkg/ironic/validation_test.go
  pkg/ironic/version_test.go
  test/suite_test.go
Due: gomod, manifestlint

Addressed comments
  internal/controller/ironic_controller.go
  internal/controller/ironic_controller_test.go
Due: gomod, manifestlint

Fix lint errors
  internal/controller/ironic_controller.go
Due: gomod, manifestlint

Remove support for ironic-image v32
  api/v1alpha1/ironic_types.go
  pkg/ironic/validation_test.go
  pkg/ironic/version.go
  pkg/ironic/version_test.go
  test/suite_test.go
Due: gomod, manifestlint

Switch to ironic 35.0 by default, prepare release-0.9
  Makefile
  config/manager/manager.yaml
  pkg/ironic/version.go
  pkg/ironic/version_test.go
  test/suite_test.go
Due: gomod, shellcheck, manifestlint

:rocket: Release v0.9.0
  releasenotes/v0.9.0.md
Due: markdownlint

Add Ironic Networking Service deployment support
  .golangci.yaml
  api/v1alpha1/ironic_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  config/samples/v1alpha1_ironic_with_networking_sample.yaml
  docs/api.md
  internal/controller/ironic_controller.go
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
  pkg/ironic/ironic.go
  pkg/ironic/networking_deployment.go
  pkg/ironic/networking_deployment_test.go
  pkg/ironic/utils.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
  pkg/ironic/version.go
  pkg/ironic/version_test.go
  test/helpers/ironic_networking.go
  test/suite_test.go
Due: gomod, markdownlint, manifestlint

✨ Create events when reconcile objects (#626)
  cmd/main.go
  config/rbac/role.yaml
  internal/controller/ironic_controller.go
  internal/controller/ironic_controller_test.go
  internal/controller/utils.go
Due: gomod, manifestlint

Path conditions:
  gomod: unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: (\.md|markdownlint\.sh)$
  manifestlint: unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$
