Repository metal3-io/ironic-standalone-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, shellcheck, markdownlint, manifestlint

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.24
      imagePullPolicy: Always

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.10.0@sha256:5921d946dac740cbeec2fb1c898747b6105e585130cc7f0602eec9a10f7ddb63
  ...

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint-cli2:0.12.0@sha256:a3977fba9814f10d33a1d69ae607dc808e7a6470b2ba03e84c17193c0791aac0
  ...

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

Remove zizmor inline ignore
  .github/workflows/release.yaml
  .zizmor.yml
Due: gomod, manifestlint

Remove zizmor inline ignore for 0.10
  .github/workflows/release.yaml
  .zizmor.yml
Due: gomod, manifestlint

Deprecate mariadb-image flag
  .github/workflows/release.yaml
  cmd/main.go
Due: gomod, manifestlint

add: callback and image-server url settings in Ironic image
  api/v1alpha1/ironic_types.go
  pkg/ironic/containers.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
Due: gomod, manifestlint

fix: apply comment, flipped the hostnetwork logic
  api/v1alpha1/ironic_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/containers.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
Due: gomod, markdownlint, manifestlint

fix: apply copilot comments
  api/v1alpha1/ironic_types.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/containers.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
Due: gomod, markdownlint, manifestlint

add: generated manifests
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
Due: gomod, markdownlint, manifestlint

fix: apply comments
  api/v1alpha1/ironic_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/containers.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
Due: gomod, markdownlint, manifestlint

apply comments
  api/v1alpha1/ironic_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  hack/gen-api-doc.sh
  pkg/ironic/containers.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
Due: gomod, shellcheck, markdownlint, manifestlint

fix: host ip passed to ironic
  pkg/ironic/containers.go
Due: gomod, manifestlint

fix: set host networking to false in case ingress is set
  api/v1alpha1/ironic_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/containers.go
Due: gomod, markdownlint, manifestlint

add tests
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
Due: gomod, manifestlint

Add scheduled job for fuzzing
  .github/workflows/scheduled-fuzz.yml
Due: gomod, manifestlint

Hardening sha for OPM
  Makefile
Due: gomod, shellcheck, manifestlint

Bump go version to 1.26.5
  Dockerfile
  Makefile
Due: gomod, shellcheck, manifestlint

Bump go version to 1.25.12
  Dockerfile
  Makefile
Due: gomod, shellcheck, manifestlint

🌱 Replace crdoc container pull with go install
  Makefile
  hack/gen-api-doc.sh
Due: gomod, shellcheck, manifestlint

apply comments
  api/v1alpha1/ironic_types.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
Due: gomod, markdownlint, manifestlint

Revert "🌱Bump go version to 1.25.12"
  Dockerfile
  Makefile
Due: gomod, shellcheck, manifestlint

Require explicit GitHub token for release notes tool
  Makefile
  hack/tools/release/notes.go
Due: gomod, shellcheck, manifestlint

Bump go.opentelemetry.io/otel/sdk to 1.43.0 and x/net to 0.55
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, manifestlint

Deprecate mariadb-image flag
  cmd/main.go
Due: gomod, manifestlint

Add timeout-minutes to release workflow build job
  .github/workflows/release.yaml
Due: gomod, manifestlint

Add multi-subnet DHCP support with per-range options
  AGENTS.md
  api/v1alpha1/ironic_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
Due: gomod, markdownlint, manifestlint

Add DHCP_OPTIONS env var and rename ranges to extraRanges
  AGENTS.md
  api/v1alpha1/ironic_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
  pkg/ironic/utils.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
  pkg/ironic/version.go
  pkg/ironic/version_test.go
Due: gomod, markdownlint, manifestlint

Regenerate manifests to fix the broken CI
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
Due: gomod, markdownlint, manifestlint

Remove the broken PR link check job
  .github/workflows/pr-link-check.yml
Due: gomod, manifestlint

Add .lycheeignore with removed Kubernetes links
  .lycheeignore
Due: gomod, manifestlint

✨ Callback and image-server url settings in Ironic image (#679)
  api/v1alpha1/ironic_types.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  hack/gen-api-doc.sh
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
Due: gomod, shellcheck, markdownlint, manifestlint

🌱 Harden hack scripts against WORKDIR volume mount injection
  hack/shellcheck.sh
Due: gomod, shellcheck, manifestlint

Add support for ironic-image release-38.0
  api/v1alpha1/ironic_types.go
  pkg/ironic/validation_test.go
  pkg/ironic/version_test.go
  test/suite_test.go
Due: gomod, manifestlint

Remove leftover MariaDB image code
  cmd/main.go
  cmd/run-local-ironic/main.go
  pkg/ironic/version.go
  pkg/ironic/version_test.go
Due: gomod, manifestlint

Dependabot cooldown fix and remove zizmor inline ignore
  .github/dependabot.yml
  .github/workflows/release.yaml
  .github/workflows/zizmor.yml
  .zizmor.yml
Due: gomod, manifestlint

Use docker as container runtime in functional tests
  .github/workflows/functional.yml
Due: gomod, manifestlint

Path conditions:
  gomod: unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: (\.md|markdownlint\.sh)$
  manifestlint: unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$
