Repository metal3-io/ironic-image: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.10.0@sha256:5921d946dac740cbeec2fb1c898747b6105e585130cc7f0602eec9a10f7ddb63
  ...

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint-cli2:0.12.0@sha256:a3977fba9814f10d33a1d69ae607dc808e7a6470b2ba03e84c17193c0791aac0
  ...

Inject Ironic CA Cert in IPA
  README.md
  ironic-config/inspector.ipxe.j2
  ironic-config/ipxe_config.template
  ironic-config/ironic.conf.j2
  main-packages-list.txt
  scripts/rundnsmasq
  scripts/runironic
  scripts/tls-common.sh
Due: shellcheck, markdownlint

Play it safe with option6:61 instead of option6:client-arch
  ironic-config/dnsmasq.conf.j2
Due: none

fix reapprover workflow
  .github/workflows/pr-gh-workflow-approve.yaml
Due: none

Refactor and improve input validation in wait_for_interface_or_ip
  scripts/ironic-common.sh
Due: shellcheck

Make IRONIC_IP higher priority than PROVISIONING_IP
  scripts/ironic-common.sh
Due: shellcheck

Inject Ironic CA Cert in IPA
  README.md
  ironic-config/inspector.ipxe.j2
  ironic-config/ipxe_config.template
  ironic-config/ironic.conf.j2
  main-packages-list.txt
  scripts/configure-ironic.sh
  scripts/rundnsmasq
  scripts/runironic
  scripts/tls-common.sh
Due: shellcheck, markdownlint

add SECURITY_INSIGHTS.yml
  .github/workflows/validate-security-insights.yml
  SECURITY_INSIGHTS.yml
Due: none

Add BMO e2e test integration
  .github/workflows/bmo-e2e.yml
  hack/prepare-bmo-tests.sh
Due: shellcheck

Remove the unmaintained iRMC driver
  ironic-config/ironic.conf.j2
  ironic-deps-list
Due: none

fix readme.md list ordering
  README.md
Due: markdownlint

harden github actions workflows
  .github/workflows/build-images-action.yml
  .github/workflows/ironic-image-build-pr.yml
  .github/workflows/irso-functional.yml
  .github/workflows/pr-gh-workflow-approve.yaml
  .github/workflows/pr-link-check.yml
  .github/workflows/pr-verifier.yaml
  .github/workflows/release.yaml
  .github/workflows/scheduled-link-check.yml
  .github/workflows/yamllint.yaml
Due: none

add zizmor scanner
  .github/dependabot.yml
  .github/workflows/release.yaml
  .github/workflows/zizmor.yml
Due: none

Fix interface detection when MAC/IP matches multiple interfaces
  .github/workflows/unit-tests.yml
  .gitignore
  scripts/detect_interface.py
  scripts/ironic-common.sh
  tests/test_detect_interface.py
Due: shellcheck

Add support for ironic-networking standalone service
  Dockerfile
  README.md
  build-wheels.sh
  hack/prepare-irso-tests.sh
  ironic-config/ironic-networking.conf.j2
  ironic-config/ironic.conf.j2
  ironic-packages-list
  renovate.json
  scripts/auth-common.sh
  scripts/configure-ironic-networking.sh
  scripts/configure-ironic.sh
  scripts/ironic-common.sh
  scripts/ironic-networking-common.sh
  scripts/runironic-networking
Due: shellcheck, markdownlint

Add TLS sipher suites and curves options for PQC support
  README.md
  ironic-config/httpd-ironic-api.conf.j2
Due: markdownlint

Reduce Dockerfile layers by merging redundant steps
  Dockerfile
Due: none

Update extra_kernel_params and hooks configuration
  ironic-config/ironic.conf.j2
Due: none

ignore github release comparison links in Lychee
  .lycheeignore
Due: none

remove obsolete travis.yml
  .travis.yml
Due: none

Consolidate ironic-config COPY instructions into single layer
  Dockerfile
Due: none

Fix Directory regex to match paths without trailing slash
  ironic-config/apache2-ipxe.conf.j2
  ironic-config/apache2-vmedia.conf.j2
  ironic-config/httpd.conf.j2
Due: none

Drop invalid ProxyPassReverse exclusion for /images
  ironic-config/httpd-ironic-api.conf.j2
Due: none

Fix inspector.ipxe IPA URLs unreachable under iPXE TLS
  ironic-config/apache2-ipxe.conf.j2
  ironic-config/inspector.ipxe.j2
  scripts/ironic-common.sh
Due: shellcheck

Switch to default_deploy_interface = autodetect
  ironic-config/ironic.conf.j2
Due: none

make ironic conductor timeouts configurable
  ironic-config/ironic.conf.j2
  scripts/ironic-common.sh
Due: shellcheck

try Ironic v35.0
  Dockerfile
Due: none

Update ironic
  Dockerfile
  prepare-image.sh
Due: shellcheck

Fix unquoted parameter expansions in shell scripts
  scripts/ironic-common.sh
  scripts/ironic-networking-common.sh
Due: shellcheck

Prepare release-35.0
  Dockerfile
  upper-constraints.txt
Due: none

Release v35.0.0
  releasenotes/v35.0.0.md
Due: markdownlint

Promote Tuomo to approvers
  OWNERS_ALIASES
Due: none

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: (\.md|markdownlint\.sh)$
