Repository metal3-io/ironic-standalone-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, shellcheck, markdownlint, manifestlint

Path conditions:
  gomod: unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: (\.md|markdownlint\.sh)$
  manifestlint: unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$

Bump go version to 1.25.8
  Dockerfile
  Makefile
Due: gomod, shellcheck, manifestlint

bump x/net to v0.49.0
  api/go.mod
  api/go.sum
Due: gomod, manifestlint

bump x/net to v0.49.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, manifestlint

bump x/net to v0.49.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: gomod, manifestlint

docs: add proposal for reconciliation events
  docs/proposals/0001-kubernetes-events.md
Due: markdownlint

harden pr-verifier workflow trigger
  .github/workflows/pr-verifier.yaml
Due: gomod, manifestlint

bump otel/sdk to v1.40.0
  go.mod
  go.sum
Due: gomod, manifestlint

Add Ironic Networking Service deployment support
  .golangci.yaml
  api/v1alpha1/ironic_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  config/samples/ironic_with_networking_sample.yaml
  docs/api.md
  internal/controller/ironic_controller.go
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
  pkg/ironic/ironic.go
  pkg/ironic/networking_deployment.go
  pkg/ironic/networking_deployment_test.go
  pkg/ironic/utils.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
  test/helpers/resources.go
  test/suite_test.go
Due: gomod, markdownlint, manifestlint

download ipa image only once
  config/testing/manager_irso_config_patch.yaml
  test/prepare.sh
  test/run.sh
  test/testing.env
  test/utils.sh
Due: gomod, shellcheck, manifestlint

Bumo go to v1.25 in go modules
  .github/workflows/golangci-lint.yml
  .golangci.yaml
  Makefile
  api/go.mod
  go.mod
  hack/ensure-go.sh
  hack/gomod.sh
  test/go.mod
Due: gomod, shellcheck, manifestlint

remove docker push stuff from Makefile
  Makefile
Due: gomod, shellcheck, manifestlint

Fix the linter findings, suppress gosec false positives
  cmd/run-local-ironic/main.go
  pkg/ironic/secrets_test.go
  test/helpers/clients.go
  test/suite_test.go
Due: gomod, manifestlint

Bump golangci-lint to v2 and fix issues
  .github/workflows/golangci-lint.yml
  .golangci.yaml
  Makefile
  pkg/ironic/containers_test.go
  pkg/ironic/ironic.go
  pkg/ironic/secrets_test.go
  pkg/ironic/upgrades.go
  pkg/ironic/utils.go
Due: gomod, shellcheck, manifestlint

Add multi-architecture IPA support and configurable probes.
  api/v1alpha1/ironic_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
  pkg/ironic/utils.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
Due: gomod, markdownlint, manifestlint

bump google.golang.org/grpc to v1.79.3
  go.mod
  go.sum
Due: gomod, manifestlint

Accept a Secret or a ConfigMap for BMC CA and Trusted CA
  .golangci.yaml
  api/v1alpha1/common.go
  api/v1alpha1/ironic_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  internal/controller/ironic_controller.go
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
  pkg/ironic/local.go
  pkg/ironic/utils.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
  pkg/ironic/version.go
Due: gomod, markdownlint, manifestlint

Make TrustedCA.Key required if provided
  pkg/ironic/ironic.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
Due: gomod, manifestlint

Address PR review: deprecate flat DHCP fields, fix lint, reuse validation
  api/v1alpha1/ironic_types.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/containers.go
  pkg/ironic/validation.go
Due: gomod, markdownlint, manifestlint

:rocket: Release v0.8.1
  releasenotes/v0.8.1.md
Due: markdownlint

:rocket: Release v0.7.2
  releasenotes/v0.7.2.md
Due: markdownlint

:rocket: Release v0.6.3
  releasenotes/v0.6.3.md
Due: markdownlint

add OpenSSF OSPS baseline level 1 badge
  README.md
Due: markdownlint

Remove last mentions of ironic-inspector
  pkg/ironic/containers.go
Due: gomod, manifestlint

Use the new IRONIC_JSON_RPC_PORT instead of an OS override
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
Due: gomod, manifestlint

Address code review
  api/v1alpha1/ironic_types.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
  pkg/ironic/utils.go
Due: gomod, markdownlint, manifestlint

Address code review: improve URL validation, probe tests, and docs
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
Due: gomod, manifestlint

Added instructions to run controller locally on kind
  README.md
  docs/run-controller-local-kind.md
Due: markdownlint

✨ Add multi-architecture IPA support and configurable probes (#517)
  api/v1alpha1/ironic_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
  pkg/ironic/utils.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
Due: gomod, markdownlint, manifestlint
