Repository metal3-io/ironic-standalone-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, shellcheck, markdownlint, manifestlint

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.24
      imagePullPolicy: Always

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.10.0@sha256:5921d946dac740cbeec2fb1c898747b6105e585130cc7f0602eec9a10f7ddb63
  ...

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint-cli2:0.12.0@sha256:a3977fba9814f10d33a1d69ae607dc808e7a6470b2ba03e84c17193c0791aac0
  ...

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

Add multi-architecture IPA support and configurable probes.
  api/v1alpha1/ironic_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
  pkg/ironic/utils.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
Due: gomod, markdownlint, manifestlint

Add multi-architecture IPA support and configurable probes.
  api/v1alpha1/ironic_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
Due: gomod, markdownlint, manifestlint

Accept a Secret or a ConfigMap for BMC CA and Trusted CA
  api/v1alpha1/ironic_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  internal/controller/ironic_controller.go
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
  pkg/ironic/local.go
  pkg/ironic/utils.go
  pkg/ironic/validation.go
  pkg/ironic/version.go
  pkg/ironic/version_test.go
Due: gomod, markdownlint, manifestlint

Refactor volume logic for Secret/ConfigMap selection
  pkg/ironic/containers.go
  pkg/ironic/utils.go
Due: gomod, manifestlint

Add IRONIC_ACCESS_PORT to container environment variables
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
Due: gomod, manifestlint

bump github actions to new major versions
  .github/workflows/build.yml
  .github/workflows/dependabot.yml
  .github/workflows/functional.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/local-ironic.yml
  .github/workflows/pr-gh-workflow-approve.yaml
  .github/workflows/release.yaml
Due: gomod, manifestlint

Bump golang to 1.24.13
  Dockerfile
  Makefile
Due: gomod, shellcheck, manifestlint

Pass IPA_FLAVOR and IPA_ARCH env vars to ramdisk-downloader
  pkg/ironic/containers.go
Due: gomod, manifestlint

Only use a Key for TrustedCA, not for BMCCA
  .golangci.yaml
  api/v1alpha1/common.go
  api/v1alpha1/ironic_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  internal/controller/ironic_controller.go
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
  pkg/ironic/local.go
  pkg/ironic/utils.go
  pkg/ironic/validation.go
Due: gomod, markdownlint, manifestlint

Support ironic-image 34.0
  api/v1alpha1/ironic_types.go
  pkg/ironic/validation_test.go
  pkg/ironic/version_test.go
  test/suite_test.go
Due: gomod, manifestlint

Remove support for ironic-image v31
  api/v1alpha1/ironic_types.go
  pkg/ironic/validation_test.go
  pkg/ironic/version_test.go
  test/suite_test.go
Due: gomod, manifestlint

Update MariaDB operator installation with retry logic and github repos
  test/prepare.sh
Due: gomod, shellcheck, manifestlint

Switch to Ironic 34.0 by default, prepare release-0.8
  Makefile
  config/manager/manager.yaml
  pkg/ironic/version.go
  pkg/ironic/version_test.go
Due: gomod, shellcheck, manifestlint

Fix httpd probe configuration and move validation to webhook layer
  api/v1alpha1/ironic_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
Due: gomod, markdownlint, manifestlint

Release v0.8.0
  releasenotes/v0.8.0.md
Due: markdownlint

Use TrimSpace, add URL validation, document probe behavior
  api/v1alpha1/ironic_types.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/containers.go
  pkg/ironic/utils.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
Due: gomod, markdownlint, manifestlint

add dependabot config for release-0.8
  .github/dependabot.yml
Due: gomod, manifestlint

enforce ol-prefix 'one' style for ordered lists
  .markdownlint-cli2.yaml
Due: gomod, manifestlint

Configure dependabot for release-0.8
  .github/dependabot.yml
Due: gomod, manifestlint

✨ Add networkRanges to DHCP for multi-subnet support
  api/v1alpha1/ironic_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
Due: gomod, markdownlint, manifestlint

specify oci platform during image build
  .github/workflows/build-images-action.yml
Due: gomod, manifestlint

fix reapprover workflow
  .github/workflows/pr-gh-workflow-approve.yaml
Due: gomod, manifestlint

Bump opentelemetry.io/otel/sdk to v1.40.0
  go.mod
  go.sum
Due: gomod, manifestlint

Accept a Secret or a ConfigMap for BMC CA and Trusted CA
  .golangci.yaml
  api/v1alpha1/common.go
  api/v1alpha1/ironic_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  internal/controller/ironic_controller.go
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
  pkg/ironic/local.go
  pkg/ironic/utils.go
  pkg/ironic/validation.go
  pkg/ironic/version.go
Due: gomod, markdownlint, manifestlint

Add Ironic Networking Service deployment support
  api/v1alpha1/ironic_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  config/samples/ironic_with_networking_sample.yaml
  docs/api.md
  internal/controller/ironic_controller.go
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
  pkg/ironic/ironic.go
  pkg/ironic/networking_deployment.go
  pkg/ironic/networking_deployment_test.go
  pkg/ironic/utils.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
  test/helpers/resources.go
  test/suite_test.go
Due: gomod, markdownlint, manifestlint

harden github actions workflows
  .github/workflows/build-images-action.yml
  .github/workflows/build.yml
  .github/workflows/functional.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/local-ironic.yml
  .github/workflows/pr-gh-workflow-approve.yaml
  .github/workflows/pr-link-check.yml
  .github/workflows/pr-verifier.yaml
  .github/workflows/release.yaml
  .github/workflows/scheduled-link-check.yml
  .github/workflows/yamllint.yaml
Due: gomod, manifestlint

bump otel/sdk v1.40.0
  go.mod
  go.sum
Due: gomod, manifestlint

add zizmor scanner
  .github/dependabot.yml
  .github/workflows/dependabot.yml
  .github/workflows/release.yaml
  .github/workflows/zizmor.yml
Due: gomod, manifestlint

download ipa image only once
  config/testing/manager_irso_config_patch.yaml
  test/prepare.sh
  test/run.sh
Due: gomod, shellcheck, manifestlint

download ipa image only once
  config/testing/manager_irso_config_patch.yaml
  test/prepare.sh
  test/run.sh
  test/testing.env
  test/utils.sh
Due: gomod, shellcheck, manifestlint

Path conditions:
  gomod: unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: (\.md|markdownlint\.sh)$
  manifestlint: unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$
