Repository metal3-io/ironic-image: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.10.0@sha256:5921d946dac740cbeec2fb1c898747b6105e585130cc7f0602eec9a10f7ddb63
  ...

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint-cli2:0.12.0@sha256:a3977fba9814f10d33a1d69ae607dc808e7a6470b2ba03e84c17193c0791aac0
  ...

fix irso-functional by using irso 0.7 to checkout
  .github/workflows/irso-functional.yml
Due: none

fix irso-functional by using irso 0.8 to checkout
  .github/workflows/irso-functional.yml
Due: none

future-proof irso-functional by using irso 0.9 checkout
  .github/workflows/irso-functional.yml
Due: none

future-proof irso-functional by using IRSO 0.9 checkout
  .github/workflows/irso-functional.yml
Due: none

Disable prometheus exporter by default
  README.md
  scripts/runironic-exporter
Due: markdownlint

Document how the last cipher suite is choosen as the default value in ironic Signed-off-by: Saad Zia <saad.zia@est.tech>
  ironic-config/ironic.conf.j2
Due: none

Fix release notes generation when versions are skipped
  Makefile
  hack/tools/release/notes.go
Due: shellcheck

Release v37.0.0
  releasenotes/v37.0.0.md
Due: markdownlint

Leverage variable IRONIC_TFTP_URL in dnsmasq.conf
  ironic-config/dnsmasq.conf.j2
Due: none

Leverage IRONIC_HTTP_URL for iPXE boot image on IPv4
  ironic-config/dnsmasq.conf.j2
Due: none

Refactor and improve input validation in wait_for_interface_or_ip
  scripts/ironic-common.sh
Due: shellcheck

Make IRONIC_IP higher priority than PROVISIONING_IP
  scripts/ironic-common.sh
Due: shellcheck

Avoid the proxy for connections to IRONIC_IPV6 too
  scripts/configure-ironic-networking.sh
  scripts/configure-ironic.sh
Due: shellcheck

Update ironic.conf to leverage IRONIC_IPV6
  ironic-config/ironic.conf.j2
  scripts/configure-ironic.sh
Due: shellcheck

Introduce IRONIC_IPV6 to bind on IPv6 sockets
  scripts/ironic-common.sh
Due: shellcheck

add diconico07 as a reviewer
  OWNERS_ALIASES
Due: none

Harden /shared/html directory permissions
  scripts/runhttpd
Due: none

Update releasing.md with current process and links
  docs/releasing.md
Due: markdownlint

Update dependabot and renovate config for v37
  .github/dependabot.yml
  renovate.json
Due: none

Use IRONIC_ACCESS_PORT instead of hardcoded 6385 in ironic-probe.sh
  scripts/ironic-probe.sh
Due: shellcheck

httpd logLevel from environment variable
  ironic-config/httpd-ironic-api.conf.j2
Due: none

Add OCI configuration options to ironic.conf.j2
  ironic-config/ironic.conf.j2
Due: none

Reduce code duplication in entry point scripts
  scripts/configure-ironic.sh
  scripts/ironic-common.sh
  scripts/rundnsmasq
  scripts/runhttpd
Due: shellcheck

Convert IRONIC_IP to IRONIC_IPV4
  ironic-config/dnsmasq.conf.j2
  ironic-config/httpd-ironic-api.conf.j2
  ironic-config/httpd.conf.j2
  ironic-config/ironic.conf.j2
  scripts/configure-ironic-networking.sh
  scripts/configure-ironic.sh
  scripts/ironic-common.sh
  scripts/rundnsmasq
Due: shellcheck

Let dnsmasq use separate DNS values for IPv4 and IPv6
  README.md
  ironic-config/dnsmasq.conf.j2
  scripts/rundnsmasq
Due: markdownlint

Let Apache use separate IPv4 and IPv6 sockets when requested
  ironic-config/apache2-ipxe.conf.j2
  ironic-config/apache2-vmedia.conf.j2
  ironic-config/httpd-ironic-api.conf.j2
  ironic-config/httpd.conf.j2
Due: none

Set VirtualHost when IRONIC_URL_HOSTNAME is defined
  ironic-config/httpd-ironic-api.conf.j2
Due: none

Enable true dual-stack behaviour in dnsmasq via hostname based URLs
  ironic-config/dnsmasq.conf.j2
  scripts/ironic-common.sh
Due: shellcheck

Allow dual-stack reachability via hostname based URLs
  README.md
  main-packages-list.txt
  scripts/ironic-common.sh
Due: shellcheck, markdownlint

fix: validate BMC path and atomic cert write
  scripts/runironic
Due: none

Fix: atomic BMC CA cert bundle write in tls-common script
  scripts/tls-common.sh
Due: shellcheck

Fix dnsmasq lease-file path mismatch
  configure-nonroot.sh
  ironic-config/dnsmasq.conf.j2
  scripts/rundnsmasq
Due: shellcheck

:memo: Document SNP_BASENAME env var in README
  README.md
Due: markdownlint

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: (\.md|markdownlint\.sh)$
