Repository metal3-io/ironic-image: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: (\.md|markdownlint\.sh)$

:seedling: Pin constraints, prepare release-38.0
  Dockerfile
  upper-constraints.txt
Due: none

add spec.images instead of patching spec.images/ironic
  hack/prepare-bmo-tests.sh
Due: shellcheck

introduce ironic version and other labels
  .github/workflows/build-images-action.yml
  .github/workflows/generate-core-component-source-versions.yml
  .github/workflows/ironic-image-build-pr.yml
  .gitignore
  Dockerfile
  generate_core_component_source_versions.sh
Due: shellcheck

fix image building during merge
  .github/workflows/build-images-action.yml
Due: none

work around re-usable workflow limitation
  .github/workflows/build-images-action.yml
Due: none

Revert ":seedling: Pin constraints, prepare release-38.0"
  Dockerfile
  upper-constraints.txt
Due: none

DNM check that BMO tests Ironic changes
  ironic-config/ironic.conf.j2
Due: none

[DNM] Test newer version of ironic
  Dockerfile
Due: none

Revert "Switch to default_deploy_interface = autodetect"
  ironic-config/ironic.conf.j2
Due: none

DNM bump ironic
  Dockerfile
Due: none

Add no-inspect to enable inspect interfaces
  ironic-config/ironic.conf.j2
Due: none

Add idrac-redfish to enabled inspect interfaces
  ironic-config/ironic.conf.j2
Due: none

🐛 Bracket IPv6 IRONIC_EXTERNAL_IP when composing external URLs
  scripts/configure-ironic.sh
Due: shellcheck

Update to latest ironic hash for autodetect fix
  Dockerfile
Due: none

add spec.images instead of patching spec.images/ironic
  Dockerfile
  hack/prepare-bmo-tests.sh
Due: shellcheck

:rocket: Release v38.0.0
  releasenotes/v38.0.0.md
Due: markdownlint

Sync checkout action to v7
  .github/workflows/bmo-e2e.yml
  .github/workflows/generate-core-component-source-versions.yml
  .github/workflows/ironic-image-build-pr.yml
  .github/workflows/irso-functional.yml
  .github/workflows/release.yaml
  .github/workflows/unit-tests.yml
  .github/workflows/validate-security-insights.yml
  .github/workflows/zizmor.yml
  .zizmor.yml
Due: none

Add signal handling to runlogwatch.sh for graceful shutdown
  scripts/runlogwatch.sh
Due: shellcheck

Sync checkout action to v7
  .github/workflows/bmo-e2e.yml
  .github/workflows/ironic-image-build-pr.yml
  .github/workflows/irso-functional.yml
  .github/workflows/release.yaml
  .github/workflows/unit-tests.yml
  .github/workflows/validate-security-insights.yml
  .github/workflows/zizmor.yml
  .zizmor.yml
Due: none

:seedling: Update dependabot and renovate config for v38
  .github/dependabot.yml
  renovate.json
Due: none

Add TLS ad IPv6 iPXE build support
  Dockerfile
  README.md
  build-ipxe.sh
  prepare-ipxe.sh
Due: shellcheck, markdownlint

Introduce IRONIC_IPV6 to bind on IPv6 sockets
  scripts/ironic-common.sh
Due: shellcheck

Avoid the proxy for connections to IRONIC_IPV6 too
  scripts/configure-ironic-networking.sh
  scripts/configure-ironic.sh
Due: shellcheck

Update ironic.conf to leverage IRONIC_IPV6
  ironic-config/ironic.conf.j2
  scripts/configure-ironic.sh
Due: shellcheck

Let dnsmasq use separate DNS values for IPv4 and IPv6
  README.md
  ironic-config/dnsmasq.conf.j2
  scripts/rundnsmasq
Due: markdownlint

Let Apache use separate IPv4 and IPv6 sockets when requested
  ironic-config/apache2-ipxe.conf.j2
  ironic-config/apache2-vmedia.conf.j2
  ironic-config/httpd-ironic-api.conf.j2
  ironic-config/httpd.conf.j2
Due: none

bump stable/2026.1 sha to include regression fix
  Dockerfile
Due: none

:rocket: Release v35.0.2
  releasenotes/v35.0.2.md
Due: markdownlint

Fix missing changelogUrl in Renovate PRs for git-refs deps
  renovate.json
Due: none

[release-38.0] update CI workflows and bump ironic hash
  .github/workflows/bmo-e2e.yml
  .github/workflows/irso-functional.yml
  Dockerfile
Due: none

Convert IRONIC_IP to IRONIC_IPV4
  ironic-config/dnsmasq.conf.j2
  ironic-config/httpd-ironic-api.conf.j2
  ironic-config/httpd.conf.j2
  ironic-config/ironic.conf.j2
  scripts/configure-ironic-networking.sh
  scripts/configure-ironic.sh
  scripts/ironic-common.sh
  scripts/rundnsmasq
Due: shellcheck

Make ironic-tool client run as a non-root user
  resources/ironic-client/Dockerfile
Due: none

fix: validate BMC path and atomic cert write
  scripts/runironic
Due: none

Require explicit GitHub token for release notes tool
  Makefile
  docs/releasing.md
  hack/tools/release/notes.go
Due: shellcheck, markdownlint

Use atomic mv instead of copy_atomic in BMC cacert watcher
  scripts/runironic
  scripts/tls-common.sh
Due: shellcheck
