Repository metal3-io/ironic-standalone-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, shellcheck, markdownlint, manifestlint

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.24
      imagePullPolicy: Always

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.10.0@sha256:5921d946dac740cbeec2fb1c898747b6105e585130cc7f0602eec9a10f7ddb63
  ...

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint-cli2:0.12.0@sha256:a3977fba9814f10d33a1d69ae607dc808e7a6470b2ba03e84c17193c0791aac0
  ...

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

Bump grpc to v1.82.1
  go.mod
  go.sum
Due: gomod, manifestlint

Finish transition to ReadOnlyRootFilesystem
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
Due: gomod, manifestlint

Unit test SecurityContext values
  pkg/ironic/containers_test.go
Due: gomod, manifestlint

Bump grpc to v1.83.1
  go.mod
  go.sum
Due: gomod, manifestlint

CI: add timeout to run-local-ironic calls
  test/local-ironic/run.sh
  test/local-ironic/tear-down.sh
Due: gomod, shellcheck, manifestlint

Bump grpc to v1.83.1
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, manifestlint

Use go v1.26.
  hack/gomod.sh
Due: gomod, shellcheck, manifestlint

:seedling: Add periodic jobs for release-0.10 and 0.11
  .github/workflows/functional-periodic-release-0.10.yml
  .github/workflows/functional-periodic-release-0.11.yml
Due: gomod, manifestlint

:seedling: Address review: Keep original cron schedules
  .github/workflows/functional-periodic-release-0.10.yml
  .github/workflows/functional-periodic-release-0.11.yml
Due: gomod, manifestlint

Retroactively add a feature gate for Prometheus exporter
  api/v1alpha1/features.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
Due: gomod, manifestlint

:seedling: Add periodic jobs for release-0.10 and 0.11 (#843)
  .github/workflows/functional-periodic-release-0.10.yml
  .github/workflows/functional-periodic-release-0.11.yml
Due: gomod, manifestlint

Bump image continer to 0.14.19
  .markdownlint-cli2.yaml
  hack/markdownlint.sh
Due: gomod, shellcheck, markdownlint, manifestlint

Fix yamllint workflow
  .github/workflows/yamllint.yaml
Due: gomod, manifestlint

Bump google.golang.org/grpc from 1.83.1 to 1.83.2
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, manifestlint

Bump google.golang.org/grpc from 1.83.1 to 1.83.2
  go.mod
  go.sum
Due: gomod, manifestlint

Remove PR Verifier GitHub Action workflow
  .github/workflows/pr-verifier.yaml
Due: gomod, manifestlint

:memo: Document periodic functional workflow maintenance
  docs/releasing.md
Due: markdownlint

add yamllint script for prow
  hack/yamllint.sh
Due: gomod, shellcheck, manifestlint

Add id-token: write permission in build-images-action-pr workflow
  .github/workflows/build-images-action-pr.yml
Due: gomod, manifestlint

Document feature gate requirement of IPE support
  api/v1alpha1/ironic_types.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
Due: gomod, markdownlint, manifestlint

Merge ingress annotations instead of replacing them
  pkg/ironic/ingress.go
  pkg/ironic/ingress_test.go
Due: gomod, manifestlint

group shared Go dependencies in Dependabot
  .github/dependabot.yml
Due: gomod, manifestlint

Update zizmor-action to v0.6.4 and fix self-repository findings
  .github/workflows/functional-periodic-main.yml
  .github/workflows/functional-periodic-release-0.10.yml
  .github/workflows/functional-periodic-release-0.11.yml
  .github/workflows/functional-periodic-release-0.9.yml
  .github/workflows/functional-pr.yml
  .github/workflows/zizmor.yml
Due: gomod, manifestlint

use upstream ipa tarballs
  test/prepare.sh
Due: gomod, shellcheck, manifestlint

add smoshiur1237 as reviewer
  OWNERS
  OWNERS_ALIASES
Due: none

:seedling: Run zizmor on release branches
  .github/workflows/zizmor.yml
Due: gomod, manifestlint

remove golanci-lint from release-0.10 in favor of Prow
  .github/security-insights.yml
  .github/workflows/golangci-lint.yml
Due: gomod, manifestlint

Remove unused RBAC rule in IRSO
  config/rbac/role.yaml
  internal/controller/ironic_controller.go
Due: gomod, manifestlint

Path conditions:
  gomod: unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: (\.md|markdownlint\.sh)$
  manifestlint: unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$
