Repository metal3-io/ironic-image: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: (\.md|markdownlint\.sh)$

Use heredoc syntax for RUN statements
  Dockerfile
Due: none

Add wheel-builder stages to pre-build Python packages
  Dockerfile
  build-wheels.sh
  ironic-deps-list
  ironic-packages-list
  prepare-image.sh
Due: shellcheck

Use CentOS minimal as base image
  .github/workflows/build-images-action.yml
  .github/workflows/ironic-image-build-pr.yml
  .github/workflows/release.yaml
  Dockerfile
  patch-image.sh
  prepare-image.sh
  prepare-ipxe.sh
Due: shellcheck

allow renovate to auto migrate its config
  renovate.json
Due: none

Introduce an address parsing utility function
  scripts/ironic-common.sh
Due: shellcheck

Introduce get_interface_of_ip to look PROVISIONING_IP up
  scripts/ironic-common.sh
Due: shellcheck

uplift python dependencies to fix voulnerabilities
  prepare-image.sh
  upper-constraints.txt
Due: shellcheck

Provide a fallback bootloader when cpu_arch is not set
  ironic-config/ironic.conf.j2
  scripts/configure-ironic.sh
Due: shellcheck

add pip/setuptools versions to Renovate config
  renovate.json
Due: none

add hack/renovate-validator.sh
  hack/renovate-validator.sh
Due: shellcheck

customize some firmware update configs
  ironic-config/ironic.conf.j2
Due: none

Update iPXE to latest upstream
  Dockerfile
Due: none

Be consistent about "ip addr" to avoid confusion with "ip add" which is not what you think
  scripts/ironic-common.sh
Due: shellcheck

Fix for microdnf segfault
  Dockerfile
  prepare-image.sh
Due: shellcheck

🌱 Cherry-pick downstream changes to k0rdent-33.0 branch (#9)
  .github/workflows/build-downstream-images-action.yml
  .github/workflows/ironic-image-build-pr.yml
  .github/workflows/pr-link-check.yml
  configure-nonroot.sh
Due: shellcheck

Add tar package for centos-minimal compatibility
  main-packages-list.txt
Due: none

bump github actions to new major versions
  .github/workflows/ironic-image-build-pr.yml
  .github/workflows/irso-functional.yml
  .github/workflows/pr-gh-workflow-approve.yaml
  .github/workflows/release.yaml
Due: none

Add multi-architecture PXE boot support
  ironic-config/inspector.ipxe.j2
  ironic-config/ipxe_config.template
  ironic-config/ironic.conf.j2
  scripts/runhttpd
Due: none

Consolidate first stage plus more heredoc syntax
  Dockerfile
Due: none

Update httpd.conf.j2
  ironic-config/httpd.conf.j2
Due: none

Prepare release-34.0
  Dockerfile
  upper-constraints.txt
Due: none

Add BMO e2e test integration
  .github/workflows/bmo-e2e.yml
  hack/prepare-bmo-tests.sh
Due: shellcheck

🌱 Allow both HTTP and HTTPs vmedia endpoints
  ironic-config/httpd.conf.j2
  scripts/tls-common.sh
Due: shellcheck

Release v34.0.0
  releasenotes/v34.0.0.md
Due: markdownlint

Update dependabot and renovate config for release-34.0
  .github/dependabot.yml
  docs/releasing.md
  renovate.json
Due: markdownlint

Add multiarch support for IPA image selection
  ironic-config/inspector.ipxe.j2
  ironic-config/ironic.conf.j2
  scripts/configure-ironic.sh
  scripts/ironic-common.sh
  scripts/runhttpd
Due: shellcheck

Fix architecture detection in multiarch IPA env vars
  scripts/ironic-common.sh
Due: shellcheck

Refactor inspector.ipxe.j2 with Jinja2 macro and add multiarch documentation
  README.md
  ironic-config/inspector.ipxe.j2
Due: markdownlint

Fix microdnf segfault by removing unsupported GPG keys
  Dockerfile
  prepare-image.sh
Due: shellcheck

enforce ol-prefix 'one' style for ordered lists
  .markdownlint-cli2.yaml
Due: none

Update irso-functional job with correct ironic-image version
  .github/workflows/irso-functional.yml
Due: none

Inject Ironic CA Cert in IPA
  README.md
  ironic-config/inspector.ipxe.j2
  ironic-config/ipxe_config.template
  ironic-config/ironic.conf.j2
  main-packages-list.txt
  scripts/rundnsmasq
  scripts/runironic
  scripts/tls-common.sh
Due: shellcheck, markdownlint

Fix DHCPv6 PXE boot: use option6:client-arch for architecture detection
  ironic-config/dnsmasq.conf.j2
Due: none

✨ Support multiple DHCP ranges via semicolon-separated DHCP_RANGE
  ironic-config/dnsmasq.conf.j2
Due: none

Update PIP_VERSION to latest released pip
  Dockerfile
Due: none

Add BMO e2e test integration
  .github/workflows/bmo-e2e.yml
  hack/prepare-bmo-tests.sh
  test/e2e/config/ironic.yaml
Due: shellcheck

Add package tar
  ironic-deps-list
Due: none

Always use templated iPXE config
  ironic-config/ipxe_config.template
  ironic-config/ironic.conf.j2
Due: none
