Repository metal3-io/ironic-standalone-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, shellcheck, markdownlint, manifestlint

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.24
      imagePullPolicy: Always

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.10.0@sha256:5921d946dac740cbeec2fb1c898747b6105e585130cc7f0602eec9a10f7ddb63
  ...

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint-cli2:0.12.0@sha256:a3977fba9814f10d33a1d69ae607dc808e7a6470b2ba03e84c17193c0791aac0
  ...

manifestlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/manifestlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      - name: KUBECONFORM_PATH
        value: /
  ...

Bump go to 1.25.11 to fix the following CVEs: CVE-2026-42504 CVE-2026-42507 CVE-2026-27145
  Dockerfile
  Makefile
Due: gomod, shellcheck, manifestlint

Added timeouts for all workflows
  .github/workflows/build-images-action.yml
  .github/workflows/build.yml
  .github/workflows/dependabot.yml
  .github/workflows/functional-periodic-main.yml
  .github/workflows/functional-periodic-release-0.7.yml
  .github/workflows/functional-periodic-release-0.8.yml
  .github/workflows/functional-periodic-release-0.9.yml
  .github/workflows/functional-pr.yml
  .github/workflows/functional.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/local-ironic.yml
  .github/workflows/pr-gh-workflow-approve.yaml
  .github/workflows/pr-link-check.yml
  .github/workflows/pr-verifier.yaml
  .github/workflows/release.yaml
  .github/workflows/scheduled-link-check.yml
  .github/workflows/validate-security-insights.yml
  .github/workflows/yamllint.yaml
  .github/workflows/zizmor.yml
Due: gomod, manifestlint

Add configurable keepalived VRID
  api/v1alpha1/ironic_types.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
Due: gomod, markdownlint, manifestlint

Bump x/net to v0.55.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, manifestlint

Add keepalived VRRP password support and stricter validation
  .golangci.yaml
  api/v1alpha1/ironic_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
Due: gomod, markdownlint, manifestlint

add: image-service and ingress resource
  api/v1alpha1/ironic_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  config/rbac/role.yaml
  docs/api.md
  internal/controller/ironic_controller.go
  pkg/ironic/containers.go
  pkg/ironic/ironic.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
Due: gomod, markdownlint, manifestlint

add: callback and image-server url settings in Ironic image
  api/v1alpha1/ironic_types.go
  pkg/ironic/containers.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
Due: gomod, manifestlint

add: generated manifests
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
Due: gomod, markdownlint, manifestlint

fix: set host networking to false in case ingress is set
  api/v1alpha1/ironic_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/containers.go
Due: gomod, markdownlint, manifestlint

Add multi-subnet DHCP support with per-range options
  AGENTS.md
  api/v1alpha1/ironic_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
Due: gomod, markdownlint, manifestlint

:seedling: Remove timeout from caller periodic workflows
  .github/workflows/functional-periodic-main.yml
  .github/workflows/functional-periodic-release-0.7.yml
  .github/workflows/functional-periodic-release-0.8.yml
  .github/workflows/functional-periodic-release-0.9.yml
Due: gomod, manifestlint

Set cooldown days to 3 for dependabot
  .github/dependabot.yml
  .github/workflows/zizmor.yml
  .zizmor.yml
Due: gomod, manifestlint

Add DHCP_OPTIONS env var for per-range gateway options
  .golangci.yaml
  AGENTS.md
  api/v1alpha1/ironic_types.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
  pkg/ironic/version.go
  pkg/ironic/version_test.go
Due: gomod, markdownlint, manifestlint

fix: host ip passed to ironic
  pkg/ironic/containers.go
Due: gomod, manifestlint

Update test descriptions to read as full sentences
  test/suite_test.go
Due: gomod, manifestlint

fix: apply copilot comments
  api/v1alpha1/ironic_types.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/containers.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
Due: gomod, markdownlint, manifestlint

Refactor: split ingress code into a separate file
  pkg/ironic/ingress.go
  pkg/ironic/ironic.go
Due: gomod, manifestlint

feat: add volumes to overrides for mounting extra storage
  api/v1alpha1/ironic_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/utils.go
  pkg/ironic/utils_test.go
Due: gomod, markdownlint, manifestlint

Fix a minor error in the Ingress error handling
  pkg/ironic/ingress.go
Due: gomod, manifestlint

update dependabot with 0.9 and drop 0.6
  .github/dependabot.yml
Due: gomod, manifestlint

use proper IPA cache address
  test/prepare.sh
Due: gomod, shellcheck, manifestlint

Support ironic-image 37.0
  api/v1alpha1/ironic_types.go
  pkg/ironic/validation_test.go
  pkg/ironic/version_test.go
  test/suite_test.go
Due: gomod, manifestlint

Switch to Ironic 37.0 by default, prepare release-0.10
  Makefile
  config/manager/manager.yaml
  pkg/ironic/version.go
  pkg/ironic/version_test.go
Due: gomod, shellcheck, manifestlint

Release v0.10.0
  releasenotes/v0.10.0.md
Due: markdownlint

Add fuzzing test for ironic standalone operator
  Makefile
  test/fuzz/README.md
  test/fuzz/validation_fuzz_test.go
  test/go.mod
  test/go.sum
Due: gomod, shellcheck, markdownlint, manifestlint

add 0.10 to dependabot, drop 0.8 and 0.7
  .github/dependabot.yml
Due: gomod, manifestlint

workflows reusing other workflows cannot have timeouts
  .github/workflows/build-images-action.yml
  .github/workflows/functional-pr.yml
  .github/workflows/pr-link-check.yml
  .github/workflows/release.yaml
  .github/workflows/scheduled-link-check.yml
Due: gomod, manifestlint

Republish 0.10.0 release notes to trigger release creation
  releasenotes/v0.10.0.md
Due: markdownlint

Add image build workflow for PR
  .github/workflows/build-images-action-pr.yml
Due: gomod, manifestlint

Update Kubernetes and controller-runtime dependencies
  api/go.mod
  api/go.sum
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, markdownlint, manifestlint

Build with Go 1.26.4 by default
  Dockerfile
  Makefile
Due: gomod, shellcheck, manifestlint

Path conditions:
  gomod: unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: (\.md|markdownlint\.sh)$
  manifestlint: unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$
