Repository metal3-io/ironic-standalone-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, shellcheck, markdownlint, manifestlint

Path conditions:
  gomod: unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: (\.md|markdownlint\.sh)$
  manifestlint: unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$

Consolidate Metal3 Contributing guide in community repo
  CONTRIBUTING.md
Due: markdownlint

Fix functional test
  test/helpers/clients.go
  test/suite_test.go
Due: gomod, manifestlint

remove obsoleted release action
  .github/workflows/release.yaml
Due: gomod, manifestlint

Add periodic functional test workflows
  .github/workflows/functional-periodic-main.yml
  .github/workflows/functional-periodic-release-0.7.yml
  .github/workflows/functional-periodic-release-0.8.yml
  .github/workflows/functional-periodic-release-0.9.yml
  .github/workflows/functional-pr.yml
  .github/workflows/functional.yml
Due: gomod, manifestlint

CI: skip the prometheus test with bindAddress on multinode jobs
  test/suite_test.go
Due: gomod, manifestlint

Fix ipa_host_ip for dual-stack Docker networks
  test/utils.sh
Due: gomod, shellcheck, manifestlint

Add Keepalived struct and imageServerIPAddress fields
  .golangci.yaml
  api/v1alpha1/ironic_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
Due: gomod, markdownlint, manifestlint

Add Ironic Networking Service deployment support
  .golangci.yaml
  api/v1alpha1/ironic_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  config/samples/v1alpha1_ironic_with_networking_sample.yaml
  docs/api.md
  internal/controller/ironic_controller.go
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
  pkg/ironic/ironic.go
  pkg/ironic/networking_deployment.go
  pkg/ironic/networking_deployment_test.go
  pkg/ironic/utils.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
  pkg/ironic/version.go
  pkg/ironic/version_test.go
  test/helpers/ironic_networking.go
  test/suite_test.go
Due: gomod, markdownlint, manifestlint

Add ReadOnlyRootFilesystem true to the networking container
  pkg/ironic/networking_deployment.go
  pkg/ironic/networking_deployment_test.go
Due: gomod, manifestlint

Require environment label on Secrets and ConfigMaps
  api/v1alpha1/common.go
  internal/controller/ironic_controller.go
  internal/controller/utils.go
  pkg/ironic/secrets.go
  pkg/secretutils/label.go
  pkg/secretutils/secret_manager.go
  pkg/secretutils/secret_manager_test.go
  test/helpers/resources.go
  test/suite_test.go
Due: gomod, manifestlint

Require environment label on Secrets
  api/v1alpha1/common.go
  internal/controller/ironic_controller.go
  internal/controller/utils.go
  pkg/ironic/secrets.go
  pkg/secretutils/label.go
  pkg/secretutils/secret_manager.go
  pkg/secretutils/secret_manager_test.go
  test/helpers/resources.go
  test/suite_test.go
Due: gomod, manifestlint

Fix name of re-usable functional workflow
  .github/workflows/functional-periodic-main.yml
  .github/workflows/functional-periodic-release-0.7.yml
  .github/workflows/functional-periodic-release-0.8.yml
  .github/workflows/functional-periodic-release-0.9.yml
  .github/workflows/functional-pr.yml
Due: gomod, manifestlint

Add readiness probe to ironic-prometheus-exporter
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
Due: gomod, manifestlint

Add multi-subnet DHCP support with per-range options
  AGENTS.md
  api/v1alpha1/ironic_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
Due: gomod, markdownlint, manifestlint

Auto-tag DHCP ranges and interleave per-range options
  AGENTS.md
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
Due: gomod, markdownlint, manifestlint

Bump golang to v1.25.10 and golang.org/x/net to v0.53.0
  Dockerfile
  Makefile
  api/go.mod
  api/go.sum
Due: gomod, shellcheck, manifestlint

:seedling: Bump golang to v1.25.10 and golang.org/x/net to v0.53.0
  Dockerfile
  Makefile
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, shellcheck, manifestlint

🌱 Bump golang to v1.25.10 and golang.org/x/net to v0.53.0
  Dockerfile
  Makefile
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: gomod, shellcheck, manifestlint

feature: add ingress resource for Ironic, add image server service resource
  api/v1alpha1/ironic_types.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/containers.go
  pkg/ironic/ironic.go
Due: gomod, markdownlint, manifestlint

update: apply comments, configure Ironic-image vars
  api/v1alpha1/ironic_types.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/containers.go
  pkg/ironic/ironic.go
Due: gomod, markdownlint, manifestlint

add: validation for ingress and externalIP
  api/v1alpha1/ironic_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/containers.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
Due: gomod, markdownlint, manifestlint

add: externalcallback url env for ironic
  api/v1alpha1/ironic_types.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/containers.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
Due: gomod, markdownlint, manifestlint

Bump golang to 1.25.10
  Dockerfile
  Makefile
Due: gomod, shellcheck, manifestlint

Bump golang version to 1.25.10
  Dockerfile
  Makefile
Due: gomod, shellcheck, manifestlint

:rocket: Release v0.7.3
  releasenotes/v0.7.3.md
Due: markdownlint

:rocket: Release v0.8.2
  releasenotes/v0.8.2.md
Due: markdownlint

Revert "Fix functional test"
  test/helpers/clients.go
  test/suite_test.go
Due: gomod, manifestlint

fix: do not set Ironic variables for trusted ca if tls is not configured
  pkg/ironic/containers.go
Due: gomod, manifestlint

Add Keepalived struct and fields
  .golangci.yaml
  api/v1alpha1/ironic_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
Due: gomod, markdownlint, manifestlint

✨ Add networkRanges to DHCP for multi-subnet support
  api/v1alpha1/ironic_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
Due: gomod, manifestlint

Address PR review: deprecate flat DHCP fields, fix lint, reuse validation
  api/v1alpha1/ironic_types.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/containers.go
  pkg/ironic/validation.go
Due: gomod, markdownlint, manifestlint

Skip networking tests when ironic-image is older than 35.0
  test/helpers/resources.go
  test/suite_test.go
Due: gomod, manifestlint

Fix IRONIC_CACERT_FILE triggering TLS without a certificate
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
Due: gomod, manifestlint

Fix dnsmasq probe for IPv6-only deployments
  api/v1alpha1/ironic_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
Due: gomod, markdownlint, manifestlint

Drop dnsmasq probe overrides from the bugfix
  api/v1alpha1/ironic_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
Due: gomod, markdownlint, manifestlint

Bump go to 1.25.11 to fix the following CVEs: CVE-2026-42504 CVE-2026-42507 CVE-2026-27145
  Dockerfile
  Makefile
Due: gomod, shellcheck, manifestlint
