Repository metal3-io/ironic-standalone-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, shellcheck, markdownlint, manifestlint

Path conditions:
  gomod: unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: (\.md|markdownlint\.sh)$
  manifestlint: unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$

Sync the checkout action version to v7.0.1
  .github/workflows/build.yml
  .github/workflows/dependabot.yml
  .github/workflows/functional.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/local-ironic.yml
  .github/workflows/release.yaml
  .github/workflows/validate-security-insights.yml
  .github/workflows/zizmor.yml
Due: gomod, manifestlint

Remove golangci-lint GitHub Actions workflow in favor of Prow
  .github/security-insights.yml
  .github/workflows/golangci-lint.yml
Due: gomod, manifestlint

remove obsoleted release action
  .github/workflows/release.yaml
Due: gomod, manifestlint

Use docker as container runtime in functional tests
  .github/workflows/functional.yml
Due: gomod, manifestlint

:sparkles: Switch to Ironic 38.0 by default, prepare release-0.11
  Makefile
  config/manager/manager.yaml
  pkg/ironic/version.go
Due: gomod, shellcheck, manifestlint

:warning: Drop support for Ironic 33.0 and 34.0
  api/v1alpha1/ironic_types.go
  pkg/ironic/validation_test.go
  pkg/ironic/version.go
  pkg/ironic/version_test.go
  test/suite_test.go
Due: gomod, manifestlint

Doc: Bump IrSO in BMO E2E as post release action
  docs/releasing.md
Due: markdownlint

🌱 Test golangci-lint Prow presubmit on release-0.9
  cmd/main.go
Due: gomod, manifestlint

🌱 Test golangci-lint Prow presubmit on release-0.10
  cmd/main.go
Due: gomod, manifestlint

Remove comment for golangci-lint test
  cmd/main.go
Due: gomod, manifestlint

Bump Go version to 1.26.6
  Dockerfile
  Makefile
Due: gomod, shellcheck, manifestlint

:seedling: Add release-0.11 to dependabot configuration
  .github/dependabot.yml
Due: gomod, manifestlint

Bump go version to 1.25.13
  Dockerfile
  Makefile
Due: gomod, shellcheck, manifestlint

:rocket: Release v0.11.0
  releasenotes/v0.11.0.md
Due: markdownlint

Remove PR Verifier GitHub Action workflow
  .github/workflows/pr-verifier.yaml
Due: gomod, manifestlint

:bug: Fix missing TOOLS_DIR and TOOLS_BIN_DIR in Makefile
  Makefile
Due: gomod, shellcheck, manifestlint

add yamllint script for prow
  hack/yamllint.sh
Due: gomod, shellcheck, manifestlint

Revert "🌱 Remove PR Verifier GitHub Action workflow in favor of Prow"
  .github/workflows/pr-verifier.yaml
Due: gomod, manifestlint

Allow Ironic to tolerate node taints via overrides.tolerations
  api/v1alpha1/ironic_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/networking_deployment.go
  pkg/ironic/networking_deployment_test.go
  pkg/ironic/upgrades.go
  pkg/ironic/upgrades_test.go
  pkg/ironic/utils.go
  pkg/ironic/utils_test.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
Due: gomod, markdownlint, manifestlint

Finish transition to ReadOnlyRootFilesystem
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
Due: gomod, manifestlint

Unit test SecurityContext values
  pkg/ironic/containers_test.go
Due: gomod, manifestlint

🌱 Test unit Prow presubmit on release-0.9
  cmd/main.go
Due: gomod, manifestlint

🌱 Test unit Prow presubmit on release-0.10
  cmd/main.go
Due: gomod, manifestlint

🌱 Replace crdoc container pull with go install
  Makefile
  hack/gen-api-doc.sh
Due: gomod, shellcheck, manifestlint

Local tests: retry podman commands if they hang
  test/local-ironic/collect-logs.sh
Due: gomod, shellcheck, manifestlint

Remove unit test GitHub Actions job in favor of Prow
  .github/workflows/build.yml
Due: gomod, manifestlint

WIP introduce accessIP option
  api/v1alpha1/ironic_types.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/containers.go
  pkg/ironic/utils.go
  pkg/ironic/validation.go
Due: gomod, markdownlint, manifestlint

Do not set HostPorts when DisableHostNetwork is true
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
Due: gomod, manifestlint
