Repository metal3-io/ironic-image: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.10.0@sha256:5921d946dac740cbeec2fb1c898747b6105e585130cc7f0602eec9a10f7ddb63
  ...

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint-cli2:0.12.0@sha256:a3977fba9814f10d33a1d69ae607dc808e7a6470b2ba03e84c17193c0791aac0
  ...

pin default upper-constraint
  Dockerfile
  README.md
  build-wheels.sh
  docs/upper-constraints-pinning.md
  renovate.json
Due: shellcheck, markdownlint

Enable IPA pci-devices collector and accelerators inspection hook
  README.md
  ironic-config/ironic.conf.j2
  scripts/configure-ironic.sh
  scripts/runhttpd
Due: shellcheck, markdownlint

Use release branch for BMO E2E
  .github/workflows/bmo-e2e.yml
Due: none

:seedling: Run zizmor on release branches
  .github/workflows/zizmor.yml
Due: none

Use release branch for BMO E2E
  .github/workflows/bmo-e2e.yml
  hack/prepare-bmo-tests.sh
Due: shellcheck

Add TLS ad IPv6 iPXE build support
  Dockerfile
  README.md
  build-ipxe.sh
  prepare-ipxe.sh
Due: shellcheck, markdownlint

Bump BMO version to release-0.13
  .github/workflows/bmo-e2e.yml
Due: none

improve the trigger for the build-image action
  .github/workflows/build-images-action.yml
Due: none

remove image building from release workflow
  .github/workflows/release.yaml
Due: none

:seedling: Pin constraints, prepare release-39.0
  Dockerfile
  upper-constraints.txt
Due: none

Bump zizmor-action to v0.6.4 and use self-repository syntax
  .github/workflows/build-images-action.yml
  .github/workflows/ironic-image-build-pr.yml
  .github/workflows/zizmor.yml
Due: none

:rocket: Release v39.0.0
  releasenotes/v39.0.0.md
Due: markdownlint

:seedling: Update dependabot and renovate config for v39, drop v34
  .github/dependabot.yml
  renovate.json
Due: none

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: (\.md|markdownlint\.sh)$
