Repository metal3-io/ironic-image: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.10.0@sha256:5921d946dac740cbeec2fb1c898747b6105e585130cc7f0602eec9a10f7ddb63
  ...

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint-cli2:0.12.0@sha256:a3977fba9814f10d33a1d69ae607dc808e7a6470b2ba03e84c17193c0791aac0
  ...

fix: correct dhcp tag for ipv6 pxe
  ironic-config/dnsmasq.conf.j2
Due: none

add image SBOM attestation to image builds
  .github/workflows/build-images-action.yml
  .github/workflows/release.yaml
Due: none

Add yamllint workflow
  .github/dependabot.yml
  .github/workflows/ironic-image-build-pr.yml
  .github/workflows/irso-functional.yml
  .github/workflows/pr-link-check.yml
  .github/workflows/pr-verifier.yaml
  .github/workflows/scheduled-link-check.yml
  .github/workflows/yamllint.yaml
  .travis.yml
  .yamllint.yaml
Due: none

Use heredoc syntax for RUN statements
  .github/workflows/irso-functional.yml
  Dockerfile
Due: none

Use heredoc syntax for RUN statements
  .github/workflows/irso-functional.yml
  Dockerfile
  hack/prepare-irso-tests.sh
Due: shellcheck

Install arch agnostic packages only once in efi build script
  prepare-efi.sh
Due: shellcheck

Run EFI build loop based on actual arch
  prepare-efi.sh
Due: shellcheck

Simplify the setting of host_ip in ironic.conf
  ironic-config/ironic.conf.j2
  scripts/configure-ironic.sh
Due: shellcheck

Introduce an address parsing utility function
  scripts/ironic-common.sh
Due: shellcheck

Prepare release-33.0
  Dockerfile
  upper-constraints.txt
Due: none

WIP: test nic fix
  Dockerfile
  ironic-packages-list
Due: none

Clear unnecessary commands
  scripts/rundnsmasq
  scripts/runlogwatch.sh
Due: shellcheck

add release-33.0 to renovate.json
  renovate.json
Due: none

feat: add aarch64 ipxe binaries and dnsmasq config
  Dockerfile
  ironic-config/dnsmasq.conf.j2
  scripts/rundnsmasq
Due: none

enable container signing
  .github/workflows/build-images-action.yml
  .github/workflows/release.yaml
Due: none

Revert 2742439 being now redundant
  scripts/ironic-common.sh
Due: shellcheck

Introduce get_interface_of_ip to look PROVISIONING_IP up
  scripts/ironic-common.sh
Due: shellcheck

Fix missing changeLogUrl in Renovate customManagers Fixes #810
  renovate.json
Due: none

Release v33.0.0
  releasenotes/v33.0.0.md
Due: markdownlint

Update sushy-tools to v2.2.0
  resources/sushy-tools/Dockerfile
Due: none

lint: allow long lines in tables and code fences
  .markdownlint-cli2.yaml
Due: none

Enable bootc deploy interface
  ironic-config/ironic.conf.j2
Due: none

add AGENTS.md
  .gitignore
  AGENTS.md
  CLAUDE.md
Due: markdownlint

Add dependabot config for latest tested releases
  .github/dependabot.yml
Due: none

Clear unnecessary commands
  scripts/rundnsmasq
Due: none

add re-approve workflow for github workflows
  .github/workflows/pr-gh-workflow-approve.yaml
Due: none

fix: lock /var/cache/dnf cache to avoid race condition
  Dockerfile
Due: none

Update renovate config for v33
  renovate.json
Due: none

Update irso functional test with ironic-image 33.0
  .github/workflows/irso-functional.yml
Due: none

Inject Ironic CA Cert in IPA
  README.md
  ironic-config/inspector.ipxe.j2
  ironic-config/ipxe_config.template
  ironic-config/ironic.conf.j2
  main-packages-list.txt
  scripts/rundnsmasq
  scripts/runironic
  scripts/tls-common.sh
Due: shellcheck, markdownlint

ci test DNM
  README.md
Due: markdownlint

feat: add arm64 support for iPXE and image
  .github/workflows/ironic-image-build-pr.yml
  Dockerfile
  build-ipxe.sh
  ironic-config/dnsmasq.conf.j2
  main-packages-list-amd64.txt
  main-packages-list-arm64.txt
  main-packages-list.txt
  prepare-image.sh
  prepare-ipxe.sh
  scripts/rundnsmasq
Due: shellcheck

Use static compiled Podman for IrSO functional test
  .github/workflows/irso-functional.yml
Due: none

Use docker in IrSO functional test
  .github/workflows/irso-functional.yml
Due: none

Add wheel-builder stages to pre-build Python packages
  Dockerfile
  build-wheels.sh
  ironic-deps-list
  ironic-packages-list
  prepare-image.sh
Due: shellcheck

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: (\.md|markdownlint\.sh)$
