Repository metal3-io/ironic-image: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: (\.md|markdownlint\.sh)$

Promote Tuomo to approvers
  OWNERS_ALIASES
Due: none

Temporary pin sushy to HEAD for stable/2026.1
  Dockerfile
Due: none

remove obsoleted release action
  .github/workflows/release.yaml
Due: none

Revert "Temporary pin sushy to HEAD for stable/2026.1"
  Dockerfile
Due: none

Bump sushy to 5.10.1 in upper-constraints
  upper-constraints.txt
Due: none

Use placeholder in iPXE template for variable injection
  ironic-config/ipxe_config.template
  scripts/configure-ironic.sh
Due: shellcheck

Allow custom Ironic/Sushy/NGS sources in the BMO e2e job
  hack/image-common.sh
  hack/prepare-bmo-tests.sh
  hack/prepare-irso-tests.sh
Due: shellcheck

minimal fix for ipxe template rendering
  scripts/configure-ironic.sh
Due: shellcheck

support using partial set custom ipxe firmware
  scripts/rundnsmasq
  scripts/runhttpd
Due: none

✨ Support custom DHCP options via DHCP_OPTIONS env var
  ironic-config/dnsmasq.conf.j2
Due: none

📖 Document DHCP_OPTIONS environment variable
  README.md
Due: markdownlint

Rebuild sushy-tools with the latest version from git
  resources/sushy-tools/Dockerfile
Due: none

Allow disabling iPXE when building the image
  Dockerfile
  ironic-config/ironic.conf.j2
  scripts/ironic-common.sh
Due: shellcheck

harden the file extraction in runlogwatch
  scripts/runlogwatch.sh
Due: shellcheck

Use pre-built iPXE binaries to save build time
  Dockerfile
Due: none

Add strict mode to runlogwatch.sh
  scripts/runlogwatch.sh
Due: shellcheck

Set cooldown days to 3 for dependabot
  .github/dependabot.yml
  .github/workflows/zizmor.yml
  .zizmor.yml
Due: none

BMO e2e: respect IRONIC_CUSTOM_VERSION
  .github/workflows/bmo-e2e.yml
  docs/releasing.md
  hack/prepare-bmo-tests.sh
Due: shellcheck, markdownlint

Use IPXE_TLS_PORT in ipxe_config.template instead of hardcoded 8084
  ironic-config/ipxe_config.template
  scripts/configure-ironic.sh
Due: shellcheck

Suppress MARIADB_CONNECTION from trace output
  scripts/configure-ironic.sh
Due: shellcheck

Prepare release-37.0
  Dockerfile
  upper-constraints.txt
Due: none

Update dependabot and renovate config for release-35.0
  .github/dependabot.yml
  renovate.json
Due: none

Add Kashif to reviewers
  OWNERS_ALIASES
Due: none

Add TLS support for the ironic-prometheus-exporter
  README.md
  scripts/runironic-exporter
  scripts/tls-common.sh
Due: shellcheck, markdownlint

:rocket: Release v35.0.1
  releasenotes/v35.0.1.md
Due: markdownlint

Make containers run as non-root users
  resources/ironic-client/Dockerfile
  resources/sushy-tools/Dockerfile
  resources/sushy-tools/redfish-emulator.sh
Due: shellcheck
