Repository metal3-io/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: check-prow-config, markdownlint, shellcheck, groovylint, spellcheck, renovate-config-validator

Path conditions:
  check-prow-config: unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$
  markdownlint: any of: (\.md|markdownlint\.sh)$
  shellcheck: any of: ((\.sh)|^Makefile)$
  groovylint: any of: (\.groovy)$
  spellcheck: any of: (\.md|spellcheck\.sh|.cspell-config.json)$
  renovate-config-validator: any of: (renovate\.json|renovate-validator\.sh)$

Upload ci images to OCI
  jenkins/image_building/upload-ci-image-oci.sh
  jenkins/jobs/image_building.groovy
Due: check-prow-config, shellcheck, groovylint

add zizmor scanner
  .github/dependabot.yml
  .github/workflows/zizmor.yml
Due: check-prow-config

Rename KUBERNETES_VERSION_FROM to KUBERNETES_VERSION_UPGRADE_FROM
  jenkins/jobs/capm3-e2e-tests.groovy
  jenkins/jobs/pre_release_tests.groovy
  jenkins/scripts/dynamic_worker_workflow/e2e_tests.sh
Due: check-prow-config, shellcheck, groovylint

tune selinux on centos ci hosts for DIB
  jenkins/image_building/selinux_centos_img_build.sh
  jenkins/jobs/pre_release_tests.groovy
Due: check-prow-config, shellcheck, groovylint

update k8s upgrade tests to latest configuration in prow
  prow/config/jobs/metal3-io/baremetal-operator-release-0.11.yaml
  prow/config/jobs/metal3-io/baremetal-operator-release-0.12.yaml
  prow/config/jobs/metal3-io/baremetal-operator.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.11.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.12.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.11.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.12.yaml
  prow/config/jobs/metal3-io/ip-address-manager.yaml
Due: check-prow-config

tune selinux on centos ci hosts for DIB
  .gitignore
  jenkins/image_building/build-image.sh
  jenkins/image_building/selinux_centos_img_build.sh
Due: check-prow-config, shellcheck

Prow: Enable Gateway API support for cert-manager
  prow/capi/kustomization.yaml
Due: check-prow-config

Prow: Remove ingress-nginx
  .cspell-config.json
  prow/README.md
  prow/infra/certificate.yaml
  prow/infra/ingress-controller-deployment-patch.yaml
  prow/infra/ingress-controller-job-patch.yaml
  prow/infra/ingress-controller-pdb.yaml
  prow/infra/kustomization.yaml
  prow/infra/service.yaml
  prow/infra/staging-cluster-issuer-http.yaml
  prow/infra/toleration-node-selector-patch.yaml
  prow/manifests/overlays/metal3/ingress.yaml
  prow/manifests/overlays/metal3/kustomization.yaml
Due: check-prow-config, markdownlint, spellcheck

Fix path of repo cloning
  jenkins/jobs/osv_scanner_metal3.groovy
Due: check-prow-config, groovylint

revert back some links that require logins
  .lycheeignore
  jenkins/README.md
  prow/README.md
Due: check-prow-config, markdownlint, spellcheck

add gh cli to ci images
  jenkins/image_building/dib_elements/centos-ci/install.d/55-install
  jenkins/image_building/dib_elements/ubuntu-ci/install.d/55-install
Due: check-prow-config

Prow: Deploy Traefik from helm template output
  prow/.gitignore
  prow/README.md
  prow/infra/kustomization.yaml
  prow/infra/traefik/kustomization.yaml
  prow/infra/traefik/resources.yaml
  prow/infra/traefik/traefik-values.yaml
Due: check-prow-config, markdownlint, spellcheck

osv-scan 3 IRSO releasebranches
  jenkins/jobs/osv_scanner_metal3.groovy
Due: check-prow-config, groovylint

Run dev env tests in OCI
  jenkins/jobs/dev_env_integration_tests.groovy
Due: check-prow-config, groovylint

Bump golang to v1.25 for IrSO main branch prow jobs
  prow/config/jobs/metal3-io/ironic-standalone-operator.yaml
Due: check-prow-config

Add reusable fuzz workflow
  .github/workflows/scheduled-fuzz.yml
Due: check-prow-config

Prow: Bump traefik to v3.6.11 that addresses multiple CVEs
  prow/infra/traefik/kustomization.yaml
  prow/infra/traefik/resources.yaml
Due: check-prow-config

Move e2e integration tests to OCI
  jenkins/jobs/capm3-e2e-tests.groovy
Due: check-prow-config, groovylint

Remove unused TARGET_NODE_MEMORY variable
  jenkins/jobs/capm3-e2e-tests.groovy
  jenkins/jobs/dev_env_integration_tests.groovy
  jenkins/jobs/pre_release_tests.groovy
  jenkins/scripts/dynamic_worker_workflow/dev_env_integration_tests.sh
  jenkins/scripts/dynamic_worker_workflow/e2e_tests.sh
Due: check-prow-config, shellcheck, groovylint

Clean jenkins agent after the test
  jenkins/scripts/dynamic_worker_workflow/run_clean.sh
Due: check-prow-config, shellcheck

make leap ci image to run in OCI cloud
  jenkins/image_building/dib_elements/leap-ci/finalise.d/50-rebuild-initrd
  jenkins/image_building/dib_elements/leap-ci/finalise.d/51-edit-grub-config
  jenkins/image_building/dib_elements/leap-ci/install.d/55-install
Due: check-prow-config

Move remediation and pivoting feature tests to oci
  jenkins/jobs/capm3-e2e-tests.groovy
Due: check-prow-config, groovylint

Prow: Update CPO and autoscaler to v1.34
  prow/cluster-resources/kustomization.yaml
Due: check-prow-config

Move e2e features and k8s upgrade tests to OCI
  jenkins/jobs/capm3-e2e-tests.groovy
Due: check-prow-config, groovylint

Remove Cleura cleanup part from cleanup job
  jenkins/jobs/clean_resources.groovy
  jenkins/scripts/clean_resources.sh
Due: check-prow-config, shellcheck, groovylint

Bumping k8s-prow images and test-infra images
  prow/Makefile
  prow/config/config.yaml
  prow/config/jobs/metal3-io/project-infra.yaml
  prow/config/jobs/periodics.yaml
  prow/manifests/base/crier.yaml
  prow/manifests/base/deck.yaml
  prow/manifests/base/ghproxy.yaml
  prow/manifests/base/hook.yaml
  prow/manifests/base/horologium.yaml
  prow/manifests/base/prow-controller-manager.yaml
  prow/manifests/base/sinker.yaml
  prow/manifests/base/statusreconciler.yaml
  prow/manifests/base/tide.yaml
  prow/manifests/overlays/metal3/external-plugins/cherrypicker_deployment.yaml
  prow/manifests/overlays/metal3/external-plugins/jenkins-operator.yaml
  prow/manifests/overlays/metal3/external-plugins/labels_cronjob.yaml
  prow/manifests/overlays/metal3/external-plugins/needs-rebase_deployment.yaml
Due: check-prow-config

Bump BMO release branch prow jobs' go version to v1.25
  prow/config/jobs/metal3-io/baremetal-operator-release-0.11.yaml
  prow/config/jobs/metal3-io/baremetal-operator-release-0.12.yaml
Due: check-prow-config

Bump CAPM3 release branch prow jobs' go version to v1.25
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.11.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.12.yaml
Due: check-prow-config

Bump IPAM release branch prow jobs' go version to v1.25
  prow/config/jobs/metal3-io/ip-address-manager-release-1.11.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.12.yaml
Due: check-prow-config

Bump IrSO release branch prow jobs' go version to v1.25
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.6.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.7.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.8.yaml
Due: check-prow-config

Move n+3, conformance and capi md tests to oci
  jenkins/jobs/capm3-e2e-tests.groovy
Due: check-prow-config, groovylint

Move bmo e2e, fullstack, osv-scanner, pre-release tests to oci
  jenkins/jobs/bmo_e2e_optional_tests.groovy
  jenkins/jobs/dynamic_fullstack_building.groovy
  jenkins/jobs/osv_scanner_metal3.groovy
  jenkins/jobs/pre_release_tests.groovy
Due: check-prow-config, groovylint

Expand Renovate configuration for CAPI dependencies
  renovate.json
Due: check-prow-config, renovate-config-validator

Add redcently enforced secret labels to ironic secrets
  jenkins/scripts/bare_metal_lab/bml_test/03_launch_bootstrap_cluster.sh
Due: check-prow-config, shellcheck

ignore otel 1.43 bump for release branches in osv-scanner job
  jenkins/jobs/osv_scanner_metal3.groovy
Due: check-prow-config, groovylint

Add configuration for ironic-image release-35.0
  prow/config/jobs/metal3-io/ironic-image-release-35.0.yaml
  prow/config/plugins.yaml
Due: check-prow-config
