Repository metal3-io/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: check-prow-config, markdownlint, shellcheck, groovylint, spellcheck, renovate-config-validator

check-prow-config:
  decorate: true
  spec:
    containers:
    - image: us-docker.pkg.dev/k8s-infra-prow/images/checkconfig:v20260126-ced54ae87
      command:
      - checkconfig
      args:
      - --config-path
      - prow/config/config.yaml
      - --plugin-config
      - prow/config/plugins.yaml
      - --job-config-path
  ...

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint-cli2:0.12.0@sha256:a3977fba9814f10d33a1d69ae607dc808e7a6470b2ba03e84c17193c0791aac0
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.10.0@sha256:5921d946dac740cbeec2fb1c898747b6105e585130cc7f0602eec9a10f7ddb63
  ...

groovylint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/groovylint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/nvuillam/npm-groovy-lint:v16.1.1@sha256:fd8cf44d1ea3103f8f589770257f6f5960e76124c05a7fe81051bbff4dd3df38
  ...

spellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/spellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: ghcr.io/streetsidesoftware/cspell:8.13.3@sha256:03df0e485775a43531c9c0e829227f39b3380796e92faab4166137dc5712d40a
      imagePullPolicy: Always

renovate-config-validator:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/renovate-validator.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/node:24-alpine
      imagePullPolicy: Always

Add pr-verifier Prow presubmit for ironic-standalone-operator (main, release-0.9, release-0.10)
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.10.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.9.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator.yaml
Due: check-prow-config

Add pr-verifier Prow presubmit for ip-address-manager (main, release-1.12, release-1.13)
  prow/config/jobs/metal3-io/ip-address-manager-release-1.12.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.13.yaml
  prow/config/jobs/metal3-io/ip-address-manager.yaml
Due: check-prow-config

Enforce golangci-lint presubmit for ironic-standalone-operator release branches
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.10.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.9.yaml
Due: check-prow-config

Add pr-verifier Prow presubmit for cluster-api-provider-metal3 (main, release-1.12, release-1.13)
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.12.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.13.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3.yaml
Due: check-prow-config

Add CI configuration for IrSO release-0.11
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.11.yaml
  prow/config/plugins.yaml
Due: check-prow-config

Add unit Prow presubmit for ironic-standalone-operator
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.10.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.9.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator.yaml
Due: check-prow-config

Add golangci-lint presubmit for baremetal-operator release branches
  prow/config/jobs/metal3-io/baremetal-operator-release-0.12.yaml
  prow/config/jobs/metal3-io/baremetal-operator-release-0.13.yaml
Due: check-prow-config

Enforce pr-verifier presubmit for baremetal-operator
  prow/config/jobs/metal3-io/baremetal-operator-release-0.12.yaml
  prow/config/jobs/metal3-io/baremetal-operator-release-0.13.yaml
  prow/config/jobs/metal3-io/baremetal-operator.yaml
Due: check-prow-config

Add golangci-lint presubmit for cluster-api-provider-metal3
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.12.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.13.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3.yaml
Due: check-prow-config

Add yamllint Prow presubmit for baremetal-operator
  prow/config/jobs/metal3-io/baremetal-operator.yaml
Due: check-prow-config

Add Prow cluster dependencies and rollover scripts in renovate config
  renovate.json
Due: check-prow-config, renovate-config-validator

Update prow config for ironic-image jobs to make them optional
  prow/config/jobs/metal3-io/ironic-image-release-29.0.yaml
  prow/config/jobs/metal3-io/ironic-image-release-32.0.yaml
  prow/config/jobs/metal3-io/ironic-image-release-33.0.yaml
  prow/config/jobs/metal3-io/ironic-image-release-34.0.yaml
  prow/config/jobs/metal3-io/ironic-image-release-35.0.yaml
  prow/config/jobs/metal3-io/ironic-image-release-37.0.yaml
  prow/config/jobs/metal3-io/ironic-image-release-38.0.yaml
  prow/config/jobs/metal3-io/ironic-image.yaml
  prow/config/jobs/metal3-io/ironic-ipa-downloader.yaml
Due: check-prow-config

Bump golang version to 1.26 for release-1.14 jobs
  prow/config/jobs/metal3-io/baremetal-operator-release-0.14.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.14.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.14.yaml
Due: check-prow-config

Add creditonals to alloy alloy logs to be streamed in capm3
  jenkins/jobs/capm3-e2e-tests.groovy
Due: check-prow-config, groovylint

Enforce pr-verifier presubmit for ip-address-manager, ironic-standalone-operator, cluster-api-provider-metal3
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.12.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.13.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.12.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.13.yaml
  prow/config/jobs/metal3-io/ip-address-manager.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.10.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.9.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator.yaml
Due: check-prow-config

Enforce golangci-lint Prow presubmit for cluster-api-provider-metal3
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.12.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.13.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3.yaml
Due: check-prow-config

Enforce unit Prow presubmit for baremetal-operator and ironic-standalone-operator
  prow/config/jobs/metal3-io/baremetal-operator-release-0.12.yaml
  prow/config/jobs/metal3-io/baremetal-operator-release-0.13.yaml
  prow/config/jobs/metal3-io/baremetal-operator.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.10.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.9.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator.yaml
Due: check-prow-config

Add Loki push credential to BMO e2e job
  jenkins/jobs/bmo_e2e_optional_tests.groovy
Due: check-prow-config, groovylint

Revert "Enforce pr-verifier presubmit for ipam, IrSO, capm3"
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.12.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.13.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.12.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.13.yaml
  prow/config/jobs/metal3-io/ip-address-manager.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.10.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.9.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator.yaml
Due: check-prow-config

prow: do not run pr verifier in batch jobs
  hack/verify-pr-title.sh
Due: check-prow-config, shellcheck

output bml errors
  jenkins/scripts/bare_metal_lab/bml_test/03_launch_bootstrap_cluster.sh
Due: check-prow-config, shellcheck

Add yamllint Prow presubmit for BMO, CAPM3, IPAM, IrSO release branches
  prow/config/jobs/metal3-io/baremetal-operator-release-0.12.yaml
  prow/config/jobs/metal3-io/baremetal-operator-release-0.13.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.12.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.13.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.12.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.13.yaml
  prow/config/jobs/metal3-io/ip-address-manager.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.10.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.9.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator.yaml
Due: check-prow-config

Auto-trigger BMO e2e presubmit (keep optional)
  prow/config/jobs/metal3-io/baremetal-operator.yaml
Due: check-prow-config

Add BMO e2e fixture test Prow presubmit (Jenkins-backed)
  jenkins/jobs/bmo_e2e_fixture_test.groovy
  prow/config/jobs/metal3-io/baremetal-operator.yaml
Due: check-prow-config, groovylint

Add yamllint Prow presubmit for CAPM3 main, release-1.13, release-1.14
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.13.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.14.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3.yaml
Due: check-prow-config

osv-scanner: update the list of ignored vuls
  jenkins/jobs/osv_scanner_metal3.groovy
Due: check-prow-config, groovylint

Add enviromtal variable and conditional sudo in dev_env_integration_tests
  jenkins/scripts/dynamic_worker_workflow/dev_env_integration_tests.sh
  jenkins/scripts/dynamic_worker_workflow/fetch_logs.sh
  jenkins/scripts/dynamic_worker_workflow/run_clean.sh
Due: check-prow-config, shellcheck

Add Slack receiver for Alertmanager on Default and Critical
  prow/bootstrap/clustersecretstore.yaml
  prow/infra/kube-prometheus/README.md
  prow/infra/kube-prometheus/alertmanager-slack-webhook-externalsecret.yaml
  prow/infra/kube-prometheus/manifests/alertmanager-alertmanager.yaml
  prow/infra/kube-prometheus/manifests/alertmanager-secret.yaml
  prow/infra/kube-prometheus/metal3-kube-prometheus.jsonnet
Due: check-prow-config, markdownlint, spellcheck

Split CAPM3 lint into two Prow jobs
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.14.yaml
Due: check-prow-config

Update OSV scanner and remove unnecessary ignore rules
  jenkins/jobs/osv_scanner_metal3.groovy
Due: check-prow-config, groovylint

Cleanup release-1.11 and IRSO oldeer branch
  jenkins/README.md
  prow/config/jobs/metal3-io/baremetal-operator-release-0.11.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.11.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.11.yaml
  prow/config/jobs/metal3-io/ironic-image-release-32.0.yaml
  prow/config/jobs/metal3-io/ironic-ipa-downloader.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.10.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.11.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.7.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.8.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.9.yaml
  prow/config/jobs/metal3-io/metal3-dev-env.yaml
  prow/config/jobs/metal3-io/project-infra.yaml
  prow/config/plugins.yaml
Due: check-prow-config, markdownlint, spellcheck

Bump markdownlint-cli2 to 0.14.19 and fix its findings
  .markdownlint-cli2.yaml
  hack/markdownlint.sh
  jenkins/README.md
  jenkins/image_building/README.md
  prow/README.md
Due: check-prow-config, markdownlint, shellcheck, spellcheck

Add pr-verifier to newly cut release branches (BMO 0.14, CAPM3 1.14, IPAM 1.14, IrSO 0.11)
  prow/config/jobs/metal3-io/baremetal-operator-release-0.14.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.14.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.14.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.11.yaml
Due: check-prow-config

Add unit presubmit to newly cut release branches (BMO 0.14, IrSO 0.11)
  prow/config/jobs/metal3-io/baremetal-operator-release-0.14.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.11.yaml
Due: check-prow-config

Adds the yamllint presubmit (main, release-1.13, release-1.14)
  prow/config/jobs/metal3-io/ip-address-manager-release-1.13.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.14.yaml
  prow/config/jobs/metal3-io/ip-address-manager.yaml
Due: check-prow-config

Enable leap tests as optional on capm3 PRs
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.12.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.13.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.14.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3.yaml
Due: check-prow-config

Enforce golangci-lint for cluster-api-provider-metal3 release-1.13/1.14
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.13.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.14.yaml
Due: check-prow-config

Bump markdownlint-cli2 to 0.14.19 and fix its findings
  .lycheeignore
  .markdownlint-cli2.yaml
  hack/markdownlint.sh
  jenkins/README.md
  jenkins/image_building/README.md
  prow/README.md
Due: check-prow-config, markdownlint, shellcheck, spellcheck

Add golangci-lint presubmit for BMO release-0.14 and IPAM release-1.14
  prow/config/jobs/metal3-io/baremetal-operator-release-0.14.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.14.yaml
Due: check-prow-config

Path conditions:
  check-prow-config: unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$
  markdownlint: any of: (\.md|markdownlint\.sh)$
  shellcheck: any of: ((\.sh)|^Makefile)$
  groovylint: any of: (\.groovy)$
  spellcheck: any of: (\.md|spellcheck\.sh|.cspell-config.json)$
  renovate-config-validator: any of: (renovate\.json|renovate-validator\.sh)$
