Repository metal3-io/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: check-prow-config, markdownlint, shellcheck, groovylint, spellcheck, renovate-config-validator

Path conditions:
  check-prow-config: unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$
  markdownlint: any of: (\.md|markdownlint\.sh)$
  shellcheck: any of: ((\.sh)|^Makefile)$
  groovylint: any of: (\.groovy)$
  spellcheck: any of: (\.md|spellcheck\.sh|.cspell-config.json)$
  renovate-config-validator: any of: (renovate\.json|renovate-validator\.sh)$

add yamllint to BMO 0.13/0.14
  prow/config/jobs/metal3-io/baremetal-operator-release-0.13.yaml
  prow/config/jobs/metal3-io/baremetal-operator-release-0.14.yaml
Due: check-prow-config

🐛 leap-node: use NetworkManager renderer for cloud-init
  jenkins/image_building/dib_elements/leap-node/install.d/55-install
Due: check-prow-config

group CAPI and throttle Prow image updates
  renovate.json
Due: check-prow-config, renovate-config-validator

Bump markdownlint-cli2 to 0.14.19 and fix its findings
  .lycheeignore
  .markdownlint-cli2.yaml
  hack/markdownlint.sh
  jenkins/README.md
  jenkins/image_building/README.md
  prow/README.md
Due: check-prow-config, markdownlint, shellcheck, spellcheck

use upstream ipa tarballs
  hack/clean_artifactory.sh
  jenkins/scripts/bare_metal_lab/bml_test/02_configure_host.sh
  jenkins/scripts/bare_metal_lab/bml_test/lib/vars.sh
  jenkins/scripts/dynamic_worker_workflow/test_env.sh
Due: check-prow-config, shellcheck

Enable crio service in node image builds
  jenkins/image_building/dib_elements/centos-node/install.d/55-install
  jenkins/image_building/dib_elements/leap-node/install.d/55-install
  jenkins/image_building/dib_elements/ubuntu-node/install.d/55-install
Due: check-prow-config

:seedling: Fix zizmor self-repository finding and bump zizmor-action to v0.6.4
  .github/workflows/build-images-action.yml
  .github/workflows/zizmor.yml
Due: check-prow-config

Add Prow cluster dependencies and rollover scripts in renovate config
  renovate.json
Due: check-prow-config, renovate-config-validator

Enforce yamllint on BMO main, CAPM3 (main/1.13/1.14), IPAM (main/1.13/1.14)
  prow/config/jobs/metal3-io/baremetal-operator.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.13.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.14.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.13.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.14.yaml
  prow/config/jobs/metal3-io/ip-address-manager.yaml
Due: check-prow-config

Default to CONTAINER_RUNTIME="docker" BOOTSTRAP_CLUSTER="kind" for capm3 main tests
  jenkins/scripts/dynamic_worker_workflow/e2e_tests.sh
  jenkins/scripts/dynamic_worker_workflow/run_clean.sh
Due: check-prow-config, shellcheck

Fix version check for tags
  hack/versioncheck.sh
Due: check-prow-config, shellcheck

Add triggers for k8s-upgrade-1-36-1-37
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.14.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.14.yaml
  prow/config/jobs/metal3-io/ip-address-manager.yaml
  prow/config/jobs/metal3-io/project-infra.yaml
Due: check-prow-config

🌱 Pre-install e2e tooling in CI image
  .cspell-config.json
  jenkins/image_building/dib_elements/ci-base/README.md
  jenkins/image_building/dib_elements/ci-base/post-install.d/70-install-e2e-tools
Due: check-prow-config, markdownlint, spellcheck

Remove CAPM3 e2e-tests from BMO,IPAM,dev-env,ironic-image and ironic-ipa-downloader prow configs
  prow/config/jobs/metal3-io/baremetal-operator-release-0.12.yaml
  prow/config/jobs/metal3-io/baremetal-operator-release-0.13.yaml
  prow/config/jobs/metal3-io/baremetal-operator-release-0.14.yaml
  prow/config/jobs/metal3-io/baremetal-operator.yaml
  prow/config/jobs/metal3-io/ip-address-manager.yaml
  prow/config/jobs/metal3-io/ironic-image.yaml
  prow/config/jobs/metal3-io/ironic-ipa-downloader.yaml
  prow/config/jobs/metal3-io/metal3-dev-env.yaml
Due: check-prow-config

Add partitioning scheme with encryption support
  jenkins/image_building/build-image.sh
  jenkins/image_building/dib_elements/block-device-encryption/README.md
  jenkins/image_building/dib_elements/block-device-encryption/block-device-default.yaml
  jenkins/image_building/dib_elements/block-device-encryption/element-provides
  jenkins/image_building/dib_elements/block-device-encryption/environment.d/15-block-device.bash
Due: check-prow-config, markdownlint, shellcheck, spellcheck

Add Metal3-docs quick-start-guide test
  jenkins/jobs/quick_start_guide_tests.groovy
  jenkins/scripts/dynamic_worker_workflow/quick_start_guide_test.sh
  prow/config/jobs/metal3-io/metal3-docs.yaml
Due: check-prow-config, shellcheck, groovylint

node image: add OCI consistent device paths support
  .cspell-config.json
  jenkins/image_building/dib_elements/oci-storage/README.md
  jenkins/image_building/dib_elements/oci-storage/element-deps
  jenkins/image_building/dib_elements/oci-storage/static/etc/udev/rules.d/70-oci-consistent-device-paths.rules
  jenkins/image_building/dib_elements/oci-storage/static/usr/local/sbin/oci-consistent-device-path
  jenkins/image_building/dib_elements/ubuntu-node/README.md
  jenkins/image_building/dib_elements/ubuntu-node/element-deps
Due: check-prow-config, markdownlint, spellcheck

Add pr-link-check Prow job for BMO (main, release-0.13, release-0.14)
  hack/pr-link-check.sh
  prow/config/jobs/metal3-io/baremetal-operator-release-0.13.yaml
  prow/config/jobs/metal3-io/baremetal-operator-release-0.14.yaml
  prow/config/jobs/metal3-io/baremetal-operator.yaml
Due: check-prow-config, shellcheck

Add Metal3-docs quick-start-guide test
  jenkins/jobs/quick_start_guide_tests.groovy
  prow/config/jobs/metal3-io/metal3-docs.yaml
Due: check-prow-config, groovylint

Add CI configuration for ironic-image release-39.0
  prow/config/jobs/metal3-io/ironic-image-release-39.0.yaml
  prow/config/plugins.yaml
Due: check-prow-config

Add metal3-bmo-e2e-test-pull presubmit for BMO
  prow/config/jobs/metal3-io/baremetal-operator-release-0.13.yaml
  prow/config/jobs/metal3-io/baremetal-operator-release-0.14.yaml
  prow/config/jobs/metal3-io/baremetal-operator.yaml
Due: check-prow-config

Add partitioning scheme with encryption support
  jenkins/image_building/README.md
  jenkins/image_building/build-image.sh
  jenkins/image_building/dib_elements/block-device-encryption/README.md
  jenkins/image_building/dib_elements/block-device-encryption/block-device-default.yaml
  jenkins/image_building/dib_elements/block-device-encryption/element-provides
  jenkins/image_building/dib_elements/block-device-encryption/environment.d/15-block-device.bash
Due: check-prow-config, markdownlint, shellcheck, spellcheck

Add fixture cell to BMO e2e Jenkins matrix
  jenkins/jobs/bmo_e2e_optional_tests.groovy
Due: check-prow-config, groovylint

Bumping k8s-prow images and test-infra images
  prow/Makefile
  prow/config/config.yaml
  prow/config/jobs/metal3-io/project-infra.yaml
  prow/config/jobs/periodics.yaml
  prow/manifests/base/crier.yaml
  prow/manifests/base/deck.yaml
  prow/manifests/base/ghproxy.yaml
  prow/manifests/base/hook.yaml
  prow/manifests/base/horologium.yaml
  prow/manifests/base/prow-controller-manager.yaml
  prow/manifests/base/sinker.yaml
  prow/manifests/base/statusreconciler.yaml
  prow/manifests/base/tide.yaml
  prow/manifests/overlays/metal3/external-plugins/cherrypicker_deployment.yaml
  prow/manifests/overlays/metal3/external-plugins/jenkins-operator.yaml
  prow/manifests/overlays/metal3/external-plugins/needs-rebase_deployment.yaml
  prow/manifests/overlays/metal3/external-plugins/oci-jenkins-operator.yaml
Due: check-prow-config

Enforce yamllint on BMO release-0.13 and release-0.14
  prow/config/jobs/metal3-io/baremetal-operator-release-0.13.yaml
  prow/config/jobs/metal3-io/baremetal-operator-release-0.14.yaml
Due: check-prow-config

add tooling to upload node images to OCI
  jenkins/image_building/oci-common.sh
  jenkins/image_building/upload-ci-image-oci.sh
  jenkins/image_building/upload-node-image-oci.sh
Due: check-prow-config, shellcheck

introduce the first trusted groovy library
  jenkins/jobs/bmo_e2e_optional_tests.groovy
  jenkins/jobs/capm3-e2e-tests.groovy
  jenkins/jobs/clean_resources.groovy
  jenkins/jobs/dev_env_integration_tests.groovy
  jenkins/jobs/dynamic_fullstack_building.groovy
  jenkins/jobs/image_building.groovy
  jenkins/jobs/osv_scanner_metal3.groovy
  jenkins/jobs/pre_release_tests.groovy
  jenkins/jobs/trusted_groovy_libraries/vars/retire_agent.groovy
Due: check-prow-config, groovylint

Add pr-link-check Prow job for CAPM3, IPAM and IrSO
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.13.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.14.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.13.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.14.yaml
  prow/config/jobs/metal3-io/ip-address-manager.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.10.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.11.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator.yaml
Due: check-prow-config

Add CI job for ipxe tls 1.3
  jenkins/jobs/ipxe_tls_provision_test.groovy
  jenkins/jobs/ipxe_tls_test.groovy
  jenkins/scripts/dynamic_worker_workflow/ipxe_tls_provision_test.sh
  jenkins/scripts/dynamic_worker_workflow/ipxe_tls_test.sh
Due: check-prow-config, shellcheck, groovylint

Bump bom to v0.8.0
  .github/workflows/container-image-build.yml
Due: check-prow-config

Add partitioning scheme with encryption support
  jenkins/image_building/README.md
  jenkins/image_building/dib_elements/block-device-encryption/README.md
  jenkins/image_building/dib_elements/block-device-encryption/block-device-default.yaml
  jenkins/image_building/dib_elements/block-device-encryption/element-provides
  jenkins/image_building/dib_elements/block-device-encryption/environment.d/15-block-device.bash
Due: check-prow-config, markdownlint, spellcheck
