Repository metal3-io/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: check-prow-config, markdownlint, shellcheck, groovylint, spellcheck, renovate-config-validator

check-prow-config:
  decorate: true
  spec:
    containers:
    - image: us-docker.pkg.dev/k8s-infra-prow/images/checkconfig:v20260126-ced54ae87
      command:
      - checkconfig
      args:
      - --config-path
      - prow/config/config.yaml
      - --plugin-config
      - prow/config/plugins.yaml
      - --job-config-path
  ...

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint-cli2:0.12.0@sha256:a3977fba9814f10d33a1d69ae607dc808e7a6470b2ba03e84c17193c0791aac0
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.10.0@sha256:5921d946dac740cbeec2fb1c898747b6105e585130cc7f0602eec9a10f7ddb63
  ...

groovylint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/groovylint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/nvuillam/npm-groovy-lint:v16.1.1@sha256:fd8cf44d1ea3103f8f589770257f6f5960e76124c05a7fe81051bbff4dd3df38
  ...

spellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/spellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: ghcr.io/streetsidesoftware/cspell:8.13.3@sha256:03df0e485775a43531c9c0e829227f39b3380796e92faab4166137dc5712d40a
      imagePullPolicy: Always

renovate-config-validator:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/renovate-validator.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/node:24-alpine
      imagePullPolicy: Always

Modify container image build to allow PRs to be tested
  .github/workflows/container-image-build.yml
Due: check-prow-config

Add ignore rules for CAPM3 release-1.12 oras-go/v2 CVEs
  jenkins/jobs/osv_scanner_metal3.groovy
Due: check-prow-config, groovylint

Improve bml test
  jenkins/scripts/bare_metal_lab/bml_test/02_configure_host.sh
  jenkins/scripts/bare_metal_lab/bml_test/lib/vars.sh
  jenkins/scripts/bare_metal_lab/bml_test/manifests/cluster_centos.yaml
  jenkins/scripts/bare_metal_lab/bml_test/manifests/controlplane_centos.yaml
  jenkins/scripts/bare_metal_lab/bml_test/manifests/workers_centos.yaml
  jenkins/scripts/bare_metal_lab/bml_test/preload_images_minikube.sh
  jenkins/scripts/bare_metal_lab/default_vars/vars.yaml
  jenkins/scripts/bare_metal_lab/deploy-lab.yaml
  jenkins/scripts/bare_metal_lab/run-test.yaml
Due: check-prow-config, shellcheck

Revert ":seedling: Update docker.io/pipelinecomponents/markdownlint-cli2 Docker tag to v0.14.19"
  hack/markdownlint.sh
  prow/config/jobs/Nordix/metal3-clusterapi-docs.yaml
  prow/config/jobs/Nordix/metal3-dev-tools.yaml
  prow/config/jobs/Nordix/sles-ironic-python-agent-builder.yaml
  prow/config/jobs/metal3-io/baremetal-operator-release-0.11.yaml
  prow/config/jobs/metal3-io/baremetal-operator-release-0.12.yaml
  prow/config/jobs/metal3-io/baremetal-operator-release-0.13.yaml
  prow/config/jobs/metal3-io/baremetal-operator.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.11.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.12.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.13.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3.yaml
  prow/config/jobs/metal3-io/community.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.11.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.12.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.13.yaml
  prow/config/jobs/metal3-io/ip-address-manager.yaml
  prow/config/jobs/metal3-io/ironic-hardware-inventory-recorder-image.yaml
  prow/config/jobs/metal3-io/ironic-image-release-29.0.yaml
  prow/config/jobs/metal3-io/ironic-image-release-32.0.yaml
  prow/config/jobs/metal3-io/ironic-image-release-33.0.yaml
  prow/config/jobs/metal3-io/ironic-image-release-34.0.yaml
  prow/config/jobs/metal3-io/ironic-image-release-35.0.yaml
  prow/config/jobs/metal3-io/ironic-image-release-37.0.yaml
  prow/config/jobs/metal3-io/ironic-image.yaml
  prow/config/jobs/metal3-io/ironic-ipa-downloader.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.10.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.7.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.8.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.9.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator.yaml
  prow/config/jobs/metal3-io/mariadb-image.yaml
  prow/config/jobs/metal3-io/metal3-dev-env.yaml
  prow/config/jobs/metal3-io/metal3-docs.yaml
  prow/config/jobs/metal3-io/metal3-io.github.io.yaml
  prow/config/jobs/metal3-io/project-infra.yaml
  prow/config/jobs/metal3-io/utility-images.yaml
Due: check-prow-config, markdownlint, shellcheck

MariaDB clean up
  jenkins/scripts/dynamic_worker_workflow/test_env.sh
  prow/config/config.yaml
  prow/config/jobs/metal3-io/mariadb-image.yaml
  prow/config/plugins.yaml
Due: check-prow-config, shellcheck

Switch to kind from minikube in BML test
  jenkins/scripts/bare_metal_lab/bml_test/02_configure_host.sh
  jenkins/scripts/bare_metal_lab/bml_test/03_launch_bootstrap_cluster.sh
  jenkins/scripts/bare_metal_lab/bml_test/bml_test.md
  jenkins/scripts/bare_metal_lab/bml_test/clean.sh
  jenkins/scripts/bare_metal_lab/bml_test/kind-network-topology.md
  jenkins/scripts/bare_metal_lab/bml_test/manifests/controlplane_centos.yaml
  jenkins/scripts/bare_metal_lab/bml_test/manifests/workers_centos.yaml
  jenkins/scripts/bare_metal_lab/bml_test/preload_images_minikube.sh
  jenkins/scripts/bare_metal_lab/run-test.yaml
Due: check-prow-config, markdownlint, shellcheck, spellcheck

Inital commit for guac branch
  hack/guact_test.sh
Due: check-prow-config, shellcheck

Multi-repo vulnerability scanner
  hack/guac-metal3-scanner.py
Due: check-prow-config

improve standard OCI version label generation
  .github/workflows/container-image-build.yml
  hack/versioncheck.md
  hack/versioncheck.sh
Due: check-prow-config, markdownlint, shellcheck, spellcheck

introduce new Jenkins orchestrator
  prow/config/config.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.12.yaml
  prow/manifests/overlays/metal3/external-plugins/oci-jenkins-operator.yaml
  prow/manifests/overlays/metal3/kustomization.yaml
  prow/manifests/overlays/metal3/patches/oci-jenkins-operator.yaml
  prow/manifests/overlays/metal3/prow-externalsecrets.yaml
Due: check-prow-config

Test server 6
  jenkins/scripts/bare_metal_lab/default_vars/vars.yaml
Due: check-prow-config

introduce 1.26 go based basic checks for prow
  .github/workflows/build-images-action.yml
  prow/config/jobs/metal3-io/baremetal-operator.yaml
  prow/container-images/basic-checks/Dockerfile
Due: check-prow-config

Prow: Upgrade Traefik to v3.7.9
  prow/infra/traefik/kustomization.yaml
  prow/infra/traefik/resources.yaml
  prow/infra/traefik/traefik-values.yaml
Due: check-prow-config

move release-1.12/0.12 PR jobs to oci Jenkins
  prow/config/jobs/metal3-io/baremetal-operator-release-0.12.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.12.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.12.yaml
Due: check-prow-config

move release-1.13/0.13 PR jobs to oci Jenkins
  prow/config/jobs/metal3-io/baremetal-operator-release-0.13.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.13.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.13.yaml
Due: check-prow-config

Change rootdevicehint for blade 4 and 7
  jenkins/scripts/bare_metal_lab/default_vars/vars.yaml
Due: check-prow-config

move main PR jobs to oci Jenkins
  prow/config/jobs/metal3-io/baremetal-operator.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3.yaml
  prow/config/jobs/metal3-io/ip-address-manager.yaml
  prow/config/jobs/metal3-io/ironic-image.yaml
  prow/config/jobs/metal3-io/ironic-ipa-downloader.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator.yaml
  prow/config/jobs/metal3-io/metal3-dev-env.yaml
  prow/config/jobs/metal3-io/project-infra.yaml
Due: check-prow-config

Fix IPA builder ramdisk element path in build_ipa.sh
  jenkins/scripts/dynamic_worker_workflow/build_ipa.sh
Due: check-prow-config, shellcheck

Add CI configuration for ironic-image release-38.0
  prow/config/jobs/metal3-io/ironic-image-release-38.0.yaml
  prow/config/plugins.yaml
Due: check-prow-config

Bumping k8s-prow images and test-infra images
  prow/Makefile
  prow/config/config.yaml
  prow/config/jobs/metal3-io/project-infra.yaml
  prow/config/jobs/periodics.yaml
  prow/manifests/base/crier.yaml
  prow/manifests/base/deck.yaml
  prow/manifests/base/ghproxy.yaml
  prow/manifests/base/hook.yaml
  prow/manifests/base/horologium.yaml
  prow/manifests/base/prow-controller-manager.yaml
  prow/manifests/base/sinker.yaml
  prow/manifests/base/statusreconciler.yaml
  prow/manifests/base/tide.yaml
  prow/manifests/overlays/metal3/external-plugins/cherrypicker_deployment.yaml
  prow/manifests/overlays/metal3/external-plugins/jenkins-operator.yaml
  prow/manifests/overlays/metal3/external-plugins/labels_cronjob.yaml
  prow/manifests/overlays/metal3/external-plugins/needs-rebase_deployment.yaml
  prow/manifests/overlays/metal3/external-plugins/oci-jenkins-operator.yaml
Due: check-prow-config

Add golangci-lint presubmit for baremetal-operator
  prow/config/jobs/metal3-io/baremetal-operator.yaml
Due: check-prow-config

Add Prow cluster dependencies and rollover scripts in renovate config
  renovate.json
Due: check-prow-config, renovate-config-validator

Remove MariaDB parameters from dev-env integration test job
  jenkins/jobs/dev_env_integration_tests.groovy
Due: check-prow-config, groovylint

make version check workflow work with other repos
  .github/workflows/container-image-build.yml
Due: check-prow-config

Add golangci-lint presubmit for ironic-standalone-operator
  prow/config/jobs/metal3-io/ironic-standalone-operator.yaml
Due: check-prow-config

Enforce golangci-lint presubmit for baremetal-operator
  prow/config/jobs/metal3-io/baremetal-operator.yaml
Due: check-prow-config

Add golangci-lint presubmit for ip-address-manager
  prow/config/jobs/metal3-io/ip-address-manager.yaml
Due: check-prow-config

Add golangci-lint presubmit for ironic-standalone-operator release branches
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.10.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.9.yaml
Due: check-prow-config

Add golangci-lint presubmit for baremetal-operator release branches
  prow/config/jobs/metal3-io/baremetal-operator-release-0.12.yaml
  prow/config/jobs/metal3-io/baremetal-operator-release-0.13.yaml
Due: check-prow-config

Add golangci-lint presubmit for ip-address-manager release branches
  prow/config/jobs/metal3-io/ip-address-manager-release-1.12.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.13.yaml
Due: check-prow-config

Add release-1.14 tests and update triggers
  jenkins/README.md
  prow/config/jobs/metal3-io/baremetal-operator-release-0.14.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.14.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.14.yaml
  prow/config/jobs/metal3-io/ironic-image-release-37.0.yaml
  prow/config/jobs/metal3-io/ironic-image-release-38.0.yaml
  prow/config/jobs/metal3-io/ironic-ipa-downloader.yaml
  prow/config/jobs/metal3-io/metal3-dev-env.yaml
  prow/config/plugins.yaml
Due: check-prow-config, markdownlint, spellcheck

Enforce golangci-lint presubmit for ironic-standalone-operator
  prow/config/jobs/metal3-io/ironic-standalone-operator.yaml
Due: check-prow-config

Fix broken container-image-build workflow
  .github/workflows/container-image-build.yml
Due: check-prow-config

Enforce golangci-lint presubmit for ip-address-manager
  prow/config/jobs/metal3-io/ip-address-manager-release-1.12.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.13.yaml
  prow/config/jobs/metal3-io/ip-address-manager.yaml
Due: check-prow-config

Bump checkout action to v7
  .github/workflows/container-image-build.yml
  .github/workflows/pr-link-check.yml
  .github/workflows/scheduled-fuzz.yml
  .github/workflows/scheduled-link-check.yml
  .github/workflows/validate-security-insights.yml
  .github/workflows/yamllint.yaml
  .github/workflows/zizmor.yml
Due: check-prow-config

Add unit Prow presubmit for baremetal-operator (main, release-0.12, release-0.13)
  prow/config/jobs/metal3-io/baremetal-operator-release-0.12.yaml
  prow/config/jobs/metal3-io/baremetal-operator-release-0.13.yaml
  prow/config/jobs/metal3-io/baremetal-operator.yaml
Due: check-prow-config

Add pr-verifier Prow presubmit for baremetal-operator (main, release-0.12, release-0.13)
  hack/verify-pr-title.sh
  prow/config/jobs/metal3-io/baremetal-operator-release-0.12.yaml
  prow/config/jobs/metal3-io/baremetal-operator-release-0.13.yaml
  prow/config/jobs/metal3-io/baremetal-operator.yaml
Due: check-prow-config, shellcheck

Pass kubernetes version in node image verification
  jenkins/image_building/build-image.sh
  jenkins/image_building/verify-node-image.sh
Due: check-prow-config, shellcheck

add log collector dashboard to jenkins jobs
  jenkins/jobs/bml_integration_tests.groovy
  jenkins/jobs/bmo_e2e_optional_tests.groovy
  jenkins/jobs/capm3-e2e-tests.groovy
  jenkins/jobs/clean_resources.groovy
  jenkins/jobs/dev_env_integration_tests.groovy
  jenkins/jobs/dynamic_fullstack_building.groovy
  jenkins/jobs/image_building.groovy
  jenkins/jobs/osv_scanner_metal3.groovy
  jenkins/jobs/pre_release_tests.groovy
Due: check-prow-config, groovylint

Path conditions:
  check-prow-config: unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$
  markdownlint: any of: (\.md|markdownlint\.sh)$
  shellcheck: any of: ((\.sh)|^Makefile)$
  groovylint: any of: (\.groovy)$
  spellcheck: any of: (\.md|spellcheck\.sh|.cspell-config.json)$
  renovate-config-validator: any of: (renovate\.json|renovate-validator\.sh)$
