Repository metal3-io/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: check-prow-config, markdownlint, shellcheck, groovylint, spellcheck, renovate-config-validator

Path conditions:
  check-prow-config: unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$
  markdownlint: any of: (\.md|markdownlint\.sh)$
  shellcheck: any of: ((\.sh)|^Makefile)$
  groovylint: any of: (\.groovy)$
  spellcheck: any of: (\.md|spellcheck\.sh|.cspell-config.json)$
  renovate-config-validator: any of: (renovate\.json|renovate-validator\.sh)$

Update server 4 Boot MAC adderess after blade change
  jenkins/scripts/bare_metal_lab/bml_test/manifests/v1beta1_workers_centos.yaml
  jenkins/scripts/bare_metal_lab/default_vars/vars.yaml
  jenkins/scripts/bare_metal_lab/templates/bmhosts_crs.yaml.j2
Due: check-prow-config

Add configuration for ironic-image release-37.0
  prow/config/jobs/metal3-io/ironic-image-release-37.0.yaml
  prow/config/plugins.yaml
Due: check-prow-config

Use Artifactory copy API for image backups
  jenkins/image_building/upload-node-image.sh
Due: check-prow-config, shellcheck

Add kernel parameters to print leap kernel log
  jenkins/image_building/dib_elements/leap-node/finalise.d/51-edit-grub-config
Due: check-prow-config

Disable wicked by default in leap node
  jenkins/image_building/build-image.sh
  jenkins/image_building/dib_elements/leap-node/install.d/55-install
Due: check-prow-config, shellcheck

MariaDB clean up
  jenkins/scripts/dynamic_worker_workflow/test_env.sh
  prow/config/config.yaml
  prow/config/jobs/metal3-io/mariadb-image.yaml
  prow/config/plugins.yaml
Due: check-prow-config, shellcheck

Prow: Bump CAPI/CAPO versions
  prow/capi/bootstrap.yaml
  prow/capi/control-plane.yaml
  prow/capi/core.yaml
  prow/capi/infrastructure.yaml
Due: check-prow-config

Prow: Bump clusterautoscaler and CPO to v1.35.0
  prow/cluster-resources/kustomization.yaml
Due: check-prow-config

Prow: Bump Traefik to v3.7.5
  prow/infra/traefik/kustomization.yaml
  prow/infra/traefik/resources.yaml
  prow/infra/traefik/traefik-values.yaml
Due: check-prow-config

Fix renovate use glob syntax in managerFilePatterns instead of regex
  renovate.json
Due: check-prow-config, renovate-config-validator

Removing Monday schedule
  renovate.json
Due: check-prow-config, renovate-config-validator

use proper IPA cache address
  jenkins/scripts/bare_metal_lab/bml_test/02_configure_host.sh
  jenkins/scripts/bare_metal_lab/bml_test/lib/vars.sh
  jenkins/scripts/dynamic_worker_workflow/test_env.sh
Due: check-prow-config, shellcheck

Add dockerfile-path to container-image-build.yaml
  .github/workflows/container-image-build.yml
Due: check-prow-config

introduce artifact cache preloading
  hack/clean_artifactory.sh
Due: check-prow-config, shellcheck

DNM: test leap if naming scheme
  jenkins/image_building/dib_elements/leap-node/finalise.d/51-edit-grub-config
Due: check-prow-config

fix container image builds when building from release
  .github/workflows/container-image-build.yml
Due: check-prow-config

Add CI config for IrSO release-0.10
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.10.yaml
  prow/config/plugins.yaml
Due: check-prow-config

Use v1beta2 api in bml test
  jenkins/scripts/bare_metal_lab/bml_test/manifests/cluster_centos.yaml
  jenkins/scripts/bare_metal_lab/bml_test/manifests/controlplane_centos.yaml
  jenkins/scripts/bare_metal_lab/bml_test/manifests/workers_centos.yaml
Due: check-prow-config

fix openstack resource cleanup
  jenkins/jobs/clean_resources.groovy
Due: check-prow-config, groovylint

Update k8s upgrade test versions in prow jobs
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.13.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.13.yaml
  prow/config/jobs/metal3-io/ip-address-manager.yaml
  prow/config/jobs/metal3-io/metal3-dev-env.yaml
  prow/config/jobs/metal3-io/project-infra.yaml
Due: check-prow-config

Add log collection step for bml test
  jenkins/jobs/bml_integration_tests.groovy
Due: check-prow-config, groovylint

Add bootMode for bmh and update server 4 details
  jenkins/scripts/bare_metal_lab/default_vars/vars.yaml
  jenkins/scripts/bare_metal_lab/templates/bmhosts_crs.yaml.j2
Due: check-prow-config

Bump golang to v1.26 for CAPM3 main branch tests
  prow/config/jobs/metal3-io/cluster-api-provider-metal3.yaml
Due: check-prow-config

Bump Go to 1.26 for IrSO main branch
  prow/config/jobs/metal3-io/ironic-standalone-operator.yaml
Due: check-prow-config

Replace deprecated WipeWorkspace with deleteDir() in pipelines
  jenkins/jobs/bml_integration_tests.groovy
  jenkins/jobs/bmo_e2e_optional_tests.groovy
  jenkins/jobs/capm3-e2e-tests.groovy
  jenkins/jobs/clean_resources.groovy
  jenkins/jobs/dev_env_integration_tests.groovy
  jenkins/jobs/dynamic_fullstack_building.groovy
  jenkins/jobs/image_building.groovy
  jenkins/jobs/osv_scanner_metal3.groovy
  jenkins/jobs/pre_release_tests.groovy
Due: check-prow-config, groovylint

Enforce quote and spacing style in Groovy lint config
  .groovylintrc.json
  jenkins/jobs/clean_resources.groovy
Due: check-prow-config, groovylint

Hide wget output
  jenkins/scripts/bare_metal_lab/bml_test/02_configure_host.sh
Due: check-prow-config, shellcheck

Make cri-tools explicilty be downladed from kuberentes repo
  jenkins/image_building/dib_elements/leap-node/install.d/55-install
Due: check-prow-config

Uplifted Kuberenetes to 1.36.2, crio to 1.36.1
  jenkins/image_building/build-image.sh
Due: check-prow-config, shellcheck

Bump golang to v1.26 for IPAM main branch tests
  prow/config/jobs/metal3-io/ip-address-manager.yaml
Due: check-prow-config

Change bml test to use servers 4 and 7
  jenkins/scripts/bare_metal_lab/bml_test/manifests/controlplane_centos.yaml
  jenkins/scripts/bare_metal_lab/bml_test/manifests/workers_centos.yaml
  jenkins/scripts/bare_metal_lab/default_vars/vars.yaml
Due: check-prow-config

📖 Add CI architecture overview to README
  README.md
Due: markdownlint, spellcheck

Ignore containerd CVEs in OSV scanner GO-2026-5064, GO-2026-5338, and GO-2026-5622 are containerd vulnerabilities with no fix available upstream. Signed-off-by: Saad Zia <saad.zia@est.tech>
  jenkins/jobs/osv_scanner_metal3.groovy
Due: check-prow-config, groovylint

Bumping k8s-prow images and test-infra images
  prow/Makefile
  prow/config/config.yaml
  prow/config/jobs/metal3-io/project-infra.yaml
  prow/config/jobs/periodics.yaml
  prow/manifests/base/crier.yaml
  prow/manifests/base/deck.yaml
  prow/manifests/base/ghproxy.yaml
  prow/manifests/base/hook.yaml
  prow/manifests/base/horologium.yaml
  prow/manifests/base/prow-controller-manager.yaml
  prow/manifests/base/sinker.yaml
  prow/manifests/base/statusreconciler.yaml
  prow/manifests/base/tide.yaml
  prow/manifests/overlays/metal3/external-plugins/cherrypicker_deployment.yaml
  prow/manifests/overlays/metal3/external-plugins/jenkins-operator.yaml
  prow/manifests/overlays/metal3/external-plugins/needs-rebase_deployment.yaml
Due: check-prow-config

Set dhcp_ignore and dhcp_hosts variables via IRSO
  jenkins/scripts/bare_metal_lab/bml_test/03_launch_bootstrap_cluster.sh
  jenkins/scripts/bare_metal_lab/default_vars/vars.yaml
  jenkins/scripts/bare_metal_lab/deploy-lab.yaml
Due: check-prow-config, shellcheck

Keep linter images in sync between Prow jobs and hack scripts
  prow/config/jobs/metal3-io/project-infra.yaml
  renovate.json
Due: check-prow-config, renovate-config-validator

Test server 6
  jenkins/scripts/bare_metal_lab/default_vars/vars.yaml
Due: check-prow-config

Add renovate-config-validator for ipam
  prow/config/jobs/metal3-io/ip-address-manager.yaml
Due: check-prow-config
