Repository metal3-io/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: check-prow-config, markdownlint, shellcheck, groovylint, spellcheck, renovate-config-validator

Path conditions:
  check-prow-config: unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$
  markdownlint: any of: (\.md|markdownlint\.sh)$
  shellcheck: any of: ((\.sh)|^Makefile)$
  groovylint: any of: (\.groovy)$
  spellcheck: any of: (\.md|spellcheck\.sh|.cspell-config.json)$
  renovate-config-validator: any of: (renovate\.json|renovate-validator\.sh)$

Fix agent label for pre-release test
  jenkins/jobs/pre_release_tests.groovy
Due: check-prow-config, groovylint

add docker server vulns into osv-scanner's ignore
  jenkins/jobs/osv_scanner_metal3.groovy
Due: check-prow-config, groovylint

Set default api version for CAPI and CAPM3 to v1beta2
  jenkins/scripts/dynamic_worker_workflow/e2e_tests.sh
Due: check-prow-config, shellcheck

Add cleanup step in fullstack pipeline
  jenkins/jobs/dynamic_fullstack_building.groovy
Due: check-prow-config, groovylint

Add jobs for IrSO release-0.9
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.9.yaml
Due: check-prow-config

Bumping k8s-prow images and test-infra images
  prow/Makefile
  prow/config/config.yaml
  prow/config/jobs/metal3-io/project-infra.yaml
  prow/config/jobs/periodics.yaml
  prow/manifests/base/crier.yaml
  prow/manifests/base/deck.yaml
  prow/manifests/base/ghproxy.yaml
  prow/manifests/base/hook.yaml
  prow/manifests/base/horologium.yaml
  prow/manifests/base/prow-controller-manager.yaml
  prow/manifests/base/sinker.yaml
  prow/manifests/base/statusreconciler.yaml
  prow/manifests/base/tide.yaml
  prow/manifests/overlays/metal3/external-plugins/cherrypicker_deployment.yaml
  prow/manifests/overlays/metal3/external-plugins/jenkins-operator.yaml
  prow/manifests/overlays/metal3/external-plugins/needs-rebase_deployment.yaml
Due: check-prow-config

Add prow config for release-1.13
  prow/config/jobs/metal3-io/baremetal-operator-release-0.13.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.13.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.13.yaml
Due: check-prow-config

Add release 1.13 tests and update triggers
  jenkins/README.md
  prow/config/jobs/metal3-io/ironic-image-release-35.0.yaml
  prow/config/jobs/metal3-io/ironic-ipa-downloader.yaml
  prow/config/jobs/metal3-io/mariadb-image.yaml
  prow/config/jobs/metal3-io/metal3-dev-env.yaml
  prow/config/plugins.yaml
Due: check-prow-config, markdownlint, spellcheck

fix the slack-notify-action/upload-artifact versions
  .github/workflows/container-image-build.yml
  .github/workflows/scheduled-fuzz.yml
Due: check-prow-config

Add in-place upgrade test for release-1.13
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.13.yaml
Due: check-prow-config

Bump k8s version to v1.36.0
  jenkins/image_building/build-image.sh
Due: check-prow-config, shellcheck

Remove EOL release jobs for v1.10/v0.10 series
  prow/config/jobs/metal3-io/baremetal-operator-release-0.10.yaml
  prow/config/jobs/metal3-io/cluster-api-provider-metal3-release-1.10.yaml
  prow/config/jobs/metal3-io/ip-address-manager-release-1.10.yaml
Due: check-prow-config

Prow: Fix CPO node selector
  prow/cluster-resources/kustomization.yaml
Due: check-prow-config

fix credential usage for ci OCI uploading
  jenkins/jobs/image_building.groovy
Due: check-prow-config, groovylint

Fix agent label for bmo optional tests
  jenkins/jobs/bmo_e2e_optional_tests.groovy
Due: check-prow-config, groovylint

cleanup: remove bmo upgrade tests from Prow
  prow/config/jobs/metal3-io/baremetal-operator-release-0.12.yaml
  prow/config/jobs/metal3-io/baremetal-operator-release-0.13.yaml
  prow/config/jobs/metal3-io/baremetal-operator.yaml
Due: check-prow-config

cleanup: remove bmo upgrade tests from Prow(part2)
  prow/config/jobs/metal3-io/baremetal-operator-release-0.11.yaml
Due: check-prow-config

add periodic artifactory cache cleanup
  hack/clean_artifactory.sh
  prow/README.md
  prow/config/jobs/periodics.yaml
  prow/manifests/overlays/metal3/test-pods-externalsecrets.yaml
Due: check-prow-config, markdownlint, shellcheck, spellcheck

Fix cleaning for fullstack build
  jenkins/jobs/dynamic_fullstack_building.groovy
  jenkins/scripts/dynamic_worker_workflow/build_ipa.sh
  jenkins/scripts/dynamic_worker_workflow/run_clean.sh
Due: check-prow-config, shellcheck, groovylint

Add copilot-review Prow plugin config
  prow/config/plugins.yaml
Due: check-prow-config

Prow: Upgrade traefik to v3.6.17
  prow/infra/traefik/kustomization.yaml
  prow/infra/traefik/resources.yaml
  prow/infra/traefik/traefik-values.yaml
Due: check-prow-config

Add copilot-review plugin and related resources
  prow/manifests/overlays/metal3/external-plugins/copilot-review-deployment.yaml
  prow/manifests/overlays/metal3/external-plugins/copilot-review-service.yaml
  prow/manifests/overlays/metal3/kustomization.yaml
  prow/manifests/overlays/metal3/patches/copilot-review.yaml
  prow/manifests/overlays/metal3/prow-externalsecrets.yaml
Due: check-prow-config

Ignore GO-2026-4918 and GO-2026-5026
  jenkins/jobs/osv_scanner_metal3.groovy
Due: check-prow-config, groovylint

Prow: Bump CAPI operator to v0.23.1
  prow/capi/kustomization.yaml
Due: check-prow-config

Prow: Bump CAPI operator to v0.24.1
  prow/capi/kustomization.yaml
Due: check-prow-config

Prow: Bump CAPI operator to v0.25.0
  prow/capi/kustomization.yaml
Due: check-prow-config

Add curl retry and timeout opts
  jenkins/image_building/upload-node-image.sh
Due: check-prow-config, shellcheck

Bumping k8s-prow images and test-infra images
  prow/Makefile
  prow/config/config.yaml
  prow/config/jobs/metal3-io/project-infra.yaml
  prow/config/jobs/periodics.yaml
  prow/manifests/base/crier.yaml
  prow/manifests/base/deck.yaml
  prow/manifests/base/ghproxy.yaml
  prow/manifests/base/hook.yaml
  prow/manifests/base/horologium.yaml
  prow/manifests/base/prow-controller-manager.yaml
  prow/manifests/base/sinker.yaml
  prow/manifests/base/statusreconciler.yaml
  prow/manifests/base/tide.yaml
  prow/manifests/overlays/metal3/external-plugins/cherrypicker_deployment.yaml
  prow/manifests/overlays/metal3/external-plugins/jenkins-operator.yaml
  prow/manifests/overlays/metal3/external-plugins/labels_cronjob.yaml
  prow/manifests/overlays/metal3/external-plugins/needs-rebase_deployment.yaml
Due: check-prow-config

Prow: Upgrade CAPI to v1.11.11
  prow/capi/bootstrap.yaml
  prow/capi/control-plane.yaml
  prow/capi/core.yaml
  prow/capi/infrastructure.yaml
Due: check-prow-config

Pin Java 21 packages in CI images
  jenkins/image_building/dib_elements/centos-ci/post-install.d/55-configure
  jenkins/image_building/dib_elements/leap-ci/post-install.d/55-configure
  jenkins/image_building/dib_elements/ubuntu-ci/post-install.d/configure
Due: check-prow-config

Add human-readable CURL_SPEED_LIMIT parsing
  jenkins/image_building/upload-node-image.sh
Due: check-prow-config, shellcheck

Change scalability timeout to 5h
  jenkins/jobs/capm3-e2e-tests.groovy
Due: check-prow-config, groovylint

Fix upload-node-image.sh
  jenkins/image_building/upload-node-image.sh
Due: check-prow-config, shellcheck

Prow: Upgrade Kubernetes to v1.35.4
  prow/README.md
  prow/capo-cluster/infra-md.yaml
  prow/capo-cluster/kubeadmcontrolplane.yaml
  prow/capo-cluster/machinedeployment.yaml
  prow/capo-cluster/openstackmachinetemplates.yaml
Due: check-prow-config, markdownlint, spellcheck

sync prow configs to branch statuses
  prow/config/jobs/metal3-io/ironic-image-release-31.0.yaml
  prow/config/jobs/metal3-io/ironic-standalone-operator-release-0.6.yaml
  prow/config/jobs/metal3-io/metal3-dev-env.yaml
  prow/config/plugins.yaml
Due: check-prow-config

add bot config checks to prow-test-dumper.py
  hack/prow_test_dumper.py
Due: check-prow-config

Continue only downloads
  jenkins/image_building/upload-node-image.sh
Due: check-prow-config, shellcheck

Set cooldown days to 3 for dependabot
  .github/dependabot.yml
  .github/workflows/zizmor.yml
  .zizmor.yml
Due: check-prow-config

Add ignore rules for CAPM3 release 1.12
  jenkins/jobs/osv_scanner_metal3.groovy
Due: check-prow-config, groovylint

Add 1.1.1.1 nameserver as fallback
  prow/capo-cluster/openstackcluster.yaml
Due: check-prow-config
